Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

replace ability steadfeast by resistance ability for Garak in Utbs(1.16)
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
Labels: Campaign

various small image fixes
  data/core/images/attacks/blade-curved.png
  data/core/images/units/nagas/sicarius-attack8.png
  data/core/images/units/nagas/warden-attack-1.png
  data/core/images/units/nagas/warden-attack-2.png
Labels: Graphics, Units

Rename kick attack for horses and wyverns.
  data/core/units/monsters/Horse.cfg
  data/core/units/monsters/Horse_Black.cfg
  data/core/units/monsters/Horse_Great.cfg
  data/core/units/monsters/Wild_Wyvern.cfg
Labels: Units

naga zephyr defense anim
  data/core/images/units/nagas/zephyr-defend1.png
  data/core/images/units/nagas/zephyr-defend2.png
  data/core/images/units/nagas/zephyr.png
  data/core/units/nagas/Zephyr.cfg
Labels: Graphics, Units

woptipng
  data/core/images/attacks/blade-curved.png
  data/core/images/units/nagas/sicarius-attack8.png
  data/core/images/units/nagas/warden-attack-1.png
  data/core/images/units/nagas/warden-attack-2.png
  data/core/images/units/nagas/zephyr-defend1.png
  data/core/images/units/nagas/zephyr-defend2.png
  data/core/images/units/nagas/zephyr.png
Labels: Graphics, Units

updated Czech translation
  po/wesnoth-anl/cs.po
Labels: Translations

updated Czech translation
  po/wesnoth-anl/cs.po
Labels: Translations

attempt to fix grammatical issue
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
Labels: Campaign

naga high guard defense animation adjustment
  data/core/images/units/nagas/sentinel-defend-1abs.png
  data/core/images/units/nagas/sentinel-defend-2.png
  data/core/images/units/nagas/sentinel-defend-2abs.png
  data/core/units/nagas/Guard_High.cfg
Labels: Graphics, Units

1.16 sprint - naga stuff (#6076)
  data/core/images/attacks/blade-curved.png
  data/core/images/units/nagas/sentinel-defend-1abs.png
  data/core/images/units/nagas/sentinel-defend-2.png
  data/core/images/units/nagas/sentinel-defend-2abs.png
  data/core/images/units/nagas/sicarius-attack8.png
  data/core/images/units/nagas/warden-attack-1.png
  data/core/images/units/nagas/warden-attack-2.png
  data/core/images/units/nagas/zephyr-defend1.png
  data/core/images/units/nagas/zephyr-defend2.png
  data/core/images/units/nagas/zephyr.png
  data/core/units/nagas/Guard_High.cfg
  data/core/units/nagas/Zephyr.cfg
Labels: Graphics, Units

some tent variations
  data/core/images/terrain/village/camp2.png
  data/core/images/terrain/village/camp3.png
  data/core/images/terrain/village/desert-camp2.png
  data/core/images/terrain/village/desert-camp3.png
Labels: Graphics, Terrain

dead great tree variations
  data/core/images/terrain/forest/great-tree-dead2.png
  data/core/images/terrain/forest/great-tree-dead3.png
  data/core/images/terrain/forest/great-tree-dead4.png
Labels: Graphics, Terrain

Ignore auto-generated Steam file in save directory
  src/save_index.cpp
Labels: none

Link side-bar unit defence rating to unit's Help page (resolves #1297).
  src/reports.cpp
Labels: none

Rephrase commentary to avoid any allegation of copyright infringement.
  src/save_index.cpp
Labels: none

Remove scaling by zoom_factor in unit height adjustment calculation (resolves #5974).
  src/units/drawer.cpp
Labels: Units

Add leader label to MP Staging/Join screens (closes #2405)
  data/gui/window/mp_join_game.cfg
  data/gui/window/mp_staging.cfg
Labels: UI

Specify a non-zero value for nplayers.
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

UtBS: Remove leading whitespace from Ethereal Shadow's special note
  data/campaigns/Under_the_Burning_Suns/units/undead/Ethereal_Shadow.cfg
Labels: Campaign, Units

fix possible bug in attack prediction windows
  src/units/abilities.cpp
Labels: Units

fix possible bug in attack prediction windows
  src/units/abilities.cpp
Labels: Units

Ignore auto-generated Steam file in save directory (#6069)
  src/save_index.cpp
Labels: none

Ignore auto-generated Steam file in save directory (#6069)
  src/save_index.cpp
Labels: none

UtBS: Remove leading whitespace from Ethereal Shadow's special note
  data/campaigns/Under_the_Burning_Suns/units/undead/Ethereal_Shadow.cfg
Labels: Campaign, Units

Switch to hard-coded colours instead of relying on pango names (resolves #4348).
  src/help/help_impl.cpp
  src/reports.cpp
  src/units/attack_type.cpp
  src/units/unit.cpp
Labels: Help, Units

Use existing macro to avoid situations where Nym's otherwise-mute Dust Devil pet might speak.
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
Labels: Campaign

Clarify objectives (resolves #5608)
  data/campaigns/Delfadors_Memoirs/scenarios/07_Night_in_the_Swamp.cfg
Labels: Campaign

Switch to hard-coded colours for formula debugger as well.
  src/gui/dialogs/formula_debugger.cpp
Labels: UI

Only display difficulty for SP campaigns (resolves #5321)
  src/gui/dialogs/game_load.cpp
Labels: UI

Remove leftover file from 4a65d016073
  po/pot-update.sh.in
Labels: Translations

i18n: Make dsngettext() strip caret annotations from plural forms too
  src/gettext.cpp
Labels: none

Clarify objectives (resolves #5608)
  data/campaigns/Delfadors_Memoirs/scenarios/07_Night_in_the_Swamp.cfg
Labels: Campaign

Use existing macro to avoid situations where Nym's otherwise-mute Dust Devil pet might speak.
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
Labels: Campaign

Use existing macro to avoid situations where Nym's otherwise-mute Dust Devil pet might speak.
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
Labels: Campaign

Specify a non-zero value for nplayers.
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

Specify a non-zero value for nplayers.
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

LoW S4: Avoid use of 'men' with respect to female elves (resolves #4880)
  data/campaigns/Legend_of_Wesmere/scenarios/chapter2/04_The_Elvish_Treasury.cfg
Labels: Campaign

i18n: Add N_n() no-op macro to allow xgettext to extract plural forms
  cmake/FindTranslationTools.cmake
  po/SConscript
  src/gettext.hpp
Labels: Building, CMake, Translations

Make utils::format_timespan() use gettext plurals
  src/formula/string_utils.cpp
Labels: WFL

Add a `detailed` parameter to utils::format_timespan()
  src/formula/string_utils.cpp
  src/formula/string_utils.hpp
Labels: WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
