Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

Set distribution channel for flatpak
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

Set distribution channel for flatpak
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

Fix indentation
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

Fix indentation
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

Use --jobs instead of adjusting the manifest
  .github/workflows/ci-main.yml
Labels: none

addon: Add getters for the server identification
  src/addon/client.hpp
Labels: Add-ons

gui/addon_manager: Show server identification after the address
  changelog_entries/addon_server_id_ui.md
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

WoF S9: move crannog village in from map edge
  data/campaigns/Winds_of_Fate/maps/09_Ancestor.map
  data/campaigns/Winds_of_Fate/maps/11_Crosswind.map
  data/campaigns/Winds_of_Fate/maps/HM_Master.map
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF: adjust music
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/campaigns/Winds_of_Fate/scenarios/04_Journey.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
  data/campaigns/Winds_of_Fate/scenarios/12_Epilogue.cfg
Labels: Campaign WoF

validate addon name when first entered as well
  src/editor/editor_main.cpp
Labels: Editor

fix tags and secondary_author for pbl editor
  src/gui/dialogs/editor/edit_pbl.cpp
Labels: UI

validate addon name when first entered as well
  src/editor/editor_main.cpp
Labels: Editor

fix tags and secondary_author for pbl editor
  src/gui/dialogs/editor/edit_pbl.cpp
Labels: UI

addon: Add getters for the server identification
  src/addon/client.hpp
Labels: Add-ons

gui/addon_manager: Show server identification after the address
  changelog_entries/addon_server_id_ui.md
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

gui/unit_recall: Add alignment and race hints for filtering
  src/gui/dialogs/unit_recall.cpp
Labels: UI

gui/unit_recruit: Restructure filter criteria checks
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

gui/unit_recruit: Add alignment and race hints for filtering
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

gui/unit_recruit: Add unit type level number as a filtering criterion
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

Update changelog
  changelog_entries/recruit_recall_filtering.md
Labels: none

WoF S10: smaller enemy waves
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
Labels: Campaign WoF

WoF S7: slightly weaken guards
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
Labels: Campaign WoF

WoF S6: minor income consistency
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
Labels: Campaign WoF

WoF S9: yet more yetis
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign WoF

WoF S11: more enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF S9: yet more yetis
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign WoF

WoF S6: minor income consistency
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
Labels: Campaign WoF

WoF S7: slightly weaken guards
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
Labels: Campaign WoF

WoF S10: smaller enemy waves
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
Labels: Campaign WoF

WoF S11: more enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF S10: smaller enemy waves
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
Labels: Campaign WoF

WoF S6: minor income consistency
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
Labels: Campaign WoF

WoF S11: more enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF S9: yet more yetis
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign WoF

WoF S7: slightly weaken guards
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
Labels: Campaign WoF

WoF S10: smaller enemy waves
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
Labels: Campaign WoF

WoF S9: yet more yetis
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign WoF

WoF S11: more enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF S6: minor income consistency
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
Labels: Campaign WoF

WoF S7: slightly weaken guards
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
Labels: Campaign WoF
