Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Tips: remove hints about tooltips and the hotkey preferences
  data/tips.cfg
Labels: Help

WML Schema: Ellipsize very long values in error messages
  src/serialization/schema_validator.cpp
Labels: none

Update schema to support the new t_string
  data/schema/ai/_main.cfg
  data/schema/core/actionwml.cfg
  data/schema/core/addons.cfg
  data/schema/core/conditionalwml.cfg
  data/schema/core/config.cfg
  data/schema/core/mapgen/lua.cfg
  data/schema/core/themes.cfg
  data/schema/editor/groups.cfg
  data/schema/game_config.cfg
  data/schema/gui.cfg
  data/schema/macros.cfg
  data/schema/schema.cfg
  data/schema/types/basic.cfg
  data/schema/types/subst.cfg
  data/schema/units/modifications.cfg
  data/schema/units/single.cfg
  data/schema/units/types.cfg
Labels: Schema, UI

WML Schema: t_string is now a built-in type and no longer attempts a regex match
  src/serialization/parser.cpp
  src/serialization/schema/type.cpp
  src/serialization/schema/type.hpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
  src/serialization/validator.hpp
  src/theme.cpp
Labels: Schema

Schema: Define SCHEMA_VALIDATION on all schema validation runs
  data/test/scenarios/test_move.cfg
  data/test/scenarios/test_terrain_mask.cfg
  src/wesnoth.cpp
  utils/CI/schema_validation.sh
Labels: Unit Tests

Set the network transmission label in C++ instead so it can pass schema validation
  data/gui/window/network_transmission.cfg
  src/gui/dialogs/network_transmission.cpp
Labels: UI

CI: The tutorial doesn't have difficulties
  utils/CI/schema_validation.sh
Labels: none

Update core WML to pass schema validation with the new t_string
  data/core/help.cfg
  data/core/terrain.cfg
  data/themes/default.cfg
  data/themes/editor.cfg
Labels: Help, Terrain, UI

Update the GUI WML to pass schema validation with the new t_string
  data/gui/widget/window_borderless.cfg
  data/gui/window/addon_auth.cfg
  data/gui/window/addon_license_prompt.cfg
  data/gui/window/addon_manager.cfg
  data/gui/window/debug_clock.cfg
  data/gui/window/depcheck_confirm_change.cfg
  data/gui/window/editor_edit_side.cfg
  data/gui/window/editor_resize_map.cfg
  data/gui/window/game_version.cfg
  data/gui/window/gamestate_inspector.cfg
  data/gui/window/install_dependencies.cfg
  data/gui/window/loadscreen.cfg
  data/gui/window/lobby_main.cfg
  data/gui/window/mp_login.cfg
  data/gui/window/story_viewer.cfg
  data/gui/window/title_screen.cfg
Labels: UI

Update the campaigns to pass schema validation with the new t_string
  data/campaigns/Dead_Water/scenarios/04_Slavers.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07a_A_Small_Favor.cfg
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/17_Scepter_of_Fire.cfg
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/14_Back_Home.cfg
Labels: Campaign

Update the WML unit tests to pass schema validation with the new t_string
  data/test/macros/wml_unit_test_macros.cfg
  data/test/maps/pathfind_1.cfg
  data/test/scenarios/ai/_main.cfg
  data/test/scenarios/characterize_pathfinding.cfg
  data/test/scenarios/events-test_filterable1.cfg
  data/test/scenarios/events-test_filterable2.cfg
  data/test/scenarios/feeding.cfg
  data/test/scenarios/filter_vision.cfg
  data/test/scenarios/has_ally.cfg
  data/test/scenarios/move_skip_sighted.cfg
  data/test/scenarios/sighted_events.cfg
  data/test/scenarios/simple_find_path.cfg
  data/test/scenarios/store_reachable_locations_vision.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership_fail.cfg
  data/test/scenarios/test_check_victory.cfg
  data/test/scenarios/test_create_side.cfg
  data/test/scenarios/test_grunt_tod_damage.cfg
  data/test/scenarios/test_max_menu_items.cfg
  data/test/scenarios/test_menu_items.cfg
  data/test/scenarios/test_move.cfg
  data/test/scenarios/test_movetype.cfg
Labels: Unit Tests

Update the AI test scenarios to pass schema validation with the new t_string
  data/ai/micro_ais/scenarios/animals.cfg
  data/ai/micro_ais/scenarios/goto.cfg
  data/ai/micro_ais/scenarios/protect_unit.cfg
  data/ai/micro_ais/scenarios/wolves.cfg
  data/ai/scenarios/scenario-formula-recruitment.cfg
  data/ai/scenarios/scenario-formula.cfg
  data/ai/scenarios/scenario-high_xp_attack.cfg
  data/ai/scenarios/scenario-lua_ai.cfg
  data/ai/scenarios/scenario-lua_ai_old_syntax.cfg
  data/ai/scenarios/scenario-poisoning.cfg
Labels: AI

Update the interactive test scenarios to pass schema validation with the new t_string
  data/scenario-leaders.cfg
  data/scenario-movethrough.cfg
  data/scenario-story.cfg
  data/scenario-test.cfg
Labels: none

revisions to mace nagas base sprites
  data/core/images/units/nagas/guardian.png
  data/core/images/units/nagas/sentinel.png
  data/core/images/units/nagas/warden.png
Labels: Graphics, Units

remove parry and use chance_to_hit special instead, only the level 3 for now
  data/core/macros/abilities.cfg
  data/core/macros/special-notes.cfg
  data/core/units/nagas/Ophidian.cfg
  data/core/units/nagas/Sicarius.cfg
Labels: Units

Tips: remove hints about tooltips and the hotkey preferences
  data/tips.cfg
Labels: Help

remove special notes macro for Deflect
  data/core/macros/special-notes.cfg
Labels: none

revisions to naga guards, including new weapon special Absorb
  data/core/macros/abilities.cfg
  data/core/units/nagas/Guard.cfg
  data/core/units/nagas/Guard_High.cfg
  data/core/units/nagas/Guard_Shield.cfg
  data/core/units/nagas/Guardian_Sentinel.cfg
  data/core/units/nagas/Guardian_Warden.cfg
Labels: Units

fix a typo
  data/core/units/nagas/Ophidian.cfg
Labels: Units

compatibility Nagas for UtBS
  data/campaigns/Under_the_Burning_Suns/units/nagas/Naga_Guardians.cfg
Labels: Campaign, Units

small text change
  data/core/units/nagas/Sicarius.cfg
Labels: Units

Make repeats argument optional in wesnoth.audio.play
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Remove undocumented wesnoth.game_config.eras
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

absorb weapon special text revision
  data/core/macros/abilities.cfg
Labels: none

Update changelog.md
  changelog.md
Labels: none

Remove remnants of rooms.
  src/game_initialization/lobby_data.cpp
  src/game_initialization/lobby_data.hpp
  src/game_initialization/lobby_info.cpp
  src/game_initialization/lobby_info.hpp
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/multiplayer/lobby.hpp
Labels: UI

Remove unused code.
  src/gui/dialogs/multiplayer/lobby.cpp
Labels: UI

Tutorial S02 and tips: Mention holding shift for accelerated speed
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
  data/tips.cfg
Labels: Campaign, Help

Balance changes for 1.15.14 part 2
  data/core/units/dunefolk/Apothecary.cfg
  data/core/units/dunefolk/Captain.cfg
  data/core/units/dunefolk/Horse_Archer.cfg
  data/core/units/monsters/Jinn.cfg
  data/core/units/nagas/Sicarius.cfg
Labels: Units

Hopefully resolve merge conflict
  data/core/units/nagas/Sicarius.cfg
Labels: Units

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Updating scenario dialogue
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP
