Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Add new AI aspect allow_ally_villages
  data/ai/utils/default_config.cfg
  data/schema/ai/aspect_complex.cfg
  data/schema/ai/aspect_simple.cfg
  data/schema/ai/modify.cfg
  data/tools/emacs_mode/wesnoth-wml-data.el
  src/ai/contexts.cpp
  src/ai/contexts.hpp
  src/ai/formula/ai.cpp
  src/ai/manager.cpp
  src/ai/registry.cpp
Labels: AI, Schema, WML Tools, WFL

Retreat injured CA: allow taking ally villages when aspect is set
  data/ai/lua/retreat.lua
Labels: AI

Belated change log entry for resolution to #5620 and #6544.
  changelog.md
Labels: none

Belated change log entry for resolution to #5620 and #6544.
  changelog.md
Labels: none

Fix "End Turn" button placement on low-res themes.
  data/themes/default.cfg
Labels: UI

Fix low-res editor themes.
  data/themes/editor.cfg
Labels: UI

Belated change log entry for resolution to #5620 and #6544.
  changelog.md
Labels: none

Fix low-res themes during replay.
  data/themes/_initial.cfg
  data/themes/default.cfg
Labels: UI

Fix wmlindent complaint.
  data/themes/editor.cfg
Labels: UI

ExpAI: do not use generic_recruit_engine
  data/ai/lua/ca_castle_switch.lua
  data/ai/lua/ca_recruit_rushers.lua
  data/ai/micro_ais/cas/ca_recruit_rushers.lua
  data/ai/micro_ais/mai-defs/recruiting.lua
Labels: AI

ExpAI recruit rushers: do not parse side __cfg each eval
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

ExpAI recruit rushers: reset recruit_data.recruit each turn
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

ExpAI recruit rushers: new parameter reset_cache_each_turn
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

Deprecate generic_recruit_engine.lua
  data/ai/lua/generic_recruit_engine.lua
Labels: AI

ExpAI recruit rushers: include unit types from extra_recruit
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

Fix Xcode warnings
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/actions/move.cpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/statistics_dialog.cpp
  src/scripting/lua_kernel_base.cpp
  src/server/common/server_base.cpp
Labels: Add-ons, Building, Lua API, macOS, MP, UI

Xcode: enable strict builds
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Xcode project: use same warning flags for debug and release builds
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Fix load_string() ignoring the passed chunk name
  data/test/scenarios/test_lua_name.cfg
  src/scripting/lua_kernel_base.cpp
  wml_test_schedule
Labels: Lua API, Unit Tests

image: Tidy up debugging code
  src/picture.cpp
  src/picture.hpp
Labels: none

image: Add option to skip caching when loading surfaces and textures.
  src/picture.cpp
  src/picture.hpp
Labels: none

image: Simplify surface cache organization.
  src/picture.cpp
  src/picture.hpp
Labels: none

image: Clarify lit image cache names
  src/picture.cpp
  src/picture.hpp
Labels: none

image: There's no need to exit image namespace for anon namespace
  src/picture.cpp
Labels: none

No point in having two identical tests, right?
  data/test/scenarios/test_lua_name.cfg
  wml_test_schedule
Labels: Unit Tests

Update test_lua_name.cfg
  data/test/scenarios/test_lua_name.cfg
Labels: Unit Tests

Fix load_string() ignoring the passed chunk name (#6794)
  data/test/scenarios/test_lua_name.cfg
  src/scripting/lua_kernel_base.cpp
  wml_test_schedule
Labels: Lua API, Unit Tests

Make predicate optional in config::remove_children
  src/config.hpp
Labels: none

editor: Use texture for mouseover hex overlay, not surface
  src/display.cpp
  src/display.hpp
  src/editor/action/mouse/mouse_action.cpp
  src/editor/action/mouse/mouse_action.hpp
  src/editor/action/mouse/mouse_action_item.cpp
  src/editor/action/mouse/mouse_action_map_label.cpp
  src/editor/action/mouse/mouse_action_select.cpp
  src/editor/action/mouse/mouse_action_unit.cpp
  src/editor/action/mouse/mouse_action_village.cpp
  src/picture.cpp
  src/picture.hpp
Labels: Editor

editor/palette: Use textures, not surfaces
  src/editor/palette/editor_palettes.cpp
  src/editor/palette/editor_palettes.hpp
  src/editor/palette/item_palette.cpp
  src/editor/palette/item_palette.hpp
  src/editor/palette/terrain_palettes.cpp
  src/editor/palette/terrain_palettes.hpp
  src/editor/palette/tristate_button.cpp
  src/editor/palette/tristate_button.hpp
  src/editor/palette/unit_palette.cpp
  src/editor/palette/unit_palette.hpp
Labels: Editor

Make predicate optional in config::remove_children (#6796)
  src/config.hpp
Labels: none

Clarify test scenario hotkey description
  src/gui/dialogs/title_screen.cpp
  src/hotkey/hotkey_command.cpp
Labels: UI

Retreat injured CA: fix for regenerate ability without value key
  data/ai/lua/retreat.lua
Labels: AI

Retreat injured CA: fix for regenerate ability without value key
  data/ai/lua/retreat.lua
Labels: AI

Retreat injured CA: do not take villages from ally
  data/ai/lua/retreat.lua
Labels: AI

ExpAI: do not use generic_recruit_engine
  data/ai/lua/ca_castle_switch.lua
  data/ai/lua/ca_recruit_rushers.lua
  data/ai/micro_ais/cas/ca_recruit_rushers.lua
  data/ai/micro_ais/mai-defs/recruiting.lua
Labels: AI

ExpAI recruit rushers: reset recruit_data.recruit each turn
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

ExpAI recruit rushers: do not parse side __cfg each eval
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

ExpAI recruit rushers: include unit types from extra_recruit
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

Remove old code to hide VSync in prefs for old SDL versions.
  src/gui/dialogs/preferences_dialog.cpp
  src/video.cpp
  src/video.hpp
Labels: UI

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
