Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

Nagas: rename slasher advancement line
  data/core/images/units/nagas/dirkfang.png
  data/core/images/units/nagas/ophidian.png
  data/core/units/nagas/Dirkfang.cfg
  data/core/units/nagas/Ophidian.cfg
Labels: Graphics, Units

Update dunefolk in wmllint
  data/tools/wmllint
Labels: WML Tools

gui2/game_load: Don't display paths in the version selector
  src/gui/dialogs/game_load.cpp
Labels: UI

Change dunefolk units in faction definitions and pathfinding tests
  data/multiplayer/factions/dunefolk-aoh.cfg
  data/multiplayer/factions/dunefolk-default.cfg
  data/test/maps/pathfind_1.cfg
Labels: MP, Unit Tests

Add dunefolk update to changelog
  changelog.md
Labels: none

updated Russian translation
  changelog.md
  doc/manual/images/ru/game-screen-1.14.7.jpg
  doc/manual/images/ru/main-menu-1.14.7.jpg
  doc/manual/images/ru/multiplayer-1.14.7.jpg
  doc/manual/images/ru/recruit-1.14.7.jpg
  doc/manual/images/ru/right_pane-1.14.7.jpg
  doc/manual/images/ru/top_pane-1.14.7.jpg
  po/wesnoth-httt/ru.po
  po/wesnoth-tsg/ru.po
  po/wesnoth-tutorial/ru.po
  po/wesnoth-units/ru.po
Labels: Docs, Translations

updated Russian translation
  changelog.md
  doc/manual/images/ru/game-screen-1.14.7.jpg
  doc/manual/images/ru/main-menu-1.14.7.jpg
  doc/manual/images/ru/multiplayer-1.14.7.jpg
  doc/manual/images/ru/recruit-1.14.7.jpg
  doc/manual/images/ru/right_pane-1.14.7.jpg
  doc/manual/images/ru/top_pane-1.14.7.jpg
  po/wesnoth-httt/ru.po
  po/wesnoth-tsg/ru.po
  po/wesnoth-tutorial/ru.po
Labels: Docs, Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-aoi/pt_BR.po
  po/wesnoth-httt/pt_BR.po
  po/wesnoth-l/pt_BR.po
  po/wesnoth-lib/pt_BR.po
  po/wesnoth-tb/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-aoi/pt_BR.po
  po/wesnoth-httt/pt_BR.po
  po/wesnoth-l/pt_BR.po
  po/wesnoth-lib/pt_BR.po
  po/wesnoth-tb/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated French translation
  po/wesnoth-did/fr.po
  po/wesnoth-editor/fr.po
Labels: Translations

updated French translation
  po/wesnoth-did/fr.po
  po/wesnoth-editor/fr.po
Labels: Translations

SotA: Remove unneeded code
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
Labels: Campaign

DiD S3: make rats not spawn in the wall
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
Labels: Campaign

make ^Tf overlay better mesh with water
  data/core/images/terrain/forest/mushrooms-water-small.png
  data/core/images/terrain/forest/mushrooms-water-small2.png
  data/core/images/terrain/forest/mushrooms-water.png
  data/core/images/terrain/forest/mushrooms-water2.png
  data/core/images/terrain/forest/mushrooms-water3.png
  data/core/images/terrain/forest/mushrooms-water4.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

some touch-ups and more variety
  data/core/images/terrain/forest/mushrooms-water-small3.png
  data/core/images/terrain/forest/mushrooms-water2.png
  data/core/images/terrain/forest/mushrooms-water5.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

Enable filtering by upkeep in SUF
  src/units/filter.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Units

add some texture to base mushrooms
  data/core/images/terrain/forest/mushroom-base.png
  data/core/images/terrain/forest/mushroom-base2.png
  data/core/images/terrain/forest/mushroom-base3.png
  data/core/images/terrain/forest/mushroom-base4.png
  data/core/images/terrain/forest/mushroom-base5.png
Labels: Graphics

Add SUF upkeep to changelog
  changelog.md
Labels: none

Add a separate toggle for if a replay should be public.
  data/gui/window/mp_create_game.cfg
  data/gui/window/mp_create_game/default_resolution.cfg
  data/gui/window/mp_create_game/small_resolution.cfg
  data/gui/window/mp_create_game/tiny_resolution.cfg
  src/game_initialization/configure_engine.hpp
  src/game_initialization/lobby_data.cpp
  src/game_initialization/lobby_data.hpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/multiplayer/mp_create_game.hpp
  src/mp_game_settings.cpp
  src/mp_game_settings.hpp
  src/server/server.cpp
Labels: Services, UI

DiD S4: make spectral servant not break ice
  data/campaigns/Descent_Into_Darkness/scenarios/04_Spring_of_Reprisal.cfg
Labels: Campaign

wmllint: removed a few asserts and postponed a few unit sanity checks
  changelog.md
  data/tools/wmllint
Labels: WML Tools

updated Russian translation
  po/wesnoth-did/ru.po
  po/wesnoth-units/ru.po
Labels: Translations

updated Russian translation
  po/wesnoth-did/ru.po
Labels: Translations

make flames/torches overlay more responsive to type of wall variants if they are mixed
  data/core/terrain-graphics/new-macros.cfg
Labels: none

help.cfg: fixed wmllint warnings about translation marks
  data/core/help.cfg
Labels: Help

Don't duplicate the split function logic in [modify_unit]
  data/lua/wml/modify_unit.lua
Labels: Lua API

Xot^Edb can now put skeletons in the SE/SW catacomb holes
  data/core/images/terrain/walls/stone/catacombs/wall-bones-concave-tl.png
  data/core/images/terrain/walls/stone/catacombs/wall-bones-concave-tr.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
  data/core/terrain-graphics/trash.cfg
Labels: Graphics, Terrain

Lua: Add optional variation parameter to unit:transform()
  src/scripting/game_lua_kernel.cpp
  src/units/types.cpp
  src/units/types.hpp
  src/units/unit.cpp
Labels: Lua API, Units

[modify_unit]: support variation in the optimized path
  data/lua/wml/modify_unit.lua
Labels: Lua API

Fix bug: a modification set to change both type and variation would not work correctly
  src/units/unit.cpp
Labels: Units

Update changelog
  changelog.md
Labels: none

revisions to mushroom terrain graphics (#4525)
  data/core/images/terrain/forest/mushroom-base-nw.png
  data/core/images/terrain/forest/mushroom-base-s.png
  data/core/images/terrain/forest/mushroom-base.png
  data/core/images/terrain/forest/mushroom-base2.png
  data/core/images/terrain/forest/mushroom-base3.png
  data/core/images/terrain/forest/mushroom-base4.png
  data/core/images/terrain/forest/mushroom-base5.png
  data/core/images/terrain/forest/mushrooms-water-small.png
  data/core/images/terrain/forest/mushrooms-water-small2.png
  data/core/images/terrain/forest/mushrooms-water-small3.png
  data/core/images/terrain/forest/mushrooms-water.png
  data/core/images/terrain/forest/mushrooms-water2.png
  data/core/images/terrain/forest/mushrooms-water3.png
  data/core/images/terrain/forest/mushrooms-water4.png
  data/core/images/terrain/forest/mushrooms-water5.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

Fix [modify_unit]
  data/lua/wml/modify_unit.lua
Labels: Lua API

Update schema and changelog
  changelog.md
  data/schema/units/modifications.cfg
Labels: Schema

Update Changelog
  changelog.md
Labels: none

gui2/game_version: Increase maximum dialog height
  data/gui/window/game_version.cfg
Labels: UI

Disambiguate uses of the Play button label
  data/gui/window/campaign_dialog.cfg
  data/gui/window/campaign_difficulty.cfg
  data/themes/_initial.cfg
Labels: UI

gui2/text_box: Add hover effect
  changelog.md
  data/gui/widget/text_box_default.cfg
  data/schema/gui.cfg
  src/gui/widgets/text_box.cpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
Labels: Schema, UI

gui2/text_box: Add hover effect
  changelog.md
  data/gui/widget/text_box_default.cfg
  data/schema/gui.cfg
  src/gui/widgets/text_box.cpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
Labels: Schema, UI

Schema: attempt to fix specials used as abilities
  data/schema/units/abilities.cfg
Labels: Schema

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*
