Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Replace deprecated placement=map_overwrite.
  data/campaigns/Heir_To_The_Throne/scenarios/08_The_Princess_of_Wesnoth.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/17_Mortality.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/07_Return_to_Oldwood.cfg
Labels: Campaign

Substitute non-deprecated name
  utils/emmylua/wesnoth.lua
Labels: none

Add code comments stating what each unit test is testing.
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/ability_id_not_active_test.cfg
  data/test/scenarios/as_text.cfg
  data/test/scenarios/conditionals.cfg
  data/test/scenarios/event_handlers_in_events.cfg
Labels: Unit Tests

Lua API: Add inline documentation for pretty much everything and convert existing docs (#6483)
  data/lua/core/_initial.lua
  data/lua/core/as_text.lua
  data/lua/core/filesystem.lua
  data/lua/core/gui.lua
  data/lua/core/interface.lua
  data/lua/core/map.lua
  data/lua/core/mathx.lua
  data/lua/core/persistent_tags.lua
  data/lua/core/sides.lua
  data/lua/core/stringx.lua
  data/lua/core/unit_test.lua
  data/lua/core/units.lua
  data/lua/core/wml.lua
  data/lua/functional.lua
  data/lua/location_set.lua
  data/lua/on_event.lua
  data/lua/wml/items.lua
  data/lua/wml/micro_ai.lua
  utils/emmylua/README.md
  utils/emmylua/ai.lua
  utils/emmylua/builtin.lua
  utils/emmylua/config.lua
  utils/emmylua/filesystem.lua
  utils/emmylua/gui.lua
  utils/emmylua/mathx.lua
  utils/emmylua/stringx.lua
  utils/emmylua/wesnoth.lua
  utils/emmylua/wesnoth/audio.lua
  utils/emmylua/wesnoth/game_events.lua
  utils/emmylua/wesnoth/interface.lua
  utils/emmylua/wesnoth/map.lua
  utils/emmylua/wesnoth/paths.lua
  utils/emmylua/wesnoth/schedule.lua
  utils/emmylua/wesnoth/sides.lua
  utils/emmylua/wesnoth/sync.lua
  utils/emmylua/wesnoth/units.lua
  utils/emmylua/wml.lua
Labels: Lua API

Lua: Fix a deprecation warning in the hex reference API
  data/lua/core/map.lua
Labels: Lua API

Lua: Fix incorrect check for string type
  data/lua/core/map.lua
Labels: Lua API

Add code comments stating what each unit test is testing.
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/ability_id_not_active_test.cfg
  data/test/scenarios/as_text.cfg
  data/test/scenarios/conditionals.cfg
  data/test/scenarios/event_handlers_in_events.cfg
Labels: Unit Tests

WoF: change reference to Avalon
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
Labels: Campaign

WoF S9: revise text
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign

WoF S7: remove references to Zhangor
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
Labels: Campaign

SoF S8: make dragons rivals
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign

world conquest: convert file from .txt to .md
  data/campaigns/World_Conquest/MODDING.txt
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

[world conquest] add section on era manipulation
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

world conquest: finished section on era manipulation
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

[world conquest] finish up section on documentation
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

[world conquest] more typo updates
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

[world conquest] modding instructions update
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

update modding instructions
  data/campaigns/World_Conquest/MODDING.txt
Labels: Campaign

Update Modding.md
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

[world conquest] added a summary section with full code
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

[world conquest] Update modding instructions
  data/campaigns/World_Conquest/MODDING.txt
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

bloodlust MAI: fixed an image not showing
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

add note for indicating custom right-click menu options
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

Add the Skeleton Rider line and Death Squire to core
  changelog.md
  data/campaigns/Eastern_Invasion/units/Bone_Knight.cfg
  data/campaigns/Liberty/images/units/undead-skeletal/boneknight.png
  data/campaigns/Liberty/images/units/undead-skeletal/rider-attack.png
  data/campaigns/Liberty/images/units/undead-skeletal/rider-defend.png
  data/campaigns/Liberty/images/units/undead-skeletal/rider-moving.png
  data/campaigns/Liberty/images/units/undead-skeletal/rider.png
  data/campaigns/Liberty/units/Skeleton_Rider.cfg
  data/core/images/units/undead-skeletal/boneknight.png
  data/core/images/units/undead-skeletal/deathsquire-attack-1.png
  data/core/images/units/undead-skeletal/deathsquire-attack-2.png
  data/core/images/units/undead-skeletal/deathsquire-attack-3.png
  data/core/images/units/undead-skeletal/deathsquire-defend.png
  data/core/images/units/undead-skeletal/deathsquire-leading.png
  data/core/images/units/undead-skeletal/deathsquire.png
  data/core/images/units/undead-skeletal/rider-attack.png
  data/core/images/units/undead-skeletal/rider-defend.png
  data/core/images/units/undead-skeletal/rider-moving.png
  data/core/images/units/undead-skeletal/rider.png
  data/core/units/undead/Bone_Knight.cfg
  data/core/units/undead/Death_Squire.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Campaign, Graphics, Units

Implement feedback
  changelog.md
  data/campaigns/Under_the_Burning_Suns/images/units/undead-skeletal/rider-attack.png
  data/campaigns/Under_the_Burning_Suns/images/units/undead-skeletal/rider-defend.png
  data/campaigns/Under_the_Burning_Suns/images/units/undead-skeletal/rider-moving.png
  data/campaigns/Under_the_Burning_Suns/images/units/undead-skeletal/rider.png
  data/campaigns/Under_the_Burning_Suns/units/undead/Undead_Horseman.cfg
Labels: Campaign, Graphics, Units

fix balance
  data/core/units/undead/Bone_Knight.cfg
  data/core/units/undead/Death_Squire.cfg
Labels: Units

I totally didn't forget to edit this
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Units

Don't require keep for human players
  src/actions/create.cpp
  src/game_state.cpp
Labels: none

Add enum_base::get_enum(unsigned long) for converting to the equivalent enum.
  src/string_enums/enum_base.hpp
Labels: none

Fix existing code that was relying on implicit string conversion.
  src/playturn.cpp
  src/team.cpp
Labels: none

updated Czech translation
  data/campaigns/The_Rise_Of_Wesnoth/images/story/l10n/cs/trow-logo.png
Labels: Campaign, Graphics

updated Czech translation
  data/campaigns/The_Rise_Of_Wesnoth/images/story/l10n/cs/trow-logo.png
Labels: Campaign, Graphics

world conquest, artifacts = substitute value= with add=
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign

update changelog on banner not stacking
  changelog.md
Labels: none

[world conquest] update deprecated share_view
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
Labels: Campaign

[world conquest] update deprecated share_view (#6536)
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
Labels: Campaign

Update changelog
  changelog.md
Labels: none

world conquest: re-add removed code
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
Labels: Campaign

Revert "world conquest: fix bezoar artifact being bugged"
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign

changelog: delete whitespace
  changelog.md
Labels: none

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
