Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

Add Dockerfile update to Lua update documentation
  src/modules/lua_README.md
  src/wesnoth_lua_config.md
Labels: none

use scroll_text for pbl editor description
  data/gui/window/editor_edit_pbl.cfg
  src/gui/dialogs/editor/edit_pbl.cpp
  src/gui/dialogs/editor/edit_pbl.hpp
Labels: UI

Remove unnecessary includes (#8373)
  src/achievements.cpp
  src/achievements.hpp
  src/actions/advancement.cpp
  src/actions/advancement.hpp
  src/actions/attack.cpp
  src/actions/attack.hpp
  src/actions/create.cpp
  src/actions/move.cpp
  src/actions/move.hpp
  src/actions/shroud_clearing_action.cpp
  src/actions/undo.cpp
  src/actions/undo_action.hpp
  src/config_attribute_value.hpp
  src/filesystem_common.cpp
  src/gui/widgets/addon_list.cpp
  src/gui/widgets/addon_list.hpp
  src/gui/widgets/button.cpp
  src/gui/widgets/button.hpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
  src/gui/widgets/drawing.cpp
  src/gui/widgets/drawing.hpp
  src/gui/widgets/horizontal_scrollbar.cpp
  src/gui/widgets/horizontal_scrollbar.hpp
  src/gui/widgets/image.cpp
  src/gui/widgets/label.cpp
  src/gui/widgets/label.hpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/listbox.hpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/menu_button.hpp
  src/log.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
  src/sdl/window.cpp
  src/wesnoth.cpp
Labels: Achievements, UI

Replace Bash $UID with portable $(id -u) in Docker scripts
  utils/dockerbuilds/make_mingw_build
  utils/dockerbuilds/make_steam_build
  utils/dockerbuilds/make_steam_image
  utils/itchio_upload
Labels: none

Make TeamColorizer and update_pathfinding executable
  data/tools/TeamColorizer
  utils/update_pathfinding
Labels: WML Tools

use scroll_text for pbl editor description
  data/gui/window/editor_edit_pbl.cfg
  src/gui/dialogs/editor/edit_pbl.cpp
  src/gui/dialogs/editor/edit_pbl.hpp
Labels: UI

EI - fix S11 cell-door-open event
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Campaign EI

IPF: refactor to stop copying strings so much
  src/image_modifications.cpp
Labels: none

Added simple wrapper for std::from_chars
  src/utils/from_chars.hpp
Labels: none

Add utils::split_view
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
Labels: none

Make utils::parenthetical_split take string_views
  src/about.cpp
  src/scripting/lua_kernel_base.cpp
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
Labels: Lua API

IPF: refactor to stop copying strings so much
  src/image_modifications.cpp
Labels: none

[LuaDoc] Fix missing return type on format_*_list
  utils/emmylua/stringx.lua
Labels: none

[LuaDoc] Accept two-element lists as a location in some places, and 3-element lists as a colour
  utils/emmylua/wesnoth.lua
  utils/emmylua/wesnoth/interface.lua
  utils/emmylua/wesnoth/map.lua
  utils/emmylua/wesnoth/units.lua
Labels: none

[LuaDoc] Undo handlers do not have a return value
  utils/emmylua/wesnoth/game_events.lua
Labels: none

[LuaDoc] Fix incorrect declaration of unit.variables and side.variables - make them consistent with wml.variables
  data/lua/core/wml.lua
  utils/emmylua/wesnoth/sides.lua
  utils/emmylua/wesnoth/units.lua
  utils/emmylua/wml.lua
Labels: Lua API

[LuaDoc] Fix hits parameter in animator:add and also accept a number as the text
  utils/emmylua/wesnoth/units.lua
Labels: none

[LuaDoc] Add overload of terrain_mask taking the location as two integer arguments
  utils/emmylua/wesnoth/map.lua
Labels: none

[LuaDoc] Instead of marking unit fields optional, define to_map and to_recall as taking WML as an alternative to a unit
  utils/emmylua/wesnoth/units.lua
Labels: none

[LuaDoc] Add documentation for the map generator version of wesnoth.paths.find_path
  utils/emmylua/wesnoth/paths.lua
Labels: none

[LuaDoc] Suppress some diagnostics
  data/ai/lua/ca_recruit_rushers.lua
  data/lua/core/map.lua
  data/lua/location_set.lua
  data/lua/wml-tags.lua
  data/lua/wml/animate_unit.lua
Labels: AI, Lua API

[LuaDoc] Permit GUI widgets to have non-translatable labels, including numbers.
  utils/emmylua/gui.lua
Labels: none

[LuaDoc] Fix some non-nullable warnings by adding explicit type annotations on local variables
  data/ai/lua/ai_helper.lua
  data/ai/micro_ais/cas/ca_bottleneck_move.lua
  data/ai/micro_ais/cas/ca_forest_animals_tusker_attack.lua
Labels: AI

[LuaDoc] Correct some dumb errors
  data/ai/micro_ais/micro_ai_helper.lua
  data/lua/location_set.lua
  utils/emmylua/wesnoth/map.lua
  utils/emmylua/wesnoth/units.lua
Labels: AI, Lua API

[LuaDoc] Convert all the ai_helper documentation to LuaDoc format, and add LuaDoc for all previously-undocumented functions.
  data/ai/lua/ai_helper.lua
Labels: AI

[WC] Fix a broken map filter
  data/campaigns/World_Conquest/lua/map/postgeneration/3B_Wreck.lua
Labels: Campaign WC

[WC] I think this was a remnant of a global variable removal...?
  data/campaigns/World_Conquest/lua/map/wct_map_generator.lua
Labels: Campaign WC

IPF: convert uses of lexical_cast_default to from_chars
  src/image_modifications.cpp
Labels: none

Fix 'Skip Animation' checkmark disappearing (fixes #8399)
  src/display.cpp
Labels: none

IPF/TC: fix error message
  src/image_modifications.cpp
Labels: none

Expand utils::from_chars functionality
  src/utils/from_chars.hpp
Labels: none

Remove the translation mark from the new strings in the teleport code.
  src/pathfind/teleport.cpp
Labels: none

stop multiline_text from infinite growing and show scrollbar instead
  data/gui/widget/multiline_text_default.cfg
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/scrollbar_container.hpp
Labels: UI

whitespace fix
  data/schema/schema.cfg
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
Labels: Schema, UI

Use VALIDATE macro to validate WML in teleport.cpp (#8223)
  src/pathfind/teleport.cpp
Labels: none

[WoF] Instead of copy-pasting the multiplayer turns over advantage function, just use that function directly.
  data/campaigns/Winds_of_Fate/lua/lua.lua
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/multiplayer/eras.lua
Labels: Campaign WoF, MP

Missed a place; also, the result is ONLY used in that second place, so don't bother fiddling with it in the other place.
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
Labels: Campaign WoF

The suggested refactor
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/multiplayer/eras.lua
Labels: Campaign WoF, MP

Tutorial: Specify the side of Li'sar in the char select
  data/campaigns/tutorial/lua/character_selection.lua
Labels: Campaign Tutorial

Tutorial: Specify the side of Li'sar in the char select
  data/campaigns/tutorial/lua/character_selection.lua
Labels: Campaign Tutorial
