Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Revert "Remove duplicate of TRoW story image"
  data/campaigns/Winds_of_Fate/images/story/trow_intro_02.jpg
  data/campaigns/Winds_of_Fate/scenarios/06x_Winds_of_Fate.cfg
Labels: Campaign, Graphics

Prevents logging of duplicate deprecation messages and messages missing timestamps.
  run_wml_tests
  src/ai/configuration.cpp
  src/ai/default/recruitment.cpp
  src/config.cpp
  src/deprecation.cpp
  src/game_events/action_wml.cpp
  src/game_events/conditional_wml.cpp
  src/game_events/manager_impl.cpp
  src/game_events/pump.cpp
  src/game_events/pump.hpp
  src/game_launcher.cpp
  src/game_launcher.hpp
  src/generators/cave_map_generator.cpp
  src/gui/widgets/stacked_widget.cpp
  src/log.cpp
  src/log.hpp
  src/mouse_events.cpp
  src/pathfind/teleport.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
  src/side_filter.cpp
  src/terrain/filter.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/filter.cpp
  src/units/race.cpp
  src/utils/context_free_grammar_generator.cpp
  src/utils/name_generator_factory.cpp
  src/wml_exception.cpp
  wml_test_schedule
Labels: AI, Lua API, Terrain, UI, Units

Faction Select: refined design
  data/gui/window/mp_faction_select.cfg
Labels: UI

Faction Select: one more tiny refinement
  data/gui/window/mp_faction_select.cfg
Labels: UI

MP Staging: removed "Team: " prefix before team names
  src/gui/dialogs/multiplayer/mp_staging.cpp
Labels: UI

MP Join Game: removed "Team: " prefix before team name
  src/gui/dialogs/multiplayer/mp_join_game.cpp
Labels: UI

Find other version save dirs in descending order
  src/filesystem.cpp
Labels: none

Remove a leading space from the Silver Mage's [special_note]
  data/core/units/humans/Mage_Silver.cfg
Labels: Units

Preferences: fixed border sizing in MP section
  data/gui/window/preferences/05_multiplayer.cfg
Labels: UI

Wesnothd Connection: time out after 1 minute waiting for handshake
  src/wesnothd_connection.cpp
Labels: none

Find other version save dirs in descending order
  src/filesystem.cpp
Labels: none

MP Staging: removed "Team: " prefix before team names
  src/gui/dialogs/multiplayer/mp_staging.cpp
Labels: UI

MP Join Game: removed "Team: " prefix before team name
  src/gui/dialogs/multiplayer/mp_join_game.cpp
Labels: UI

updated Turkish translation
  po/wesnoth-l/tr.po
  po/wesnoth-manpages/tr.po
  po/wesnoth-manual/tr.po
Labels: Translations

updated Turkish translation
  changelog.md
  po/wesnoth-l/tr.po
  po/wesnoth-manpages/tr.po
  po/wesnoth-manual/tr.po
Labels: Translations

updated Russian translation
  po/wesnoth-anl/ru.po
  po/wesnoth-dm/ru.po
  po/wesnoth-dw/ru.po
  po/wesnoth-editor/ru.po
  po/wesnoth-ei/ru.po
  po/wesnoth-httt/ru.po
  po/wesnoth-low/ru.po
  po/wesnoth-manpages/ru.po
  po/wesnoth-manual/ru.po
  po/wesnoth-multiplayer/ru.po
  po/wesnoth-sota/ru.po
  po/wesnoth-sotbe/ru.po
  po/wesnoth-tb/ru.po
  po/wesnoth-thot/ru.po
  po/wesnoth-trow/ru.po
  po/wesnoth-tutorial/ru.po
  po/wesnoth-utbs/ru.po
Labels: Translations

updated Russian translation
  changelog.md
  po/wesnoth-anl/ru.po
  po/wesnoth-dm/ru.po
  po/wesnoth-dw/ru.po
  po/wesnoth-editor/ru.po
  po/wesnoth-ei/ru.po
  po/wesnoth-httt/ru.po
  po/wesnoth-low/ru.po
  po/wesnoth-manpages/ru.po
  po/wesnoth-manual/ru.po
  po/wesnoth-multiplayer/ru.po
  po/wesnoth-sota/ru.po
  po/wesnoth-sotbe/ru.po
  po/wesnoth-tb/ru.po
  po/wesnoth-thot/ru.po
  po/wesnoth-trow/ru.po
  po/wesnoth-tutorial/ru.po
  po/wesnoth-utbs/ru.po
Labels: Translations

removed "\v\v" from translated string
  po/wesnoth-units/ru.po
Labels: Translations

removed "\v\v" from translated string
  po/wesnoth-units/ru.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-utbs/pt_BR.po
  po/wesnoth-wc/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-thot/pt_BR.po
  po/wesnoth-utbs/pt_BR.po
  po/wesnoth-wc/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated British English translation
  changelog.md
  po/wesnoth-lib/en_GB.po
  po/wesnoth-wc/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

updated German translation
  po/wesnoth-help/de.po
Labels: Translations

updated German translation
  po/wesnoth-multiplayer/de.po
Labels: Translations

Prevents logging of duplicate deprecation messages and messages missing timestamps.
  run_wml_tests
  src/ai/configuration.cpp
  src/ai/default/recruitment.cpp
  src/config.cpp
  src/deprecation.cpp
  src/game_events/action_wml.cpp
  src/game_events/conditional_wml.cpp
  src/game_events/manager_impl.cpp
  src/game_events/pump.cpp
  src/game_events/pump.hpp
  src/game_launcher.cpp
  src/game_launcher.hpp
  src/generators/cave_map_generator.cpp
  src/gui/widgets/stacked_widget.cpp
  src/log.cpp
  src/log.hpp
  src/mouse_events.cpp
  src/pathfind/teleport.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
  src/side_filter.cpp
  src/terrain/filter.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/filter.cpp
  src/units/race.cpp
  src/utils/context_free_grammar_generator.cpp
  src/utils/name_generator_factory.cpp
  src/wml_exception.cpp
  wml_test_schedule
Labels: AI, Lua API, Terrain, UI, Units

Prevents logging of duplicate deprecation messages and messages missing timestamps.
  run_wml_tests
  src/ai/configuration.cpp
  src/ai/default/recruitment.cpp
  src/config.cpp
  src/deprecation.cpp
  src/game_events/action_wml.cpp
  src/game_events/conditional_wml.cpp
  src/game_events/manager_impl.cpp
  src/game_events/pump.cpp
  src/game_events/pump.hpp
  src/game_launcher.cpp
  src/game_launcher.hpp
  src/generators/cave_map_generator.cpp
  src/gui/widgets/stacked_widget.cpp
  src/log.cpp
  src/log.hpp
  src/mouse_events.cpp
  src/pathfind/teleport.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
  src/side_filter.cpp
  src/terrain/filter.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/filter.cpp
  src/units/race.cpp
  src/utils/context_free_grammar_generator.cpp
  src/utils/name_generator_factory.cpp
  src/wml_exception.cpp
  wml_test_schedule
Labels: AI, Lua API, Terrain, UI, Units

naga shield guard shield attack/defend anim, plus some minor cleanup to naga guard base
  data/core/images/units/nagas/guardian.png
  data/core/images/units/nagas/warden-defend-1.png
  data/core/images/units/nagas/warden-defend-2.png
  data/core/images/units/nagas/warden-shield-attack-1.png
  data/core/images/units/nagas/warden-shield-attack-2.png
  data/core/images/units/nagas/warden-shield-attack-3.png
  data/core/images/units/nagas/warden-shield-attack-4.png
  data/core/images/units/nagas/warden-shield-defend2.png
  data/core/images/units/nagas/warden-shield-swoosh.png
  data/core/images/units/nagas/warden.png
  data/core/units/nagas/Guard_Shield.cfg
Labels: Graphics, Units

IoM: Add translation hint about the "Healing Keep"
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Fix a typo in the template for reporting typos
  .github/ISSUE_TEMPLATE/text-typos-or-improvements.md
Labels: none

updated German translation
  po/wesnoth-multiplayer/de.po
  po/wesnoth-utbs/de.po
  po/wesnoth/de.po
Labels: Translations

naga shield guard mace attack anim
  data/core/images/units/nagas/warden-attack-1.png
  data/core/images/units/nagas/warden-attack-2.png
  data/core/images/units/nagas/warden-attack-3.png
  data/core/images/units/nagas/warden-attack-4.png
  data/core/images/units/nagas/warden-attack-5.png
  data/core/images/units/nagas/warden-attack-6.png
  data/core/units/nagas/Guard_Shield.cfg
Labels: Graphics, Units

TRoW S04a: Typographic style is not to have a hyphen in "un-life"
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/04a_The_Swamp_of_Esten.cfg
Labels: Campaign

naga high guard defense anim
  data/core/images/units/nagas/sentinel-defend-1.png
  data/core/images/units/nagas/sentinel-defend-2.png
  data/core/images/units/nagas/sentinel.png
  data/core/units/nagas/Guard_High.cfg
Labels: Graphics, Units

naga guard - adjust some animation timings
  data/core/units/nagas/Guard.cfg
Labels: Units

ran wmlindent
  data/core/units/nagas/Guard_High.cfg
  data/core/units/nagas/Guard_Shield.cfg
Labels: Units

ran woptipng.py
  data/core/images/units/nagas/guardian.png
  data/core/images/units/nagas/sentinel-defend-1.png
  data/core/images/units/nagas/sentinel-defend-2.png
  data/core/images/units/nagas/sentinel.png
  data/core/images/units/nagas/warden-attack-1.png
  data/core/images/units/nagas/warden-attack-2.png
  data/core/images/units/nagas/warden-attack-3.png
  data/core/images/units/nagas/warden-attack-4.png
  data/core/images/units/nagas/warden-attack-5.png
  data/core/images/units/nagas/warden-attack-6.png
  data/core/images/units/nagas/warden-defend-1.png
  data/core/images/units/nagas/warden-defend-2.png
  data/core/images/units/nagas/warden-shield-attack-1.png
  data/core/images/units/nagas/warden-shield-attack-2.png
  data/core/images/units/nagas/warden-shield-attack-3.png
  data/core/images/units/nagas/warden-shield-attack-4.png
  data/core/images/units/nagas/warden-shield-defend2.png
  data/core/images/units/nagas/warden-shield-swoosh.png
  data/core/images/units/nagas/warden.png
Labels: Graphics, Units

1.16 animation update 7/24 (#5980)
  data/core/images/units/nagas/guardian.png
  data/core/images/units/nagas/sentinel-defend-1.png
  data/core/images/units/nagas/sentinel-defend-2.png
  data/core/images/units/nagas/sentinel.png
  data/core/images/units/nagas/warden-attack-1.png
  data/core/images/units/nagas/warden-attack-2.png
  data/core/images/units/nagas/warden-attack-3.png
  data/core/images/units/nagas/warden-attack-4.png
  data/core/images/units/nagas/warden-attack-5.png
  data/core/images/units/nagas/warden-attack-6.png
  data/core/images/units/nagas/warden-defend-1.png
  data/core/images/units/nagas/warden-defend-2.png
  data/core/images/units/nagas/warden-shield-attack-1.png
  data/core/images/units/nagas/warden-shield-attack-2.png
  data/core/images/units/nagas/warden-shield-attack-3.png
  data/core/images/units/nagas/warden-shield-attack-4.png
  data/core/images/units/nagas/warden-shield-defend2.png
  data/core/images/units/nagas/warden-shield-swoosh.png
  data/core/images/units/nagas/warden.png
  data/core/units/nagas/Guard.cfg
  data/core/units/nagas/Guard_High.cfg
  data/core/units/nagas/Guard_Shield.cfg
Labels: Graphics, Units

Static inline is bueno
  src/map_command_handler.hpp
Labels: none

Faction Select: refined design
  data/gui/window/mp_faction_select.cfg
Labels: UI

Faction Select: one more tiny refinement
  data/gui/window/mp_faction_select.cfg
Labels: UI

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
