Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

require_modification/campaign now defaults to yes (#8135)
  src/game_initialization/lobby_data.cpp
  src/saved_game.cpp
Labels: none

fix whitespace
  src/saved_game.cpp
Labels: none

enter inserts linebreak when not intercepted by window
  src/gui/widgets/multiline_text.cpp
Labels: UI

HttT S11 Make the objective clearer
  data/campaigns/Heir_To_The_Throne/scenarios/11_The_Ford_of_Abez.cfg
Labels: Campaign HttT

remove edit_unit dialog
  boost_test_schedule
  data/gui/window/editor_edit_unit.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/dialogs/editor/edit_unit.hpp
  src/gui/widgets/combobox.cpp
  src/gui/widgets/combobox.hpp
  src/tests/gui/test_gui2.cpp
Labels: Building, macOS, UI

Re-add cropping of transparent padding on status icons.
  src/display.cpp
  src/image_modifications.cpp
  src/image_modifications.hpp
  src/reports.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
Labels: none

remove edit_unit dependencies
  data/themes/editor.cfg
  src/editor/controller/editor_controller.cpp
  src/editor/controller/editor_controller.hpp
  src/hotkey/hotkey_command.cpp
Labels: Editor, UI

fix whitespace
  src/gui/widgets/combobox.hpp
Labels: UI

remove hotkey for edit_unit
  data/core/hotkeys.cfg
Labels: Input

updated copyright in WML tool GUI app
  data/tools/GUI.pyw
Labels: WML Tools

cleanup
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/editor/controller/editor_controller.cpp
  src/gui/core/canvas_private.hpp
  src/hotkey/hotkey_command.hpp
  src/range.hpp
Labels: Building, Editor, macOS, UI

changelog: add missing unit type ID prefix
  changelog.md
Labels: none

changelog: add missing unit type ID prefix (#8329)
  changelog.md
Labels: none

add a `disallowed` type to override a mandatory name key into a disallowed optional name key
  data/schema/schema.cfg
Labels: Schema

remove super from `[elseif]` tag, similar to `[if]`, as this is a filter context
  data/schema/schema.cfg
Labels: Schema

Remove fonts not used since SDL_ttf was replaced
  changelog_entries/remove_unused_fonts.md
  fonts/Andagii.ttf
  fonts/COPYING
  fonts/DroidSansJapanese.ttf
Labels: none

Remove fonts not used since SDL_ttf was replaced
  changelog_entries/remove_unused_fonts.md
  fonts/Andagii.ttf
  fonts/COPYING
  fonts/DroidSansJapanese.ttf
Labels: none

Fix deprecation warning when setting [endlevel]end_credits=
  data/lua/wml/endlevel.lua
  data/test/scenarios/manual_tests/scenario-test.cfg
  src/scripting/game_lua_kernel.hpp
Labels: Lua API, Unit Tests

remove unnecessary method
  src/gui/widgets/menu_button.hpp
Labels: UI

changed Escape key handler back
  src/gui/widgets/text_box_base.cpp
Labels: UI

[dev] Remove unused header files
  src/config.cpp
  src/config.hpp
  src/config_attribute_value.hpp
Labels: none

fix typo in comment
  src/saved_game.cpp
Labels: none

Add a composite hero/leader ellipse
  images/misc/ellipse-hero-leader-bottom.png
  images/misc/ellipse-hero-leader-nozoc-bottom.png
  images/misc/ellipse-hero-leader-nozoc-selected-bottom.png
  images/misc/ellipse-hero-leader-nozoc-selected-top.png
  images/misc/ellipse-hero-leader-nozoc-top.png
  images/misc/ellipse-hero-leader-selected-bottom.png
  images/misc/ellipse-hero-leader-selected-top.png
  images/misc/ellipse-hero-leader-top.png
Labels: Graphics

Update copyrights.csv
  copyrights.csv
Labels: none

wc: fix #6513 Bezoar artifact
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign WC

Remove transparent padding from the status icon image files.
  data/campaigns/Under_the_Burning_Suns/images/misc/dazed-status-icon.png
  data/campaigns/Under_the_Burning_Suns/images/misc/stunned-status-icon.png
  data/core/images/misc/stunned-status-icon.png
  images/misc/invisible.png
  images/misc/invulnerable.png
  images/misc/petrified.png
  images/misc/poisoned.png
  images/misc/slowed.png
  images/misc/unhealable.png
  src/display.cpp
  src/sdl/utils.cpp
Labels: Campaign UtBS, Graphics

copyrights update
  copyrights.csv
Labels: none

Fix poison bug?
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

make sure transform_unit doesn't heal the unit (#8147)
  src/units/unit.cpp
Labels: Units

SoF S02: Don't [allow_undo] when activating the runes
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign SoF

remove LAYER argument from main Cud wall rule
  data/core/terrain-graphics.cfg
Labels: Terrain

[dev] Remove unused header files
  src/config.cpp
  src/config.hpp
  src/config_attribute_value.hpp
Labels: none

updated French translation
  po/wesnoth-help/fr.po
  po/wesnoth-multiplayer/fr.po
  po/wesnoth-nr/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated Finnish translation
  changelog.md
  po/wesnoth-httt/fi.po
  po/wesnoth-l/fi.po
  po/wesnoth-lib/fi.po
Labels: Translations

updated Arabic translation
  po/wesnoth-nr/ar.po
  po/wesnoth-trow/ar.po
  po/wesnoth-units/ar.po
Labels: Translations

remove LAYER argument from main Cud wall rule
  data/core/terrain-graphics.cfg
Labels: Terrain

various fixes
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/scrollbar_container.cpp
Labels: UI

[dev] Remove unnecessary header files
  src/config_attribute_value.cpp
  src/config_cache.hpp
  src/filesystem.cpp
  src/game_config_view.cpp
  src/gettext.cpp
  src/log.hpp
  src/random.cpp
  src/random.hpp
  src/serialization/binary_or_text.cpp
  src/serialization/binary_or_text.hpp
  src/serialization/schema/tag.hpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

Avoid linebreak in title text of help pages
  src/help/help_impl.cpp
Labels: Help

Force the UI to update fully when changing addon filters
  src/gui/widgets/listbox.cpp
Labels: UI

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
