Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

Try to resolve merge conflict
  wml_test_schedule
Labels: none

Make nil and yes tests separate
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_nil.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_nil.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_yes_experience_nil.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_yes_experience_yes.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_survivable_experience_nil.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_survivable_experience_yes.cfg
  wml_test_schedule
Labels: Unit Tests

Fix whitespace and restore order
  data/lua/wml/harm_unit.lua
Labels: Lua API

Remove "name" input of removed attribute
  src/formula/callable_objects.cpp
Labels: WFL

Make "faction" and "faction_name" inputs work
  src/formula/callable_objects.cpp
Labels: WFL

Use VALIDATE macro to validate WML in teleport.cpp
  src/pathfind/teleport.cpp
Labels: none

08_Clearwater_Port.map
  data/campaigns/The_Rise_Of_Wesnoth/maps/08_Clearwater_Port.map
Labels: Campaign TRoW

Make "faction" and "faction_name" inputs work
  src/formula/callable_objects.cpp
Labels: WFL

Remove "name" input of removed attribute
  src/formula/callable_objects.cpp
Labels: WFL

Make "undead" input work again
  src/formula/callable_objects.cpp
Labels: WFL

add a bunch of attacks tests
  data/test/_main.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_low_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_negative_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_no_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_wfl_other.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_wfl_self.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_zero.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_affect_allies.cfg
  wml_test_schedule
Labels: Unit Tests

add a bunch of attacks tests
  data/test/_main.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_low_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_negative_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_no_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_wfl_other.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_wfl_self.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_zero.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_affect_allies.cfg
  wml_test_schedule
Labels: Unit Tests

TRoW S08: Fix enemy starting locations for Clearwater Port
  data/campaigns/The_Rise_Of_Wesnoth/maps/08_Clearwater_Port.map
Labels: Campaign TRoW

Fixes and changes
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_no_attack_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_unset.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_no_attack_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_unset.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_yes_experience_unset.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_survivable_experience_unset.cfg
  wml_test_schedule
Labels: Unit Tests

Fix compilation and improve some VALIDATION error messages in teleport.cpp
  src/pathfind/teleport.cpp
Labels: none

Remove dead code from GUI1's menu class
  src/help/help_menu.cpp
  src/widgets/menu.cpp
  src/widgets/menu.hpp
Labels: Help

wrap and selection improved in multiline text. redesigned spinner widget.
  data/gui/widget/multiline_text_default.cfg
  data/gui/widget/scroll_text_default.cfg
  data/gui/widget/scroll_text_verbatim.cfg
  data/gui/widget/spinner_default.cfg
  data/gui/window/editor_edit_unit.cfg
  data/schema/gui/generic.cfg
  data/schema/gui/widget_definitions.cfg
  data/schema/gui/widget_instances.cfg
  source_lists/libwesnoth_widgets
  src/font/pango/escape.hpp
  src/font/text.hpp
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/spinner.cpp
  src/gui/widgets/spinner.hpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
Labels: Building, Schema, UI

old spinbox replaced with new compound spinner widget
  data/gui/widget/scroll_text_default.cfg
  data/gui/widget/spinbox_default.cfg
  data/gui/widget/spinner_default.cfg
  data/gui/window/editor_edit_unit.cfg
  data/schema/gui/widget_definitions.cfg
  data/schema/gui/widget_instances.cfg
  source_lists/libwesnoth_widgets
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/spinbox.cpp
  src/gui/widgets/spinbox.hpp
  src/gui/widgets/spinner.cpp
  src/gui/widgets/spinner.hpp
Labels: Building, Schema, UI

highlighting improvements in multiline text
  data/gui/widget/multiline_text_default.cfg
  data/gui/window/editor_edit_unit.cfg
  data/schema/gui/generic.cfg
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/text_box_base.hpp
Labels: Schema, UI

Allow experience key in [harm_unit] tag to be set to kill/attack/defend/fight/yes/no
  data/lua/wml/harm_unit.lua
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_attack.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_attack_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_attack_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_fight.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_no_attack_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_unset.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_attack.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_attack_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_attack_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_fight.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_no_attack_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_unset.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_yes_experience_unset.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_yes_experience_yes.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_survivable_experience_unset.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_survivable_experience_yes.cfg
  wml_test_schedule
Labels: Lua API, Unit Tests

Change validate params and wml_exception.hpp include type.
  src/pathfind/teleport.cpp
Labels: none

schema for [harm_unit]experience
  data/schema/core/actionwml.cfg
Labels: Schema

Remove code because menu::set_heading and menu::style::scale_images aren't called
  src/widgets/menu.cpp
  src/widgets/menu.hpp
  src/widgets/menu_style.cpp
Labels: none

highlight color implemented and spinbox bugfix
  data/gui/widget/multiline_text_default.cfg
  data/schema/gui/generic.cfg
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
  src/gui/widgets/spinbox.cpp
  src/gui/widgets/spinbox.hpp
Labels: Schema, UI

whitespace fix
  src/font/text.cpp
  src/font/text.hpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.hpp
Labels: UI

unreferenced local variable removed
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/spinbox.cpp
Labels: UI

Handling of RTL in the left pane of the help browser
  changelog_entries/rtl_help_menu.md
  src/help/help_menu.cpp
  src/help/help_menu.hpp
  src/widgets/menu.cpp
  src/widgets/menu.hpp
  src/widgets/menu_style.cpp
Labels: Help

Multibyte character offset fix
  src/font/text.cpp
  src/font/text.hpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/text_box_base.hpp
Labels: UI

Improve required VALIDATION error messages in teleport.cpp
  src/pathfind/teleport.cpp
Labels: none

Prevent wesnoth from crashing after campaign credits
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
  src/gui/widgets/window.hpp
Labels: UI

EI S4: Safyam is supposed to be female (resolves #8233).
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Campaign EI

Editable property in text_box_base
  data/gui/window/editor_edit_unit.cfg
  data/schema/gui/widget_instances.cfg
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
Labels: Schema, UI

UtBS S6a: Avoid Dust Devil speaking (resolves #8192).
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
Labels: Campaign UtBS

uneditable textbox colors
  data/gui/widget/multiline_text_default.cfg
  src/font/text.cpp
  src/font/text.hpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/text_box_base.hpp
Labels: UI

UtBS S6a: Avoid Dust Devil speaking (resolves #8192).
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
Labels: Campaign UtBS

EI S4: Safyam is supposed to be female (resolves #8233).
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Campaign EI

fix unit:to_map(loc) #8229
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Simplify nearest neighbor rescale
  src/sdl/utils.cpp
Labels: none

Remove debug log
  src/sdl/utils.cpp
Labels: none

add a word.
  src/gui/widgets/window.hpp
Labels: UI
