Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Update how the icu libraries are linked.
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

Make callers of help::show_help not need a help_manager
  src/gui/dialogs/multiplayer/faction_select.cpp
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/title_screen.cpp
  src/help/help.cpp
  src/help/help.hpp
  src/scripting/lua_gui2.cpp
Labels: Help, Lua API, UI

lua/gui2: Restore layout invalidation hack used when hiding widgets
  changelog.md
  src/scripting/lua_widget_attributes.cpp
Labels: Lua API

Credits: remove outdated nickname
  data/campaigns/Eastern_Invasion/_main.cfg
  data/core/about.cfg
  data/core/about_i18n.cfg
Labels: Campaign

lua/gui2: Restore layout invalidation hack when setting widget labels
  src/scripting/lua_widget_attributes.cpp
Labels: Lua API

Update changelog
  changelog.md
Labels: none

lua/gui2: Restore layout invalidation hack when setting widget labels
  src/scripting/lua_widget_attributes.cpp
Labels: Lua API

Update changelog
  changelog.md
Labels: none

Add-ons manager: show tags in the details panel
  changelog.md
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
Labels: Add-ons, UI

Add-ons manager: Move feedback to the top of the details list
  data/gui/window/addon_manager.cfg
Labels: UI

Fix a deprecation typo
  data/lua/core/mathx.lua
Labels: Lua API

math.random wasn't even supposed to be deprecated at all
  data/lua/core/mathx.lua
Labels: Lua API

Filtering by tags in the add-on manager
  changelog.md
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
Labels: Add-ons, UI

adding seahorse portrait
  data/core/images/portraits/monsters/seahorse.png
Labels: Graphics

Filtering by tags in the add-on manager
  changelog.md
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
Labels: Add-ons, UI

1.15.13.
  Doxyfile
  changelog.md
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS

1.15.13+dev.
  Doxyfile
  changelog.md
  src/wesconfig.h
Labels: none

Icemonax advances to Greater Icemonax
  data/core/units/monsters/Icemonax.cfg
Labels: Units

add 'unslowable' and 'unpetrifiable' status
  changelog.md
  data/test/scenarios/unslowable_status_test.cfg
  src/actions/attack.cpp
  src/formula/callable_objects.cpp
  src/units/abilities.cpp
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units, WFL

adding snowy and dead oak variations of great tree terrain
  data/core/images/terrain/forest/great-oak-tree-dead-tile.png
  data/core/images/terrain/forest/great-oak-tree-dead.png
  data/core/images/terrain/forest/great-tree-snowy-tile.png
  data/core/images/terrain/forest/great-tree-snowy.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

initial, minimal commit of Fire Wraith
  data/core/images/units/monsters/firewraith.png
  data/core/units/monsters/Fire_Wraith.cfg
Labels: Graphics, Units

update walking corpses to mesh with mainline
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack-n.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack-s.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-defend.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack-n.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack-s.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-defend.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-1.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-2.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-3.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-4.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider.png
  data/campaigns/Secrets_of_the_Ancients/units/SotA_Corpses.cfg
  data/campaigns/Secrets_of_the_Ancients/units/SotA_Soulless.cfg
Labels: Campaign, Graphics, Units

SotA - update walking corpses to mesh with mainline (#5791)
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack-n.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack-s.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-defend.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack-n.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack-s.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-defend.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-1.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-2.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-3.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-4.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider.png
  data/campaigns/Secrets_of_the_Ancients/units/SotA_Corpses.cfg
  data/campaigns/Secrets_of_the_Ancients/units/SotA_Soulless.cfg
Labels: Campaign, Graphics, Units

Correct spelling error 'bretheren'
  data/core/units.cfg
Labels: none

initial Jinn revision
  data/core/images/units/monsters/jinn.png
  data/core/units/monsters/Jinn.cfg
Labels: Graphics, Units

Add :fps file creation to the help+man page.
  data/core/help.cfg
  doc/man/wesnoth.6
Labels: Docs, Help

Mention :fps logging in the in-game command handler as well.
  src/menu_events.cpp
Labels: none

Fix missing deprecation for wesnoth.random
  data/lua/core/mathx.lua
Labels: Lua API

Fix broken global_vars table
  data/lua/core/wml.lua
Labels: Lua API

add 'unpetrifiable' test
  data/test/scenarios/unslowable_and_unpetrifiable_status_test.cfg
  data/test/scenarios/unslowable_status_test.cfg
  wml_test_schedule
Labels: Unit Tests

Scenario editor help: remove the warning about 1.14 bugs
  data/core/editor/help.cfg
Labels: Editor

add an [anti_special] ability, which can negate the effects of certains specials weapons
  changelog.md
  data/schema/game_config.cfg
  data/schema/units/abilities.cfg
  data/test/scenarios/test_anti_special_abilities.cfg
  src/actions/attack.cpp
  src/units/abilities.cpp
  src/units/attack_type.hpp
  wml_test_schedule
Labels: Schema, Unit Tests, Units

fix ab_active not removed
  src/units/abilities.cpp
Labels: Units

fix lua_mathx not compiled with gcc 8.0
  src/scripting/lua_mathx.cpp
Labels: Lua API

fix codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

other fix for codeblock
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

Scenario editor help: remove the warning about 1.14 bugs
  data/core/editor/help.cfg
Labels: Editor

replace <stdio.h> by <cstdio> and <math.h> by <cmath>
  src/scripting/lua_mathx.cpp
Labels: Lua API

update codeblock projectfiles
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
  src/scripting/lua_mathx.cpp
Labels: Building, Lua API

doc/man: Copyright update
  doc/man/wesnoth.6
  doc/man/wesnothd.6
Labels: Docs
