Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Lua API: Fix campaign end text being untranslatable
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Use the named tuple idiom for WML tags
  data/lua/core/wml.lua
  src/scripting/lua_common.cpp
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Lua API: Add wesnoth.sides.iter
  data/lua/core/sides.lua
  data/lua/helper.lua
Labels: Lua API

Lua: Update all mainline references to the helper module
  data/ai/lua/ai_helper.lua
  data/ai/lua/battle_calcs.lua
  data/ai/lua/ca_high_xp_attack.lua
  data/ai/lua/ca_move_to_any_enemy.lua
  data/ai/lua/retreat.lua
  data/ai/micro_ais/cas/ca_assassin_move.lua
  data/ai/micro_ais/cas/ca_big_animals.lua
  data/ai/micro_ais/cas/ca_bottleneck_move.lua
  data/ai/micro_ais/cas/ca_coward.lua
  data/ai/micro_ais/cas/ca_fast_combat_leader.lua
  data/ai/micro_ais/cas/ca_goto.lua
  data/ai/micro_ais/cas/ca_herding_f_herding_area.lua
  data/ai/micro_ais/cas/ca_herding_sheep_move.lua
  data/ai/micro_ais/cas/ca_hunter.lua
  data/ai/micro_ais/cas/ca_messenger_attack.lua
  data/ai/micro_ais/cas/ca_recruit_random.lua
  data/ai/micro_ais/cas/ca_stationed_guardian.lua
  data/ai/micro_ais/cas/ca_wolves_multipacks_attack.lua
  data/ai/micro_ais/cas/ca_zone_guardian.lua
  data/ai/micro_ais/engines/priority_target_engine.lua
  data/campaigns/Delfadors_Memoirs/utils/sides.cfg
  data/campaigns/Eastern_Invasion/lua/bandits.lua
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
  data/campaigns/Son_Of_The_Black_Eye/ai/ca_transport_S6.lua
  data/campaigns/The_Hammer_of_Thursagan/lua/spawns.lua
  data/campaigns/The_Hammer_of_Thursagan/scenarios/05_Fear.cfg
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
  data/campaigns/World_Conquest/lua/game_mechanics/bonus.lua
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/game_mechanics/heroes.lua
  data/campaigns/World_Conquest/lua/map/main.lua
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
  data/lua/wml-tags.lua
  data/lua/wml/animate_unit.lua
  data/lua/wml/harm_unit.lua
  data/lua/wml/kill.lua
  data/lua/wml/store_reachable_locations.lua
  data/test/scenarios/test_require.cfg
Labels: AI, Campaign, Lua API, Unit Tests

Lua API: Fix crash if passing an out-of-bounds side to wesnoth.interface.end_turn
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Fix side.side_name = side.side_name changing the side name
  src/team.hpp
Labels: none

Lua API: Add wesnoth.map.iter_adjacent
  data/lua/core/map.lua
  data/lua/helper.lua
Labels: Lua API

Lua API: Deprecate helper.set_wml_action_metatable
  data/lua/core/wml.lua
  data/lua/helper.lua
Labels: Lua API

Lua API: Add function to get the current color adjust
  src/display.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

Lua API: Deprecate the helper.lua module itself
  data/lua/helper.lua
Labels: Lua API

Lua API: Fix campaign end text being untranslatable
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Add vision and jamming as unit attributes
  src/scripting/lua_unit.cpp
Labels: Lua API

Lua API: Include remaining vision in the output of find_vision_range
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Make failure loading textdomains non-fatal
  src/gettext.cpp
Labels: none

Remove the 10ms delay before closing a window
  src/gui/widgets/window.cpp
Labels: UI

TEST FAILS: Add a unit test that [select_unit]fire_event=yes works
  data/test/scenarios/fire_select_event.cfg
  wml_test_schedule
Labels: Unit Tests

Fix incorrect default in wesnoth.audio.play
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Fix crash if passing an out-of-bounds side to wesnoth.interface.end_turn
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Fix side.side_name = side.side_name changing the side name
  src/team.hpp
Labels: none

Lua API: Fix campaign end text being untranslatable
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Replace old WoV tip with new WoF tip
  data/tips.cfg
Labels: Help

Lua API: Fix campaign end text being untranslatable
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Fix crash if passing an out-of-bounds side to wesnoth.interface.end_turn
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Fix side.side_name = side.side_name changing the side name
  src/team.hpp
Labels: none

Fix incorrect default in wesnoth.audio.play
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Update Xcode project
  projectfiles/Xcode/Info.plist
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Update Xcode project's version
  projectfiles/Xcode/Info.plist
Labels: Building, macOS

Update Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

UtBS S8: increase turn limit
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

UtBS S8: increase turn limit
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

Fix Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Fix custom synced commands not changing the AI game state
  src/game_events/action_wml.cpp
Labels: none

Fix custom synced commands not changing the AI game state
  src/game_events/action_wml.cpp
Labels: none

updated Turkish translation
  po/wesnoth-dm/tr.po
  po/wesnoth-ei/tr.po
  po/wesnoth-help/tr.po
  po/wesnoth-httt/tr.po
  po/wesnoth-low/tr.po
  po/wesnoth-nr/tr.po
  po/wesnoth-sota/tr.po
  po/wesnoth-trow/tr.po
  po/wesnoth-tsg/tr.po
  po/wesnoth-units/tr.po
  po/wesnoth-utbs/tr.po
Labels: Translations

updated Turkish translation
  po/wesnoth-dm/tr.po
  po/wesnoth-ei/tr.po
  po/wesnoth-help/tr.po
  po/wesnoth-httt/tr.po
  po/wesnoth-low/tr.po
  po/wesnoth-nr/tr.po
  po/wesnoth-sota/tr.po
  po/wesnoth-trow/tr.po
  po/wesnoth-tsg/tr.po
  po/wesnoth-units/tr.po
  po/wesnoth-utbs/tr.po
Labels: Translations

updated Russian translation
  changelog.md
  po/wesnoth-nr/ru.po
  po/wesnoth-sof/ru.po
  po/wesnoth-tsg/ru.po
Labels: Translations

updated Russian translation
  changelog.md
  po/wesnoth-nr/ru.po
  po/wesnoth-sof/ru.po
  po/wesnoth-tsg/ru.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-anl/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-anl/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

ran woptipng.py
  data/core/images/units/monsters/firewraith/firewraith-defend1.png
  data/core/images/units/monsters/firewraith/firewraith-defend2.png
  data/core/images/units/monsters/firewraith/firewraith-halo.png
  data/core/images/units/monsters/firewraith/firewraith.png
  data/core/images/units/monsters/scarab/scarab-bite-1.png
  data/core/images/units/monsters/scarab/scarab-bite-2.png
  data/core/images/units/monsters/scarab/scarab-bite-3.png
  data/core/images/units/monsters/scarab/scarab-bite-4.png
  data/core/images/units/monsters/scarab/scarab-defend1.png
  data/core/images/units/monsters/scarab/scarab-defend2.png
  data/core/images/units/monsters/scarab/scarab-horn-1.png
  data/core/images/units/monsters/scarab/scarab-horn-2.png
  data/core/images/units/monsters/scarab/scarab-horn-3.png
  data/core/images/units/monsters/scarab/scarab.png
Labels: Graphics, Units

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
