Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

updated French translation
  changelog.md
  po/wesnoth-multiplayer/fr.po
  po/wesnoth-nr/fr.po
  po/wesnoth-units/fr.po
Labels: Translations

multiline_text:offset calculation fix
  data/schema/gui/widget_instances.cfg
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/text_box_base.hpp
  src/sttDLVZq
Labels: Schema, UI

Revert "Check for correct openssl version."
  CMakeLists.txt
  INSTALL.md
Labels: Building, CMake

Fallback deletion
  data/campaigns/Heir_To_The_Throne/scenarios/12_Northern_Winter.cfg
Labels: Campaign HttT

Revert "Check for correct openssl version."
  CMakeLists.txt
  INSTALL.md
Labels: Building, CMake

Fallback deletion
  data/campaigns/Heir_To_The_Throne/scenarios/12_Northern_Winter.cfg
Labels: Campaign HttT

HttT S12 Snow falls at a constant pace
  data/campaigns/Heir_To_The_Throne/scenarios/12_Northern_Winter.cfg
Labels: Campaign HttT

fix terrain graphics rule for elevation/ice/water transition
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

add a delay after using scroll.
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

fix terrain graphics rule for elevation/ice/water transition
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

add a delay after using scroll.
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Add castle hexes
  data/campaigns/Heir_To_The_Throne/scenarios/17_Scepter_of_Fire.cfg
Labels: Campaign HttT

fix (most parts of) 7780 make unit_placed events nonundoable by default
  src/actions/create.cpp
Labels: none

Game Config: make tc/color_info take a string_view and allow heterogeneous lookup
  src/game_config.cpp
  src/game_config.hpp
Labels: none

Make Ubuntu happy
  src/team.cpp
Labels: none

Make Ubuntu happier
  src/minimap.cpp
Labels: none

horizontal scrollbar movement with cursor and various cleanup
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/scrollbar.hpp
  src/gui/widgets/scrollbar_container.cpp
  src/gui/widgets/scrollbar_container.hpp
  src/gui/widgets/text_box_base.hpp
Labels: UI

Clarify whether add_source_file should add .hpp files
  add_source_file
Labels: none

unused fields and doxygen fix
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scrollbar_container.hpp
Labels: UI

HttT S14 Use "id=" to remove Gryphon units
  data/campaigns/Heir_To_The_Throne/scenarios/14_Plunging_Into_the_Darkness.cfg
Labels: Campaign HttT

HttT S14 Use "id=" to remove Gryphon units
  data/campaigns/Heir_To_The_Throne/scenarios/14_Plunging_Into_the_Darkness.cfg
Labels: Campaign HttT

Fix Dust Devil regeneration on terrain with an overlay
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
Labels: Campaign UtBS, Units

units: war harbinger, +6 HP, +2g cost, -50 XP
  data/core/units/monsters/Raven_Harbinger.cfg
Labels: Units

docs: add changelog entry for PR8214
  changelog_entries/8214.md
Labels: none

docs: update 8214.md typo
  changelog_entries/8214.md
Labels: none

fix (most parts of) 7780 make unit_placed events nonundoable by default
  src/actions/create.cpp
Labels: none

Fix license on LordBob's portraits, and check licenses
  copyrights.csv
  update_copyrights
Labels: none

Fix and check copyrights.csv "Needs Update" field
  copyrights.csv
  update_copyrights
Labels: none

UtBS: Remove deprecated [store_unit_defense] use
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Campaign UtBS

UtBS S08: Skip dialog that does not make sense after discovering the cultist fort
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign UtBS

UtBS: Mitigate issues with flying units breaking scenarios
  data/campaigns/Under_the_Burning_Suns/maps/04_Descending_into_Darkness.map
  data/campaigns/Under_the_Burning_Suns/maps/08_Out_of_the_Frying_Pan.map
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Campaign UtBS

UtBS S01: Improve event/dialog consistency regardless of trigger order
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
Labels: Campaign UtBS

UtBS S05: Use enter_hex so events cannot be triggered out-of-sequence
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign UtBS

Log instead of assert for incorrect [teleport] tags in ActionWML
  data/schema/core/actionwml.cfg
  src/game_events/action_wml.cpp
Labels: Schema

war harbinger: removed village and forest def
  data/core/units/monsters/Raven_Harbinger.cfg
Labels: Units

units/Dark Omen: removed village and forest def
  data/core/units/monsters/Raven_Omen.cfg
Labels: Units

Units/Raven: removed village and forest def
  data/core/units/monsters/Raven.cfg
Labels: Units

update changelog entry file
  changelog_entries/8214.md
Labels: none

[Units] Raven unit tree stats update patch
  changelog_entries/8214.md
  data/core/units/monsters/Raven.cfg
  data/core/units/monsters/Raven_Harbinger.cfg
  data/core/units/monsters/Raven_Omen.cfg
Labels: Units

Re-add cropping of transparent padding on status icons.
  src/display.cpp
  src/image_modifications.cpp
  src/image_modifications.hpp
  src/reports.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
Labels: none
