Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Fix another deprecation message
  data/lua/core/gui.lua
Labels: Lua API

Return nil instead of an empty string when indexing beyond the string length
  src/scripting/lua_stringx.cpp
Labels: Lua API

Improve a deprecation message
  data/lua/core/units.lua
Labels: Lua API

Update wmlunits
  data/tools/wmlunits
Labels: WML Tools

Alphabetically sort import statements and add comment explaining separation of `import yaml`
  data/tools/wmlunits
Labels: WML Tools

Call actually existing function
  data/lua/wml-tags.lua
Labels: Lua API

Call actually existing function
  data/lua/wml-tags.lua
Labels: Lua API

Remove dead code
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

Remove dead code
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

Update wmlunits
  data/tools/wmlunits
Labels: WML Tools

Update wmlunits
  data/tools/wmlunits
Labels: WML Tools

Alphabetically sort import statements and add comment explaining separation of `import yaml`
  data/tools/wmlunits
Labels: WML Tools

Remove unused functions
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

Updated a few places that didn't handle locations in the unified way
  src/ai/lua/core.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
Labels: AI, Lua API

Lua AI: Fix bug in ai.get_attacks()
  src/ai/lua/core.cpp
Labels: AI

Fix a bunch of compiler warnings
  src/ai/configuration.cpp
  src/config.cpp
  src/config_cache.cpp
  src/display.cpp
  src/formula/callable_objects.cpp
  src/generators/cave_map_generator.cpp
  src/gui/core/canvas.cpp
  src/gui/dialogs/gamestate_inspector.cpp
  src/gui/dialogs/multiplayer/mp_options_helper.cpp
  src/gui/dialogs/statistics_dialog.cpp
  src/gui/dialogs/title_screen.cpp
  src/help/help_impl.cpp
  src/map/map.cpp
  src/play_controller.cpp
  src/preferences/game.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_color.cpp
  src/scripting/lua_common.cpp
  src/scripting/lua_gui2.cpp
  src/scripting/lua_terrainfilter.cpp
  src/scripting/lua_terrainmap.cpp
  src/scripting/lua_unit_attacks.cpp
  src/scripting/lua_wml.cpp
  src/serialization/parser.cpp
  src/terrain/filter.cpp
  src/theme.cpp
  src/units/abilities.cpp
  src/units/animation.cpp
  src/units/attack_type.cpp
  src/units/filter.cpp
  src/units/helper.cpp
  src/units/types.cpp
  src/units/unit.cpp
  src/utils/parse_network_address.cpp
  src/variable.cpp
  src/wesnoth.cpp
Labels: AI, Help, Lua API, Terrain, UI, Units, WFL

Fix another deprecation message
  data/lua/core/gui.lua
Labels: Lua API

Return nil instead of an empty string when indexing beyond the string length
  src/scripting/lua_stringx.cpp
Labels: Lua API

Improve a deprecation message
  data/lua/core/units.lua
Labels: Lua API

Lua AI: Fix bug in ai.get_attacks()
  src/ai/lua/core.cpp
Labels: AI

Revert "Updated a few places that didn't handle locations in the unified way"
  src/ai/lua/core.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
Labels: AI, Lua API

Fixup e555e0681db1e8
  src/gui/dialogs/statistics_dialog.cpp
Labels: UI

Fixup e555e0681db1e8
  src/gui/dialogs/statistics_dialog.cpp
Labels: UI

Lua AI: Move the deprecation messages to Lua so that the deprecated functions get nulled out with --strict-lua
  data/ai/lua/stdlib.lua
  src/ai/lua/core.cpp
Labels: AI

Lua: Add location_set.of_raw to ease working with AI functions that return raw location sets
  data/lua/location_set.lua
Labels: Lua API

Lua AI: The recalculate move map functions don't return anything so why do they claim to return 1 value!?
  src/ai/lua/core.cpp
Labels: AI

Lua API: Move wesnoth.as_text into core
  data/core/_main.cfg
  data/lua/core/as_text.lua
Labels: Lua API

Lua API: Better error checking when converting a location set to a WML variable
  data/lua/location_set.lua
Labels: Lua API

Lua API: find_reach now accepts ignore_teleport=false without a viewing_side
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Use string indexing here
  data/lua/wml-utils.lua
Labels: Lua API

Lua API: Add a named tuple idiom, used mainly for locations
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
  src/scripting/lua_common.hpp
Labels: Lua API

Lua API: Add a mode argument to locaton_set:to_wml_var
  data/lua/location_set.lua
Labels: Lua API

Deployed config::optional_child in a bunch of places
  src/ai/formula/ai.cpp
  src/config.cpp
  src/editor/map/context_manager.cpp
  src/game_config_view.cpp
  src/gui/core/window_builder.cpp
  src/playturn.cpp
  src/replay.cpp
  src/replay_controller.cpp
  src/replay_recorder_base.cpp
  src/statistics.cpp
  src/synced_commands.cpp
  src/theme.cpp
Labels: AI, Editor, UI, WFL

Lua API: Fix location_set.of_pairs including the location in the value
  data/lua/location_set.lua
Labels: Lua API

fix whitespace
  data/lua/location_set.lua
Labels: Lua API

Remove the 10ms delay before closing a window
  src/gui/widgets/window.cpp
Labels: UI

touchup to scarab horn attack anim
  data/core/images/units/monsters/scarab/scarab-horn-1.png
  data/core/images/units/monsters/scarab/scarab-horn-2.png
  data/core/images/units/monsters/scarab/scarab-horn-3.png
  data/core/units/monsters/Scarab.cfg
Labels: Graphics, Units

updated Bulgarian translation
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth-aoi/bg.po
  po/wesnoth-did/bg.po
  po/wesnoth-dm/bg.po
  po/wesnoth-dw/bg.po
  po/wesnoth-ei/bg.po
  po/wesnoth-httt/bg.po
  po/wesnoth-l/bg.po
  po/wesnoth-sof/bg.po
  po/wesnoth-sota/bg.po
  po/wesnoth-sotbe/bg.po
  po/wesnoth-tb/bg.po
  po/wesnoth-thot/bg.po
  po/wesnoth-tsg/bg.po
  po/wesnoth-units/bg.po
  po/wesnoth/bg.po
Labels: Translations

updated Bulgarian translation
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth-did/bg.po
  po/wesnoth-dm/bg.po
  po/wesnoth-dw/bg.po
  po/wesnoth-ei/bg.po
  po/wesnoth-httt/bg.po
  po/wesnoth-l/bg.po
  po/wesnoth-sof/bg.po
  po/wesnoth-sota/bg.po
  po/wesnoth-sotbe/bg.po
  po/wesnoth-tb/bg.po
  po/wesnoth-thot/bg.po
  po/wesnoth-tsg/bg.po
  po/wesnoth-units/bg.po
  po/wesnoth/bg.po
Labels: Translations

updated Bulgarian translation
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth-did/bg.po
  po/wesnoth-dm/bg.po
  po/wesnoth-dw/bg.po
  po/wesnoth-ei/bg.po
  po/wesnoth-httt/bg.po
  po/wesnoth-l/bg.po
  po/wesnoth-sof/bg.po
  po/wesnoth-sota/bg.po
  po/wesnoth-sotbe/bg.po
  po/wesnoth-tb/bg.po
  po/wesnoth-thot/bg.po
  po/wesnoth-tsg/bg.po
  po/wesnoth-units/bg.po
  po/wesnoth/bg.po
Labels: Translations

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
