Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Format the documentation comment
  data/lua/functional.lua
Labels: Lua API

Exclude functional.lua from luacheck
  .luacheckrc
Labels: none

different icons for ranged and melee mug globs
  data/core/images/attacks/mud-missile.png
  data/core/units/monsters/Giant_Mudcrawler.cfg
  data/core/units/monsters/Mudcrawler.cfg
Labels: Graphics, Units

Minor correction.
  data/campaigns/Secrets_of_the_Ancients/scenarios/20_North_Knalga.cfg
Labels: Campaign

Minor correction.
  data/campaigns/Secrets_of_the_Ancients/scenarios/20_North_Knalga.cfg
Labels: Campaign

Add tests for functional.reduce
  data/test/scenarios/lua_functional.cfg
Labels: Unit Tests

Phrasing.
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

Phrasing.
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

VS+Clang
  .github/workflows/ci-main.yml
  CMakeLists.txt
  src/CMakeLists.txt
  src/desktop/version.cpp
Labels: Building, CMake

Fixed an extra whitespace in the Horse unit race description
  data/core/units.cfg
Labels: none

Add lua_functional to wml_test_schedule
  wml_test_schedule
Labels: none

Reduced the number of unit cfg files by changing the unit in the scenario cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin1.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin3.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin_Cloaked.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin_Uncloaked.cfg
Labels: Campaign, Units

Removing kick attack image 'cause it is being worked on #6339
  data/core/images/attacks/kick-orcish.png
  data/core/units/orcs/Nightblade.cfg
Labels: Graphics, Units

Ogre now dissappears before Nym starts moving/talks
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

Minor correction.
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
Labels: Campaign

Minor correction.
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
Labels: Campaign

Fixed an extra whitespace in the Horse unit race description
  data/core/units.cfg
Labels: none

Changed the adjacency filter to fit the changes to the event
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

Added a ring icon for the inmune unit
  data/campaigns/Under_the_Burning_Suns/images/misc/silver-ring-icon.png
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign, Graphics

Fixed whitespace
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

Updated comment with a proper explanation of what occurs
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

Ran wmlindent
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin_Cloaked.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin_Uncloaked.cfg
Labels: Campaign, Units

add "Teacher" for show abilities teached by adjacent unit
  po/wesnoth-lib/fr.po
  po/wesnoth-lib/wesnoth-lib.pot
  src/units/abilities.cpp
Labels: Translations, Units

add "Opponent:" string to specifie origin of abilitie in window
  po/wesnoth-lib/fr.po
  po/wesnoth-lib/wesnoth-lib.pot
  src/units/abilities.cpp
Labels: Translations, Units

add 'affected by: 'for sais what attack affectedby external abilitie like weapon
  po/wesnoth-lib/fr.po
  po/wesnoth-lib/wesnoth-lib.pot
  src/units/abilities.cpp
Labels: Translations, Units

add "Teacher" string
  po/wesnoth-lib/fr.po
  po/wesnoth-lib/wesnoth-lib.pot
  src/units/abilities.cpp
Labels: Translations, Units

Slightly changed the race description
  data/campaigns/Under_the_Burning_Suns/units/units.cfg
Labels: Campaign, Units

Restrict who remarks about the dark underground tunnels.
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Campaign

UtBS S02 Ogre now dissappears before Nym starts moving or talking (#6343)
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

UtBS S02 Ogre now dissappears before Nym starts moving or talking (#6343)
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

wmlxgettext: sort-by-filename before processing files
  data/tools/wmlxgettext
Labels: WML Tools

wmlxgettext: sort-by-filename before processing files
  data/tools/wmlxgettext
Labels: WML Tools

Maintain consistency with existing backwards-compatibility for race=elf.
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Campaign

Changed and documented the change of XP bar color to blue
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign, Units

Remove apply_to = opponent from the opponent's attack prediction window(master) (#6318)
  src/units/abilities.cpp
Labels: Units

add wmlindent in test and comment
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
  wml_test_schedule
Labels: Unit Tests

add wmlindent and comments
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
  wml_test_schedule
Labels: Unit Tests

fix error in line 86
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
Labels: Unit Tests

fix line 86
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
Labels: Unit Tests

use "opponent" and "Teacher:" string to specifie origin of abilitie who affect attack
  po/wesnoth-lib/fr.po
  po/wesnoth-lib/wesnoth-lib.pot
  src/units/abilities.cpp
Labels: Translations, Units

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
