Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

unit_recall: Take whiteboard into account in gold calculations
  src/gui/dialogs/unit_recall.cpp
Labels: UI

recall: When checking whether the recall list is empty, account for whiteboard.
  src/menu_events.cpp
Labels: none

unit_recall: Add tooltip explaining the gray
  src/gui/dialogs/unit_recall.cpp
Labels: UI

unit_recruit: Add tooltip explaining the gray
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

recruit: Show a transient message if repeating a recruit failed
  src/menu_events.cpp
Labels: none

Add #4362 to changelog
  changelog.md
Labels: none

recruit: Add menu_handler::can_recruit that returns a reason
  src/menu_events.cpp
  src/menu_events.hpp
Labels: none

unit_recruit: Minor refactoring
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
Labels: UI

unit_recruit: Gray out units that would not be able to be recruited
  src/actions/create.cpp
  src/gui/dialogs/unit_recruit.cpp
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
Labels: UI

unit_recruit: Move the planning mode gold computation out of the dialog
  src/gui/dialogs/unit_recruit.cpp
  src/menu_events.cpp
Labels: UI

unit_recruit: Edit comments
  src/gui/dialogs/unit_recruit.hpp
Labels: UI

unit_recruit: Rename variable
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

unit_recruit: Pass the error strings as t_string
  src/gui/dialogs/unit_recruit.cpp
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
  src/menu_events.hpp
Labels: UI

Add #4444 to changelog
  changelog.md
Labels: none

unit_recruit: Add tooltip explaining the gray
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

unit_recruit: Minor refactoring
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
Labels: UI

recruit: Show a transient message if repeating a recruit failed
  src/menu_events.cpp
Labels: none

unit_recall: Take whiteboard into account in gold calculations
  src/gui/dialogs/unit_recall.cpp
Labels: UI

recruit: Add menu_handler::can_recruit that returns a reason
  src/menu_events.cpp
  src/menu_events.hpp
Labels: none

Add #4362 to changelog
  changelog.md
Labels: none

recall: When checking whether the recall list is empty, account for whiteboard.
  src/menu_events.cpp
Labels: none

unit_recruit: Pass the error strings as t_string
  src/gui/dialogs/unit_recruit.cpp
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
  src/menu_events.hpp
Labels: UI

Add #4444 to changelog
  changelog.md
Labels: none

unit_recruit: Move the planning mode gold computation out of the dialog
  src/gui/dialogs/unit_recruit.cpp
  src/menu_events.cpp
Labels: UI

unit_recall: Allow filtering unrecallable units using the textbox
  src/gui/dialogs/unit_recall.cpp
Labels: UI

unit_recall: Show unrecallable units grayed out.
  data/gui/window/unit_recall.cfg
  src/gui/dialogs/unit_recall.cpp
  src/units/unit.hpp
Labels: UI, Units

unit_recruit: Rename variable
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

unit_recall: Add tooltip explaining the gray
  src/gui/dialogs/unit_recall.cpp
Labels: UI

unit_recruit: Show unrecruitable units in gray, rather than red
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

unit_recall: Move the image path back to the cfg file
  data/gui/window/unit_recall.cfg
  src/gui/dialogs/unit_recall.cpp
Labels: UI

unit_recruit: Edit comments
  src/gui/dialogs/unit_recruit.hpp
Labels: UI

unit_recruit: Gray out units that would not be able to be recruited
  src/actions/create.cpp
  src/gui/dialogs/unit_recruit.cpp
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
Labels: UI

[modify_unit]: fix handling of unrenamable in the optimized path
  data/lua/wml/modify_unit.lua
Labels: Lua API

wmllint: don't consider [special_note] tags, only NOTE macros
  data/tools/wmllint
Labels: WML Tools

wmllint: ignore id= keys in [candidate_action]
  data/tools/wmllint
Labels: WML Tools

Remove journeylifter from data/tools/README.md
  data/tools/README.md
Labels: WML Tools

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*
