Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Fix units that should have zero max mp being given one mp
  changelog.md
  data/test/scenarios/test_effect_on_vision.cfg
  src/units/unit.cpp
Labels: Unit Tests, Units

gui2/game_version: Add logs dir to the Game Version dialog on Windows
  changelog.md
  data/gui/window/game_version.cfg
  src/gui/dialogs/game_version_dialog.cpp
  src/log_windows.cpp
  src/log_windows.hpp
Labels: UI

gui2: Refactor widget frame code used for buttons and comboboxes
  data/gui/macros/button.cfg
  data/gui/widget/button_default.cfg
  data/gui/widget/menu_button_default.cfg
  data/gui/widget/multimenu_button_default.cfg
Labels: UI

Use the slow path for [modify_unit]facing=
  data/lua/wml/modify_unit.lua
Labels: Lua API

other simplification for readibility
  src/actions/attack.cpp
  src/ai/default/aspect_attacks.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: AI, Units

change has_special_and_abilities to has_special_and_ability
  src/actions/attack.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: Units

fix a forget in attack.cpp
  src/actions/attack.cpp
Labels: none

rename get_..._bool method to has_.. method
  src/actions/attack.cpp
  src/ai/default/aspect_attacks.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: AI, Units

revert last modification and use specials_and_abilities in name of global function
  src/actions/attack.cpp
  src/gui/dialogs/attack_predictions.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: UI, Units

Rename functions managing special weapons to improve readability for engine devellopper
  src/actions/attack.cpp
  src/ai/default/aspect_attacks.cpp
  src/gui/dialogs/attack_predictions.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
  src/units/udisplay.cpp
Labels: AI, UI, Units

rename has_special_and_abilities to has_special_or_abilities
  src/actions/attack.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: Units

replace "_old" by "_without_abilities"
  src/actions/attack.cpp
  src/ai/default/aspect_attacks.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: AI, Units

remove code unused
  src/units/abilities.cpp
Labels: Units

fix indentation
  src/units/abilities.cpp
Labels: Units

TSG S05: Fix Urza's upkeep when taking the bandit branch
  data/campaigns/The_South_Guard/scenarios/05_Choice_In_The_Fog.cfg
Labels: Campaign

desktop/version: Use systemd's os-release file if available
  src/desktop/version.cpp
Labels: none

desktop/version: I can't read
  src/desktop/version.cpp
Labels: none

desktop/version: Use systemd's os-release file if available (#5642)
  src/desktop/version.cpp
Labels: none

desktop/version: Correct comment
  src/desktop/version.cpp
Labels: none

updated British English translation
  po/wesnoth-dw/en_GB.po
  po/wesnoth-ei/en_GB.po
  po/wesnoth-httt/en_GB.po
  po/wesnoth-l/en_GB.po
  po/wesnoth-low/en_GB.po
  po/wesnoth-manpages/en_GB.po
  po/wesnoth-trow/en_GB.po
  po/wesnoth-utbs/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

Update 17c_Troll_Hole.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/17c_Troll_Hole.cfg
Labels: Campaign

Remove redundant code
  data/campaigns/World_Conquest/lua/optional_mechanics/destruction.lua
Labels: Campaign

wesnothd: handler corner case of user kick while there's pending handler from that user
  src/server/server.cpp
Labels: none

gui1: Bring checkbox text size down to match GUI2
  src/widgets/button.cpp
Labels: none

elaborate comments on what the compromises were between
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/08_Clearwater_Port.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/17a_The_Dragon.cfg
Labels: Campaign

hotkey: Replace previous announcements when toggling Accelerated Speed
  src/hotkey/hotkey_handler.cpp
Labels: none

Update changelog
  changelog.md
Labels: none

Separate duration from fadeout in the floating label system
  src/floating_label.cpp
  src/floating_label.hpp
Labels: none

Fix some issues with wesnoth.map.read_location and wesnoth.map.get
  data/lua/core/map.lua
Labels: Lua API

WC: Make sure we don't try to split nil
  data/campaigns/World_Conquest/lua/campaign/enemy.lua
  data/campaigns/World_Conquest/lua/era/era.lua
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest.lua
  data/campaigns/World_Conquest/lua/game_mechanics/training.lua
  data/campaigns/World_Conquest/lua/game_mechanics/utils.lua
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help.lua
  data/campaigns/World_Conquest/lua/map/scenario_utils/bonus_points.lua
Labels: Campaign

WC: Make sure we don't try to map_split nil either
  data/campaigns/World_Conquest/lua/era/era.lua
Labels: Campaign

Unit tests for [effect]apply_to=movement and [effect]apply_to=vision
  data/test/scenarios/test_effect_on_vision.cfg
  wml_test_schedule
Labels: Unit Tests

Fix units that should have zero max mp being given one mp
  changelog.md
  data/test/scenarios/test_effect_on_vision.cfg
  src/units/unit.cpp
Labels: Unit Tests, Units

pango_text: remove unused force options and single-character insertion
  src/font/text.cpp
  src/font/text.hpp
Labels: none

revision to zombie scorpion portrait
  data/core/images/portraits/undead/zombie-scorpion.png
Labels: Graphics

adding rock-scorpion portrait, and change stinger attack to spray
  data/core/images/portraits/monsters/scorpion-rock.png
  data/core/units/monsters/Rock_Scorpion.cfg
Labels: Graphics, Units

Make WFL's error-reporting machinery thread_local
  changelog.md
  src/formula/function.cpp
  src/formula/function.hpp
Labels: WFL

Make WFL's error-reporting machinery thread_local
  changelog.md
  src/formula/function.cpp
  src/formula/function.hpp
Labels: WFL

bi: Don't localize the features table for stderr/clipboard
  src/build_info.cpp
  src/build_info.hpp
Labels: none

bi: Add Lua library version
  src/build_info.cpp
  src/build_info.hpp
Labels: none

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
