Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

Make additional changes to client source handling based on discussion.
  .gitignore
  data/dist
  src/game_initialization/multiplayer.cpp
  utils/mp-server/table_definitions.sql
Labels: Services

Make additional changes to client source handling based on discussion.
  .gitignore
  data/dist
  src/game_initialization/multiplayer.cpp
  utils/mp-server/table_definitions.sql
Labels: Services

Help Time of Day Bonuses: Add text-domain and colouring
  src/help/help_impl.cpp
Labels: Help

Help Time of Day Bonuses: Add text-domain and colouring
  src/help/help_impl.cpp
Labels: Help

po update of pr_BR translation
  po/wesnoth-multiplayer/pt_BR.po
Labels: Translations

Only show brackets in Statistics title if side name is not empty.
  src/gui/dialogs/statistics_dialog.cpp
Labels: UI

Only show brackets in Statistics title if side name is not empty.
  src/gui/dialogs/statistics_dialog.cpp
Labels: UI

DiD: use specified colors for monsters and DV
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/10_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/11_Descent_into_Darkness.cfg
Labels: Campaign

DiD: tweak Malin side color
  data/campaigns/Descent_Into_Darkness/utils/team-colors.cfg
Labels: Campaign

DiD S9: remove canrecruit=yes from DV
  data/campaigns/Descent_Into_Darkness/scenarios/09_A_Small_Favor3.cfg
Labels: Campaign

Fixed issue #4080
  changelog.md
  data/core/about.cfg
  src/gui/dialogs/statistics_dialog.cpp
Labels: UI

Disable game name for local MP
  src/gui/dialogs/multiplayer/mp_create_game.cpp
Labels: UI

Move tool-tips to below-right
  data/gui/window/tooltip_floating.cfg
Labels: UI

Display left-facing Delfador portraits on the right.
  data/campaigns/Delfadors_Memoirs/utils/characters.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/06_The_Siege_of_Elensefar.cfg
  data/campaigns/Heir_To_The_Throne/utils/httt_utils.cfg
Labels: Campaign

units: Add custom [special_note]s.
  data/core/units/drakes/Arbiter.cfg
  data/core/units/drakes/Warden.cfg
  data/core/units/elves/Avenger.cfg
  data/core/units/elves/Ranger.cfg
  data/core/units/humans/Loyalist_Halberdier.cfg
  data/core/units/humans/Loyalist_Pikeman.cfg
  data/core/units/humans/Loyalist_Royal_Guard.cfg
  data/core/units/humans/Loyalist_Swordsman.cfg
  data/core/units/humans/Mage_Arch.cfg
  data/core/units/humans/Mage_Great.cfg
  data/core/units/humans/Mage_Red.cfg
  data/core/units/humans/Mage_White.cfg
  data/core/units/humans/Mage_of_Light.cfg
Labels: Units

Add time-of-day alignment icons to Help
  src/help/help_impl.cpp
Labels: Help

Add time-of-day alignment icons to Help
  src/help/help_impl.cpp
Labels: Help

TSG S7b/S8b: modify dialogue upon alliedunit death
  data/campaigns/The_South_Guard/scenarios/07b_Pebbles_in_the_Flood.cfg
  data/campaigns/The_South_Guard/scenarios/08b_The_Tides_of_War.cfg
Labels: Campaign

Add TSG update to changelog
  changelog.md
Labels: none

TSG S7b/S8b: modify dialogue upon alliedunit death
  data/campaigns/The_South_Guard/scenarios/07b_Pebbles_in_the_Flood.cfg
  data/campaigns/The_South_Guard/scenarios/08b_The_Tides_of_War.cfg
Labels: Campaign

Add TSG update to changelog
  changelog.md
Labels: none

Fix deprecation warning being printed when compiling with -DPREFERENCES_DIR=\".wesnoth-1.15\".
  changelog.md
  src/filesystem.cpp
Labels: none

Fix build with MySQL 8
  src/server/mysql_prepared_statement.ipp
Labels: Services

Revert "Fix build with MySQL 8"
  src/server/mysql_prepared_statement.ipp
Labels: Services

Add compatibility with mysql 8.0 with conditional compilation
  src/server/mysql_prepared_statement.ipp
Labels: Services

Switch macro for type alias
  src/server/mysql_prepared_statement.ipp
Labels: Services

Log a console error message when a parse_error closes the help
  src/help/help.cpp
Labels: Help

Add note about time-of-day bonus text colouring
  src/reports.cpp
Labels: none

Add note about time-of-day bonus text colouring
  src/reports.cpp
Labels: none

Use fixed-width alignment for time-of-day icons
  src/help/help_impl.cpp
Labels: Help

Use fixed-width alignment for time-of-day icons
  src/help/help_impl.cpp
Labels: Help

Changelog entry for packaging update.
  changelog.md
Labels: none

Changelog entry for packaging update.
  changelog.md
Labels: none

Fix unit AMLA experience at max level
  data/core/units/dunefolk/Harrier.cfg
  data/core/units/dunefolk/Luminary.cfg
  data/core/units/monsters/Jinn.cfg
  data/core/units/monsters/Roc.cfg
  data/core/units/nagas/Dervish.cfg
  data/core/units/nagas/Zephyr.cfg
Labels: Units

Log a console error message when a parse_error closes the help
  src/help/help.cpp
Labels: Help

restore priority for [filter_attacker/defender][filter_weapon]
  src/units/abilities.cpp
Labels: Units

wam: Add UI strings for core, other, and unknown add-on types
  data/tools/addon_manager/html.py
Labels: WML Tools

wam: Add UI strings for core, other, and unknown add-on types
  data/tools/addon_manager/html.py
Labels: WML Tools

Disable game name for local MP
  src/gui/dialogs/multiplayer/mp_create_game.cpp
Labels: UI

Restore co-ordinates to classic theme
  data/themes/classic.cfg
Labels: UI
