Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Fix bug in attack prediction window
  src/units/abilities.cpp
Labels: Units

TRoW S07: Make sure Lady Jessene is visible
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/07_Return_to_Oldwood.cfg
Labels: Campaign

TRoW S07: Make sure Lady Jessene is visible
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/07_Return_to_Oldwood.cfg
Labels: Campaign

Spanish translation update
  changelog.md
  po/wesnoth-anl/es.po
  po/wesnoth-did/es.po
  po/wesnoth-dm/es.po
  po/wesnoth-dw/es.po
  po/wesnoth-editor/es.po
  po/wesnoth-ei/es.po
  po/wesnoth-help/es.po
  po/wesnoth-httt/es.po
  po/wesnoth-l/es.po
  po/wesnoth-lib/es.po
  po/wesnoth-low/es.po
  po/wesnoth-manual/es.po
  po/wesnoth-multiplayer/es.po
  po/wesnoth-nr/es.po
  po/wesnoth-sof/es.po
  po/wesnoth-sota/es.po
  po/wesnoth-tb/es.po
  po/wesnoth-thot/es.po
  po/wesnoth-trow/es.po
  po/wesnoth-tsg/es.po
  po/wesnoth-tutorial/es.po
  po/wesnoth-units/es.po
  po/wesnoth-utbs/es.po
  po/wesnoth-wc/es.po
  po/wesnoth/es.po
Labels: Translations

Spanish translation update
  po/wesnoth-anl/es.po
  po/wesnoth-did/es.po
  po/wesnoth-dm/es.po
  po/wesnoth-editor/es.po
  po/wesnoth-ei/es.po
  po/wesnoth-help/es.po
  po/wesnoth-httt/es.po
  po/wesnoth-l/es.po
  po/wesnoth-lib/es.po
  po/wesnoth-low/es.po
  po/wesnoth-manual/es.po
  po/wesnoth-multiplayer/es.po
  po/wesnoth-nr/es.po
  po/wesnoth-sof/es.po
  po/wesnoth-sota/es.po
  po/wesnoth-tb/es.po
  po/wesnoth-thot/es.po
  po/wesnoth-trow/es.po
  po/wesnoth-tsg/es.po
  po/wesnoth-tutorial/es.po
  po/wesnoth-units/es.po
  po/wesnoth-utbs/es.po
  po/wesnoth-wc/es.po
  po/wesnoth/es.po
Labels: Translations

TRoW S12: Always give Lord Typhon a storm trident Per #6103
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/12_A_Final_Spring.cfg
Labels: Campaign

LoW S3: fix deprecated WML warning
  data/campaigns/Legend_of_Wesmere/lua/wml_tags.lua
Labels: Campaign

Update 12_A_Final_Spring.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/12_A_Final_Spring.cfg
Labels: Campaign

LoW S3: fix deprecated WML warning
  data/campaigns/Legend_of_Wesmere/lua/wml_tags.lua
Labels: Campaign

Correct punctuation.
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg
Labels: Campaign

run wmlindent
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/12_A_Final_Spring.cfg
Labels: Campaign

Spanish translation update
  po/wesnoth-help/es.po
  po/wesnoth-lib/es.po
  po/wesnoth-wc/es.po
  po/wesnoth/es.po
Labels: Translations

Spanish translation update
  po/wesnoth-help/es.po
  po/wesnoth-lib/es.po
  po/wesnoth-wc/es.po
  po/wesnoth/es.po
Labels: Translations

TRoW S12: Always give Lord Typhon a storm trident (#6113)
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/12_A_Final_Spring.cfg
Labels: Campaign

TRoW S12: Always give Lord Typhon a storm trident (#6113)
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/12_A_Final_Spring.cfg
Labels: Campaign

gui2/core_selection: Allow links to be parsed in core descriptions
  data/gui/window/core_dialog.cfg
Labels: UI

gui2/core_selection: Allow links to be parsed in core descriptions
  data/gui/window/core_dialog.cfg
Labels: UI

gui2/core_selection: Use a more apropos OK label
  data/gui/window/core_dialog.cfg
Labels: UI

gui2/core_selection: Use a more apropos OK label
  data/gui/window/core_dialog.cfg
Labels: UI

Spanish translation update
  po/wesnoth-help/es.po
  po/wesnoth-wc/es.po
Labels: Translations

Spanish translation update
  po/wesnoth-help/es.po
  po/wesnoth-manpages/es.po
  po/wesnoth-nr/es.po
  po/wesnoth-sota/es.po
  po/wesnoth-sotbe/es.po
  po/wesnoth-trow/es.po
  po/wesnoth-tutorial/es.po
  po/wesnoth-wc/es.po
Labels: Translations

gui2/button: Add definitions for special title screen buttons
  data/gui/widget/button_title_screen_small.cfg
Labels: UI

gui2/title_screen: Increase bottom row margins from 0px to 10px
  data/gui/window/title_screen.cfg
Labels: UI

gui2/title_screen: Give the Language button its label back
  data/gui/window/title_screen.cfg
  src/gui/dialogs/title_screen.cpp
Labels: UI

Use parentheses in English language variation names
  data/languages/en@shaw.cfg
  data/languages/en_GB.cfg
  data/languages/en_US.cfg
Labels: Translations

gui2/button: Add definitions for special title screen buttons
  data/gui/widget/button_title_screen_small.cfg
Labels: UI

gui2/title_screen: Give the Language button its label back
  data/gui/window/title_screen.cfg
  src/gui/dialogs/title_screen.cpp
Labels: UI

gui2/title_screen: Increase bottom row margins from 0px to 10px
  data/gui/window/title_screen.cfg
Labels: UI

Use parentheses in English language variation names
  data/languages/en@shaw.cfg
  data/languages/en_GB.cfg
  data/languages/en_US.cfg
Labels: Translations

Changelog
  changelog.md
Labels: none

Work-around crash situation caused by using scenario-specific tools in map context (closes #5883)
  src/editor/controller/editor_controller.cpp
Labels: Editor

Work-around crash situation caused by using scenario-specific tools in map context (closes #5883)
  src/editor/controller/editor_controller.cpp
Labels: Editor

updated Portuguese (Brazil) translation
  po/wesnoth-did/pt_BR.po
  po/wesnoth-help/pt_BR.po
  po/wesnoth-units/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-did/pt_BR.po
  po/wesnoth-help/pt_BR.po
  po/wesnoth-units/pt_BR.po
Labels: Translations

updated French translation
  po/wesnoth-thot/fr.po
Labels: Translations

updated French translation
  po/wesnoth-thot/fr.po
Labels: Translations

updated British English translation
  changelog.md
  po/wesnoth-did/en_GB.po
  po/wesnoth-dm/en_GB.po
  po/wesnoth-dw/en_GB.po
  po/wesnoth-help/en_GB.po
  po/wesnoth-httt/en_GB.po
  po/wesnoth-lib/en_GB.po
  po/wesnoth-manpages/en_GB.po
  po/wesnoth-manual/en_GB.po
  po/wesnoth-multiplayer/en_GB.po
  po/wesnoth-nr/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-sotbe/en_GB.po
  po/wesnoth-tb/en_GB.po
  po/wesnoth-thot/en_GB.po
  po/wesnoth-tsg/en_GB.po
  po/wesnoth-tutorial/en_GB.po
  po/wesnoth-units/en_GB.po
  po/wesnoth-utbs/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

updated British English translation
  changelog.md
  po/wesnoth-dm/en_GB.po
  po/wesnoth-dw/en_GB.po
  po/wesnoth-httt/en_GB.po
  po/wesnoth-lib/en_GB.po
  po/wesnoth-manpages/en_GB.po
  po/wesnoth-manual/en_GB.po
  po/wesnoth-nr/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-sotbe/en_GB.po
  po/wesnoth-tb/en_GB.po
  po/wesnoth-thot/en_GB.po
  po/wesnoth-tsg/en_GB.po
  po/wesnoth-units/en_GB.po
  po/wesnoth-utbs/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

add Burmese (my) to list of translations
  po/LINGUAS
  po/wesnoth-anl/LINGUAS
  po/wesnoth-did/LINGUAS
  po/wesnoth-dm/LINGUAS
  po/wesnoth-dw/LINGUAS
  po/wesnoth-editor/LINGUAS
  po/wesnoth-ei/LINGUAS
  po/wesnoth-help/LINGUAS
  po/wesnoth-httt/LINGUAS
  po/wesnoth-l/LINGUAS
  po/wesnoth-lib/LINGUAS
  po/wesnoth-low/LINGUAS
  po/wesnoth-manpages/LINGUAS
  po/wesnoth-manpages/wesnoth-manpages.cfg
  po/wesnoth-manual/LINGUAS
  po/wesnoth-manual/wesnoth-manual.cfg
  po/wesnoth-multiplayer/LINGUAS
  po/wesnoth-nr/LINGUAS
  po/wesnoth-sof/LINGUAS
  po/wesnoth-sota/LINGUAS
  po/wesnoth-sotbe/LINGUAS
  po/wesnoth-tb/LINGUAS
  po/wesnoth-thot/LINGUAS
  po/wesnoth-trow/LINGUAS
  po/wesnoth-tsg/LINGUAS
  po/wesnoth-tutorial/LINGUAS
  po/wesnoth-units/LINGUAS
  po/wesnoth-utbs/LINGUAS
  po/wesnoth-wc/LINGUAS
  po/wesnoth/LINGUAS
Labels: Translations

add files for Burmese translation
  data/core/about_i18n.cfg
  data/languages/my_MM.cfg
  po/wesnoth-anl/my.po
  po/wesnoth-did/my.po
  po/wesnoth-dm/my.po
  po/wesnoth-dw/my.po
  po/wesnoth-editor/my.po
  po/wesnoth-ei/my.po
  po/wesnoth-help/my.po
  po/wesnoth-httt/my.po
  po/wesnoth-l/my.po
  po/wesnoth-lib/my.po
  po/wesnoth-low/my.po
  po/wesnoth-manpages/my.po
  po/wesnoth-manual/my.po
  po/wesnoth-multiplayer/my.po
  po/wesnoth-nr/my.po
  po/wesnoth-sof/my.po
  po/wesnoth-sota/my.po
  po/wesnoth-sotbe/my.po
  po/wesnoth-tb/my.po
  po/wesnoth-thot/my.po
  po/wesnoth-trow/my.po
  po/wesnoth-tsg/my.po
  po/wesnoth-tutorial/my.po
  po/wesnoth-units/my.po
  po/wesnoth-utbs/my.po
  po/wesnoth-wc/my.po
  po/wesnoth/my.po
Labels: Translations
