Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Add webp requirement.
  INSTALL.md
Labels: none

Add support for libwebp in Xcode project
  projectfiles/Xcode/Fix_Xcode_Dependencies
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Make MSVC fail when C files generate warnings.
  CMakeLists.txt
Labels: Building, CMake

Make MSVC fail when C files generate warnings.
  CMakeLists.txt
Labels: Building, CMake

Make MSVC fail when C files generate warnings.
  CMakeLists.txt
Labels: Building, CMake

changelog update.
  changelog.md
Labels: none

revision 1 for palisades
  data/core/images/terrain/embellishments/fence-palisade-ne-se-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-sw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se.png
  data/core/images/terrain/embellishments/fence-palisade-ne-sw-01.png
  data/core/images/terrain/embellishments/fence-palisade-ne-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne.png
  data/core/images/terrain/embellishments/fence-palisade-nw-se-01.png
  data/core/images/terrain/embellishments/fence-palisade-nw.png
  data/core/images/terrain/embellishments/fence-palisade-se-nw-01.png
  data/core/images/terrain/embellishments/fence-palisade-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-se.png
  data/core/images/terrain/embellishments/fence-palisade-sw-ne-01.png
  data/core/images/terrain/embellishments/fence-palisade-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-sw.png
Labels: Graphics, Terrain

update codeblock projectfiles
  projectfiles/CodeBlocks/liblua.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

Add wesnoth-map-diff
  .github/workflows/map-diff.yml
  utils/wesnoth-map-diff/.eslintignore
  utils/wesnoth-map-diff/.eslintrc.js
  utils/wesnoth-map-diff/.gitignore
  utils/wesnoth-map-diff/README.md
  utils/wesnoth-map-diff/babel.config.js
  utils/wesnoth-map-diff/jest.config.js
  utils/wesnoth-map-diff/package-lock.json
  utils/wesnoth-map-diff/package.json
  utils/wesnoth-map-diff/setup-jest.d.ts
  utils/wesnoth-map-diff/setup-jest.js
  utils/wesnoth-map-diff/src/images.ts
  utils/wesnoth-map-diff/src/index.ts
  utils/wesnoth-map-diff/src/paint.ts
  utils/wesnoth-map-diff/src/tilemap.ts
  utils/wesnoth-map-diff/src/wml/parser.ts
  utils/wesnoth-map-diff/src/wml/rootByTagName.ts
  utils/wesnoth-map-diff/tests/arbitraries.ts
  utils/wesnoth-map-diff/tests/parser.test.ts
  utils/wesnoth-map-diff/tests/rootByTagName.test.ts
  utils/wesnoth-map-diff/tsconfig-dev.json
  utils/wesnoth-map-diff/tsconfig-prod.json
  utils/wesnoth-map-diff/tsconfig.json
Labels: none

Fix #6389.
  src/addon/state.cpp
Labels: Add-ons

Fix #6389.
  src/addon/state.cpp
Labels: Add-ons

update codeblock projetfiles
  projectfiles/CodeBlocks/liblua.cbp
Labels: Building

update codeblock projetfiles
  projectfiles/CodeBlocks/liblua.cbp
Labels: Building

wesnoth-map-diff: add more detail on readme
  utils/wesnoth-map-diff/README.md
Labels: none

Use the C++ compiler instead of the C compiler.
  src/CMakeLists.txt
Labels: Building, CMake

*^Eqp - update shadows on images and allow portals graphics to recognize the terrain
  data/core/images/terrain/embellishments/fence-palisade-ne-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-sw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se.png
  data/core/images/terrain/embellishments/fence-palisade-ne-sw-01.png
  data/core/images/terrain/embellishments/fence-palisade-ne-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-nw-se-01.png
  data/core/images/terrain/embellishments/fence-palisade-nw.png
  data/core/images/terrain/embellishments/fence-palisade-se-nw-01.png
  data/core/images/terrain/embellishments/fence-palisade-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-se-sw.png
  data/core/images/terrain/embellishments/fence-palisade-se.png
  data/core/images/terrain/embellishments/fence-palisade-sw-ne-01.png
  data/core/images/terrain/embellishments/fence-palisade-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-sw.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

Improve bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

UtBS: Rename ally_name to ally_id for clarity.
  data/campaigns/Under_the_Burning_Suns/scenarios/07a_Dealing_with_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/07b_Talking_with_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/10_Speaking_with_the_Fishes.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/13_Epilogue.cfg
  data/campaigns/Under_the_Burning_Suns/utils/dialog-macros.cfg
Labels: Campaign

wmlscope: recognize webp images
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

wmllint: added conversion rule for maps/background.png to WebP
  data/tools/wmllint
Labels: WML Tools

maps/background.jpg -> maps/background.webp
  data/campaigns/Dead_Water/utils/bigmap.cfg
  data/campaigns/Delfadors_Memoirs/utils/bigmap.cfg
  data/campaigns/Descent_Into_Darkness/utils/bigmap.cfg
  data/campaigns/Eastern_Invasion/utils/bigmap.cfg
  data/campaigns/Heir_To_The_Throne/utils/bigmap.cfg
  data/campaigns/Legend_of_Wesmere/utils/bigmap.cfg
  data/campaigns/Liberty/utils/bigmap.cfg
  data/campaigns/Northern_Rebirth/utils/bigmap.cfg
  data/campaigns/Sceptre_of_Fire/utils/bigmap.cfg
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
  data/campaigns/Son_Of_The_Black_Eye/utils/bigmap.cfg
  data/campaigns/The_Hammer_of_Thursagan/utils/bigmap.cfg
  data/campaigns/The_Rise_Of_Wesnoth/utils/bigmap.cfg
  data/campaigns/The_South_Guard/utils/bigmap.cfg
  data/campaigns/Two_Brothers/utils/bigmap.cfg
  data/campaigns/Winds_of_Fate/utils/bigmap.cfg
Labels: Campaign

wesnoth-map-diff: improve github action code quality
  .github/workflows/map-diff.yml
Labels: none

Used std::any, except on MacOS
  src/formula/variant.cpp
  src/formula/variant.hpp
  src/formula/variant_value.cpp
  src/formula/variant_value.hpp
  src/utils/any.hpp
Labels: WFL

Convert our issue templates into issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/text-typos-or-improvements.md
  .github/ISSUE_TEMPLATE/text-typos-or-improvements.yml
Labels: none

Fix key typo
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

Don't use a string literal in the typo form
  .github/ISSUE_TEMPLATE/text-typos-or-improvements.yml
Labels: none

Marked system info required
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

GAH
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Removed system info field from FR template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

Used proper `__cplusplus` value for C++20
  src/global.hpp
Labels: none

Specify /Zc:__cplusplus for VS
  CMakeLists.txt
Labels: Building, CMake

make Eqf and Eqp play nice
  data/core/terrain-graphics.cfg
Labels: Terrain

try to make barrier fence editor tiles clearer
  data/core/images/terrain/embellishments/fence-iron-tile.png
  data/core/images/terrain/embellishments/fence-palisade-tile.png
Labels: Graphics, Terrain

updated Bulgarian translation
  changelog.md
  po/wesnoth-anl/bg.po
  po/wesnoth-did/bg.po
  po/wesnoth-dm/bg.po
  po/wesnoth-dw/bg.po
  po/wesnoth-editor/bg.po
  po/wesnoth-ei/bg.po
  po/wesnoth-help/bg.po
  po/wesnoth-httt/bg.po
  po/wesnoth-l/bg.po
  po/wesnoth-lib/bg.po
  po/wesnoth-low/bg.po
  po/wesnoth-manpages/bg.po
  po/wesnoth-manual/bg.po
  po/wesnoth-multiplayer/bg.po
  po/wesnoth-nr/bg.po
  po/wesnoth-sof/bg.po
  po/wesnoth-sota/bg.po
  po/wesnoth-sotbe/bg.po
  po/wesnoth-tb/bg.po
  po/wesnoth-thot/bg.po
  po/wesnoth-trow/bg.po
  po/wesnoth-tsg/bg.po
  po/wesnoth-tutorial/bg.po
  po/wesnoth-units/bg.po
  po/wesnoth-utbs/bg.po
  po/wesnoth-wc/bg.po
  po/wesnoth/bg.po
Labels: Translations

updated Bulgarian translation
  changelog.md
  po/wesnoth-anl/bg.po
  po/wesnoth-did/bg.po
  po/wesnoth-dm/bg.po
  po/wesnoth-dw/bg.po
  po/wesnoth-editor/bg.po
  po/wesnoth-ei/bg.po
  po/wesnoth-help/bg.po
  po/wesnoth-httt/bg.po
  po/wesnoth-l/bg.po
  po/wesnoth-lib/bg.po
  po/wesnoth-low/bg.po
  po/wesnoth-manpages/bg.po
  po/wesnoth-manual/bg.po
  po/wesnoth-multiplayer/bg.po
  po/wesnoth-nr/bg.po
  po/wesnoth-sof/bg.po
  po/wesnoth-sota/bg.po
  po/wesnoth-sotbe/bg.po
  po/wesnoth-tb/bg.po
  po/wesnoth-thot/bg.po
  po/wesnoth-trow/bg.po
  po/wesnoth-tsg/bg.po
  po/wesnoth-tutorial/bg.po
  po/wesnoth-units/bg.po
  po/wesnoth-utbs/bg.po
  po/wesnoth-wc/bg.po
  po/wesnoth/bg.po
Labels: Translations

minor shadow/blending update
  data/core/images/terrain/embellishments/fence-palisade-ne-nw.png
Labels: Graphics, Terrain

minor shadow/blending update - missed a couple files
  data/core/images/terrain/embellishments/fence-palisade-ne.png
  data/core/images/terrain/embellishments/fence-palisade-nw.png
Labels: Graphics, Terrain

palisade-chasm transition
  data/core/images/terrain/embellishments/fence-palisade-chasm-ne.png
  data/core/images/terrain/embellishments/fence-palisade-chasm-nw.png
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

Fix errors in test scenario
  data/test/scenarios/overlay_text_demo.cfg
Labels: Unit Tests

Remove offset keys from [print]
  data/lua/wml-tags.lua
  data/schema/core/actionwml.cfg
Labels: Lua API, Schema
