Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

updated Indonesian translation
  changelog.md
  po/wesnoth-tutorial/id.po
Labels: Translations

updated Russian translation
  po/wesnoth-editor/ru.po
  po/wesnoth-help/ru.po
  po/wesnoth-lib/ru.po
  po/wesnoth-multiplayer/ru.po
  po/wesnoth-tb/ru.po
  po/wesnoth-thot/ru.po
  po/wesnoth-tutorial/ru.po
  po/wesnoth-utbs/ru.po
  po/wesnoth/ru.po
Labels: Translations

updated Russian translation
  po/wesnoth-editor/ru.po
  po/wesnoth-help/ru.po
  po/wesnoth-lib/ru.po
  po/wesnoth-multiplayer/ru.po
  po/wesnoth-tb/ru.po
  po/wesnoth-thot/ru.po
  po/wesnoth-tutorial/ru.po
  po/wesnoth-utbs/ru.po
  po/wesnoth/ru.po
Labels: Translations

updated Turkish translation
  po/wesnoth-low/tr.po
  po/wesnoth/tr.po
Labels: Translations

updated Turkish translation
  po/wesnoth-low/tr.po
  po/wesnoth/tr.po
Labels: Translations

HttT: add gendered variants to item pickup prompts
  data/campaigns/Heir_To_The_Throne/scenarios/20b_Underground_Channels.cfg
  data/campaigns/Heir_To_The_Throne/utils/httt_utils.cfg
Labels: Campaign

ophidian ranged anim
  data/core/images/units/nagas/ophidian-defend2.png
  data/core/images/units/nagas/ophidian-jarid-1.png
  data/core/images/units/nagas/ophidian-jarid-2.png
  data/core/images/units/nagas/ophidian-jarid-3.png
  data/core/images/units/nagas/ophidian-jarid-4.png
  data/core/images/units/nagas/ophidian-jarid-5.png
  data/core/images/units/nagas/ophidian-jarid-6.png
  data/core/images/units/nagas/ophidian-jarid-7.png
  data/core/units/nagas/Ophidian.cfg
Labels: Graphics, Units

1.15.16.
  Doxyfile
  changelog.md
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS

1.15.16+dev.
  Doxyfile
  changelog.md
  src/wesconfig.h
Labels: none

Fixup changelog header.
  changelog.md
Labels: none

ophidian melee anim
  data/core/images/units/nagas/ophidian-melee1.png
  data/core/images/units/nagas/ophidian-melee2.png
  data/core/images/units/nagas/ophidian-melee3.png
  data/core/images/units/nagas/ophidian-melee4.png
  data/core/images/units/nagas/ophidian-melee5.png
  data/core/images/units/nagas/ophidian-melee6.png
  data/core/images/units/nagas/ophidian-melee7.png
  data/core/units/nagas/Ophidian.cfg
Labels: Graphics, Units

ran woptipng on ophidian
  data/core/images/units/nagas/ophidian-defend1.png
  data/core/images/units/nagas/ophidian-defend2.png
  data/core/images/units/nagas/ophidian-jarid-1.png
  data/core/images/units/nagas/ophidian-jarid-2.png
  data/core/images/units/nagas/ophidian-jarid-3.png
  data/core/images/units/nagas/ophidian-jarid-4.png
  data/core/images/units/nagas/ophidian-jarid-5.png
  data/core/images/units/nagas/ophidian-jarid-6.png
  data/core/images/units/nagas/ophidian-jarid-7.png
  data/core/images/units/nagas/ophidian-melee1.png
  data/core/images/units/nagas/ophidian-melee2.png
  data/core/images/units/nagas/ophidian-melee3.png
  data/core/images/units/nagas/ophidian-melee4.png
  data/core/images/units/nagas/ophidian-melee5.png
  data/core/images/units/nagas/ophidian-melee6.png
  data/core/images/units/nagas/ophidian-melee7.png
  data/core/images/units/nagas/ophidian.png
Labels: Graphics, Units

naga sprite animations (#6027)
  data/core/images/units/nagas/ophidian-defend1.png
  data/core/images/units/nagas/ophidian-defend2.png
  data/core/images/units/nagas/ophidian-jarid-1.png
  data/core/images/units/nagas/ophidian-jarid-2.png
  data/core/images/units/nagas/ophidian-jarid-3.png
  data/core/images/units/nagas/ophidian-jarid-4.png
  data/core/images/units/nagas/ophidian-jarid-5.png
  data/core/images/units/nagas/ophidian-jarid-6.png
  data/core/images/units/nagas/ophidian-jarid-7.png
  data/core/images/units/nagas/ophidian-melee1.png
  data/core/images/units/nagas/ophidian-melee2.png
  data/core/images/units/nagas/ophidian-melee3.png
  data/core/images/units/nagas/ophidian-melee4.png
  data/core/images/units/nagas/ophidian-melee5.png
  data/core/images/units/nagas/ophidian-melee6.png
  data/core/images/units/nagas/ophidian-melee7.png
  data/core/images/units/nagas/ophidian.png
  data/core/units/nagas/Ophidian.cfg
Labels: Graphics, Units

WC: End the campaign at the end of the final scenario
  data/campaigns/World_Conquest/lua/map/scenario_utils/plot.lua
Labels: Campaign

Lua: Fix deprecated end_text references in core
  data/lua/wml/endlevel.lua
Labels: Lua API

WC: End the campaign at the end of the final scenario
  data/campaigns/World_Conquest/lua/map/scenario_utils/plot.lua
Labels: Campaign

WC: End the campaign at the end of the final scenario
  data/campaigns/World_Conquest/lua/map/scenario_utils/plot.lua
Labels: Campaign

WC: End the campaign at the end of the final scenario
  data/campaigns/World_Conquest/lua/map/scenario_utils/plot.lua
Labels: Campaign

UtBS S02: Don't move Nym if she's already adjacent to the bottle
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

UtBS S02: Don't move Nym if she's already adjacent to the bottle
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

UtBS S02: Don't move Nym if she's already adjacent to the bottle
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

UtBS S02: Don't move Nym if she's already adjacent to the bottle
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

updated German translation
  po/wesnoth-tutorial/de.po
Labels: Translations

lower isolated pine trees within image
  data/core/images/terrain/forest/pine-sparse2.png
  data/core/images/terrain/forest/pine.png
  data/core/images/terrain/forest/pine2.png
  data/core/images/terrain/forest/snow-forest-sparse.png
  data/core/images/terrain/forest/snow-forest-sparse2.png
  data/core/images/terrain/forest/snow-forest.png
  data/core/images/terrain/forest/snow-forest2.png
Labels: Graphics, Terrain

updated British English translation
  changelog.md
  po/wesnoth/en_GB.po
Labels: Translations

updated Polish translation
  po/wesnoth-lib/pl.po
  po/wesnoth/pl.po
Labels: Translations

updated Polish translation
  changelog.md
  po/wesnoth-lib/pl.po
  po/wesnoth/pl.po
Labels: Translations

Fix an off-by-one in mapgen's x and y filters, and add unit tests
  data/test/scenarios/lua_map_find.cfg
  data/test/scenarios/mapgen_filter.cfg
  src/scripting/lua_terrainfilter.cpp
  wml_test_schedule
Labels: Lua API, Unit Tests

[world conquest] enclose wc2_start_units function inside if condition
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
Labels: Campaign

[world conquest] enclose wc2_start_units function inside if condition
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
Labels: Campaign

update naga sicarius
  data/core/images/attacks/trishula.png
  data/core/images/units/nagas/sicarius.png
  data/core/units/nagas/Sicarius.cfg
Labels: Graphics, Units

Revert "When writing WML, output preprocessor-safe strings"
  src/serialization/parser.cpp
Labels: none

Revert "When writing WML, output preprocessor-safe strings"
  src/serialization/parser.cpp
Labels: none

woptipng
  data/core/images/attacks/trishula.png
  data/core/images/units/nagas/sicarius.png
Labels: Graphics, Units

minimal animations for naga sicarius
  data/core/images/units/nagas/sicarius-defend1.png
  data/core/images/units/nagas/sicarius-defend2.png
  data/core/units/nagas/Sicarius.cfg
Labels: Graphics, Units

[world conquest] moved an if condition outside the for loop
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
Labels: Campaign

[world conquest] moved an if condition outside the for loop
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
Labels: Campaign

[world conquest] [master] [lua] Check for wc2_scenario value before executing wc2_start_units function (#6052)
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
Labels: Campaign

[world conquest] [1.16] [lua] Check for wc2_scenario value before executing wc2_start_units function (#6053)
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
Labels: Campaign

initial attempt at applying patches from my repo
  data/campaigns/Northern_Rebirth/maps/02_01_Infested_Caves.map.rej
  data/campaigns/Northern_Rebirth/maps/05a_01_The_Pursuit.map
  data/campaigns/Northern_Rebirth/maps/07a_Settling_Disputes.map.rej
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg.rej
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
  data/campaigns/Northern_Rebirth/scenarios/05a_02_Dealings.cfg
  data/campaigns/Northern_Rebirth/scenarios/06a_Old_Friend.cfg
  data/campaigns/Northern_Rebirth/scenarios/07a_Settling_Disputes.cfg
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg.rej
  data/campaigns/Northern_Rebirth/scenarios/09a_Introductions.cfg
  data/campaigns/Northern_Rebirth/scenarios/10a_Stolen_Gold.cfg
  data/campaigns/Northern_Rebirth/scenarios/10a_Stolen_Gold.cfg.rej
  data/campaigns/Northern_Rebirth/scenarios/11a_The_Eastern_Flank.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Campaign

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
