Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

spaces to tab
  src/map_command_handler.hpp
Labels: none

boss mai: updated menu item id
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

boss mai: added link to test scenario from micro ai scenario lobby
  data/ai/micro_ais/scenarios/scenario_micro_ai.cfg
Labels: AI

boss mai: fixed typos
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

boss_mai: add next_scenario= value
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

world conquest: fix for hp glitch when picking up items
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
Labels: Campaign

world conquest: fix for hp glitch when picking up items
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
Labels: Campaign

New implementation
  src/map_command_handler.hpp
Labels: none

WoF S3: fixed a typo
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
Labels: Campaign

world conquest: update changelog on HP vanishing bug fix
  changelog.md
Labels: none

update modding instructions
  data/campaigns/World_Conquest/MODDING.txt
Labels: Campaign

Shouldn't have backported this line.
  CMakeLists.txt
Labels: Building, CMake

Merge if statements
  src/map_command_handler.hpp
Labels: none

This should be optional.
  CMakeLists.txt
Labels: Building, CMake

S5 and S9 small dialog change
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

S6 change semicolon to period
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
Labels: Campaign

S9 change semicolon to exclamation
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

boss mai: update labels
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

display a warning message if part[1] is missing mention of the id key related to [race] or [era]
  src/help/help_impl.cpp
Labels: Help

display a warning message if part[1] is missing mention of the id key related to [race] or [era]
  src/help/help_impl.cpp
Labels: Help

Fixes #5036: Improve warning message
  src/help/help_impl.cpp
Labels: Help

HttT S04, S05b & S06 Role code enhancement (#6436)
  data/campaigns/Heir_To_The_Throne/scenarios/04_The_Bay_of_Pearls.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/06_The_Siege_of_Elensefar.cfg
Labels: Campaign

updated British English translation
  changelog.md
  po/wesnoth-dm/en_GB.po
  po/wesnoth-help/en_GB.po
  po/wesnoth-l/en_GB.po
  po/wesnoth-lib/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-sota/en_GB.po
  po/wesnoth-trow/en_GB.po
  po/wesnoth-units/en_GB.po
  po/wesnoth-utbs/en_GB.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-dm/it.po
  po/wesnoth-help/it.po
  po/wesnoth-l/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-sof/it.po
  po/wesnoth-sota/it.po
  po/wesnoth-trow/it.po
  po/wesnoth-units/it.po
  po/wesnoth-utbs/it.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-dm/it.po
  po/wesnoth-help/it.po
  po/wesnoth-l/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-sof/it.po
  po/wesnoth-sota/it.po
  po/wesnoth-trow/it.po
  po/wesnoth-units/it.po
  po/wesnoth-utbs/it.po
Labels: Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-help/pt_BR.po
  po/wesnoth-sof/pt_BR.po
  po/wesnoth-thot/pt_BR.po
  po/wesnoth-tutorial/pt_BR.po
  po/wesnoth-units/pt_BR.po
  po/wesnoth-wc/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-help/pt_BR.po
  po/wesnoth-sof/pt_BR.po
  po/wesnoth-thot/pt_BR.po
  po/wesnoth-tutorial/pt_BR.po
  po/wesnoth-units/pt_BR.po
  po/wesnoth-wc/pt_BR.po
Labels: Translations

fix layering issue with lizard tail
  data/core/units/monsters/Crocodile.cfg
Labels: Units

Add a "special notes" section to terrain help pages
  src/help/help_topic_generators.cpp
Labels: Help

basic ne animations for croc
  data/core/images/units/monsters/croc/crocodile-float-ne-defend1.png
  data/core/images/units/monsters/croc/crocodile-float-ne-defend2.png
  data/core/images/units/monsters/croc/crocodile-float-ne.png
  data/core/images/units/monsters/croc/crocodile-float.png
  data/core/images/units/monsters/croc/crocodile-ne-defend1.png
  data/core/images/units/monsters/croc/crocodile-ne-defend2.png
  data/core/images/units/monsters/croc/crocodile-ne.png
  data/core/units/monsters/Crocodile.cfg
Labels: Graphics, Units

update sea-serpent attack icon
  data/core/units/monsters/Sea_Serpent.cfg
Labels: Units

Fixes #5036: Improve warning message
  src/help/help_impl.cpp
Labels: Help

ne attack anim for croc
  data/core/images/units/monsters/croc/crocodile-ne-attack1.png
  data/core/images/units/monsters/croc/crocodile-ne-attack2.png
  data/core/images/units/monsters/croc/crocodile-ne-attack3.png
  data/core/images/units/monsters/croc/crocodile-ne-attack4.png
  data/core/images/units/monsters/croc/crocodile-ne-attack5.png
  data/core/images/units/monsters/croc/crocodile-ne-attack6.png
  data/core/units/monsters/Crocodile.cfg
Labels: Graphics, Units

wmlindent
  data/core/units/monsters/Crocodile.cfg
Labels: Units

some adjustments to croc ne attack anim
  data/core/images/units/monsters/croc/crocodile-ne-attack1.png
  data/core/images/units/monsters/croc/crocodile-ne-attack2.png
  data/core/images/units/monsters/croc/crocodile-ne-attack3.png
  data/core/images/units/monsters/croc/crocodile-ne-attack4.png
  data/core/images/units/monsters/croc/crocodile-ne-attack5.png
  data/core/images/units/monsters/croc/crocodile-ne-attack6.png
  data/core/units/monsters/Crocodile.cfg
Labels: Graphics, Units

1.16 - various small sprite updates (#6452)
  data/core/images/units/monsters/croc/crocodile-float-ne-defend1.png
  data/core/images/units/monsters/croc/crocodile-float-ne-defend2.png
  data/core/images/units/monsters/croc/crocodile-float-ne.png
  data/core/images/units/monsters/croc/crocodile-float.png
  data/core/images/units/monsters/croc/crocodile-ne-attack1.png
  data/core/images/units/monsters/croc/crocodile-ne-attack2.png
  data/core/images/units/monsters/croc/crocodile-ne-attack3.png
  data/core/images/units/monsters/croc/crocodile-ne-attack4.png
  data/core/images/units/monsters/croc/crocodile-ne-attack5.png
  data/core/images/units/monsters/croc/crocodile-ne-attack6.png
  data/core/images/units/monsters/croc/crocodile-ne-defend1.png
  data/core/images/units/monsters/croc/crocodile-ne-defend2.png
  data/core/images/units/monsters/croc/crocodile-ne.png
  data/core/units/monsters/Crocodile.cfg
  data/core/units/monsters/Sea_Serpent.cfg
  data/core/units/monsters/Water_Serpent.cfg
Labels: Graphics, Units

1.16 - various small sprite updates (#6452)
  data/core/images/units/monsters/croc/crocodile-float-ne-defend1.png
  data/core/images/units/monsters/croc/crocodile-float-ne-defend2.png
  data/core/images/units/monsters/croc/crocodile-float-ne.png
  data/core/images/units/monsters/croc/crocodile-float.png
  data/core/images/units/monsters/croc/crocodile-ne-attack1.png
  data/core/images/units/monsters/croc/crocodile-ne-attack2.png
  data/core/images/units/monsters/croc/crocodile-ne-attack3.png
  data/core/images/units/monsters/croc/crocodile-ne-attack4.png
  data/core/images/units/monsters/croc/crocodile-ne-attack5.png
  data/core/images/units/monsters/croc/crocodile-ne-attack6.png
  data/core/images/units/monsters/croc/crocodile-ne-defend1.png
  data/core/images/units/monsters/croc/crocodile-ne-defend2.png
  data/core/images/units/monsters/croc/crocodile-ne.png
  data/core/units/monsters/Crocodile.cfg
  data/core/units/monsters/Sea_Serpent.cfg
  data/core/units/monsters/Water_Serpent.cfg
Labels: Graphics, Units

add tooltip to unit_attack dialogs
  data/gui/widget/window_tooltip_large.cfg
  data/gui/window/tooltip_floating.cfg
  data/gui/window/unit_attack.cfg
  src/gui/dialogs/unit_attack.cpp
  src/units/abilities.cpp
  src/units/attack_type.hpp
Labels: UI, Units

Show team village owner name when hovering
  src/reports.cpp
  src/terrain/terrain.cpp
  src/terrain/terrain.hpp
Labels: Terrain

Add /clear chat command
  src/chat_command_handler.cpp
  src/chat_command_handler.hpp
Labels: none
