Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

remove std:move inuse
  src/units/abilities.cpp
Labels: Units

use check_self/adj_abilities_impl function to exlude "leadership" tags
  src/units/abilities.cpp
Labels: Units

fix abilities name don't appear for affect_self
  src/units/abilities.cpp
Labels: Units

Fix a bunch of compiler warnings
  src/units/abilities.cpp
Labels: Units

update codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

add the names of the abilities used as weapons in the attack prediction window
  changelog.md
  src/units/abilities.cpp
Labels: Units

use check_self/adj_abilities_impl function to exlude "leadership" tags
  src/units/abilities.cpp
Labels: Units

remove std:move inuse
  src/units/abilities.cpp
Labels: Units

fix abilities name don't appear for affect_self
  src/units/abilities.cpp
Labels: Units

update codeblock for 1.16
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

Tutorial S01: Don't let the first Quintain attack on turn 2
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Campaign

update codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

update codeblock for 1.16
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

1.15.15.
  Doxyfile
  changelog.md
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS

1.15.15+dev.
  Doxyfile
  changelog.md
  src/wesconfig.h
Labels: none

two-frame defense anim for troll warrior
  data/core/images/units/trolls/warrior-defend.png
  data/core/images/units/trolls/warrior-defend2.png
  data/core/units/trolls/Warrior.cfg
Labels: Graphics, Units

add braces to lines 868 and 886
  src/units/abilities.cpp
Labels: Units

add braces
  src/units/abilities.cpp
Labels: Units

ran woptipng.py
  data/core/images/units/trolls/grunt-defend.png
  data/core/images/units/trolls/grunt-defend2.png
  data/core/images/units/trolls/lobber-defend.png
  data/core/images/units/trolls/lobber-defend2.png
  data/core/images/units/trolls/shaman-ranged-2.png
  data/core/images/units/trolls/shaman-ranged-3.png
  data/core/images/units/trolls/shaman.png
  data/core/images/units/trolls/troll-hero-attack-ne-3.png
  data/core/images/units/trolls/troll-hero-attack-ne-4.png
  data/core/images/units/trolls/troll-hero-attack-ne-5.png
  data/core/images/units/trolls/troll-hero-attack-ne-6.png
  data/core/images/units/trolls/troll-hero-attack-s-4.png
  data/core/images/units/trolls/troll-hero-attack-s-5.png
  data/core/images/units/trolls/troll-hero-attack-s-6.png
  data/core/images/units/trolls/troll-hero-attack-se-2.png
  data/core/images/units/trolls/troll-hero-attack-se-4.png
  data/core/images/units/trolls/troll-hero-attack-se-5.png
  data/core/images/units/trolls/troll-hero-attack-se-6.png
  data/core/images/units/trolls/warrior-defend.png
  data/core/images/units/trolls/warrior-defend2.png
  data/core/images/units/trolls/whelp-attack-1.png
  data/core/images/units/trolls/whelp-idle-1.png
  data/core/images/units/trolls/whelp-idle-2.png
  data/core/images/units/trolls/whelp-ne-defend-2.png
  data/core/images/units/trolls/whelp-ne-defend-3.png
  data/core/images/units/trolls/whelp-ne-defend.png
  data/core/images/units/trolls/whelp-ne-idle-1.png
  data/core/images/units/trolls/whelp-ne-idle-2.png
  data/core/images/units/trolls/whelp-ne-idle-3.png
  data/core/images/units/trolls/whelp-ne-idle-4.png
  data/core/images/units/trolls/whelp-ne-idle-5.png
  data/core/images/units/trolls/whelp-ne-idle-6.png
  data/core/images/units/trolls/whelp-ne.png
  data/core/images/units/trolls/whelp.png
Labels: Graphics, Units

optional_reference: fix documentation
  src/utils/optional_reference.hpp
Labels: none

Used optional references in MP connection code
  src/game_initialization/multiplayer.cpp
Labels: none

1.16 - Troll defense animations (#5964)
  data/core/images/units/trolls/grunt-defend.png
  data/core/images/units/trolls/grunt-defend2.png
  data/core/images/units/trolls/lobber-defend.png
  data/core/images/units/trolls/lobber-defend2.png
  data/core/images/units/trolls/shaman-ranged-2.png
  data/core/images/units/trolls/shaman-ranged-3.png
  data/core/images/units/trolls/shaman.png
  data/core/images/units/trolls/troll-hero-attack-ne-3.png
  data/core/images/units/trolls/troll-hero-attack-ne-4.png
  data/core/images/units/trolls/troll-hero-attack-ne-5.png
  data/core/images/units/trolls/troll-hero-attack-ne-6.png
  data/core/images/units/trolls/troll-hero-attack-s-4.png
  data/core/images/units/trolls/troll-hero-attack-s-5.png
  data/core/images/units/trolls/troll-hero-attack-s-6.png
  data/core/images/units/trolls/troll-hero-attack-se-2.png
  data/core/images/units/trolls/troll-hero-attack-se-4.png
  data/core/images/units/trolls/troll-hero-attack-se-5.png
  data/core/images/units/trolls/troll-hero-attack-se-6.png
  data/core/images/units/trolls/warrior-defend.png
  data/core/images/units/trolls/warrior-defend2.png
  data/core/images/units/trolls/whelp-attack-1.png
  data/core/images/units/trolls/whelp-idle-1.png
  data/core/images/units/trolls/whelp-idle-2.png
  data/core/images/units/trolls/whelp-ne-defend-2.png
  data/core/images/units/trolls/whelp-ne-defend-3.png
  data/core/images/units/trolls/whelp-ne-defend.png
  data/core/images/units/trolls/whelp-ne-idle-1.png
  data/core/images/units/trolls/whelp-ne-idle-2.png
  data/core/images/units/trolls/whelp-ne-idle-3.png
  data/core/images/units/trolls/whelp-ne-idle-4.png
  data/core/images/units/trolls/whelp-ne-idle-5.png
  data/core/images/units/trolls/whelp-ne-idle-6.png
  data/core/images/units/trolls/whelp-ne.png
  data/core/images/units/trolls/whelp.png
  data/core/units/trolls/Rocklobber.cfg
  data/core/units/trolls/Troll.cfg
  data/core/units/trolls/Warrior.cfg
Labels: Graphics, Units

Title screen: move "change language" back to the text-button area
  data/gui/window/title_screen.cfg
Labels: UI

Tutorial S01: Don't let the first Quintain attack on turn 2
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Campaign

Tutorial S01: Don't let the first Quintain attack on turn 2
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Campaign

Tutorial S01: Don't let the first Quintain attack on turn 2
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Campaign

Clean up gate unit
  data/campaigns/Winds_of_Fate/units/Gates.cfg
Labels: Campaign, Units

Rename file since there is only one gate now
  data/campaigns/Winds_of_Fate/units/Gate.cfg
Labels: Campaign, Units

Remove duplicate of TRoW story image
  data/campaigns/Winds_of_Fate/images/story/trow_intro_02.jpg
  data/campaigns/Winds_of_Fate/scenarios/06x_Winds_of_Fate.cfg
Labels: Campaign, Graphics

Improve attack animations
  data/campaigns/Winds_of_Fate/units/Caravel.cfg
  data/campaigns/Winds_of_Fate/units/Outrigger.cfg
  data/campaigns/Winds_of_Fate/units/Stymphalian.cfg
Labels: Campaign, Units

Preferences: fixed border sizing in MP section
  data/gui/window/preferences/05_multiplayer.cfg
Labels: UI

Wesnothd Connection: time out after 1 minute waiting for handshake
  src/wesnothd_connection.cpp
Labels: none

MP Staging: used std::invoke instead of raw function pointers
  src/gui/dialogs/multiplayer/mp_staging.cpp
Labels: UI

GUI2/Chatbox: used config::optional_child
  src/gui/widgets/chatbox.cpp
Labels: UI

Replaced std::lock_guard with std::scoped_lock
  src/gettext.cpp
  src/gui/core/timer.cpp
  src/log.cpp
  src/wesnothd_connection.cpp
Labels: UI

Typo fix.
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/03_A_Harrowing_Escape.cfg
Labels: Campaign

Cleaned up unused chat rooms handling
  src/chat_events.cpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
Labels: UI

add the names of the abilities used as weapons in the attack prediction window (#5864)
  changelog.md
  src/units/abilities.cpp
Labels: Units

Removed command handlers related to rooms
  src/chat_command_handler.cpp
  src/chat_command_handler.hpp
Labels: none

add the names of the abilities used as weapons in the attack prediction window(UI) for 1.16 (#5951)
  changelog.md
  src/units/abilities.cpp
Labels: Units

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
