Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

revert https://github.com/wesnoth/wesnoth/commit/eb6eb7d9627a219ea404297835a7f3c4345caa8a
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/utils/characters.cfg
Labels: Campaign

update changelog
  changelog.md
Labels: none

whitespace fix
  changelog.md
Labels: none

Updated changelog for 1.16
  changelog.md
Labels: none

More 1.16 changes and proper indent
  changelog.md
Labels: none

Indentation
  changelog.md
Labels: none

Typo
  changelog.md
Labels: none

Typo
  changelog.md
Labels: none

Update 1.16 Changelog with my backported PRs (#6366)
  changelog.md
Labels: none

Update changelog with my master PRs (#6367)
  changelog.md
Labels: none

Fixed weird ai behaviour
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

edited comment to be more precise
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Look at the blown charges and make sure no units get stuck
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Fixed wrong WML
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Added changelog entries
  changelog.md
Labels: none

Added changes to changelog
  changelog.md
Labels: none

added 2 generalized macros for advancements
  data/core/macros/optional_unit_advancements.cfg
Labels: none

run wmlindent
  data/core/macros/optional_unit_advancements.cfg
Labels: none

Turn rebels into loyal units instead of just having zero upkeep costs for the scenario.
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Campaign

Update change log.
  changelog.md
Labels: none

fix Did advancement (#6359)
  data/campaigns/Descent_Into_Darkness/_main.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/utils/characters.cfg
Labels: Campaign

fix advancement for Darken Volk (#6358)
  data/campaigns/Descent_Into_Darkness/_main.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/utils/characters.cfg
Labels: Campaign

UtBS S9: Turn rebels into loyal units (#6371)
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Campaign

Update change log.
  changelog.md
Labels: none

UtBS S9: Turn rebels into loyal units (#6371)
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Campaign

Update change log.
  changelog.md
Labels: none

correction to testing
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
Labels: Unit Tests

fix testing
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
Labels: Unit Tests

Update changelog (including other people's changes)
  changelog.md
Labels: none

Remove the nonfunctional "title screen tutorial" hotkey
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
Labels: none

Remove the default binding for the "title screen tutorial" hotkey
  data/core/hotkeys.cfg
Labels: Input

update all existing optional advancements to generalized macro
  data/core/macros/optional_unit_advancements.cfg
Labels: none

fixed a typo in an optional advancement macro
  data/core/macros/optional_unit_advancements.cfg
Labels: none

UtBS S06b Fixed weird scout AI behaviour (#6368)
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

UtBS S06b Look at the blown charges and make sure no units get stuck (#6369)
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

UtBS S06b Look at the blown charges and make sure no units get stuck (#6369)
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

UtBS S06b Fixed weird scout AI behaviour (#6368)
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Add [terrain_type] to the list of top-level tags.
  src/game_config_manager.cpp
Labels: none

Remove the nonfunctional "title screen tutorial" hotkey and binding
  data/core/hotkeys.cfg
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
Labels: Input

Remove the nonfunctional "title screen tutorial" hotkey and binding
  data/core/hotkeys.cfg
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
Labels: Input

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
