Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Update Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Update Xcode project
  projectfiles/Xcode/Resources/SDLMain.nib/designable.nib
  projectfiles/Xcode/Resources/SDLMain.nib/keyedobjects.nib
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

other simplification for readibility
  src/actions/attack.cpp
  src/ai/default/aspect_attacks.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: AI, Units

EI S07b: Wake the sea creatures with noise instead of magic
  data/campaigns/Eastern_Invasion/scenarios/07b_Undead_Crossing.cfg
  data/campaigns/Eastern_Invasion/sounds/gate-fall.ogg
Labels: Audio, Campaign

Update changelog for EI changes
  changelog.md
Labels: none

Patrol Micro AI: add two optional parameters
  data/ai/micro_ais/cas/ca_patrol.lua
  data/ai/micro_ais/mai-defs/patrol.lua
Labels: AI

LoW The Chief Must Die: replace Formula AI with Micro AI
  data/campaigns/Legend_of_Wesmere/scenarios/chapter4/16_The_Chief_Must_Die.cfg
Labels: Campaign

Add new Micro AI parameters to schema and emacs_mode
  data/schema/core/actionwml.cfg
  data/tools/emacs_mode/wesnoth-wml-data.el
Labels: Schema, WML Tools

revert last modification and use specials_and_abilities in name of global function
  src/actions/attack.cpp
  src/gui/dialogs/attack_predictions.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: UI, Units

fix a forget in attack.cpp
  src/actions/attack.cpp
Labels: none

Remove MP dev (debug) AIs
  data/ai/dev/formula_ai.cfg
  data/ai/dev/formula_ai_poisoning.cfg
Labels: AI

Remove Home Guardian Formula AI from Guardians test scenario
  data/ai/micro_ais/scenarios/guardians.cfg
Labels: AI

initial addition of rock scorpion
  data/core/images/units/monsters/scorpion/rock-scorpion.png
  data/core/units/monsters/Rock_Scorpion.cfg
Labels: Graphics, Units

Remove Formula AI lurkers from Lurkers test scenario
  data/ai/micro_ais/scenarios/lurkers.cfg
Labels: AI

Swarm Micro AI: add optional parameter [filter]
  data/ai/micro_ais/cas/ca_swarm_move.lua
  data/ai/micro_ais/cas/ca_swarm_scatter.lua
  data/ai/micro_ais/mai-defs/animals.lua
  data/ai/micro_ais/scenarios/swarm.cfg
Labels: AI

Add Swarm Micro AI [filter] tag to schema
  data/schema/core/actionwml.cfg
Labels: Schema

pofix: 1.14 announcement rules for 1.14.16
  utils/pofix.py
Labels: none

pofix: 1.14 announcement rules for 1.14.16
  utils/pofix.py
Labels: none

Remove obsolete FindSDL2_ttf cmake module
  cmake/FindSDL2_ttf.cmake
Labels: Building, CMake

Remove obsolete FindSDL2_ttf cmake module
  cmake/FindSDL2_ttf.cmake
Labels: Building, CMake

Update changelog for EI changes
  changelog.md
Labels: none

EI S07b: Wake the sea creatures with noise instead of magic
  data/campaigns/Eastern_Invasion/scenarios/07b_Undead_Crossing.cfg
  data/campaigns/Eastern_Invasion/sounds/gate-fall.ogg
Labels: Audio, Campaign

WFL: Prevent a crash if an object is destroyed before the formula is finished with it
  src/formula/variant.cpp
Labels: WFL

Lurker FAI: map(x, self) is exactly the same as just self
  data/ai/micro_ais/engines/lurker_moves.fai
Labels: AI

Fix a misleading (and grammatically poor) log message
  src/formula/debugger.cpp
Labels: WFL

Update 17c_Troll_Hole.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/17c_Troll_Hole.cfg
Labels: Campaign

Show deprecation warnings ingame on the dev branch.
  src/deprecation.cpp
Labels: none

ui: Remove orphaned references to the zoom slider
  data/themes/_initial.cfg
Labels: UI

ui: Remove unused zoom slider portion of the minimap panel
  data/core/images/themes/classic/minimap.png
  data/themes/_initial.cfg
Labels: Graphics, UI

ui: Claim back unused space from the 800 px minimap theme
  data/core/images/themes/classic/minimap-800.png
  data/themes/_initial.cfg
Labels: Graphics, UI

Fixup migration to wesnoth.map module
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/engine.lua
Labels: Campaign

TSG S05: Fix Urza's upkeep when taking the bandit branch
  data/campaigns/The_South_Guard/scenarios/05_Choice_In_The_Fog.cfg
Labels: Campaign

Add and use is_dev_version() to version_info.
  src/deprecation.cpp
  src/game_version.cpp
  src/game_version.hpp
Labels: none

rename get_..._bool method to has_.. method
  src/actions/attack.cpp
  src/ai/default/aspect_attacks.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: AI, Units

rename has_special_and_abilities to has_special_or_abilities
  src/actions/attack.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: Units

UtBS S01: Spawn the mystics on the island, not in the lake
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
Labels: Campaign

fix bug in overwrite_specials
  src/units/abilities.cpp
Labels: Units

change has_special_and_abilities to has_special_and_ability
  src/actions/attack.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: Units

git-subtree like tool for exporting campaigns
  utils/git_export_campaign
Labels: none

Unit tests for [effect]apply_to=movement and [effect]apply_to=vision
  data/test/scenarios/test_effect_on_vision.cfg
  wml_test_schedule
Labels: Unit Tests

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
