Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Resolve #6019 - allied side not triggering failure condition when sighted
  changelog.md
  data/campaigns/Liberty/scenarios/06_The_Hunters.cfg
Labels: Campaign

Resolve #6019 - allied side not triggering failure condition when sighted
  changelog.md
  data/campaigns/Liberty/scenarios/06_The_Hunters.cfg
Labels: Campaign

revised naga ophidian sprite, and adding defense animation
  data/core/images/units/nagas/ophidian-defend1.png
  data/core/images/units/nagas/ophidian-defend2.png
  data/core/images/units/nagas/ophidian.png
  data/core/units/nagas/Ophidian.cfg
Labels: Graphics, Units

Include optional arguments in preprocess-output-macros file
  src/serialization/preprocessor.cpp
  src/serialization/preprocessor.hpp
Labels: none

When writing WML, output preprocessor-safe strings
  src/serialization/parser.cpp
Labels: none

Include deprecation info in preprocess-output-macros file
  src/serialization/preprocessor.cpp
Labels: none

Make optional_reference bool conversion explicit
  src/utils/optional_reference.hpp
Labels: none

fix whitespace
  src/serialization/preprocessor.cpp
Labels: none

Add a deprecation message for something that has been deprecated since at least 1.14
  src/ai/lua/engine_lua.cpp
Labels: AI

Schema: Add [candidate_action][filter_own]
  data/schema/ai/stage.cfg
Labels: Schema

AI: Fix error in stationed_guardian
  data/ai/micro_ais/cas/ca_stationed_guardian.lua
Labels: AI

AI: Support [side][ai][micro_ai]
  data/schema/ai/_main.cfg
  data/schema/ai/micro.cfg
  data/schema/core/actionwml.cfg
  src/ai/configuration.cpp
  src/ai/lua/core.cpp
  src/ai/lua/core.hpp
  src/ai/lua/engine_lua.cpp
  src/ai/lua/engine_lua.hpp
  src/ai/manager.cpp
  src/ai/manager.hpp
Labels: AI, Schema

AI: Support [modify_side][ai][modify_ai]/[micro_ai]
  src/ai/manager.cpp
Labels: AI

AI: Fix missing serialization code for sticky candidate actions
  src/ai/lua/engine_lua.cpp
Labels: AI

AI: Support [unit][ai][micro_ai]
  data/schema/units/single.cfg
  src/units/unit.cpp
Labels: Schema, Units

AI: Support [unit][ai][candidate_action]
  data/schema/units/single.cfg
  src/units/unit.cpp
Labels: Schema, Units

Lua: Fix console pretty-print output not showing zero or negative keys in tables
  data/lua/ilua.lua
Labels: Lua API

Lua API: The value function is now optional in functional.choose[_map]
  data/lua/functional.lua
Labels: Lua API

Lua API: Add new location_set function to convert to or from a Lua map
  data/lua/location_set.lua
Labels: Lua API

Lua AI: Fix non-integer candidate evaluation scores being treated as 0
  src/ai/lua/engine_lua.cpp
Labels: AI

AI: Fix assertion when trying to move to an off-map location
  src/ai/actions.cpp
  src/ai/actions.hpp
Labels: AI

Lua API: Fix an incorrect error message
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Fix an error in the terrain hex API
  data/lua/core/map.lua
Labels: Lua API

Lua API: location_set:to_pairs now returns named tuples
  data/lua/location_set.lua
Labels: Lua API

Lua API: Fix functional.map returning the wrong answer if used on a table that contains numeric keys but is not strictly an array
  data/lua/functional.lua
Labels: Lua API

Lua API: Add alternative version of map function to be used on arrays
  data/lua/functional.lua
Labels: Lua API

Lua API: Add a wesnoth.type() function
  data/lua/core/_initial.lua
Labels: Lua API

Lua: Add a new ai_helper debug function to print a simulate_combat HP distribution more succinctly
  data/ai/lua/ai_helper.lua
Labels: AI

AI: [micro_ai]side= can now take a list
  data/lua/wml/micro_ai.lua
Labels: Lua API

AI: Convert the FormulaAI example scenario to do all the same things using Lua
  data/ai/lua/ca_level_up_attack.lua
  data/ai/lua/ca_simple_scouting.lua
  data/ai/lua/opening.lua
  data/ai/scenarios/scenario-lua_ai_unit_actions.cfg
Labels: AI

AI: Add an example of using [micro_ai] in [side][ai]
  data/ai/micro_ais/scenarios/The_Elves_Besieged.cfg
Labels: AI

Remove a leading space from the Silver Mage's [special_note]
  data/core/units/humans/Mage_Silver.cfg
Labels: Units

UtBS S09: Reveal the boss of the scenario at the end of part 1
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Campaign

UtBS S09: Reveal the boss of the scenario at the end of part 1
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Campaign

Resolve #6019 - allied side not triggering failure condition when sighted
  changelog.md
  data/campaigns/Liberty/scenarios/06_The_Hunters.cfg
Labels: Campaign

Update changelog
  changelog.md
Labels: none

Addon Manager: fixed erroneous 2px horizontal offset in Update button images
  images/icons/addons_manager/update-large-active.png
  images/icons/addons_manager/update-large-pressed.png
  images/icons/addons_manager/update-large.png
Labels: Graphics

GUI2: added default_italic label and scroll_label definitions
  data/gui/widget/label_default.cfg
  data/gui/widget/scroll_label_default.cfg
Labels: UI

Addon Manager: refined details section design
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

Make optional_reference bool conversion explicit
  src/utils/optional_reference.hpp
Labels: none
