Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Game Load: revamped design
  data/gui/widget/button_default.cfg
  data/gui/widget/label_default.cfg
  data/gui/window/game_load.cfg
  src/gui/dialogs/game_load.cpp
Labels: UI

GUI2/Static Registry: removed some unnecessary typedefs
  src/gui/core/static_registry.cpp
  src/gui/core/static_registry.hpp
Labels: UI

GUI2: further cleaned up dispatcher implementation
  src/gui/core/event/dispatcher_private.hpp
Labels: UI

SoF: Consistently use lower-case after ellipses
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3_Searching_for_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
Labels: Campaign

Fix misnamed template parameter.
  src/gui/core/event/dispatcher_private.hpp
Labels: UI

Fix schema.
  data/schema/gui.cfg
Labels: Schema, UI

Fix for clang's -Wrange-loop-construct.
  src/gui/core/event/dispatcher_private.hpp
Labels: UI

SoF: Consistently use lower-case after ellipses
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3_Searching_for_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
Labels: Campaign

SoF: Consistently use lower-case after ellipses
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3_Searching_for_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
Labels: Campaign

updated Czech translation
  changelog.md
  po/wesnoth-dm/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth/cs.po
Labels: Translations

Update changelog
  changelog.md
Labels: none

Add debug for "[event] is missing name or id"
  src/game_events/manager_impl.cpp
Labels: none

update WALL_TRANSITION
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/deprecated-internal-corners.cfg
  data/core/terrain-graphics/deprecated-walls.cfg
  data/core/terrain-graphics/walls.cfg
Labels: Terrain

Oops! Forgot to add the luadoc!!!
  utils/emmylua/wesnoth/interface.lua
Labels: none

Add a max_width parameter
  data/test/scenarios/overlay_text_demo.cfg
  src/scripting/game_lua_kernel.cpp
  utils/emmylua/wesnoth/interface.lua
Labels: Lua API, Unit Tests

Add bgcolor and bgalpha parameters
  data/test/scenarios/overlay_text_demo.cfg
  src/scripting/game_lua_kernel.cpp
  utils/emmylua/wesnoth/interface.lua
Labels: Lua API, Unit Tests

first deprecation (level 2) notices
  data/core/terrain-graphics/internal-generic.cfg
Labels: Terrain

Oh I just noticed the C++ doc comment was outdated...
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

max_width can also be a percentage of the screen width instead of an absolute width
  src/scripting/game_lua_kernel.cpp
  utils/emmylua/wesnoth/interface.lua
Labels: Lua API

Add wesnoth.interface.add_floating_label as a replacement for wesnoth.print (#5837)
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/tutorial/utils/utils.cfg
  data/lua/core/interface.lua
  data/lua/wml-tags.lua
  data/schema/core/actionwml.cfg
  data/test/scenarios/overlay_text_demo.cfg
  src/floating_label.cpp
  src/floating_label.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
  utils/emmylua/wesnoth/interface.lua
Labels: Campaign, Lua API, Schema, Unit Tests

Use overlay text for hint messages in the tutorial
  data/campaigns/tutorial/_main.cfg
  data/campaigns/tutorial/lua/hint_message.lua
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
Labels: Campaign

updating and deprecation progress, not finished...
  data/core/terrain-graphics/automatic-borders.cfg
  data/core/terrain-graphics/deprecated-base.cfg
  data/core/terrain-graphics/deprecated-builder.cfg
  data/core/terrain-graphics/deprecated-castles.cfg
  data/core/terrain-graphics/deprecated-gates.cfg
  data/core/terrain-graphics/deprecated-internal-border.cfg
  data/core/terrain-graphics/deprecated-internal-complex.cfg
  data/core/terrain-graphics/deprecated-internal-corners.cfg
  data/core/terrain-graphics/deprecated-internal-generic.cfg
  data/core/terrain-graphics/deprecated-internal-tracks.cfg
  data/core/terrain-graphics/deprecated-keep.cfg
  data/core/terrain-graphics/deprecated-misc.cfg
  data/core/terrain-graphics/deprecated-mountains.cfg
  data/core/terrain-graphics/deprecated-overlay.cfg
  data/core/terrain-graphics/deprecated-walls.cfg
  data/core/terrain-graphics/enduring-aquatic.cfg
  data/core/terrain-graphics/enduring-editor.cfg
  data/core/terrain-graphics/enduring-internal-corners.cfg
  data/core/terrain-graphics/enduring-internal-tracks.cfg
  data/core/terrain-graphics/enduring-tracks.cfg
  data/core/terrain-graphics/new-gates.cfg
  data/core/terrain-graphics/new-internal-tracks.cfg
  data/core/terrain-graphics/new-mountains.cfg
  data/core/terrain-graphics/new-walls.cfg
Labels: Terrain

Remove CONTINUE_MSG from the first hint message
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Campaign

The hint messages now persist in saved games
  data/campaigns/tutorial/lua/hint_message.lua
Labels: Campaign

ws
  data/campaigns/tutorial/lua/hint_message.lua
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
Labels: Campaign

all terrain macro files reviewed, still need cleanup and to tie loose ends
  data/core/terrain-graphics/deprecated-internal-tracks.cfg
  data/core/terrain-graphics/deprecated-transitions.cfg
  data/core/terrain-graphics/deprecated-village.cfg
  data/core/terrain-graphics/enduring-bridge.cfg
  data/core/terrain-graphics/enduring-internal-tracks.cfg
  data/core/terrain-graphics/enduring-trash.cfg
Labels: Terrain

update core terrain-graphics config
  data/core/terrain-graphics.cfg
Labels: Terrain

GUI2/Dispatcher: encode event categories in their enum values
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/dispatcher_private.hpp
  src/gui/core/event/handler.hpp
Labels: UI

nyeeeee
  src/gui/core/event/handler.hpp
Labels: UI

Made event_category explicitly uint32_t
  src/gui/core/event/handler.hpp
Labels: UI

GUI2/Dispatcher: encode event categories in their enum values (#6621)
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/dispatcher_private.hpp
  src/gui/core/event/handler.hpp
Labels: UI

fix a few mistakes, now editor can load again
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-internal-tracks.cfg
Labels: Terrain

SoF - update terrain macros
  data/campaigns/Sceptre_of_Fire/utils/terrain.cfg
Labels: Campaign, Terrain

UtBS - update terrain macros
  data/campaigns/Under_the_Burning_Suns/utils/terrain_graphics.cfg
Labels: Campaign, Terrain

UtBS - missed a couple old terrain macros
  data/campaigns/Under_the_Burning_Suns/utils/terrain_graphics.cfg
Labels: Campaign, Terrain

Avoid potentially using unit IDs that are no longer valid
  changelog.md
  src/recall_list_manager.cpp
Labels: none

minor fixups
  data/core/terrain-graphics/deprecated-base.cfg
  data/core/terrain-graphics/deprecated-walls.cfg
  data/core/terrain-graphics/enduring-aquatic.cfg
  data/core/terrain-graphics/new-gates.cfg
  data/core/terrain-graphics/new-internal-tracks.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

some mountains terrain updates
  data/core/images/terrain/desert_mountains/peak.png
  data/core/images/terrain/desert_mountains/peak2.png
  data/core/terrain-graphics/new-mountains.cfg
Labels: Graphics, Terrain

Update changelog.md
  changelog.md
Labels: none

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
