Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

EI S04b: Add changelog for fixing the turn limit
  changelog.md
Labels: none

revisions to skeleton rider animations
  data/core/images/units/undead-skeletal/rider-attack3.png
  data/core/images/units/undead-skeletal/rider-attack4.png
  data/core/images/units/undead-skeletal/rider-attack5.png
  data/core/images/units/undead-skeletal/rider-attack6.png
  data/core/images/units/undead-skeletal/rider-defend.png
  data/core/images/units/undead-skeletal/rider-defend2.png
  data/core/images/units/undead-skeletal/rider-moving.png
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Graphics, Units

IPF: improve memory safety when constructing mod queue
  src/image_modifications.cpp
  src/image_modifications.hpp
Labels: none

Update tests
  src/tests/test_image_modifications.cpp
Labels: none

IPF: improve memory safety when constructing mod queue (#8164)
  src/image_modifications.cpp
  src/image_modifications.hpp
  src/tests/test_image_modifications.cpp
Labels: none

Editor: new Unit Type Editor UI
  boost_test_schedule
  data/gui/window/editor_edit_unit.cfg
  data/themes/editor.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/editor/controller/editor_controller.cpp
  src/editor/controller/editor_controller.hpp
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/dialogs/editor/edit_unit.hpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
  src/range.hpp
  src/tests/gui/test_gui2.cpp
Labels: Building, Editor, macOS, UI

Check that copyrights.csv is sorted by filename
  copyrights.csv
  update_copyrights
Labels: none

portrait for elder falcon
  data/core/images/portraits/monsters/falcon-elder.webp
  data/core/units/monsters/Elder_Falcon.cfg
Labels: Graphics, Units

unit_editor:copy image if directory outside wesnoth's data
  data/gui/window/editor_edit_unit.cfg
  src/gui/dialogs/editor/edit_unit.cpp
  src/tests/gui/test_gui2.cpp
Labels: UI

whitespace fix
  data/themes/editor.cfg
  src/tests/gui/test_gui2.cpp
Labels: UI

Add changelog entry for horizontal scrolling fix (PR #8137)
  changelog_entries/horizontal_scrolling.md
Labels: none

Fix horizontal scrolling regression (fixes #7404)
  changelog_entries/horizontal_scrolling.md
  src/controller_base.cpp
  src/mouse_handler_base.cpp
Labels: none

Add changelog entry for horizontal scrolling fix (PR #8137)
  changelog_entries/horizontal_scrolling.md
Labels: none

elder falcon attack anims
  data/core/images/units/monsters/falcon/elder-falcon-attack-1.png
  data/core/images/units/monsters/falcon/elder-falcon-attack-2.png
  data/core/images/units/monsters/falcon/elder-falcon-attack-beak.png
  data/core/images/units/monsters/falcon/elder-falcon-attack-claws.png
  data/core/images/units/monsters/falcon/elder-falcon-attack-end.png
  data/core/units/monsters/Elder_Falcon.cfg
Labels: Graphics, Units

fix a couple typos in Falcon attack anim
  data/core/units/monsters/Falcon.cfg
Labels: Units

Fix font permissions to allow installable embedding
  changelog_entries/fonts_installable_embedding
  fonts/DroidSansJapanese.ttf
  fonts/OldaniaADFStd-Bold.otf
  fonts/OldaniaADFStd-BoldItalic.otf
  fonts/OldaniaADFStd-Italic.otf
  fonts/OldaniaADFStd-Regular.otf
  fonts/README.md
  utils/font-embedding-check.pl
  utils/font-embedding-fix.c
Labels: none

Fix font permissions to allow installable embedding
  changelog_entries/fonts_installable_embedding
  fonts/DroidSansJapanese.ttf
  fonts/OldaniaADFStd-Bold.otf
  fonts/OldaniaADFStd-BoldItalic.otf
  fonts/OldaniaADFStd-Italic.otf
  fonts/OldaniaADFStd-Regular.otf
  fonts/README.md
  utils/font-embedding-check.pl
  utils/font-embedding-fix.c
Labels: none

elder falcon defense anims
  data/core/images/units/monsters/falcon/elder-falcon-hit1.png
  data/core/images/units/monsters/falcon/elder-falcon-hit2.png
  data/core/units/monsters/Elder_Falcon.cfg
Labels: Graphics, Units

wmlindent
  data/core/units/monsters/Elder_Falcon.cfg
Labels: Units

update copyrights.csv (twice)
  copyrights.csv
Labels: none

teleports tests
  data/test/macros/unit_setup.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/no_teleport.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport_adjacent_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport_no_tunnel.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport_simple.cfg
  wml_test_schedule
Labels: Unit Tests

1.18 - graphics for elder falcon (#8165)
  copyrights.csv
  data/core/images/portraits/monsters/falcon-elder.webp
  data/core/images/units/monsters/falcon/elder-falcon-attack-1.png
  data/core/images/units/monsters/falcon/elder-falcon-attack-2.png
  data/core/images/units/monsters/falcon/elder-falcon-attack-beak.png
  data/core/images/units/monsters/falcon/elder-falcon-attack-claws.png
  data/core/images/units/monsters/falcon/elder-falcon-attack-end.png
  data/core/images/units/monsters/falcon/elder-falcon-hit1.png
  data/core/images/units/monsters/falcon/elder-falcon-hit2.png
  data/core/units/monsters/Elder_Falcon.cfg
  data/core/units/monsters/Falcon.cfg
Labels: Graphics, Units

update squire to use axe (no attack anim yet)
  data/core/images/units/undead-skeletal/deathsquire-defend.png
  data/core/images/units/undead-skeletal/deathsquire-defend2.png
  data/core/images/units/undead-skeletal/deathsquire.png
  data/core/units/undead/Skele_Death_Squire.cfg
Labels: Graphics, Units

fix deathknight attack icon
  data/core/units/undead/Skele_Death_Knight.cfg
Labels: Units

remove super from `[elseif]` tag, similar to `[if]`, as this is a filter context
  data/schema/schema.cfg
Labels: Schema

add a `disallowed` type to override a mandatory name key into a disallowed optional name key
  data/schema/schema.cfg
Labels: Schema

make `wml_tag::iterator` copy assignable
  src/serialization/schema/tag.hpp
Labels: Schema

complete deathsquire animations
  data/core/images/units/undead-skeletal/deathsquire-attack-1.png
  data/core/images/units/undead-skeletal/deathsquire-attack-2.png
  data/core/images/units/undead-skeletal/deathsquire-attack-3.png
  data/core/images/units/undead-skeletal/deathsquire-attack-4.png
  data/core/images/units/undead-skeletal/deathsquire-attack-5.png
  data/core/images/units/undead-skeletal/deathsquire-attack-6.png
  data/core/images/units/undead-skeletal/deathsquire-leading.png
  data/core/units/undead/Skele_Death_Squire.cfg
Labels: Graphics, Units

fix schema and add general macro
  data/test/macros/unit_setup.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport_no_tunnel.cfg
Labels: Unit Tests

fix leveling for Kaleh and Nym in Utbs
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

add comment
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

teleport tunnel tests
  data/schema/units/abilities.cfg
  data/test/macros/unit_setup.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_filter_teleport_unit.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_source_target_teleport_unit.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_source_teleport_unit_fail.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_source_teleport_unit_succeed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_target_teleport_unit_fail.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_target_teleport_unit_succeed.cfg
  wml_test_schedule
Labels: Schema, Unit Tests

WC: Fix mapgen always spwaning 3 bonus points in first scenario
  data/campaigns/World_Conquest/lua/map/scenario_utils/bonus_points.lua
Labels: Campaign WC

Allow experience key in [harm_unit] tag to be set to kill, primary / secondary hit, hit or yes
  data/lua/wml/harm_unit.lua
Labels: Lua API

fill out bone knight anims
  data/core/images/units/undead-skeletal/boneknight-attack.png
  data/core/images/units/undead-skeletal/boneknight-attack2.png
  data/core/images/units/undead-skeletal/boneknight-bob1.png
  data/core/images/units/undead-skeletal/boneknight-bob2.png
  data/core/images/units/undead-skeletal/boneknight-bob3.png
  data/core/images/units/undead-skeletal/boneknight-bob4.png
  data/core/images/units/undead-skeletal/boneknight-bob5.png
  data/core/images/units/undead-skeletal/boneknight-defend1.png
  data/core/images/units/undead-skeletal/boneknight-defend2.png
  data/core/images/units/undead-skeletal/boneknight-moving.png
  data/core/images/units/undead-skeletal/boneknight-s1.png
  data/core/images/units/undead-skeletal/boneknight-s2.png
  data/core/images/units/undead-skeletal/boneknight-trample1.png
  data/core/images/units/undead-skeletal/boneknight-trample2.png
  data/core/images/units/undead-skeletal/boneknight-trample3.png
  data/core/images/units/undead-skeletal/boneknight-trample4.png
  data/core/images/units/undead-skeletal/boneknight.png
  data/core/units/undead/Skele_Bone_Knight.cfg
Labels: Graphics, Units

remove old breeze frames
  data/core/images/units/undead-skeletal/boneknight-breeze1.png
  data/core/images/units/undead-skeletal/boneknight-breeze1b.png
  data/core/images/units/undead-skeletal/boneknight-breeze2.png
  data/core/images/units/undead-skeletal/boneknight-breeze2b.png
  data/core/images/units/undead-skeletal/boneknight-breeze3.png
  data/core/images/units/undead-skeletal/boneknight-breeze3b.png
  data/core/images/units/undead-skeletal/boneknight-breeze4.png
  data/core/images/units/undead-skeletal/boneknight-breeze4b.png
  data/core/images/units/undead-skeletal/boneknight-breeze5.png
  data/core/images/units/undead-skeletal/boneknight-breeze5b.png
  data/core/images/units/undead-skeletal/rider-breeze1.png
  data/core/images/units/undead-skeletal/rider-breeze1b.png
  data/core/images/units/undead-skeletal/rider-breeze2.png
  data/core/images/units/undead-skeletal/rider-breeze2b.png
  data/core/images/units/undead-skeletal/rider-breeze3.png
  data/core/images/units/undead-skeletal/rider-breeze3b.png
  data/core/images/units/undead-skeletal/rider-breeze4.png
  data/core/images/units/undead-skeletal/rider-breeze4b.png
  data/core/images/units/undead-skeletal/rider-breeze5.png
  data/core/images/units/undead-skeletal/rider-breeze5b.png
Labels: Graphics, Units

update copyrights.csv
  copyrights.csv
Labels: none

remove obsolete remnant frames
  data/core/images/units/undead-skeletal/boneknight-trample.png
  data/core/images/units/undead-skeletal/boneknight-trample5.png
  data/core/images/units/undead-skeletal/rider-attack.png
Labels: Graphics, Units

update copyrights.csv
  copyrights.csv
Labels: none

make `wml_tag::iterator` copy assignable (#8174)
  src/serialization/schema/tag.hpp
Labels: Schema
