Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Some more cmake cleanups.
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

updated Czech translation
  changelog.md
  po/wesnoth-anl/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-editor/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-tsg/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  po/wesnoth-ai/cs.po
  po/wesnoth-anl/cs.po
  po/wesnoth-aoi/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-editor/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-tsg/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth/cs.po
Labels: Translations

replace abilities by [immune] ability and remove some specials of list
  changelog.md
  data/schema/game_config.cfg
  data/schema/units/abilities.cfg
  data/test/scenarios/test_unpoison_abilities.cfg
  src/units/abilities.cpp
  src/units/unit.hpp
Labels: Schema, Unit Tests, Units

fix shema
  data/schema/units/abilities.cfg
Labels: Schema

Add missing newline
  src/scripting/lua_audio.cpp
Labels: Lua API

fix parenthese in abilities.cpp
  src/units/abilities.cpp
Labels: Units

Render only a viewport area in pango_text and text_shape
  changelog.md
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
Labels: UI

Fix bug in wesnoth.map.read_location
  data/lua/core/map.lua
Labels: Lua API

Log any Lua errors during map generation
  src/generators/lua_map_generator.cpp
Labels: none

Unit test to verify that [event]delayed_variable_substitution=no works
  data/test/scenarios/event_handlers_in_events.cfg
  wml_test_schedule
Labels: Unit Tests

WFL: Add recall list to the side object
  src/formula/callable_objects.cpp
Labels: WFL

Credits: correct the number in newfrenchy83's name
  data/core/about.cfg
Labels: none

Start a Lua mathx module to hold round, shuffle, random, and a few other things
  data/lua/core/mathx.lua
  data/lua/helper.lua
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/scripting/lua_kernel_base.cpp
  src/scripting/lua_mathx.cpp
  src/scripting/lua_mathx.hpp
Labels: Building, Lua API, macOS

Replace all uses of get_time_stamp -> ms_since_init
  data/ai/lua/ai_helper.lua
  data/ai/lua/battle_calcs.lua
  data/ai/lua/ca_castle_switch.lua
  data/ai/lua/ca_grab_villages.lua
  data/ai/lua/ca_move_to_any_enemy.lua
  data/ai/lua/ca_place_healers.lua
  data/ai/lua/ca_retreat_injured.lua
  data/ai/lua/ca_spread_poison.lua
  data/ai/lua/ca_village_hunt.lua
  data/ai/lua/generic_recruit_engine.lua
  data/campaigns/World_Conquest/lua/map/wct_map_generator.lua
  data/lua/wml/set_variable.lua
Labels: AI, Campaign, Lua API

Rename get_time_stamp to ms_since_init
  data/lua/core/_initial.lua
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Update @iKevinY's credits entry
  data/core/about.cfg
Labels: none

updated Russian translation
  changelog.md
  po/wesnoth-units/ru.po
Labels: Translations

Credits: remove the i18n entries for languages that had no strings committed
  data/core/about_i18n.cfg
Labels: none

adding/updating horse portraits
  data/core/images/portraits/monsters/black-stallion.png
  data/core/images/portraits/monsters/horse.png
  data/core/images/portraits/monsters/nightmare.png
Labels: Graphics

horse-related attack icons
  data/core/images/attacks/fangs-horse.png
  data/core/images/attacks/hoof-nightmare.png
Labels: Graphics

adding seahorse unit
  data/core/images/units/monsters/seahorse-mask.png
  data/core/images/units/monsters/seahorse-shadow.png
  data/core/images/units/monsters/seahorse.png
  data/core/units/monsters/Seahorse.cfg
Labels: Graphics, Units

wmlindent corrections
  data/core/units/monsters/Horse.cfg
  data/core/units/monsters/Horse_Black.cfg
Labels: Units

Update changelog.md
  changelog.md
Labels: none

Fix deprecation message
  data/lua/core/map.lua
Labels: Lua API

Remove remaining uses of wesnoth.special_locations
  data/ai/lua/ai_helper.lua
  data/ai/lua/generic_recruit_engine.lua
  data/lua/wml/move_unit.lua
Labels: AI, Lua API

Fix improper use of return statement in context of lambda
  src/server/campaignd/server.cpp
Labels: Add-ons

Add a versions userdata for a cleaner way to compare and manipulate game versions
  data/lua/core/_initial.lua
  data/test/scenarios/test_lua_version_api.cfg
  src/game_version.hpp
  src/scripting/lua_kernel_base.cpp
  wml_test_schedule
Labels: Lua API, Unit Tests

Add an audio module
  data/lua/core/_initial.lua
  data/lua/core/audio.lua
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
  src/scripting/lua_audio.cpp
  src/soundsource.cpp
  src/soundsource.hpp
Labels: Building, Lua API, macOS

Update mainline content to use the wesnoth.audio module
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/destruction.lua
  data/lua/wml-tags.lua
  data/lua/wml/harm_unit.lua
  data/lua/wml/message.lua
Labels: Campaign, Lua API

Move open_help to the gui module (as show_help)
  data/lua/core/gui.lua
  data/lua/wml-tags.lua
  src/help/help.cpp
  src/help/help.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_gui2.cpp
Labels: Help, Lua API

Move create_animator and create_weapon into the units module
  data/lua/core/units.lua
  data/lua/wml/animate_unit.lua
  data/lua/wml/heal_unit.lua
  data/lua/wml/kill.lua
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_unit_attacks.cpp
  src/scripting/lua_unit_attacks.hpp
Labels: Lua API

Move the Lua global variable helpers from WC to a new "experimental" module
  data/campaigns/World_Conquest/lua/game_mechanics/utils.lua
  data/lua/core/wml.lua
Labels: Campaign, Lua API

Move the deprecation for wesnoth.modify_ai to Lua so that it honours --strict-lua
  data/lua/core/sides.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Move wesnoth.create_side -> wesnoth.sides.create
  data/lua/core/sides.lua
  data/test/scenarios/test_create_side.cfg
  src/scripting/game_lua_kernel.cpp
Labels: Lua API, Unit Tests

Now color_adjust takes three arguments instead of a config
  data/lua/core/interface.lua
  data/lua/wml-tags.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Deprecate wesnoth.game_config.version
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Make it easier to deprecate Lua attributes in C++ __index metafunctions
  src/scripting/lua_common.hpp
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Update uses of wesnoth.fire
  data/campaigns/Eastern_Invasion/lua/bandits.lua
  data/lua/core/wml.lua
  data/lua/helper.lua
  data/lua/wml/message.lua
  data/multiplayer/eras.lua
  data/scenario-test.cfg
Labels: Campaign, Lua API, MP

Allow accessing variables through the new APIs in the mapgen kernel
  data/campaigns/World_Conquest/lua/map/main.lua
  data/campaigns/World_Conquest/lua/map/scenario_utils/bonus_points.lua
  data/lua/core/wml.lua
  src/scripting/mapgen_lua_kernel.cpp
  src/scripting/mapgen_lua_kernel.hpp
Labels: Campaign, Lua API
