Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Fix "End Turn" button placement on low-res themes.
  data/themes/default.cfg
Labels: UI

Fix low-res editor themes.
  data/themes/editor.cfg
Labels: UI

Fix low-res themes during replay.
  data/themes/_initial.cfg
  data/themes/default.cfg
Labels: UI

Fix wmlindent complaint.
  data/themes/editor.cfg
Labels: UI

Support latin hotkeys in non-latin layouts
  src/hotkey/hotkey_item.cpp
Labels: none

sdl/render_utils: Don't use override priority for texture hints
  src/sdl/render_utils.hpp
Labels: none

sdl/texture: Set filtering mode when creating from surface
  src/sdl/texture.cpp
  src/sdl/texture.hpp
Labels: none

Add new SignedRelease build configuration to Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/The Battle for Wesnoth.xcscheme
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/campaignd.xcscheme
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/liblua.xcscheme
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/unit_tests.xcscheme
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/wesnothd.xcscheme
Labels: Building, macOS

Update changelog
  changelog.md
Labels: none

Unsetting macOS code signing is no longer needed.
  .github/workflows/ci-scripts/macos.sh
Labels: none

Unsetting macOS code signing is no longer needed.
  .github/workflows/ci-scripts/macos.sh
Labels: none

Address another review comment
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Rename dir() to wesnoth.print_attributes()
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Factor out the code that fetches the list of attributes into a separate function
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Fix type
  src/mouse_handler_base.cpp
Labels: none

Fix wmlindent quote detection (#6764)
  data/ai/micro_ais/scenarios/animals.cfg
  data/core/terrain-graphics.cfg
  data/core/units/orcs/Assassin.cfg
  data/scenario-test.cfg
  data/tools/wmlindent
Labels: AI, Terrain, Units, WML Tools

updated Arabic translation
  changelog.md
  po/wesnoth-anl/ar.po
  po/wesnoth-editor/ar.po
  po/wesnoth-manpages/ar.po
  po/wesnoth-manual/ar.po
  po/wesnoth-tb/ar.po
  po/wesnoth/ar.po
Labels: Translations

updated Arabic translation
  changelog.md
  po/wesnoth-anl/ar.po
  po/wesnoth-editor/ar.po
  po/wesnoth-manpages/ar.po
  po/wesnoth-manual/ar.po
  po/wesnoth-tb/ar.po
  po/wesnoth/ar.po
Labels: Translations

updated Chinese (Traditional) translation
  changelog.md
  po/wesnoth-anl/zh_TW.po
  po/wesnoth-did/zh_TW.po
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-dw/zh_TW.po
  po/wesnoth-editor/zh_TW.po
  po/wesnoth-ei/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-l/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-low/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-manual/zh_TW.po
  po/wesnoth-multiplayer/zh_TW.po
  po/wesnoth-nr/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-thot/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-tutorial/zh_TW.po
  po/wesnoth-units/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

updated Chinese (Traditional) translation
  changelog.md
  po/wesnoth-anl/zh_TW.po
  po/wesnoth-did/zh_TW.po
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-dw/zh_TW.po
  po/wesnoth-editor/zh_TW.po
  po/wesnoth-ei/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-l/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-low/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-manual/zh_TW.po
  po/wesnoth-multiplayer/zh_TW.po
  po/wesnoth-nr/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-thot/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-tutorial/zh_TW.po
  po/wesnoth-units/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

Enable LTO for Xcode Release and SignedRelease builds
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Fix a bunch of broken uses of helper.wml_error
  data/campaigns/World_Conquest/lua/game_mechanics/bonus.lua
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/game_mechanics/heroes.lua
  data/campaigns/World_Conquest/lua/map/scenario_utils/bonus_points.lua
Labels: Campaign

Lua: fix assert when assigning a selected index to a menu button or toggle button
  src/scripting/lua_widget_attributes.cpp
Labels: Lua API

wmlscope: avoid crashing on non-UTF8 files
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

wmlscope: used an enumerator instead of strings in scan_for_definitions() state checks
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

Fix wmlindent quote detection (#6764)
  data/ai/micro_ais/scenarios/animals.cfg
  data/core/terrain-graphics.cfg
  data/scenario-test.cfg
  data/tools/wmlindent
Labels: AI, Terrain, WML Tools

Re-add vcpkg caching.
  .github/workflows/ci-main.yml
Labels: none

updated arabic translation credits
  data/core/about_i18n.cfg
Labels: none

updated arabic translation credits
  data/core/about_i18n.cfg
Labels: none

Fix linear image scaling again
  src/picture.cpp
Labels: none

Fix whitespace.
  data/core/terrain-graphics.cfg
Labels: Terrain

1.17.5+dev.
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  src/wesconfig.h
Labels: WML Tools

1.17.5.
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS, WML Tools

make caribes more different-looking
  data/core/images/attacks/kelp.png
  data/core/images/portraits/monsters/caribe-hunter.webp
  data/core/images/projectiles/kelp.png
  data/core/images/units/monsters/caribe/caribe-attack-1.png
  data/core/images/units/monsters/caribe/caribe-attack-2.png
  data/core/images/units/monsters/caribe/caribe-attack-3.png
  data/core/images/units/monsters/caribe/caribe-default.png
  data/core/images/units/monsters/caribe/caribe-defend-1.png
  data/core/images/units/monsters/caribe/caribe-defend-2.png
  data/core/images/units/monsters/caribe/caribe-hi.png
  data/core/images/units/monsters/caribe/caribe-land.png
  data/core/images/units/monsters/caribe/caribe-lo.png
  data/core/images/units/monsters/caribe/caribe-small-attack-1.png
  data/core/images/units/monsters/caribe/caribe-small-attack-2.png
  data/core/images/units/monsters/caribe/caribe-small-default.png
  data/core/images/units/monsters/caribe/caribe-small-defend-1.png
  data/core/images/units/monsters/caribe/caribe-small-defend-2.png
  data/core/images/units/monsters/caribe/caribe-small-hi.png
  data/core/images/units/monsters/caribe/caribe-small-land.png
  data/core/images/units/monsters/caribe/caribe-small-lo.png
  data/core/images/units/monsters/caribe/nibbler-attack-1.png
  data/core/images/units/monsters/caribe/nibbler-default.png
  data/core/images/units/monsters/caribe/nibbler-defend-1.png
  data/core/images/units/monsters/caribe/nibbler-defend-2.png
  data/core/images/units/monsters/caribe/nibbler-hi.png
  data/core/images/units/monsters/caribe/nibbler-land.png
  data/core/images/units/monsters/caribe/nibbler-lo.png
  data/core/images/units/monsters/caribe/nibbler.png
  data/core/units/monsters/Caribe_Hunter.cfg
  data/core/units/monsters/Caribe_Nibbler.cfg
Labels: Graphics, Units

remove Giant Stoat
  data/core/units/monsters/Frost_Stoat.cfg
Labels: Units

Add font scaling back as an advanced preference for now.
  data/advanced_preferences.cfg
Labels: none

Remove reduntant check on s2
  data/campaigns/World_Conquest/lua/game_mechanics/utils.lua
Labels: Campaign

alternative cuttlefish melee attack anim
  data/core/images/units/monsters/cuttlefish-melee-a1.png
  data/core/images/units/monsters/cuttlefish-melee-a2.png
  data/core/images/units/monsters/cuttlefish-melee-a3.png
  data/core/images/units/monsters/cuttlefish-melee-a4.png
  data/core/images/units/monsters/cuttlefish-melee-a5.png
  data/core/units/monsters/Cuttle_Fish.cfg
Labels: Graphics, Units

Spelling correction + standardise spacing.
  data/core/units/monsters/Caribe.cfg
  data/core/units/monsters/Caribe_Nibbler.cfg
Labels: Units

sea serpent defend anim
  data/core/images/units/monsters/seaserpent-defend1.png
  data/core/images/units/monsters/seaserpent-defend2.png
  data/core/units/monsters/Sea_Serpent.cfg
Labels: Graphics, Units

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
