Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

The method is static, but these variables can't be.
  src/units/types.cpp
Labels: Units

The method is static, but these variables can't be.
  src/units/types.cpp
Labels: Units

DM S18: Add a po hint about grammatical tense of some text
  data/campaigns/Delfadors_Memoirs/scenarios/18_The_Portal_of_Doom.cfg
Labels: Campaign DM

Multiplayer: Add a po hint about "Matchmaking"
  data/gui/window/lobby_main.cfg
Labels: UI

DM S18: Add a po hint about grammatical tense of some text
  data/campaigns/Delfadors_Memoirs/scenarios/18_The_Portal_of_Doom.cfg
Labels: Campaign DM

Multiplayer: Add a po hint about "Matchmaking"
  data/gui/window/lobby_main.cfg
Labels: UI

Use missing_mandatory_wml_tag instead of extra translatable strings
  src/gui/widgets/button.cpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/drawing.cpp
  src/gui/widgets/horizontal_scrollbar.cpp
  src/gui/widgets/image.cpp
  src/gui/widgets/label.cpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/menu_button.cpp
  src/gui/widgets/minimap.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multimenu_button.cpp
  src/gui/widgets/pane.cpp
  src/gui/widgets/panel.cpp
  src/gui/widgets/progress_bar.cpp
  src/gui/widgets/repeating_button.cpp
  src/gui/widgets/scroll_label.cpp
  src/gui/widgets/scrollbar_panel.cpp
  src/gui/widgets/slider.cpp
  src/gui/widgets/text_box.cpp
  src/gui/widgets/toggle_button.cpp
  src/gui/widgets/toggle_panel.cpp
  src/gui/widgets/tree_view.cpp
  src/gui/widgets/unit_preview_pane.cpp
  src/gui/widgets/vertical_scrollbar.cpp
  src/gui/widgets/viewport.cpp
Labels: UI

Use missing_mandatory_wml_tag instead of extra translatable strings
  src/gui/widgets/button.cpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/drawing.cpp
  src/gui/widgets/horizontal_scrollbar.cpp
  src/gui/widgets/image.cpp
  src/gui/widgets/label.cpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/menu_button.cpp
  src/gui/widgets/minimap.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multimenu_button.cpp
  src/gui/widgets/pane.cpp
  src/gui/widgets/panel.cpp
  src/gui/widgets/progress_bar.cpp
  src/gui/widgets/repeating_button.cpp
  src/gui/widgets/scroll_label.cpp
  src/gui/widgets/scrollbar_panel.cpp
  src/gui/widgets/slider.cpp
  src/gui/widgets/text_box.cpp
  src/gui/widgets/toggle_button.cpp
  src/gui/widgets/toggle_panel.cpp
  src/gui/widgets/tree_view.cpp
  src/gui/widgets/unit_preview_pane.cpp
  src/gui/widgets/vertical_scrollbar.cpp
  src/gui/widgets/viewport.cpp
Labels: UI

WoF: add wmllint 'skip-side' magic comments
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign WoF

WoF: fix wrongly capitalized variable name
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
Labels: Campaign WoF

WoF: fix wrongly capitalized variable name
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
Labels: Campaign WoF

WoF: add wmllint 'skip-side' magic comments
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign WoF

gui/addon_manager: Show server identification after the address
  changelog_entries/addon_server_id_ui.md
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

addon: Add getters for the server identification
  src/addon/client.hpp
Labels: Add-ons

gui/outro: New clock-based timing logic for the text fading
  data/gui/window/outro.cfg
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
Labels: UI

Add changelog entry for outro timing changes
  changelog_entries/ui-outro-text-fading.md
Labels: none

updated Spanish translation
  changelog.md
  po/wesnoth-wof/es.po
Labels: Translations

updated Spanish translation
  changelog.md
  po/wesnoth-wof/es.po
Labels: Translations

updated French translation
  po/wesnoth-help/fr.po
  po/wesnoth-httt/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-nr/fr.po
  po/wesnoth-sotbe/fr.po
  po/wesnoth-tb/fr.po
  po/wesnoth-tutorial/fr.po
  po/wesnoth-units/fr.po
  po/wesnoth-utbs/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated French translation
  po/wesnoth-help/fr.po
  po/wesnoth-httt/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-nr/fr.po
  po/wesnoth-sotbe/fr.po
  po/wesnoth-tb/fr.po
  po/wesnoth-tutorial/fr.po
  po/wesnoth-units/fr.po
  po/wesnoth-utbs/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated Japanese translation
  changelog.md
  po/wesnoth-anl/ja.po
  po/wesnoth-did/ja.po
  po/wesnoth-dm/ja.po
  po/wesnoth-dw/ja.po
  po/wesnoth-editor/ja.po
  po/wesnoth-ei/ja.po
  po/wesnoth-help/ja.po
  po/wesnoth-httt/ja.po
  po/wesnoth-l/ja.po
  po/wesnoth-lib/ja.po
  po/wesnoth-low/ja.po
  po/wesnoth-manpages/ja.po
  po/wesnoth-manual/ja.po
  po/wesnoth-multiplayer/ja.po
  po/wesnoth-nr/ja.po
  po/wesnoth-sof/ja.po
  po/wesnoth-sota/ja.po
  po/wesnoth-sotbe/ja.po
  po/wesnoth-tb/ja.po
  po/wesnoth-thot/ja.po
  po/wesnoth-tools/ja.po
  po/wesnoth-trow/ja.po
  po/wesnoth-tsg/ja.po
  po/wesnoth-tutorial/ja.po
  po/wesnoth-units/ja.po
  po/wesnoth-utbs/ja.po
  po/wesnoth-wc/ja.po
  po/wesnoth-wof/ja.po
  po/wesnoth/ja.po
Labels: Translations

updated Japanese translation
  changelog.md
  po/wesnoth-anl/ja.po
  po/wesnoth-did/ja.po
  po/wesnoth-dm/ja.po
  po/wesnoth-dw/ja.po
  po/wesnoth-editor/ja.po
  po/wesnoth-ei/ja.po
  po/wesnoth-help/ja.po
  po/wesnoth-httt/ja.po
  po/wesnoth-l/ja.po
  po/wesnoth-lib/ja.po
  po/wesnoth-low/ja.po
  po/wesnoth-manpages/ja.po
  po/wesnoth-manual/ja.po
  po/wesnoth-multiplayer/ja.po
  po/wesnoth-nr/ja.po
  po/wesnoth-sof/ja.po
  po/wesnoth-sota/ja.po
  po/wesnoth-sotbe/ja.po
  po/wesnoth-tb/ja.po
  po/wesnoth-thot/ja.po
  po/wesnoth-tools/ja.po
  po/wesnoth-trow/ja.po
  po/wesnoth-tsg/ja.po
  po/wesnoth-tutorial/ja.po
  po/wesnoth-units/ja.po
  po/wesnoth-utbs/ja.po
  po/wesnoth-wc/ja.po
  po/wesnoth-wof/ja.po
  po/wesnoth/ja.po
Labels: Translations

Mark a translated string as fuzzy
  po/wesnoth-manpages/ja.po
Labels: Translations

Mark a translated string as fuzzy
  po/wesnoth-manpages/ja.po
Labels: Translations

updated Japanese translation
  po/wesnoth-manpages/ja.po
Labels: Translations

updated Japanese translation
  po/wesnoth-manpages/ja.po
Labels: Translations

updated British English translation
  po/wesnoth/en_GB.po
Labels: Translations

updated British English translation
  po/wesnoth/en_GB.po
Labels: Translations

updated German translation
  po/wesnoth-dm/de.po
  po/wesnoth-tutorial/de.po
  po/wesnoth/de.po
Labels: Translations

updated German translation
  po/wesnoth-dm/de.po
  po/wesnoth-tutorial/de.po
  po/wesnoth/de.po
Labels: Translations

WoF S9: move crannog village in from map edge
  data/campaigns/Winds_of_Fate/maps/09_Ancestor.map
  data/campaigns/Winds_of_Fate/maps/11_Crosswind.map
  data/campaigns/Winds_of_Fate/maps/HM_Master.map
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

update German translation
  po/wesnoth-tb/de.po
Labels: Translations

update German translation
  po/wesnoth-tb/de.po
Labels: Translations

WoF: fix wrongly capitalized variable name
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
Labels: Campaign WoF

WoF S11: fix wmllint error by reorganizing side 2
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF: add wmllint 'skip-side' magic comments
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign WoF

gui/outro: New clock-based timing logic for the text fading (#8454)
  changelog_entries/ui-outro-text-fading.md
  data/gui/window/outro.cfg
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
Labels: UI

gui/outro: New clock-based timing logic for the text fading
  changelog_entries/ui-outro-text-fading.md
  data/gui/window/outro.cfg
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
Labels: UI

WoF S11: fix wmllint error by reorganizing side 2
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF: fix wrongly capitalized variable name
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
Labels: Campaign WoF
