Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Set codepage for winapi to utf-8 in the manifest file
  packaging/windows/SConscript
  packaging/windows/wesnoth.exe.manifest
Labels: Packaging

Remove code specific to win32 fontmap backend
  src/font/font_config.cpp
Labels: none

update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

add level 2 caribe
  data/core/images/portraits/monsters/caribe-hunter.webp
  data/core/images/portraits/monsters/caribe.webp
  data/core/images/units/monsters/caribe/caribe-attack-1.png
  data/core/images/units/monsters/caribe/caribe-attack-2.png
  data/core/images/units/monsters/caribe/caribe-default.png
  data/core/images/units/monsters/caribe/caribe-defend-1.png
  data/core/images/units/monsters/caribe/caribe-defend-2.png
  data/core/images/units/monsters/caribe/caribe-hi.png
  data/core/images/units/monsters/caribe/caribe-land.png
  data/core/images/units/monsters/caribe/caribe-lo.png
  data/core/images/units/monsters/caribe/caribe-sling1.png
  data/core/images/units/monsters/caribe/caribe-sling2.png
  data/core/images/units/monsters/caribe/caribe-sling3.png
  data/core/images/units/monsters/caribe/caribe-sling4.png
  data/core/images/units/monsters/caribe/caribe-sling5.png
  data/core/images/units/monsters/caribe/caribe-small-attack-1.png
  data/core/images/units/monsters/caribe/caribe-small-attack-2.png
  data/core/images/units/monsters/caribe/caribe-small-default.png
  data/core/images/units/monsters/caribe/caribe-small-defend-1.png
  data/core/images/units/monsters/caribe/caribe-small-defend-2.png
  data/core/images/units/monsters/caribe/caribe-small-hi.png
  data/core/images/units/monsters/caribe/caribe-small-land.png
  data/core/images/units/monsters/caribe/caribe-small-lo.png
  data/core/units/monsters/Caribe_Hunter.cfg
Labels: Graphics, Units

update the fluff for caribes
  data/core/units/monsters/Caribe.cfg
  data/core/units/monsters/Caribe_Hunter.cfg
Labels: Units

Fix map preview aspect ratio in MP Create Game screen etc.
  src/gui/widgets/minimap.cpp
Labels: UI

Add loading_screen::spin() function to update progress animation.
  src/game_config_manager.cpp
  src/gui/dialogs/loading_screen.cpp
  src/gui/dialogs/loading_screen.hpp
Labels: UI

De-thread the loading screen. Load in the main thread.
  src/gui/dialogs/loading_screen.cpp
  src/gui/dialogs/loading_screen.hpp
Labels: UI

Add explicit #include for boost/filesystem/fstream.hpp
  src/tests/utils/wml_equivalence.cpp
Labels: none

Clarify that spin() does nothing when there's no loading screen.
  src/gui/dialogs/loading_screen.cpp
  src/gui/dialogs/loading_screen.hpp
Labels: UI

Size floating label background according to pixel scale and zoom.
  src/floating_label.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
Labels: none

Consistently scale the outline of in-hex text.
  src/display.cpp
Labels: none

Update high-DPI font handling to reside entirely in font/text.cpp.
  src/display.cpp
  src/floating_label.cpp
  src/floating_label.hpp
  src/font/sdl_ttf_compat.cpp
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
  src/gui/widgets/styled_widget.cpp
  src/sdl/texture.cpp
  src/sdl/texture.hpp
Labels: UI

Scale floating effect text (such as damage numbers) by zoom.
  src/game_display.cpp
Labels: none

GUI2/Panel: used rect fill color for box display
  data/gui/widget/panel_box_display.cfg
Labels: UI

Correctly handle images with resize_mode of scale or stretch.
  src/gui/core/canvas.cpp
Labels: UI

Add a new image tiling mode: "tile_highres" for high-DPI tiled images.
  data/gui/widget/window_borderless.cfg
  data/gui/widget/window_default.cfg
  data/schema/gui.cfg
  src/draw.cpp
  src/draw.hpp
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
Labels: Schema, UI

draw: add copious debugging info in a new log domain "draw".
  src/draw.cpp
Labels: none

CVideo: minor cleanup
  src/build_info.cpp
  src/controller_base.cpp
  src/gui/core/canvas.cpp
  src/gui/core/event/handler.cpp
  src/help/help_topic_generators.cpp
  src/video.cpp
  src/video.hpp
  src/widgets/menu.cpp
Labels: Help, UI

wesnothd_connection: while waiting for things, spin the loading screen.
  src/events.cpp
  src/events.hpp
  src/game_initialization/multiplayer.cpp
  src/gui/dialogs/loading_screen.cpp
  src/wesnothd_connection.cpp
Labels: UI

Fix Xcode project DEBUG scheme builds
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Fix Xcode project DEBUG scheme builds
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

SoTA: Fix zombie recruit dialog error.
  data/campaigns/Secrets_of_the_Ancients/gui/zombie_recruit_dialog.cfg
Labels: Campaign

Fix high-dpi text mis-clipping in GUI1 textboxes.
  src/widgets/textbox.cpp
Labels: none

Update changelog.
  changelog.md
Labels: none

Add new SignedRelease build configuration to Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/The Battle for Wesnoth.xcscheme
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/campaignd.xcscheme
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/liblua.xcscheme
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/unit_tests.xcscheme
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/xcshareddata/xcschemes/wesnothd.xcscheme
Labels: Building, macOS

Lua: fix assert when assigning a selected index to a menu button or toggle button
  src/scripting/lua_widget_attributes.cpp
Labels: Lua API

Address some review comments
  src/scripting/lua_color.cpp
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

SoTA: Fix zombie recruit dialog string concatenation
  data/campaigns/Secrets_of_the_Ancients/gui/zombie_recruit_dialog.cfg
Labels: Campaign

Update changelog
  changelog.md
Labels: none

SoTA: Fix zombie recruit dialog string concatenation
  data/campaigns/Secrets_of_the_Ancients/gui/zombie_recruit_dialog.cfg
Labels: Campaign

SoTA: Fix zombie recruit dialog error.
  data/campaigns/Secrets_of_the_Ancients/gui/zombie_recruit_dialog.cfg
Labels: Campaign

Fix GUI1 button hover highlight.
  src/widgets/button.cpp
Labels: none

Add loading_screen::spin() function to update progress animation.
  src/game_config_manager.cpp
  src/gui/dialogs/loading_screen.cpp
  src/gui/dialogs/loading_screen.hpp
Labels: UI

Clarify that spin() does nothing when there's no loading screen.
  src/gui/dialogs/loading_screen.cpp
  src/gui/dialogs/loading_screen.hpp
Labels: UI

De-thread the loading screen. Load in the main thread.
  src/gui/dialogs/loading_screen.cpp
  src/gui/dialogs/loading_screen.hpp
Labels: UI

wesnothd_connection: while waiting for things, spin the loading screen.
  src/events.cpp
  src/events.hpp
  src/game_initialization/multiplayer.cpp
  src/gui/dialogs/loading_screen.cpp
  src/wesnothd_connection.cpp
Labels: UI

Document new resize_mode options and grow_direction in GUIWidgetWML.
  src/wesnoth.cpp
Labels: none

Remove obsolete comment
  src/server/wesnothd/server.cpp
Labels: MP

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
