Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Attack predictions: fix for chance of being unscathed
  src/attack_prediction.cpp
Labels: none

Attack predictions: fix for chance of being unscathed
  src/attack_prediction.cpp
Labels: none

ExpAI castle switch CA: fix error when stored leader has been killed
  data/ai/lua/ca_castle_switch.lua
Labels: AI

ExpAI castle switch CA: fix error when stored leader has been killed
  data/ai/lua/ca_castle_switch.lua
Labels: AI

CI: Enable coloured CMake progress statements.
  .github/workflows/ci-main.yml
  .github/workflows/ci-scripts/ubuntu.sh
Labels: none

Add options to scons and cmake to force coloured compiled output.
  CMakeLists.txt
  SConstruct
Labels: Building, CMake, SCons

Actually display game::error when caught, before exiting.
  src/wesnoth.cpp
Labels: none

CI: Display boost unit test error output while running, not after.
  utils/CI/test_executor.sh
Labels: none

CI: Force colour diagnostics for compilation errors.
  .github/workflows/ci-scripts/docker.sh
  utils/dockerbuilds/mingw/Dockerfile
  utils/dockerbuilds/steamrt/Dockerfile
Labels: none

CI: Enable coloured output for gdb backtraces.
  run_wml_tests
  utils/CI/play_test_executor.sh
  utils/CI/test_executor.sh
Labels: none

CI: Fix MP Test executor.
  .github/workflows/ci-scripts/docker.sh
Labels: none

CI: Report which boost test suite is being executed.
  utils/CI/test_executor.sh
Labels: none

CI: Colour some failure messages, and make test sections stand out.
  .github/workflows/ci-scripts/docker.sh
  utils/CI/schema_validation.sh
Labels: none

Tests: Fix WML tests.
  src/display.cpp
  src/theme.cpp
Labels: none

display: Convert draw buffer to use textures not surfaces.
  src/display.cpp
  src/display.hpp
  src/editor/editor_display.cpp
  src/font/sdl_ttf_compat.cpp
  src/font/sdl_ttf_compat.hpp
  src/game_display.cpp
  src/picture.cpp
  src/picture.hpp
  src/units/drawer.cpp
  src/whiteboard/attack.cpp
  src/whiteboard/suppose_dead.cpp
  src/widgets/textbox.cpp
  src/widgets/textbox.hpp
Labels: Editor, Units

Remove direct screen surface blits from minimap and show_dialog.
  src/gui/widgets/minimap.cpp
  src/gui/widgets/minimap.hpp
  src/show_dialog.cpp
Labels: UI

editor: store and draw palette button images as textures not surfaces.
  src/editor/palette/editor_palettes.cpp
  src/editor/palette/tristate_button.cpp
  src/editor/palette/tristate_button.hpp
Labels: Editor

draw: allow null textures to be passed to draw functions.
  src/draw.cpp
Labels: none

CVideo: completely remove fake framebuffer compatibility surface.
  src/video.cpp
  src/video.hpp
Labels: none

Tests: Create fake window and real offscreen renderer for tests.
  src/video.cpp
  src/video.hpp
Labels: none

GUI1: remove remaining direct blits to screen surface.
  src/widgets/menu.cpp
  src/widgets/menu.hpp
  src/widgets/menu_style.cpp
Labels: none

Remove all remaining direct screen surface blits.
  src/display.cpp
  src/display.hpp
  src/sdl/surface.cpp
  src/sdl/surface.hpp
Labels: none

Tests: remove spurious filesystem test.
  src/tests/test_filesystem.cpp
Labels: none

Get map screenshots working again.
  src/display.cpp
  src/editor/editor_display.cpp
  src/game_display.cpp
  src/video.cpp
Labels: Editor

Avoid subjecting variable expansions to echo -e
  .github/workflows/ci-scripts/docker.sh
Labels: none

Add back the bold bit
  .github/workflows/ci-scripts/docker.sh
Labels: none

Color more schema validation messages
  utils/CI/schema_validation.sh
Labels: none

Color each line separately
  .github/workflows/ci-scripts/docker.sh
Labels: none

Boost tests: tee to error.log for SDL init failure check.
  utils/CI/test_executor.sh
Labels: none

Enable high-DPI windows for all platforms, not just MacOS.
  src/video.cpp
Labels: none

CVideo: remove get_dpi and get_dpi_scale_factor.
  data/campaigns/World_Conquest/gui/help_dialog.cfg
  data/gui/macros/_initial.cfg
  src/build_info.cpp
  src/draw.cpp
  src/gui/widgets/settings.cpp
  src/gui/widgets/settings.hpp
  src/video.cpp
  src/video.hpp
Labels: Campaign, UI

Tidy draw.cpp/hpp.
  src/draw.cpp
  src/draw.hpp
Labels: none

Move clip and render target setters from CVideo to draw.
  src/display.cpp
  src/draw.cpp
  src/draw.hpp
  src/floating_label.cpp
  src/gui/widgets/widget.cpp
  src/gui/widgets/window.cpp
  src/halo.cpp
  src/help/help_text_area.cpp
  src/sdl/render_utils.hpp
  src/show_dialog.cpp
  src/video.cpp
  src/video.hpp
  src/widgets/menu.cpp
  src/widgets/menu_style.cpp
  src/widgets/textbox.cpp
  src/widgets/widget.cpp
Labels: Help, UI

Fix some doxygen errors.
  src/display.hpp
  src/draw.hpp
Labels: none

draw: add viewport getter and setters.
  src/draw.cpp
  src/draw.hpp
Labels: none

image: Use get_surface to load texture images.
  src/picture.cpp
Labels: none

Remove all usages of SCALED_TO_HEX.
  src/display.cpp
  src/editor/editor_display.cpp
  src/game_display.cpp
  src/picture.cpp
  src/picture.hpp
  src/units/drawer.cpp
  src/whiteboard/attack.cpp
  src/whiteboard/suppose_dead.cpp
Labels: Editor, Units

display::render_image: use image::get_image_size().
  src/display.cpp
Labels: none

Correctly scale orbs, crowns, etc.
  src/halo.cpp
  src/units/drawer.cpp
  src/units/drawer.hpp
Labels: Units

Remove last remaining usages of SCALED_TO_ZOOM.
  src/gui/dialogs/terrain_layers.cpp
  src/gui/widgets/image.cpp
  src/picture.cpp
  src/picture.hpp
  src/scripting/lua_fileops.cpp
  src/units/drawer.cpp
  src/units/drawer.hpp
  src/units/frame.cpp
  src/widgets/menu.cpp
  src/widgets/scrollbar.cpp
Labels: Lua API, UI, Units
