Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Terrain special notes: change "on to" to "onto"
  src/help/help_topic_generators.cpp
Labels: Help

Editor: document the magenta D and the special terrain overlays
  data/core/editor/help.cfg
Labels: Editor

Editor: document the magenta D and the special terrain overlays
  data/core/editor/help.cfg
Labels: Editor

Add a "special notes" section to terrain help pages
  src/help/help_topic_generators.cpp
Labels: Help

Editor: document the magenta D and the special terrain overlays
  data/core/editor/help.cfg
Labels: Editor

Replace MAKE_ENUM of CONTROLLER with something easier to use.
  src/editor/map/map_context.cpp
  src/editor/map/map_context.hpp
  src/game_board.cpp
  src/game_board.hpp
  src/game_initialization/connect_engine.cpp
  src/game_initialization/create_engine.cpp
  src/game_state.cpp
  src/gui/dialogs/editor/edit_side.cpp
  src/gui/dialogs/editor/edit_side.hpp
  src/gui/dialogs/game_stats.cpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/menu_events.cpp
  src/playsingle_controller.cpp
  src/playturn.cpp
  src/save_index.cpp
  src/saved_game.cpp
  src/scripting/lua_team.cpp
  src/server/wesnothd/game.cpp
  src/server/wesnothd/game.hpp
  src/side_filter.cpp
  src/string_enums/enum_base.hpp
  src/string_enums/side_controller.hpp
  src/team.cpp
  src/team.hpp
Labels: Editor, Lua API, MP, UI

Replace MAKE_ENUM of CONTROLLER with something easier to use.
  src/editor/map/map_context.cpp
  src/editor/map/map_context.hpp
  src/game_board.cpp
  src/game_board.hpp
  src/game_initialization/connect_engine.cpp
  src/game_initialization/create_engine.cpp
  src/game_state.cpp
  src/gui/dialogs/editor/edit_side.cpp
  src/gui/dialogs/editor/edit_side.hpp
  src/gui/dialogs/game_stats.cpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/menu_events.cpp
  src/playsingle_controller.cpp
  src/playturn.cpp
  src/save_index.cpp
  src/saved_game.cpp
  src/scripting/lua_team.cpp
  src/server/wesnothd/game.cpp
  src/server/wesnothd/game.hpp
  src/side_filter.cpp
  src/string_enums/enum_base.hpp
  src/string_enums/side_controller.hpp
  src/team.cpp
  src/team.hpp
Labels: Editor, Lua API, MP, UI

Add a "special notes" section to terrain help pages
  src/help/help_topic_generators.cpp
Labels: Help

Add support to /clear on lobby
  src/chat_command_handler.cpp
  src/chat_events.cpp
  src/chat_events.hpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
Labels: UI

SoF Proofread Pass and Campaign Prose edits (#6177)
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3_Searching_for_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3t_The_Council_Regathers.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/7_Outriding_the_Outriders.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrmlet.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
  data/campaigns/Sceptre_of_Fire/utils/rune-equip.cfg
Labels: Campaign, Units

SoF Proofread Pass and Campaign Prose edits (#6177)
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3_Searching_for_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3t_The_Council_Regathers.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/7_Outriding_the_Outriders.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrmlet.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
  data/campaigns/Sceptre_of_Fire/utils/rune-equip.cfg
Labels: Campaign, Units

Capitalise direct references to the completed Sceptre of Fire.
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
Labels: Campaign

Capitalise direct references to the completed Sceptre of Fire.
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
Labels: Campaign

Temporarily re-introduce the SPECIAL_NOTES macro
  data/core/macros/special-notes.cfg
Labels: none

Temporarily re-introduce the SPECIAL_NOTES macro (#6463)
  data/core/macros/special-notes.cfg
Labels: none

Make clear_message a virtual method from chat_handler
  src/chat_command_handler.cpp
  src/chat_command_handler.hpp
  src/chat_events.cpp
  src/chat_events.hpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
  src/menu_events.hpp
Labels: UI

update codeblock projectfiles
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

update codeblock projectfiles
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

world conquest, artifacts = substitute value= with add=
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign

fix cumulative=yes don't function for [leadership](1.16)
  src/actions/attack.cpp
  src/units/abilities.cpp
  src/units/abilities.hpp
Labels: Units

fix fake_chat_handler
  src/tests/gui/test_gui2.cpp
Labels: none

updated Czech translation
  changelog.md
  po/wesnoth-did/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
Labels: Translations

various small sprite updates (#6452) (#6459)
  data/core/images/units/monsters/croc/crocodile-float-ne-defend1.png
  data/core/images/units/monsters/croc/crocodile-float-ne-defend2.png
  data/core/images/units/monsters/croc/crocodile-float-ne.png
  data/core/images/units/monsters/croc/crocodile-float.png
  data/core/images/units/monsters/croc/crocodile-ne-attack1.png
  data/core/images/units/monsters/croc/crocodile-ne-attack2.png
  data/core/images/units/monsters/croc/crocodile-ne-attack3.png
  data/core/images/units/monsters/croc/crocodile-ne-attack4.png
  data/core/images/units/monsters/croc/crocodile-ne-attack5.png
  data/core/images/units/monsters/croc/crocodile-ne-attack6.png
  data/core/images/units/monsters/croc/crocodile-ne-defend1.png
  data/core/images/units/monsters/croc/crocodile-ne-defend2.png
  data/core/images/units/monsters/croc/crocodile-ne.png
  data/core/units/monsters/Crocodile.cfg
  data/core/units/monsters/Sea_Serpent.cfg
  data/core/units/monsters/Water_Serpent.cfg
Labels: Graphics, Units

Fix sidebar abilities leaking shrouded information
  src/units/abilities.cpp
Labels: Units

Update pl.po
  po/wesnoth-did/pl.po
Labels: Translations

more variations for rocks, rubble, and snowbits
  data/core/images/terrain/embellishments/rocks10.png
  data/core/images/terrain/embellishments/rocks4.png
  data/core/images/terrain/embellishments/rocks5.png
  data/core/images/terrain/embellishments/rocks6.png
  data/core/images/terrain/embellishments/rocks7.png
  data/core/images/terrain/embellishments/rocks8.png
  data/core/images/terrain/embellishments/rocks9.png
  data/core/images/terrain/embellishments/snowbits-small5.png
  data/core/images/terrain/embellishments/snowbits-small6.png
  data/core/images/terrain/embellishments/snowbits-small7.png
  data/core/images/terrain/embellishments/snowbits-small8.png
  data/core/images/terrain/embellishments/snowbits-small9.png
  data/core/images/terrain/embellishments/stones-small10.png
  data/core/images/terrain/embellishments/stones-small6.png
  data/core/images/terrain/embellishments/stones-small9.png
  data/core/images/terrain/misc/rubble.png
  data/core/images/terrain/misc/rubble2.png
  data/core/images/terrain/misc/rubble3.png
  data/core/images/terrain/misc/rubble4.png
  data/core/images/terrain/misc/rubble5.png
  data/core/images/terrain/misc/rubble6.png
Labels: Graphics, Terrain

Use empty method
  src/gui/widgets/chatbox.cpp
Labels: UI

Add /clear chat command (#6457)
  src/chat_command_handler.cpp
  src/chat_command_handler.hpp
  src/chat_events.hpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
  src/menu_events.hpp
  src/tests/gui/test_gui2.cpp
Labels: UI

icy stone walls variation for Xos, based on adjacent terrain, not new code
  data/core/images/terrain/walls/stone/wall-stone-snow-concave-tl.png
  data/core/images/terrain/walls/stone/wall-stone-snow-concave-tr.png
  data/core/images/terrain/walls/stone/wall-stone-snow-convex-bl.png
  data/core/images/terrain/walls/stone/wall-stone-snow-convex-br.png
  data/core/images/terrain/walls/stone/wall-stone-snow-convex-l.png
  data/core/images/terrain/walls/stone/wall-stone-snow-convex-r.png
  data/core/images/terrain/walls/stone/wall-stone-snow-corner-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

Add /clear chat command
  src/chat_command_handler.cpp
  src/chat_command_handler.hpp
  src/chat_events.hpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
  src/menu_events.hpp
  src/tests/gui/test_gui2.cpp
Labels: UI

Add /clear chat command
  src/chat_command_handler.cpp
  src/chat_command_handler.hpp
  src/chat_events.hpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
  src/menu_events.hpp
  src/tests/gui/test_gui2.cpp
Labels: UI

reset stats on replay load
  src/game_launcher.cpp
Labels: none

Update about.cfg
  data/core/about.cfg
Labels: none

world conquest: convert file from .txt to .md
  data/campaigns/World_Conquest/MODDING.txt
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

[world conquest] add section on era manipulation
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

world conquest: finished section on era manipulation
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

Update Modding.md
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

[world conquest] finish up section on documentation
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign

Update about.cfg
  data/core/about.cfg
Labels: none
