Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

ringcaster ranged attack anim
  data/core/images/units/nagas/ringcaster-throw-1.png
  data/core/images/units/nagas/ringcaster-throw-2.png
  data/core/images/units/nagas/ringcaster-throw-3.png
  data/core/images/units/nagas/ringcaster-throw-4.png
  data/core/images/units/nagas/ringcaster-throw-5.png
  data/core/images/units/nagas/ringcaster-throw-6.png
  data/core/images/units/nagas/ringcaster-throw-7.png
  data/core/images/units/nagas/ringcaster-throw-8.png
Labels: Graphics, Units

forgot to add unit cfg to ringcaster ranged attack anim commit
  data/core/units/nagas/Ringcaster.cfg
Labels: Units

ran woptipng.py
  data/core/images/units/nagas/ringcaster-attack-1.png
  data/core/images/units/nagas/ringcaster-attack-2.png
  data/core/images/units/nagas/ringcaster-attack-3.png
  data/core/images/units/nagas/ringcaster-attack-4.png
  data/core/images/units/nagas/ringcaster-attack-5.png
  data/core/images/units/nagas/ringcaster-attack-6.png
  data/core/images/units/nagas/ringcaster-attack-7.png
  data/core/images/units/nagas/ringcaster-defend1.png
  data/core/images/units/nagas/ringcaster-defend2.png
  data/core/images/units/nagas/ringcaster-throw-1.png
  data/core/images/units/nagas/ringcaster-throw-2.png
  data/core/images/units/nagas/ringcaster-throw-3.png
  data/core/images/units/nagas/ringcaster-throw-4.png
  data/core/images/units/nagas/ringcaster-throw-5.png
  data/core/images/units/nagas/ringcaster-throw-6.png
  data/core/images/units/nagas/ringcaster-throw-7.png
  data/core/images/units/nagas/ringcaster-throw-8.png
  data/core/images/units/nagas/ringcaster.png
Labels: Graphics, Units

August 8th animations (#6012)
  data/core/images/units/nagas/ringcaster-attack-1.png
  data/core/images/units/nagas/ringcaster-attack-2.png
  data/core/images/units/nagas/ringcaster-attack-3.png
  data/core/images/units/nagas/ringcaster-attack-4.png
  data/core/images/units/nagas/ringcaster-attack-5.png
  data/core/images/units/nagas/ringcaster-attack-6.png
  data/core/images/units/nagas/ringcaster-attack-7.png
  data/core/images/units/nagas/ringcaster-defend1.png
  data/core/images/units/nagas/ringcaster-defend2.png
  data/core/images/units/nagas/ringcaster-throw-1.png
  data/core/images/units/nagas/ringcaster-throw-2.png
  data/core/images/units/nagas/ringcaster-throw-3.png
  data/core/images/units/nagas/ringcaster-throw-4.png
  data/core/images/units/nagas/ringcaster-throw-5.png
  data/core/images/units/nagas/ringcaster-throw-6.png
  data/core/images/units/nagas/ringcaster-throw-7.png
  data/core/images/units/nagas/ringcaster-throw-8.png
  data/core/images/units/nagas/ringcaster.png
  data/core/units/nagas/Dirkfang.cfg
  data/core/units/nagas/Ringcaster.cfg
Labels: Graphics, Units

Allow the campaign selection to be bigger on HDPI screens
  data/gui/window/campaign_dialog.cfg
Labels: UI

GUI2: add resize_mode=scale_sharp for [image] shapes
  data/schema/gui.cfg
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
Labels: Schema, UI

GUI2: used a scoped enum for resize_mode
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
Labels: UI

GUI2/Faction Select: use an drawing widget for the leader display
  data/gui/window/mp_faction_select.cfg
  src/gui/dialogs/multiplayer/faction_select.cpp
Labels: UI

Fixup schema
  data/schema/gui.cfg
Labels: Schema, UI

Revert "MP: send info/announcements as part of [join_lobby]"
  src/game_initialization/multiplayer.cpp
  src/game_initialization/multiplayer.hpp
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/multiplayer/lobby.hpp
  src/gui/dialogs/server_info_dialog.cpp
  src/gui/dialogs/server_info_dialog.hpp
  src/server/wesnothd/server.cpp
Labels: MP, UI

Add TLS config file options to wesnothd man page
  doc/man/wesnothd.6
Labels: Docs

Move tls config params to proper place
  doc/man/wesnothd.6
Labels: Docs

place deny_unregistered_login config option in alphabetical position
  doc/man/wesnothd.6
Labels: Docs

[world conquest] replace deprecated ^Uf and Uft with ^Tf and Tt part-2
  data/campaigns/World_Conquest/lua/map/generator/clayey.lua
  data/campaigns/World_Conquest/lua/map/generator/coral.lua
  data/campaigns/World_Conquest/lua/map/generator/industrial.lua
  data/campaigns/World_Conquest/lua/map/generator/podzol.lua
  data/campaigns/World_Conquest/lua/map/generator/provinces.lua
  data/campaigns/World_Conquest/lua/map/generator/sulfurous.lua
  data/campaigns/World_Conquest/lua/map/generator/wetland.lua
  data/campaigns/World_Conquest/lua/map/generator/wicked.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/1A_Start.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2A_Springs.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2C_Glaciers.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2D_Provinces.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2F_Clayey.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3A_Savannah.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3B_Wreck.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3C_Delta.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3E_Coral.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3F_Wetland.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4A_Thermal.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4B_Volcanic.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4C_Mines.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4D_Podzol.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4E_Wicked.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4F_Wild.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6A_Rural.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6B_Maritime.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6C_Industrial.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6D_Feudal.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/noise.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/utilities.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/wild_zones.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/destruction.lua
Labels: Campaign

[world conquest] replaced khalifate unit types with dunefolk unit types
  data/campaigns/World_Conquest/era/factions/The_Gang.cfg
  data/campaigns/World_Conquest/era/factions/The_Guild.cfg
  data/campaigns/World_Conquest/era/factions/The_Hand.cfg
  data/campaigns/World_Conquest/era/factions/The_Horde.cfg
  data/campaigns/World_Conquest/era/factions/The_Militia.cfg
  data/campaigns/World_Conquest/era/factions/The_Trust.cfg
  data/campaigns/World_Conquest/era/factions/strings.cfg
Labels: Campaign

[world conquest] World Conquest Era is only available for the WC campaign
  data/campaigns/World_Conquest/era/era.cfg
Labels: Campaign

[world conquest] replace deprecated ^Uf and Uft with ^Tf and Tt part-2
  data/campaigns/World_Conquest/lua/map/generator/clayey.lua
  data/campaigns/World_Conquest/lua/map/generator/coral.lua
  data/campaigns/World_Conquest/lua/map/generator/industrial.lua
  data/campaigns/World_Conquest/lua/map/generator/podzol.lua
  data/campaigns/World_Conquest/lua/map/generator/provinces.lua
  data/campaigns/World_Conquest/lua/map/generator/sulfurous.lua
  data/campaigns/World_Conquest/lua/map/generator/wetland.lua
  data/campaigns/World_Conquest/lua/map/generator/wicked.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/1A_Start.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2A_Springs.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2C_Glaciers.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2D_Provinces.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2F_Clayey.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3A_Savannah.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3B_Wreck.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3C_Delta.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3E_Coral.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3F_Wetland.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4A_Thermal.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4B_Volcanic.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4C_Mines.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4D_Podzol.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4E_Wicked.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4F_Wild.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6A_Rural.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6B_Maritime.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6C_Industrial.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6D_Feudal.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/noise.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/utilities.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/wild_zones.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/destruction.lua
Labels: Campaign

Schema update for [era].
  data/schema/core/addons.cfg
Labels: Schema

Schema update for [era].
  data/schema/core/addons.cfg
Labels: Schema

Remove duplicate schema attributes.
  data/schema/core/addons.cfg
Labels: Schema

Remove duplicate schema attributes.
  data/schema/core/addons.cfg
Labels: Schema

TSG S8b: reduce difficulty
  data/campaigns/The_South_Guard/scenarios/08b_The_Tides_of_War.cfg
Labels: Campaign

TSG S8b: reduce difficulty
  data/campaigns/The_South_Guard/scenarios/08b_The_Tides_of_War.cfg
Labels: Campaign

Add help information for the :benchmark command.
  data/core/help.cfg
  src/menu_events.cpp
Labels: Help

Adds some additional text regarding wesnothd's [redirect] and mysql support.
  doc/man/wesnothd.6
Labels: Docs

Addon Manager: disable version dropdown if there's only one entry
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

Addon Manager: improve upload/update time formatting
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

Put quotes around missing era in case it's blank.
  src/game_initialization/mp_game_utils.cpp
Labels: none

Put quotes around missing era in case it's blank.
  src/game_initialization/mp_game_utils.cpp
Labels: none

Revert "Addon Manager: change to upload/update time formatting to month-day-year"
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

WIP: Format times in the add-on manager using utils::format_time_summary
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

updated Polish translation
  changelog.md
  po/wesnoth-lib/pl.po
  po/wesnoth-tb/pl.po
  po/wesnoth-units/pl.po
  po/wesnoth/pl.po
Labels: Translations

updated Polish translation
  changelog.md
  po/wesnoth-lib/pl.po
  po/wesnoth-tb/pl.po
  po/wesnoth-units/pl.po
  po/wesnoth/pl.po
Labels: Translations

updated Czech translation
  po/wesnoth-dm/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wc/cs.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-dm/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated French translation
  po/wesnoth-dw/fr.po
  po/wesnoth-ei/fr.po
  po/wesnoth-tsg/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated French translation
  po/wesnoth-dw/fr.po
  po/wesnoth-ei/fr.po
  po/wesnoth-tsg/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated German translation
  po/wesnoth-httt/de.po
  po/wesnoth-trow/de.po
Labels: Translations

snow version of the small mountains for castless and chasms
  data/core/images/terrain/mountains/snow-castle-n.png
  data/core/images/terrain/mountains/snow-castle-ne.png
  data/core/images/terrain/mountains/snow-castle-nw.png
  data/core/images/terrain/mountains/snow-castle-s.png
  data/core/images/terrain/mountains/snow-castle-se.png
  data/core/images/terrain/mountains/snow-castle-sw.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

UtBS S09: Reveal the boss of the scenario at the end of part 1
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Campaign

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
