Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

Update attack_type.cpp
  src/units/attack_type.cpp
Labels: Units

Update attack_type.cpp
  src/units/attack_type.cpp
Labels: Units

Simplify a few wesnoth.*_unit calls
  data/lua/wml-tags.lua
Labels: Lua API

Simplify a few wesnoth.*_unit calls
  data/lua/wml-tags.lua
Labels: Lua API

Remember tile_size/zoom factor between play sessions.
  src/display.cpp
  src/preferences/general.cpp
  src/preferences/general.hpp
Labels: none

Validate zoom level upon initialisation as well as in setting.
  src/display.cpp
  src/display.hpp
Labels: none

Update change log.
  changelog.md
Labels: none

Add zoom options to context menu.
  data/themes/default.cfg
Labels: UI

Make zoom validation a local function instead of private member and update comments.
  src/display.cpp
  src/display.hpp
Labels: none

restore erase [filter(_second)_weapon] to weapon like abilities
  src/actions/attack.cpp
Labels: none

Move appdata script to a more appropriate place
  utils/update_appdata
Labels: none

Update attack.hpp
  src/actions/attack.hpp
Labels: none

Update credits: add EarthCake, update octalot, newfrenchy83
  data/core/about.cfg
Labels: none

Use zoom_index_ as the basis of zoom operations instead of zoom_.
  src/display.cpp
  src/preferences/general.cpp
  src/preferences/general.hpp
Labels: none

Correct inconsistent comment.
  src/display.cpp
Labels: none

Make a unit respond to mouse-clicks after end_unit_turn (fixes #4466)
  src/menu_events.cpp
Labels: none

Marauder: fix typo
  data/core/units/dunefolk/Marauder.cfg
Labels: Units

Mark villages label category as a translation string.
  src/generators/default_map_generator.cpp
Labels: none

Mark villages label category as a translation string.
  src/generators/default_map_generator.cpp
Labels: none

WML: Add separate special_id and special_type checks to weapon filtering
  data/scenario-test.cfg
  data/schema/filters/weapon.cfg
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: Schema, Units

Add #3915 to changelog
  changelog.md
Labels: none

Re-use existing translation for Villages.
  src/generators/default_map_generator.cpp
Labels: none

Re-use existing translation for Villages.
  src/generators/default_map_generator.cpp
Labels: none

Updating comments.
  data/game_config.cfg
  src/display.cpp
Labels: none

unit_recruit: Pass the error strings as t_string
  src/gui/dialogs/unit_recruit.cpp
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
  src/menu_events.hpp
Labels: UI

unit_recruit: Gray out units that would not be able to be recruited
  src/actions/create.cpp
  src/gui/dialogs/unit_recruit.cpp
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
Labels: UI

recruit: Show a transient message if repeating a recruit failed
  src/menu_events.cpp
Labels: none

unit_recruit: Edit comments
  src/gui/dialogs/unit_recruit.hpp
Labels: UI

Add #4444 to changelog
  changelog.md
Labels: none

unit_recruit: Rename variable
  src/gui/dialogs/unit_recruit.cpp
Labels: UI

unit_recruit: Minor refactoring
  src/gui/dialogs/unit_recruit.hpp
  src/menu_events.cpp
Labels: UI

unit_recruit: Move the planning mode gold computation out of the dialog
  src/gui/dialogs/unit_recruit.cpp
  src/menu_events.cpp
Labels: UI

recruit: Add menu_handler::can_recruit that returns a reason
  src/menu_events.cpp
  src/menu_events.hpp
Labels: none

Mark random leader label for translation.
  src/game_initialization/flg_manager.cpp
  src/gui/dialogs/multiplayer/faction_select.cpp
Labels: UI

Mark random leader label for translation.
  src/game_initialization/flg_manager.cpp
  src/gui/dialogs/multiplayer/faction_select.cpp
Labels: UI

lua: Make unit.__tostring report units on recall lists
  src/scripting/lua_unit.cpp
  src/scripting/lua_unit.hpp
Labels: Lua API

lua: Add __tostring to units
  src/scripting/lua_unit.cpp
Labels: Lua API

Rename set_default_zoom to toggle_default_zoom.
  src/display.cpp
  src/display.hpp
  src/editor/controller/editor_controller.cpp
  src/hotkey/command_executor.cpp
Labels: Editor

Make zoom validation a local function instead of private member and update comments.
  src/display.cpp
  src/display.hpp
Labels: none

Add zoom options to context menu.
  data/themes/default.cfg
Labels: UI

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*
