Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

gui1: Remove unused dialog styles
  src/show_dialog.cpp
  src/show_dialog.hpp
Labels: none

gui1: Bring base font measurements up to match GUI2
  src/font/constants.cpp
Labels: none

gui1: Use a new font measurement for buttons to match GUI2
  src/font/constants.cpp
  src/font/constants.hpp
  src/widgets/button.cpp
Labels: none

gui1: Revert font measurements for tooltips and in-game text overlays
  src/display.cpp
  src/floating_label.cpp
  src/font/constants.cpp
  src/font/constants.hpp
  src/game_display.cpp
  src/synced_user_choice.cpp
  src/tooltips.cpp
Labels: none

gui1: Readjust font measurements for the in-game input box
  src/floating_textbox.cpp
Labels: none

help: Readjust heading font measurement and line spacing
  src/help/help_impl.cpp
  src/help/help_text_area.cpp
Labels: Help

gui1: Embiggen listbox items
  src/widgets/menu_style.cpp
Labels: none

gui1: Remove unused menu style
  src/widgets/menu.hpp
  src/widgets/menu_style.cpp
Labels: none

Update changelog
  changelog.md
Labels: none

gui1: Make button font size configurable
  src/widgets/button.cpp
  src/widgets/button.hpp
Labels: none

Use a smaller font size for theme UI buttons
  changelog.md
  src/display.cpp
  src/font/constants.cpp
  src/font/constants.hpp
Labels: none

Fix wesnoth.set_terrain without a mode
  data/lua/core/map.lua
Labels: Lua API

gui2/drop_down_menu: Make display of entry details more orderly
  changelog.md
  data/gui/window/drop_down_list.cfg
Labels: UI

gui2/preferences_dialog: Fix breakage of display ratios listing
  changelog.md
  src/gui/dialogs/preferences_dialog.cpp
Labels: UI

gui2: Make GUI_LINE and GUI_POINT public macros
  data/gui/macros/_initial.cfg
  data/gui/widget/button_default.cfg
Labels: UI

gui2: Restyle comboboxes to look like buttons rather than textboxes
  changelog.md
  data/gui/widget/menu_button_default.cfg
  data/gui/widget/multimenu_button_default.cfg
Labels: UI

Don't display the end screen at all with end_credits=no
  changelog.md
  src/game_initialization/playcampaign.cpp
  src/gui/dialogs/outro.cpp
Labels: UI

Fix [campaign] end_credits= having no effect
  changelog.md
  src/game_initialization/create_engine.cpp
Labels: none

tutorial: Disable end credits
  changelog.md
  data/campaigns/tutorial/_main.cfg
Labels: Campaign

help: Long window caption is long
  src/help/help.cpp
Labels: Help

Fix changelog
  changelog.md
Labels: none

Remove gzipped tarball instructions from INSTALL.md
  INSTALL.md
Labels: none

EI S7a: Improve how side 2 makes its entrance
  data/campaigns/Eastern_Invasion/scenarios/07a_The_Crossing.cfg
Labels: Campaign

EI S10: Switch shroud to fog
  data/campaigns/Eastern_Invasion/scenarios/10_Lake_Vrug.cfg
Labels: Campaign

EI S10: Make recall undoable
  data/campaigns/Eastern_Invasion/scenarios/10_Lake_Vrug.cfg
Labels: Campaign

EI S11: Annotate bonus objectives as such.
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Campaign

updated British English translation
  po/wesnoth-l/en_GB.po
  po/wesnoth-lib/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-units/en_GB.po
  po/wesnoth-wc/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

EI S8: don't tax the player
  data/campaigns/Eastern_Invasion/scenarios/08_Training_the_Ogres.cfg
Labels: Campaign

EI S11: Annotate bonus objectives as such.
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Campaign

EI S10: Make recall undoable
  data/campaigns/Eastern_Invasion/scenarios/10_Lake_Vrug.cfg
Labels: Campaign

EI S7a: Improve how side 2 makes its entrance
  data/campaigns/Eastern_Invasion/scenarios/07a_The_Crossing.cfg
Labels: Campaign

EI S10: Switch shroud to fog
  data/campaigns/Eastern_Invasion/scenarios/10_Lake_Vrug.cfg
Labels: Campaign

Rename functions managing special weapons to improve readability for engine devellopper
  src/actions/attack.cpp
  src/ai/default/aspect_attacks.cpp
  src/gui/dialogs/attack_predictions.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
  src/units/udisplay.cpp
Labels: AI, UI, Units

units - zombie scorpion portrait revision
  data/core/images/portraits/undead/zombie-scorpion.png
Labels: Graphics

replace "_old" by "_without_abilities"
  src/actions/attack.cpp
  src/ai/default/aspect_attacks.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: AI, Units

Let's try making clone() actually return a shared_ptr
  src/ai/default/contexts.hpp
  src/ai/formula/ai.hpp
  src/ai/formula/callable_objects.hpp
  src/formula/callable.hpp
  src/formula/callable_objects.hpp
  src/formula/formula.cpp
  src/formula/function.cpp
  src/formula/function.hpp
  src/image_modifications.cpp
  src/scripting/lua_formula_bridge.cpp
  src/tests/test_formula_core.cpp
Labels: AI, Lua API, WFL

1.15.11.
  Doxyfile
  changelog.md
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS

1.15.11+dev.
  Doxyfile
  changelog.md
  src/wesconfig.h
Labels: none

Wesnoth 1.14.16.
  Doxyfile
  changelog.md
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS

Wesnoth 1.14.16+dev.
  Doxyfile
  changelog.md
  src/wesconfig.h
Labels: none

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
