Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Remove the deprecated wesnoth.select_hex
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

adding wyrm portrait
  data/campaigns/Sceptre_of_Fire/images/portraits/monsters/wyrm.png
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrmlet.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
Labels: Campaign, Graphics, Units

remove NOTE_MARKSMAN
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
Labels: Campaign, Units

some adjustments to S8
  data/campaigns/Sceptre_of_Fire/maps/8_The_Dragon.map
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
Labels: Campaign

SoF - final scenarios (#5835)
  data/campaigns/Sceptre_of_Fire/_main.cfg
  data/campaigns/Sceptre_of_Fire/images/portraits/monsters/wyrm.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-5.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-5.png
  data/campaigns/Sceptre_of_Fire/maps/8_The_Dragon.map
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrmlet.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
Labels: Campaign, Graphics, Units

Update changelog.md
  changelog.md
Labels: none

Add addons to wesnoth.game_config
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

pot and documentation update
  data/languages/es_ES.cfg
  doc/manual/manual.es.html
  doc/manual/manual.it.html
  po/wesnoth-manpages/wesnoth-manpages.pot
  po/wesnoth-manual/wesnoth-manual.pot
Labels: Docs, Translations

updated lua file of IoM with recent Lua_reorg changes
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

updated one wave comp to include the Fire Wraith
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

updated description to mention that beginners should not attempt it
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

split the enemy waves into 2 as suggested
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

adjusted the final wave spawns
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

Delete crocodile.png
  data/campaigns/Winds_of_Fate/images/units/crocodile.png
Labels: Campaign, Graphics

Note docking in caravel description
  data/campaigns/Winds_of_Fate/units/Caravel.cfg
Labels: Campaign, Units

Improve jaguar description
  data/campaigns/Winds_of_Fate/units/Jaguar.cfg
Labels: Campaign, Units

S04: Make the terms of alliance clearer in the scenario notes
  data/campaigns/Winds_of_Fate/scenarios/04_Islands.cfg
Labels: Campaign

S08: Make unit macro have same side as the rest of the gates
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
Labels: Campaign

Remove incorrect filter tags from store_side usage
  data/campaigns/Winds_of_Fate/scenarios/04_Islands.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
Labels: Campaign

Satisfy schema by putting side numbers in unit macros used in side tags
  data/campaigns/Winds_of_Fate/scenarios/02_The_Raid.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Wesmere.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
Labels: Campaign

Remove irrelevant comment
  data/campaigns/Winds_of_Fate/lua/lua.lua
Labels: Campaign

S08: Fix schema error by using proper syntax for multiple keys on one line
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
Labels: Campaign

S04: Remove contradictory key about bonus gold
  data/campaigns/Winds_of_Fate/scenarios/04_Islands.cfg
Labels: Campaign

Remove NOTES that are automatically applied now
  data/campaigns/Winds_of_Fate/units/Jaguar.cfg
  data/campaigns/Winds_of_Fate/units/Kraken.cfg
Labels: Campaign, Units

wmlindent pass
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/02_The_Raid.cfg
  data/campaigns/Winds_of_Fate/scenarios/03x_Advice.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Wesmere.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
  data/campaigns/Winds_of_Fate/units/Crocodile.cfg
  data/campaigns/Winds_of_Fate/units/Dolphin.cfg
  data/campaigns/Winds_of_Fate/utils/wov-macros.cfg
Labels: Campaign, Units

S09: Prevent monsters from spawning on villages
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
Labels: Campaign

S08: Prevent elves & woses from spawning on the tree by the Lich-Lord
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
Labels: Campaign

Add campaign to schema validation
  utils/CI/schema_validation.sh
Labels: none

Update README.md
  README.md
Labels: none

font: Remove dead code and WML previously associated to SDL_ttf
  data/hardwired/fonts.cfg
  src/font/font_config.cpp
Labels: none

Combine profile build into release build.
  CMakeLists.txt
  SConstruct
Labels: Building, CMake, SCons

Combine profile build into release build.
  CMakeLists.txt
  SConstruct
Labels: Building, CMake, SCons

font: Remove dead code and WML previously associated to SDL_ttf
  data/hardwired/fonts.cfg
  src/font/font_config.cpp
Labels: none

Add -fno-omit-frame-pointer for perf.
  CMakeLists.txt
  SConstruct
Labels: Building, CMake, SCons

Update gcov options.
  SConstruct
Labels: Building, SCons

Make the profiler configurable in CMake's UI
  CMakeLists.txt
Labels: Building, CMake

Slight optimisation of canvas::set_variables using std::move
  src/formula/callable.hpp
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
Labels: UI, WFL

Make the profiler configurable in CMake's UI
  CMakeLists.txt
Labels: Building, CMake

adjusted the balance of IoM enemy strength
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

Add TLS changes to changelog
  changelog.md
Labels: none
