Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

boss MAI: define the new MAI
  data/ai/micro_ais/mai-defs/scenario_boss.lua
Labels: AI

Fix Winged Sceptre bug in WC
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
Labels: Campaign

wmllint: fixed a typo in a terrain code
  data/tools/wmllint
Labels: WML Tools

wmllint: fixed a typo in a terrain code
  data/tools/wmllint
Labels: WML Tools

World Conquest: Fix for Winged Scepter bug
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
Labels: Campaign

boss mai: added map for test scenario
  data/ai/micro_ais/maps/dungeon_mai_comparisons.map
Labels: AI

Fix [store_unit]'s stored coordinates for recalls
  data/lua/wml-tags.lua
  data/test/scenarios/put_to_recall_and_modify.cfg
  wml_test_schedule
Labels: Lua API, Unit Tests

Fix [store_unit]'s stored coordinates for recalls
  data/lua/wml-tags.lua
  data/test/scenarios/put_to_recall_and_modify.cfg
  wml_test_schedule
Labels: Lua API, Unit Tests

Enhance role coding
  data/campaigns/Heir_To_The_Throne/scenarios/04_The_Bay_of_Pearls.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/06_The_Siege_of_Elensefar.cfg
Labels: Campaign

Error correction
  data/campaigns/Heir_To_The_Throne/scenarios/06_The_Siege_of_Elensefar.cfg
Labels: Campaign

world conquest: replace attack icon of ice-bow to something appropriate
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign

World Conquest: updated changelog on bug fixes
  changelog.md
Labels: none

World Conquest: updated changelog on bug fixes
  changelog.md
Labels: none

corrected an incorrect path to CA file
  data/ai/micro_ais/mai-defs/scenario_boss.lua
Labels: AI

boss MAI: updated lua ca file to LuaAPI changes
  data/ai/micro_ais/cas/ca_boss.lua
Labels: AI

Run the WML unit tests on macOS.
  .github/workflows/ci-scripts/macos.sh
Labels: none

Run the WML unit tests on macOS.
  .github/workflows/ci-scripts/macos.sh
Labels: none

Run the WML unit tests on macOS.
  .github/workflows/ci-scripts/macos.sh
Labels: none

Comma correction
  data/campaigns/Heir_To_The_Throne/scenarios/06_The_Siege_of_Elensefar.cfg
Labels: Campaign

Fix [store_unit]'s stored coordinates for recalls
  data/lua/wml-tags.lua
  data/test/scenarios/put_to_recall_and_modify.cfg
  wml_test_schedule
Labels: Lua API, Unit Tests

Solve OOS by moving code to synced event
  data/campaigns/Northern_Rebirth/scenarios/01_Breaking_the_Chains.cfg
Labels: Campaign

OOS and wall fixes
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

2 more units
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

Changelog and trigger skip fix
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

Turns out github actions doesn't have a macOS ARM CI.
  .github/workflows/ci-main.yml
Labels: none

Turns out github actions doesn't have a macOS ARM CI.
  .github/workflows/ci-main.yml
Labels: none

Don't leave a hex selected when using 't' to continue a move
  src/menu_events.cpp
Labels: none

Only show planned moves to self and allies
  src/mouse_events.cpp
  src/mouse_events.hpp
Labels: none

Only show planned moves to self and allies
  src/mouse_events.cpp
  src/mouse_events.hpp
Labels: none

Don't leave a hex selected when using 't' to continue a move
  src/menu_events.cpp
Labels: none

Black Nightmare: add a translation hint for this unit's name
  data/core/units/monsters/Horse_Black.cfg
Labels: Units

Only show planned moves to self and allies
  src/mouse_events.cpp
  src/mouse_events.hpp
Labels: none

Don't leave a hex selected when using 't' to continue a move
  src/menu_events.cpp
Labels: none

Check for pango and readline with cmake.
  CMakeLists.txt
Labels: Building, CMake

Check for pango and readline with cmake.
  CMakeLists.txt
Labels: Building, CMake

Fixed some wmlscope warnings
  data/core/terrain-graphics/new-macros.cfg
  data/tools/wesnoth/wmltools3.py
Labels: Terrain, WML Tools

Fixed some wmlscope warnings
  data/core/terrain-graphics/new-macros.cfg
  data/tools/wesnoth/wmltools3.py
Labels: Terrain, WML Tools

boss mai: added tester leader unit position on map
  data/ai/micro_ais/maps/dungeon_mai_comparisons.map
Labels: AI

boss mai: added test scenario
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

boss mai: run wmlindent on test scenario
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
