Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Add [teaching_anim] for abilities used like weapon specials given by an adjacent unit
  changelog.md
  data/campaigns/Heir_To_The_Throne/utils/abilities.cfg
  data/core/macros/animation-utils.cfg
  data/schema/units/animations.cfg
  src/units/animation.cpp
  src/units/animation.hpp
  src/units/udisplay.cpp
Labels: Campaign, Schema, Units

font: Work around chromatic aberration issue with Windows ClearType
  src/font/text.cpp
Labels: none

font/sdl_ttf_compat: Drop redundant font::pango_draw_text() API
  src/font/sdl_ttf_compat.cpp
  src/font/sdl_ttf_compat.hpp
  src/widgets/menu.cpp
Labels: none

Liberty: yet another dialogue revision
  data/campaigns/Liberty/scenarios/01_The_Raid.cfg
  data/campaigns/Liberty/scenarios/02_Civil_Disobedience.cfg
  data/campaigns/Liberty/scenarios/03_A_Strategy_Of_Hope.cfg
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
  data/campaigns/Liberty/scenarios/06_The_Hunters.cfg
  data/campaigns/Liberty/scenarios/07_Glory.cfg
  data/campaigns/Liberty/scenarios/08_Epilogue.cfg
Labels: Campaign

Re-add ptr-container to the VS instructions.
  projectfiles/VC16/README.md
Labels: Building

Remove orphaned item from VS project
  projectfiles/VC16/wesnoth.vcxproj
  projectfiles/VC16/wesnoth.vcxproj.filters
Labels: Building

Liberty S8: prose fix
  data/campaigns/Liberty/scenarios/08_Epilogue.cfg
Labels: Campaign

ui: Fix font and box sizes for unit defense labels on the sidebar
  data/themes/default.cfg
Labels: UI

ui: Reduce unit HP/XP/MP/Def font sizes and line heights on 1024x600
  data/themes/default.cfg
Labels: UI

Update Codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

Update Codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

font: Work around chromatic aberration issue with Windows ClearType
  src/font/text.cpp
Labels: none

ui: Use the correct default text colour for Theme UI elements
  src/display.cpp
Labels: none

ui: Rearrange and resize the unit vision and XP labels slightly
  data/themes/default.cfg
Labels: UI

ui: Reduce font size for the ToD counter
  data/themes/default.cfg
Labels: UI

ui: Fix bad x position for the theme UI battery status on low resolutions
  data/themes/default.cfg
Labels: UI

ui: Fix font and box sizes for unit defense labels on the sidebar
  data/themes/default.cfg
Labels: UI

ui: Reduce unit HP/XP/MP/Def font sizes and line heights on 1024x600
  data/themes/default.cfg
Labels: UI

ui: Rearrange and resize the unit vision and XP labels slightly
  data/themes/default.cfg
Labels: UI

ui: Reduce font size for the ToD counter
  data/themes/default.cfg
Labels: UI

ui: Fix bad x position for the theme UI battery status on low resolutions
  data/themes/default.cfg
Labels: UI

EI S1, S2: Fix typos
  data/campaigns/Eastern_Invasion/scenarios/01_The_Outpost.cfg
  data/campaigns/Eastern_Invasion/scenarios/02_The_Escape_Tunnel.cfg
Labels: Campaign

EI S1: Update objectives to reflect when an early finish bonus is given.
  data/campaigns/Eastern_Invasion/scenarios/01_The_Outpost.cfg
Labels: Campaign

EI S2: Lift shroud (but not fog) around the amulet
  data/campaigns/Eastern_Invasion/scenarios/02_The_Escape_Tunnel.cfg
Labels: Campaign

font: Work around chromatic aberration issue with Windows ClearType
  src/font/text.cpp
Labels: none

Update changelog
  changelog.md
Labels: none

Update changelog
  changelog.md
Labels: none

EI S1: Update objectives to reflect when an early finish bonus is given.
  data/campaigns/Eastern_Invasion/scenarios/01_The_Outpost.cfg
Labels: Campaign

EI S2: Lift shroud (but not fog) around the amulet
  data/campaigns/Eastern_Invasion/scenarios/02_The_Escape_Tunnel.cfg
Labels: Campaign

EI S1, S2: Fix typos
  data/campaigns/Eastern_Invasion/scenarios/01_The_Outpost.cfg
  data/campaigns/Eastern_Invasion/scenarios/02_The_Escape_Tunnel.cfg
Labels: Campaign

Update changelog
  changelog.md
Labels: none

Update changelog
  changelog.md
Labels: none

ui: Give Countdown Timer the same icon as Clock
  src/reports.cpp
Labels: none

ui: Anchor the Observers icon to the sidebar, going right to left
  data/themes/default.cfg
Labels: UI

ui: Handle the battery/countdown report switcheroo differently
  data/themes/default.cfg
Labels: UI

ui: Give Countdown Timer the same icon as Clock
  src/reports.cpp
Labels: none

ui: Anchor the Observers icon to the sidebar, going right to left
  data/themes/default.cfg
Labels: UI

ui: Handle the battery/countdown report switcheroo differently
  data/themes/default.cfg
Labels: UI

Update changelog
  changelog.md
Labels: none

Update changelog
  changelog.md
Labels: none

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
