Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Remove duplicate fire dragon portrait
  data/campaigns/Winds_of_Fate/images/portraits/khrakrahs.png
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
Labels: Campaign, Graphics

S09: Remove grey text visual effect
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
Labels: Campaign

S02: Have rogue drakes show up
  data/campaigns/Winds_of_Fate/scenarios/02_The_Raid.cfg
Labels: Campaign

Add clasher secret tablets
  data/campaigns/Winds_of_Fate/scenarios/02_The_Raid.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Confrontation.cfg
Labels: Campaign

Add missing underscores to translatable strings
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Wesmere.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
Labels: Campaign

S04+S09: Clarify time schedule notes
  data/campaigns/Winds_of_Fate/scenarios/04_Islands.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
Labels: Campaign

S08: Fix undead attacking gates
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
Labels: Campaign

S01: Cosmetic fixes
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
Labels: Campaign

S07: Add elf characterizations
  data/campaigns/Winds_of_Fate/scenarios/07_Wesmere.cfg
Labels: Campaign

Simplify saurian speech
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
  data/campaigns/Winds_of_Fate/scenarios/05x_Unexpected_Arrival.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Elensefar.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Wesmere.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Confrontation.cfg
Labels: Campaign

S11: Give opponent saurian recruits too
  data/campaigns/Winds_of_Fate/scenarios/11_Confrontation.cfg
Labels: Campaign

S09: Rewrite dragon encounter
  data/campaigns/Winds_of_Fate/images/portraits/wyrm.png
  data/campaigns/Winds_of_Fate/images/units/wyrm-se-1.png
  data/campaigns/Winds_of_Fate/images/units/wyrm-se-2.png
  data/campaigns/Winds_of_Fate/images/units/wyrm-se-3.png
  data/campaigns/Winds_of_Fate/images/units/wyrm-se-4.png
  data/campaigns/Winds_of_Fate/images/units/wyrm-se-5.png
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
  data/campaigns/Winds_of_Fate/units/Wyrm.cfg
Labels: Campaign, Graphics, Units

S06: Add human characterizations
  data/campaigns/Winds_of_Fate/scenarios/06_Elensefar.cfg
Labels: Campaign

S04: Add mermish characterizations
  data/campaigns/Winds_of_Fate/scenarios/04_Islands.cfg
Labels: Campaign

Move start and end dates back two years
  data/campaigns/Winds_of_Fate/_main.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
Labels: Campaign

Update dialect document
  data/campaigns/Winds_of_Fate/story/Morogor_Dialect.txt
Labels: Campaign

Update story document
  data/campaigns/Winds_of_Fate/story/Past_and_Future_Drake_History_(Spoilers).txt
Labels: Campaign

Add translation hints
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
Labels: Campaign

Remove pointless directory
  data/campaigns/Winds_of_Fate/images/units/kraken-defend.png
  data/campaigns/Winds_of_Fate/images/units/kraken-n-defend.png
  data/campaigns/Winds_of_Fate/images/units/kraken-n-tentacle-1.png
  data/campaigns/Winds_of_Fate/images/units/kraken-n-tentacle-2.png
  data/campaigns/Winds_of_Fate/images/units/kraken-n-tentacle-3.png
  data/campaigns/Winds_of_Fate/images/units/kraken-tentacle-1.png
  data/campaigns/Winds_of_Fate/images/units/kraken-tentacle-2.png
  data/campaigns/Winds_of_Fate/images/units/kraken-tentacle-3.png
  data/campaigns/Winds_of_Fate/images/units/kraken.png
  data/campaigns/Winds_of_Fate/units/Kraken.cfg
Labels: Campaign, Graphics, Units

Simplify drake speech
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/02_The_Raid.cfg
  data/campaigns/Winds_of_Fate/scenarios/02x_The_Feast.cfg
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/campaigns/Winds_of_Fate/scenarios/03x_Advice.cfg
  data/campaigns/Winds_of_Fate/scenarios/04_Islands.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
  data/campaigns/Winds_of_Fate/scenarios/05x_Unexpected_Arrival.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Elensefar.cfg
  data/campaigns/Winds_of_Fate/scenarios/06x_Winds_of_Fate.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Wesmere.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Confrontation.cfg
  data/campaigns/Winds_of_Fate/scenarios/12_Epilogue.cfg
Labels: Campaign

Rename scenarios
  data/campaigns/Winds_of_Fate/maps/02_Reclamation.map
  data/campaigns/Winds_of_Fate/maps/04_Journey.map
  data/campaigns/Winds_of_Fate/maps/05_Threshold.map
  data/campaigns/Winds_of_Fate/maps/05x_Early_Arrival.map
  data/campaigns/Winds_of_Fate/maps/06_Landfall.map
  data/campaigns/Winds_of_Fate/maps/07_Harvest.map
  data/campaigns/Winds_of_Fate/maps/08_Overlook.map
  data/campaigns/Winds_of_Fate/maps/09_Ancestor.map
  data/campaigns/Winds_of_Fate/maps/11_Crosswind.map
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/02_Reclamation.cfg
  data/campaigns/Winds_of_Fate/scenarios/02x_Victory_Feast.cfg
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/campaigns/Winds_of_Fate/scenarios/03x_Final_Departure.cfg
  data/campaigns/Winds_of_Fate/scenarios/04_Journey.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/05x_Early_Arrival.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
  data/campaigns/Winds_of_Fate/scenarios/06x_Winds_of_Fate.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign

S01: Reduce starting beetles
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
Labels: Campaign

Remove junk map locations
  data/campaigns/Winds_of_Fate/maps/01_The_Hunt.map
  data/campaigns/Winds_of_Fate/maps/02_Reclamation.map
  data/campaigns/Winds_of_Fate/maps/05_Threshold.map
  data/campaigns/Winds_of_Fate/scenarios/02_Reclamation.cfg
Labels: Campaign

Change campaign list rank to 152
  data/campaigns/Winds_of_Fate/_main.cfg
Labels: Campaign

Move tip date back two years
  data/tips.cfg
Labels: Help

Add "NIGHTMARE" to schema_validate.sh
  utils/CI/schema_validation.sh
Labels: none

Update Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Update Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

fix weapon abilities showed in void attack in attack dialog window
  src/gui/dialogs/unit_attack.cpp
Labels: UI

Added --version flag to wmllint, wmlscope and wmlindent
  changelog.md
  data/tools/GUI.pyw
  data/tools/wesnoth/README.md
  data/tools/wesnoth/version.py
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmlscope
Labels: WML Tools

Added --version flag to wmllint, wmlscope and wmlindent
  changelog.md
  data/tools/GUI.pyw
  data/tools/wesnoth/README.md
  data/tools/wesnoth/version.py
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmlscope
Labels: WML Tools

Removed a superfluous backtick from the changelog
  changelog.md
Labels: none

Improve comments for translators around VNGETTEXT
  src/actions/move.cpp
  src/gui/widgets/multimenu_button.cpp
Labels: UI

Improve comments for translators around VNGETTEXT
  src/actions/move.cpp
  src/gui/widgets/multimenu_button.cpp
Labels: UI

NR S05a_01 Spelling correction for "our retreat is cut off"
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

wmllint: added support for unit levels and types in recruitment pattern checks
  data/tools/wmllint
Labels: WML Tools

Changelog entry
  changelog.md
Labels: none

wmllint: added support for unit levels and types in recruitment pattern checks
  data/tools/wmllint
Labels: WML Tools

Changelog entry
  changelog.md
Labels: none

NR S05a_01 Spelling correction for "our retreat is cut off"
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
