Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

fix heals and regenrate test validation
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heals/heals_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_max_value.cfg
Labels: Unit Tests

schema fixup.
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heals/heals_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_max_value.cfg
Labels: Unit Tests

add a comment.
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_max_value.cfg
Labels: Unit Tests

mingw docker build: Copy arch's libssp-0.dll
  utils/dockerbuilds/mingw/Dockerfile
Labels: none

updated Polish credits entries
  data/core/about_i18n.cfg
Labels: none

Fix Xcode builds
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

removed declaration form wesnoth.6
  doc/man/wesnoth.6
Labels: Docs

make objectives more clear
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
Labels: Campaign SoF

make victory moveto area larger
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
Labels: Campaign SoF

add [status_type] toplevel tag
  data/core/units.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/reports.cpp
  src/units/unit.cpp
  src/units/unit_status.cpp
  src/units/unit_status.hpp
Labels: Building, macOS, Units

remove known_boolean statuses
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Units

require_modification/campaign now defaults to yes
  src/game_initialization/lobby_data.cpp
  src/saved_game.cpp
Labels: none

make sure modify_unit doesn't heal the unit
  src/units/unit.cpp
Labels: Units

updated Slovak translation
  changelog.md
  po/wesnoth-tools/sk.po
Labels: Translations

Fix comments spelling
  src/saved_game.cpp
Labels: none

Fix horizontal scrolling regression (fixes #7404)
  src/controller_base.cpp
Labels: none

Add a comment
  src/saved_game.cpp
Labels: none

Remvoe oudated comment
  src/saved_game.cpp
Labels: none

Note map coordinate signs in mousewheel comment
  src/controller_base.cpp
Labels: none

Make mouse handler use same coordinate signs as map
  src/controller_base.cpp
  src/mouse_handler_base.cpp
Labels: none

update schema.
  data/schema/units/abilities.cfg
Labels: Schema

revert of 8714f8e
  .github/workflows/ci-main.yml
Labels: none

Revert "revert of 8714f8e"
  .github/workflows/ci-main.yml
Labels: none

liminal.
  wml_test_schedule
Labels: none

liminal.
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_value_liminal.cfg
Labels: Unit Tests

make wyrmlet sprites slightly smaller and less dragon-like
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-5.png
Labels: Campaign SoF, Graphics

units: skeleton rider tree adjustment
  data/core/units/undead/Skele_Bone_Knight.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Units

better coloring for red/cave wyrmlets portrait
  data/campaigns/Sceptre_of_Fire/images/portraits/monsters/wyrm.webp
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
Labels: Campaign SoF, Graphics, Units

Modify shema validation for more consistency
  data/schema/units/abilities.cfg
Labels: Schema

adjust Red Wyrm portrait colors
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
Labels: Campaign SoF, Units

wyrm sprite palette cleanup
  data/campaigns/Sceptre_of_Fire/images/units/monsters/Wyrm_ColorMap.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-5.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-5.png
Labels: Campaign SoF, Graphics

satisfy wmlindent without breaking image
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
Labels: Campaign SoF, Units

update copyrights.csv
  copyrights.csv
Labels: none

improve portraits for wyrm variations
  data/campaigns/Sceptre_of_Fire/images/portraits/monsters/wyrm-elder.webp
  data/campaigns/Sceptre_of_Fire/images/portraits/monsters/wyrm.webp
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
Labels: Campaign SoF, Graphics, Units

make wyrmlets more snake than dragon, clean up palettes
  data/campaigns/Sceptre_of_Fire/images/units/monsters/Wyrm_ColorMap.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-5.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-5.png
Labels: Campaign SoF, Graphics

update copyrights.csv
  copyrights.csv
Labels: none

updated British English translation
  changelog.md
  po/wesnoth-ei/en_GB.po
  po/wesnoth-tools/en_GB.po
  po/wesnoth-wof/en_GB.po
Labels: Translations

improve portraits for wyrm variations
  data/campaigns/Sceptre_of_Fire/images/portraits/monsters/wyrm-elder.webp
  data/campaigns/Sceptre_of_Fire/images/portraits/monsters/wyrm.webp
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
Labels: Campaign SoF, Graphics, Units

update copyrights.csv
  copyrights.csv
Labels: none

make wyrmlets more snake than dragon, clean up palettes
  data/campaigns/Sceptre_of_Fire/images/units/monsters/Wyrm_ColorMap.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrm-se-5.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-1.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-2.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-3.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-4.png
  data/campaigns/Sceptre_of_Fire/images/units/monsters/wyrmlet-se-5.png
Labels: Campaign SoF, Graphics

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
