Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

[Lua] Suppress nodiscard warning
  data/ai/lua/ai_helper.lua
Labels: AI

[Lua] Use wml.tag to construct WML tables
  data/ai/lua/ai_helper.lua
  data/ai/lua/ca_recruit_rushers.lua
  data/ai/lua/ca_village_hunt.lua
  data/ai/lua/generic_recruit_engine.lua
  data/ai/micro_ais/cas/ca_assassin_move.lua
  data/ai/micro_ais/cas/ca_bottleneck_move.lua
  data/ai/micro_ais/cas/ca_forest_animals_tusker_attack.lua
  data/ai/micro_ais/cas/ca_hang_out.lua
  data/ai/micro_ais/cas/ca_healer_initialize.lua
  data/ai/micro_ais/cas/ca_healer_move.lua
  data/ai/micro_ais/cas/ca_herding_attack_close_enemy.lua
  data/ai/micro_ais/cas/ca_herding_f_herding_area.lua
  data/ai/micro_ais/cas/ca_herding_herd_sheep.lua
  data/ai/micro_ais/cas/ca_herding_sheep_runs_dog.lua
  data/ai/micro_ais/cas/ca_lurkers.lua
  data/ai/micro_ais/cas/ca_messenger_f_next_waypoint.lua
  data/ai/micro_ais/cas/ca_swarm_move.lua
  data/ai/micro_ais/engines/priority_target_engine.lua
  data/campaigns/Eastern_Invasion/ai/ca_ogres_flee.lua
  data/campaigns/Son_Of_The_Black_Eye/ai/ca_transport_S6.lua
  data/campaigns/Two_Brothers/ai/ca_muff_toras_move.lua
  data/campaigns/World_Conquest/lua/game_mechanics/color.lua
  data/lua/diversion.lua
  data/lua/wml/modify_unit.lua
Labels: AI, Campaign AToTB, Campaign EI, Campaign SotBE, Campaign WC, Lua API

[Lua] Update obsolete usage of [1],[2] to refer to a tag's name and contents
  data/ai/micro_ais/micro_ai_helper.lua
  data/ai/micro_ais/micro_ai_self_data.lua
  data/lua/core/wml.lua
  data/lua/feeding.lua
Labels: AI, Lua API

[Lua] Update obsolete location functions in ai_helper to return a proper named tuple and access locations as x,y instead of [1],[2]
  data/ai/lua/ai_helper.lua
Labels: AI

[Lua] Accept {r=..., g=..., b=...} format for colours in add_overlay_text
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

[Lua] Replace gui.show_inspector's undocumented config parameter with a string parameter that does the same thing.
  data/lua/wml-tags.lua
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_gui2.cpp
  src/scripting/lua_gui2.hpp
  utils/emmylua/gui.lua
Labels: Lua API

[Lua] Make wesnoth.read_location return its result in standard named tuple format
  data/lua/core/map.lua
Labels: Lua API

skeletal rider and alternative bear portraits (backport #8453) (#8458)
  copyrights.csv
  data/core/images/portraits/monsters/bear-alt.webp
  data/core/images/portraits/undead/skeletal_rider.webp
  data/core/units/undead/Skele_Bone_Knight.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Graphics, Units

looks like this never got updated
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
Labels: none

and forward port this..
  utils/dockerbuilds/make_steam_image
Labels: none

Multiply help portait scaling by the pixel multiplier.
  src/help/help_topic_generators.cpp
Labels: Help

Multiply help portait scaling by the pixel multiplier.
  src/help/help_topic_generators.cpp
Labels: Help

use correct font file instead whatever it was before...
  fonts/Lohit-Bengali.ttf
Labels: none

use correct font file instead whatever it was before...
  fonts/Lohit-Bengali.ttf
Labels: none

HttT S06: Make Elensefar's defenses look damaged by the Orcish siege
  data/campaigns/Heir_To_The_Throne/maps/06_The_Siege_of_Elensefar.map
Labels: Campaign HttT

HttT S06: Make Elensefar's defenses look damaged by the Orcish siege
  data/campaigns/Heir_To_The_Throne/maps/06_The_Siege_of_Elensefar.map
Labels: Campaign HttT

HttT S06: Make Elensefar's defenses look damaged by the Orcish siege
  data/campaigns/Heir_To_The_Throne/maps/06_The_Siege_of_Elensefar.map
Labels: Campaign HttT

Add [attack_alignment] weapon special for specific attacks
  changelog_entries/[unit_alignment]_[attack_alignment]_changelog.md
  data/schema/units/abilities.cfg
  data/schema/units/specials.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_alignment.cfg
  src/actions/attack.cpp
  src/gui/dialogs/attack_predictions.cpp
  src/gui/dialogs/unit_attack.cpp
  src/reports.cpp
  src/units/abilities.cpp
  src/units/attack_type.hpp
  src/units/unit.hpp
  wml_test_schedule
Labels: Schema, UI, Unit Tests, Units

add "attack_alignment" filter for filter attack with alignment diffrent of unit alignment
  data/schema/filters/weapon.cfg
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
Labels: Schema, Units

change calculation rules so that add and sub are always used independently
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heals/heal_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/leadership/leadership_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/resistance/resistance_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_calculations.cfg
  src/units/abilities.cpp
Labels: Unit Tests, Units

add tests for mandatory key validations considering super tags
  boost_test_schedule
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_schema_super_cycle_mandatory.cfg
  src/tests/wml/schema/test_schema_validator/test_schema_super_mandatory_missing.cfg
  src/tests/wml/schema/test_schema_validator/test_super_cycle_mandatory.cfg
  src/tests/wml/schema/test_schema_validator/test_super_mandatory.cfg
  src/tests/wml/schema/test_schema_validator/test_super_mandatory_missing.cfg
Labels: none

detect schema super cycles while validating a .cfg file
  src/serialization/schema/tag.cpp
  src/serialization/schema/tag.hpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

add boost-graph dependency to codeql workflow
  .github/workflows/codeql.yml
Labels: none

add tests to cover super cycle detection while validating a .cfg file
  boost_test_schedule
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_super_cycle.cfg
  src/tests/wml/schema/test_schema_validator/test_super_cycle_only_if_used.cfg
Labels: none

detect when a super defined in the schema doesn't exist
  src/serialization/schema/tag.cpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

add scons rules do detect boost-graph
  scons/boost.py
Labels: Building, SCons

add tests for link cycle validation
  boost_test_schedule
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_schema_link_cycle.cfg
Labels: none

add the super's full path to the tag's super_list
  src/serialization/schema/tag.cpp
  src/serialization/schema/tag.hpp
Labels: Schema

add tests to missing super detection
  boost_test_schedule
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_schema_super_missing.cfg
Labels: none

verify if all mandatory keys are specified, including the ones from the super tags
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: none

handle super cycles while searching for a key or for a tag
  src/serialization/schema/tag.cpp
  src/serialization/schema/tag.hpp
Labels: Schema

add a test to cover the fix to find_key's infinite loop/crash
  boost_test_schedule
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/boost_unit_tests
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_schema_super_cycle.cfg
  src/tests/wml/schema/test_schema_validator/test_super_cycle_crashes_on_unknown_key.cfg
Labels: Building, macOS

format changes related super mandatory keys validation with clang-format
  src/serialization/schema/tag.cpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
  src/tests/wml/schema/test_schema_self_validator.cpp
  src/tests/wml/schema/test_schema_validator.cpp
  src/utils/back_edge_detector.hpp
Labels: Schema

implement super cycle detection for the schema self validator
  CMakeLists.txt
  SConstruct
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
  src/utils/back_edge_detector.hpp
  vcpkg.json
Labels: Building, CMake, macOS, SCons

implement cycle detection for type aliases (links)
  src/serialization/schema/type.hpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

fix wml_tag::iterator CRTP parameter
  src/serialization/schema/tag.hpp
Labels: Schema

add tests for super cycle detection on schema self validator
  boost_test_schedule
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/boost_unit_tests
  src/tests/wml/schema/test_schema_self_validator.cpp
  src/tests/wml/schema/test_schema_self_validator/test_schema_super_cycle.cfg
  src/tests/wml/schema/test_schema_self_validator/test_schema_super_self_reference.cfg
Labels: Building, macOS

implement super cycle detection for the schema self validator
  CMakeLists.txt
  SConstruct
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
  src/utils/back_edge_detector.hpp
  vcpkg.json
Labels: Building, CMake, macOS, SCons

add tests for super cycle detection on schema self validator
  boost_test_schedule
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/boost_unit_tests
  src/tests/wml/schema/test_schema_self_validator.cpp
  src/tests/wml/schema/test_schema_self_validator/test_schema_super_cycle.cfg
  src/tests/wml/schema/test_schema_self_validator/test_schema_super_self_reference.cfg
Labels: Building, macOS

fix wml_tag::iterator CRTP parameter
  src/serialization/schema/tag.hpp
Labels: Schema

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
