Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

SotA S02: Add l10n hints about temple label and bats
  data/campaigns/Secrets_of_the_Ancients/scenarios/02_Dark_Business.cfg
Labels: Campaign

Paraphrased allied orbs description to remove outdated color reference
  data/core/help.cfg
Labels: Help

Removed WC2-specific feedback link
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help.lua
Labels: Campaign

Fixed boars' attack descriptions being started with capital letters
  data/core/units/monsters/Boar.cfg
  data/core/units/monsters/Boar_Piglet.cfg
Labels: Units

HttT: add gendered variants to item pickup prompts
  data/campaigns/Heir_To_The_Throne/scenarios/20b_Underground_Channels.cfg
  data/campaigns/Heir_To_The_Throne/utils/httt_utils.cfg
Labels: Campaign

calculation with highst and lowest only one time in loop
  src/actions/attack.cpp
  src/units/abilities.cpp
Labels: Units

leadership method of calculation only if cumulative=yes and one time only
  src/actions/attack.cpp
  src/units/abilities.cpp
Labels: Units

Check for potential duplicates before inserting.
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
Labels: Add-ons, MP

Check for potential duplicates before inserting.
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
Labels: Add-ons, MP

Typo fix.
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/03_A_Harrowing_Escape.cfg
Labels: Campaign

Add help information for the :benchmark command.
  data/core/help.cfg
  src/menu_events.cpp
Labels: Help

Adds some additional text regarding wesnothd's [redirect] and mysql support.
  doc/man/wesnothd.6
Labels: Docs

Show the id in the "[race] '' is missing a plural_name" warning
  src/units/race.cpp
Labels: Units

Show id in "skipping duplicate variation" warning
  src/units/types.cpp
Labels: Units

campaignd: Drop removed pbl attributes on upload if applicable
  src/server/campaignd/server.cpp
Labels: Add-ons

config: Add copy_or_remove_attributes()
  src/config.hpp
Labels: none

updated Japanese translation
  po/wesnoth-wc/ja.po
Labels: Translations

updated Japanese translation
  changelog.md
  po/wesnoth-wc/ja.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-did/pt_BR.po
  po/wesnoth-httt/pt_BR.po
  po/wesnoth-l/pt_BR.po
  po/wesnoth-lib/pt_BR.po
  po/wesnoth-manpages/pt_BR.po
  po/wesnoth-sota/pt_BR.po
  po/wesnoth-tb/pt_BR.po
  po/wesnoth-tsg/pt_BR.po
  po/wesnoth-units/pt_BR.po
  po/wesnoth-utbs/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-did/pt_BR.po
  po/wesnoth-httt/pt_BR.po
  po/wesnoth-l/pt_BR.po
  po/wesnoth-lib/pt_BR.po
  po/wesnoth-manpages/pt_BR.po
  po/wesnoth-sota/pt_BR.po
  po/wesnoth-tb/pt_BR.po
  po/wesnoth-tsg/pt_BR.po
  po/wesnoth-units/pt_BR.po
  po/wesnoth-utbs/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated Czech translation
  po/wesnoth-help/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-units/cs.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-help/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth/cs.po
Labels: Translations

Fix multi-account password saving
  src/preferences/credentials.cpp
Labels: none

Fix multi-account password saving
  src/preferences/credentials.cpp
Labels: none

Update changelog
  changelog.md
Labels: none

Check whether to display lobby joins in the game creation screen.
  src/gui/widgets/chatbox.cpp
Labels: UI

GUI2/Group: fixed compile error when specializing with a scoped enum
  src/gui/widgets/group.hpp
Labels: UI

Preferences: made lobby_joins a scoped enum
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/preferences_dialog.hpp
  src/preferences/game.cpp
  src/preferences/game.hpp
Labels: UI

Lobby Info: consolidated a function
  src/game_initialization/lobby_info.cpp
  src/game_initialization/lobby_info.hpp
Labels: none

GUI2/Group: pass the associated value of a member to the value change callback
  src/gui/dialogs/multiplayer/faction_select.cpp
  src/gui/dialogs/multiplayer/faction_select.hpp
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/unit_create.cpp
  src/gui/dialogs/unit_create.hpp
  src/gui/widgets/group.hpp
Labels: UI

wesnothd: avoid unnecessary copy of new_player object
  src/server/wesnothd/server.cpp
Labels: MP

MP/UI Alerts: formatting, cleanup, and fixed incorrect preference ID
  src/mp_ui_alerts.cpp
Labels: none

AI/Config: static inline
  src/ai/configuration.cpp
  src/ai/configuration.hpp
Labels: AI

MP/Alerts: made part of mp namespace
  src/display_chat_manager.cpp
  src/game_initialization/lobby_info.cpp
  src/gui/dialogs/multiplayer/mp_alerts_options.cpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/gui/dialogs/multiplayer/mp_staging.cpp
  src/mp_ui_alerts.cpp
  src/mp_ui_alerts.hpp
  src/playmp_controller.cpp
Labels: UI

Added attack images for the Bone Knight's trample and Nightblade's kick
  data/campaigns/Eastern_Invasion/images/attacks/hoof-skeletal.png
  data/campaigns/Eastern_Invasion/units/Bone_Knight.cfg
  data/core/images/attacks/kick-orcish.png
  data/core/units/orcs/Nightblade.cfg
Labels: Campaign, Graphics, Units

Compressed png
  data/campaigns/Eastern_Invasion/images/attacks/hoof-skeletal.png
  data/core/images/attacks/kick-orcish.png
Labels: Campaign, Graphics

Check whether to display lobby joins in the game creation screen.
  src/gui/widgets/chatbox.cpp
Labels: UI

Check whether to display lobby joins in the game creation screen.
  src/gui/widgets/chatbox.cpp
Labels: UI

Changelog update.
  changelog.md
Labels: none

Changelog update.
  changelog.md
Labels: none

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
