Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

1.16 animation update (#5916)
  data/core/images/units/monsters/firewraith/firewraith-defend1.png
  data/core/images/units/monsters/firewraith/firewraith-defend2.png
  data/core/images/units/monsters/firewraith/firewraith-halo.png
  data/core/images/units/monsters/firewraith/firewraith.png
  data/core/images/units/monsters/scarab/scarab-bite-1.png
  data/core/images/units/monsters/scarab/scarab-bite-2.png
  data/core/images/units/monsters/scarab/scarab-bite-3.png
  data/core/images/units/monsters/scarab/scarab-bite-4.png
  data/core/images/units/monsters/scarab/scarab-defend1.png
  data/core/images/units/monsters/scarab/scarab-defend2.png
  data/core/images/units/monsters/scarab/scarab-horn-1.png
  data/core/images/units/monsters/scarab/scarab-horn-2.png
  data/core/images/units/monsters/scarab/scarab-horn-3.png
  data/core/images/units/monsters/scarab/scarab.png
  data/core/units/monsters/Fire_Guardian.cfg
  data/core/units/monsters/Fire_Wraith.cfg
  data/core/units/monsters/Scarab.cfg
Labels: Graphics, Units

Update dune explorer image path, closes #5945
  data/tools/wmllint
Labels: WML Tools

Lua API: Revive mp_settings.active_mods and mp_settings.era_id
  data/lua/core/wml.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Fix extraneous quotes in deprecation messages for attributes
  src/scripting/lua_common.hpp
Labels: Lua API

Add a deprecation message for the Giant Stoat
  data/core/units/monsters/Frost_Stoat.cfg
Labels: Units

Fix crash when accessing variables from a map generator
  src/scripting/mapgen_lua_kernel.cpp
Labels: Lua API

Fix wesnoth.schedule.get_time_of_day with a turn number
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Add a deprecation message for the Giant Stoat
  data/core/units/monsters/Frost_Stoat.cfg
Labels: Units

Lua API: Fix extraneous quotes in deprecation messages for attributes
  src/scripting/lua_common.hpp
Labels: Lua API

Lua API: Revive mp_settings.active_mods and mp_settings.era_id
  data/lua/core/wml.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Fix crash when accessing variables from a map generator
  src/scripting/mapgen_lua_kernel.cpp
Labels: Lua API

Lua API: Fix extraneous quotes in deprecation messages for attributes
  src/scripting/lua_common.hpp
Labels: Lua API

Fix crash when accessing variables from a map generator
  src/scripting/mapgen_lua_kernel.cpp
Labels: Lua API

Fix wesnoth.schedule.get_time_of_day with a turn number
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Add a deprecation message for the Giant Stoat
  data/core/units/monsters/Frost_Stoat.cfg
Labels: Units

Lua API: Revive mp_settings.active_mods and mp_settings.era_id
  data/lua/core/wml.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

removed redundant comment
  data/campaigns/World_Conquest/_main.cfg
Labels: Campaign

updated world conquest changelog
  data/campaigns/World_Conquest/changelog.txt
Labels: Campaign

more patches from PR5882
  data/campaigns/World_Conquest/config.cfg
  data/campaigns/World_Conquest/era/era.cfg
  data/campaigns/World_Conquest/resources/resources.cfg
Labels: Campaign

world conquest TODO
  data/campaigns/World_Conquest/TODO.txt
Labels: Campaign

replaced khalifate defines with dunefolk
  data/campaigns/World_Conquest/era/factions/The_Gang.cfg
  data/campaigns/World_Conquest/era/factions/The_Guild.cfg
  data/campaigns/World_Conquest/era/factions/The_Hand.cfg
  data/campaigns/World_Conquest/era/factions/The_Horde.cfg
  data/campaigns/World_Conquest/era/factions/The_Militia.cfg
  data/campaigns/World_Conquest/era/factions/The_Trust.cfg
  data/campaigns/World_Conquest/era/factions/strings.cfg
Labels: Campaign

updated deprecated key/attribute
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
Labels: Campaign

added icon and image for the world conquest campaign
  data/campaigns/World_Conquest/gui/help_dialog.cfg
  data/campaigns/World_Conquest/gui/invest_dialog.cfg
  data/campaigns/World_Conquest/gui/settings_dialog.cfg
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
  data/campaigns/World_Conquest/lua/campaign_main.lua
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
  data/campaigns/World_Conquest/resources/strings/mainline.cfg
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

Update settings_dialog.lua
  data/campaigns/World_Conquest/lua/map/settings/settings_dialog.lua
Labels: Campaign

WC: Change it to a campaign so it can use the built-in difficulty selection
  data/campaigns/World_Conquest/lua/campaign/difficulty.lua
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
  data/campaigns/World_Conquest/lua/campaign_main.lua
  data/campaigns/World_Conquest/lua/map/main.lua
  data/campaigns/World_Conquest/resources/strings/mainline.cfg
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

WC: Player count is now an option in the settings dialog
  data/campaigns/World_Conquest/gui/settings_dialog.cfg
  data/campaigns/World_Conquest/lua/map/settings/settings_dialog.lua
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

WC: Add player count to campaign abbreviation
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

Update dunefolk image paths, closes #5945
  data/tools/wmllint
Labels: WML Tools

Update dune explorer image path, closes #5945 (#5946)
  data/tools/wmllint
Labels: WML Tools

Update dune explorer image path, closes #5945 (#5946)
  data/tools/wmllint
Labels: WML Tools

Fix a missing detail in saved game serialization
  src/game_data.cpp
Labels: none

Lua API: Some clean-up of the mp_settings API
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

WML API: [story]title= is now optional even in ActionWML
  data/lua/wml-tags.lua
Labels: Lua API

Fix crash when accessing variables from a map generator
  src/scripting/mapgen_lua_kernel.cpp
Labels: Lua API

WML API: [story]title= is now optional even in ActionWML
  data/lua/wml-tags.lua
Labels: Lua API

Lua API: Fix extraneous quotes in deprecation messages for attributes
  src/scripting/lua_common.hpp
Labels: Lua API

Add a deprecation message for the Giant Stoat
  data/core/units/monsters/Frost_Stoat.cfg
Labels: Units

Lua API: Revive mp_settings.active_mods and mp_settings.era_id
  data/lua/core/wml.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Some clean-up of the mp_settings API
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Fix a missing detail in saved game serialization
  src/game_data.cpp
Labels: none
