Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

some minor touchups to shadows
  data/core/images/units/elves-wood/avenger+female.png
  data/core/images/units/elves-wood/avenger.png
  data/core/images/units/elves-wood/ranger.png
  data/core/images/units/elves-wood/shaman-heal3.png
  data/core/images/units/elves-wood/shaman-heal4.png
  data/core/images/units/elves-wood/shaman-heal5.png
  data/core/images/units/elves-wood/sorceress-melee-attack-4.png
  data/core/images/units/elves-wood/sorceress-melee-attack-5.png
  data/core/images/units/elves-wood/sorceress-melee-attack-6.png
  data/core/images/units/elves-wood/sorceress-melee-attack-7.png
Labels: Graphics, Units

remove semitransparent swooshes
  data/core/images/units/undead-necromancers/dark-sorcerer+female-attack-staff-2.png
  data/core/images/units/undead-necromancers/dark-sorcerer-attack-staff-2.png
  data/core/images/units/undead-necromancers/necromancer+female-attack-staff-2.png
  data/core/images/units/undead-necromancers/necromancer-attack-staff-2.png
Labels: Graphics, Units

Editor: Add sconce tile to cave group.
  data/core/terrain.cfg
Labels: Terrain

Editor: Add some missing terrain groupings (resolves #6643).
  changelog.md
  data/core/terrain.cfg
Labels: Terrain

remove semitransparent swooshes
  data/core/images/units/undead-skeletal/archer/archer-attack.png
  data/core/images/units/undead-skeletal/banebow-melee-attack-2.png
  data/core/images/units/undead-skeletal/banebow-melee-attack-3.png
  data/core/images/units/undead-skeletal/bone-shooter-melee-attack-2.png
  data/core/images/units/undead-skeletal/bone-shooter-melee-attack-3.png
  data/core/images/units/undead-skeletal/deathblade-attack2.png
  data/core/images/units/undead-skeletal/deathknight-melee-attack-2.png
  data/core/images/units/undead-skeletal/deathknight-melee-attack-3.png
  data/core/images/units/undead-skeletal/deathknight-melee-attack-4.png
  data/core/images/units/undead-skeletal/draug-attack2.png
  data/core/images/units/undead-skeletal/revenant/revenant-attack-6.png
  data/core/images/units/undead-skeletal/revenant/revenant-attack-7.png
  data/core/images/units/undead-skeletal/revenant/revenant-attack-8.png
  data/core/images/units/undead-skeletal/skeleton/skeleton-se-melee5.png
  data/core/images/units/undead-skeletal/skeleton/skeleton-se-melee6.png
Labels: Graphics, Units

Editor: Add sconce tile to cave group.
  data/core/terrain.cfg
Labels: Terrain

Editor: Add some missing terrain groupings (resolves #6643).
  changelog.md
  data/core/terrain.cfg
Labels: Terrain

sdl/window: added assertion if render-to-texture is not supported
  src/sdl/window.cpp
Labels: none

Refactor FindTranslationTools.cmake
  cmake/FindTranslationTools.cmake
Labels: Building, CMake

Coherence between readme and CMake script
  INSTALL.md
Labels: none

Refactor FindVorbisFile.cmake
  cmake/FindVorbisFile.cmake
  src/CMakeLists.txt
Labels: Building, CMake

Refactor FindVorbisFile win32 cleanup
  cmake/FindVorbisFile.cmake
Labels: Building, CMake

Refactor FindVorbisFile.cmake
  cmake/FindVorbisFile.cmake
  src/CMakeLists.txt
Labels: Building, CMake

Coherence between readme and CMake script
  INSTALL.md
Labels: none

Refactor FindVorbisFile win32 cleanup
  cmake/FindVorbisFile.cmake
Labels: Building, CMake

Scroll at a consistent speed.
  changelog.md
  src/controller_base.cpp
  src/controller_base.hpp
Labels: none

Fixed replay OOS by moving victory event to synced event
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

Added PASSABLE_HEX macro to core and fixed wallstuck units on UtBS S8
  changelog.md
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/core/macros/unit-utils.cfg
Labels: Campaign

Have cmake also execute the conftests.
  .github/workflows/ci-scripts/docker.sh
  .gitignore
  CMakeLists.txt
  SConstruct
  scons/sdl.py
  src/CMakeLists.txt
  src/conftests/sdl2.cpp
  src/conftests/sdl2_audio.cpp
  src/conftests/sdl2_image.cpp
  src/conftests/sdl2_jpg.cpp
  src/conftests/sdl2_mixer.cpp
  src/conftests/sdl2_png.cpp
  src/conftests/sdl2_webp.cpp
Labels: Building, CMake, SCons

Have cmake also execute the conftests.
  .github/workflows/ci-scripts/docker.sh
  .gitignore
  CMakeLists.txt
  SConstruct
  scons/sdl.py
  src/CMakeLists.txt
  src/conftests/sdl2.cpp
  src/conftests/sdl2_audio.cpp
  src/conftests/sdl2_image.cpp
  src/conftests/sdl2_jpg.cpp
  src/conftests/sdl2_mixer.cpp
  src/conftests/sdl2_png.cpp
  src/conftests/sdl2_webp.cpp
Labels: Building, CMake, SCons

Remove some unused scons code.
  SConstruct
  scons/gl.py
  scons/lua.py
  scons/python_devel.py
Labels: Building, SCons

Clear out old travis stuff.
  utils/travis-old/.travis.yml
  utils/travis-old/docker_run.sh
  utils/travis-old/sftp
  utils/travis-old/steps/install.sh
  utils/travis-old/steps/script.sh
  utils/travis-old/windows-file-hasher.sh
Labels: none

GUI2: removed frameBuffer argument from widget drawing functions
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
  src/gui/widgets/container_base.cpp
  src/gui/widgets/container_base.hpp
  src/gui/widgets/generator.hpp
  src/gui/widgets/generator_private.hpp
  src/gui/widgets/grid.cpp
  src/gui/widgets/grid.hpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/matrix.hpp
  src/gui/widgets/minimap.cpp
  src/gui/widgets/minimap.hpp
  src/gui/widgets/multi_page.cpp
  src/gui/widgets/multi_page.hpp
  src/gui/widgets/pane.cpp
  src/gui/widgets/pane.hpp
  src/gui/widgets/panel.cpp
  src/gui/widgets/panel.hpp
  src/gui/widgets/scrollbar_container.cpp
  src/gui/widgets/scrollbar_container.hpp
  src/gui/widgets/spacer.cpp
  src/gui/widgets/spacer.hpp
  src/gui/widgets/styled_widget.cpp
  src/gui/widgets/styled_widget.hpp
  src/gui/widgets/toggle_panel.cpp
  src/gui/widgets/toggle_panel.hpp
  src/gui/widgets/tree_view_node.cpp
  src/gui/widgets/tree_view_node.hpp
  src/gui/widgets/viewport.cpp
  src/gui/widgets/viewport.hpp
  src/gui/widgets/widget.cpp
  src/gui/widgets/widget.hpp
  src/gui/widgets/window.cpp
Labels: UI

Remove some unused scons code.
  SConstruct
  scons/gl.py
  scons/lua.py
  scons/python_devel.py
Labels: Building, SCons

Clear out old travis stuff.
  utils/travis-old/.travis.yml
  utils/travis-old/docker_run.sh
  utils/travis-old/sftp
  utils/travis-old/steps/install.sh
  utils/travis-old/steps/script.sh
  utils/travis-old/windows-file-hasher.sh
Labels: none

Doc comment fix
  src/gui/widgets/widget.hpp
Labels: UI

First draft
  src/map_command_handler.hpp
Labels: none

threading: Use mutexes for hotkey list and image cache access.
  src/game_config_manager.cpp
  src/hotkey/hotkey_item.cpp
  src/hotkey/hotkey_item.hpp
  src/picture.cpp
Labels: none

Force the use of fontconfig fontmap backend on Windows
  src/font/font_config.cpp
  src/wesnoth.cpp
Labels: none

Remove code specific to win32 fontmap backend
  src/font/font_config.cpp
Labels: none

Set codepage for winapi to utf-8 in the manifest file
  packaging/windows/SConscript
  packaging/windows/wesnoth.exe.manifest
Labels: Packaging

NR: give hamel leadership
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
  data/campaigns/Northern_Rebirth/scenarios/02_02_Meeting_With_Dwarves.cfg
  data/campaigns/Northern_Rebirth/scenarios/03_To_the_Mines.cfg
  data/campaigns/Northern_Rebirth/scenarios/05a_02_Dealings.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Campaign

Whitespace fix.
  src/gui/widgets/grid.hpp
Labels: UI

Second draft (compiles)
  src/map_command_handler.hpp
Labels: none

(Second draft) add distance to debug string
  src/map_command_handler.hpp
Labels: none

Possibly the last draft
  src/formula/string_utils.cpp
  src/formula/string_utils.hpp
  src/map_command_handler.hpp
Labels: WFL

First try at optimizing
  src/formula/string_utils.cpp
  src/map_command_handler.hpp
Labels: WFL

NR: make Hamel character be consistent statwise
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
  data/campaigns/Northern_Rebirth/scenarios/02_02_Meeting_With_Dwarves.cfg
  data/campaigns/Northern_Rebirth/scenarios/05a_02_Dealings.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Campaign

Added PASSABLE_HEX macro to core and Fixed wallstuck units in UtBS S8 (#6677)
  changelog.md
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/core/macros/unit-utils.cfg
Labels: Campaign

Tests fix to attempt
  src/tests/gui/fire_event.cpp
Labels: none

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
