Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

add tooltip to unit_attack dialogs
  data/gui/widget/window_tooltip_large.cfg
  data/gui/window/tooltip_floating.cfg
  data/gui/window/unit_attack.cfg
  src/gui/dialogs/unit_attack.cpp
  src/units/abilities.cpp
  src/units/attack_type.hpp
Labels: UI, Units

rename staitc void to add_name_listand modify code.
  src/units/abilities.cpp
Labels: Units

traditionnal weapon specials name not prefixed bt "Self: "
  src/units/abilities.cpp
Labels: Units

rename prefix to list
  src/units/abilities.cpp
Labels: Units

remove if(self_) and if(other_) loop and replace "Inflicted (by opponent): " by "Used by opponent: "
  src/units/abilities.cpp
Labels: Units

fix "," ever added after ability name
  src/units/abilities.cpp
Labels: Units

Add wesnoth-map-diff
  .github/workflows/map-diff.yml
  utils/wesnoth-map-diff/.eslintignore
  utils/wesnoth-map-diff/.eslintrc.js
  utils/wesnoth-map-diff/.gitignore
  utils/wesnoth-map-diff/README.md
  utils/wesnoth-map-diff/babel.config.js
  utils/wesnoth-map-diff/jest.config.js
  utils/wesnoth-map-diff/package-lock.json
  utils/wesnoth-map-diff/package.json
  utils/wesnoth-map-diff/setup-jest.d.ts
  utils/wesnoth-map-diff/setup-jest.js
  utils/wesnoth-map-diff/src/images.ts
  utils/wesnoth-map-diff/src/index.ts
  utils/wesnoth-map-diff/src/paint.ts
  utils/wesnoth-map-diff/src/tilemap.ts
  utils/wesnoth-map-diff/src/wml/parser.ts
  utils/wesnoth-map-diff/src/wml/rootByTagName.ts
  utils/wesnoth-map-diff/tests/arbitraries.ts
  utils/wesnoth-map-diff/tests/parser.test.ts
  utils/wesnoth-map-diff/tests/rootByTagName.test.ts
  utils/wesnoth-map-diff/tsconfig-dev.json
  utils/wesnoth-map-diff/tsconfig-prod.json
  utils/wesnoth-map-diff/tsconfig.json
Labels: none

wesnoth-map-diff: improve github action code quality
  .github/workflows/map-diff.yml
Labels: none

wesnoth-map-diff: add more detail on readme
  utils/wesnoth-map-diff/README.md
Labels: none

Revert "Fix clang template error."
  src/gui/core/event/dispatcher.hpp
  src/utils/general.hpp
Labels: UI

See if this works with static_assert on clang.
  src/gui/core/event/dispatcher.hpp
Labels: UI

Revert "Fix clang template error."
  src/gui/core/event/dispatcher.hpp
  src/utils/general.hpp
Labels: UI

See if this works with static_assert on clang.
  src/gui/core/event/dispatcher.hpp
Labels: UI

Naga guardian line sprite cleanup
  data/core/images/units/nagas/guardian/NagaGuardian_ColorMap.png
  data/core/images/units/nagas/guardian/guardian-attack-1.png
  data/core/images/units/nagas/guardian/guardian-attack-2.png
  data/core/images/units/nagas/guardian/guardian-attack-3.png
  data/core/images/units/nagas/guardian/guardian-attack-4.png
  data/core/images/units/nagas/guardian/guardian-attack-5.png
  data/core/images/units/nagas/guardian/guardian-defend-1.png
  data/core/images/units/nagas/guardian/guardian-defend-2.png
  data/core/images/units/nagas/guardian/guardian.png
  data/core/images/units/nagas/guardian/sentinel-defend-1.png
  data/core/images/units/nagas/guardian/sentinel-defend-1abs.png
  data/core/images/units/nagas/guardian/sentinel-defend-2.png
  data/core/images/units/nagas/guardian/sentinel-defend-2abs.png
  data/core/images/units/nagas/guardian/sentinel.png
  data/core/images/units/nagas/guardian/warden-attack-1.png
  data/core/images/units/nagas/guardian/warden-attack-2.png
  data/core/images/units/nagas/guardian/warden-attack-3.png
  data/core/images/units/nagas/guardian/warden-attack-4.png
  data/core/images/units/nagas/guardian/warden-attack-5.png
  data/core/images/units/nagas/guardian/warden-attack-6.png
  data/core/images/units/nagas/guardian/warden-defend-1.png
  data/core/images/units/nagas/guardian/warden-defend-2.png
  data/core/images/units/nagas/guardian/warden-shield-attack-1.png
  data/core/images/units/nagas/guardian/warden-shield-attack-2.png
  data/core/images/units/nagas/guardian/warden-shield-attack-3.png
  data/core/images/units/nagas/guardian/warden-shield-attack-4.png
  data/core/images/units/nagas/guardian/warden-shield-defend2.png
  data/core/images/units/nagas/guardian/warden-shield-swoosh.png
  data/core/images/units/nagas/guardian/warden.png
Labels: Graphics, Units

Editor: Add some missing terrain groupings (resolves #6643).
  changelog.md
  data/core/terrain.cfg
Labels: Terrain

update image paths for naga sprites
  data/core/units/nagas/Dirkfang.cfg
  data/core/units/nagas/Fighter.cfg
  data/core/units/nagas/Guard.cfg
  data/core/units/nagas/Guard_High.cfg
  data/core/units/nagas/Guard_Shield.cfg
  data/core/units/nagas/Myrmidon.cfg
  data/core/units/nagas/Ophidian.cfg
  data/core/units/nagas/Ringcaster.cfg
  data/core/units/nagas/Sicarius.cfg
  data/core/units/nagas/Warrior.cfg
  data/core/units/nagas/Zephyr.cfg
Labels: Units

Fix title-screen flicker when loading a game or starting a campaign.
  src/gui/dialogs/title_screen.cpp
  src/gui/widgets/window.hpp
Labels: UI

Editor: Add sconce tile to cave group.
  data/core/terrain.cfg
Labels: Terrain

Update change log.
  changelog.md
Labels: none

Fix title-screen flicker when loading a game or starting a campaign.
  src/gui/dialogs/title_screen.cpp
  src/gui/widgets/window.hpp
Labels: UI

Update change log.
  changelog.md
Labels: none

remove semitransparent swooshes
  data/core/images/units/human-outlaws/assassin+female-melee-1-2.png
  data/core/images/units/human-outlaws/assassin+female-melee-2-2.png
  data/core/images/units/human-outlaws/assassin-melee-1-2.png
  data/core/images/units/human-outlaws/assassin-melee-2-2.png
  data/core/images/units/human-outlaws/highwayman-melee-5.png
  data/core/images/units/human-outlaws/highwayman-melee-6.png
  data/core/images/units/human-outlaws/highwayman-melee-7.png
  data/core/images/units/human-outlaws/huntsman-attack-melee.png
  data/core/images/units/human-outlaws/ranger-sword-attack2.png
  data/core/images/units/human-outlaws/ranger-sword-attack3.png
Labels: Graphics, Units

remove semitransparent swooshes
  data/core/images/units/trolls/grunt-attack-4.png
  data/core/images/units/trolls/shaman-fist-2.png
  data/core/images/units/trolls/shaman-fist-3.png
  data/core/images/units/trolls/shaman-fist-4.png
  data/core/images/units/trolls/troll-hero-attack-ne-4.png
  data/core/images/units/trolls/troll-hero-attack-ne-5.png
  data/core/images/units/trolls/troll-hero-attack-s-4.png
  data/core/images/units/trolls/troll-hero-attack-s-5.png
  data/core/images/units/trolls/troll-hero-attack-se-4.png
  data/core/images/units/trolls/troll-hero-attack-se-5.png
  data/core/images/units/trolls/warrior-attack-4.png
  data/core/images/units/trolls/whelp-attack-3.png
Labels: Graphics, Units

move bats out of undead/, into bats/
  data/core/images/units/bats/bat-ne-1.png
  data/core/images/units/bats/bat-ne-2.png
  data/core/images/units/bats/bat-ne-3.png
  data/core/images/units/bats/bat-ne-4.png
  data/core/images/units/bats/bat-ne-5.png
  data/core/images/units/bats/bat-se-1.png
  data/core/images/units/bats/bat-se-2.png
  data/core/images/units/bats/bat-se-3.png
  data/core/images/units/bats/bat-se-4.png
  data/core/images/units/bats/bat-se-5.png
  data/core/images/units/bats/bloodbat-ne-1.png
  data/core/images/units/bats/bloodbat-ne-2.png
  data/core/images/units/bats/bloodbat-ne-3.png
  data/core/images/units/bats/bloodbat-ne-4.png
  data/core/images/units/bats/bloodbat-ne-5.png
  data/core/images/units/bats/bloodbat-se-1.png
  data/core/images/units/bats/bloodbat-se-2.png
  data/core/images/units/bats/bloodbat-se-3.png
  data/core/images/units/bats/bloodbat-se-4.png
  data/core/images/units/bats/bloodbat-se-5.png
  data/core/images/units/bats/dreadbat-ne-1.png
  data/core/images/units/bats/dreadbat-ne-2.png
  data/core/images/units/bats/dreadbat-ne-3.png
  data/core/images/units/bats/dreadbat-ne-4.png
  data/core/images/units/bats/dreadbat-ne-5.png
  data/core/images/units/bats/dreadbat-se-1.png
  data/core/images/units/bats/dreadbat-se-2.png
  data/core/images/units/bats/dreadbat-se-3.png
  data/core/images/units/bats/dreadbat-se-4.png
  data/core/images/units/bats/dreadbat-se-5.png
  data/core/units/bats/Bat_Blood.cfg
  data/core/units/bats/Bat_Dread.cfg
  data/core/units/bats/Bat_Vampire.cfg
Labels: Graphics, Units

minor sprite cleanup for bats
  data/core/images/units/bats/Bat_ColorMap.png
  data/core/images/units/bats/bat-ne-1.png
  data/core/images/units/bats/bat-ne-2.png
  data/core/images/units/bats/bat-ne-3.png
  data/core/images/units/bats/bat-ne-4.png
  data/core/images/units/bats/bat-ne-5.png
  data/core/images/units/bats/bat-se-1.png
  data/core/images/units/bats/bat-se-2.png
  data/core/images/units/bats/bat-se-3.png
  data/core/images/units/bats/bat-se-4.png
  data/core/images/units/bats/bat-se-5.png
  data/core/images/units/bats/bloodbat-ne-1.png
  data/core/images/units/bats/bloodbat-ne-2.png
  data/core/images/units/bats/bloodbat-ne-3.png
  data/core/images/units/bats/bloodbat-ne-4.png
  data/core/images/units/bats/bloodbat-ne-5.png
  data/core/images/units/bats/bloodbat-se-1.png
  data/core/images/units/bats/bloodbat-se-2.png
  data/core/images/units/bats/bloodbat-se-3.png
  data/core/images/units/bats/bloodbat-se-4.png
  data/core/images/units/bats/bloodbat-se-5.png
  data/core/images/units/bats/dreadbat-ne-1.png
  data/core/images/units/bats/dreadbat-ne-2.png
  data/core/images/units/bats/dreadbat-ne-3.png
  data/core/images/units/bats/dreadbat-ne-4.png
  data/core/images/units/bats/dreadbat-ne-5.png
  data/core/images/units/bats/dreadbat-se-1.png
  data/core/images/units/bats/dreadbat-se-2.png
  data/core/images/units/bats/dreadbat-se-3.png
  data/core/images/units/bats/dreadbat-se-4.png
  data/core/images/units/bats/dreadbat-se-5.png
Labels: Graphics, Units

[WoF] create missing pot file
  po/wesnoth-wof/wesnoth-wof.pot
Labels: Translations

[WoF] update CMakeLists.txt to accept WoF
  po/CMakeLists.txt
Labels: Translations

[WoF] create the FINDCFG file for translations
  po/wesnoth-wof/FINDCFG
Labels: Translations

[WoF] create the LINGUAS file for translations
  po/wesnoth-wof/LINGUAS
Labels: Translations

[WoF] create the Makevars file for translation
  po/wesnoth-wof/Makevars
Labels: Translations

Refactor FindHistory.cmake
  cmake/FindHistory.cmake
  src/CMakeLists.txt
Labels: Building, CMake

[WoF] create missing pot file
  po/wesnoth-wof/wesnoth-wof.pot
Labels: Translations

[WoF] update CMakeLists.txt to accept WoF
  po/CMakeLists.txt
Labels: Translations

[WoF] create the Makevars file for translation
  po/wesnoth-wof/Makevars
Labels: Translations

[WoF] create the FINDCFG file for translations
  po/wesnoth-wof/FINDCFG
Labels: Translations

[WoF] create the LINGUAS file for translations
  po/wesnoth-wof/LINGUAS
Labels: Translations

Refactor FindHistory.cmake
  cmake/FindHistory.cmake
  src/CMakeLists.txt
Labels: Building, CMake

Add images solely for use in the scons conftests.
  data/core/images/scons_conftest_images/README.md
  data/core/images/scons_conftest_images/end-n.jpg
  data/core/images/scons_conftest_images/end-n.png
  data/core/images/scons_conftest_images/end-n.webp
  scons/sdl.py
Labels: Building, Graphics, SCons

Add images solely for use in the scons conftests.
  data/core/images/scons_conftest_images/README.md
  data/core/images/scons_conftest_images/end-n.jpg
  data/core/images/scons_conftest_images/end-n.png
  data/core/images/scons_conftest_images/end-n.webp
  scons/sdl.py
Labels: Building, Graphics, SCons

Use custom manifest file when building with MSVC
  packaging/windows/wesnoth.rc
Labels: Packaging
