Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

wmllint: added special_note to the translatable keys tuple
  data/tools/wmllint
Labels: WML Tools

wmllint: removed checks for arcane, spirit and defense cap special notes
  data/tools/wmllint
Labels: WML Tools

Fix wesnoth.map.place_area
  data/lua/wml-tags.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Implement a forgotten part in the schedule API
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Fix wesnoth.schedule.get_time_of_day with a turn number
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

wmllint: added names to the translatable keys tuple
  data/tools/wmllint
Labels: WML Tools

Added a missing undef for the Sky Hunter's DIVERSION_ANIM_FILTER local macro
  data/core/units/dunefolk/Sky_Hunter.cfg
Labels: Units

wmlscope: match level 4 deprecated macros
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

wmllint: added names to the translatable keys tuple
  data/tools/wmllint
Labels: WML Tools

wmlscope: match level 4 deprecated macros
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

Added a missing undef for the Sky Hunter's DIVERSION_ANIM_FILTER local macro
  data/core/units/dunefolk/Sky_Hunter.cfg
Labels: Units

WC: Update deprecated uses of get_viewing_side
  data/campaigns/World_Conquest/lua/era/era.lua
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help.lua
Labels: Campaign

Fix [modify_side]reset_maps|view
  data/lua/wml/modify_side.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

gui2/addon_manager: Remove broken untranslatable tooltip
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

gui2/addon_manager: Remove broken untranslatable tooltip
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

Fix shroud parsing functions
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
Labels: Lua API

Implement shroud API deprecation wrappers that handle shroud data strings
  data/lua/core/sides.lua
Labels: Lua API

Fix wml.remove_children
  data/lua/core/wml.lua
Labels: Lua API

Fix [modify_side]reset_maps|view
  data/lua/wml/modify_side.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

WC: Update deprecated uses of get_viewing_side
  data/campaigns/World_Conquest/lua/era/era.lua
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help.lua
Labels: Campaign

Add notes to the Windows INSTALL.md instructions.
  INSTALL.md
Labels: none

Add notes to the Windows INSTALL.md instructions.
  INSTALL.md
Labels: none

updated British English translation
  changelog.md
  po/wesnoth-did/en_GB.po
  po/wesnoth-dw/en_GB.po
  po/wesnoth-help/en_GB.po
  po/wesnoth-httt/en_GB.po
  po/wesnoth-lib/en_GB.po
  po/wesnoth-multiplayer/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-tb/en_GB.po
  po/wesnoth-tutorial/en_GB.po
  po/wesnoth-units/en_GB.po
  po/wesnoth-utbs/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-low/pt_BR.po
  po/wesnoth-manpages/pt_BR.po
  po/wesnoth-manual/pt_BR.po
  po/wesnoth-multiplayer/pt_BR.po
  po/wesnoth-nr/pt_BR.po
  po/wesnoth-sotbe/pt_BR.po
  po/wesnoth-trow/pt_BR.po
  po/wesnoth-tsg/pt_BR.po
  po/wesnoth-tutorial/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-low/pt_BR.po
  po/wesnoth-manpages/pt_BR.po
  po/wesnoth-manual/pt_BR.po
  po/wesnoth-multiplayer/pt_BR.po
  po/wesnoth-nr/pt_BR.po
  po/wesnoth-sotbe/pt_BR.po
  po/wesnoth-trow/pt_BR.po
  po/wesnoth-tsg/pt_BR.po
  po/wesnoth-tutorial/pt_BR.po
Labels: Translations

Make wesmere subplot more clear
  data/campaigns/Winds_of_Fate/scenarios/05x_Unexpected_Arrival.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Elensefar.cfg
  data/campaigns/Winds_of_Fate/scenarios/06x_Winds_of_Fate.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Wesmere.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
Labels: Campaign

S08: Rename lich
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
Labels: Campaign

S08: Reword uplift to transmute
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
Labels: Campaign

Clearer drake sayings and beliefs
  data/campaigns/Winds_of_Fate/scenarios/03x_Advice.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Confrontation.cfg
  data/campaigns/Winds_of_Fate/story/Morogor_Dialect.txt
Labels: Campaign

S01: Minor fixes for fire guardian
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
Labels: Campaign

Replace all-lower-case style
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
Labels: Campaign

S11: Clarify story resolution
  data/campaigns/Winds_of_Fate/scenarios/11_Confrontation.cfg
Labels: Campaign

S09: Stop gryphon spawn camping
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
Labels: Campaign

Change fae to faerie
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
Labels: Campaign

M09, M11: More cosmetic forest
  data/campaigns/Winds_of_Fate/maps/09_Heart_Mountains.map
  data/campaigns/Winds_of_Fate/maps/11_Confrontation.map
  data/campaigns/Winds_of_Fate/maps/HM_Master.map
Labels: Campaign

Polish SoI graphics
  data/campaigns/Winds_of_Fate/images/overlays/ball-blue-icon.png
  data/campaigns/Winds_of_Fate/utils/wov-macros.cfg
Labels: Campaign, Graphics

S11: Fix dialogue portrait mirroring
  data/campaigns/Winds_of_Fate/scenarios/11_Confrontation.cfg
Labels: Campaign

Reduce sprite memory footprint
  data/campaigns/Winds_of_Fate/images/units/caravel.png
  data/campaigns/Winds_of_Fate/images/units/dolphin-1.png
  data/campaigns/Winds_of_Fate/images/units/dolphin-2.png
  data/campaigns/Winds_of_Fate/images/units/outrigger.png
Labels: Campaign, Graphics

S03: Make dragon claws same damage for all difficulty levels
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
Labels: Campaign

SoF: Fix runecrafting gold cost being non-translatable
  data/campaigns/Sceptre_of_Fire/_main.cfg
  data/campaigns/Sceptre_of_Fire/lua/rune-equip.lua
  data/campaigns/Sceptre_of_Fire/utils/rune-equip.cfg
Labels: Campaign
