Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Expand lua whitespace check.
  data/ai/lua/ca_level_up_attack.lua
  data/ai/lua/stdlib.lua
  data/ai/micro_ais/cas/ca_wolves_move.lua
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
  data/campaigns/World_Conquest/lua/campaign/enemy_themed.lua
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
  data/campaigns/World_Conquest/lua/era/era.lua
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
  data/campaigns/World_Conquest/lua/game_mechanics/color.lua
  data/campaigns/World_Conquest/lua/game_mechanics/dropping.lua
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_show_dialog.lua
  data/campaigns/World_Conquest/lua/game_mechanics/supply.lua
  data/campaigns/World_Conquest/lua/game_mechanics/unittypedata.lua
  data/campaigns/World_Conquest/lua/game_mechanics/utils.lua
  data/campaigns/World_Conquest/lua/map/generator/utilities.lua
  data/campaigns/World_Conquest/lua/map/generator/wild.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/events.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/noise.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/utilities.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/wild_zones.lua
  data/campaigns/World_Conquest/lua/map/scenarios/WC_II_4p_scenario1.lua
  data/campaigns/World_Conquest/lua/map/settings/settings_dialog.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/pick_advance.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/unitmarker.lua
  data/campaigns/World_Conquest/lua/shared_utils/wml_converter.lua
  utils/CI/fix_whitespace.sh
Labels: AI, Campaign

Capitalise 'Sceptre of Fire'.
  data/campaigns/Under_the_Burning_Suns/scenarios/07a_Dealing_with_Dwarves.cfg
Labels: Campaign

Capitalise 'Sceptre of Fire'.
  data/campaigns/Under_the_Burning_Suns/scenarios/07a_Dealing_with_Dwarves.cfg
Labels: Campaign

CMake: update the .po files before generating stats about them
  po/CMakeLists.txt
Labels: Translations

CMake: run xgettext on the .cpp file with GETTEXT_DOMAIN "wesnoth"
  cmake/update_pot_source_dependencies.cmake
Labels: Building, CMake

Allow for Gryphon Riders to trigger an event on the final runic tablet.
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Rewrite reduce into both fold and reduce
  data/lua/functional.lua
Labels: Lua API

Revert "Define KeyboardInterrupt Exception Handler in wmlindent"
  data/tools/wmlindent
Labels: WML Tools

Revert "Define KeyboardInterrupt Exception Handler in wmlxgettext"
  data/tools/wmlxgettext
Labels: WML Tools

add 'multiply' and 'divide'
  data/schema/units/abilities.cfg
Labels: Schema

add 'multiply' and 'divide'
  data/schema/units/abilities.cfg
Labels: Schema

Rewrite reduce to both fold and reduce
  data/lua/functional.lua
Labels: Lua API

Ardonna should only call her own bats 'my pet'.
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
Labels: Campaign

Ardonna should only call her own bats 'my pet'.
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
Labels: Campaign

Ardonna should only call her own bats 'my pet'.
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
Labels: Campaign

[WMLTools] Transfer entire main routine into a function called main()
  data/tools/wmlflip
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmllint-1.4
  data/tools/wmlscope
  data/tools/wmlunits
Labels: WML Tools

[WMLTools] Transfer main() to the top as the first function definition
  data/tools/wmlflip
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmllint-1.4
  data/tools/wmlscope
  data/tools/wmlunits
  data/tools/wmlxgettext
Labels: WML Tools

[WMLTools] Refactor Styling of import statements.
  data/tools/wmlflip
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmllint-1.4
  data/tools/wmlscope
  data/tools/wmlxgettext
Labels: WML Tools

[WMLTools] Use multiline comment instead of multiple single-line comments for module dosctrings
  data/tools/wmlflip
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmllint-1.4
  data/tools/wmlscope
  data/tools/wmlunits
  data/tools/wmlxgettext
Labels: WML Tools

[WMLTools] Apply Blank Line convention between function and class definitions
  data/tools/wmlflip
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmllint-1.4
  data/tools/wmlscope
  data/tools/wmlunits
  data/tools/wmlxgettext
Labels: WML Tools

[WMLTools] Make Class names use CamelCase
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmllint-1.4
Labels: WML Tools

wmllint: Make function name use lower_case_with_underscores
  data/tools/wmllint
Labels: WML Tools

[WMLTools] Change KeyboarInterrupt Message
  data/tools/wmllint
  data/tools/wmlscope
Labels: WML Tools

[WMLTools] Implement KeyboardInterrupt Handler
  data/tools/wmlflip
  data/tools/wmlindent
  data/tools/wmllint-1.4
  data/tools/wmlunits
  data/tools/wmlxgettext
Labels: WML Tools

[WMLTools] Implement KeyboardInterrupt Handler
  data/tools/wmlflip
  data/tools/wmlindent
  data/tools/wmllint
  data/tools/wmllint-1.4
  data/tools/wmlunits
  data/tools/wmlxgettext
Labels: WML Tools

wmllint declare as global variables in main() that are used elsewhere
  data/tools/wmllint
Labels: WML Tools

Revert changes made to wmllint-1.4
  data/tools/wmllint-1.4
Labels: WML Tools

wmlindent: Make variables in main() global
  data/tools/wmlindent
Labels: WML Tools

wmlscope: Make variables in main() global
  data/tools/wmlscope
Labels: WML Tools

some attack icon work
  data/core/images/attacks/blowgun.png
  data/core/images/attacks/fangs-angler.png
  data/core/images/attacks/foot-bare.png
  data/core/images/attacks/foot-boot.png
  data/core/images/attacks/foot-shoe.png
  data/core/images/attacks/mace-spiked.png
  data/core/images/attacks/tusk.png
Labels: Graphics

reduce takes an optional 3rd argument
  data/lua/functional.lua
Labels: Lua API

Can't checkout a commit with depth=1
  .github/workflows/ci-main.yml
Labels: none

Can't checkout a commit with depth=1
  .github/workflows/ci-main.yml
Labels: none

Update update_server to match production
  utils/mp-server/update_server
Labels: Services

Merge changes from update_server2 into update_server
  utils/mp-server/update_server
Labels: Services

fix 'leadership' ability appear in windows
  src/units/abilities.cpp
Labels: Units

fix 'leadership' appear in window
  src/units/abilities.cpp
Labels: Units

Add a script to collect candidate commits
  utils/collect_election_candidate_commits
Labels: none

use "opponent" string to specifie origin of abilitie who affect attack
  po/wesnoth-lib/fr.po
  po/wesnoth-lib/wesnoth-lib.pot
  src/units/abilities.cpp
Labels: Translations, Units

Expand lua whitespace check.
  data/ai/lua/ca_level_up_attack.lua
  data/ai/lua/stdlib.lua
  data/ai/micro_ais/cas/ca_wolves_move.lua
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
  data/campaigns/World_Conquest/lua/campaign/enemy_themed.lua
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
  data/campaigns/World_Conquest/lua/era/era.lua
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
  data/campaigns/World_Conquest/lua/game_mechanics/color.lua
  data/campaigns/World_Conquest/lua/game_mechanics/dropping.lua
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_show_dialog.lua
  data/campaigns/World_Conquest/lua/game_mechanics/supply.lua
  data/campaigns/World_Conquest/lua/game_mechanics/unittypedata.lua
  data/campaigns/World_Conquest/lua/game_mechanics/utils.lua
  data/campaigns/World_Conquest/lua/map/generator/utilities.lua
  data/campaigns/World_Conquest/lua/map/generator/wild.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/events.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/noise.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/utilities.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/wild_zones.lua
  data/campaigns/World_Conquest/lua/map/scenarios/WC_II_4p_scenario1.lua
  data/campaigns/World_Conquest/lua/map/settings/settings_dialog.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/pick_advance.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/unitmarker.lua
  data/campaigns/World_Conquest/lua/shared_utils/wml_converter.lua
  utils/CI/fix_whitespace.sh
Labels: AI, Campaign
