Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

WC: Fix error in destruction mechanic
  data/campaigns/World_Conquest/lua/optional_mechanics/destruction.lua
Labels: Campaign

WC: Fix typo
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_show_dialog.lua
Labels: Campaign

WC: Fix invest dialog
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_show_dialog.lua
Labels: Campaign

WC: Convert invest dialog to WML
  data/campaigns/World_Conquest/gui/invest_dialog.cfg
  data/campaigns/World_Conquest/lua/game_mechanics/_load.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_dialog.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_show_dialog.lua
Labels: Campaign

WC: Convert the help dialog to WML
  data/campaigns/World_Conquest/gui/help_dialog.cfg
  data/campaigns/World_Conquest/lua/game_mechanics/_load.lua
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help.lua
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help_dialog.lua
Labels: Campaign

WC: Make that macro uppercase as per style guidelines
  data/campaigns/World_Conquest/gui/help_dialog.cfg
Labels: Campaign

WC: Convert the remaining dialogs to WML
  data/campaigns/World_Conquest/gui/invest_tellunit.cfg
  data/campaigns/World_Conquest/gui/pickup_confirmation.cfg
  data/campaigns/World_Conquest/gui/settings_dialog.cfg
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_tellunit.lua
  data/campaigns/World_Conquest/lua/game_mechanics/pickup_confirmation_dialog.lua
  data/campaigns/World_Conquest/lua/map/settings/settings_dialog.lua
Labels: Campaign

tutorial: Convert character dialog to WML
  data/campaigns/tutorial/gui/character_selection.cfg
  data/campaigns/tutorial/lua/character_selection.lua
Labels: Campaign

Run wmlindent.
  data/campaigns/World_Conquest/gui/help_dialog.cfg
  data/campaigns/World_Conquest/gui/invest_dialog.cfg
  data/campaigns/World_Conquest/gui/invest_tellunit.cfg
  data/campaigns/World_Conquest/gui/settings_dialog.cfg
  data/campaigns/tutorial/gui/character_selection.cfg
Labels: Campaign

Prevent deprecation message details from being on a separate line.
  src/deprecation.cpp
Labels: none

SotA: Convert zombie recruit dialog to WML
  data/campaigns/Secrets_of_the_Ancients/gui/zombie_recruit_dialog.cfg
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
Labels: Campaign

Run wmlindent.
  data/campaigns/Secrets_of_the_Ancients/gui/zombie_recruit_dialog.cfg
Labels: Campaign

Add a prompt to allow entering an add-on's password at upload time.
  data/gui/window/addon_auth.cfg
  projectfiles/VC16/wesnoth.vcxproj
  projectfiles/VC16/wesnoth.vcxproj.filters
  source_lists/wesnoth
  src/addon/client.cpp
  src/gui/dialogs/addon/addon_auth.cpp
  src/gui/dialogs/addon/addon_auth.hpp
  src/gui/dialogs/addon/manager.cpp
  src/tests/gui/test_gui2.cpp
Labels: Add-ons, Building, UI

updated British English translation
  po/wesnoth-units/en_GB.po
Labels: Translations

Fix a typo
  data/core/units/undead/Corpse_Necrophage.cfg
Labels: Units

Fix typo
  data/core/units/dunefolk/Alchemist.cfg
Labels: Units

Fix typo
  data/core/units/dunefolk/Alchemist.cfg
Labels: Units

Fix a typo
  data/core/units/undead/Corpse_Necrophage.cfg
Labels: Units

WC: Change the invest dialog title to be more descriptive
  data/campaigns/World_Conquest/gui/invest_dialog.cfg
Labels: Campaign

fix weather change cheat in dark forecast
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

Fixed a typo in the comments
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

Fixed a typo in the comments (#2)
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

fixed another typo
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

Dark Forecast Lua file comment Typo fix (#5658)
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

updated comment to explain the change
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

fixed a typo in my comment
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

updated comment
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

Fill out PR section.
  .github/CONTRIBUTING.md
Labels: none

Fix for weather change cheat in dark forecast (#5656)
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

Delete SUPPORT.md and move CONTRIBUTING.md.
  .github/SUPPORT.md
  CONTRIBUTING.md
Labels: none

updated fork with master
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

Revert "updated fork with master"
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

Update 2p_Dark_Forecast.lua
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

units - minimal usable graphics for the rock scorpion
  data/core/images/portraits/monsters/scorpion-rock.png
  data/core/images/units/monsters/scorpion/rock-scorpion-defend1.png
  data/core/images/units/monsters/scorpion/rock-scorpion-defend2.png
  data/core/images/units/monsters/scorpion/rock-scorpion.png
  data/core/units/monsters/Rock_Scorpion.cfg
Labels: Graphics, Units

wmlindent
  data/core/units/monsters/Rock_Scorpion.cfg
Labels: Units

various small fixes (#5613)
  data/core/images/portraits/undead/zombie-beastrider.png
  data/core/units/monsters/Scarab.cfg
Labels: Graphics, Units

scorpion variations (#5589)
  data/core/images/portraits/monsters/scorpion-rock.png
  data/core/images/portraits/monsters/scuttler.png
  data/core/images/portraits/undead/zombie-scorpion.png
  data/core/images/units/monsters/scorpion/rock-scorpion-defend1.png
  data/core/images/units/monsters/scorpion/rock-scorpion-defend2.png
  data/core/images/units/monsters/scorpion/rock-scorpion.png
  data/core/images/units/undead/soulless-scorpion-attack-n.png
  data/core/images/units/undead/soulless-scorpion-attack-s.png
  data/core/images/units/undead/soulless-scorpion-attack.png
  data/core/images/units/undead/soulless-scorpion-defend.png
  data/core/images/units/undead/soulless-scorpion-die-1.png
  data/core/images/units/undead/soulless-scorpion-die-2.png
  data/core/images/units/undead/soulless-scorpion-die-3.png
  data/core/images/units/undead/soulless-scorpion-die-4.png
  data/core/images/units/undead/soulless-scorpion.png
  data/core/images/units/undead/zombie-scorpion-attack-n.png
  data/core/images/units/undead/zombie-scorpion-attack-s.png
  data/core/images/units/undead/zombie-scorpion-attack.png
  data/core/images/units/undead/zombie-scorpion-defend.png
  data/core/images/units/undead/zombie-scorpion-die-1.png
  data/core/images/units/undead/zombie-scorpion-die-2.png
  data/core/images/units/undead/zombie-scorpion-die-3.png
  data/core/images/units/undead/zombie-scorpion-die-4.png
  data/core/images/units/undead/zombie-scorpion.png
  data/core/units/monsters/Giant_Scorpion.cfg
  data/core/units/monsters/Giant_Scorpling.cfg
  data/core/units/monsters/Rock_Scorpion.cfg
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, Units

Update changelog.md
  changelog.md
Labels: none

remove reference to tusker, replace with boar or piglet
  data/core/images/portraits/monsters/woodland_boar.png
  data/core/images/portraits/undead/zombie-boar.png
  data/core/images/units/monsters/boar/piglet-attack.png
  data/core/images/units/monsters/boar/piglet-defend.png
  data/core/images/units/monsters/boar/piglet-moving.png
  data/core/images/units/monsters/boar/piglet-water.png
  data/core/images/units/monsters/boar/piglet.png
  data/core/images/units/monsters/boar/woodland-attack.png
  data/core/images/units/monsters/boar/woodland-charge-2.png
  data/core/images/units/monsters/boar/woodland-charge.png
  data/core/images/units/monsters/boar/woodland-defend.png
  data/core/images/units/monsters/boar/woodland-moving.png
  data/core/images/units/monsters/boar/woodland-water.png
  data/core/images/units/monsters/boar/woodland.png
  data/core/images/units/undead/soulless-boar-attack-n.png
  data/core/images/units/undead/soulless-boar-attack-s.png
  data/core/images/units/undead/soulless-boar-attack.png
  data/core/images/units/undead/soulless-boar-defend.png
  data/core/images/units/undead/soulless-boar-die-1.png
  data/core/images/units/undead/soulless-boar-die-2.png
  data/core/images/units/undead/soulless-boar-die-3.png
  data/core/images/units/undead/soulless-boar-die-4.png
  data/core/images/units/undead/soulless-boar.png
  data/core/images/units/undead/zombie-boar-attack-n.png
  data/core/images/units/undead/zombie-boar-attack-s.png
  data/core/images/units/undead/zombie-boar-attack.png
  data/core/images/units/undead/zombie-boar-defend.png
  data/core/images/units/undead/zombie-boar-die-1.png
  data/core/images/units/undead/zombie-boar-die-2.png
  data/core/images/units/undead/zombie-boar-die-3.png
  data/core/images/units/undead/zombie-boar-die-4.png
  data/core/images/units/undead/zombie-boar.png
  data/core/units/monsters/Boar.cfg
  data/core/units/monsters/Boar_Piglet.cfg
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, Units

units - catch some references to tusker
  data/core/units/monsters/Boar_Piglet.cfg
Labels: Units

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
