Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Un-rename lua source files to .c
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/lua
  src/CMakeLists.txt
  src/SConscript
  src/lua/lapi.c
  src/lua/lauxlib.c
  src/lua/lbaselib.c
  src/lua/lcode.c
  src/lua/lcorolib.c
  src/lua/lctype.c
  src/lua/ldblib.c
  src/lua/ldebug.c
  src/lua/ldo.c
  src/lua/ldump.c
  src/lua/lfunc.c
  src/lua/lgc.c
  src/lua/liolib.c
  src/lua/llex.c
  src/lua/lmathlib.c
  src/lua/lmem.c
  src/lua/loadlib.c
  src/lua/lobject.c
  src/lua/lopcodes.c
  src/lua/loslib.c
  src/lua/lparser.c
  src/lua/lstate.c
  src/lua/lstring.c
  src/lua/lstrlib.c
  src/lua/ltable.c
  src/lua/ltablib.c
  src/lua/ltm.c
  src/lua/lundump.c
  src/lua/lutf8lib.c
  src/lua/lvm.c
  src/lua/lzio.c
Labels: Building, CMake, macOS, SCons

Update instructions and add warning to scons/cmake.
  CMakeLists.txt
  INSTALL.md
  SConstruct
  src/wesnoth_lua_config.md
Labels: Building, CMake, SCons

Revert "Reapply static_cast fix from 561cc33dc41d5b1561934d5c9e184f1da8545195"
  src/lua/luaconf.h
Labels: none

Rename variable.
  src/nowarn/lauxlib.h
  src/scripting/lua_fileops.cpp
Labels: Lua API

Ignore lua submodule folder in 1.16.
  .gitignore
Labels: none

Add submodules into source archive.
  .github/workflows/ci-scripts/ubuntu.sh
Labels: none

Fix for moves and attacks
  src/mouse_events.cpp
Labels: none

A more representative test case
  data/scenario-test.cfg
Labels: none

Whoops that's deprecated
  data/scenario-test.cfg
Labels: none

Label tooltip should be translatable
  data/scenario-test.cfg
Labels: none

ws
  data/scenario-test.cfg
Labels: none

Store add-on passwords in the credentials file as well.
  data/gui/window/addon_auth.cfg
  src/addon/client.cpp
  src/gui/dialogs/addon/addon_auth.cpp
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

Changelog update.
  changelog.md
Labels: none

Store add-on passwords in the credentials file as well.
  data/gui/window/addon_auth.cfg
  src/addon/client.cpp
  src/gui/dialogs/addon/addon_auth.cpp
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

Changelog update.
  changelog.md
Labels: none

typo
  data/scenario-test.cfg
Labels: none

Add wesnoth.interface.add_floating_label as a replacement for wesnoth.print
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/tutorial/utils/utils.cfg
  data/core/macros/ai_controller.cfg
  data/lua/core/interface.lua
  data/lua/wml-tags.lua
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: Campaign, Lua API

Rename add_floating_label to add_overlay_text
  data/lua/core/interface.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Undo the [print] -> [floating_label] rename
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/tutorial/utils/utils.cfg
  data/core/macros/ai_controller.cfg
  data/lua/wml-tags.lua
Labels: Campaign, Lua API

Threw together a quick demo scenario
  data/test/scenarios/overlay_text_demo.cfg
Labels: Unit Tests

Adjust text options table format and allow infinity in duration options table
  data/lua/wml-tags.lua
  data/test/scenarios/overlay_text_demo.cfg
  src/scripting/game_lua_kernel.cpp
Labels: Lua API, Unit Tests

Fix schema vaidation
  data/test/scenarios/overlay_text_demo.cfg
Labels: Unit Tests

Update schema
  data/schema/core/actionwml.cfg
Labels: Schema

Fix schema errors in the demo
  data/test/scenarios/overlay_text_demo.cfg
Labels: Unit Tests

Fixup
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

That error message wasn't quite right
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Fix the other tutorial error
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Use unlimited instead of infinity
  data/test/scenarios/overlay_text_demo.cfg
  src/scripting/game_lua_kernel.cpp
Labels: Lua API, Unit Tests

Make fade time apply even to unlimited labels, and offer a way to override it at removal time
  src/floating_label.cpp
  src/floating_label.hpp
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

fix whitespace
  src/floating_label.hpp
Labels: none

Make sure fade time is used somewhere
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/tutorial/utils/utils.cfg
  data/test/scenarios/overlay_text_demo.cfg
Labels: Campaign, Unit Tests

Update deprecated uses of [replace_map]
  data/scenario-test.cfg
  data/test/scenarios/test_relative_dir.cfg
Labels: Unit Tests

Fix shroud unit tests not being classified as unit tests and showing up in the in-game test list
  data/test/scenarios/test_modify_shroud.cfg
Labels: Unit Tests

Put translation contribution info into CONTRIBUTING.md.
  CONTRIBUTING.md
Labels: none

Put translation contribution info into CONTRIBUTING.md.
  CONTRIBUTING.md
Labels: none

Fix #6389.
  src/addon/state.cpp
Labels: Add-ons

updated Czech translation
  changelog.md
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-tsg/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  po/wesnoth-l/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-sof/cs.po
Labels: Translations

Add build support for webp images.
  SConstruct
  data/game_config.cfg
  scons/sdl.py
  utils/CI/check_utf8.sh
  utils/dockerbuilds/make_steam_image
  vcpkg.json
Labels: Building, SCons

Add build support for webp images.
  SConstruct
  data/game_config.cfg
  scons/sdl.py
  utils/CI/check_utf8.sh
  utils/dockerbuilds/make_steam_image
  vcpkg.json
Labels: Building, SCons

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
