Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

1.17 terrain graphics transitions update (#6588)
  data/core/images/terrain/desert_mountains/desert-castle-n-ne.png
  data/core/images/terrain/desert_mountains/desert-castle-n.png
  data/core/images/terrain/desert_mountains/desert-castle-ne.png
  data/core/images/terrain/desert_mountains/desert-castle-nw.png
  data/core/images/terrain/desert_mountains/desert-castle2-n.png
  data/core/images/terrain/desert_mountains/desert-castle2-ne.png
  data/core/images/terrain/desert_mountains/desert-castle2-nw.png
  data/core/images/terrain/desert_mountains/desert-n.png
  data/core/images/terrain/misc/rails-end-n.png
  data/core/images/terrain/misc/rubble-n.png
  data/core/images/terrain/misc/rubble-ne.png
  data/core/images/terrain/misc/rubble-nw.png
  data/core/images/terrain/misc/rubble-s.png
  data/core/images/terrain/misc/rubble-se.png
  data/core/images/terrain/misc/rubble-sw.png
  data/core/images/terrain/misc/rubble.png
  data/core/images/terrain/misc/rubble2-n.png
  data/core/images/terrain/misc/rubble2-ne.png
  data/core/images/terrain/misc/rubble2-s.png
  data/core/images/terrain/misc/rubble2-se.png
  data/core/images/terrain/misc/rubble4.png
  data/core/images/terrain/misc/rubble5.png
  data/core/images/terrain/misc/rubble6.png
  data/core/images/terrain/walls/stone/wall-minestone-mixed-corner-ccw-bl.png
  data/core/images/terrain/walls/stone/wall-minestone-mixed-corner-cw-bl.png
  data/core/images/terrain/walls/stone/wall-stone-mine-concave-tr.png
  data/core/images/terrain/walls/stone/wall-stone-mine-convex-l.png
  data/core/images/terrain/walls/stone/wall-stonemine-mixed-corner-ccw-bl.png
  data/core/images/terrain/walls/stone/wall-stonemine-mixed-corner-cw-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

Update changelog.md
  changelog.md
Labels: none

initial OVERLAY revision [skip_ci]
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

Add script to mass convert images to webp.
  utils/optiwebp.py
Labels: none

address where trash and gates rules stand in this cleanup
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/gates-deprecated.cfg
  data/core/terrain-graphics/gates-new.cfg
  data/core/terrain-graphics/trash.cfg
Labels: Terrain

more OVERLAY removal, dealing mostly with desert mountains for now
  data/core/images/terrain/desert_mountains/desert-small-n.png
  data/core/images/terrain/desert_mountains/desert-small-ne.png
  data/core/images/terrain/desert_mountains/desert-small-nw.png
  data/core/images/terrain/desert_mountains/desert-small2-n.png
  data/core/images/terrain/desert_mountains/desert-small2-ne.png
  data/core/images/terrain/desert_mountains/desert-small2-nw.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

Put "recursion" on the line above
  src/units/abilities.cpp
Labels: Units

Put "recursion" on the line above
  src/units/abilities.cpp
Labels: Units

finish up with getting desert mountains off of old macros
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

Add script to mass convert images to webp.
  utils/optiwebp.py
Labels: none

update some plant embellishments
  data/core/images/terrain/embellishments/plants/desert-bones-small.png
  data/core/images/terrain/embellishments/plants/desert-bones.png
  data/core/images/terrain/embellishments/plants/desert-bones2.png
  data/core/images/terrain/embellishments/plants/desert-plant-small.png
  data/core/images/terrain/embellishments/plants/desert-plant-small2.png
  data/core/images/terrain/embellishments/plants/desert-plant-small3.png
  data/core/images/terrain/embellishments/plants/desert-plant.png
  data/core/images/terrain/embellishments/plants/desert-plant2.png
  data/core/images/terrain/embellishments/plants/desert-plant3.png
  data/core/images/terrain/embellishments/plants/desert-plant4.png
  data/core/images/terrain/embellishments/plants/desert-plant5.png
  data/core/images/terrain/embellishments/plants/desert-plant6.png
  data/core/images/terrain/embellishments/plants/desert-plant7.png
  data/core/images/terrain/embellishments/plants/desert-plant8.png
  data/core/images/terrain/embellishments/plants/desert-plant9.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

remove ?true :false of whom_is_self
  src/units/abilities.cpp
Labels: Units

clean out AQUATIC from legacy macros
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/aquatic.cfg
Labels: Terrain

conversion of chasm/void transitions
  data/core/terrain-graphics.cfg
Labels: Terrain

minor updates
  data/core/images/terrain/embellishments/plants/desert-bones-small2.png
  data/core/images/terrain/embellishments/plants/desert-bones-small3.png
  data/core/images/terrain/embellishments/plants/desert-bones3.png
  data/core/images/terrain/embellishments/plants/desert-plant10.png
  data/core/images/terrain/embellishments/plants/desert-plant4.png
  data/core/images/terrain/embellishments/plants/desert-plant9.png
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

Fix units stuck in spider wall and filter
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

changelog
  changelog.md
Labels: none

THoT: Move unused images to attic.
  attic/README.md
  attic/perrin.png
  attic/righteous-flame-icon.png
  data/campaigns/The_Hammer_of_Thursagan/_main.cfg
Labels: Campaign

changelog
  changelog.md
Labels: none

Fix units stuck in spider wall and filter
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

Fix units stuck in spider wall and filter
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

changelog
  changelog.md
Labels: none

THoT: Move unused images to attic.
  attic/README.md
  attic/perrin.png
  attic/righteous-flame-icon.png
  data/campaigns/The_Hammer_of_Thursagan/_main.cfg
Labels: Campaign

Address a feedback comment
  data/test/scenarios/overlay_text_demo.cfg
Labels: Unit Tests

changelog
  changelog.md
Labels: none

Move the comment about the ghost being pale to a narrator message
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

whitespace
  changelog.md
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

whitespace 2
  changelog.md
Labels: none

fix [firststrike] special with apply_to=opponent crashes Wesnoth 1.16.x (#6573)
  data/test/maps/4p_single_castle.map
  data/test/scenarios/firststrike_and_laststrike.cfg
  src/units/abilities.cpp
  wml_test_schedule
Labels: Unit Tests, Units

Another possibility of dialogue
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

SEGFAULTS: Add a unit test for firststrike and laststrike
  data/test/maps/4p_single_castle.map
  data/test/scenarios/firststrike_and_laststrike.cfg
  wml_test_schedule
Labels: Unit Tests

rename whom_is_unit to whom_unit and same for loc
  src/units/abilities.cpp
Labels: Units

new implementation
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

Tutorial S02: Reduce the number of [messages]
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
Labels: Campaign

Convert the tutorial's wall of text [message]s into overlay text
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
  data/campaigns/tutorial/utils/utils.cfg
  data/schema/core/actionwml.cfg
Labels: Campaign, Schema

po hint
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

rename to them and their_loc(without comment)
  src/units/abilities.cpp
Labels: Units

NR S05a_01 Enhance dialogue between Tallin and Abhai (#6612)
  changelog.md
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

fix [firststrike] special with apply_to=opponent crashes Wesnoth 1.17.x (#6574)
  data/test/maps/4p_single_castle.map
  data/test/scenarios/firststrike_and_laststrike.cfg
  data/test/scenarios/poison_opponent.cfg
  src/units/abilities.cpp
  wml_test_schedule
Labels: Unit Tests, Units

Loading Screen: added an (as-yet unused) image background layer
  data/gui/window/loadscreen.cfg
Labels: UI
