Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Simplified scale IPF implementations (#8200)
  src/image_modifications.cpp
  src/image_modifications.hpp
Labels: none

GUI2/Pane: fixed compilation with C++20
  src/gui/widgets/pane.hpp
Labels: UI

Fix some multiline po: comments
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/core/macros/special-notes.cfg
Labels: Campaign UtBS

multiline_text: multiline selection
  data/gui/widget/multiline_text_default.cfg
  data/gui/window/editor_edit_unit.cfg
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/spinbox.hpp
Labels: UI

Replace utils::set_split with utils::split_set
  src/carryover.cpp
  src/editor/map/map_context.cpp
  src/serialization/string_utils.hpp
Labels: Editor

Removed XBRZ IPF (stub remains)
  src/image_modifications.cpp
  src/image_modifications.hpp
Labels: none

Removed scale_surface_xbrz and scale_surface_nn
  src/sdl/utils.cpp
  src/sdl/utils.hpp
Labels: none

Removed XBRZ
  source_lists/libwesnoth_sdl
  src/xBRZ/config.hpp
  src/xBRZ/xbrz.cpp
  src/xBRZ/xbrz.hpp
Labels: Building

Fixup
  src/image_modifications.cpp
Labels: none

Fix some multiline po: comments
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/core/macros/special-notes.cfg
Labels: Campaign UtBS

widgets : combobox line width fix
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/combobox.cpp
  src/gui/widgets/combobox.hpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/spinbox.cpp
  src/gui/widgets/spinbox.hpp
Labels: UI

Updated xcode projfile
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

UtBS: Units with tailwind have green orbs and rest heal
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Campaign UtBS

Add po hints for "taught" in the attack dialog
  src/units/abilities.cpp
Labels: Units

Add po hints for "taught" in the attack dialog
  src/units/abilities.cpp
Labels: Units

units: Raven War Harbinger HP and XP patch
  data/core/units/monsters/Raven_Harbinger.cfg
Labels: Units

Update all units of type and side after selection with is_game_override
  data/modifications/pick_advance/main.lua
Labels: none

Accept percentage arguments in scaling IPFs
  src/image_modifications.cpp
  src/image_modifications.hpp
Labels: none

updated Arabic translation
  changelog.md
  po/wesnoth-editor/ar.po
  po/wesnoth-help/ar.po
  po/wesnoth-tb/ar.po
  po/wesnoth-tools/ar.po
  po/wesnoth-tutorial/ar.po
  po/wesnoth/ar.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-dw/it.po
  po/wesnoth-help/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-multiplayer/it.po
  po/wesnoth-sof/it.po
  po/wesnoth-thot/it.po
  po/wesnoth-tsg/it.po
  po/wesnoth-units/it.po
  po/wesnoth-utbs/it.po
  po/wesnoth-wc/it.po
  po/wesnoth-wof/it.po
  po/wesnoth/it.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth/it.po
Labels: Translations

updated French translation
  po/wesnoth-help/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated Finnish translation
  changelog.md
  po/wesnoth-sota/fi.po
  po/wesnoth-tutorial/fi.po
Labels: Translations

updated German translation
  changelog.md
  po/wesnoth/de.po
Labels: Translations

updated German translation
  changelog.md
  po/wesnoth/de.po
Labels: Translations

widgets : preliminary scrollable multiline text widget
  data/gui/widget/multiline_text_default.cfg
  data/gui/widget/scroll_text_default.cfg
  data/gui/widget/scroll_text_verbatim.cfg
  data/gui/window/editor_edit_unit.cfg
  data/schema/gui/widget_definitions.cfg
  data/schema/gui/widget_instances.cfg
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/scrollbar_container.hpp
  src/gui/widgets/spinbox.hpp
  src/gui/widgets/styled_widget.hpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
Labels: Schema, UI

Update scroll_text_default.cfg
  data/gui/widget/scroll_text_default.cfg
Labels: UI

widgets : shift+enter linebreak and project files fix
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/libwesnoth_widgets
  source_lists/wesnoth
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/window.cpp
Labels: Building, macOS, UI

Lua: Fix error when calling wesnoth.print_attributes on a GUI2 widget
  src/scripting/lua_kernel_base.cpp
  src/scripting/lua_kernel_base.hpp
  src/scripting/lua_widget_attributes.cpp
Labels: Lua API

widgets: unused field removed
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/text_box_base.hpp
Labels: UI

fixup to great wolf portrait
  data/core/images/portraits/wolves/wolf-great.webp
Labels: Graphics

show_narration: use label column if only given a string
  src/scripting/lua_gui2.cpp
Labels: Lua API

Schema: Fix declaring guard_x/y/loc as required keys in stationed_guard MicroAI (they are optional)
  data/schema/ai/micro.cfg
  data/schema/core/actionwml.cfg
Labels: Schema

NE anims for jumping spider
  data/core/images/units/monsters/jumping-spider-ne-attack1.png
  data/core/images/units/monsters/jumping-spider-ne-attack2.png
  data/core/images/units/monsters/jumping-spider-ne-attack3.png
  data/core/images/units/monsters/jumping-spider-ne-attack4.png
  data/core/images/units/monsters/jumping-spider-ne-defend1.png
  data/core/images/units/monsters/jumping-spider-ne-defend2.png
  data/core/units/monsters/Shadow_Jumping_Spider.cfg
Labels: Graphics, Units

small fixup to jumping spider portrait
  data/core/images/portraits/monsters/jumping-spider.webp
Labels: Graphics

fixed commandLine_opton.hpp
  doc/man/wesnothd.6
  src/commandline_options.hpp
Labels: Docs

update copyrights
  copyrights.csv
Labels: none

Check that every file in copyrights.csv has a license and author
  update_copyrights
Labels: none

1.18 Peasant animations (#8194)
  copyrights.csv
  data/core/images/units/human-peasants/peasant-attack2-n.png
  data/core/images/units/human-peasants/peasant-attack2-s.png
  data/core/images/units/human-peasants/peasant-attack3-n.png
  data/core/images/units/human-peasants/peasant-attack3-s.png
  data/core/images/units/human-peasants/peasant-die1.png
  data/core/images/units/human-peasants/peasant-die10.png
  data/core/images/units/human-peasants/peasant-die2.png
  data/core/images/units/human-peasants/peasant-die3.png
  data/core/images/units/human-peasants/peasant-die4.png
  data/core/images/units/human-peasants/peasant-die5.png
  data/core/images/units/human-peasants/peasant-die6.png
  data/core/images/units/human-peasants/peasant-die7.png
  data/core/images/units/human-peasants/peasant-die8.png
  data/core/images/units/human-peasants/peasant-die9.png
  data/core/units/humans/Peasant.cfg
Labels: Graphics, Units

Unit tests and final harm unit fix
  data/lua/wml/harm_unit.lua
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_attack.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_attack_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_attack_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_fight.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_no_attack_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_attack.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_attack_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_attack_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_defend.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_defend_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_fight.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_kill.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_no_attack_defend_kill.cfg
  wml_test_schedule
Labels: Lua API, Unit Tests

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
