Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

wiggle in rejects files for scenario files
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg.rej
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg.rej
  data/campaigns/Northern_Rebirth/scenarios/10a_Stolen_Gold.cfg.rej
Labels: Campaign

re-linearize some numerical progressions
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Campaign

Update 13a_Showdown.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Campaign

Update 13a_Showdown.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Campaign

Update 13a_Showdown.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Campaign

Fix an off-by-one in mapgen's x and y filters, and add unit tests
  data/test/scenarios/lua_map_find.cfg
  data/test/scenarios/mapgen_filter.cfg
  src/scripting/lua_terrainfilter.cpp
  wml_test_schedule
Labels: Lua API, Unit Tests

Fix an off-by-one in mapgen's x and y filters, and add unit tests
  data/test/scenarios/lua_map_find.cfg
  data/test/scenarios/mapgen_filter.cfg
  src/scripting/lua_terrainfilter.cpp
  wml_test_schedule
Labels: Lua API, Unit Tests

Re-enable WC.
  data/campaigns/World_Conquest/_main.cfg
Labels: Campaign

changelog update.
  changelog.md
Labels: none

Fix an off-by-one in mapgen's x and y filters, and add unit tests
  data/test/scenarios/lua_map_find.cfg
  data/test/scenarios/mapgen_filter.cfg
  src/scripting/lua_terrainfilter.cpp
  wml_test_schedule
Labels: Lua API, Unit Tests

Messenger MAI: fix bug of own units blocking waypoint
  changelog.md
  data/ai/micro_ais/cas/ca_messenger_move.lua
Labels: AI

Messenger MAI: fix bug of own units blocking waypoint
  changelog.md
  data/ai/micro_ais/cas/ca_messenger_move.lua
Labels: AI

Fixup WC schema validation failures.
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
  data/schema/core/addons.cfg
  data/schema/core/mapgen/lua.cfg
Labels: Campaign, Schema

Fixup WC schema validation failures.
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
  data/schema/core/addons.cfg
  data/schema/core/mapgen/lua.cfg
Labels: Campaign, Schema

1.15.17.
  Doxyfile
  changelog.md
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS

1.15.17+dev.
  Doxyfile
  changelog.md
  src/wesconfig.h
Labels: none

SotBE S13: rebalance scenario
  data/campaigns/Son_Of_The_Black_Eye/scenarios/13_The_Dwarvish_Stand.cfg
Labels: Campaign

SotBE S13: rebalance scenario
  data/campaigns/Son_Of_The_Black_Eye/scenarios/13_The_Dwarvish_Stand.cfg
Labels: Campaign

Also re-enable WC on the master branch.
  data/campaigns/World_Conquest/_main.cfg
Labels: Campaign

updated Portuguese (Brazil) translation
  po/wesnoth-did/pt_BR.po
  po/wesnoth-dw/pt_BR.po
  po/wesnoth-ei/pt_BR.po
  po/wesnoth-l/pt_BR.po
  po/wesnoth-multiplayer/pt_BR.po
  po/wesnoth-sota/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-did/pt_BR.po
  po/wesnoth-dw/pt_BR.po
  po/wesnoth-ei/pt_BR.po
  po/wesnoth-l/pt_BR.po
  po/wesnoth-multiplayer/pt_BR.po
  po/wesnoth-sota/pt_BR.po
Labels: Translations

AI: Fix assertion when trying to move to an off-map location
  src/ai/actions.cpp
  src/ai/actions.hpp
Labels: AI

Lua: Fix console pretty-print output not showing zero or negative keys in tables
  data/lua/ilua.lua
Labels: Lua API

AI: Convert the FormulaAI example scenario to do all the same things using Lua
  data/ai/lua/ca_level_up_attack.lua
  data/ai/lua/ca_simple_scouting.lua
  data/ai/lua/opening.lua
  data/ai/scenarios/scenario-lua_ai_unit_actions.cfg
Labels: AI

Lua API: Fix an error in the terrain hex API
  data/lua/core/map.lua
Labels: Lua API

Lua API: The value function is now optional in functional.choose[_map]
  data/lua/functional.lua
Labels: Lua API

AI: Support [side][ai][micro_ai]
  data/schema/ai/_main.cfg
  data/schema/ai/micro.cfg
  data/schema/core/actionwml.cfg
  src/ai/configuration.cpp
  src/ai/lua/core.cpp
  src/ai/lua/core.hpp
  src/ai/lua/engine_lua.cpp
  src/ai/lua/engine_lua.hpp
  src/ai/manager.cpp
  src/ai/manager.hpp
Labels: AI, Schema

Lua API: Add new location_set function to convert to or from a Lua map
  data/lua/location_set.lua
Labels: Lua API

Schema: Add [candidate_action][filter_own]
  data/schema/ai/stage.cfg
Labels: Schema

Lua: Add a new ai_helper debug function to print a simulate_combat HP distribution more succinctly
  data/ai/lua/ai_helper.lua
Labels: AI

Lua AI: Fix non-integer candidate evaluation scores being treated as 0
  src/ai/lua/engine_lua.cpp
Labels: AI

AI: Support [modify_side][ai][modify_ai]/[micro_ai]
  src/ai/manager.cpp
Labels: AI

AI: Support [unit][ai][micro_ai]
  data/schema/units/single.cfg
  src/units/unit.cpp
Labels: Schema, Units

AI: [micro_ai]side= can now take a list
  data/lua/wml/micro_ai.lua
Labels: Lua API

AI: Support [unit][ai][candidate_action]
  data/schema/units/single.cfg
  src/units/unit.cpp
Labels: Schema, Units

AI: Fix error in stationed_guardian
  data/ai/micro_ais/cas/ca_stationed_guardian.lua
Labels: AI

AI: Fix missing serialization code for sticky candidate actions
  src/ai/lua/engine_lua.cpp
Labels: AI

Lua API: Fix functional.map returning the wrong answer if used on a table that contains numeric keys but is not strictly an array
  data/lua/functional.lua
Labels: Lua API

Lua API: location_set:to_pairs now returns named tuples
  data/lua/location_set.lua
Labels: Lua API

AI: Add an example of using [micro_ai] in [side][ai]
  data/ai/micro_ais/scenarios/The_Elves_Besieged.cfg
Labels: AI
