Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

SoF: Missed one case where rune options are used
  data/campaigns/Sceptre_of_Fire/utils/rune-equip.cfg
Labels: Campaign

Update deprecated path options
  data/tools/unit_tree/helpers.py
  data/tools/wmlunits
Labels: WML Tools

WC: Remove the IS_ADD_ON check
  data/campaigns/World_Conquest/config.cfg
  data/campaigns/World_Conquest/era/era.cfg
  data/campaigns/World_Conquest/resources/resources.cfg
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

WC: The indentation of the generator Lua was weird
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

WC: Don't transclude macros into the Lua code
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

fix whitespace
  data/campaigns/World_Conquest/config.cfg
Labels: Campaign

WC: Missed some cases of id_suffix
  data/campaigns/World_Conquest/lua/map/main.lua
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
  data/schema/core/mapgen/lua.cfg
Labels: Campaign, Schema

WC: Fix missing commas
  data/campaigns/World_Conquest/_main.cfg
Labels: Campaign

Revert "WC: Fix missing commas"
  data/campaigns/World_Conquest/_main.cfg
Labels: Campaign

WC: Fix missing commas
  data/campaigns/World_Conquest/lua/map/main.lua
Labels: Campaign

WC: Update schema
  data/schema/core/mapgen/lua.cfg
Labels: Schema

updated Chinese (Traditional) translation
  changelog.md
  po/wesnoth-anl/zh_TW.po
  po/wesnoth-did/zh_TW.po
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-dw/zh_TW.po
  po/wesnoth-editor/zh_TW.po
  po/wesnoth-ei/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-l/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-low/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-multiplayer/zh_TW.po
  po/wesnoth-nr/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-thot/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-tutorial/zh_TW.po
  po/wesnoth-units/zh_TW.po
  po/wesnoth-utbs/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

updated Chinese (Traditional) translation
  changelog.md
  po/wesnoth-anl/zh_TW.po
  po/wesnoth-did/zh_TW.po
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-dw/zh_TW.po
  po/wesnoth-editor/zh_TW.po
  po/wesnoth-ei/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-l/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-low/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-multiplayer/zh_TW.po
  po/wesnoth-nr/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-thot/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-tutorial/zh_TW.po
  po/wesnoth-units/zh_TW.po
  po/wesnoth-utbs/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

Update deprecated path options
  data/tools/unit_tree/helpers.py
  data/tools/wmlunits
Labels: WML Tools

Update deprecated path options
  data/tools/unit_tree/helpers.py
  data/tools/wmlunits
Labels: WML Tools

WC: Fix schema
  data/schema/core/mapgen/lua.cfg
Labels: Schema

S03: Change back key in side 2 to match key in side 3
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
Labels: Campaign

WC: Fix schema validation
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

WC: Forgot to remove a testing thing
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

Fix incorrect default in wesnoth.audio.play
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

GUI2/Widget: used scoped enum for debug border states
  src/gui/core/window_builder.cpp
  src/gui/core/window_builder.hpp
  src/gui/widgets/widget.cpp
  src/gui/widgets/widget.hpp
Labels: UI

jinn ranged animations
  data/core/images/units/monsters/jinn/jinn-lightning-1.png
  data/core/images/units/monsters/jinn/jinn-lightning-2.png
  data/core/images/units/monsters/jinn/jinn-lightning-3.png
  data/core/images/units/monsters/jinn/jinn-lightning-4.png
  data/core/images/units/monsters/jinn/jinn-lightning-5.png
  data/core/images/units/monsters/jinn/jinn-wind-1.png
  data/core/images/units/monsters/jinn/jinn-wind-2.png
  data/core/images/units/monsters/jinn/jinn-wind-3.png
  data/core/images/units/monsters/jinn/jinn-wind-4.png
  data/core/images/units/monsters/jinn/jinn-wind-5.png
  data/core/images/units/monsters/jinn/jinn-wind-6.png
  data/core/images/units/monsters/jinn/jinn-wind-7.png
  data/core/images/units/monsters/jinn/jinn-wind-8.png
  data/core/images/units/monsters/jinn/jinn-wind-9.png
  data/core/units/monsters/Jinn.cfg
Labels: Graphics, Units

jinn melee attack anim
  data/core/images/units/monsters/jinn/jinn-attack-1.png
  data/core/images/units/monsters/jinn/jinn-attack-2.png
  data/core/images/units/monsters/jinn/jinn-attack-3.png
  data/core/images/units/monsters/jinn/jinn-attack-4.png
  data/core/units/monsters/Jinn.cfg
Labels: Graphics, Units

Fix some incorrect deprecation messages
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Fix some incorrect deprecation messages
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

fix some horse frames
  data/core/images/units/monsters/horse/horse-attack1.png
  data/core/images/units/monsters/horse/horse-larger+female.png
  data/core/images/units/monsters/horse/horse-larger-defend-1.png
  data/core/images/units/monsters/horse/horse-larger-defend-2.png
  data/core/images/units/monsters/horse/horse-larger.png
  data/core/images/units/monsters/horse/horse.png
Labels: Graphics, Units

various animations (#5903)
  data/core/images/units/monsters/horse/horse-attack1.png
  data/core/images/units/monsters/horse/horse-larger+female.png
  data/core/images/units/monsters/horse/horse-larger-defend-1.png
  data/core/images/units/monsters/horse/horse-larger-defend-2.png
  data/core/images/units/monsters/horse/horse-larger.png
  data/core/images/units/monsters/horse/horse.png
  data/core/images/units/monsters/jinn/jinn-attack-1.png
  data/core/images/units/monsters/jinn/jinn-attack-2.png
  data/core/images/units/monsters/jinn/jinn-attack-3.png
  data/core/images/units/monsters/jinn/jinn-attack-4.png
  data/core/images/units/monsters/jinn/jinn-lightning-1.png
  data/core/images/units/monsters/jinn/jinn-lightning-2.png
  data/core/images/units/monsters/jinn/jinn-lightning-3.png
  data/core/images/units/monsters/jinn/jinn-lightning-4.png
  data/core/images/units/monsters/jinn/jinn-lightning-5.png
  data/core/images/units/monsters/jinn/jinn-wind-1.png
  data/core/images/units/monsters/jinn/jinn-wind-2.png
  data/core/images/units/monsters/jinn/jinn-wind-3.png
  data/core/images/units/monsters/jinn/jinn-wind-4.png
  data/core/images/units/monsters/jinn/jinn-wind-5.png
  data/core/images/units/monsters/jinn/jinn-wind-6.png
  data/core/images/units/monsters/jinn/jinn-wind-7.png
  data/core/images/units/monsters/jinn/jinn-wind-8.png
  data/core/images/units/monsters/jinn/jinn-wind-9.png
  data/core/units/monsters/Jinn.cfg
Labels: Graphics, Units

Fix whitespace from 16157e286bce
  data/lua/core/sides.lua
Labels: Lua API

Fix an intermittent crash with keyboard input during the load screen
  changelog.md
  src/game_config_manager.cpp
Labels: none

Add rc file to VS+cmake configuration.
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

Add rc file to VS+cmake configuration.
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

Remove 32-bit specific flag.
  packaging/windows/SConscript
Labels: Packaging

Add rc file to VS+cmake configuration.
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

Remove 32-bit specific flag.
  packaging/windows/SConscript
Labels: Packaging

Fix an intermittent crash with keyboard input during the load screen
  changelog.md
  src/game_config_manager.cpp
Labels: none

Add deprecation wrappers for math functions removed in Lua 5.4
  data/lua/core/_initial.lua
Labels: Lua API

Cleaned up about::get_campaign_credits usage
  src/about.cpp
  src/about.hpp
  src/gui/dialogs/outro.cpp
Labels: UI

GUI2: cleaned up and improved up bind_status_label implementation
  src/gui/dialogs/editor/generator_settings.cpp
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/widgets/status_label_helper.hpp
Labels: UI

GUI2: made static map const in decode_font_style
  src/gui/widgets/helper.cpp
Labels: UI

Utils: decay both types passed to decayed_is_same
  src/utils/general.hpp
Labels: none
