Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

add 'multiply' and 'divide'
  data/schema/units/abilities.cfg
Labels: Schema

fix error in line 86
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
Labels: Unit Tests

add wmlindent in test and comment
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
  wml_test_schedule
Labels: Unit Tests

fix 'add' and 'sub' not added in leadership shema validation
  data/schema/units/abilities.cfg
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
  wml_test_schedule
Labels: Schema, Unit Tests

correction to testing
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
Labels: Unit Tests

fix 'add' and 'sub' not added in leadership shema validation(1.16) (#6325)
  data/schema/units/abilities.cfg
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
  wml_test_schedule
Labels: Schema, Unit Tests

Print which campaign is causing the extra_defines warning
  src/game_config_manager.cpp
Labels: none

Print which campaign is causing the extra_defines warning
  src/game_config_manager.cpp
Labels: none

Print which campaign is causing the extra_defines warning
  src/game_config_manager.cpp
Labels: none

updated Portuguese (Brazil) translation
  po/wesnoth-help/pt_BR.po
  po/wesnoth-units/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-help/pt_BR.po
  po/wesnoth-units/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated British English translation
  po/wesnoth-did/en_GB.po
  po/wesnoth-dw/en_GB.po
  po/wesnoth-l/en_GB.po
  po/wesnoth-nr/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-sota/en_GB.po
  po/wesnoth-utbs/en_GB.po
Labels: Translations

updated British English translation
  po/wesnoth-did/en_GB.po
  po/wesnoth-dw/en_GB.po
  po/wesnoth-l/en_GB.po
  po/wesnoth-nr/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-sota/en_GB.po
  po/wesnoth-utbs/en_GB.po
Labels: Translations

1.16 - some attack icon work (#6339)
  data/core/images/attacks/blank-border.png
  data/core/images/attacks/blowgun.png
  data/core/images/attacks/claws-shadow.png
  data/core/images/attacks/fangs-angler.png
  data/core/images/attacks/foot-bare.png
  data/core/images/attacks/foot-boot.png
  data/core/images/attacks/foot-shoe.png
  data/core/images/attacks/mace-spiked.png
  data/core/images/attacks/mace-spiked2.png
  data/core/images/attacks/mud-missile.png
  data/core/images/attacks/spear-simple.png
  data/core/images/attacks/spear-thrown.png
  data/core/images/attacks/tail-monax.png
  data/core/images/attacks/trident2-blade.png
  data/core/images/attacks/trident2-pierce.png
  data/core/images/attacks/tusk.png
  data/core/units/merfolk/Triton.cfg
  data/core/units/monsters/Giant_Mudcrawler.cfg
  data/core/units/monsters/Icemonax_Greater.cfg
  data/core/units/monsters/Mudcrawler.cfg
  data/core/units/saurians/Ambusher.cfg
  data/core/units/saurians/Flanker.cfg
  data/core/units/saurians/Skirmisher.cfg
  data/core/units/undead/Spirit_Nightgaunt.cfg
  data/core/units/undead/Spirit_Shadow.cfg
Labels: Graphics, Units

Added attack icon to the nightblade's kick
  changelog.md
  data/core/units/orcs/Nightblade.cfg
Labels: Units

make X*^Efs sconce overlay rules symmetric
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

Print which campaign is causing the extra_defines warning
  src/game_config_manager.cpp
Labels: none

different sconces for Xu-style walls (Xo-style was existing type)
  data/core/images/terrain/walls/flames/sconce/base-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/flames.png
  data/core/images/terrain/walls/flames/sconce/glow1-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/glow2-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/glow3-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask2-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask3-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/wall-post-convex-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

invalid rotations
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

1.16 - some attack icon work (#6339)
  data/core/images/attacks/blank-border.png
  data/core/images/attacks/blowgun.png
  data/core/images/attacks/claws-shadow.png
  data/core/images/attacks/fangs-angler.png
  data/core/images/attacks/foot-bare.png
  data/core/images/attacks/foot-boot.png
  data/core/images/attacks/foot-shoe.png
  data/core/images/attacks/mace-spiked.png
  data/core/images/attacks/mace-spiked2.png
  data/core/images/attacks/mud-missile.png
  data/core/images/attacks/spear-simple.png
  data/core/images/attacks/spear-thrown.png
  data/core/images/attacks/tail-monax.png
  data/core/images/attacks/trident2-blade.png
  data/core/images/attacks/trident2-pierce.png
  data/core/images/attacks/tusk.png
  data/core/units/merfolk/Triton.cfg
  data/core/units/monsters/Giant_Mudcrawler.cfg
  data/core/units/monsters/Icemonax_Greater.cfg
  data/core/units/monsters/Mudcrawler.cfg
  data/core/units/saurians/Ambusher.cfg
  data/core/units/saurians/Flanker.cfg
  data/core/units/saurians/Skirmisher.cfg
  data/core/units/undead/Spirit_Nightgaunt.cfg
  data/core/units/undead/Spirit_Shadow.cfg
Labels: Graphics, Units

Remove sdl2-config script from cmake as discussed in #6352
  CMakeLists.txt
Labels: Building, CMake

invalid rotations
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

Remove sdl2-config script from cmake as discussed in #6352
  CMakeLists.txt
Labels: Building, CMake

Fix MINGW build on Windows by splitting MSVC and WIN32
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

1.16 - some terrain graphics fixes (#6382)
  data/core/images/terrain/walls/flames/sconce/base-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/flames.png
  data/core/images/terrain/walls/flames/sconce/glow1-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/glow2-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/glow3-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask2-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask3-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/wall-post-convex-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

1.16 - some terrain graphics fixes (#6382)
  data/core/images/terrain/walls/flames/sconce/base-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/flames.png
  data/core/images/terrain/walls/flames/sconce/glow1-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/glow2-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/glow3-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask2-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask3-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/wall-post-convex-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

src/desktop/version.cpp: Fix compilation on SunOS
  src/desktop/version.cpp
Labels: none

SConstruct: need to link against socket library on SunOS
  SConstruct
Labels: Building, SCons

src/CMakeLists.txt: need to link against socket library on SunOS
  src/CMakeLists.txt
Labels: Building, CMake

SConstruct: need to link against socket library on SunOS
  SConstruct
Labels: Building, SCons

src/desktop/version.cpp: Fix compilation on SunOS
  src/desktop/version.cpp
Labels: none

src/CMakeLists.txt: need to link against socket library on SunOS
  src/CMakeLists.txt
Labels: Building, CMake

updated Czech translation
  po/wesnoth-dw/cs.po
Labels: Translations

updated Czech translation
  po/wesnoth-dw/cs.po
Labels: Translations

Remove a couple no longer needed cmake files.
  cmake/FindPackageHandleStandardArgs.cmake
  cmake/FindPackageMessage.cmake
Labels: Building, CMake

Use import target for fontconfig.
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

Alternate way to find SDL2.
  .github/workflows/ci-main.yml
  CMakeLists.txt
  cmake/FindSDL2.cmake
  cmake/FindSDL2_image.cmake
  cmake/FindSDL2_mixer.cmake
  src/CMakeLists.txt
Labels: Building, CMake

Update INSTALL.md.
  INSTALL.md
Labels: none

editor: Add "Map Screenshot" item to menu
  data/themes/editor.cfg
Labels: UI

world conquest: replace attack icon of ice-bow to something appropriate
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
