Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

add formula in Quenoth Youth advancements
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

Add size and id modifications in formulas
  src/formula/callable_objects.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Units, WFL

using number of amla to condition increase of experience to level change
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

SoF S02: Alanin has planned (unshrouded) his escape route
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign SoF

[Lua] Fix missing parentheses in rusher recruit AI
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

[Lua] Prevent divide by 0 in rushers recruit AI
  data/ai/lua/ca_recruit_rushers.lua
Labels: AI

[Lua] Fix an error reading filters in wesnoth.game_events.add
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

[LuaDoc] Fix typo
  utils/emmylua/gui.lua
Labels: none

[LuaDoc] Fix function signature for wesnoth.game_display
  utils/emmylua/wesnoth/interface.lua
Labels: none

[LuaDoc] Fix missing and incorrectly optional arguments to gui.widget.remove_items_at
  utils/emmylua/gui.lua
Labels: none

use correct name
  copyrights.csv
Labels: none

Remove unnecessary includes (#8347)
  src/config_attribute_value.cpp
  src/config_cache.hpp
  src/filesystem.cpp
  src/game_config_view.cpp
  src/gettext.cpp
  src/log.hpp
  src/random.cpp
  src/random.hpp
  src/serialization/binary_or_text.cpp
  src/serialization/binary_or_text.hpp
  src/serialization/schema/tag.hpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

Update COPYING.txt for jQuery and tablesorter
  data/tools/addon_manager/COPYING.txt
Labels: WML Tools

Update COPYING.txt for jQuery and tablesorter
  data/tools/addon_manager/COPYING.txt
Labels: WML Tools

Log instead of assert for incorrect [teleport] tags in ActionWML
  data/schema/core/actionwml.cfg
  src/game_events/action_wml.cpp
Labels: Schema

editability support in text_box
  data/schema/gui/widget_instances.cfg
  src/gui/widgets/text_box.cpp
  src/gui/widgets/text_box.hpp
Labels: Schema, UI

whitespace fix
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/text_box.hpp
Labels: UI

Avoid extra square brackets in "missing key" error dialogs
  src/gui/core/gui_definition.cpp
  src/wml_exception.cpp
  src/wml_exception.hpp
Labels: UI

not editable textbox shows different fontcolor
  data/gui/widget/text_box_default.cfg
  src/gui/widgets/text_box.cpp
Labels: UI

remove combobox
  data/gui/widget/combobox_default.cfg
  data/schema/gui/widget_definitions.cfg
  data/schema/gui/widget_instances.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/libwesnoth_widgets
  src/gui/widgets/combobox.cpp
  src/gui/widgets/combobox.hpp
Labels: Building, macOS, Schema, UI

updated Arabic translation
  po/wesnoth-did/ar.po
  po/wesnoth-wof/ar.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-ei/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-wof/cs.po
Labels: Translations

updated French translation
  po/wesnoth-lib/fr.po
Labels: Translations

Konrad on a sand hex ends the scenario
  data/campaigns/Heir_To_The_Throne/scenarios/11_The_Ford_of_Abez.cfg
Labels: Campaign HttT

Map adjustment
  data/campaigns/Heir_To_The_Throne/maps/11_The_Ford_of_Abez.map
Labels: Campaign HttT

to_bool default value
  src/gui/widgets/text_box.cpp
Labels: UI

move editability to another branch
  src/gui/widgets/text_box.cpp
  src/gui/widgets/text_box.hpp
Labels: UI

Update copyrights.csv
  copyrights.csv
Labels: none

_
  copyrights.csv
Labels: none

Add a composite hero/leader ellipse, closes #8011 closes #6258 (#8375)
  copyrights.csv
  images/misc/ellipse-hero-leader-bottom.png
  images/misc/ellipse-hero-leader-nozoc-bottom.png
  images/misc/ellipse-hero-leader-nozoc-selected-bottom.png
  images/misc/ellipse-hero-leader-nozoc-selected-top.png
  images/misc/ellipse-hero-leader-nozoc-top.png
  images/misc/ellipse-hero-leader-selected-bottom.png
  images/misc/ellipse-hero-leader-selected-top.png
  images/misc/ellipse-hero-leader-top.png
Labels: Graphics

[dev] Remove unnecessary includes
  src/achievements.cpp
  src/achievements.hpp
  src/actions/advancement.cpp
  src/actions/advancement.hpp
  src/actions/attack.cpp
  src/actions/attack.hpp
  src/actions/create.cpp
  src/actions/move.cpp
  src/actions/move.hpp
  src/actions/shroud_clearing_action.cpp
  src/actions/undo.cpp
  src/actions/undo_action.hpp
  src/config_attribute_value.hpp
  src/filesystem_common.cpp
  src/gui/widgets/addon_list.cpp
  src/gui/widgets/addon_list.hpp
  src/gui/widgets/button.cpp
  src/gui/widgets/button.hpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
  src/gui/widgets/drawing.cpp
  src/gui/widgets/drawing.hpp
  src/gui/widgets/horizontal_scrollbar.cpp
  src/gui/widgets/horizontal_scrollbar.hpp
  src/gui/widgets/image.cpp
  src/gui/widgets/label.cpp
  src/gui/widgets/label.hpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/listbox.hpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/menu_button.hpp
  src/log.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
  src/sdl/window.cpp
  src/wesnoth.cpp
Labels: Achievements, UI

scrollbar code improvement and cleanup
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
Labels: UI

Removing auto-generated text from en@shaw translation
  po/wesnoth-tools/en@shaw.po
Labels: Translations

EI S04b: Fix Hahid's name having a trailing comma
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Campaign EI

Add CMake and SCons options to use system Lua 5.4 C++
  CMakeLists.txt
  SConstruct
  changelog_entries/system_lua.md
  scons/lua.py
  src/CMakeLists.txt
  src/SConscript
  src/lua/wrapper_lauxlib.h
  src/lua/wrapper_lua.h
  src/lua/wrapper_lualib.h
  src/modules/lua_README.md
  src/wesnoth_lua_config.h
  src/wesnoth_lua_config.md
Labels: Building, CMake, SCons

Test CMake's system Lua option in Docker CI
  .github/workflows/ci-main.yml
  .github/workflows/codeql.yml
Labels: none

Fix enemy spawning event not triggering when turns end (#8376)
  data/campaigns/Eastern_Invasion/scenarios/06a_Undead_Crossing.cfg
Labels: Campaign EI

EI: fix Terraent standing animation, and update stats to match mainline
  data/campaigns/Eastern_Invasion/units/Human_Terraent_Paladin.cfg
Labels: Campaign EI, Units

EI S04b: Fix Hahid's name having a trailing comma
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Campaign EI

remove leftover editable property
  data/gui/widget/text_box_default.cfg
Labels: UI
