Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

TRoW: added hint about Burin the Lost
  data/campaigns/The_Rise_Of_Wesnoth/images/scenery/logs.png
  data/campaigns/The_Rise_Of_Wesnoth/maps/03_A_Harrowing_Escape.map
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/03_A_Harrowing_Escape.cfg
Labels: Campaign

Add other versions of Wesnoth to the Load Game dialog
  changelog.md
  data/gui/window/game_load.cfg
  src/filesystem.cpp
  src/filesystem.hpp
  src/game_launcher.cpp
  src/gui/dialogs/game_load.cpp
  src/gui/dialogs/game_load.hpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/hotkey/hotkey_handler.cpp
  src/hotkey/hotkey_handler_sp.cpp
  src/play_controller.cpp
  src/save_index.cpp
  src/save_index.hpp
  src/savegame.cpp
  src/savegame.hpp
  src/tests/gui/test_gui2.cpp
Labels: UI

TRoW S04a: Update some text because the Oldwood is east of the swamp
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/04a_The_Swamp_of_Esten.cfg
Labels: Campaign

UtBS S5: tweak dialogue
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign

UtBS S5: tweak dialogue
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign

Add core button removal to changelog.
  changelog.md
Labels: none

Properly delegate Core dialog to hotkey-only
  src/gui/dialogs/title_screen.cpp
Labels: UI

Campaign filtering begone!
  data/gui/window/campaign_dialog.cfg
  src/gui/dialogs/campaign_selection.cpp
  src/gui/dialogs/campaign_selection.hpp
Labels: UI

Campaign Selection: removed "sort by" text
  data/gui/window/campaign_dialog.cfg
Labels: UI

DiD: add another orcish flag image
  data/campaigns/Descent_Into_Darkness/images/scenery/orcish-flag-flat2.png
Labels: Campaign

Pathfinder: increase hitpoints
  data/core/units/dwarves/Pathfinder.cfg
Labels: Units

Thunderguard: increase hitpoints
  data/core/units/dwarves/Thunderguard.cfg
Labels: Units

Stalward/Sentinel: increase melee damage
  data/core/units/dwarves/Sentinel.cfg
  data/core/units/dwarves/Stalwart.cfg
Labels: Units

Clarify changelog entry.
  changelog.md
Labels: none

Steelclad/Lord: adjust stats again
  data/core/units/dwarves/Lord.cfg
  data/core/units/dwarves/Steelclad.cfg
Labels: Units

Replace the [tutorial] tag with [scenario]
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
  data/schema/core/addons.cfg
  src/game_classification.cpp
Labels: Campaign, Schema

Fix the add_completed_campaign() call for the tutorial
  src/game_launcher.cpp
Labels: none

Dunefolk - revisions to some base frame images
  data/core/images/units/dunefolk/apothecary.png
  data/core/images/units/dunefolk/burner+female.png
  data/core/images/units/dunefolk/burner.png
  data/core/images/units/dunefolk/harrier.png
  data/core/images/units/dunefolk/luminary.png
  data/core/images/units/dunefolk/skirmisher.png
  data/core/images/units/dunefolk/strider.png
  data/core/images/units/dunefolk/warmaster.png
Labels: Graphics, Units

Dunefolk - revisions to some base frame images
  data/core/images/units/dunefolk/apothecary.png
  data/core/images/units/dunefolk/burner+female.png
  data/core/images/units/dunefolk/burner.png
  data/core/images/units/dunefolk/harrier.png
  data/core/images/units/dunefolk/luminary.png
  data/core/images/units/dunefolk/skirmisher.png
  data/core/images/units/dunefolk/strider.png
  data/core/images/units/dunefolk/warmaster.png
Labels: Graphics, Units

Fix the add_completed_campaign() call for the tutorial
  src/game_launcher.cpp
Labels: none

DiD S3: revamp scenario
  data/campaigns/Descent_Into_Darkness/images/misc/potion-poison-icon.png
  data/campaigns/Descent_Into_Darkness/maps/03_A_Haunting_in_Winter.map
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/utils/traits.cfg
Labels: Campaign

Add DiD update to changelog
  changelog.md
Labels: none

Removed Classic theme
  changelog.md
  data/themes/classic.cfg
Labels: UI

Replace the [tutorial] tag with [scenario]
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
  data/schema/core/addons.cfg
  src/game_classification.cpp
Labels: Campaign, Schema

Move tool-tips to below-right
  data/gui/window/tooltip_floating.cfg
Labels: UI

GUI2/Text Box: UI tweaks suggested by shadowm
  data/gui/widget/text_box_default.cfg
Labels: UI

Campaign Selection: made window bigger
  data/gui/window/campaign_dialog.cfg
Labels: UI

Game Load: cleaned up saves dir dropdown setup
  src/gui/dialogs/game_load.cpp
Labels: UI

Revert "Campaign filtering begone!"
  data/gui/window/campaign_dialog.cfg
  src/gui/dialogs/campaign_selection.cpp
  src/gui/dialogs/campaign_selection.hpp
Labels: UI

Tighten up the loading screen positioning a bit
  data/gui/window/loadscreen.cfg
Labels: UI

Forgot to actually remove the Core button from WML...
  data/gui/window/title_screen.cfg
Labels: UI

TRoW: Fixed Haldric's defense animations
  data/campaigns/The_Rise_Of_Wesnoth/units/Noble_Commander.cfg
  data/campaigns/The_Rise_Of_Wesnoth/units/Noble_Lord.cfg
Labels: Campaign

DiD S7: add some easter eggs
  data/campaigns/Descent_Into_Darkness/scenarios/07_A_Small_Favor.cfg
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
Labels: Campaign

wmllint: don't add description to [attack] tags within [filter_wml]
  data/tools/wmllint
Labels: WML Tools

Move tool-tips to below-right
  data/gui/window/tooltip_floating.cfg
Labels: UI

Fix compile error with mariadb's c connector lib
  src/server/mysql_prepared_statement.ipp
Labels: Services

DiD S3: strengthen regret motif
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
Labels: Campaign

DiD S7: update dialogue and minor tweaks
  data/campaigns/Descent_Into_Darkness/scenarios/07_A_Small_Favor.cfg
Labels: Campaign

DiD S8: small tweaks
  data/campaigns/Descent_Into_Darkness/scenarios/08_A_Small_Favor2.cfg
Labels: Campaign

DiD: Remove the definition of TURN_INTO_A_LICH
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign
