Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Slight optimisation of canvas::set_variables using std::move
  src/formula/callable.hpp
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
Labels: UI, WFL

Reduce stymphalian level 2->1
  data/campaigns/Winds_of_Fate/units/Stymphalian.cfg
Labels: Campaign, Units

S04: Voice objective as drake
  data/campaigns/Winds_of_Fate/scenarios/04_Islands.cfg
Labels: Campaign

S01: Up required harvest to 15->20
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
Labels: Campaign

S02: Make ai ally more predictable
  data/campaigns/Winds_of_Fate/scenarios/02_The_Raid.cfg
Labels: Campaign

S03: Increase opponent dynamics
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
Labels: Campaign

S05: Sparser but tougher wildlife
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
Labels: Campaign

S04: Add missing " ) "
  data/campaigns/Winds_of_Fate/scenarios/04_Islands.cfg
Labels: Campaign

Fix assert with custom synced AI commands
  src/ai/actions.cpp
Labels: AI

Add option to pre-populate wesnothd's user list with dummy users.
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: MP

Fix assert with custom synced AI commands
  src/ai/actions.cpp
Labels: AI

WIP: Split styled_widget::update_canvas into ..._size
  src/gui/widgets/label.cpp
  src/gui/widgets/scrollbar.cpp
  src/gui/widgets/scrollbar.hpp
  src/gui/widgets/slider.cpp
  src/gui/widgets/slider_base.cpp
  src/gui/widgets/slider_base.hpp
  src/gui/widgets/styled_widget.cpp
  src/gui/widgets/styled_widget.hpp
  src/gui/widgets/text_box.cpp
  src/gui/widgets/text_box.hpp
  src/gui/widgets/toggle_button.cpp
Labels: UI

Add option to pre-populate wesnothd's user list with dummy users.
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: MP

Minimum boost version is 1.66.
  src/server/wesnothd/server.cpp
Labels: MP

Fix bug in AI state loading that could cause an error when the AI is initialized from a saved game
  src/ai/lua/core.cpp
Labels: AI

S06: Fix drake newline deviation
  data/campaigns/Winds_of_Fate/scenarios/06_Elensefar.cfg
Labels: Campaign

S05x: Fix drake newline deviation
  data/campaigns/Winds_of_Fate/scenarios/05x_Unexpected_Arrival.cfg
Labels: Campaign

S07: More gold for enemies
  data/campaigns/Winds_of_Fate/scenarios/07_Wesmere.cfg
Labels: Campaign

S09: Note winter time schedule
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
Labels: Campaign

S09: Sparser but tougher wildlife
  data/campaigns/Winds_of_Fate/scenarios/09_Heart_Mountains.cfg
Labels: Campaign

S10: Reduce enemy wave gold
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
Labels: Campaign

S05: Stop prey taking drake villages
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
Labels: Campaign

S05: Adjust spawner
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
Labels: Campaign

Reduce Stymphalian cost 40->22
  data/campaigns/Winds_of_Fate/units/Stymphalian.cfg
Labels: Campaign, Units

S05: Fix grammar
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
Labels: Campaign

Use correct type for SQL case-selected value.
  src/server/common/resultsets/ban_check.cpp
Labels: Add-ons, MP

Fix mapgen Lua kernel using the wrong random function
  src/scripting/mapgen_lua_kernel.cpp
Labels: Lua API

Fix wesnoth.scenario deferring to wesnoth.game_config
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

updated British English translation
  po/wesnoth-help/en_GB.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-anl/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-editor/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-test/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-tsg/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  po/wesnoth-ai/cs.po
  po/wesnoth-anl/cs.po
  po/wesnoth-aoi/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-editor/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-test/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-tsg/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Indonesian translation
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth/id.po
Labels: Translations

updated Indonesian translation
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth/id.po
Labels: Translations

Balance changes for 1.15.14
  data/core/units/monsters/Fire_Guardian.cfg
  data/core/units/monsters/Fire_Wraith.cfg
  data/core/units/monsters/Horse.cfg
  data/core/units/monsters/Horse_Black.cfg
  data/core/units/monsters/Horse_Great.cfg
  data/core/units/monsters/Jinn.cfg
Labels: Units

move UtBS mace nagas to core
  data/core/images/units/nagas/guardian-attack-1.png
  data/core/images/units/nagas/guardian-attack-2.png
  data/core/images/units/nagas/guardian-attack-3.png
  data/core/images/units/nagas/guardian-attack-4.png
  data/core/images/units/nagas/guardian-defend-1.png
  data/core/images/units/nagas/guardian-defend-2.png
  data/core/images/units/nagas/guardian.png
  data/core/images/units/nagas/sentinel-attack-1.png
  data/core/images/units/nagas/sentinel-attack-2.png
  data/core/images/units/nagas/sentinel-attack-3.png
  data/core/images/units/nagas/sentinel-attack-4.png
  data/core/images/units/nagas/sentinel-defend-1.png
  data/core/images/units/nagas/sentinel-defend-2.png
  data/core/images/units/nagas/sentinel.png
  data/core/images/units/nagas/warden-attack-1.png
  data/core/images/units/nagas/warden-attack-2.png
  data/core/images/units/nagas/warden-attack-3.png
  data/core/images/units/nagas/warden-attack-4.png
  data/core/images/units/nagas/warden-defend-1.png
  data/core/images/units/nagas/warden-defend-2.png
  data/core/images/units/nagas/warden.png
  data/core/units/nagas/Guardian.cfg
  data/core/units/nagas/Guardian_Sentinel.cfg
  data/core/units/nagas/Guardian_Warden.cfg
Labels: Graphics, Units

adding mace naga portraits from LordBob
  data/core/images/portraits/nagas/naga-mace_warrior1.png
  data/core/images/portraits/nagas/naga-mace_warrior2.png
  data/core/images/portraits/nagas/naga-mace_warrior3.png
Labels: Graphics

move naga hunter portrait to UtBS from core
  data/campaigns/Under_the_Burning_Suns/images/portraits/nagas/naga-hunter.png
Labels: Campaign, Graphics

de-bow-ify the ophidian nagas
  data/core/images/units/nagas/ophidian.png
  data/core/images/units/nagas/sicarius.png
  data/core/units/nagas/Ophidian.cfg
  data/core/units/nagas/Sicarius.cfg
Labels: Graphics, Units

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-ei/pt_BR.po
Labels: Translations

Tutorial S02 and tips: Mention holding shift for accelerated speed
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
  data/tips.cfg
Labels: Campaign, Help

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
