Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

updated French translation
  changelog.md
  po/wesnoth-multiplayer/fr.po
Labels: Translations

review comments.
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_negative_min_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_value_deep.cfg
Labels: Unit Tests

review comments.
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_negative_min_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_no_max_value.cfg
Labels: Unit Tests

Modify shema validation for more consistency
  data/schema/units/abilities.cfg
Labels: Schema

wooden-frame, non-village windmill
  data/core/images/terrain/misc/decorative/windmill-01.png
  data/core/images/terrain/misc/decorative/windmill-02.png
  data/core/images/terrain/misc/decorative/windmill-03.png
  data/core/images/terrain/misc/decorative/windmill-04.png
  data/core/images/terrain/misc/decorative/windmill-05.png
  data/core/images/terrain/misc/decorative/windmill-06.png
  data/core/images/terrain/misc/decorative/windmill-07.png
  data/core/images/terrain/misc/decorative/windmill-08.png
  data/core/images/terrain/misc/decorative/windmill-09.png
  data/core/images/terrain/misc/decorative/windmill-10.png
  data/core/images/terrain/misc/decorative/windmill-11.png
  data/core/images/terrain/misc/decorative/windmill-12.png
  data/core/images/terrain/misc/decorative/windmill-13.png
  data/core/images/terrain/misc/decorative/windmill-14.png
  data/core/images/terrain/misc/decorative/windmill-15.png
  data/core/images/terrain/misc/decorative/windmill-16.png
  data/core/images/terrain/misc/decorative/windmill-17.png
  data/core/images/terrain/misc/decorative/windmill-18.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

Removed unused variable
  src/preferences/general.cpp
Labels: none

Fix Lua errors when checking abilities #7890
  data/ai/lua/ca_recruit_rushers.lua
  data/ai/lua/generic_recruit_engine.lua
  data/ai/lua/retreat.lua
  data/ai/micro_ais/cas/ca_fast_attack_utils.lua
Labels: AI

some update to wooden windmill animations
  data/core/images/terrain/misc/decorative/windmill-01.png
  data/core/images/terrain/misc/decorative/windmill-02.png
  data/core/images/terrain/misc/decorative/windmill-03.png
  data/core/images/terrain/misc/decorative/windmill-04.png
  data/core/images/terrain/misc/decorative/windmill-05.png
  data/core/images/terrain/misc/decorative/windmill-06.png
  data/core/images/terrain/misc/decorative/windmill-07.png
  data/core/images/terrain/misc/decorative/windmill-08.png
  data/core/images/terrain/misc/decorative/windmill-09.png
  data/core/images/terrain/misc/decorative/windmill-10.png
  data/core/images/terrain/misc/decorative/windmill-11.png
  data/core/images/terrain/misc/decorative/windmill-12.png
  data/core/images/terrain/misc/decorative/windmill-13.png
  data/core/images/terrain/misc/decorative/windmill-14.png
  data/core/images/terrain/misc/decorative/windmill-15.png
  data/core/images/terrain/misc/decorative/windmill-16.png
  data/core/images/terrain/misc/decorative/windmill-17.png
  data/core/images/terrain/misc/decorative/windmill-18.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

derelict wooden windmill scenery image
  data/core/images/scenery/windmill-derelict.png
Labels: Graphics

update copyrights.csv
  copyrights.csv
Labels: none

units: skeleton rider tree deep water patch (#8142)
  data/core/units/undead/Skele_Bone_Knight.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Units

Fix outdated comment
  src/saved_game.cpp
Labels: none

f prev
  src/units/unit.cpp
Labels: Units

changelog_entries.
  changelog.md
  changelog_entries/crash_inspect_page.md
Labels: none

1.16.11
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS, WML Tools

1.16.11+dev
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  src/wesconfig.h
Labels: WML Tools

Update changelog.md
  changelog.md
Labels: none

wmllint: warn about [filter] in [kill] tags
  changelog.md
  data/tools/wmllint
Labels: WML Tools

Fix horizontal scrolling regression (fixes #7404) (#8137)
  src/controller_base.cpp
  src/mouse_handler_base.cpp
Labels: none

add some more abilities tests
  data/test/_main.cfg
  data/test/macros/start_position_common_keep_a_b.cfg
  data/test/macros/unit_setup.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/hides/hides_nobody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/hides/hides_self.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/skirmisher/no_skirmisher.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/skirmisher/skirmisher.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/skirmisher/skirmisher_adjacent.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/skirmisher/skirmisher_adjacent_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport.cfg
  wml_test_schedule
Labels: Unit Tests

No more xbrz in help pages
  src/help/help_topic_generators.cpp
Labels: Help

revise skeleton rider sprite
  data/core/images/units/undead-skeletal/rider-attack1.png
  data/core/images/units/undead-skeletal/rider-attack2.png
  data/core/images/units/undead-skeletal/rider-attack3.png
  data/core/images/units/undead-skeletal/rider-attack4.png
  data/core/images/units/undead-skeletal/rider-attack5.png
  data/core/images/units/undead-skeletal/rider-bob1.png
  data/core/images/units/undead-skeletal/rider-bob2.png
  data/core/images/units/undead-skeletal/rider-bob3.png
  data/core/images/units/undead-skeletal/rider-bob4.png
  data/core/images/units/undead-skeletal/rider-bob5.png
  data/core/images/units/undead-skeletal/rider-bob6.png
  data/core/images/units/undead-skeletal/rider-bob7.png
  data/core/images/units/undead-skeletal/rider-bob8.png
  data/core/images/units/undead-skeletal/rider-defend.png
  data/core/images/units/undead-skeletal/rider-defend2.png
  data/core/images/units/undead-skeletal/rider-hi.png
  data/core/images/units/undead-skeletal/rider-lo.png
  data/core/images/units/undead-skeletal/rider-lo2.png
  data/core/images/units/undead-skeletal/rider.png
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Graphics, Units

update copyrights.csv
  copyrights.csv
Labels: none

some update to wooden windmill animations
  data/core/images/terrain/misc/decorative/windmill-01.png
  data/core/images/terrain/misc/decorative/windmill-02.png
  data/core/images/terrain/misc/decorative/windmill-03.png
  data/core/images/terrain/misc/decorative/windmill-04.png
  data/core/images/terrain/misc/decorative/windmill-05.png
  data/core/images/terrain/misc/decorative/windmill-06.png
  data/core/images/terrain/misc/decorative/windmill-07.png
  data/core/images/terrain/misc/decorative/windmill-08.png
  data/core/images/terrain/misc/decorative/windmill-09.png
  data/core/images/terrain/misc/decorative/windmill-10.png
  data/core/images/terrain/misc/decorative/windmill-11.png
  data/core/images/terrain/misc/decorative/windmill-12.png
  data/core/images/terrain/misc/decorative/windmill-13.png
  data/core/images/terrain/misc/decorative/windmill-14.png
  data/core/images/terrain/misc/decorative/windmill-15.png
  data/core/images/terrain/misc/decorative/windmill-16.png
  data/core/images/terrain/misc/decorative/windmill-17.png
  data/core/images/terrain/misc/decorative/windmill-18.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

wooden-frame, non-village windmill
  data/core/images/terrain/misc/decorative/windmill-01.png
  data/core/images/terrain/misc/decorative/windmill-02.png
  data/core/images/terrain/misc/decorative/windmill-03.png
  data/core/images/terrain/misc/decorative/windmill-04.png
  data/core/images/terrain/misc/decorative/windmill-05.png
  data/core/images/terrain/misc/decorative/windmill-06.png
  data/core/images/terrain/misc/decorative/windmill-07.png
  data/core/images/terrain/misc/decorative/windmill-08.png
  data/core/images/terrain/misc/decorative/windmill-09.png
  data/core/images/terrain/misc/decorative/windmill-10.png
  data/core/images/terrain/misc/decorative/windmill-11.png
  data/core/images/terrain/misc/decorative/windmill-12.png
  data/core/images/terrain/misc/decorative/windmill-13.png
  data/core/images/terrain/misc/decorative/windmill-14.png
  data/core/images/terrain/misc/decorative/windmill-15.png
  data/core/images/terrain/misc/decorative/windmill-16.png
  data/core/images/terrain/misc/decorative/windmill-17.png
  data/core/images/terrain/misc/decorative/windmill-18.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

derelict wooden windmill scenery image
  data/core/images/scenery/windmill-derelict.png
Labels: Graphics

MP Create Game: increased padding in tab bar
  data/gui/window/mp_create_game.cfg
Labels: UI

GUI2/Button: added a download button definition
  data/gui/widget/button_25x25.cfg
Labels: UI

MP Match History: refined design
  data/gui/window/mp_match_history.cfg
  src/gui/dialogs/multiplayer/match_history.cpp
Labels: UI

copy libssp-0.dll from arch because msys2 doesn't provide it anymore
  utils/dockerbuilds/mingw/Dockerfile
Labels: none

Add define for int64_t. Seems to be needed on msys2 mingw
  src/log.hpp
Labels: none

Update 04b_Ill_Humors.cfg
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Campaign EI

Update 04b_Ill_Humors.cfg
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Campaign EI

Check that copyrights.csv is sorted by filename
  copyrights.csv
  update_copyrights
Labels: none

Removed last usecase of XBRZ
  src/scripting/lua_unit.cpp
Labels: Lua API

MP Match History: disable enter exiting
  src/gui/dialogs/multiplayer/match_history.cpp
Labels: UI

MP Lobby: increased padding in tab bar
  data/gui/window/lobby_main.cfg
Labels: UI

MP Match History: display an em dash if a data field is empty
  src/gui/dialogs/multiplayer/match_history.cpp
Labels: UI

u.abilities -> u.ability_ids
  src/formula/callable_objects.cpp
  src/scripting/lua_unit.cpp
  src/scripting/lua_unit_type.cpp
Labels: Lua API, WFL

f prev
  data/ai/formula/poisoner_eval.fai
Labels: AI

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
