Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Unit tests: make separate files for each starting position
  data/test/macros/start_position_common_keep_a_b_c_d.cfg
  data/test/macros/start_position_generic.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/firststrike_and_laststrike.cfg
Labels: Unit Tests

Add pixel scale preference option.
  data/gui/window/preferences/03_display.cfg
  src/gui/dialogs/preferences_dialog.cpp
  src/preferences/general.cpp
  src/preferences/general.hpp
Labels: UI

Fix remaining input issues with scaled display.
  source_lists/wesnoth
  src/controller_base.cpp
  src/editor/controller/editor_controller.cpp
  src/editor/toolkit/editor_toolkit.cpp
  src/gui/core/event/distributor.cpp
  src/gui/widgets/helper.cpp
  src/gui/widgets/window.cpp
  src/help/help_browser.cpp
  src/help/help_menu.cpp
  src/hotkey/command_executor.cpp
  src/mouse_events.cpp
  src/mouse_handler_base.cpp
  src/scripting/lua_gui2.cpp
  src/sdl/input.cpp
  src/sdl/input.hpp
  src/sdl/window.cpp
  src/show_dialog.cpp
  src/video.cpp
  src/widgets/scrollarea.cpp
  src/widgets/scrollbar.cpp
  src/widgets/textbox.cpp
Labels: Building, Editor, Help, Lua API, UI

Implement automatic pixel scale and enable it by default.
  src/gui/dialogs/preferences_dialog.cpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/video.cpp
Labels: UI

Update pixel scale in real-time from prefs dialog.
  src/events.cpp
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/handler.cpp
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/preferences_dialog.hpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/video.cpp
  src/video.hpp
Labels: UI

Initial indirect rendering prototype.
  src/build_info.cpp
  src/controller_base.cpp
  src/display.cpp
  src/display.hpp
  src/events.cpp
  src/floating_label.cpp
  src/font/sdl_ttf_compat.cpp
  src/gui/core/canvas.cpp
  src/gui/core/event/handler.cpp
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/title_screen.cpp
  src/gui/widgets/settings.cpp
  src/gui/widgets/window.cpp
  src/help/help.cpp
  src/help/help_text_area.cpp
  src/sdl/surface.cpp
  src/sdl/window.cpp
  src/sdl/window.hpp
  src/show_dialog.cpp
  src/tooltips.cpp
  src/video.cpp
  src/video.hpp
  src/widgets/button.cpp
  src/widgets/menu.cpp
  src/widgets/scrollarea.cpp
  src/widgets/textbox.cpp
  src/widgets/widget.cpp
Labels: Help, UI

Change hardcoded '/' for a flag
  src/chat_command_handler.hpp
  src/map_command_handler.hpp
  src/menu_events.cpp
Labels: none

Consistency across all help messages
  src/map_command_handler.hpp
Labels: none

indentation
  src/map_command_handler.hpp
Labels: none

Unit tests for [drains], [poison] and [slow], with apply_to=opponent
  data/test/macros/start_position_common_keep_a_b.cfg
  data/test/maps/2p_single_castle.map
  data/test/scenarios/reflexive_drains.cfg
  data/test/scenarios/reflexive_poison.cfg
  data/test/scenarios/reflexive_slow.cfg
  wml_test_schedule
Labels: Unit Tests

Unit tests for [drains], [poison] and [slow], with apply_to=opponent
  data/test/macros/start_position_common_keep_a_b.cfg
  data/test/maps/2p_single_castle.map
  data/test/scenarios/reflexive_drains.cfg
  data/test/scenarios/reflexive_poison.cfg
  data/test/scenarios/reflexive_slow.cfg
  wml_test_schedule
Labels: Unit Tests

documentation
  src/map_command_handler.hpp
Labels: none

Remove warning about leaking drawing surface.
  src/video.cpp
Labels: none

Update Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Add debug for "[event] is missing name or id"
  src/game_events/manager_impl.cpp
Labels: none

Add debug for "[event] is missing name or id"
  src/game_events/manager_impl.cpp
Labels: none

SoF S9: Allow for Gryphon Riders to trigger an event on the final runic tablet, and add translator hint
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Update docker images to Ubuntu 22.04.
  utils/dockerbuilds/CI/Dockerfile-base-2204-master
  utils/dockerbuilds/CI/Dockerfile-base-flatpak
Labels: none

SoF S9: Allow for Gryphon Riders to trigger an event on the final runic tablet, and add translator hint
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Update docker images to Ubuntu 22.04.
  utils/dockerbuilds/CI/Dockerfile-base-2204-master
  utils/dockerbuilds/CI/Dockerfile-base-flatpak
Labels: none

Update change log.
  changelog.md
Labels: none

SoF S9: Allow for Gryphon Riders to trigger an event on the final runic tablet, and add translator hint
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Update change log.
  changelog.md
Labels: none

SoF S09: A few extra translation hints
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Adjust get_dpi_scale_factor() for pixel scale.
  src/gui/widgets/settings.cpp
  src/video.cpp
Labels: UI

SoF S05: po hint that "it" is a gryphon
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
Labels: Campaign

SoF S02: fix-up a typo in a po hint
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign

updated Chinese (Simplified) translation
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth-anl/zh_CN.po
  po/wesnoth-did/zh_CN.po
  po/wesnoth-dm/zh_CN.po
  po/wesnoth-dw/zh_CN.po
  po/wesnoth-editor/zh_CN.po
  po/wesnoth-ei/zh_CN.po
  po/wesnoth-help/zh_CN.po
  po/wesnoth-httt/zh_CN.po
  po/wesnoth-l/zh_CN.po
  po/wesnoth-lib/zh_CN.po
  po/wesnoth-low/zh_CN.po
  po/wesnoth-manpages/zh_CN.po
  po/wesnoth-manual/zh_CN.po
  po/wesnoth-multiplayer/zh_CN.po
  po/wesnoth-nr/zh_CN.po
  po/wesnoth-sof/zh_CN.po
  po/wesnoth-sota/zh_CN.po
  po/wesnoth-sotbe/zh_CN.po
  po/wesnoth-tb/zh_CN.po
  po/wesnoth-thot/zh_CN.po
  po/wesnoth-trow/zh_CN.po
  po/wesnoth-tsg/zh_CN.po
  po/wesnoth-tutorial/zh_CN.po
  po/wesnoth-units/zh_CN.po
  po/wesnoth-utbs/zh_CN.po
  po/wesnoth-wc/zh_CN.po
  po/wesnoth/zh_CN.po
Labels: Translations

updated Chinese (Simplified) translation
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth-anl/zh_CN.po
  po/wesnoth-did/zh_CN.po
  po/wesnoth-dm/zh_CN.po
  po/wesnoth-dw/zh_CN.po
  po/wesnoth-editor/zh_CN.po
  po/wesnoth-ei/zh_CN.po
  po/wesnoth-help/zh_CN.po
  po/wesnoth-httt/zh_CN.po
  po/wesnoth-l/zh_CN.po
  po/wesnoth-lib/zh_CN.po
  po/wesnoth-low/zh_CN.po
  po/wesnoth-manpages/zh_CN.po
  po/wesnoth-manual/zh_CN.po
  po/wesnoth-multiplayer/zh_CN.po
  po/wesnoth-nr/zh_CN.po
  po/wesnoth-sof/zh_CN.po
  po/wesnoth-sota/zh_CN.po
  po/wesnoth-sotbe/zh_CN.po
  po/wesnoth-tb/zh_CN.po
  po/wesnoth-thot/zh_CN.po
  po/wesnoth-trow/zh_CN.po
  po/wesnoth-tsg/zh_CN.po
  po/wesnoth-tutorial/zh_CN.po
  po/wesnoth-units/zh_CN.po
  po/wesnoth-utbs/zh_CN.po
  po/wesnoth-wc/zh_CN.po
  po/wesnoth/zh_CN.po
Labels: Translations

updated British English translation
  changelog.md
  po/wesnoth-lib/en_GB.po
  po/wesnoth-nr/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

updated French translation
  changelog.md
  po/wesnoth-editor/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-manual/fr.po
  po/wesnoth-multiplayer/fr.po
  po/wesnoth-wc/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated French translation
  po/wesnoth-editor/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-manual/fr.po
  po/wesnoth-multiplayer/fr.po
  po/wesnoth-wc/fr.po
  po/wesnoth/fr.po
Labels: Translations

SoF: A few extra translation hints (#6633)
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Partial pot-update: trivial changes only
  po/wesnoth-help/wesnoth-help.pot
  po/wesnoth-httt/wesnoth-httt.pot
  po/wesnoth-sof/wesnoth-sof.pot
  po/wesnoth-sotbe/wesnoth-sotbe.pot
Labels: Translations

SoF: A few extra translation hints
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

finish snowy stone bridge
  data/core/images/terrain/bridge/snow/stonebridge-ground-s-n.png
  data/core/images/terrain/bridge/snow/stonebridge-ground-se-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-ground-sw-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-n-s-tile.png
  data/core/images/terrain/bridge/snow/stonebridge-n.png
  data/core/images/terrain/bridge/snow/stonebridge-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-s-n.png
  data/core/images/terrain/bridge/snow/stonebridge-s.png
  data/core/images/terrain/bridge/snow/stonebridge-se-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-se.png
  data/core/images/terrain/bridge/snow/stonebridge-short-n.png
  data/core/images/terrain/bridge/snow/stonebridge-short-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-short-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-short-s.png
  data/core/images/terrain/bridge/snow/stonebridge-short-se.png
  data/core/images/terrain/bridge/snow/stonebridge-short-sw.png
  data/core/images/terrain/bridge/snow/stonebridge-sw-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-sw.png
  data/core/images/terrain/bridge/snow/stonebridge-water-n.png
  data/core/images/terrain/bridge/snow/stonebridge-water-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-water-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-water-s.png
  data/core/images/terrain/bridge/snow/stonebridge-water-se.png
  data/core/images/terrain/bridge/snow/stonebridge-water-sw.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/enduring-bridge.cfg
Labels: Graphics, Terrain

some image cleanup
  data/core/images/terrain/bridge/snow/stonebridge-n-s.png
  data/core/images/terrain/flat/road-desert-tile.png
Labels: Graphics, Terrain

fixing some bugs introduced by #6606
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-internal-tracks.cfg
Labels: Terrain

ran wmlindent
  data/core/terrain-graphics/new-internal-tracks.cfg
Labels: Terrain

Potential fix for segfault while loading campaign.
  src/game_display.cpp
Labels: none

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
