Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

some minor VILLAGE updates
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

cleanup of core terrain-graphics.cfg
  data/core/terrain-graphics.cfg
Labels: Terrain

Remove a redundant line of code
  data/campaigns/tutorial/lua/hint_message.lua
Labels: Campaign

GUI2/Distributor: further cleanup started in 988bf973e96efaed9eec268c8d1ba5f4ed3bed37
  src/gui/core/event/distributor.cpp
  src/gui/core/event/distributor.hpp
Labels: UI

Cleaner solution
  src/gui/core/event/distributor.cpp
  src/gui/core/event/distributor.hpp
Labels: UI

Further refined
  src/gui/core/event/distributor.cpp
  src/gui/core/event/distributor.hpp
Labels: UI

GUI2/Distributor: further cleanup (#6622)
  src/gui/core/event/distributor.cpp
  src/gui/core/event/distributor.hpp
Labels: UI

Avoid potentially using unit IDs that are no longer valid
  changelog.md
  src/recall_list_manager.cpp
Labels: none

GUI2/Distributor: code formatting, minor cleanup
  src/gui/core/event/distributor.cpp
  src/gui/core/event/distributor.hpp
Labels: UI

Revert "world conquest, artifacts = substitute value= with add="
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign

Revert "update changelog on banner not stacking"
  changelog.md
Labels: none

wc: edit war banner info text
  data/campaigns/World_Conquest/resources/strings/artifacts.cfg
Labels: Campaign

Avoid potentially using unit IDs that are no longer valid
  changelog.md
  src/recall_list_manager.cpp
Labels: none

GUI2: small misc cleanup things
  src/gui/core/event/dispatcher_private.hpp
  src/gui/core/event/distributor.cpp
  src/gui/core/event/handler.hpp
  src/gui/core/gui_definition.cpp
Labels: UI

GUI2/Distributor: address *potential* nullptr dereference
  src/gui/core/event/distributor.cpp
Labels: UI

Convert compression::format to a scoped enum
  src/game_launcher.cpp
  src/preferences/game.cpp
  src/save_index.cpp
  src/serialization/binary_or_text.cpp
  src/serialization/compression.hpp
  src/wesnoth.cpp
Labels: none

Revert "GUI2/Distributor: address *potential* nullptr dereference"
  src/gui/core/event/distributor.cpp
Labels: UI

Fixup
  src/gui/core/event/dispatcher_private.hpp
Labels: UI

Add support for forum_auth when uploading to campaignd.
  src/addon/client.cpp
  src/addon/validation.cpp
  src/addon/validation.hpp
  src/server/campaignd/server.cpp
  src/server/campaignd/server.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
Labels: Add-ons, MP

GUI2/Dispatcher: even further simplified [dis]connect_signal
  src/gui/core/event/dispatcher.hpp
Labels: UI

GUI2/Dispatcher: used default default ctors, disallowed copying signal_queue
  src/gui/core/event/dispatcher.hpp
Labels: UI

GUI2/Dispatcher: simplify signal type alias names
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/dispatcher_private.hpp
  src/gui/core/event/distributor.cpp
  src/gui/core/event/message.hpp
  src/gui/dialogs/debug_clock.hpp
  src/gui/widgets/button.hpp
  src/gui/widgets/clickable_item.hpp
  src/gui/widgets/repeating_button.cpp
  src/gui/widgets/repeating_button.hpp
Labels: UI

Removed [dis]connect_signal static_assert
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/dispatcher_private.hpp
Labels: UI

GUI2/Dispatcher: made mouse_behavior a scoped enum
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/handler.cpp
  src/gui/widgets/window.cpp
Labels: UI

GUI2/Dispatcher: minor doc cleanup
  src/gui/core/event/dispatcher.hpp
Labels: UI

Add support for forum_auth when uploading to campaignd.
  src/addon/client.cpp
  src/addon/validation.cpp
  src/addon/validation.hpp
  src/server/campaignd/server.cpp
  src/server/campaignd/server.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
Labels: Add-ons, MP

Add changelog entry.
  changelog.md
Labels: none

Add SQL to list unique users per day.
  utils/mp-server/query-scripts/02-count-of-unique-users-per-day.sql
  utils/mp-server/query-scripts/03-count-of-games-of-month.sql
  utils/mp-server/query-scripts/04-count-of-games-per-day.sql
  utils/mp-server/query-scripts/05-count-of-download-by-source.sql
  utils/mp-server/query-scripts/06-count-of-versions.sql
  utils/mp-server/query-scripts/07-eras-by-game-count.sql
  utils/mp-server/query-scripts/08-eras-by-game-count-and-version.sql
  utils/mp-server/query-scripts/09-factions-by-side-count.sql
  utils/mp-server/query-scripts/10-maps-by-game-count.sql
  utils/mp-server/query-scripts/11-maps-by-game-count-and-version.sql
  utils/mp-server/query-scripts/12-modifications-by-game-count.sql
  utils/mp-server/query-scripts/13-modifications-by-game-count-and-version.sql
  utils/mp-server/query-scripts/14-oos-vs-game-count.sql
  utils/mp-server/query-scripts/15-oos-count-by-era.sql
  utils/mp-server/query-scripts/16-oos-count-by-era-and-version.sql
  utils/mp-server/query-scripts/17-oos-count-by-map.sql
  utils/mp-server/query-scripts/18-oos-count-by-map-and-version.sql
  utils/mp-server/query-scripts/19-oos-count-by-modification.sql
  utils/mp-server/query-scripts/20-oos-count-by-modification-and-version.sql
  utils/mp-server/query-scripts/21-oos-count-by-era-map-modification-and-version.sql
  utils/mp-server/query-scripts/22-oos-replays-list.sql
  utils/mp-server/query-scripts/23-oos-replays-list-and-version.sql
Labels: Services

Add SQL to list unique users per day per source.
  utils/mp-server/query-scripts/03-count-of-unique-users-per-day-per-source.sql
  utils/mp-server/query-scripts/04-count-of-games-of-month.sql
  utils/mp-server/query-scripts/05-count-of-games-per-day.sql
  utils/mp-server/query-scripts/06-count-of-download-by-source.sql
  utils/mp-server/query-scripts/07-count-of-versions.sql
  utils/mp-server/query-scripts/08-eras-by-game-count.sql
  utils/mp-server/query-scripts/09-eras-by-game-count-and-version.sql
  utils/mp-server/query-scripts/10-factions-by-side-count.sql
  utils/mp-server/query-scripts/11-maps-by-game-count.sql
  utils/mp-server/query-scripts/12-maps-by-game-count-and-version.sql
  utils/mp-server/query-scripts/13-modifications-by-game-count.sql
  utils/mp-server/query-scripts/14-modifications-by-game-count-and-version.sql
  utils/mp-server/query-scripts/15-oos-vs-game-count.sql
  utils/mp-server/query-scripts/16-oos-count-by-era.sql
  utils/mp-server/query-scripts/17-oos-count-by-era-and-version.sql
  utils/mp-server/query-scripts/18-oos-count-by-map.sql
  utils/mp-server/query-scripts/19-oos-count-by-map-and-version.sql
  utils/mp-server/query-scripts/20-oos-count-by-modification.sql
  utils/mp-server/query-scripts/21-oos-count-by-modification-and-version.sql
  utils/mp-server/query-scripts/22-oos-count-by-era-map-modification-and-version.sql
  utils/mp-server/query-scripts/23-oos-replays-list.sql
  utils/mp-server/query-scripts/24-oos-replays-list-and-version.sql
Labels: Services

Update changelog
  changelog.md
Labels: none

Update changelog.md
  changelog.md
Labels: none

1.17.3
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS, WML Tools

1.17.3+dev
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  src/wesconfig.h
Labels: WML Tools

minor updates to desert terrain
  data/core/images/terrain/embellishments/rocks-n.png
  data/core/images/terrain/embellishments/rocks-ne.png
  data/core/images/terrain/embellishments/rocks-nw.png
  data/core/images/terrain/embellishments/rocks-s.png
  data/core/images/terrain/embellishments/rocks-se.png
  data/core/images/terrain/embellishments/rocks-sw.png
  data/core/images/terrain/embellishments/rocks.png
  data/core/images/terrain/embellishments/rocks10.png
  data/core/images/terrain/embellishments/rocks2-ne.png
  data/core/images/terrain/embellishments/rocks2.png
  data/core/images/terrain/embellishments/rocks4.png
  data/core/images/terrain/embellishments/rocks5.png
  data/core/images/terrain/embellishments/rocks6.png
  data/core/images/terrain/embellishments/rocks8.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

more updates to some desert terrains
  data/core/images/terrain/embellishments/plants/desert-bones-small3.png
  data/core/images/terrain/embellishments/plants/desert-bones-small4.png
  data/core/images/terrain/embellishments/plants/desert-bones3.png
  data/core/images/terrain/embellishments/plants/desert-bones4.png
  data/core/images/terrain/embellishments/plants/desert-bones5.png
  data/core/images/terrain/embellishments/plants/desert-plant11.png
  data/core/images/terrain/embellishments/plants/desert-plant6.png
  data/core/images/terrain/embellishments/plants/desert-plant7.png
  data/core/images/terrain/embellishments/plants/desert-plant8.png
  data/core/images/terrain/embellishments/rocks10.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

finish move of desert plant images
  data/core/images/terrain/embellishments/desert-plant.png
  data/core/images/terrain/embellishments/desert-plant10.png
  data/core/images/terrain/embellishments/desert-plant11.png
  data/core/images/terrain/embellishments/desert-plant2.png
  data/core/images/terrain/embellishments/desert-plant3.png
  data/core/images/terrain/embellishments/desert-plant4.png
  data/core/images/terrain/embellishments/desert-plant5.png
  data/core/images/terrain/embellishments/desert-plant6.png
  data/core/images/terrain/embellishments/desert-plant7.png
  data/core/images/terrain/embellishments/desert-plant8.png
  data/core/images/terrain/embellishments/desert-plant9.png
  data/core/terrain.cfg
Labels: Graphics, Terrain

Unit tests for [drains], [poison] and [slow], with apply_to=opponent
  data/test/macros/start_position_common_keep_a_b.cfg
  data/test/maps/2p_single_castle.map
  data/test/scenarios/reflexive_drains.cfg
  data/test/scenarios/reflexive_poison.cfg
  data/test/scenarios/reflexive_slow.cfg
  wml_test_schedule
Labels: Unit Tests

Unit tests for [drains], [poison] and [slow], with apply_to=opponent
  data/test/macros/start_position_common_keep_a_b.cfg
  data/test/maps/2p_single_castle.map
  data/test/scenarios/reflexive_drains.cfg
  data/test/scenarios/reflexive_poison.cfg
  data/test/scenarios/reflexive_slow.cfg
  wml_test_schedule
Labels: Unit Tests

Unit tests: make separate files for each starting position
  data/test/macros/start_position_common_keep_a_b_c_d.cfg
  data/test/macros/start_position_generic.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/firststrike_and_laststrike.cfg
Labels: Unit Tests

initial snowy stone bridges commit (still some placeholder images)
  data/core/images/terrain/bridge/snow/stonebridge-castle-s.png
  data/core/images/terrain/bridge/snow/stonebridge-castle-se.png
  data/core/images/terrain/bridge/snow/stonebridge-castle-sw.png
  data/core/images/terrain/bridge/snow/stonebridge-n-s-tile.png
  data/core/images/terrain/bridge/snow/stonebridge-n-s.png
  data/core/images/terrain/bridge/snow/stonebridge-n.png
  data/core/images/terrain/bridge/snow/stonebridge-ne-sw-tile.png
  data/core/images/terrain/bridge/snow/stonebridge-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-s-n.png
  data/core/images/terrain/bridge/snow/stonebridge-s.png
  data/core/images/terrain/bridge/snow/stonebridge-se-nw-tile.png
  data/core/images/terrain/bridge/snow/stonebridge-se-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-se.png
  data/core/images/terrain/bridge/snow/stonebridge-short-n.png
  data/core/images/terrain/bridge/snow/stonebridge-short-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-short-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-sw-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-sw.png
  data/core/images/terrain/bridge/snow/stonebridge-water-n.png
  data/core/images/terrain/bridge/snow/stonebridge-water-ne.png
  data/core/images/terrain/bridge/snow/stonebridge-water-nw.png
  data/core/images/terrain/bridge/snow/stonebridge-water-s.png
  data/core/images/terrain/bridge/snow/stonebridge-water-se.png
  data/core/images/terrain/bridge/snow/stonebridge-water-sw.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain
