Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Revert "Revert this for 1.16.1"
  data/gui/window/mp_faction_select.cfg
Labels: UI

Made get_dlls.py get dlls for wesnothd too
  utils/dockerbuilds/mingw/get_dlls.py
Labels: none

Made get_dlls.py get dlls for wesnothd too
  utils/dockerbuilds/mingw/get_dlls.py
Labels: none

wesnothd: check for possible null optional in error message
  src/server/wesnothd/game.cpp
Labels: MP

Lua: Fix nil-safety issues in location_set
  data/lua/location_set.lua
Labels: Lua API

vcpkg: Boost 1.77 necessitates an explicit boost-math dependency
  vcpkg.json
Labels: none

tutorial: Use Delfador's mentoring portrait for the menu
  data/campaigns/tutorial/_main.cfg
  data/campaigns/tutorial/images/campaign_image.png
Labels: Campaign, Graphics

tutorial: Use Delfador's mentoring portrait for the menu
  changelog.md
  data/campaigns/tutorial/_main.cfg
  data/campaigns/tutorial/images/campaign_image.png
Labels: Campaign, Graphics

gui2/addon_manager: Move Search to the top right on small resolutions
  changelog.md
  data/gui/window/addon_manager.cfg
Labels: UI

gui2/addon_manager: Move Search to the top right on small resolutions
  data/gui/window/addon_manager.cfg
Labels: UI

Italian translation update
  po/wesnoth-editor/it.po
  po/wesnoth-utbs/it.po
  po/wesnoth/it.po
Labels: Translations

Italian translation update
  changelog.md
  po/wesnoth-editor/it.po
  po/wesnoth-utbs/it.po
  po/wesnoth/it.po
Labels: Translations

SoF 2p5: add forgoten defeat condition on Alanin's death
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
Labels: Campaign

SoF 2p5: add forgoten defeat condition on Alanin's death
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
Labels: Campaign

wesnoth: use async_shutdown() instead of shutdown()
  src/server/wesnothd/server.cpp
Labels: MP

WC2 recall costs
  data/campaigns/World_Conquest/lua/game_mechanics/recall.lua
Labels: Campaign

WC2: make era usable for PvP
  data/campaigns/World_Conquest/lua/era/era.lua
  data/campaigns/World_Conquest/lua/era_main.lua
Labels: Campaign

WC2: make carryover compatible with > 3 sides
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
Labels: Campaign

WC2: Add placed units to the help
  data/campaigns/World_Conquest/lua/campaign/enemy.lua
Labels: Campaign

WC2 Plot: make it independent of player sides
  data/campaigns/World_Conquest/lua/map/scenario_utils/plot.lua
Labels: Campaign

WC2: bonus points
  data/campaigns/World_Conquest/lua/map/scenario_utils/bonus_points.lua
Labels: Campaign

WC2: fix typo
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
Labels: Campaign

WC2: Fix using the same variable for 2 things
  data/campaigns/World_Conquest/lua/game_mechanics/promote_commander.lua
Labels: Campaign

Make "wc2_fix_colors" work with 4 player sides
  data/campaigns/World_Conquest/lua/campaign_main.lua
  data/campaigns/World_Conquest/lua/game_mechanics/color.lua
Labels: Campaign

WC2: Add possibility to allow scenario downgrading later on
  data/campaigns/World_Conquest/lua/game_mechanics/promote_commander.lua
Labels: Campaign

Allow one leader to die with > 3 players
  data/campaigns/World_Conquest/lua/game_mechanics/promote_commander.lua
Labels: Campaign

Update changelog, version number etc. for WC2
  data/campaigns/World_Conquest/TODO.txt
  data/campaigns/World_Conquest/changelog.txt
  data/campaigns/World_Conquest/lua/campaign/objectives.lua
  data/campaigns/World_Conquest/lua/map/main.lua
Labels: Campaign

Unlock WC2 era for future scenario
  data/campaigns/World_Conquest/era/era.cfg
Labels: Campaign

WC2: Downgrade scenario from 4p to 3p
  data/campaigns/World_Conquest/lua/game_mechanics/promote_commander.lua
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
Labels: Campaign

WC2: persist color in corner case when using the workaround
  data/campaigns/World_Conquest/lua/game_mechanics/color.lua
Labels: Campaign

WC2: support 10th side on field
  data/campaigns/World_Conquest/lua/game_mechanics/color.lua
Labels: Campaign

Scenario files for WC 4p
  data/campaigns/World_Conquest/lua/map/scenarios/WC_II_4p_scenario1.lua
  data/campaigns/World_Conquest/lua/map/scenarios/WC_II_4p_scenario2.lua
  data/campaigns/World_Conquest/lua/map/scenarios/WC_II_4p_scenario3.lua
  data/campaigns/World_Conquest/lua/map/scenarios/WC_II_4p_scenario4.lua
  data/campaigns/World_Conquest/lua/map/scenarios/WC_II_4p_scenario5.lua
Labels: Campaign

Campaign to load WC 4p
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

WC2: unlock era
  data/campaigns/World_Conquest/era/era.cfg
Labels: Campaign

wesnothd: Fix server crash if client is autokicked by registered login
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: MP

servers: add dedicated catch for boost::system::system_error
  src/server/common/server_base.cpp
Labels: Add-ons, MP

wesnothd: properly shutdown tls connection without leaving clients hanging
  src/server/wesnothd/server.cpp
Labels: MP

wesnothd: fix crash when yielding after kick in is_login_allowed()
  src/server/wesnothd/server.cpp
Labels: MP

Update wmltools3.py
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

campaignd: Include `core=` attribute from _server.pbl
  changelog.md
  src/server/campaignd/server.cpp
Labels: Add-ons

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
