Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

handle super cycles while searching for a key or for a tag
  src/serialization/schema/tag.cpp
  src/serialization/schema/tag.hpp
Labels: Schema

add a test to cover the fix to find_key's infinite loop/crash
  boost_test_schedule
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/boost_unit_tests
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_schema_super_cycle.cfg
  src/tests/wml/schema/test_schema_validator/test_super_cycle_crashes_on_unknown_key.cfg
Labels: Building, macOS

add the super's full path to the tag's super_list
  src/serialization/schema/tag.cpp
  src/serialization/schema/tag.hpp
Labels: Schema

detect schema super cycles while validating a .cfg file
  src/serialization/schema/tag.cpp
  src/serialization/schema/tag.hpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

add tests to cover super cycle detection while validating a .cfg file
  boost_test_schedule
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_super_cycle.cfg
  src/tests/wml/schema/test_schema_validator/test_super_cycle_only_if_used.cfg
Labels: none

detect when a super defined in the schema doesn't exist
  src/serialization/schema/tag.cpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

add tests to missing super detection
  boost_test_schedule
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_schema_super_missing.cfg
Labels: none

verify if all mandatory keys are specified, including the ones from the super tags
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: none

add tests for mandatory key validations considering super tags
  boost_test_schedule
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_schema_super_cycle_mandatory.cfg
  src/tests/wml/schema/test_schema_validator/test_schema_super_mandatory_missing.cfg
  src/tests/wml/schema/test_schema_validator/test_super_cycle_mandatory.cfg
  src/tests/wml/schema/test_schema_validator/test_super_mandatory.cfg
  src/tests/wml/schema/test_schema_validator/test_super_mandatory_missing.cfg
Labels: none

format changes related super mandatory keys validation with clang-format
  src/serialization/schema/tag.cpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
  src/tests/wml/schema/test_schema_self_validator.cpp
  src/tests/wml/schema/test_schema_validator.cpp
  src/utils/back_edge_detector.hpp
Labels: Schema

implement cycle detection for type aliases (links)
  src/serialization/schema/type.hpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

add tests for link cycle validation
  boost_test_schedule
  src/tests/wml/schema/test_schema_validator.cpp
  src/tests/wml/schema/test_schema_validator/test_schema_link_cycle.cfg
Labels: none

add boost-graph dependency to codeql workflow
  .github/workflows/codeql.yml
Labels: none

add scons rules do detect boost-graph
  scons/boost.py
Labels: Building, SCons

[Lua] Fix missing parameter warning when passing empty filter
  data/ai/lua/ai_helper.lua
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
  data/lua/wml-tags.lua
Labels: AI, Campaign SotA, Lua API

[Lua] Fix incorrect function name
  data/ai/lua/ai_helper.lua
Labels: AI

[Lua] Remove nonexistent parameter
  data/lua/core/map.lua
Labels: Lua API

[Lua] Avoid reusing no-longer-needed variables for different meanings
  data/ai/lua/ai_helper.lua
  data/lua/wml-tags.lua
Labels: AI, Lua API

[Lua] Fix call of nonexistent function
  data/lua/location_set.lua
Labels: Lua API

[Lua] Fix obviously broken functions in ai_helper.
  data/ai/lua/ai_helper.lua
Labels: AI

[Lua] Suppress nodiscard warning
  data/ai/lua/ai_helper.lua
Labels: AI

[Lua] Avoid reusing no-longer-needed variables for different meanings
  data/ai/lua/ai_helper.lua
  data/lua/wml-tags.lua
Labels: AI, Lua API

[Lua] Fix call of nonexistent function
  data/lua/location_set.lua
Labels: Lua API

[Lua] Fix missing parameter warning when passing empty filter
  data/ai/lua/ai_helper.lua
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
  data/lua/wml-tags.lua
Labels: AI, Campaign SotA, Lua API

[Lua] Fix incorrect function name
  data/ai/lua/ai_helper.lua
Labels: AI

[Lua] Fix obviously broken functions in ai_helper.
  data/ai/lua/ai_helper.lua
Labels: AI

[Lua] Remove nonexistent parameter
  data/lua/core/map.lua
Labels: Lua API

[Lua] Suppress nodiscard warning
  data/ai/lua/ai_helper.lua
Labels: AI

and backport this..
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

Adding myself to credits
  data/core/about_i18n.cfg
Labels: none

HttT S5b: Fix duplicate loyal trait for Delurin
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
Labels: Campaign HttT

WML tools GUI app: updated copyright (#8327)
  data/tools/GUI.pyw
Labels: WML Tools

Update about_i18n.cfg
  data/core/about_i18n.cfg
Labels: none

update list of boost headers used in compilation
  projectfiles/CodeBlocks/libraries.md
Labels: Building

update list of boost headers used in compilation
  projectfiles/CodeBlocks/libraries.md
Labels: Building

backport it to 1.18
  projectfiles/CodeBlocks/libraries.md
Labels: Building

update list of boost headers used in compilation
  projectfiles/CodeBlocks/libraries.md
Labels: Building

update text post logging fix
  doc/man/wesnoth.6
  src/commandline_options.cpp
Labels: Docs

update text post logging fix
  doc/man/wesnoth.6
  src/commandline_options.cpp
Labels: Docs

Set gold laurel first in case of only one difficulty setting.
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI
