Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Enable HDPI in windows manifest file
  packaging/windows/wesnoth.exe.manifest
Labels: Packaging

wmlindent
  data/core/units/undead/Spirit_Nightgaunt.cfg
Labels: Units

updated Czech translation
  changelog.md
  data/core/images/help/l10n/cs/hpxp.png
  data/core/images/help/l10n/cs/recruit.png
  data/core/images/help/l10n/cs/tooltip.png
  po/wesnoth-help/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-wof/cs.po
  po/wesnoth/cs.po
Labels: Graphics, Translations

updated Czech translation
  data/core/images/help/l10n/cs/hpxp.png
  data/core/images/help/l10n/cs/recruit.png
  data/core/images/help/l10n/cs/tooltip.png
  po/wesnoth-help/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth/cs.po
Labels: Graphics, Translations

remove semitrans swooshes
  data/core/images/units/orcs/Orc_ColorMap.png
  data/core/images/units/orcs/archer-melee-4.png
  data/core/images/units/orcs/archer-melee-5.png
  data/core/images/units/orcs/assassin-attack-2.png
  data/core/images/units/orcs/assassin-attack-3.png
  data/core/images/units/orcs/assassin-attack-4.png
  data/core/images/units/orcs/grunt-attack-1.png
  data/core/images/units/orcs/grunt-attack-2.png
  data/core/images/units/orcs/grunt-attack-3.png
  data/core/images/units/orcs/leader-attack-1.png
  data/core/images/units/orcs/leader-attack-2.png
  data/core/images/units/orcs/leader-attack-3.png
  data/core/images/units/orcs/slayer-attack-5.png
  data/core/images/units/orcs/slayer-attack-6.png
  data/core/images/units/orcs/slurbow-melee-attack-1.png
  data/core/images/units/orcs/slurbow-melee-attack-2.png
  data/core/images/units/orcs/slurbow-melee-attack-3.png
  data/core/images/units/orcs/warrior-attack-1.png
  data/core/images/units/orcs/warrior-attack-2.png
  data/core/images/units/orcs/warrior-attack-3.png
Labels: Graphics, Units

missed a few things
  data/core/images/units/orcs/Orc_ColorMap.png
  data/core/images/units/orcs/ruler-attack-sword-3.png
  data/core/images/units/orcs/ruler-attack-sword-4.png
  data/core/images/units/orcs/sovereign-attack-1.png
  data/core/images/units/orcs/sovereign-attack-2.png
  data/core/images/units/orcs/sovereign-attack-3.png
  data/core/images/units/orcs/warlord-attack-sword-3.png
Labels: Graphics, Units

Revert "Avoid counting encounters with 'Cloaked Figure'."
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

GUI2/Preferences: made better use of space for display scaling option
  data/gui/window/preferences/03_display.cfg
Labels: UI

[wc2p] fix broken image path
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

A couple script fixups.
  utils/optiwebp.py
Labels: none

Fix some invalid image paths in WC.
  data/campaigns/World_Conquest/lua/game_mechanics/unittypedata.lua
Labels: Campaign

Use more limited set of image directories when converting to webp.
  utils/optiwebp.py
Labels: none

Update wmllint.
  data/tools/wmllint
Labels: WML Tools

A couple script fixups.
  utils/optiwebp.py
Labels: none

Update wmllint.
  data/tools/wmllint
Labels: WML Tools

Fix some invalid image paths in WC.
  data/campaigns/World_Conquest/lua/game_mechanics/unittypedata.lua
Labels: Campaign

Use more limited set of image directories when converting to webp.
  utils/optiwebp.py
Labels: none

Update changelog.
  changelog.md
Labels: none

fix bad color remap on wolf rider
  data/core/images/units/goblins/Goblin_ColorMap.png
  data/core/images/units/goblins/wolf-rider-attack.png
  data/core/images/units/goblins/wolf-rider-defend-1.png
  data/core/images/units/goblins/wolf-rider-defend-2.png
  data/core/images/units/goblins/wolf-rider-die-1.png
  data/core/images/units/goblins/wolf-rider-die-2.png
  data/core/images/units/goblins/wolf-rider-die-3.png
  data/core/images/units/goblins/wolf-rider-die-4.png
  data/core/images/units/goblins/wolf-rider-idle-1.png
  data/core/images/units/goblins/wolf-rider-idle-2.png
  data/core/images/units/goblins/wolf-rider-idle-3.png
  data/core/images/units/goblins/wolf-rider-idle-4.png
  data/core/images/units/goblins/wolf-rider-idle-5.png
  data/core/images/units/goblins/wolf-rider-moving.png
  data/core/images/units/goblins/wolf-rider-water.png
  data/core/images/units/goblins/wolf-rider.png
Labels: Graphics, Units

[DiD] fix missing background image
  data/campaigns/Descent_Into_Darkness/_main.cfg
Labels: Campaign

[liberty] fix missing background image
  data/campaigns/Liberty/_main.cfg
Labels: Campaign

[DiD] fix missing background image
  data/campaigns/Descent_Into_Darkness/_main.cfg
Labels: Campaign

[liberty] fix missing background image
  data/campaigns/Liberty/_main.cfg
Labels: Campaign

CVideo: renamed flip to render_screen
  src/display.cpp
  src/gui/core/event/handler.cpp
  src/help/help.cpp
  src/video.cpp
  src/video.hpp
Labels: Help, UI

CVideo: added renderer getter
  src/video.cpp
  src/video.hpp
Labels: none

Re-added SDL_Texture wrapper and render utils
  source_lists/libwesnoth_sdl
  src/sdl/render_utils.hpp
  src/sdl/texture.cpp
  src/sdl/texture.hpp
Labels: Building

add sdl/ texture and input to codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

add sdl/ texture and input to codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

dune soldier sprite cleanup
  data/core/images/units/dunefolk/soldier/DuneSoldier_ColorMap.png
  data/core/images/units/dunefolk/soldier/blademaster.png
  data/core/images/units/dunefolk/soldier/captain-defend1.png
  data/core/images/units/dunefolk/soldier/captain-defend2.png
  data/core/images/units/dunefolk/soldier/captain-leading1.png
  data/core/images/units/dunefolk/soldier/captain-leading2.png
  data/core/images/units/dunefolk/soldier/captain.png
  data/core/images/units/dunefolk/soldier/paragon.png
  data/core/images/units/dunefolk/soldier/soldier-defend1.png
  data/core/images/units/dunefolk/soldier/soldier-defend2.png
  data/core/images/units/dunefolk/soldier/soldier.png
  data/core/images/units/dunefolk/soldier/spearguard.png
  data/core/images/units/dunefolk/soldier/spearmaster.png
  data/core/images/units/dunefolk/soldier/swordsman-defend1.png
  data/core/images/units/dunefolk/soldier/swordsman-defend2.png
  data/core/images/units/dunefolk/soldier/swordsman.png
  data/core/images/units/dunefolk/soldier/warmaster-leading1.png
  data/core/images/units/dunefolk/soldier/warmaster-leading2.png
  data/core/images/units/dunefolk/soldier/warmaster.png
Labels: Graphics, Units

dune rover sprite cleanup
  data/core/images/units/dunefolk/rover/DuneRover_ColorMap.png
  data/core/images/units/dunefolk/rover/explorer-defend1.png
  data/core/images/units/dunefolk/rover/explorer-defend2.png
  data/core/images/units/dunefolk/rover/explorer.png
  data/core/images/units/dunefolk/rover/rover-defend1.png
  data/core/images/units/dunefolk/rover/rover-defend2.png
  data/core/images/units/dunefolk/rover/rover.png
  data/core/images/units/dunefolk/rover/wayfarer-defend1.png
  data/core/images/units/dunefolk/rover/wayfarer-defend2.png
  data/core/images/units/dunefolk/rover/wayfarer.png
Labels: Graphics, Units

dune rider palette cleanup
  data/core/images/units/dunefolk/rider/DuneRider_ColorMap.png
  data/core/images/units/dunefolk/rider/cataphract-bow.png
  data/core/images/units/dunefolk/rider/cataphract-defend1.png
  data/core/images/units/dunefolk/rider/cataphract-defend2.png
  data/core/images/units/dunefolk/rider/cataphract-lance-defend1.png
  data/core/images/units/dunefolk/rider/cataphract-lance-defend2.png
  data/core/images/units/dunefolk/rider/cataphract-lance.png
  data/core/images/units/dunefolk/rider/cataphract-mace.png
  data/core/images/units/dunefolk/rider/cataphract.png
  data/core/images/units/dunefolk/rider/horse-archer.png
  data/core/images/units/dunefolk/rider/marauder.png
  data/core/images/units/dunefolk/rider/raider.png
  data/core/images/units/dunefolk/rider/rider.png
  data/core/images/units/dunefolk/rider/sunderer-defend1.png
  data/core/images/units/dunefolk/rider/sunderer-defend2.png
  data/core/images/units/dunefolk/rider/sunderer.png
  data/core/images/units/dunefolk/rider/windbolt.png
Labels: Graphics, Units

dune herbalist sprite cleanup
  data/core/images/units/dunefolk/herbalist/DuneHerbalist_ColorMap.png
  data/core/images/units/dunefolk/herbalist/alchemist-defend1.png
  data/core/images/units/dunefolk/herbalist/alchemist-defend2.png
  data/core/images/units/dunefolk/herbalist/alchemist.png
  data/core/images/units/dunefolk/herbalist/apothecary-defend1.png
  data/core/images/units/dunefolk/herbalist/apothecary-defend2.png
  data/core/images/units/dunefolk/herbalist/apothecary.png
  data/core/images/units/dunefolk/herbalist/herbalist-defend1.png
  data/core/images/units/dunefolk/herbalist/herbalist-defend2.png
  data/core/images/units/dunefolk/herbalist/herbalist.png
  data/core/images/units/dunefolk/herbalist/luminary-defend1.png
  data/core/images/units/dunefolk/herbalist/luminary-defend2.png
  data/core/images/units/dunefolk/herbalist/luminary.png
Labels: Graphics, Units

dune burner sprite cleanup
  data/core/images/units/dunefolk/burner/DuneBurner_ColorMap.png
  data/core/images/units/dunefolk/burner/burner+female-defend1.png
  data/core/images/units/dunefolk/burner/burner+female-defend2.png
  data/core/images/units/dunefolk/burner/burner+female-fire1.png
  data/core/images/units/dunefolk/burner/burner+female-fire2.png
  data/core/images/units/dunefolk/burner/burner+female-fire3.png
  data/core/images/units/dunefolk/burner/burner+female-fire4.png
  data/core/images/units/dunefolk/burner/burner+female-fire5.png
  data/core/images/units/dunefolk/burner/burner+female-fire6.png
  data/core/images/units/dunefolk/burner/burner+female-fire7.png
  data/core/images/units/dunefolk/burner/burner+female-fire8.png
  data/core/images/units/dunefolk/burner/burner+female.png
  data/core/images/units/dunefolk/burner/burner-defend1.png
  data/core/images/units/dunefolk/burner/burner-defend2.png
  data/core/images/units/dunefolk/burner/burner-fire1.png
  data/core/images/units/dunefolk/burner/burner-fire2.png
  data/core/images/units/dunefolk/burner/burner-fire3.png
  data/core/images/units/dunefolk/burner/burner-fire4.png
  data/core/images/units/dunefolk/burner/burner-fire5.png
  data/core/images/units/dunefolk/burner/burner-fire6.png
  data/core/images/units/dunefolk/burner/burner-fire7.png
  data/core/images/units/dunefolk/burner/burner-fire8.png
  data/core/images/units/dunefolk/burner/burner.png
  data/core/images/units/dunefolk/burner/firetrooper+female.png
  data/core/images/units/dunefolk/burner/firetrooper.png
  data/core/images/units/dunefolk/burner/scorcher+female.png
  data/core/images/units/dunefolk/burner/scorcher.png
Labels: Graphics, Units

wmllint: removed gif from two regexps
  data/tools/wmllint
Labels: WML Tools

wmllint: replaced gif with webp in two regexps
  data/tools/wmllint
Labels: WML Tools

removed some outdated/unused images
  data/core/images/units/elves-wood/outrider/outrider-attack1.png
  data/core/images/units/elves-wood/outrider/outrider-attack2.png
  data/core/images/units/elves-wood/outrider/outrider-defend.png
  data/core/images/units/elves-wood/outrider/outrider-moving.png
  data/core/images/units/elves-wood/rider/rider-attack1.png
  data/core/images/units/elves-wood/rider/rider-attack2.png
  data/core/images/units/elves-wood/rider/rider-defend.png
  data/core/images/units/elves-wood/rider/rider-melee-1.png
  data/core/images/units/elves-wood/rider/rider-melee-2.png
  data/core/images/units/elves-wood/rider/rider-moving.png
  data/core/images/units/elves-wood/scout/scout-idle-1.png
  data/core/images/units/elves-wood/scout/scout-idle-10.png
  data/core/images/units/elves-wood/scout/scout-idle-11.png
  data/core/images/units/elves-wood/scout/scout-idle-12.png
  data/core/images/units/elves-wood/scout/scout-idle-13.png
  data/core/images/units/elves-wood/scout/scout-idle-14.png
  data/core/images/units/elves-wood/scout/scout-idle-15.png
  data/core/images/units/elves-wood/scout/scout-idle-16.png
  data/core/images/units/elves-wood/scout/scout-idle-2.png
  data/core/images/units/elves-wood/scout/scout-idle-3.png
  data/core/images/units/elves-wood/scout/scout-idle-4.png
  data/core/images/units/elves-wood/scout/scout-idle-5.png
  data/core/images/units/elves-wood/scout/scout-idle-6.png
  data/core/images/units/elves-wood/scout/scout-idle-7.png
  data/core/images/units/elves-wood/scout/scout-idle-8.png
  data/core/images/units/elves-wood/scout/scout-idle-9.png
Labels: Graphics, Units

Refactor FindTranslationTools.cmake
  cmake/FindTranslationTools.cmake
Labels: Building, CMake

outrider palette cleanup
  data/core/images/units/elves-wood/outrider/Outrider_ColorMap.png
  data/core/images/units/elves-wood/outrider/outrider-defend1.png
  data/core/images/units/elves-wood/outrider/outrider-defend2.png
  data/core/images/units/elves-wood/outrider/outrider-melee-0.png
  data/core/images/units/elves-wood/outrider/outrider-melee-1.png
  data/core/images/units/elves-wood/outrider/outrider-melee-2.png
  data/core/images/units/elves-wood/outrider/outrider-melee-3.png
  data/core/images/units/elves-wood/outrider/outrider-melee-4.png
  data/core/images/units/elves-wood/outrider/outrider-melee-5.png
  data/core/images/units/elves-wood/outrider/outrider-melee-6.png
  data/core/images/units/elves-wood/outrider/outrider.png
Labels: Graphics, Units

rider palette cleanup
  data/core/images/units/elves-wood/rider/Rider_ColorMap.png
  data/core/images/units/elves-wood/rider/rider-defend1.png
  data/core/images/units/elves-wood/rider/rider-defend2.png
  data/core/images/units/elves-wood/rider/rider.png
Labels: Graphics, Units

scout palette cleanup
  data/core/images/units/elves-wood/scout/Scout_ColorMap.png
  data/core/images/units/elves-wood/scout/scout-defend1.png
  data/core/images/units/elves-wood/scout/scout-defend2.png
  data/core/images/units/elves-wood/scout/scout.png
Labels: Graphics, Units
