Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Fix deprecation warning when setting [endlevel]end_credits=
  data/lua/wml/endlevel.lua
  data/test/scenarios/manual_tests/scenario-test.cfg
  src/scripting/game_lua_kernel.hpp
Labels: Lua API, Unit Tests

Whitespace fix
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/scroll_text.hpp
Labels: UI

Add 'k' hotkey to core management window from main screen
  data/core/hotkeys.cfg
Labels: Input

Store core ID into save
  src/game_classification.cpp
Labels: none

Enter key supported in multiline_text
  src/font/text.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/window.cpp
Labels: UI

Fix tmpfiles.conf and sysusers.conf paths in SConstruct.
  SConstruct
Labels: Building, SCons

Create test_ability_with_weapon_in_formula
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/test_ability_with_weapon_in_formula
Labels: Unit Tests

Fix tmpfiles.conf and sysusers.conf paths in SConstruct. (#8280)
  SConstruct
Labels: Building, SCons

Fix tmpfiles.conf and sysusers.conf paths in SConstruct. (#8280)
  SConstruct
Labels: Building, SCons

Update wml_test_schedule
  wml_test_schedule
Labels: none

Rename test_ability_with_weapon_in_formula to test_ability_with_weapon_in_formula.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/test_ability_with_weapon_in_formula.cfg
Labels: Unit Tests

Update test_ability_with_weapon_in_formula.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/test_ability_with_weapon_in_formula.cfg
Labels: Unit Tests

Home and end key behavior fixed
  data/core/hotkeys.cfg
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/window.cpp
Labels: Input, UI

EI Shadow Mage, Shadow Lord Balance (#7938)
  data/campaigns/Eastern_Invasion/units/Human_Shadow_Lord.cfg
  data/campaigns/Eastern_Invasion/units/Human_Shadow_Mage.cfg
Labels: Campaign EI, Units

vertical scrollbar movement when cursor moved
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/sttDLVZq
Labels: UI

Backstab unit tests: check that backstab works in a free-for-all
  data/test/macros/generic_backstab_test.cfg
  data/test/macros/start_position_common_keep_a_b_c_d.cfg
  data/test/maps/4p_separate_castles.map
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/backstab.cfg
  wml_test_schedule
Labels: Unit Tests

Restore 'screen shake' animations (resolves #8276).
  data/campaigns/Under_the_Burning_Suns/utils/macros.cfg
  data/core/macros/interface-utils.cfg
Labels: Campaign UtBS

Revert "systemd: drop _ prefix from username"
  changelog_entries/systemd_nobody.md
  packaging/systemd/wesnothd.service.in
  packaging/systemd/wesnothd.service.scons.in
  packaging/systemd/wesnothd.sysusers.conf.in
  packaging/systemd/wesnothd.tmpfiles.conf.in
Labels: Packaging

Revert "systemd: drop _ prefix from username"
  changelog_entries/systemd_nobody.md
  packaging/systemd/wesnothd.service.in
  packaging/systemd/wesnothd.service.scons.in
  packaging/systemd/wesnothd.sysusers.conf.in
  packaging/systemd/wesnothd.tmpfiles.conf.in
Labels: Packaging

Update action versions to use Node.js 20
  .github/workflows/codeql.yml
Labels: none

HttT S12 Snow falls at a constant pace
  data/campaigns/Heir_To_The_Throne/scenarios/12_Northern_Winter.cfg
Labels: Campaign HttT

Use argparse for add_source_file
  add_source_file
Labels: none

home/end scroll behavior, combobox [option] tag, repeating button behavior
  data/schema/gui/widget_instances.cfg
  src/gui/widgets/combobox.cpp
  src/gui/widgets/combobox.hpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/spinbox.cpp
  src/gui/widgets/text_box_base.hpp
Labels: Schema, UI

Ctrl+Home/End moves scrollbar
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/text_box_base.hpp
Labels: UI

Fix Kaleh sword parry
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

Fix Kaleh sword parry
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

Use argparse for add_source_file
  add_source_file
Labels: none

Remove warning 'Weapon special x has no name for', fixes #8298
  data/tools/unit_tree/html_output.py
Labels: WML Tools

Backstab unit tests: check that backstab works in a free-for-all
  data/test/macros/generic_backstab_test.cfg
  data/test/macros/start_position_common_keep_a_b_c_d.cfg
  data/test/maps/4p_separate_castles.map
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/backstab.cfg
  wml_test_schedule
Labels: Unit Tests

bug_report.yml: change comma to fullstop
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

bug_report.yml: change comma to fullstop (#8300)
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Clarify whether add_source_file should add .hpp files
  add_source_file
Labels: none

WIP: Add team_query wrapper for the teams array
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/actions/attack.cpp
  src/actions/attack.hpp
  src/actions/heal.cpp
  src/ai/default/aspect_attacks.cpp
  src/utils/team_query.cpp
  src/utils/team_query.hpp
Labels: AI, Building, macOS

Remove warning about weapon specials with no name since name is not mandatory
  data/tools/unit_tree/html_output.py
Labels: WML Tools

Re-sets the standing animation before and after the temporary_unit_mover moves the unit
  src/game_board.cpp
  src/game_board.hpp
  src/mouse_events.cpp
  src/units/map.cpp
  src/whiteboard/move.cpp
Labels: Units

wmllint: make the 'ignore' magic comment actually work in certain situations
  data/tools/wmllint
Labels: WML Tools

wmllint: check if campaigns are in the 'campaigns' folder before considering them as mainline for the rank check
  data/tools/wmllint
Labels: WML Tools

Re-sets the standing animation before and after the temporary_unit_mover moves the unit
  src/game_board.cpp
  src/game_board.hpp
  src/mouse_events.cpp
  src/units/map.cpp
  src/whiteboard/move.cpp
Labels: Units

Handle Dust Devil overlays
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
Labels: Campaign UtBS, Units

updated Arabic translation
  changelog.md
  po/wesnoth-dw/ar.po
  po/wesnoth-httt/ar.po
  po/wesnoth-multiplayer/ar.po
  po/wesnoth-thot/ar.po
  po/wesnoth-tools/ar.po
  po/wesnoth-tutorial/ar.po
  po/wesnoth-utbs/ar.po
  po/wesnoth-wc/ar.po
Labels: Translations

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
