Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

UtBS: The naga guardians only change their attack power, so remove everything else from their attack
  data/campaigns/Under_the_Burning_Suns/units/nagas/Naga_Guardians.cfg
Labels: Campaign, Units

Fix the deprecation message for {SPECIAL_NOTES}
  data/core/macros/special-notes.cfg
Labels: none

Delete some deprecated special note macros
  data/core/macros/special-notes.cfg
Labels: none

Spelling corrections
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/core/units/monsters/Horse.cfg
  data/core/units/nagas/Guard_High.cfg
  data/scenario-test.cfg
Labels: Campaign, Units

Show side and unit variables in the gamestate inspector
  src/gui/dialogs/gamestate_inspector.cpp
Labels: UI

fix whitespace
  src/gui/dialogs/gamestate_inspector.cpp
Labels: UI

pofix: 1.14 announcement rules for 1.14.17
  utils/pofix.py
Labels: none

pofix: 1.14 announcement rules for 1.14.17
  utils/pofix.py
Labels: none

Remove all textdomain declarations execpt the first from the test scenario
  data/scenario-test.cfg
Labels: none

Remove all textdomain declarations execpt the first from the test scenario
  data/scenario-test.cfg
Labels: none

Fix change making translatable strings from elsewhere untranslatable
  data/scenario-test.cfg
Labels: none

Fix change making translatable strings from elsewhere untranslatable
  data/scenario-test.cfg
Labels: none

Fix shroud parsing functions
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
Labels: Lua API

Implement shroud API deprecation wrappers that handle shroud data strings
  data/lua/core/sides.lua
Labels: Lua API

edited out an non-existent textdomain [IoM]
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

fixed non-existent textdomain in scenario file [IoM]
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Fix whitespace.
  data/lua/core/sides.lua
Labels: Lua API

edited out an non-existent textdomain [IoM]
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

fixed non-existent textdomain in scenario file [IoM]
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Revert "Fix change making translatable strings from elsewhere untranslatable"
  data/scenario-test.cfg
Labels: none

Revert "Fix change making translatable strings from elsewhere untranslatable"
  data/scenario-test.cfg
Labels: none

Remove no longer needed HTML escaping.
  src/server/common/server_base.cpp
Labels: Add-ons, MP

Remove no longer needed HTML escaping.
  src/server/common/server_base.cpp
Labels: Add-ons, MP

Grammar corrections.
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

Fix wml.remove_children
  data/lua/core/wml.lua
Labels: Lua API

Split add and remove label into separate functions
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

A cleaner interface for wesnoth.map.place_area
  data/lua/wml-tags.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

fix whitespace
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

[time_area] fixup
  data/lua/wml-tags.lua
Labels: Lua API

Specify working cmake version to use on CI.
  .github/workflows/ci-main.yml
Labels: none

Update CI branch name configuration value for 1.16.
  .github/workflows/ci-main.yml
Labels: none

Print cmake version.
  .github/workflows/ci-main.yml
Labels: none

Take the super-simple approach to fixing [time_area]
  data/lua/wml-tags.lua
Labels: Lua API

Print cmake version.
  .github/workflows/ci-main.yml
Labels: none

Specify working cmake version to use on CI.
  .github/workflows/ci-main.yml
Labels: none

Update CI branch name configuration value for 1.16.
  .github/workflows/ci-main.yml
Labels: none

Specify working cmake version to use on CI.
  .github/workflows/ci-main.yml
Labels: none

Print cmake version.
  .github/workflows/ci-main.yml
Labels: none

wmllint: added special_note to the translatable keys tuple
  data/tools/wmllint
Labels: WML Tools

wmllint: removed checks for arcane, spirit and defense cap special notes
  data/tools/wmllint
Labels: WML Tools

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
