Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

DiD S10: remove book overlay in all victory conditions
  data/campaigns/Descent_Into_Darkness/scenarios/10_Alone_at_Last.cfg
Labels: Campaign

DiD S10: remove book overlay in all victory conditions
  data/campaigns/Descent_Into_Darkness/scenarios/10_Alone_at_Last.cfg
Labels: Campaign

DiD S11: favor Xanthric's drain attack on defense
  data/campaigns/Descent_Into_Darkness/scenarios/11_Descent_into_Darkness.cfg
Labels: Campaign

DiD S11: favor Xanthric's drain attack on defense
  data/campaigns/Descent_Into_Darkness/scenarios/11_Descent_into_Darkness.cfg
Labels: Campaign

DiD: automatically remove 0 exp walking corpses from the recall list
  data/campaigns/Descent_Into_Darkness/scenarios/02_Peaceful_Valley.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/04_Spring_of_Reprisal.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/05_Schism.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07_A_Small_Favor.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/10_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/11_Descent_into_Darkness.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/12_Endless_Night.cfg
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign

DiD: automatically remove 0 exp walking corpses from the recall list
  data/campaigns/Descent_Into_Darkness/scenarios/02_Peaceful_Valley.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/04_Beginning_of_the_Revenge.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/05_Orc_War.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07_A_Small_Favor.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/10_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/11_Descent_into_Darkness.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/12_Endless_Night.cfg
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign

DiD: allow the player to keep special corpses
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign

DiD: allow the player to keep special corpses
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign

Remove unused script
  utils/py-compile
Labels: none

DiD: fix buggy key in corpse clearing macro
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign

DiD: fix buggy key in corpse clearing macro
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign

Try to fix mac builds by disabling homebrew auto updatin
  utils/travis/steps/install.sh
Labels: Travis

Fix brew install by disabling auto update
  utils/travis/steps/install.sh
Labels: Travis

DiD S1: reduce difficulty
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
Labels: Campaign

DiD S1: reduce difficulty
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
Labels: Campaign

Add DiD update to changelog
  changelog.md
Labels: none

DiD S5: adjust enemy recruits and gold
  data/campaigns/Descent_Into_Darkness/scenarios/05_Schism.cfg
Labels: Campaign

Add DiD update to changelog
  changelog.md
Labels: none

DiD: add new scenery
  data/campaigns/Descent_Into_Darkness/images/scenery/black-monolith.png
  data/campaigns/Descent_Into_Darkness/images/scenery/dark-monolith.png
  data/campaigns/Descent_Into_Darkness/images/scenery/white-monolith.png
Labels: Campaign

DiD S1: add extra easter eggs
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
Labels: Campaign

Update schema to use correct types
  data/schema/units/modifications.cfg
Labels: Schema

DiD S1: remove unneeded key in [unit]
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
Labels: Campaign

Dunefolk: fix broken image paths
  data/core/units/dunefolk/Luminary.cfg
  data/core/units/dunefolk/Scorcher.cfg
Labels: Units

updated French translation
  changelog.md
  po/wesnoth-aoi/fr.po
  po/wesnoth-ei/fr.po
  po/wesnoth-httt/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-sotbe/fr.po
  po/wesnoth-units/fr.po
Labels: Translations

updated French translation
  po/wesnoth-aoi/fr.po
  po/wesnoth-ei/fr.po
  po/wesnoth-httt/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-sotbe/fr.po
  po/wesnoth-units/fr.po
Labels: Translations

updated Chinese (Traditional) translation
  changelog.md
  po/wesnoth-ei/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-utbs/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

updated Chinese (Traditional) translation
  po/wesnoth-ei/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-utbs/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

Fix a few bugs and add a new event
  data/campaigns/Liberty/scenarios/02_Civil_Disobedience.cfg
Labels: Campaign

DiD: update some maps
  data/campaigns/Descent_Into_Darkness/maps/01_Saving_Parthyn.map
  data/campaigns/Descent_Into_Darkness/maps/02_Peaceful_Valley.map
  data/campaigns/Descent_Into_Darkness/maps/06_Return_to_Parthyn.map
Labels: Campaign

DiD S2: add a couple extra events
  data/campaigns/Descent_Into_Darkness/scenarios/02_Peaceful_Valley.cfg
Labels: Campaign

Add DiD update to changelog
  changelog.md
Labels: none

DiD S4: add some small easter eggs
  data/campaigns/Descent_Into_Darkness/maps/04_Spring_of_Reprisal.map
  data/campaigns/Descent_Into_Darkness/scenarios/04_Spring_of_Reprisal.cfg
Labels: Campaign

DiD: add scenery images
  data/campaigns/Descent_Into_Darkness/images/scenery/orcish-flag-flat.png
  data/campaigns/Descent_Into_Darkness/images/scenery/whitefang-flag.png
Labels: Campaign

Add DiD update to changelog
  changelog.md
Labels: none

DiD: reduce brightness with scenario progression
  data/campaigns/Descent_Into_Darkness/scenarios/05_Schism.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07_A_Small_Favor.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/08_A_Small_Favor2.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/09_A_Small_Favor3.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/10_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/11_Descent_into_Darkness.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/12_Endless_Night.cfg
Labels: Campaign

DiD S5: small touchups
  data/campaigns/Descent_Into_Darkness/scenarios/05_Schism.cfg
Labels: Campaign

DiD S6: add some easter eggs
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
Labels: Campaign

Update units.cfg
  data/core/units.cfg
Labels: none

Update Burner.cfg
  data/core/units/dunefolk/Burner.cfg
Labels: Units

Update Herbalist.cfg
  data/core/units/dunefolk/Herbalist.cfg
Labels: Units
