Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

changelog: attempt to resolve merge conflict
  changelog.md
Labels: none

WoF: update map of S9
  data/campaigns/Winds_of_Fate/maps/09_Ancestor.map
Labels: Campaign

1.17.1.
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS, WML Tools

1.17.1+dev.
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  src/wesconfig.h
Labels: WML Tools

Lua: Fix a deprecation warning in the hex reference API
  data/lua/core/map.lua
Labels: Lua API

Lua: Fix incorrect check for string type
  data/lua/core/map.lua
Labels: Lua API

[+] Auto-generate hero list when neccessary
  data/campaigns/World_Conquest/lua/era/era.lua
Labels: Campaign

[-] Fix a bug that only map 1 can be generated in 4P
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

Drake description: 'in to' should be a single word in this context.
  data/core/units.cfg
Labels: none

Directions are not capitalised.
  data/campaigns/Son_Of_The_Black_Eye/scenarios/14_Back_Home.cfg
Labels: Campaign

Not aware of north-east Wesnoth being a special region used as a proper noun, so remove capitalisation.
  data/campaigns/Heir_To_The_Throne/scenarios/22_Return_to_Wesnoth.cfg
Labels: Campaign

SotBE: Proofread Pass (#6166)
  data/campaigns/Son_Of_The_Black_Eye/scenarios/01_End_of_Peace.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/03_Toward_Mountains_of_Haag.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/04_The_Siege_of_Barag_Gor.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/05_To_the_Harbor_of_Tirigaz.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/07_The_Desert_of_Death.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/08_Silent_Forest.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/09_Shan_Taum_the_Smug.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/10_Saving_Inarix.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/11_Clash_of_Armies.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/12_Giving_Some_Back.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/13_The_Dwarvish_Stand.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/14_Back_Home.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/15_Civil_War.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/16_The_Coward.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/17_The_Human_Attack.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/18_Northern_Alliance.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/19_Epilogue.cfg
Labels: Campaign

Drake description: 'in to' should be a single word in this context.
  data/core/units.cfg
Labels: none

Directions are not capitalised.
  data/campaigns/Son_Of_The_Black_Eye/scenarios/14_Back_Home.cfg
Labels: Campaign

Not aware of north-east Wesnoth being a special region used as a proper noun, so remove capitalisation.
  data/campaigns/Heir_To_The_Throne/scenarios/22_Return_to_Wesnoth.cfg
Labels: Campaign

DM S23: It makes more sense that Asheviere does not mention the attack on Sagus at all.
  data/campaigns/Delfadors_Memoirs/scenarios/23_Epilogue.cfg
Labels: Campaign

DM S23: It makes more sense that Asheviere does not mention the attack on Sagus at all.
  data/campaigns/Delfadors_Memoirs/scenarios/23_Epilogue.cfg
Labels: Campaign

Try to fix the issues with wesnoth.game_events.on_mouse_action
  src/mouse_events.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

Changelog entry
  changelog.md
Labels: none

Address some feedback
  src/mouse_events.cpp
Labels: none

Doxygen: fix mainpage links with Doxygen 1.9.1
  doc/doxygen/doxygen.cpp
Labels: Docs

Make the 4th player speak in map 1
  data/campaigns/World_Conquest/lua/map/scenario_utils/plot.lua
Labels: Campaign

Store add-on passwords in the credentials file as well.
  data/gui/window/addon_auth.cfg
  src/addon/client.cpp
  src/gui/dialogs/addon/addon_auth.cpp
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

Doxygen: fix mainpage links with Doxygen 1.9.1
  doc/doxygen/doxygen.cpp
Labels: Docs

updated British English translation
  changelog.md
  po/wesnoth-did/en_GB.po
  po/wesnoth-dm/en_GB.po
  po/wesnoth-dw/en_GB.po
  po/wesnoth-ei/en_GB.po
  po/wesnoth-help/en_GB.po
  po/wesnoth-httt/en_GB.po
  po/wesnoth-l/en_GB.po
  po/wesnoth-lib/en_GB.po
  po/wesnoth-low/en_GB.po
  po/wesnoth-manpages/en_GB.po
  po/wesnoth-nr/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-sota/en_GB.po
  po/wesnoth-sotbe/en_GB.po
  po/wesnoth-tb/en_GB.po
  po/wesnoth-thot/en_GB.po
  po/wesnoth-trow/en_GB.po
  po/wesnoth-tsg/en_GB.po
  po/wesnoth-tutorial/en_GB.po
  po/wesnoth-units/en_GB.po
  po/wesnoth-utbs/en_GB.po
  po/wesnoth-wc/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

macos: Update bundle copyright year
  projectfiles/Xcode/Info.plist
Labels: Building, macOS

macos: Update bundle copyright year
  projectfiles/Xcode/Info.plist
Labels: Building, macOS

macos: Use 1.16 changelog for 1.16 branch builds
  src/macosx/SDLMain.mm
Labels: macOS

Add larb0b to about.cfg
  data/core/about.cfg
Labels: none

Add larb0b to about.cfg
  data/core/about.cfg
Labels: none

Add egallager to about.cfg
  data/core/about.cfg
Labels: none

Add egallager to about.cfg
  data/core/about.cfg
Labels: none

wmlscope: allow reporting deprecated macro calls
  data/tools/wesnoth/wmltools3.py
  data/tools/wmlscope
Labels: WML Tools

Changelog entry
  changelog.md
Labels: none

Fix an incorrect macro argument reported by wmlscope
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

Fix a deprecated macro call
  data/core/macros/special-notes.cfg
Labels: none

wmlscope: allow reporting deprecated macro calls
  data/tools/wesnoth/wmltools3.py
  data/tools/wmlscope
Labels: WML Tools

Fix an incorrect macro argument reported by wmlscope
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

Fix a deprecated macro call
  data/core/macros/special-notes.cfg
Labels: none

Changelog entry
  changelog.md
Labels: none
