Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

GUI2/Tree View Node: used std::make_shared when possible
  src/gui/widgets/tree_view_node.hpp
Labels: UI

GUI2/Tree View [Node]: formatting cleanup
  src/gui/widgets/tree_view.cpp
  src/gui/widgets/tree_view_node.cpp
Labels: UI

GUI2/Tree View: use NOTIFY_MODIFIED events instead of manual callbacks
  src/gui/dialogs/campaign_selection.cpp
  src/gui/dialogs/gamestate_inspector.cpp
  src/gui/dialogs/help_browser.cpp
  src/gui/widgets/tree_view.cpp
  src/gui/widgets/tree_view.hpp
  src/gui/widgets/tree_view_node.cpp
  src/scripting/lua_gui2.cpp
Labels: Help, Lua API, UI

Removed macros deprecated at level 2 and 3
  data/core/macros/deprecated-utils.cfg
Labels: none

Removed a bunch of things deprecated at level 3
  src/game_initialization/create_engine.cpp
  src/gui/dialogs/multiplayer/mp_options_helper.cpp
Labels: UI

Removed deprecated put_unit arg orders
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Begone, MENU_IMG_TXT!
  data/core/macros/deprecated-utils.cfg
Labels: none

Removed deprecated objective text macros
  data/core/macros/deprecated-utils.cfg
Labels: none

GUI2: praise auto
  src/gui/core/canvas.cpp
  src/gui/core/event/distributor.cpp
  src/gui/core/notifier.hpp
  src/gui/core/timer.cpp
Labels: UI

GUI2: dropped a remaining t-prefix from a type
  src/gui/core/placer.cpp
  src/gui/core/placer.hpp
  src/gui/widgets/pane.cpp
  src/gui/widgets/pane.hpp
Labels: UI

Cleaned up a few unnecessary AI-related includes outside ai/
  src/gui/dialogs/multiplayer/mp_join_game.hpp
  src/gui/dialogs/multiplayer/mp_staging.cpp
  src/gui/dialogs/multiplayer/mp_staging.hpp
  src/synced_context.cpp
Labels: UI

IPFs: simplify ~TC() implementation
  src/image_modifications.cpp
Labels: none

Removed joystick code
  changelog.md
  data/advanced_preferences.cfg
  source_lists/libwesnoth
  src/controller_base.cpp
  src/controller_base.hpp
  src/game_launcher.cpp
  src/game_launcher.hpp
  src/hotkey/hotkey_item.cpp
  src/hotkey/hotkey_item.hpp
  src/joystick.cpp
  src/joystick.hpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/wesnoth.cpp
Labels: Building

Lobby Data: removed unused era_short field
  src/game_initialization/lobby_data.cpp
  src/game_initialization/lobby_data.hpp
Labels: none

Convert a bunch of C-style arrays to std::array
  src/addon/validation.cpp
  src/commandline_options.cpp
  src/game_initialization/connect_engine.cpp
  src/generators/lua_map_generator.cpp
  src/replay.cpp
  src/units/types.cpp
  src/units/unit.cpp
Labels: Units

Plugins/Context: removed C-style array ctor and use
  src/scripting/plugins/context.hpp
  src/wesnoth.cpp
Labels: Lua API

Sneaky C-style arrays be hiding
  src/scripting/game_lua_kernel.cpp
  src/units/types.cpp
Labels: Lua API, Units

Removed preference to disable halos
  changelog.md
  data/advanced_preferences.cfg
  src/display.cpp
  src/halo.cpp
  src/preferences/game.cpp
  src/preferences/game.hpp
Labels: none

GUI2: added display and execute wrappers for a bunch more dialogs
  src/addon/client.cpp
  src/formula/debugger.cpp
  src/game_initialization/depcheck.cpp
  src/game_initialization/multiplayer.cpp
  src/gui/dialogs/addon/install_dependencies.hpp
  src/gui/dialogs/chat_log.hpp
  src/gui/dialogs/depcheck_confirm_change.hpp
  src/gui/dialogs/formula_debugger.hpp
  src/gui/dialogs/game_save.hpp
  src/gui/dialogs/gamestate_inspector.hpp
  src/gui/dialogs/multiplayer/mp_change_control.hpp
  src/gui/dialogs/multiplayer/mp_staging.hpp
  src/gui/dialogs/multiplayer/synced_choice_wait.hpp
  src/gui/dialogs/transient_message.hpp
  src/menu_events.cpp
  src/scripting/lua_gui2.cpp
  src/synced_user_choice.cpp
Labels: Lua API, UI

GUI2/Grid: made use of std::exchange
  src/gui/widgets/grid.hpp
Labels: UI

Animated: simplified template stuff
  src/animated.hpp
  src/animated.tpp
Labels: none

Mouse Events: removed an override that only called the base method
  src/mouse_events.cpp
  src/mouse_events.hpp
Labels: none

Fixup 167f4a1a1e55c
  src/gui/widgets/pane.cpp
Labels: UI

Updated VS2019 projectfile
  projectfiles/VC16/wesnoth.vcxproj
  projectfiles/VC16/wesnoth.vcxproj.filters
Labels: Building

Update wesnoth.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

Update tests.cbp
  projectfiles/CodeBlocks/tests.cbp
Labels: Building

Update wesnoth.cbp
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
Labels: Building

Update wesnoth.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

Update wesnoth.cbp
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
Labels: Building

Update tests.cbp
  projectfiles/CodeBlocks/tests.cbp
Labels: Building

Removed C++14 feature macros
  src/config.hpp
  src/config_attribute_value.hpp
  src/formatter.hpp
  src/global.hpp
Labels: none

wmlxgettext: support double quotes in raw strings (fixes #4484)
  changelog.md
  data/tools/pywmlx/state/machine.py
  data/tools/pywmlx/state/wml_states.py
Labels: WML Tools

updated Portuguese (Brazil) translation
  po/wesnoth-l/pt_BR.po
  po/wesnoth-tb/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-l/pt_BR.po
  po/wesnoth-tb/pt_BR.po
Labels: Translations

updated French translation
  po/wesnoth-ai/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-tsg/fr.po
  po/wesnoth-wov/fr.po
Labels: Translations

updated French translation
  po/wesnoth-ai/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-tsg/fr.po
Labels: Translations

updated Korean translation
  po/wesnoth-editor/ko.po
Labels: Translations

updated Korean translation
  po/wesnoth-editor/ko.po
Labels: Translations

Fix Xcode build
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

updated Czech translation
  changelog.md
  po/wesnoth-ai/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth/cs.po
Labels: Translations
