Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

Keep laurel decorations consistent with difficulty level (resolves #8442).
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

Remove spurious if condition.
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

Keep laurel decorations consistent with difficulty level (resolves #8442).
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

Remove spurious if condition.
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

Set gold laurel first in case of only one difficulty setting.
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

Keep laurel decorations consistent with difficulty level (resolves #8442).
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

Remove spurious if condition.
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

Set gold laurel first in case of only one difficulty setting.
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

bugfix for gold/silver difficulties
  src/gui/dialogs/campaign_selection.cpp
Labels: UI

Update documentation
  data/gui/window/campaign_dialog.cfg
  src/gui/dialogs/campaign_selection.cpp
Labels: UI

DM S18: Add a po hint about grammatical tense of some text
  data/campaigns/Delfadors_Memoirs/scenarios/18_The_Portal_of_Doom.cfg
Labels: Campaign DM

Multiplayer: Add a po hint about "Matchmaking"
  data/gui/window/lobby_main.cfg
Labels: UI

Fix #8460 [effect] apply_to=variation
  src/units/unit.cpp
Labels: Units

f prev
  src/units/unit.cpp
Labels: Units

f prev
  src/units/unit.cpp
Labels: Units

f prev
  src/units/unit.cpp
Labels: Units

Bump vcpkg baseline
  vcpkg.json
Labels: none

f prev
  src/units/unit.cpp
Labels: Units

replays: also make 'play single move' stop on end turn
  src/replay_controller.cpp
Labels: none

remove unneeded map_start_ = {}
  src/play_controller.cpp
Labels: none

dont call after_human_turn() in linger()
  src/playmp_controller.cpp
Labels: none

Fix replay not automatically stopping at end
  src/playsingle_controller.cpp
  src/replay_controller.cpp
Labels: none

move victory_when_enemies_defeated around
  src/game_state.cpp
  src/game_state.hpp
  src/play_controller.cpp
  src/play_controller.hpp
Labels: none

add graph
  INSTALL.md
Labels: none

add graph
  INSTALL.md
Labels: none

Add map access typing to terrain_map
  utils/emmylua/wesnoth/map.lua
Labels: none

Update German translation
  data/core/about_i18n.cfg
  po/wesnoth-editor/de.po
  po/wesnoth-lib/de.po
Labels: Translations

Update German translation
  data/core/about_i18n.cfg
  po/wesnoth-editor/de.po
  po/wesnoth-lib/de.po
Labels: Translations

[LuaDoc] Declare terrain_map index-by-location operator
  utils/emmylua/wesnoth/map.lua
Labels: none

[LuaDoc] Use an alias for a sync function and declare every possible call form with @overload instead of specifying optional parameters
  utils/emmylua/wesnoth/sync.lua
Labels: none

[LuaDoc] Declare terrain_map index-by-location operator
  utils/emmylua/wesnoth/map.lua
Labels: none

[LuaDoc] Use an alias for a sync function and declare every possible call form with @overload instead of specifying optional parameters
  utils/emmylua/wesnoth/sync.lua
Labels: none

Use missing_mandatory_wml_tag instead of extra translatable strings
  src/gui/widgets/button.cpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/drawing.cpp
  src/gui/widgets/horizontal_scrollbar.cpp
  src/gui/widgets/image.cpp
  src/gui/widgets/label.cpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/menu_button.cpp
  src/gui/widgets/minimap.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multimenu_button.cpp
  src/gui/widgets/pane.cpp
  src/gui/widgets/panel.cpp
  src/gui/widgets/progress_bar.cpp
  src/gui/widgets/repeating_button.cpp
  src/gui/widgets/scroll_label.cpp
  src/gui/widgets/scrollbar_panel.cpp
  src/gui/widgets/slider.cpp
  src/gui/widgets/text_box.cpp
  src/gui/widgets/toggle_button.cpp
  src/gui/widgets/toggle_panel.cpp
  src/gui/widgets/tree_view.cpp
  src/gui/widgets/unit_preview_pane.cpp
  src/gui/widgets/vertical_scrollbar.cpp
  src/gui/widgets/viewport.cpp
Labels: UI

more copyright updates
  data/tools/addon_manager/html.py
  data/tools/helptrailer.html
  data/tools/unit_tree/html_output.py
Labels: WML Tools

more copyright updates
  data/tools/addon_manager/html.py
  data/tools/helptrailer.html
  data/tools/unit_tree/html_output.py
Labels: WML Tools

some changes in response to feedback
  data/campaigns/Northern_Rebirth/scenarios/07a_Settling_Disputes.cfg
  data/campaigns/Northern_Rebirth/scenarios/09a_Introductions.cfg
  data/campaigns/Northern_Rebirth/scenarios/10a_Stolen_Gold.cfg
  data/campaigns/Northern_Rebirth/scenarios/11a_The_Eastern_Flank.cfg
  data/campaigns/Northern_Rebirth/utils/utils.cfg
Labels: Campaign NR

addon: Add getters for the server identification
  src/addon/client.hpp
Labels: Add-ons

gui/addon_manager: Show server identification after the address
  changelog_entries/addon_server_id_ui.md
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, UI

The method is static, but these variables can't be.
  src/units/types.cpp
Labels: Units

The method is static, but these variables can't be.
  src/units/types.cpp
Labels: Units
