Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

updated Spanish translation
  changelog.md
  po/wesnoth-anl/es.po
  po/wesnoth-did/es.po
  po/wesnoth-dm/es.po
  po/wesnoth-dw/es.po
  po/wesnoth-editor/es.po
  po/wesnoth-ei/es.po
  po/wesnoth-help/es.po
  po/wesnoth-httt/es.po
  po/wesnoth-l/es.po
  po/wesnoth-lib/es.po
  po/wesnoth-low/es.po
  po/wesnoth-manpages/es.po
  po/wesnoth-manual/es.po
  po/wesnoth-multiplayer/es.po
  po/wesnoth-nr/es.po
  po/wesnoth-sof/es.po
  po/wesnoth-sota/es.po
  po/wesnoth-sotbe/es.po
  po/wesnoth-tb/es.po
  po/wesnoth-thot/es.po
  po/wesnoth-trow/es.po
  po/wesnoth-tsg/es.po
  po/wesnoth-tutorial/es.po
  po/wesnoth-units/es.po
  po/wesnoth-utbs/es.po
  po/wesnoth-wc/es.po
  po/wesnoth/es.po
Labels: Translations

updated Spanish translation
  changelog.md
  po/wesnoth-anl/es.po
  po/wesnoth-did/es.po
  po/wesnoth-dm/es.po
  po/wesnoth-dw/es.po
  po/wesnoth-editor/es.po
  po/wesnoth-ei/es.po
  po/wesnoth-help/es.po
  po/wesnoth-httt/es.po
  po/wesnoth-l/es.po
  po/wesnoth-lib/es.po
  po/wesnoth-low/es.po
  po/wesnoth-manpages/es.po
  po/wesnoth-manual/es.po
  po/wesnoth-multiplayer/es.po
  po/wesnoth-nr/es.po
  po/wesnoth-sof/es.po
  po/wesnoth-sota/es.po
  po/wesnoth-sotbe/es.po
  po/wesnoth-tb/es.po
  po/wesnoth-thot/es.po
  po/wesnoth-trow/es.po
  po/wesnoth-tsg/es.po
  po/wesnoth-tutorial/es.po
  po/wesnoth-units/es.po
  po/wesnoth-utbs/es.po
  po/wesnoth-wc/es.po
  po/wesnoth/es.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-dw/it.po
  po/wesnoth-help/it.po
  po/wesnoth-httt/it.po
  po/wesnoth-l/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-low/it.po
  po/wesnoth-multiplayer/it.po
  po/wesnoth-nr/it.po
  po/wesnoth-sota/it.po
  po/wesnoth-sotbe/it.po
  po/wesnoth-tb/it.po
  po/wesnoth-trow/it.po
  po/wesnoth-tutorial/it.po
  po/wesnoth-units/it.po
  po/wesnoth-utbs/it.po
  po/wesnoth/it.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-dw/it.po
  po/wesnoth-help/it.po
  po/wesnoth-httt/it.po
  po/wesnoth-l/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-low/it.po
  po/wesnoth-multiplayer/it.po
  po/wesnoth-nr/it.po
  po/wesnoth-sota/it.po
  po/wesnoth-sotbe/it.po
  po/wesnoth-tb/it.po
  po/wesnoth-trow/it.po
  po/wesnoth-tutorial/it.po
  po/wesnoth-units/it.po
  po/wesnoth-utbs/it.po
  po/wesnoth/it.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-thot/pt_BR.po
  po/wesnoth-wc/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-thot/pt_BR.po
  po/wesnoth-wc/pt_BR.po
  po/wesnoth/pt_BR.po
Labels: Translations

updated Turkish translation
  changelog.md
  po/wesnoth-anl/tr.po
  po/wesnoth-dw/tr.po
  po/wesnoth-editor/tr.po
  po/wesnoth-help/tr.po
  po/wesnoth-lib/tr.po
  po/wesnoth-multiplayer/tr.po
  po/wesnoth-sotbe/tr.po
  po/wesnoth-tb/tr.po
  po/wesnoth-tsg/tr.po
  po/wesnoth-tutorial/tr.po
  po/wesnoth/tr.po
Labels: Translations

updated Turkish translation
  changelog.md
  po/wesnoth-anl/tr.po
  po/wesnoth-dw/tr.po
  po/wesnoth-editor/tr.po
  po/wesnoth-help/tr.po
  po/wesnoth-lib/tr.po
  po/wesnoth-multiplayer/tr.po
  po/wesnoth-sotbe/tr.po
  po/wesnoth-tb/tr.po
  po/wesnoth-tsg/tr.po
  po/wesnoth-tutorial/tr.po
  po/wesnoth/tr.po
Labels: Translations

Add a prompt to migrate data from previous versions of wesnoth.
  data/gui/window/migrate_version_selection.cfg
  source_lists/wesnoth
  src/filesystem.cpp
  src/filesystem.hpp
  src/game_config.cpp
  src/game_config.hpp
  src/gui/dialogs/migrate_version_selection.cpp
  src/gui/dialogs/migrate_version_selection.hpp
  src/gui/dialogs/title_screen.cpp
  src/wesconfig.h
Labels: Building, UI

more work on scarab attack anims
  data/core/images/units/monsters/scarab/scarab-bite-1.png
  data/core/images/units/monsters/scarab/scarab-bite-2.png
  data/core/images/units/monsters/scarab/scarab-bite-3.png
  data/core/images/units/monsters/scarab/scarab-bite-4.png
  data/core/images/units/monsters/scarab/scarab-horn-3.png
  data/core/units/monsters/Scarab.cfg
Labels: Graphics, Units

make the fire guardian/wraith bob a bit to show floating
  data/core/units/monsters/Fire_Guardian.cfg
  data/core/units/monsters/Fire_Wraith.cfg
Labels: Units

Fix untranslatable string in advancefrom deprecated message
  src/game_config_manager.cpp
Labels: none

Say what the error is when a broken .po file stops Wesnoth starting
  src/gettext.cpp
Labels: none

Say what the error is when a broken .po file stops Wesnoth starting
  src/gettext.cpp
Labels: none

Say what the error is when a broken .po file stops Wesnoth starting
  src/gettext.cpp
Labels: none

wmlscope: do not report 'INTERNAL:' macros in the macro reference
  data/tools/wmlscope
Labels: WML Tools

wmlscope: document external docstring directive
  data/tools/wmlscope
Labels: WML Tools

wmlscope: allow defining external docstrings for inline macros
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

wmlscope: do not report 'INTERNAL:' macros in the macro reference
  data/tools/wmlscope
Labels: WML Tools

wmlscope: allow defining external docstrings for inline macros
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

wmlscope: document external docstring directive
  data/tools/wmlscope
Labels: WML Tools

Say what the error is when a broken .po file stops Wesnoth starting
  src/gettext.cpp
Labels: none

Add a unit test for wesnoth.current.synced_state
  data/test/scenarios/test_synced_state.cfg
  wml_test_schedule
Labels: Unit Tests

Make failure loading textdomains non-fatal
  src/gettext.cpp
Labels: none

Lua API: Include remaining vision in the output of find_vision_range
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Add a unit test for wesnoth.current.synced_state
  data/test/scenarios/test_synced_state.cfg
  wml_test_schedule
Labels: Unit Tests

Add a unit test for wesnoth.current.synced_state
  data/test/scenarios/test_synced_state.cfg
  wml_test_schedule
Labels: Unit Tests

Lua API: Add vision and jamming as unit attributes
  src/scripting/lua_unit.cpp
Labels: Lua API

Make failure loading textdomains non-fatal
  src/gettext.cpp
Labels: none

Make failure loading textdomains non-fatal
  src/gettext.cpp
Labels: none

Add a unit test for wesnoth.current.synced_state
  data/test/scenarios/test_synced_state.cfg
  wml_test_schedule
Labels: Unit Tests

Lua API: Fix crash if passing an out-of-bounds side to wesnoth.interface.end_turn
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Lua API: Add function to get the current color adjust
  src/display.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

Lua API: Use the named tuple idiom for WML tags
  data/lua/core/wml.lua
  src/scripting/lua_common.cpp
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Lua API: Add wesnoth.sides.iter
  data/lua/core/sides.lua
  data/lua/helper.lua
Labels: Lua API

Lua API: Deprecate helper.set_wml_action_metatable
  data/lua/core/wml.lua
  data/lua/helper.lua
Labels: Lua API

Lua API: Fix side.side_name = side.side_name changing the side name
  src/team.hpp
Labels: none

Lua API: Add wesnoth.map.iter_adjacent
  data/lua/core/map.lua
  data/lua/helper.lua
Labels: Lua API

Lua: Update all mainline references to the helper module
  data/ai/lua/ai_helper.lua
  data/ai/lua/battle_calcs.lua
  data/ai/lua/ca_high_xp_attack.lua
  data/ai/lua/ca_move_to_any_enemy.lua
  data/ai/lua/retreat.lua
  data/ai/micro_ais/cas/ca_assassin_move.lua
  data/ai/micro_ais/cas/ca_big_animals.lua
  data/ai/micro_ais/cas/ca_bottleneck_move.lua
  data/ai/micro_ais/cas/ca_coward.lua
  data/ai/micro_ais/cas/ca_fast_combat_leader.lua
  data/ai/micro_ais/cas/ca_goto.lua
  data/ai/micro_ais/cas/ca_herding_f_herding_area.lua
  data/ai/micro_ais/cas/ca_herding_sheep_move.lua
  data/ai/micro_ais/cas/ca_hunter.lua
  data/ai/micro_ais/cas/ca_messenger_attack.lua
  data/ai/micro_ais/cas/ca_recruit_random.lua
  data/ai/micro_ais/cas/ca_stationed_guardian.lua
  data/ai/micro_ais/cas/ca_wolves_multipacks_attack.lua
  data/ai/micro_ais/cas/ca_zone_guardian.lua
  data/ai/micro_ais/engines/priority_target_engine.lua
  data/campaigns/Delfadors_Memoirs/utils/sides.cfg
  data/campaigns/Eastern_Invasion/lua/bandits.lua
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
  data/campaigns/Son_Of_The_Black_Eye/ai/ca_transport_S6.lua
  data/campaigns/The_Hammer_of_Thursagan/lua/spawns.lua
  data/campaigns/The_Hammer_of_Thursagan/scenarios/05_Fear.cfg
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
  data/campaigns/World_Conquest/lua/game_mechanics/bonus.lua
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/game_mechanics/heroes.lua
  data/campaigns/World_Conquest/lua/map/main.lua
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
  data/lua/wml-tags.lua
  data/lua/wml/animate_unit.lua
  data/lua/wml/harm_unit.lua
  data/lua/wml/kill.lua
  data/lua/wml/store_reachable_locations.lua
  data/test/scenarios/test_require.cfg
Labels: AI, Campaign, Lua API, Unit Tests

Lua API: Deprecate the helper.lua module itself
  data/lua/helper.lua
Labels: Lua API

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
