Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

copyrights update
  copyrights.csv
Labels: none

Remove transparent padding from the status icon image files.
  data/campaigns/Under_the_Burning_Suns/images/misc/dazed-status-icon.png
  data/campaigns/Under_the_Burning_Suns/images/misc/stunned-status-icon.png
  data/core/images/misc/stunned-status-icon.png
  images/misc/invisible.png
  images/misc/invulnerable.png
  images/misc/petrified.png
  images/misc/poisoned.png
  images/misc/slowed.png
  images/misc/unhealable.png
  src/display.cpp
  src/sdl/utils.cpp
Labels: Campaign UtBS, Graphics

Force the UI to update fully when changing addon filters
  src/gui/widgets/listbox.cpp
Labels: UI

Deprecate ai_helper.split
  data/ai/lua/ai_helper.lua
Labels: AI

Fix shallow_literal/shallow_parsed not returning named tuples for the WML tags
  src/scripting/lua_common.cpp
Labels: Lua API

Avoid linebreak in title text of help pages
  src/help/help_impl.cpp
Labels: Help

SoF S02: Don't [allow_undo] when activating the runes
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign SoF

Use -Wno-dangling-reference when building with GCC-13
  CMakeLists.txt
  SConstruct
Labels: Building, CMake, SCons

Konrad on a sand hex ends the scenario
  data/campaigns/Heir_To_The_Throne/scenarios/11_The_Ford_of_Abez.cfg
Labels: Campaign HttT

Use -Wno-dangling-reference when building with GCC-13
  CMakeLists.txt
  SConstruct
Labels: Building, CMake, SCons

remove nonsensial comment
  src/replay_controller.cpp
Labels: none

Fix how update_copyrights writes fields with commas
  copyrights.csv
  update_copyrights
Labels: none

Check for and fix copyrights.csv rows with wrong numbers of fields
  copyrights.csv
  update_copyrights
Labels: none

Konrad on a sand hex does not end the scenario
  data/campaigns/Heir_To_The_Throne/scenarios/11_The_Ford_of_Abez.cfg
Labels: Campaign HttT

documentation update
  data/gui/widget/combobox_default.cfg
  data/gui/widget/multiline_text_default.cfg
  data/gui/widget/scroll_text_default.cfg
  data/gui/widget/scroll_text_verbatim.cfg
  data/gui/widget/spinner_default.cfg
Labels: UI

Wrap Lua pcall() and xpcall() to rethrow jailbreak exceptions
  changelog_entries/system_lua.md
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Log all Lua errors
  changelog_entries/system_lua.md
  src/scripting/lua_common.cpp
Labels: Lua API

Remove old LUA_COMPAT_* macros from src/wesnoth_lua_config.h
  src/wesnoth_lua_config.h
Labels: none

Mark lua_jailbreak_exception's derived classes and functions as final
  src/game_end_exceptions.hpp
  src/gui/auxiliary/iterator/exception.hpp
  src/image_modifications.hpp
  src/lua_jailbreak_exception.hpp
  src/menu_events.hpp
  src/playsingle_controller.cpp
  src/playsingle_controller.hpp
  src/savegame.hpp
  src/video.hpp
  src/wesnothd_connection_error.hpp
  src/wml_exception.hpp
Labels: UI

Add FindLua.cmake and include()d modules
  cmake/FindLua.cmake
  cmake/FindPackageHandleStandardArgs.cmake
  cmake/FindPackageMessage.cmake
Labels: Building, CMake

Rename src/lua/*.h to src/lua/wrapper_*.h
  src/ai/default/aspect_attacks.cpp
  src/ai/lua/aspect_advancements.cpp
  src/ai/lua/core.cpp
  src/ai/lua/lua_object.cpp
  src/ai/lua/lua_object.hpp
  src/build_info.cpp
  src/lua/wrapper_lauxlib.h
  src/lua/wrapper_lua.h
  src/lua/wrapper_lualib.h
  src/scripting/application_lua_kernel.cpp
  src/scripting/debug_lua.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_audio.cpp
  src/scripting/lua_color.cpp
  src/scripting/lua_common.cpp
  src/scripting/lua_cpp_function.cpp
  src/scripting/lua_formula_bridge.cpp
  src/scripting/lua_gui2.cpp
  src/scripting/lua_kernel_base.cpp
  src/scripting/lua_map_location_ops.cpp
  src/scripting/lua_mathx.cpp
  src/scripting/lua_pathfind_cost_calculator.hpp
  src/scripting/lua_preferences.cpp
  src/scripting/lua_race.cpp
  src/scripting/lua_rng.cpp
  src/scripting/lua_stringx.cpp
  src/scripting/lua_team.cpp
  src/scripting/lua_terrainfilter.cpp
  src/scripting/lua_terrainmap.cpp
  src/scripting/lua_unit.cpp
  src/scripting/lua_unit_attacks.cpp
  src/scripting/lua_unit_type.cpp
  src/scripting/lua_widget.cpp
  src/scripting/lua_widget_attributes.cpp
  src/scripting/lua_widget_methods.cpp
  src/scripting/lua_wml.cpp
  src/scripting/mapgen_lua_kernel.cpp
  src/scripting/push_check.hpp
Labels: AI, Lua API

Store jailbreak exceptions in constructors, not in LUAI_TRY()
  changelog_entries/system_lua.md
  src/game_end_exceptions.hpp
  src/gui/auxiliary/iterator/exception.hpp
  src/image_modifications.cpp
  src/lua_jailbreak_exception.cpp
  src/lua_jailbreak_exception.hpp
  src/menu_events.hpp
  src/playsingle_controller.hpp
  src/savegame.hpp
  src/scripting/lua_common.cpp
  src/video.hpp
  src/wesnoth_lua_config.h
  src/wesnothd_connection_error.hpp
  src/wml_exception.hpp
Labels: Lua API, UI

Modify FindLua.cmake to find Lua compiled as C++
  cmake/FindLua.cmake
Labels: Building, CMake

[LuaDoc] Fix failure to detect that the string type's metatable was overridden
  utils/emmylua/stringx.lua
Labels: none

[LuaDoc] Fix several minor errors in the specification of API
  data/lua/core/_initial.lua
  data/lua/core/mathx.lua
  data/lua/core/wml.lua
  utils/emmylua/wesnoth.lua
Labels: Lua API

[LuaDoc] Add annotations for micro_ai_self_data.lua
  data/ai/micro_ais/micro_ai_self_data.lua
Labels: AI

[LuaDoc] Fix several errors in the inline documentation
  data/lua/core/map.lua
  data/lua/core/wml.lua
  data/lua/functional.lua
  data/lua/location_set.lua
  data/lua/on_event.lua
  data/lua/wml/items.lua
  utils/emmylua/ai.lua
  utils/emmylua/builtin.lua
  utils/emmylua/filesystem.lua
  utils/emmylua/gui.lua
  utils/emmylua/stringx.lua
  utils/emmylua/wesnoth.lua
  utils/emmylua/wesnoth/audio.lua
  utils/emmylua/wesnoth/game_events.lua
  utils/emmylua/wesnoth/interface.lua
  utils/emmylua/wesnoth/map.lua
  utils/emmylua/wesnoth/paths.lua
  utils/emmylua/wesnoth/schedule.lua
  utils/emmylua/wesnoth/sides.lua
  utils/emmylua/wesnoth/sync.lua
  utils/emmylua/wesnoth/units.lua
  utils/emmylua/wml.lua
Labels: Lua API

[LuaDoc] Document the third element of the location triple returned from paths.find_reach
  utils/emmylua/wesnoth/paths.lua
Labels: none

[LuaDoc] Document ndirs member of a directory listing
  utils/emmylua/filesystem.lua
Labels: none

[LuaDoc] Avoid "Missing required fields" warnings by annotating the fields as optional.
  utils/emmylua/wesnoth/game_events.lua
  utils/emmylua/wesnoth/interface.lua
  utils/emmylua/wesnoth/map.lua
  utils/emmylua/wesnoth/paths.lua
  utils/emmylua/wesnoth/units.lua
Labels: none

[LuaDoc] Add comments for micro_ai_helper.lua
  data/ai/micro_ais/micro_ai_helper.lua
Labels: AI

[LuaDoc] Document location_set operators
  data/lua/location_set.lua
Labels: Lua API

[LuaDoc] Add unit.loc field
  utils/emmylua/wesnoth/units.lua
Labels: none

[LuaDoc] Title is optional for alert/confirm
  data/lua/core/gui.lua
Labels: Lua API

[LuaDoc] mathx.random_choice can return nil if the input list is empty
  data/lua/core/mathx.lua
Labels: Lua API

scrollbar movement improved
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.hpp
Labels: UI

[LuaDoc] Add a type alias for a compiled formula function
  utils/emmylua/wesnoth.lua
Labels: none

Check for and fix copyrights.csv rows with wrong numbers of fields
  copyrights.csv
  update_copyrights
Labels: none

Fix how update_copyrights writes fields with commas
  copyrights.csv
  update_copyrights
Labels: none

SoF S02: Alanin has planned (unshrouded) his escape route
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign SoF
