Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

initial attempt at applying my patches
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg.rej
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Body.cfg.rej
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Minion.cfg.rej
Labels: Campaign UtBS, Units

try wiggling in the remaining rejects files
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg.rej
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg.rej
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Body.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Body.cfg.rej
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Minion.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Minion.cfg.rej
Labels: Campaign UtBS, Units

Recreate 11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
Labels: Campaign UtBS

Update 08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign UtBS

EI S01, S13: Fix Gaennell's gender
  data/campaigns/Eastern_Invasion/scenarios/01_Eastern_Invasion.cfg
  data/campaigns/Eastern_Invasion/scenarios/13_Spoils_of_War.cfg
Labels: Campaign EI

to squash: EI update po hints
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
  data/campaigns/Eastern_Invasion/scenarios/18_Epilogue.cfg
Labels: Campaign EI

HttT S16, S19a, S19b and S22: Map embellishments
  changelog.md
  data/campaigns/Heir_To_The_Throne/maps/16_Hasty_Alliance.map
  data/campaigns/Heir_To_The_Throne/maps/19a_Snow_Plains.map
  data/campaigns/Heir_To_The_Throne/maps/19b_Swamp_Of_Dread.map
  data/campaigns/Heir_To_The_Throne/maps/22_Return_to_Wesnoth.map
Labels: Campaign HttT

fix comment spelling
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign WC

wc: fix #6513 Bezoar artifact (#8340)
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign WC

EI S11-S18: Add more PO hints
  data/campaigns/Eastern_Invasion/scenarios/04a_An_Elven_Interlude.cfg
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
  data/campaigns/Eastern_Invasion/scenarios/13_Spoils_of_War.cfg
  data/campaigns/Eastern_Invasion/scenarios/14_The_Drowned_Plains.cfg
  data/campaigns/Eastern_Invasion/scenarios/15_Return_to_Wesnoth.cfg
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
  data/campaigns/Eastern_Invasion/scenarios/17a_The_Duel.cfg
  data/campaigns/Eastern_Invasion/scenarios/17b_All-In.cfg
  data/campaigns/Eastern_Invasion/scenarios/18_Epilogue.cfg
  data/campaigns/Eastern_Invasion/scenarios/99_Empire.cfg
Labels: Campaign EI

DiD S10: Fix missing line in human heroes' book endings
  data/campaigns/Descent_Into_Darkness/scenarios/10_Endless_Night.cfg
Labels: Campaign DiD

UtBS S05: Use enter_hex so events cannot be triggered out-of-sequence
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign UtBS

UtBS S01: Improve event/dialog consistency regardless of trigger order
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
Labels: Campaign UtBS

UtBS S05: Stop moving when sighting ants and dwarf
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign UtBS

HttT S06: Make Elensefar's defenses look damaged by the Orcish siege
  data/campaigns/Heir_To_The_Throne/maps/06_The_Siege_of_Elensefar.map
Labels: Campaign HttT

DiD S10: Fix missing line in human heroes' book endings
  data/campaigns/Descent_Into_Darkness/scenarios/10_Endless_Night.cfg
Labels: Campaign DiD

UtBS Units: Fighter line adjustments
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Champion.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Fighter.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Flanker.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Ranger.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Warrior.cfg
Labels: Campaign UtBS, Units

UtBS Heroes: Taunting Strike xp farm fix
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

gui: Make plain button text labels vertically centered again
  data/gui/widget/button_default.cfg
Labels: UI

UtBS Heroes: Taunting Strike xp farm fix
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

UtBS Units: Fighter line adjustments
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Champion.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Fighter.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Flanker.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Ranger.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Warrior.cfg
Labels: Campaign UtBS, Units

address some things noticed in review
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
Labels: Campaign UtBS

Revert IPF string handling optimisations
  src/about.cpp
  src/image_modifications.cpp
  src/scripting/lua_kernel_base.cpp
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
  src/utils/from_chars.hpp
Labels: Lua API

update set_cursor method to allow correct override
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
Labels: UI

Fix increase by percentage returns 1 if experience or max_experience are equal to zero
  data/test/scenarios/wml_tests/UnitsWML/increase_experience_by_percentage.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units

Update changelog, merge changelog_entries
  changelog.md
  changelog_entries/8214.md
  changelog_entries/gettext_gender.md
  changelog_entries/system_lua.md
Labels: none

Revert IPF string handling optimisations
  src/about.cpp
  src/image_modifications.cpp
  src/scripting/lua_kernel_base.cpp
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
  src/utils/from_chars.hpp
Labels: Lua API

update comment
  src/gui/widgets/multiline_text.hpp
Labels: UI

Fix increase by percentage returns 1 if experience is equal to zero (#8425)
  data/test/scenarios/wml_tests/UnitsWML/increase_experience_by_percentage.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units

Fix multiline_text's overriding of set_cursor (#8418)
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.hpp
Labels: UI

Remove new strings that were used for VALIDATE_WML_CHILD
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/spinner.cpp
  src/wml_exception.cpp
  src/wml_exception.hpp
Labels: UI

Remove new strings that were used for VALIDATE_WML_CHILD
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/spinner.cpp
  src/wml_exception.cpp
  src/wml_exception.hpp
Labels: UI

update add-on server port for 1.18
  src/addon/validation.cpp
Labels: Add-ons

update add-on server port for 1.18, also here
  data/tools/wesnoth/campaignserver_client.py
Labels: WML Tools

1.17.26
  changelog.md
  data/tools/wesnoth/version.py
  doc/doxygen/Doxyfile
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, Docs, macOS, WML Tools

sync with 1.16 changelog
  changelog.md
Labels: none

1.17.26+dev
  changelog.md
  data/tools/wesnoth/version.py
  doc/doxygen/Doxyfile
  src/wesconfig.h
Labels: Docs, WML Tools

1.19.0-dev
  changelog.md
  data/tools/wesnoth/version.py
  doc/doxygen/Doxyfile
  src/wesconfig.h
Labels: Docs, WML Tools

Revert "Revert IPF string handling optimisations"
  src/about.cpp
  src/image_modifications.cpp
  src/scripting/lua_kernel_base.cpp
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
  src/utils/from_chars.hpp
Labels: Lua API

needs GCC 8 now
  INSTALL.md
Labels: none

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
