Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

[WIP] New tweening-based API for the outro screen
  source_lists/wesnoth
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
  src/utils/easings.cpp
  src/utils/easings.hpp
  src/utils/tweened_value.cpp
  src/utils/tweened_value.hpp
Labels: Building, UI

asdfghjkl
  source_lists/wesnoth
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
Labels: Building, UI

Add "swamp reed" images to EI Drowned Plains
  data/campaigns/Eastern_Invasion/images/scenery/swamp-reeds1.png
  data/campaigns/Eastern_Invasion/images/scenery/swamp-reeds2.png
  data/campaigns/Eastern_Invasion/images/scenery/swamp-reeds3.png
  data/campaigns/Eastern_Invasion/images/scenery/swamp-reeds4.png
  data/campaigns/Eastern_Invasion/images/scenery/swamp-reeds5.png
Labels: Campaign EI, Graphics

EI S14 - Indicate uncleared swamp hexes with "swap reed" images
  data/campaigns/Eastern_Invasion/scenarios/14_The_Drowned_Plains.cfg
Labels: Campaign EI

EI S05: fade to silence when recounting the priestess's death
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
Labels: Campaign EI

tweak for chaning skip button location
  src/gui/dialogs/story_viewer.cpp
Labels: UI

SotA S16: Keep Crelanu within his ring of protective holy waters. Resolves #8361.
  data/campaigns/Secrets_of_the_Ancients/scenarios/16_The_Mage.cfg
Labels: Campaign SotA

SotA S16: Keep Crelanu within his ring of protective holy waters. Resolves #8361.
  changelog_entries/sota_crelanu.md
  data/campaigns/Secrets_of_the_Ancients/scenarios/16_The_Mage.cfg
Labels: Campaign SotA

skele_dragon: remove ancient comment
  data/core/units/monsters/Skeletal_Dragon.cfg
Labels: Units

fix math include necessary in game_config.cpp for compile file.
  src/game_config.cpp
Labels: none

fix math include necessary in game_config.cpp for compile file. (#8542)
  src/game_config.cpp
Labels: none

EI S14: fix indentation
  data/campaigns/Eastern_Invasion/scenarios/14_The_Drowned_Plains.cfg
Labels: Campaign EI

EI S05: remove extra whitespace
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
Labels: Campaign EI

Change the list check from [damage_type] to a system that takes into account the opponent's sensitivity
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_damage_type.cfg
  src/units/abilities.cpp
Labels: Unit Tests, Units

change cheking list for alternative_type only
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_damage_type.cfg
  src/units/abilities.cpp
Labels: Unit Tests, Units

Add -Wno-shorten-64-to-32 to compiler flags in Xcode
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Add -Wno-shorten-64-to-32 to compiler flags in Xcode
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

SotA S16: Keep Crelanu within his ring of protective holy waters. Resolves #8361.
  changelog_entries/sota_crelanu.md
  data/campaigns/Secrets_of_the_Ancients/scenarios/16_The_Mage.cfg
Labels: Campaign SotA

Changelog for SotA S16: Keep Crelanu within his ring
  changelog_entries/sota_crelanu.md
Labels: none

Set distribution channel for flatpak CI build
  .github/workflows/ci-main.yml
Labels: none

Changelog for SotA S16: Keep Crelanu within his ring
  changelog_entries/sota_crelanu.md
Labels: none

EI S05: fade to silence when recounting the priestess's death
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
Labels: Campaign EI

Add -Wno-shorten-64-to-32 to compiler flags in Xcode
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Add -Wno-shorten-64-to-32 to compiler flags in Xcode
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

EI S05 - fix indentation
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
Labels: Campaign EI

Liberty: add custom unit images for lord maddock
  data/campaigns/Liberty/images/units/maddock/maddock-armed.png
  data/campaigns/Liberty/images/units/maddock/maddock-defend1.png
  data/campaigns/Liberty/images/units/maddock/maddock-defend2.png
  data/campaigns/Liberty/images/units/maddock/maddock-sword1.png
  data/campaigns/Liberty/images/units/maddock/maddock-sword2.png
  data/campaigns/Liberty/images/units/maddock/maddock-sword3.png
  data/campaigns/Liberty/images/units/maddock/maddock-sword4.png
  data/campaigns/Liberty/images/units/maddock/maddock.png
Labels: Campaign L, Graphics

Liberty - upload maddock custom unit .cfg
  data/campaigns/Liberty/units/Maddock.cfg
Labels: Campaign L, Units

Liberty: scenario 4 use custom maddock unit
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
Labels: Campaign L

Liberty: fix incorrect texdomain in Maddock.cfg
  data/campaigns/Liberty/units/Maddock.cfg
Labels: Campaign L, Units

Liberty: remove whitespace from Maddock.cfg
  data/campaigns/Liberty/units/Maddock.cfg
Labels: Campaign L, Units

Set distribution channel for flatpak
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

WoF: adjust music
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/campaigns/Winds_of_Fate/scenarios/04_Journey.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
  data/campaigns/Winds_of_Fate/scenarios/12_Epilogue.cfg
Labels: Campaign WoF

fix tags and secondary_author for pbl editor
  src/gui/dialogs/editor/edit_pbl.cpp
Labels: UI

Let the new manifest handle data/dist creation
  .github/workflows/ci-main.yml
Labels: none

validate addon name when first entered as well
  src/editor/editor_main.cpp
Labels: Editor

Skeletal Dragon: updated stats
  data/core/units/monsters/Skeletal_Dragon.cfg
Labels: Units

WoF S9: move crannog village in from map edge
  data/campaigns/Winds_of_Fate/maps/09_Ancestor.map
  data/campaigns/Winds_of_Fate/maps/11_Crosswind.map
  data/campaigns/Winds_of_Fate/maps/HM_Master.map
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

Add yellow and pink color_range
  data/core/team-colors.cfg
Labels: none

WoF: adjust music
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/campaigns/Winds_of_Fate/scenarios/04_Journey.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
  data/campaigns/Winds_of_Fate/scenarios/12_Epilogue.cfg
Labels: Campaign WoF

Let the new manifest handle data/dist creation
  .github/workflows/ci-main.yml
Labels: none

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
