Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

add 'ability_id_active' attribute to filter
  data/schema/filters/unit.cfg
  src/units/filter.cpp
Labels: Schema, Units

add description in changelog
  changelog.md
Labels: none

Integrate canvas's and pango_text's "only draw the visible area" features
  changelog.md
  src/gui/core/canvas.cpp
Labels: UI

Remove obsolete comment
  src/units/unit.cpp
Labels: Units

Remove extraneous translation marks from tests.
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership_fail.cfg
Labels: Unit Tests

Adding Isle of Mists, a new MP 2p survival scenario
  data/multiplayer/maps/2p_Isle_of_Mists_basic.map
  data/multiplayer/maps/2p_Isle_of_Mists_drought.map
  data/multiplayer/maps/2p_Isle_of_Mists_rain.map
  data/multiplayer/maps/2p_Isle_of_Mists_secondrain.map
  data/multiplayer/maps/2p_Isle_of_Mists_secondsnow.map
  data/multiplayer/maps/2p_Isle_of_Mists_snow.map
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

minor fixes for porting errors
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

run wmlindent
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
Labels: MP

Write displayed fps values to disk.
  src/display.cpp
  src/display.hpp
  src/filesystem.cpp
  src/filesystem.hpp
Labels: none

Changelog update.
  changelog.md
Labels: none

Make command-line option --language never require --all-translations
  src/game_launcher.cpp
  src/language.cpp
  src/language.hpp
Labels: none

Only render the visible area in canvas.cpp
  changelog.md
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
  src/gui/core/canvas_private.hpp
Labels: UI

Render only a viewport area in pango_text and text_shape
  changelog.md
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
Labels: UI

Make command-line option --language never require --all-translations
  src/game_launcher.cpp
  src/language.cpp
  src/language.hpp
Labels: none

Remove obsolete code path
  src/seed_rng.cpp
Labels: none

updated IoM files
  data/multiplayer/scenarios/2p_Isle_of_Mists.cfg
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: MP

Fix cmake warning.
  .github/workflows/ci-scripts/docker.sh
Labels: none

Remove orphaned declarations of removed functions
  src/scripting/lua_gui2.hpp
Labels: Lua API

updated Italian translation
  po/wesnoth-ei/it.po
  po/wesnoth-help/it.po
  po/wesnoth-units/it.po
Labels: Translations

updated Italian translation
  po/wesnoth-help/it.po
Labels: Translations

Add files via upload
  po/wesnoth-did/pl.po
Labels: Translations

add Black Horse, first draft
  data/core/images/units/monsters/horse/horse-larger+female.png
  data/core/images/units/monsters/horse/horse-larger-attack1.png
  data/core/images/units/monsters/horse/horse-larger-attack2.png
  data/core/images/units/monsters/horse/horse-larger-attack3.png
  data/core/images/units/monsters/horse/horse-larger-attack4.png
  data/core/images/units/monsters/horse/horse-larger-attack5.png
  data/core/images/units/monsters/horse/horse-larger-attack6.png
  data/core/images/units/monsters/horse/horse-larger-attack7.png
  data/core/images/units/monsters/horse/horse-larger-defend-1.png
  data/core/images/units/monsters/horse/horse-larger-defend-2.png
  data/core/images/units/monsters/horse/horse-larger.png
  data/core/units/monsters/Horse.cfg
  data/core/units/monsters/Horse_Black.cfg
Labels: Graphics, Units

Make whitespace fixing a script.
  .github/workflows/ci-scripts/docker.sh
  utils/CI/fix_whitespace.sh
Labels: none

[world conquest] Restored 2 instances of wml.parsed
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/engine.lua
Labels: Campaign

[world conquest] fix remaining deprecated code usage
  data/campaigns/World_Conquest/changelog.txt
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6D_Feudal.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/engine.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/events.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/noise.lua
Labels: Campaign

sed doesn't work quite the same on macOS.
  utils/CI/fix_whitespace.sh
Labels: none

various work on horses
  data/core/images/portraits/monsters/horse.png
  data/core/images/portraits/monsters/nightmare.png
  data/core/images/units/monsters/horse/horse-larger+female.png
  data/core/images/units/monsters/horse/horse-larger.png
  data/core/units/monsters/Horse.cfg
  data/core/units/monsters/Horse_Black.cfg
  data/core/units/monsters/Horse_Great.cfg
Labels: Graphics, Units

fix anerror
  data/core/macros/deprecated-utils.cfg
Labels: none

Fix teaching_anim not implmmented in variation_id=sceptre of Httt Princes and Battle Princess
  data/campaigns/Heir_To_The_Throne/units/Battle_Princess.cfg
  data/campaigns/Heir_To_The_Throne/units/Princess.cfg
  data/core/macros/deprecated-utils.cfg
Labels: Campaign, Units

campaignd: Fix erroneous error message text
  src/server/campaignd/server.cpp
Labels: Add-ons

Whitespace fixes for no newline at end of file
  data/lua/core/interface.lua
  data/lua/core/persistent_tags.lua
  data/lua/core/sides.lua
  data/lua/core/unit_test.lua
  data/lua/core/units.lua
  data/lua/wml/harm_unit.lua
  src/gui/dialogs/server_info_dialog.cpp
  src/gui/dialogs/server_info_dialog.hpp
  src/key.cpp
  src/scripting/lua_color.hpp
  src/scripting/lua_ptr.hpp
  src/scripting/lua_widget_attributes.cpp
  src/server/common/resultsets/rs_base.hpp
  src/units/type_error.hpp
  src/wesnoth.cpp
Labels: Add-ons, Lua API, MP, UI, Units

add wml_test
  data/test/scenarios/ability_id_active_test.cfg
  wml_test_schedule
Labels: Unit Tests

Update desciption in swarm_disables_upgrades_with_abilities tests.
  data/test/scenarios/swarm_disables_upgrades_with_abilities.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_fail.cfg
Labels: Unit Tests

remove extra spaces
  src/units/filter.cpp
Labels: Units

Fix deprecation message
  data/lua/core/units.lua
Labels: Lua API

update flatpak manifest because boost download url changed
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

add 'ability_id_active' attribute to filter (#5739)
  changelog.md
  data/schema/filters/unit.cfg
  data/test/scenarios/ability_id_active_test.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_fail.cfg
  src/units/filter.cpp
  wml_test_schedule
Labels: Schema, Unit Tests, Units

Rewrite the WML unit test for sighted events
  data/test/scenarios/sighted_events.cfg
  wml_test_schedule
Labels: Unit Tests

Rewrite the WML unit test for sighted events
  data/test/scenarios/sighted_events.cfg
  wml_test_schedule
Labels: Unit Tests

Use cmake to create VS project files.
  .github/workflows/ci-main.yml
  .gitignore
  CMakeLists.txt
  INSTALL.md
  projectfiles/VC16/README.md
  projectfiles/VC16/campaignd.vcxproj
  projectfiles/VC16/campaignd.vcxproj.filters
  projectfiles/VC16/files_with_deactivated_warnings.txt
  projectfiles/VC16/liblua.vcxproj
  projectfiles/VC16/liblua.vcxproj.filters
  projectfiles/VC16/wesnoth.sln
  projectfiles/VC16/wesnoth.vcxproj
  projectfiles/VC16/wesnoth.vcxproj.filters
  projectfiles/VC16/wesnothd.vcxproj
  projectfiles/VC16/wesnothd.vcxproj.filters
  projectfiles/VC16/wesnothlib.vcxproj
  projectfiles/VC16/wesnothlib.vcxproj.filters
  source_lists/libwesnoth
  source_lists/libwesnoth_core
  source_lists/lua
  source_lists/wesnoth
  src/CMakeLists.txt
  src/lexical_cast.hpp
  src/tests/test_lexical_cast.cpp
  src/tests/test_rng.cpp
  src/tests/test_serialization.cpp
  vcpkg.json
Labels: Building, CMake
