Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

simplify the code
  src/gui/dialogs/unit_attack.cpp
  src/units/abilities.cpp
  src/units/attack_type.hpp
Labels: UI, Units

remove static pair function
  src/units/abilities.cpp
Labels: Units

replace pair method with storing of result
  src/units/abilities.cpp
Labels: Units

add doxygen and simplify method
  src/units/abilities.cpp
Labels: Units

Fix for #6173
  data/campaigns/Delfadors_Memoirs/scenarios/07_Night_in_the_Swamp.cfg
  data/campaigns/Delfadors_Memoirs/utils/generators.cfg
Labels: Campaign

modify static function and reword change "w_abilities" to "weapon_abilities"
  src/units/abilities.cpp
Labels: Units

modify static function and reword "w_abilities" to "weapon_abilities"
  src/units/abilities.cpp
Labels: Units

Fix color_adjust requiring all keys
  data/lua/wml-tags.lua
Labels: Lua API

Addressing Wedge009's comments. Closes #6173
  data/campaigns/Delfadors_Memoirs/utils/generators.cfg
Labels: Campaign

Chest will now be automatically obtained in case the player misses it (Closes #6141)
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
Labels: Campaign

Avoid event taking away a village just captured by the player.
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign

Avoid event taking away a village just captured by the player.
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign

Update steamrt docker builds
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
  utils/dockerbuilds/make_steam_image
Labels: none

gui2/title_screen: Fix edge case with "c.UTF-8" on the Language button
  src/gui/dialogs/title_screen.cpp
Labels: UI

Changed placeholder unit to fog clearer
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
  data/campaigns/Sceptre_of_Fire/units/Fog_Clearer_SoF.cfg
Labels: Campaign, Units

add sp parameter in doxygen
  src/units/abilities.cpp
Labels: Units

add sp param to doxygen
  src/units/abilities.cpp
Labels: Units

fix code
  src/units/abilities.cpp
Labels: Units

updated German translation
  po/wesnoth-lib/de.po
  po/wesnoth/de.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-did/pt_BR.po
  po/wesnoth-help/pt_BR.po
  po/wesnoth-sof/pt_BR.po
  po/wesnoth-units/pt_BR.po
  po/wesnoth-utbs/pt_BR.po
  po/wesnoth-wc/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  changelog.md
  po/wesnoth-did/pt_BR.po
  po/wesnoth-help/pt_BR.po
  po/wesnoth-sof/pt_BR.po
  po/wesnoth-units/pt_BR.po
  po/wesnoth-utbs/pt_BR.po
  po/wesnoth-wc/pt_BR.po
Labels: Translations

updated Japanese translation
  changelog.md
Labels: none

Revert "updated Japanese translation"
  changelog.md
Labels: none

updated Japanese translation
  changelog.md
  po/wesnoth-anl/ja.po
  po/wesnoth-did/ja.po
  po/wesnoth-dm/ja.po
  po/wesnoth-dw/ja.po
  po/wesnoth-editor/ja.po
  po/wesnoth-ei/ja.po
  po/wesnoth-help/ja.po
  po/wesnoth-httt/ja.po
  po/wesnoth-l/ja.po
  po/wesnoth-lib/ja.po
  po/wesnoth-low/ja.po
  po/wesnoth-manpages/ja.po
  po/wesnoth-manual/ja.po
  po/wesnoth-multiplayer/ja.po
  po/wesnoth-nr/ja.po
  po/wesnoth-sof/ja.po
  po/wesnoth-sota/ja.po
  po/wesnoth-sotbe/ja.po
  po/wesnoth-tb/ja.po
  po/wesnoth-thot/ja.po
  po/wesnoth-trow/ja.po
  po/wesnoth-tsg/ja.po
  po/wesnoth-tutorial/ja.po
  po/wesnoth-units/ja.po
  po/wesnoth-utbs/ja.po
  po/wesnoth-wc/ja.po
  po/wesnoth/ja.po
Labels: Translations

updated Japanese translation
  changelog.md
  po/wesnoth-anl/ja.po
  po/wesnoth-did/ja.po
  po/wesnoth-dm/ja.po
  po/wesnoth-dw/ja.po
  po/wesnoth-editor/ja.po
  po/wesnoth-ei/ja.po
  po/wesnoth-help/ja.po
  po/wesnoth-httt/ja.po
  po/wesnoth-l/ja.po
  po/wesnoth-lib/ja.po
  po/wesnoth-low/ja.po
  po/wesnoth-manpages/ja.po
  po/wesnoth-manual/ja.po
  po/wesnoth-multiplayer/ja.po
  po/wesnoth-nr/ja.po
  po/wesnoth-sof/ja.po
  po/wesnoth-sota/ja.po
  po/wesnoth-sotbe/ja.po
  po/wesnoth-tb/ja.po
  po/wesnoth-thot/ja.po
  po/wesnoth-trow/ja.po
  po/wesnoth-tsg/ja.po
  po/wesnoth-tutorial/ja.po
  po/wesnoth-units/ja.po
  po/wesnoth-utbs/ja.po
  po/wesnoth-wc/ja.po
  po/wesnoth/ja.po
Labels: Translations

updated Czech translation
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth/cs.po
Labels: Translations

fixed changelog for Japanese translation
  changelog.md
Labels: none

Fix tentacle spawn event #6196
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Fixed hermit dialogue not triggering #6196
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Fix Dwarf Sergeant confusing a dust devil or human for a troll #6196
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

docker: Compile own openssl for steamrt builds
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
Labels: none

Revert "SoF S4 Gold/Coal Sighted Event"
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
Labels: Campaign

Add Map Labels for coal and gold
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
Labels: Campaign

Delete Fog_Clearer_SoF.cfg
  data/campaigns/Sceptre_of_Fire/units/Fog_Clearer_SoF.cfg
Labels: Campaign, Units

Update 4_Gathering_Materials.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
Labels: Campaign

Gold and coal labels disappear
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
Labels: Campaign

Code cleanup
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Stevecotton's comment addressed
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
Labels: Campaign

Fixed whitespace issue (?)
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
Labels: Campaign
