Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Ran wmlindent
  data/core/units/monsters/Rock_Scorpion.cfg
Labels: Units

updated British English translation
  po/wesnoth-did/en_GB.po
  po/wesnoth-dm/en_GB.po
  po/wesnoth-dw/en_GB.po
  po/wesnoth-ei/en_GB.po
  po/wesnoth-help/en_GB.po
  po/wesnoth-httt/en_GB.po
  po/wesnoth-l/en_GB.po
  po/wesnoth-lib/en_GB.po
  po/wesnoth-low/en_GB.po
  po/wesnoth-manpages/en_GB.po
  po/wesnoth-nr/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-sota/en_GB.po
  po/wesnoth-sotbe/en_GB.po
  po/wesnoth-tb/en_GB.po
  po/wesnoth-thot/en_GB.po
  po/wesnoth-trow/en_GB.po
  po/wesnoth-tsg/en_GB.po
  po/wesnoth-tutorial/en_GB.po
  po/wesnoth-units/en_GB.po
  po/wesnoth-utbs/en_GB.po
  po/wesnoth-wc/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

updated Italian translation
  po/wesnoth-did/it.po
  po/wesnoth-dm/it.po
  po/wesnoth-dw/it.po
  po/wesnoth-ei/it.po
  po/wesnoth-help/it.po
  po/wesnoth-httt/it.po
  po/wesnoth-l/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-low/it.po
  po/wesnoth-manpages/it.po
  po/wesnoth-nr/it.po
  po/wesnoth-sof/it.po
  po/wesnoth-sota/it.po
  po/wesnoth-sotbe/it.po
  po/wesnoth-tb/it.po
  po/wesnoth-thot/it.po
  po/wesnoth-trow/it.po
  po/wesnoth-tsg/it.po
  po/wesnoth-tutorial/it.po
  po/wesnoth-units/it.po
  po/wesnoth-wc/it.po
  po/wesnoth/it.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-did/it.po
  po/wesnoth-dm/it.po
  po/wesnoth-dw/it.po
  po/wesnoth-ei/it.po
  po/wesnoth-help/it.po
  po/wesnoth-httt/it.po
  po/wesnoth-l/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-low/it.po
  po/wesnoth-manpages/it.po
  po/wesnoth-nr/it.po
  po/wesnoth-sof/it.po
  po/wesnoth-sota/it.po
  po/wesnoth-sotbe/it.po
  po/wesnoth-tb/it.po
  po/wesnoth-thot/it.po
  po/wesnoth-trow/it.po
  po/wesnoth-tsg/it.po
  po/wesnoth-tutorial/it.po
  po/wesnoth-units/it.po
  po/wesnoth-wc/it.po
  po/wesnoth/it.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-editor/pt_BR.po
  po/wesnoth-help/pt_BR.po
  po/wesnoth-lib/pt_BR.po
  po/wesnoth-units/pt_BR.po
Labels: Translations

updated Portuguese (Brazil) translation
  po/wesnoth-editor/pt_BR.po
  po/wesnoth-help/pt_BR.po
  po/wesnoth-lib/pt_BR.po
  po/wesnoth-units/pt_BR.po
Labels: Translations

updated Turkish translation
  po/wesnoth-did/tr.po
  po/wesnoth-dm/tr.po
  po/wesnoth-dw/tr.po
  po/wesnoth-ei/tr.po
  po/wesnoth-help/tr.po
  po/wesnoth-httt/tr.po
  po/wesnoth-l/tr.po
  po/wesnoth-lib/tr.po
  po/wesnoth-low/tr.po
  po/wesnoth-manpages/tr.po
  po/wesnoth-nr/tr.po
  po/wesnoth-sof/tr.po
  po/wesnoth-sota/tr.po
  po/wesnoth-sotbe/tr.po
  po/wesnoth-tb/tr.po
  po/wesnoth-thot/tr.po
  po/wesnoth-trow/tr.po
  po/wesnoth-tsg/tr.po
  po/wesnoth-tutorial/tr.po
  po/wesnoth-units/tr.po
  po/wesnoth-utbs/tr.po
  po/wesnoth-wc/tr.po
  po/wesnoth/tr.po
Labels: Translations

updated Turkish translation
  changelog.md
  po/wesnoth-did/tr.po
  po/wesnoth-dm/tr.po
  po/wesnoth-dw/tr.po
  po/wesnoth-ei/tr.po
  po/wesnoth-help/tr.po
  po/wesnoth-httt/tr.po
  po/wesnoth-l/tr.po
  po/wesnoth-lib/tr.po
  po/wesnoth-low/tr.po
  po/wesnoth-manpages/tr.po
  po/wesnoth-nr/tr.po
  po/wesnoth-sof/tr.po
  po/wesnoth-sota/tr.po
  po/wesnoth-sotbe/tr.po
  po/wesnoth-tb/tr.po
  po/wesnoth-thot/tr.po
  po/wesnoth-trow/tr.po
  po/wesnoth-tsg/tr.po
  po/wesnoth-tutorial/tr.po
  po/wesnoth-units/tr.po
  po/wesnoth-utbs/tr.po
  po/wesnoth-wc/tr.po
  po/wesnoth/tr.po
Labels: Translations

updated Chinese (Simplified) translation
  changelog.md
  po/wesnoth-anl/zh_CN.po
  po/wesnoth-did/zh_CN.po
  po/wesnoth-dm/zh_CN.po
  po/wesnoth-dw/zh_CN.po
  po/wesnoth-editor/zh_CN.po
  po/wesnoth-ei/zh_CN.po
  po/wesnoth-help/zh_CN.po
  po/wesnoth-httt/zh_CN.po
  po/wesnoth-l/zh_CN.po
  po/wesnoth-lib/zh_CN.po
  po/wesnoth-low/zh_CN.po
  po/wesnoth-manpages/zh_CN.po
  po/wesnoth-manual/zh_CN.po
  po/wesnoth-multiplayer/zh_CN.po
  po/wesnoth-nr/zh_CN.po
  po/wesnoth-sof/zh_CN.po
  po/wesnoth-sota/zh_CN.po
  po/wesnoth-sotbe/zh_CN.po
  po/wesnoth-tb/zh_CN.po
  po/wesnoth-thot/zh_CN.po
  po/wesnoth-trow/zh_CN.po
  po/wesnoth-tsg/zh_CN.po
  po/wesnoth-tutorial/zh_CN.po
  po/wesnoth-units/zh_CN.po
  po/wesnoth-utbs/zh_CN.po
  po/wesnoth/zh_CN.po
Labels: Translations

updated Chinese (Simplified) translation
  changelog.md
  po/wesnoth-anl/zh_CN.po
  po/wesnoth-did/zh_CN.po
  po/wesnoth-dm/zh_CN.po
  po/wesnoth-dw/zh_CN.po
  po/wesnoth-editor/zh_CN.po
  po/wesnoth-ei/zh_CN.po
  po/wesnoth-help/zh_CN.po
  po/wesnoth-httt/zh_CN.po
  po/wesnoth-l/zh_CN.po
  po/wesnoth-lib/zh_CN.po
  po/wesnoth-low/zh_CN.po
  po/wesnoth-manpages/zh_CN.po
  po/wesnoth-manual/zh_CN.po
  po/wesnoth-multiplayer/zh_CN.po
  po/wesnoth-nr/zh_CN.po
  po/wesnoth-sof/zh_CN.po
  po/wesnoth-sota/zh_CN.po
  po/wesnoth-sotbe/zh_CN.po
  po/wesnoth-tb/zh_CN.po
  po/wesnoth-thot/zh_CN.po
  po/wesnoth-trow/zh_CN.po
  po/wesnoth-tsg/zh_CN.po
  po/wesnoth-tutorial/zh_CN.po
  po/wesnoth-units/zh_CN.po
  po/wesnoth-utbs/zh_CN.po
  po/wesnoth/zh_CN.po
Labels: Translations

world conquest: typo fixes in file comments
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
Labels: Campaign

Fixed a gui.get_user_choice() call in the test scenario
  changelog.md
  data/scenario-test.cfg
Labels: none

Fixed broken gui.get_user_choice()
  data/lua/core/gui.lua
Labels: Lua API

Added missing backticks
  changelog.md
Labels: none

world conquest: correct era name and include Dunefolk in wocopedia description
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help.lua
Labels: Campaign

Fixup 5b18f2df4 (trailing whitespace)
  data/lua/core/gui.lua
Labels: Lua API

Add set_cost and set_advances_to to modify_unit_type schema
  data/schema/core/addons.cfg
Labels: Schema

compare directly instead of declaring an extra variable
  src/map_command_handler.hpp
Labels: none

Fix [store_unit]'s stored coordinates for recalls
  data/lua/wml-tags.lua
  data/test/scenarios/put_to_recall_and_modify.cfg
  wml_test_schedule
Labels: Lua API, Unit Tests

enhance fast moving trigger
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Campaign

update comment
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Campaign

Kromph and Dust devil now trigger the Eloh event
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

changelog changes
  changelog.md
Labels: none

Some hot fixes
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

Smooth appearance and add dialogue
  data/campaigns/Delfadors_Memoirs/scenarios/14_Shadows.cfg
Labels: Campaign

changelog
  changelog.md
Labels: none

corrected missleading comment
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Campaign

Add unitless macros to pass schema validation
  data/add-ons/Support_Past_Default_Era_Unitless/macros/changed_damages-1.14.cfg
  data/add-ons/Support_Past_Default_Era_Unitless/macros/changed_hitpoints-1.14.cfg
  data/add-ons/Support_Past_Default_Era_Unitless/macros/changed_move_points-1.14.cfg
  data/add-ons/Support_Past_Default_Era_Unitless/macros/changed_resistances-1.14.cfg
  data/add-ons/Support_Past_Default_Era_Unitless/macros/unit_changes-1.14.cfg
Labels: none

Upload source/installer files as separate artifacts.
  .github/workflows/ci-main.yml
Labels: none

UtBS S04 - enhance goblin leader trigger "how can he move that fast?" (#6427)
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Campaign

UtBS S04 - enhance goblin leader trigger "how can he move that fast?" (#6427)
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Campaign

Spelling correction.
  data/campaigns/Under_the_Burning_Suns/units/monsters/Darawf.cfg
Labels: Campaign, Units

Clarify and correct comments
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

Change the dialogue string
  data/campaigns/Delfadors_Memoirs/scenarios/14_Shadows.cfg
Labels: Campaign

Fixed the possibility of a missplaces dialogue when a bridge was broken
  changelog.md
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/22_The_Rise_of_Wesnoth.cfg
Labels: Campaign

wmllint: fixed Ggf -> Gg^Emf and Qv -> Mv terrain conversions
  data/tools/wmllint
Labels: WML Tools

wmllint: fixed Ggf -> Gg^Emf and Qv -> Mv terrain conversions
  data/tools/wmllint
Labels: WML Tools

Fixed broken gui.get_user_choice()
  data/lua/core/gui.lua
Labels: Lua API

Fixed a gui.get_user_choice() call in the test scenario
  changelog.md
  data/scenario-test.cfg
Labels: none

boss MAI: make the scenario boss ca file
  data/ai/micro_ais/cas/ca_boss.lua
Labels: AI
