Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Remove spurious if condition.
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

Bump vcpkg baseline
  vcpkg.json
Labels: none

basic support for filtering completed campaigns
  data/gui/window/campaign_dialog.cfg
  src/gui/dialogs/campaign_selection.cpp
Labels: UI

bump again
  src/preferences/general.cpp
Labels: none

Copyright update for 8ea8b6c7c3d42d27566bb7ead3042dfe507fe84f
  copyrights.csv
Labels: none

Set gold laurel first in case of only one difficulty setting.
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

updated Bengali translation, activated in credits
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth-help/bn.po
  po/wesnoth-lib/bn.po
  po/wesnoth-tb/bn.po
  po/wesnoth-tutorial/bn.po
  po/wesnoth-units/bn.po
  po/wesnoth/bn.po
Labels: Translations

updated Bengali translation, activated in credits
  changelog.md
  data/core/about_i18n.cfg
  po/wesnoth-help/bn.po
  po/wesnoth-lib/bn.po
  po/wesnoth-tb/bn.po
  po/wesnoth-tutorial/bn.po
  po/wesnoth-units/bn.po
  po/wesnoth/bn.po
Labels: Translations

updated British English translation
  changelog.md
  po/wesnoth-wof/en_GB.po
Labels: Translations

updated British English translation
  changelog.md
  po/wesnoth-wof/en_GB.po
Labels: Translations

updated French translation
  changelog.md
  po/wesnoth-editor/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-manpages/fr.po
  po/wesnoth-units/fr.po
  po/wesnoth-utbs/fr.po
Labels: Translations

updated French translation
  changelog.md
  po/wesnoth-editor/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-manpages/fr.po
  po/wesnoth-units/fr.po
  po/wesnoth-utbs/fr.po
Labels: Translations

Filter by difficulty of completion
  data/core/about.cfg
  data/gui/window/campaign_dialog.cfg
  src/gui/dialogs/campaign_selection.cpp
Labels: UI

add "noconvert" flag to Bengali translator name
  data/core/about_i18n.cfg
Labels: none

add "noconvert" flag to Bengali translator name
  data/core/about_i18n.cfg
Labels: none

change item order and remove space
  data/gui/window/campaign_dialog.cfg
  src/gui/dialogs/campaign_selection.cpp
Labels: UI

Update copyrights file
  copyrights.csv
  update_copyrights
Labels: none

sorting is fine, but failing because it's not all sorted is silly
  update_copyrights
Labels: none

Added new font "Lohit-Bengali.ttf" to support Bengali translation
  changelog.md
  fonts/COPYING
  fonts/Lohit-Bengali.ttf
Labels: none

Added new font "Lohit-Bengali.ttf" to support Bengali translation
  changelog.md
  fonts/COPYING
  fonts/Lohit-Bengali.ttf
Labels: none

Help: use relative scaling for unit sprites (resolves #8401)
  src/help/help_topic_generators.cpp
Labels: Help

Generalize the use of max_value and add the min_value attribute (postpone 1.19)
  data/schema/units/abilities.cfg
  data/schema/units/specials.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heals/heals_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/leadership/leadership_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_max_value.cfg
  src/actions/attack.cpp
  src/tod_manager.cpp
  src/units/abilities.cpp
  src/units/abilities.hpp
  src/units/unit.cpp
Labels: Schema, Unit Tests, Units

GUI2/Canvas: allow text shape to set outline (resolves #8398)
  data/schema/gui/generic.cfg
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
Labels: Schema, UI

MP/Create Game: fix excess border if game icon not set
  src/gui/dialogs/multiplayer/mp_create_game.cpp
Labels: UI

MP/Create Game: bump game label border size
  data/gui/window/mp_create_game.cfg
Labels: UI

Simplify is_in_hex
  src/picture.cpp
Labels: none

MP/Staging: don't hardcode bold formatting in translatable strings
  data/gui/window/mp_staging.cfg
Labels: UI

Editor: refined Addon Selection prompt
  data/gui/window/editor_choose_addon.cfg
Labels: UI

add boost graph dependency.
  utils/dockerbuilds/CI/Dockerfile-base-2204-master
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
Labels: none

Multiply help portait scaling by the pixel multiplier.
  src/help/help_topic_generators.cpp
Labels: Help

also add graph here.
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

skeletal rider portrait
  data/core/images/portraits/undead/skeletal_rider.webp
  data/core/units/undead/Skele_Bone_Knight.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Graphics, Units

alternative bear portrait
  data/core/images/portraits/monsters/bear-alt.webp
Labels: Graphics

looks like this never got updated
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
Labels: none

HttT S5b: Fix duplicate loyal trait for Delurin
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
Labels: Campaign HttT

small touchup
  data/core/images/portraits/undead/skeletal_rider.webp
Labels: Graphics

update copyrights
  copyrights.csv
Labels: none

wmllint: drop the rule about [campaign]rank= being a multiple of 5
  data/tools/wmllint
Labels: WML Tools

implement super cycle detection for the schema self validator
  CMakeLists.txt
  SConstruct
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
  src/utils/back_edge_detector.hpp
  vcpkg.json
Labels: Building, CMake, macOS, SCons

Revert d4b7064904c86ec87a1bdf4744379078dbd0cc38
  src/help/help_topic_generators.cpp
Labels: Help

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
