Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

boss mai: fixed test scenario map path
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

boss_mai: forced loaded the map since map_file doesn't seem to work
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

Revert "boss_mai: forced loaded the map since map_file doesn't seem to work"
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

boss mai: updated test scenario with translatable strings
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

boss mai: added persistent side and objectives to test level
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

boss mai: added right-click menu items to test scenario
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

Update changelog
  changelog.md
Labels: none

a few macOS WML unit tests will sometimes timeout so increase the limit.
  .github/workflows/ci-scripts/macos.sh
Labels: none

a few macOS WML unit tests will sometimes timeout so increase the limit.
  .github/workflows/ci-scripts/macos.sh
Labels: none

Update the cache ID to try and get the vcpkg cache working again.
  .github/workflows/ci-main.yml
Labels: none

Update the cache ID to try and get the vcpkg cache working again.
  .github/workflows/ci-main.yml
Labels: none

Readline should not be mandatory
  CMakeLists.txt
Labels: Building, CMake

Spirit PO: used non-deprecated boost phoenix headers
  src/spirit_po/default_plural_forms_expressions.hpp
  src/spirit_po/po_grammar.hpp
Labels: none

boss mai: updated scenario to included boss MAI description
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

boss mai: corrected typos in scenario dialog
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

Added openssl to vcpkg list explicitly
  vcpkg.json
Labels: none

Support config assignment from std::string_view
  src/config_attribute_value.cpp
  src/config_attribute_value.hpp
Labels: none

Removed some duplicated images used by the obsolete unit_box theme
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-afternoon.png
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-dawn.png
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-dusk.png
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-firstwatch.png
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-indoors.png
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-morning.png
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-secondwatch.png
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-underground-illum.png
  data/core/images/themes/unit_box/misc/time-schedules/default/schedule-underground.png
  data/core/images/themes/unit_box/misc/time-schedules/default/tod-schedule-24hrs.png
  data/core/images/themes/unit_box/status-bg.png
  data/tools/wmllint
Labels: Graphics, WML Tools

updated Czech translation
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-tsg/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-tsg/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Chinese (Simplified) translation
  po/wesnoth-help/zh_CN.po
Labels: Translations

updated Chinese (Simplified) translation
  po/wesnoth-help/zh_CN.po
Labels: Translations

updated Italian translation
  po/wesnoth-utbs/it.po
  po/wesnoth/it.po
Labels: Translations

updated Italian translation
  po/wesnoth-utbs/it.po
  po/wesnoth/it.po
Labels: Translations

updated Japanese translation
  po/wesnoth-did/ja.po
  po/wesnoth-dm/ja.po
  po/wesnoth-dw/ja.po
  po/wesnoth-ei/ja.po
  po/wesnoth-help/ja.po
  po/wesnoth-httt/ja.po
  po/wesnoth-l/ja.po
  po/wesnoth-lib/ja.po
  po/wesnoth-low/ja.po
  po/wesnoth-manpages/ja.po
  po/wesnoth-nr/ja.po
  po/wesnoth-sof/ja.po
  po/wesnoth-sota/ja.po
  po/wesnoth-sotbe/ja.po
  po/wesnoth-tb/ja.po
  po/wesnoth-thot/ja.po
  po/wesnoth-trow/ja.po
  po/wesnoth-tsg/ja.po
  po/wesnoth-tutorial/ja.po
  po/wesnoth-units/ja.po
  po/wesnoth-utbs/ja.po
  po/wesnoth-wc/ja.po
  po/wesnoth/ja.po
Labels: Translations

updated Japanese translation
  po/wesnoth-did/ja.po
  po/wesnoth-dm/ja.po
  po/wesnoth-dw/ja.po
  po/wesnoth-ei/ja.po
  po/wesnoth-help/ja.po
  po/wesnoth-httt/ja.po
  po/wesnoth-l/ja.po
  po/wesnoth-lib/ja.po
  po/wesnoth-low/ja.po
  po/wesnoth-manpages/ja.po
  po/wesnoth-manual/ja.po
  po/wesnoth-nr/ja.po
  po/wesnoth-sof/ja.po
  po/wesnoth-sota/ja.po
  po/wesnoth-sotbe/ja.po
  po/wesnoth-tb/ja.po
  po/wesnoth-thot/ja.po
  po/wesnoth-trow/ja.po
  po/wesnoth-tsg/ja.po
  po/wesnoth-tutorial/ja.po
  po/wesnoth-units/ja.po
  po/wesnoth-utbs/ja.po
  po/wesnoth-wc/ja.po
  po/wesnoth/ja.po
Labels: Translations

updated Scottish Gaelic translation
  changelog.md
  po/wesnoth-editor/gd.po
  po/wesnoth-help/gd.po
  po/wesnoth-httt/gd.po
  po/wesnoth-lib/gd.po
  po/wesnoth-multiplayer/gd.po
  po/wesnoth-tb/gd.po
  po/wesnoth-tsg/gd.po
  po/wesnoth-tutorial/gd.po
  po/wesnoth-units/gd.po
  po/wesnoth/gd.po
Labels: Translations

updated Scottish Gaelic translation
  changelog.md
  po/wesnoth-editor/gd.po
  po/wesnoth-help/gd.po
  po/wesnoth-httt/gd.po
  po/wesnoth-lib/gd.po
  po/wesnoth-multiplayer/gd.po
  po/wesnoth-tb/gd.po
  po/wesnoth-tsg/gd.po
  po/wesnoth-tutorial/gd.po
  po/wesnoth-units/gd.po
  po/wesnoth/gd.po
Labels: Translations

Fix a changelog typo
  changelog.md
Labels: none

updated German translation
  po/wesnoth-dw/de.po
  po/wesnoth-httt/de.po
  po/wesnoth-tsg/de.po
  po/wesnoth-tutorial/de.po
  po/wesnoth-units/de.po
Labels: Translations

updated i18n credits
  data/core/about_i18n.cfg
Labels: none

boss mai: remove invalid/unused keys in [label] tags
  data/ai/micro_ais/scenarios/dungeon_mai_comparisons.cfg
Labels: AI

Syntax fixes
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/02_Reclamation.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign

WoF: update changelog to document campaign addition
  changelog.md
Labels: none

changelog: update statement on WoF
  changelog.md
Labels: none

Improved variable setting in [heal_unit] and [harm_unit]
  changelog.md
  data/lua/wml/harm_unit.lua
  data/lua/wml/heal_unit.lua
Labels: Lua API

Fix typo: "with heavy loses" -> "with heavy losses"
  data/campaigns/Liberty/scenarios/06_The_Hunters.cfg
Labels: Campaign

updated German translation
  po/wesnoth-trow/de.po
Labels: Translations

Removed no longer necessary {CLEAR_VARIABLE heal_amount} lines
  data/campaigns/Delfadors_Memoirs/scenarios/08_Ur_Thorodor.cfg
  data/campaigns/Delfadors_Memoirs/utils/sides.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/09_Descent_into_Darkness.cfg
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
  data/campaigns/Northern_Rebirth/scenarios/06a_Old_Friend.cfg
  data/campaigns/Northern_Rebirth/scenarios/07a_Settling_Disputes.cfg
  data/campaigns/Northern_Rebirth/utils/herodeaths.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/7_Outriding_the_Outriders.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/18_Abandoned_Outpost.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/07_Return_to_Oldwood.cfg
  data/campaigns/Two_Brothers/scenarios/02_The_Chase.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg
  data/core/macros/utils.cfg
Labels: Campaign

Schema: Add category and creator keys to [label]
  data/schema/core/addons.cfg
Labels: Schema

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
