Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Add comment clarifying unconventional use of map_location
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Change API to single options table design, and add alignment/anchor options
  data/lua/wml-tags.lua
  data/test/scenarios/overlay_text_demo.cfg
  src/scripting/game_lua_kernel.cpp
Labels: Lua API, Unit Tests

minor graphics updates to palisade end-posts
  data/core/images/terrain/embellishments/fence-palisade-chasm-ne.png
  data/core/images/terrain/embellishments/fence-palisade-ne.png
  data/core/images/terrain/embellishments/fence-palisade-nw.png
  data/core/images/terrain/embellishments/fence-palisade-se.png
  data/core/images/terrain/embellishments/fence-palisade-sw.png
Labels: Graphics, Terrain

get specific terrain codes out of the FENCE rules
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

1.17.2.
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS, WML Tools

1.17.2+dev.
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  src/wesconfig.h
Labels: WML Tools

Fix suppress end turn in the test scenario
  data/test/scenarios/overlay_text_demo.cfg
Labels: Unit Tests

Add tests for top and bottom labels to the test scenario
  data/test/scenarios/overlay_text_demo.cfg
Labels: Unit Tests

Adjust the adjustment for avoiding bottom labels going off the bottom of the screen
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

fence terrain macro cleanup
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

Explanatory comment
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Mostly cleanup?
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Making the test leaders quick means you can reach two castles in one turn
  data/test/scenarios/overlay_text_demo.cfg
Labels: Unit Tests

better transitions for portals/fences
  data/core/images/terrain/embellishments/fence-iron-portal-se.png
  data/core/images/terrain/embellishments/fence-iron-portal-sw.png
  data/core/images/terrain/embellishments/fence-palisade-portal-se.png
  data/core/images/terrain/embellishments/fence-palisade-portal-sw.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

critical indentation fix of comment
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

ran woptipng
  data/core/images/terrain/embellishments/fence-iron-ne-nw.png
  data/core/images/terrain/embellishments/fence-iron-ne-se-nw.png
  data/core/images/terrain/embellishments/fence-iron-ne-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-iron-ne-se-sw.png
  data/core/images/terrain/embellishments/fence-iron-ne-se.png
  data/core/images/terrain/embellishments/fence-iron-ne-sw-01.png
  data/core/images/terrain/embellishments/fence-iron-ne-sw-02.png
  data/core/images/terrain/embellishments/fence-iron-ne-sw-nw.png
  data/core/images/terrain/embellishments/fence-iron-ne.png
  data/core/images/terrain/embellishments/fence-iron-nw-se-01.png
  data/core/images/terrain/embellishments/fence-iron-nw-se-02.png
  data/core/images/terrain/embellishments/fence-iron-nw.png
  data/core/images/terrain/embellishments/fence-iron-portal-se.png
  data/core/images/terrain/embellishments/fence-iron-portal-sw.png
  data/core/images/terrain/embellishments/fence-iron-se-nw-01.png
  data/core/images/terrain/embellishments/fence-iron-se-nw-02.png
  data/core/images/terrain/embellishments/fence-iron-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-iron-se-sw.png
  data/core/images/terrain/embellishments/fence-iron-se.png
  data/core/images/terrain/embellishments/fence-iron-sw-ne-01.png
  data/core/images/terrain/embellishments/fence-iron-sw-ne-02.png
  data/core/images/terrain/embellishments/fence-iron-sw-nw.png
  data/core/images/terrain/embellishments/fence-iron-sw.png
  data/core/images/terrain/embellishments/fence-iron-tile.png
Labels: Graphics, Terrain

Update changelog.md
  changelog.md
Labels: none

More glorious scoped enums
  src/formula/callable.hpp
  src/formula/callable_fwd.hpp
  src/formula/formula.cpp
  src/formula/tokenizer.cpp
  src/formula/tokenizer.hpp
  src/formula/variant_value.cpp
  src/scripting/lua_formula_bridge.cpp
  src/serialization/preprocessor.cpp
Labels: Lua API, WFL

Use non-attic jpg file.
  scons/sdl.py
Labels: Building, SCons

Comment clarification
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

Use non-attic jpg file.
  scons/sdl.py
Labels: Building, SCons

Fixup tests for f60de6a
  src/tests/test_formula_core.cpp
Labels: none

Clang why are you pedantic
  src/tests/test_formula_core.cpp
Labels: none

dockerbuilds: provide our own implementation of msys2 image base for cross-compiling
  utils/dockerbuilds/CI/Dockerfile-base-mingw
  utils/dockerbuilds/mingw/Dockerfile
  utils/dockerbuilds/msys2/Dockerfile
  utils/dockerbuilds/msys2/bin/pacman-cross
  utils/dockerbuilds/msys2/ownstuff.conf
Labels: none

Cleaned up a bunch more std::array uses
  src/display.cpp
  src/display.hpp
  src/font/font_config.cpp
  src/game_initialization/connect_engine.cpp
  src/generators/lua_map_generator.cpp
  src/replay.cpp
  src/scripting/game_lua_kernel.cpp
  src/tests/test_serialization.cpp
Labels: Lua API

Connect Engine: removed unused function argument from update_and_send_diff
  src/game_initialization/connect_engine.cpp
  src/game_initialization/connect_engine.hpp
Labels: none

Few misc code cleanups I had sitting around
  src/ai/actions.cpp
  src/ai/actions.hpp
  src/terrain/builder.cpp
  src/terrain/builder.hpp
Labels: AI, Terrain

Added a sized_array alias to string enums
  src/enum_base.hpp
  src/gui/dialogs/game_stats.cpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/units/types.cpp
Labels: UI, Units

Removed string_to_button_type from the display class
  src/display.cpp
  src/display.hpp
Labels: none

Add compatibility symlink for previous dockerfiles
  utils/dockerbuilds/CI/Dockerfile-base-mingw
Labels: none

Add unit tests for Lua API wesnoth.simulate_combat
  data/test/scenarios/simulate_combat_clone_adjacent.cfg
  data/test/scenarios/simulate_combat_occupied.cfg
  wml_test_schedule
Labels: Unit Tests

Removed display::enable_menu
  src/display.cpp
  src/display.hpp
  src/playsingle_controller.cpp
Labels: none

dockerbuilds: provide our own implementation of msys2 image base for cross-compiling
  utils/dockerbuilds/CI/Dockerfile-base-mingw
  utils/dockerbuilds/mingw/Dockerfile
  utils/dockerbuilds/msys2/Dockerfile
  utils/dockerbuilds/msys2/bin/pacman-cross
  utils/dockerbuilds/msys2/ownstuff.conf
Labels: none

Add compatibility symlink for previous dockerfiles
  utils/dockerbuilds/CI/Dockerfile-base-mingw
Labels: none

Add unit tests for Lua API wesnoth.simulate_combat
  data/test/scenarios/simulate_combat_clone_adjacent.cfg
  data/test/scenarios/simulate_combat_occupied.cfg
  wml_test_schedule
Labels: Unit Tests

Add a unit test for [move_unit]location_id with an occupied hex
  data/test/scenarios/test_move_unit_to_occupied_hex.cfg
  wml_test_schedule
Labels: Unit Tests

Add unit tests for Lua API wesnoth.simulate_combat
  data/test/scenarios/simulate_combat_clone_adjacent.cfg
  data/test/scenarios/simulate_combat_occupied.cfg
  wml_test_schedule
Labels: Unit Tests

Add unit tests for Lua API wesnoth.simulate_combat
  data/test/scenarios/simulate_combat_clone_adjacent.cfg
  data/test/scenarios/simulate_combat_occupied.cfg
  wml_test_schedule
Labels: Unit Tests

DiD S8: make Spectral Servant ghost-line trigger dialogue
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
Labels: Campaign

DiD S8: Add Spectral Servant-line (ghost)
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
Labels: Campaign
