Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

run_wml_tests: Drastically reduce output when run without -v
  run_wml_tests
Labels: none

Check for illegal filenames after the Save Game dialog is displayed
  src/savegame.cpp
Labels: none

fs: Move addon filename validation logic to the filesystem namespace
  src/addon/validation.cpp
  src/filesystem.hpp
  src/filesystem_common.cpp
Labels: Add-ons

fs: Add allow_whitespace parameter to is_legal_user_file_name()
  src/addon/validation.cpp
  src/filesystem.hpp
  src/filesystem_common.cpp
Labels: Add-ons

Test DOS device names in addons/validation
  src/tests/test_addons.cpp
Labels: none

wmlunits: Units may have movement cost == max mp and be able to move
  data/tools/unit_tree/html_output.py
Labels: WML Tools

Update changelog
  changelog.md
Labels: none

Remove verbose flag from WML unit tests.
  .github/workflows/ci-scripts/docker.sh
Labels: none

Add more unit tests for nested event handlers and a few other things
  data/test/scenarios/event_handlers_in_events.cfg
  wml_test_schedule
Labels: Unit Tests

Add unit tests for auto-scoped variables in events
  data/test/scenarios/events-test_autovariables.cfg
  wml_test_schedule
Labels: Unit Tests

Add some event filter tests
  data/test/scenarios/events-test_filters.cfg
  wml_test_schedule
Labels: Unit Tests

Fix better_attack evaluation for poison attacks
  src/actions/attack.cpp
Labels: none

font: Cleanup link formatting logic
  changelog.md
  src/font/text.cpp
Labels: none

gui2/game_version: Clean up includes
  src/gui/dialogs/game_version_dialog.cpp
Labels: UI

Add some event filter tests
  data/test/scenarios/events-test_filters.cfg
  wml_test_schedule
Labels: Unit Tests

Add unit tests for auto-scoped variables in events
  data/test/scenarios/events-test_autovariables.cfg
  wml_test_schedule
Labels: Unit Tests

Add more unit tests for nested event handlers and a few other things
  data/test/scenarios/event_handlers_in_events.cfg
  wml_test_schedule
Labels: Unit Tests

When checking [variable] comparison attributes, return after checking the first one.
  src/game_events/conditional_wml.cpp
Labels: none

updated Italian translation
  changelog.md
  po/wesnoth-editor/it.po
  po/wesnoth-help/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-tsg/it.po
  po/wesnoth-units/it.po
  po/wesnoth/it.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-did/it.po
  po/wesnoth-dw/it.po
  po/wesnoth-help/it.po
  po/wesnoth-sotbe/it.po
  po/wesnoth-utbs/it.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wc/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-ai/cs.po
  po/wesnoth-anl/cs.po
  po/wesnoth-aoi/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dm/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-editor/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-low/cs.po
  po/wesnoth-manpages/cs.po
  po/wesnoth-manual/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-nr/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-sota/cs.po
  po/wesnoth-sotbe/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-test/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-trow/cs.po
  po/wesnoth-tsg/cs.po
  po/wesnoth-tutorial/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Chinese (Traditional) translation
  changelog.md
  po/wesnoth-anl/zh_TW.po
  po/wesnoth-did/zh_TW.po
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-dw/zh_TW.po
  po/wesnoth-editor/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-l/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-low/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-multiplayer/zh_TW.po
  po/wesnoth-nr/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-test/zh_TW.po
  po/wesnoth-thot/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-tutorial/zh_TW.po
  po/wesnoth-units/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

Fixup 7cbc6c9d5d and 5bb0576e17
  data/test/scenarios/event_handlers_in_events.cfg
  data/test/scenarios/events-test_autovariables.cfg
  data/test/scenarios/events-test_filters.cfg
Labels: Unit Tests

Fixup 7cbc6c9d5d and 5bb0576e17
  data/test/scenarios/event_handlers_in_events.cfg
  data/test/scenarios/events-test_autovariables.cfg
  data/test/scenarios/events-test_filters.cfg
Labels: Unit Tests

updated German translation
  po/wesnoth-help/de.po
  po/wesnoth-utbs/de.po
Labels: Translations

Schema: Add missing accuracy/parry keys to [attack]
  data/schema/units/types.cfg
Labels: Schema

Schema: [do_command] supports a sequence of commands
  data/schema/core/actionwml.cfg
Labels: Schema

Fix better_attack evaluation for poison attacks
  src/actions/attack.cpp
Labels: none

Fix syntax error
  po/wesnoth-help/de.po
Labels: Translations

When checking [variable] comparison attributes, return after checking the first one.
  src/game_events/conditional_wml.cpp
Labels: none

Schema: Add missing accuracy/parry keys to [attack]
  data/schema/units/types.cfg
Labels: Schema

Schema: [do_command] supports a sequence of commands
  data/schema/core/actionwml.cfg
Labels: Schema

Simplify canvas.cpp: only one list of shapes, not shared
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
Labels: UI

Simplify canvas.cpp: the renderer only needs to exist during draw()
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
Labels: UI

New sprite graphics for piglet
  data/core/images/units/monsters/boar/piglet-attack1.png
  data/core/images/units/monsters/boar/piglet-attack2.png
  data/core/images/units/monsters/boar/piglet-defend.png
  data/core/images/units/monsters/boar/piglet-defend2.png
  data/core/images/units/monsters/boar/piglet-moving.png
  data/core/images/units/monsters/boar/piglet-moving1.png
  data/core/images/units/monsters/boar/piglet-moving2.png
  data/core/images/units/monsters/boar/piglet-water.png
  data/core/images/units/monsters/boar/piglet.png
  data/core/units/monsters/Boar_Piglet.cfg
Labels: Graphics, Units

marked string as fuzzy as requested by maintainer
  po/wesnoth-utbs/zh_TW.po
Labels: Translations

Add warning if [variable] has multiple comparison attributes.
  src/game_events/conditional_wml.cpp
Labels: none

Fix spelling error in Ethiliel dialouge
  po/wesnoth-tsg/de.po
Labels: Translations

Fix typo in Deoran Dialouge
  po/wesnoth-tsg/de.po
Labels: Translations
