Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

Fix "implicit conversion turns floating-point number into integer" warnings
  src/game_config.cpp
Labels: none

Improve default settings for the timer
  src/preferences/game.cpp
Labels: none

updated German translation
  po/wesnoth-sof/de.po
Labels: Translations

Accept all 1.18 versions by default
  src/server/wesnothd/server.cpp
Labels: MP

layout adjustments
  data/gui/window/story_viewer.cfg
  src/gui/dialogs/story_viewer.cpp
  src/gui/dialogs/story_viewer.hpp
Labels: UI

add drop shadow to dots.png
  images/misc/dots.png
  src/gui/widgets/scroll_label.hpp
Labels: Graphics, UI

dont allow null or negative indicies in wodget add_widget_of_type
  src/scripting/lua_widget_methods.cpp
Labels: Lua API

update copyright info
  copyrights.csv
Labels: none

WoF S11: tweak enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF S11: tweak enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

Add an environment variable to disable logging to file
  doc/man/wesnoth.6
  src/commandline_options.cpp
  src/wesnoth.cpp
Labels: Docs

Add an environment variable to disable logging to file
  doc/man/wesnoth.6
  src/commandline_options.cpp
  src/wesnoth.cpp
Labels: Docs

Add an environment variable to disable logging to file
  src/commandline_options.cpp
  src/wesnoth.cpp
Labels: none

WoF S11: tweak enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF S11: tweak enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

updated Chinese (Traditional) translation
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

updated Chinese (Traditional) translation
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

updated Dutch translation
  changelog.md
  po/wesnoth-did/nl.po
  po/wesnoth-editor/nl.po
  po/wesnoth-ei/nl.po
  po/wesnoth-help/nl.po
  po/wesnoth-l/nl.po
  po/wesnoth-multiplayer/nl.po
  po/wesnoth-tb/nl.po
  po/wesnoth-tutorial/nl.po
  po/wesnoth-wof/nl.po
  po/wesnoth/nl.po
Labels: Translations

updated Dutch translation
  changelog.md
  po/wesnoth-did/nl.po
  po/wesnoth-editor/nl.po
  po/wesnoth-ei/nl.po
  po/wesnoth-help/nl.po
  po/wesnoth-l/nl.po
  po/wesnoth-multiplayer/nl.po
  po/wesnoth-tb/nl.po
  po/wesnoth-tutorial/nl.po
  po/wesnoth-wof/nl.po
  po/wesnoth/nl.po
Labels: Translations

updated Finnish translation
  changelog.md
  po/wesnoth-ei/fi.po
  po/wesnoth-help/fi.po
  po/wesnoth-lib/fi.po
  po/wesnoth-sof/fi.po
  po/wesnoth-sota/fi.po
  po/wesnoth-thot/fi.po
  po/wesnoth-units/fi.po
  po/wesnoth/fi.po
Labels: Translations

updated Finnish translation
  changelog.md
  po/wesnoth-ei/fi.po
  po/wesnoth-help/fi.po
  po/wesnoth-lib/fi.po
  po/wesnoth-sof/fi.po
  po/wesnoth-sota/fi.po
  po/wesnoth-thot/fi.po
  po/wesnoth-units/fi.po
  po/wesnoth/fi.po
Labels: Translations

Revert "Accept all 1.18 versions by default"
  src/server/wesnothd/server.cpp
Labels: MP

German translation: rename units
  po/wesnoth-units/de.po
Labels: Translations

fix invalid escape sequence
  data/tools/pywmlx/state/machine.py
Labels: WML Tools

German translation: rename units
  po/wesnoth-units/de.po
Labels: Translations

Revert "Revert "Accept all 1.18 versions by default""
  src/server/wesnothd/server.cpp
Labels: MP

changelog_entries
  about.wiki
  changelog.md
  changelog_entries/addon_server_id_ui.md
  changelog_entries/aethermaw_images.md
  changelog_entries/recruit_recall_filtering.md
  changelog_entries/sota_crelanu.md
  changelog_entries/ui-outro-text-fading.md
Labels: none

1.18.0
  changelog.md
  data/tools/wesnoth/version.py
  doc/doxygen/Doxyfile
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, Docs, macOS, WML Tools

1.18.0+dev
  changelog.md
  data/tools/wesnoth/version.py
  doc/doxygen/Doxyfile
  src/wesconfig.h
Labels: Docs, WML Tools

changelog_entries
  changelog.md
  changelog_entries/horizontal_scrolling.md
  changelog_entries/systemd_nobody.md
Labels: none

pot-update and regenerate doc files
  data/languages/cs_CZ.cfg
  data/languages/de_DE.cfg
  data/languages/it_IT.cfg
Labels: Translations

1.16.12
  Doxyfile
  changelog.md
  data/tools/wesnoth/version.py
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS, WML Tools

final 1.16 changelog update
  changelog.md
Labels: none

final 1.16 changelog update
  changelog.md
Labels: none

use custom buttons instead of label or image with hover/focus effects
  copyrights.csv
  data/gui/widget/button_25x25.cfg
  data/gui/window/story_viewer.cfg
  images/misc/ornate_big_arrow_decor_left.png
  images/misc/ornate_big_arrow_decor_right.png
  src/gui/dialogs/story_viewer.cpp
  src/gui/dialogs/story_viewer.hpp
Labels: Graphics, UI

Re-add libraries due to https://github.com/ValveSoftware/steam-runtime/issues/647
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
  utils/dockerbuilds/steamrt/start.sh
Labels: none

Use --jobs instead of adjusting the manifest
  .github/workflows/ci-main.yml
Labels: none

Use unique flatpak branch to allow parallel installation
  .github/workflows/ci-main.yml
Labels: none

Fix macOS saves directory
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Fetch some history so describe can work
  .github/workflows/ci-main.yml
Labels: none
