Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Update changelog.md
  changelog.md
Labels: none

Update changelog.md
  changelog.md
Labels: none

Properly initialize CVideo::drawing_texture_.
  src/video.cpp
Labels: none

UtBS - recolor of dwarf/phantom castle
  data/campaigns/Under_the_Burning_Suns/utils/terrain_graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Campaign, Terrain

revision to phantom castle floor
  data/campaigns/Under_the_Burning_Suns/images/terrain/darkcastle.png
  data/campaigns/Under_the_Burning_Suns/utils/terrain_graphics.cfg
Labels: Campaign, Graphics, Terrain

GUI2/Dispatcher: made queue types private, minor cleanup
  src/gui/core/event/dispatcher.hpp
Labels: UI

GUI2/Handler: added some doc comments
  src/gui/core/event/handler.hpp
Labels: UI

GUI2/Dispatcher: simplified even further
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher_private.hpp
Labels: UI

Scroll at a consistent speed.
  src/controller_base.cpp
  src/controller_base.hpp
Labels: none

Remove sha1 functionality.
  src/config_cache.cpp
  src/hash.cpp
  src/hash.hpp
Labels: none

Update openssl MD5 API used to non-deprecated one.
  src/hash.cpp
  src/hash.hpp
Labels: none

Fix range-loop-construct warning.
  src/generators/lua_map_generator.cpp
Labels: none

Fix clang template error.
  src/gui/core/event/dispatcher.hpp
  src/utils/general.hpp
Labels: UI

Fix for bitwise-instead-of-logical.
  src/actions/vision.cpp
Labels: none

Doxygen updates.
  Doxyfile
Labels: none

Replace use of deprecated RC4 openssl API.
  src/preferences/credentials.cpp
Labels: none

This shouldn't be hard coded.
  .github/workflows/ci-scripts/docker.sh
Labels: none

This shouldn't be hard coded.
  .github/workflows/ci-scripts/docker.sh
Labels: none

Update openssl MD5 API used to non-deprecated one.
  src/hash.cpp
  src/hash.hpp
Labels: none

Fix clang template error.
  src/gui/core/event/dispatcher.hpp
  src/utils/general.hpp
Labels: UI

Fix for bitwise-instead-of-logical.
  src/actions/vision.cpp
Labels: none

Fix range-loop-construct warning.
  src/generators/lua_map_generator.cpp
Labels: none

Doxygen updates.
  Doxyfile
Labels: none

Remove sha1 functionality.
  src/config_cache.cpp
  src/hash.cpp
  src/hash.hpp
Labels: none

Replace use of deprecated RC4 openssl API.
  src/preferences/credentials.cpp
Labels: none

wmllint: removed --stringfreeze command line flag
  changelog.md
  data/tools/GUI.pyw
  data/tools/wmllint
Labels: WML Tools

wmlindent: refactored indentation level handling code
  data/tools/wmlindent
Labels: WML Tools

Moved a line in the correct section on the changelog
  changelog.md
Labels: none

wmllint: removed --stringfreeze command line flag
  changelog.md
  data/tools/GUI.pyw
  data/tools/wmllint
Labels: WML Tools

wmllint: finish removing support for the old special notes system
  data/tools/wmllint
Labels: WML Tools

Changelog entry
  changelog.md
Labels: none

wmllint: finish removing support for the old special notes system
  data/tools/wmllint
Labels: WML Tools

Changelog entry
  changelog.md
Labels: none

Side 2 hidden without spoilers
  changelog.md
  data/campaigns/Eastern_Invasion/scenarios/07a_The_Crossing.cfg
Labels: Campaign

Fixed Grug upkeep, added dialogue about Ogres joining
  changelog.md
  data/campaigns/Eastern_Invasion/scenarios/07a_The_Crossing.cfg
Labels: Campaign

batch palette remapping of ogres
  data/core/images/units/ogres/Ogre_ColorMap.png
  data/core/images/units/ogres/ogre-attack1.png
  data/core/images/units/ogres/ogre-attack2.png
  data/core/images/units/ogres/ogre-attack3.png
  data/core/images/units/ogres/ogre-attack4.png
  data/core/images/units/ogres/ogre-attack5.png
  data/core/images/units/ogres/ogre-defend.png
  data/core/images/units/ogres/ogre-idle-1.png
  data/core/images/units/ogres/ogre-idle-2.png
  data/core/images/units/ogres/ogre.png
  data/core/images/units/ogres/young-ogre-attack1.png
  data/core/images/units/ogres/young-ogre-attack2.png
  data/core/images/units/ogres/young-ogre-attack3.png
  data/core/images/units/ogres/young-ogre-attack4.png
  data/core/images/units/ogres/young-ogre-attack5.png
  data/core/images/units/ogres/young-ogre-defend.png
  data/core/images/units/ogres/young-ogre-idle-1.png
  data/core/images/units/ogres/young-ogre-idle-2.png
  data/core/images/units/ogres/young-ogre-idle-3.png
  data/core/images/units/ogres/young-ogre-idle-4.png
  data/core/images/units/ogres/young-ogre.png
Labels: Graphics, Units

Remove spoiler from changelog too, correct typo
  changelog.md
  data/campaigns/Eastern_Invasion/scenarios/07a_The_Crossing.cfg
Labels: Campaign

typographic quote
  data/campaigns/Eastern_Invasion/scenarios/07b_Undead_Crossing.cfg
Labels: Campaign

palette cleanup of ogre sprites (#6640)
  data/core/images/units/ogres/Ogre_ColorMap.png
  data/core/images/units/ogres/ogre-attack1.png
  data/core/images/units/ogres/ogre-attack2.png
  data/core/images/units/ogres/ogre-attack3.png
  data/core/images/units/ogres/ogre-attack4.png
  data/core/images/units/ogres/ogre-attack5.png
  data/core/images/units/ogres/ogre-defend.png
  data/core/images/units/ogres/ogre-idle-1.png
  data/core/images/units/ogres/ogre-idle-2.png
  data/core/images/units/ogres/ogre.png
  data/core/images/units/ogres/young-ogre-attack1.png
  data/core/images/units/ogres/young-ogre-attack2.png
  data/core/images/units/ogres/young-ogre-attack3.png
  data/core/images/units/ogres/young-ogre-attack4.png
  data/core/images/units/ogres/young-ogre-attack5.png
  data/core/images/units/ogres/young-ogre-defend.png
  data/core/images/units/ogres/young-ogre-idle-1.png
  data/core/images/units/ogres/young-ogre-idle-2.png
  data/core/images/units/ogres/young-ogre-idle-3.png
  data/core/images/units/ogres/young-ogre-idle-4.png
  data/core/images/units/ogres/young-ogre.png
Labels: Graphics, Units

Enforce encounter with the Cloaked Figure
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
