Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

Use game_config combat_experience for defender
  data/lua/wml/harm_unit.lua
Labels: Lua API

HTTT map update
  data/campaigns/Heir_To_The_Throne/maps/07_Crossroads.map
  data/campaigns/Heir_To_The_Throne/maps/16_Hasty_Alliance.map
  data/campaigns/Heir_To_The_Throne/maps/18_A_Choice_Must_Be_Made.map
  data/campaigns/Heir_To_The_Throne/maps/19a_Snow_Plains.map
  data/campaigns/Heir_To_The_Throne/maps/19b_Swamp_Of_Dread.map
  data/campaigns/Heir_To_The_Throne/maps/20a_North_Elves.map
  data/campaigns/Heir_To_The_Throne/maps/22_Return_to_Wesnoth.map
  data/campaigns/Heir_To_The_Throne/maps/23_Test_of_the_Clans.map
  data/campaigns/Heir_To_The_Throne/maps/24_Battle_for_Wesnoth.map
Labels: Campaign HttT

updated Arabic translation
  po/wesnoth-l/ar.po
  po/wesnoth-thot/ar.po
  po/wesnoth-wc/ar.po
  po/wesnoth/ar.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-did/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-ei/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-tools/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth-wof/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated Czech translation
  changelog.md
  po/wesnoth-did/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-l/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth-utbs/cs.po
  po/wesnoth/cs.po
Labels: Translations

updated French translation
  po/wesnoth-editor/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-multiplayer/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated Slovak translation
  po/wesnoth-editor/sk.po
  po/wesnoth-ei/sk.po
  po/wesnoth-tutorial/sk.po
  po/wesnoth-units/sk.po
  po/wesnoth-wof/sk.po
Labels: Translations

Prevent wesnoth from crashing after campaign credits (#8235)
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
  src/gui/widgets/window.hpp
Labels: UI

Fix attempting to erase end() in the boost unit tests.
  src/gui/dialogs/editor/edit_pbl.cpp
Labels: UI

Update saved_game.cpp
  src/saved_game.cpp
Labels: none

fix inverted condition
  src/units/unit.cpp
Labels: Units

EI S12: Ran-Lar appears to be renamed Rakkha in #7815. Resolves #8242.
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

adding zombie fish
  data/core/images/portraits/undead/zombie-fish.webp
  data/core/images/units/undead/soulless-fish-attack-n.png
  data/core/images/units/undead/soulless-fish-attack-s.png
  data/core/images/units/undead/soulless-fish-attack.png
  data/core/images/units/undead/soulless-fish-defend.png
  data/core/images/units/undead/soulless-fish-die-1.png
  data/core/images/units/undead/soulless-fish-die-2.png
  data/core/images/units/undead/soulless-fish-die-3.png
  data/core/images/units/undead/soulless-fish-die-4.png
  data/core/images/units/undead/soulless-fish.png
  data/core/images/units/undead/zombie-fish-attack-n.png
  data/core/images/units/undead/zombie-fish-attack-s.png
  data/core/images/units/undead/zombie-fish-attack.png
  data/core/images/units/undead/zombie-fish-defend.png
  data/core/images/units/undead/zombie-fish-die-1.png
  data/core/images/units/undead/zombie-fish-die-2.png
  data/core/images/units/undead/zombie-fish-die-3.png
  data/core/images/units/undead/zombie-fish-die-4.png
  data/core/images/units/undead/zombie-fish.png
  data/core/units/monsters/Caribe.cfg
  data/core/units/monsters/Caribe_Hunter.cfg
  data/core/units/monsters/Caribe_Nibbler.cfg
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, Units

Update all units of type and side after selection with is_game_override
  data/modifications/pick_advance/main.lua
Labels: none

Make a copy of the active event handler list before executing them.
  src/game_events/manager.cpp
Labels: none

add simple_wml child_or_add()
  src/server/common/simple_wml.cpp
  src/server/common/simple_wml.hpp
Labels: Add-ons, MP

EI S12: Ran-Lar appears to be renamed Rakkha in #7815. Resolves #8242. (#8244)
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

Make event_test_filter_condition check when the filters run
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filters.cfg
Labels: Unit Tests

add zombie bug
  data/core/images/portraits/undead/zombie-bug.webp
  data/core/images/units/undead/soulless-bug-attack-n.png
  data/core/images/units/undead/soulless-bug-attack-s.png
  data/core/images/units/undead/soulless-bug-attack.png
  data/core/images/units/undead/soulless-bug-defend.png
  data/core/images/units/undead/soulless-bug-die-1.png
  data/core/images/units/undead/soulless-bug-die-2.png
  data/core/images/units/undead/soulless-bug-die-3.png
  data/core/images/units/undead/soulless-bug-die-4.png
  data/core/images/units/undead/soulless-bug.png
  data/core/images/units/undead/zombie-bug-attack-n.png
  data/core/images/units/undead/zombie-bug-attack-s.png
  data/core/images/units/undead/zombie-bug-attack.png
  data/core/images/units/undead/zombie-bug-defend.png
  data/core/images/units/undead/zombie-bug-die-1.png
  data/core/images/units/undead/zombie-bug-die-2.png
  data/core/images/units/undead/zombie-bug-die-3.png
  data/core/images/units/undead/zombie-bug-die-4.png
  data/core/images/units/undead/zombie-bug.png
  data/core/units/monsters/Dragonfly.cfg
  data/core/units/monsters/Dragonfly_Grand.cfg
  data/core/units/monsters/Dragonfly_Naiad.cfg
  data/core/units/monsters/Scarab.cfg
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, Units

small touch-up
  data/core/images/portraits/undead/zombie-fish.webp
  data/core/images/units/undead/zombie-serpent.png
Labels: Graphics, Units

update copyrights.csv
  copyrights.csv
Labels: none

fix_whitespace.sh
  data/core/units/monsters/Dragonfly.cfg
Labels: Units

systemd: Run as _wesnoth:_wesnoth
  SConstruct
  changelog_entries/systemd_nobody.md
  packaging/systemd/SConscript
  packaging/systemd/wesnothd.service.in
  packaging/systemd/wesnothd.service.scons.in
  packaging/systemd/wesnothd.sysusers.conf.in
  packaging/systemd/wesnothd.tmpfiles.conf.in
Labels: Building, Packaging, SCons

systemd: Run as _wesnoth:_wesnoth
  SConstruct
  changelog_entries/systemd_nobody.md
  packaging/systemd/SConscript
  packaging/systemd/wesnothd.service.in
  packaging/systemd/wesnothd.service.scons.in
  packaging/systemd/wesnothd.sysusers.conf.in
  packaging/systemd/wesnothd.tmpfiles.conf.in
Labels: Building, Packaging, SCons

Remove confusing lowercase comparison
  src/server/wesnothd/server.cpp
Labels: MP

Update changelog.md
  changelog.md
Labels: none

Add 'k' hotkey to open core management window from the main screen (fixes #8209)
  data/core/hotkeys.cfg
Labels: Input

Store core ID into save
  src/game_classification.cpp
Labels: none

Revert unrelated update game_classification.cpp
  src/game_classification.cpp
Labels: none

Restore include in game_classification.cpp
  src/game_classification.cpp
Labels: none

Store core ID into save
  src/game_classification.cpp
Labels: none

Fix and check copyrights.csv "Needs Update" field
  copyrights.csv
  update_copyrights
Labels: none

Remove unnecessary pixel format conversion
  src/sdl/utils.cpp
Labels: none

Add unit tests for sdl util scale_sharp
  boost_test_schedule
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/boost_unit_tests
  src/tests/test_sdl.cpp
Labels: Building, macOS

wesnothd: update current turn in init_side instead of end_turn
  src/server/wesnothd/game.cpp
  src/server/wesnothd/game.hpp
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: MP

f pref cod
  src/server/wesnothd/game.hpp
Labels: MP

deprecated method in mariadbpp
  .github/workflows/ci-main.yml
Labels: none

Enable stricter checks for debug builds.
  .github/workflows/ci-main.yml
  SConstruct
  run_boost_tests
  src/SConscript
  utils/CI/mp_test_executor.sh
  utils/CI/play_test_executor.sh
  utils/dockerbuilds/CI/Dockerfile-base-2204-master
Labels: Building, SCons

Enable stricter checks for debug builds.
  .github/workflows/ci-main.yml
  SConstruct
  run_boost_tests
  src/SConscript
  utils/CI/mp_test_executor.sh
  utils/CI/play_test_executor.sh
  utils/dockerbuilds/CI/Dockerfile-base-2204-master
Labels: Building, SCons

deprecated method in mariadbpp
  .github/workflows/ci-main.yml
Labels: none
