Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Get the scenario_id from the addon content list sent by the server if it's not otherwise available.
  src/game_config_manager.cpp
  src/game_config_manager.hpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/server/wesnothd/server.cpp
Labels: MP, UI

Get the scenario_id from the addon content list sent by the server if it's not otherwise available.
  src/game_config_manager.cpp
  src/game_config_manager.hpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/server/wesnothd/server.cpp
Labels: MP, UI

Get the scenario_id from the addon content list sent by the server if it's not otherwise available.
  src/game_config_manager.cpp
  src/game_config_manager.hpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/server/wesnothd/server.cpp
Labels: MP, UI

Remove a couple no longer needed cmake files.
  cmake/FindPackageHandleStandardArgs.cmake
  cmake/FindPackageMessage.cmake
Labels: Building, CMake

Update INSTALL.md.
  INSTALL.md
Labels: none

Alternate way to find SDL2.
  .github/workflows/ci-main.yml
  CMakeLists.txt
  cmake/FindSDL2.cmake
  cmake/FindSDL2_image.cmake
  cmake/FindSDL2_mixer.cmake
  src/CMakeLists.txt
Labels: Building, CMake

Use import target for fontconfig.
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

Changelog update.
  changelog.md
Labels: none

Remove unneeded check.
  src/desktop/version.cpp
Labels: none

Update steamrt image.
  utils/dockerbuilds/make_steam_image
Labels: none

Re-add version checks for windows.
  CMakeLists.txt
Labels: Building, CMake

SDL2 mixer and image don't have cmake versions.
  CMakeLists.txt
Labels: Building, CMake

Remove a couple no longer needed cmake files.
  cmake/FindPackageHandleStandardArgs.cmake
  cmake/FindPackageMessage.cmake
Labels: Building, CMake

Alternate way to find SDL2.
  .github/workflows/ci-main.yml
  CMakeLists.txt
  cmake/FindSDL2.cmake
  cmake/FindSDL2_image.cmake
  cmake/FindSDL2_mixer.cmake
  src/CMakeLists.txt
Labels: Building, CMake

Update INSTALL.md.
  INSTALL.md
Labels: none

SDL2 version check.
  CMakeLists.txt
Labels: Building, CMake

wesnothd: enable keepalive on socket before accept rather than after
  src/server/common/server_base.cpp
Labels: Add-ons, MP

wesnothd: enable keepalive on socket before accept rather than after
  src/server/common/server_base.cpp
Labels: Add-ons, MP

Remove obsolete comments.
  src/server/wesnothd/server.cpp
Labels: MP

Omit line-numbers from the .po files
  po/CMakeLists.txt
  po/SConscript
Labels: Translations

editor: Add "Map Screenshot" item to menu
  data/themes/editor.cfg
Labels: UI

servers: use BOOST_THROW_EXCEPTION macro to ensure that exception cloning is available
  src/server/common/server_base.cpp
Labels: Add-ons, MP

servers: use BOOST_THROW_EXCEPTION macro to ensure that exception cloning is available
  src/server/common/server_base.cpp
Labels: Add-ons, MP

servers: convert the rest of throw statements for server_shutdown
  src/server/campaignd/server.cpp
  src/server/wesnothd/server.cpp
Labels: Add-ons, MP

servers: convert the rest of throw statements for server_shutdown
  src/server/campaignd/server.cpp
  src/server/wesnothd/server.cpp
Labels: Add-ons, MP

Revert "wesnothd: enable keepalive on socket before accept rather than after"
  src/server/common/server_base.cpp
Labels: Add-ons, MP

servers: set CLOEXEC on sockets we accept
  src/server/common/server_base.cpp
Labels: Add-ons, MP

Revert "wesnothd: enable keepalive on socket before accept rather than after"
  src/server/common/server_base.cpp
Labels: Add-ons, MP

servers: set CLOEXEC on sockets we accept
  src/server/common/server_base.cpp
Labels: Add-ons, MP

Add debug logging of SSL certs to addon manager.
  src/network_asio.cpp
Labels: none

Add SSL debug logging to wesnothd_connection as well.
  src/wesnothd_connection.cpp
Labels: none

Add SSL debug logging to wesnothd_connection as well.
  src/wesnothd_connection.cpp
Labels: none

Add debug logging of SSL certs to addon manager.
  src/network_asio.cpp
Labels: none

Add debug logging of SSL certs to addon manager.
  src/network_asio.cpp
Labels: none

Add SSL debug logging to wesnothd_connection as well.
  src/wesnothd_connection.cpp
Labels: none

Replace a hardcoded string with font::unicode_bullet
  src/reports.cpp
Labels: none

Replace a hardcoded string with font::unicode_bullet
  src/reports.cpp
Labels: none

Improve comments for translators around VNGETTEXT
  src/actions/move.cpp
  src/gui/widgets/multimenu_button.cpp
Labels: UI

Add a "special notes" section to terrain help pages
  src/help/help_topic_generators.cpp
Labels: Help

Cosmetic fixes
  data/campaigns/Winds_of_Fate/scenarios/02_The_Raid.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_The_Three_Sisters.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Foothills.cfg
  data/campaigns/Winds_of_Fate/utils/bigmap.cfg
Labels: Campaign
