Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

updated Czech translation
  po/wesnoth-ai/cs.po
  po/wesnoth-did/cs.po
  po/wesnoth-dw/cs.po
  po/wesnoth-help/cs.po
  po/wesnoth-httt/cs.po
  po/wesnoth-lib/cs.po
  po/wesnoth-multiplayer/cs.po
  po/wesnoth-sof/cs.po
  po/wesnoth-tb/cs.po
  po/wesnoth-thot/cs.po
  po/wesnoth-units/cs.po
  po/wesnoth/cs.po
Labels: Translations

Updated VS VC14 projectfile
  projectfiles/VC14/wesnoth.vcxproj
  projectfiles/VC14/wesnoth.vcxproj.filters
Labels: Building

wmlxgettext: support double quotes in raw strings (fixes #4484)
  changelog.md
  data/tools/pywmlx/state/machine.py
  data/tools/pywmlx/state/wml_states.py
Labels: WML Tools

Fix syntax in translation (#4490)
  po/wesnoth-manual/pt_BR.po
Labels: Translations

Fixes from SpellingMistakes
  data/campaigns/Eastern_Invasion/scenarios/10_Lake_Vrug.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/24_Battle_for_Wesnoth.cfg
  data/campaigns/Wings_of_Victory/story/drakipedia.txt
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
  data/core/help.cfg
  data/core/units/humans/Loyalist_Cavalier.cfg
  data/core/units/orcs/Ruler.cfg
Labels: Campaign, Help, Units

HttT: Typo fixes
  data/campaigns/Heir_To_The_Throne/scenarios/22_Return_to_Wesnoth.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/23_Test_of_the_Clans.cfg
  data/campaigns/Heir_To_The_Throne/utils/abilities.cfg
  utils/pofix.py
Labels: Campaign

fixup! Fixes from SpellingMistakes
  data/campaigns/Eastern_Invasion/scenarios/10_Lake_Vrug.cfg
  data/core/units/orcs/Ruler.cfg
Labels: Campaign, Units

EI: Typo fix
  data/campaigns/Eastern_Invasion/scenarios/07b_Undead_Crossing.cfg
Labels: Campaign

HttT S18: Fix "noble merfolk".
  data/campaigns/Heir_To_The_Throne/scenarios/18_A_Choice_Must_Be_Made.cfg
Labels: Campaign

github: Add note from SpellingMistakes
  .github/ISSUE_TEMPLATE/text-typos-or-improvements.md
Labels: none

EI: Fix the "Northlands" fix
  data/campaigns/Eastern_Invasion/scenarios/07a_The_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/07b_Undead_Crossing.cfg
Labels: Campaign

Revert "Removed deprecated objective text macros"
  data/core/macros/deprecated-utils.cfg
Labels: none

Bump deprecation level of old early finish / carryover macros
  data/core/macros/deprecated-utils.cfg
Labels: none

Bump deprecation level of old early finish / carryover macros
  data/core/macros/deprecated-utils.cfg
Labels: none

Pre-release version bump
  Doxyfile
  changelog.md
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, macOS

Post-release version bump
  Doxyfile
  changelog.md
  src/wesconfig.h
Labels: none

Also store where the client came from.
  data/dist
  src/game_initialization/multiplayer.cpp
  src/server/forum_user_handler.cpp
  src/server/forum_user_handler.hpp
  src/server/player.cpp
  src/server/player.hpp
  src/server/server.cpp
  src/server/server.hpp
  src/server/user_handler.hpp
  utils/mp-server/table_definitions.sql
Labels: Services

Also store where the client came from.
  data/dist
  src/game_initialization/multiplayer.cpp
  src/server/forum_user_handler.cpp
  src/server/forum_user_handler.hpp
  src/server/player.cpp
  src/server/player.hpp
  src/server/server.cpp
  src/server/server.hpp
  src/server/user_handler.hpp
  utils/mp-server/table_definitions.sql
Labels: Services

Store the client version in the database.
  src/server/forum_user_handler.cpp
  src/server/forum_user_handler.hpp
  src/server/server.cpp
  src/server/user_handler.hpp
  utils/mp-server/table_definitions.sql
Labels: Services

Store client version and source information in the database.
  data/dist
  src/game_initialization/multiplayer.cpp
  src/server/forum_user_handler.cpp
  src/server/forum_user_handler.hpp
  src/server/player.cpp
  src/server/player.hpp
  src/server/sample_user_handler.cpp
  src/server/sample_user_handler.hpp
  src/server/server.cpp
  src/server/server.hpp
  src/server/user_handler.hpp
  utils/mp-server/table_definitions.sql
Labels: Services

Orcish Ruler: Fix grammar in description
  data/core/units/orcs/Ruler.cfg
Labels: Units

Revert "Merge pull request #4476 from newfrenchy83/newfrenchy83_replace_deprecated_special"
  data/campaigns/Dead_Water/units/Brawler.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Campaign

Revert "Revert "Merge pull request #4476 from newfrenchy83/newfrenchy83_replace_deprecated_special""
  data/campaigns/Dead_Water/units/Brawler.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Campaign

Fixes from SpellingMistakes
  data/campaigns/Eastern_Invasion/scenarios/10_Lake_Vrug.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/24_Battle_for_Wesnoth.cfg
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
  data/core/help.cfg
  data/core/units/humans/Loyalist_Cavalier.cfg
  data/core/units/orcs/Ruler.cfg
Labels: Campaign, Help, Units

HttT: Typo fixes
  data/campaigns/Heir_To_The_Throne/scenarios/22_Return_to_Wesnoth.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/23_Test_of_the_Clans.cfg
  data/campaigns/Heir_To_The_Throne/utils/abilities.cfg
  utils/pofix.py
Labels: Campaign

fixup! Fixes from SpellingMistakes
  data/campaigns/Eastern_Invasion/scenarios/10_Lake_Vrug.cfg
  data/core/units/orcs/Ruler.cfg
Labels: Campaign, Units

EI: Typo fix
  data/campaigns/Eastern_Invasion/scenarios/07b_Undead_Crossing.cfg
Labels: Campaign

HttT S18: Fix "noble merfolk".
  data/campaigns/Heir_To_The_Throne/scenarios/18_A_Choice_Must_Be_Made.cfg
Labels: Campaign

EI: Fix the "Northlands" fix
  data/campaigns/Eastern_Invasion/scenarios/07a_The_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/07b_Undead_Crossing.cfg
Labels: Campaign

DiD S3: fix next_scenario
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
Labels: Campaign

TSG S7b/S8b: reduce enemy gold values
  data/campaigns/The_South_Guard/scenarios/07b_Pebbles_in_the_Flood.cfg
  data/campaigns/The_South_Guard/scenarios/08b_The_Tides_of_War.cfg
Labels: Campaign

Add TSG update to changelog
  changelog.md
Labels: none

TSG S7b/S8b: reduce enemy gold values
  data/campaigns/The_South_Guard/scenarios/07b_Pebbles_in_the_Flood.cfg
  data/campaigns/The_South_Guard/scenarios/08b_The_Tides_of_War.cfg
Labels: Campaign

Add TSG update to changelog
  changelog.md
Labels: none

Fix multiple cases of changelog creativeness
  changelog.md
Labels: none

Fix multiple cases of changelog creativeness
  changelog.md
Labels: none

Add Time of Day Bonuses to Help
  src/help/help_impl.cpp
Labels: Help

Add Time of Day Bonuses to Help
  src/help/help_impl.cpp
Labels: Help

Correct boost inclusion (resolves #3442).
  src/tests/main.cpp
Labels: none

Correct boost inclusion (resolves #3442).
  src/tests/main.cpp
Labels: none

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*
