Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Use Remove labels macro
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
Labels: Campaign

Addressing stevecottons review
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

’ U 2019 almost forgotten
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

DM: Proofread Pass (#6178)
  data/campaigns/Delfadors_Memoirs/scenarios/01_Overture.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/02_This_Valley_Belongs_to_Me.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/03_The_Road_to_Weldyn.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/04_Leollyn.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/05_Council_in_Weldyn.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/06_Swamps_of_Illuven.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/08_Ur_Thorodor.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/09_Houses_of_the_Undead.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/11_Wasteland.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/12_Terror_at_the_Ford_of_Parthyn.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/13_The_Return_of_Trouble.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/14_Shadows.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/15_Save_the_King.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/16_Dark_Sky_Over_Weldyn.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/17_A_New_Ally.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/18_The_Portal_of_Doom.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/19_Showdown_in_the_Northern_Swamp.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/20_Prince_of_Wesnoth.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/21_Clash_at_the_Manor.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/22_Face_of_the_Enemy.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/23_Epilogue.cfg
  data/campaigns/Delfadors_Memoirs/utils/deaths.cfg
  data/campaigns/Delfadors_Memoirs/utils/items.cfg
Labels: Campaign

add missing [special_note] to movetypes
  data/core/units.cfg
Labels: none

add missing [special_note] to movetypes
  data/core/units.cfg
Labels: none

Fix color_adjust requiring all keys
  data/lua/wml-tags.lua
Labels: Lua API

Update credits
  data/campaigns/Delfadors_Memoirs/_main.cfg
  data/campaigns/Legend_of_Wesmere/_main.cfg
  data/campaigns/The_Rise_Of_Wesnoth/_main.cfg
  data/campaigns/Under_the_Burning_Suns/_main.cfg
  data/core/about.cfg
  data/core/about_i18n.cfg
Labels: Campaign

Update credits
  data/campaigns/Delfadors_Memoirs/_main.cfg
  data/campaigns/Legend_of_Wesmere/_main.cfg
  data/campaigns/The_Rise_Of_Wesnoth/_main.cfg
  data/campaigns/Under_the_Burning_Suns/_main.cfg
  data/core/about.cfg
  data/core/about_i18n.cfg
Labels: Campaign

gui2/title_screen: Don't display locale identifiers on the Language button
  changelog.md
  src/gui/dialogs/title_screen.cpp
Labels: UI

Remove support for writing BMP screenshots
  src/editor/controller/editor_controller.cpp
  src/editor/controller/editor_controller.hpp
  src/editor/editor_main.cpp
  src/editor/editor_main.hpp
  src/game_launcher.cpp
  src/picture.cpp
Labels: Editor

Update release manager in the credits.
  data/core/about.cfg
Labels: none

Minor correction.
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Campaign

Add Objective Note for Thursagan's Rune Mechanic
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/utils/utils.cfg
Labels: Campaign

SoF Add Rune Chest Objective Notes
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign

Capitalization
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Grammar fix
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign

Modify pointers
  src/units/abilities.cpp
Labels: Units

Change pointers
  src/units/abilities.cpp
Labels: Units

German translation update
  po/wesnoth-anl/de.po
  po/wesnoth-lib/de.po
  po/wesnoth-manpages/de.po
  po/wesnoth-manual/de.po
  po/wesnoth/de.po
Labels: Translations

German translation: forwardport localized images
  doc/manual/images/de/game-screen-1.14.8+dev.jpg
  doc/manual/images/de/main-menu-1.14.8+dev.jpg
  doc/manual/images/de/multiplayer-1.14.8+dev.png
  doc/manual/images/de/recruit-1.14.8+dev.png
  doc/manual/images/de/right-pane-1.14.8+dev.png
  doc/manual/images/de/top-pane-1.14.8+dev.png
Labels: Docs

German translation: forwardport localized images
  doc/manual/images/de/game-screen-1.14.8+dev.jpg
  doc/manual/images/de/main-menu-1.14.8+dev.jpg
  doc/manual/images/de/multiplayer-1.14.8+dev.png
  doc/manual/images/de/recruit-1.14.8+dev.png
  doc/manual/images/de/right-pane-1.14.8+dev.png
  doc/manual/images/de/top-pane-1.14.8+dev.png
Labels: Docs

Grog spawns at the start of the scenario
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Changed the behaviour of the Grog-Dwarf combat
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

Stevecottons comments addressed
  data/campaigns/Two_Brothers/scenarios/02_The_Chase.cfg
Labels: Campaign

Update steamrt docker builds
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
  utils/dockerbuilds/make_steam_image
Labels: none

docker: Compile own openssl for steamrt builds
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
Labels: none

WC2: support 10th side on field
  data/campaigns/World_Conquest/lua/game_mechanics/color.lua
Labels: Campaign

AToTB S01 and S02 mercenary spawn overhaul (#6186)
  data/campaigns/Two_Brothers/scenarios/01_Rooting_Out_a_Mage.cfg
  data/campaigns/Two_Brothers/scenarios/02_The_Chase.cfg
  data/campaigns/Two_Brothers/utils/characters.cfg
Labels: Campaign

Error handling for corrupt .mo files
  changelog.md
  src/gettext.cpp
Labels: none

Error handling for corrupt .mo files
  changelog.md
  src/gettext.cpp
Labels: none

Have the names of the abilities used as weapons show in the attack dialog window when apply_to=opponent (#6110)
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  src/units/abilities.cpp
Labels: Campaign, Units

WC2: fix typo
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
Labels: Campaign

WC2: make era usable for PvP
  data/campaigns/World_Conquest/lua/era/era.lua
  data/campaigns/World_Conquest/lua/era_main.lua
Labels: Campaign

WC2: Add placed units to the help
  data/campaigns/World_Conquest/lua/campaign/enemy.lua
Labels: Campaign

vcpkg: Boost 1.77 necessitates an explicit boost-math dependency
  vcpkg.json
Labels: none

Error handling for corrupt .mo files (#6214)
  changelog.md
  src/gettext.cpp
Labels: none

Error handling for corrupt .mo files (#6215)
  changelog.md
  src/gettext.cpp
Labels: none

desktop/version: Attempt to identify Windows 11 GA
  src/desktop/version.cpp
Labels: none

desktop/version: Use release version from DisplayVersion if available
  src/desktop/version.cpp
Labels: none
