Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Remove duplicate code.
  src/game_initialization/create_engine.cpp
  src/scripting/lua_team.cpp
Labels: Lua API

Throw exception instead of a string literal.
  src/gui/core/placer.cpp
Labels: UI

Put namespaces on the string_enums that don't need .cpp changes to do so
  src/ai/ai_target.hpp
  src/formula/formula_variant.hpp
  src/gui/grow_direction.hpp
  src/units/conditional_type.hpp
Labels: AI, UI, Units, WFL

This is required to be defined as of C++11.
  src/lexical_cast.hpp
Labels: none

Remove GCC version check - versions under 4.8.4 don't work anyway.
  src/scripting/push_check.hpp
Labels: Lua API

Add namespace to utils::irdya_datetime and utils::wesnoth_epoch
  src/game_initialization/create_engine.cpp
  src/game_initialization/create_engine.hpp
  src/tests/test_irdya_date.cpp
  src/utils/irdya_datetime.cpp
  src/utils/irdya_datetime.hpp
  src/utils/wesnoth_epoch.hpp
Labels: none

Remove GCC version check - versions under 4.8.4 don't work anyway.
  src/scripting/push_check.hpp
Labels: Lua API

Put namespaces on the string_enums that don't need .cpp changes to do so
  src/ai/ai_target.hpp
  src/formula/formula_variant.hpp
  src/gui/grow_direction.hpp
  src/units/conditional_type.hpp
Labels: AI, UI, Units, WFL

Add namespace to utils::irdya_datetime and utils::wesnoth_epoch
  src/game_initialization/create_engine.cpp
  src/game_initialization/create_engine.hpp
  src/tests/test_irdya_date.cpp
  src/utils/irdya_datetime.cpp
  src/utils/irdya_datetime.hpp
  src/utils/wesnoth_epoch.hpp
Labels: none

This is required to be defined as of C++11.
  src/lexical_cast.hpp
Labels: none

Throw exception instead of a string literal.
  src/gui/core/placer.cpp
Labels: UI

Remove duplicate code.
  src/game_initialization/create_engine.cpp
  src/scripting/lua_team.cpp
Labels: Lua API

Fix existing code that was relying on implicit string conversion.
  src/playturn.cpp
  src/team.cpp
Labels: none

Add enum_base::get_enum(unsigned long) for converting to the equivalent enum.
  src/string_enums/enum_base.hpp
Labels: none

update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

updated German translation
  po/wesnoth-editor/de.po
  po/wesnoth-help/de.po
  po/wesnoth-sof/de.po
  po/wesnoth-sotbe/de.po
  po/wesnoth-tb/de.po
  po/wesnoth-units/de.po
Labels: Translations

Treat all 1.17 builds as dev versions, including non-canonical ones
  src/game_version.cpp
Labels: none

Piglets: add a po hint that these are wild boars' young
  data/core/units/monsters/Boar_Piglet.cfg
Labels: Units

SoF: explain the Shorbear tools as products of the volcanic forge
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Treat all 1.17 builds as dev versions, including non-canonical ones
  src/game_version.cpp
Labels: none

fixup some dull snow on Koa
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-bl.png
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-br.png
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-r.png
Labels: Graphics, Terrain

fixup some dull snow on Coa
  data/core/images/terrain/castle/winter-orcish/fort-concave-bl.png
  data/core/images/terrain/castle/winter-orcish/fort-concave-tl.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-bl.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-r.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-tl.png
Labels: Graphics, Terrain

woptipng on frozen crater
  data/core/images/terrain/frozen/crater.png
Labels: Graphics, Terrain

Crater updates and other minor terrain fixes (#6492)
  data/core/images/terrain/castle/winter-orcish/fort-concave-bl.png
  data/core/images/terrain/castle/winter-orcish/fort-concave-tl.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-bl.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-r.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-tl.png
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-bl.png
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-br.png
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-r.png
  data/core/images/terrain/flat/crater.png
  data/core/images/terrain/frozen/crater.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

initial palisade terrain addition
  data/core/images/terrain/embellishments/fence-palisade-ne-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-sw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se.png
  data/core/images/terrain/embellishments/fence-palisade-ne-sw-01.png
  data/core/images/terrain/embellishments/fence-palisade-ne-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne.png
  data/core/images/terrain/embellishments/fence-palisade-nw-se-01.png
  data/core/images/terrain/embellishments/fence-palisade-nw.png
  data/core/images/terrain/embellishments/fence-palisade-se-nw-01.png
  data/core/images/terrain/embellishments/fence-palisade-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-se-sw.png
  data/core/images/terrain/embellishments/fence-palisade-se.png
  data/core/images/terrain/embellishments/fence-palisade-sw-ne-01.png
  data/core/images/terrain/embellishments/fence-palisade-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-sw.png
  data/core/images/terrain/embellishments/fence-palisade-tile.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

Piglets: add a po hint that these are wild boars' young
  data/core/units/monsters/Boar_Piglet.cfg
Labels: Units

Piglets: add a po hint that these are wild boars' young
  data/core/units/monsters/Boar_Piglet.cfg
Labels: Units

Add a quick on_mouse_action test to the test scenario
  data/scenario-test.cfg
Labels: none

Removed unused boost::assign and boost::multi-array includes and deps
  src/color_range.cpp
  src/display.cpp
  src/terrain/translation.hpp
  src/tests/test_commandline_options.cpp
  src/tests/test_mp_connect.cpp
  vcpkg.json
Labels: Terrain

Don't link with boost::thread
  src/CMakeLists.txt
  vcpkg.json
Labels: Building, CMake

SoF: explain the Shorbear tools as products of the volcanic forge
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

SoF: explain the Shorbear tools as products of the volcanic forge
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Remove gui/auxiliary/filter.hpp and unused includes of pane.hpp
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  src/gui/auxiliary/filter.hpp
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
  src/gui/widgets/listbox.cpp
Labels: Add-ons, Building, UI

Revert "Reapply static_cast fix from 561cc33dc41d5b1561934d5c9e184f1da8545195"
  src/lua/luaconf.h
Labels: none

Un-rename lua source files to .c
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/lua
  src/CMakeLists.txt
  src/SConscript
  src/lua/lapi.c
  src/lua/lauxlib.c
  src/lua/lbaselib.c
  src/lua/lcode.c
  src/lua/lcorolib.c
  src/lua/lctype.c
  src/lua/ldblib.c
  src/lua/ldebug.c
  src/lua/ldo.c
  src/lua/ldump.c
  src/lua/lfunc.c
  src/lua/lgc.c
  src/lua/liolib.c
  src/lua/llex.c
  src/lua/lmathlib.c
  src/lua/lmem.c
  src/lua/loadlib.c
  src/lua/lobject.c
  src/lua/lopcodes.c
  src/lua/loslib.c
  src/lua/lparser.c
  src/lua/lstate.c
  src/lua/lstring.c
  src/lua/lstrlib.c
  src/lua/ltable.c
  src/lua/ltablib.c
  src/lua/ltm.c
  src/lua/lundump.c
  src/lua/lutf8lib.c
  src/lua/lvm.c
  src/lua/lzio.c
Labels: Building, CMake, macOS, SCons

Rename variable.
  src/nowarn/lauxlib.h
  src/scripting/lua_fileops.cpp
Labels: Lua API

Rename nowarn/ to lua/
  src/ai/default/aspect_attacks.cpp
  src/ai/lua/aspect_advancements.cpp
  src/ai/lua/core.cpp
  src/ai/lua/lua_object.cpp
  src/ai/lua/lua_object.hpp
  src/build_info.cpp
  src/lua/lauxlib.h
  src/lua/lua.h
  src/lua/lualib.h
  src/nowarn/llimits.h
  src/nowarn/luaconf.h
  src/scripting/application_lua_kernel.cpp
  src/scripting/debug_lua.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_audio.cpp
  src/scripting/lua_color.cpp
  src/scripting/lua_common.cpp
  src/scripting/lua_cpp_function.cpp
  src/scripting/lua_formula_bridge.cpp
  src/scripting/lua_gui2.cpp
  src/scripting/lua_kernel_base.cpp
  src/scripting/lua_map_location_ops.cpp
  src/scripting/lua_mathx.cpp
  src/scripting/lua_pathfind_cost_calculator.hpp
  src/scripting/lua_preferences.cpp
  src/scripting/lua_race.cpp
  src/scripting/lua_rng.cpp
  src/scripting/lua_stringx.cpp
  src/scripting/lua_team.cpp
  src/scripting/lua_terrainfilter.cpp
  src/scripting/lua_terrainmap.cpp
  src/scripting/lua_unit.cpp
  src/scripting/lua_unit_attacks.cpp
  src/scripting/lua_unit_type.cpp
  src/scripting/lua_widget.cpp
  src/scripting/lua_widget_attributes.cpp
  src/scripting/lua_widget_methods.cpp
  src/scripting/lua_wml.cpp
  src/scripting/mapgen_lua_kernel.cpp
  src/scripting/push_check.hpp
Labels: AI, Lua API

Update instructions and add warning to scons/cmake.
  CMakeLists.txt
  INSTALL.md
  SConstruct
  src/wesnoth_lua_config.md
Labels: Building, CMake, SCons

Rename nowarn/ to lua/
  src/ai/default/aspect_attacks.cpp
  src/ai/lua/aspect_advancements.cpp
  src/ai/lua/core.cpp
  src/ai/lua/lua_object.cpp
  src/ai/lua/lua_object.hpp
  src/build_info.cpp
  src/lua/lauxlib.h
  src/lua/lua.h
  src/lua/lualib.h
  src/nowarn/llimits.h
  src/nowarn/luaconf.h
  src/scripting/application_lua_kernel.cpp
  src/scripting/debug_lua.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_audio.cpp
  src/scripting/lua_color.cpp
  src/scripting/lua_common.cpp
  src/scripting/lua_cpp_function.cpp
  src/scripting/lua_formula_bridge.cpp
  src/scripting/lua_gui2.cpp
  src/scripting/lua_kernel_base.cpp
  src/scripting/lua_map_location_ops.cpp
  src/scripting/lua_mathx.cpp
  src/scripting/lua_pathfind_cost_calculator.hpp
  src/scripting/lua_preferences.cpp
  src/scripting/lua_race.cpp
  src/scripting/lua_rng.cpp
  src/scripting/lua_stringx.cpp
  src/scripting/lua_team.cpp
  src/scripting/lua_terrainfilter.cpp
  src/scripting/lua_terrainmap.cpp
  src/scripting/lua_unit.cpp
  src/scripting/lua_unit_attacks.cpp
  src/scripting/lua_unit_type.cpp
  src/scripting/lua_widget.cpp
  src/scripting/lua_widget_attributes.cpp
  src/scripting/lua_widget_methods.cpp
  src/scripting/lua_wml.cpp
  src/scripting/mapgen_lua_kernel.cpp
  src/scripting/push_check.hpp
Labels: AI, Lua API

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
