Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Revert this for 1.16.1
  data/gui/window/mp_faction_select.cfg
Labels: UI

TRoW S04a: Typographic style is not to have a hyphen in "un-life"
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/04a_The_Swamp_of_Esten.cfg
Labels: Campaign

updated Chinese (Traditional) translation
  po/wesnoth-anl/zh_TW.po
  po/wesnoth-did/zh_TW.po
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-dw/zh_TW.po
  po/wesnoth-editor/zh_TW.po
  po/wesnoth-ei/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-l/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-low/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-multiplayer/zh_TW.po
  po/wesnoth-nr/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-thot/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-tutorial/zh_TW.po
  po/wesnoth-units/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

updated Chinese (Traditional) translation
  changelog.md
  po/wesnoth-anl/zh_TW.po
  po/wesnoth-did/zh_TW.po
  po/wesnoth-dm/zh_TW.po
  po/wesnoth-dw/zh_TW.po
  po/wesnoth-editor/zh_TW.po
  po/wesnoth-ei/zh_TW.po
  po/wesnoth-help/zh_TW.po
  po/wesnoth-httt/zh_TW.po
  po/wesnoth-l/zh_TW.po
  po/wesnoth-lib/zh_TW.po
  po/wesnoth-low/zh_TW.po
  po/wesnoth-manpages/zh_TW.po
  po/wesnoth-multiplayer/zh_TW.po
  po/wesnoth-nr/zh_TW.po
  po/wesnoth-sof/zh_TW.po
  po/wesnoth-sota/zh_TW.po
  po/wesnoth-sotbe/zh_TW.po
  po/wesnoth-tb/zh_TW.po
  po/wesnoth-thot/zh_TW.po
  po/wesnoth-trow/zh_TW.po
  po/wesnoth-tsg/zh_TW.po
  po/wesnoth-tutorial/zh_TW.po
  po/wesnoth-units/zh_TW.po
  po/wesnoth/zh_TW.po
Labels: Translations

Resolve title-screen vs main menu inconsistency.
  data/gui/window/preferences/02_hotkeys.cfg
  src/gui/dialogs/preferences_dialog.cpp
Labels: UI

Paraphrased allied orbs description to remove outdated color reference
  data/core/help.cfg
Labels: Help

Fixup some copyright notices.
  src/commandline_argv.cpp
  src/commandline_argv.hpp
  src/gui/dialogs/server_info_dialog.cpp
  src/gui/dialogs/server_info_dialog.hpp
  src/gui/widgets/retval.hpp
  src/serialization/schema/key.hpp
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/resultsets/ban_check.cpp
  src/server/common/resultsets/ban_check.hpp
  src/server/common/resultsets/game_history.cpp
  src/server/common/resultsets/game_history.hpp
  src/server/common/resultsets/rs_base.hpp
  src/server/common/resultsets/tournaments.cpp
  src/server/common/resultsets/tournaments.hpp
  src/utils/parse_network_address.cpp
  src/utils/ranges.hpp
Labels: Add-ons, MP, Schema, UI

Fixup some copyright notices.
  src/commandline_argv.cpp
  src/commandline_argv.hpp
  src/gui/dialogs/server_info_dialog.cpp
  src/gui/dialogs/server_info_dialog.hpp
  src/gui/widgets/retval.hpp
  src/serialization/schema/key.hpp
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/resultsets/ban_check.cpp
  src/server/common/resultsets/ban_check.hpp
  src/server/common/resultsets/game_history.cpp
  src/server/common/resultsets/game_history.hpp
  src/server/common/resultsets/rs_base.hpp
  src/server/common/resultsets/tournaments.cpp
  src/server/common/resultsets/tournaments.hpp
  src/utils/ranges.hpp
Labels: Add-ons, MP, Schema, UI

[world conquest] removed one redundant comment
  data/campaigns/World_Conquest/_main.cfg
Labels: Campaign

[WC credits] changed an underscore to a space
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

update gitignores
  .gitignore
  data/tools/emacs_mode/.gitignore
Labels: WML Tools

try applying reformatting patch
  src/savegame.cpp
  src/savegame.cpp.rej
Labels: none

WFL: Support 2-argument atan
  src/formula/function.cpp
Labels: WFL

Fix a misplaced doc comment
  src/config.hpp
Labels: none

WFL/Lua: Add lerp and clamp functions
  data/lua/core/mathx.lua
  src/formula/function.cpp
Labels: Lua API, WFL

Lua API: Fix the deprecation wrappers for place_shroud and remove_shroud
  data/lua/core/sides.lua
Labels: Lua API

Lua API: Fix bug in wesnoth.map.iter_adjacent
  data/lua/core/map.lua
Labels: Lua API

Lua AI: Fix a typo
  data/ai/lua/ca_move_to_any_enemy.lua
Labels: AI

Revert "try applying reformatting patch"
  src/savegame.cpp
  src/savegame.cpp.rej
Labels: none

Update savegame.cpp
  src/savegame.cpp
Labels: none

Update the shroud unit tests and add a few more for cases new in 1.16
  data/test/scenarios/test_modify_shroud.cfg
  wml_test_schedule
Labels: Unit Tests

New config methods for getting deprecated attributes or children
  src/config.cpp
  src/config.hpp
  src/deprecation.hpp
Labels: none

Add unit tests for the Lua shroud functions
  data/test/scenarios/test_modify_shroud.cfg
  wml_test_schedule
Labels: Unit Tests

AI: Fix short goal syntax
  src/ai/configuration.cpp
Labels: AI

Add deprecation messages for the most FormulaAI WML
  src/ai/configuration.cpp
  src/units/formula_manager.cpp
Labels: AI, Units

Lua API: Fix wesnoth.map.find(filter, unit) ignoring the unit
  data/lua/core/map.lua
Labels: Lua API

Lua API: Add an absolute complement option to location_set
  data/lua/location_set.lua
Labels: Lua API

Lua API: Add wesnoth.map.filter_tags for the mapgen kernel
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/engine.lua
  data/lua/core/map.lua
Labels: Campaign, Lua API

Lua API: When creating a location set from triples, also support tables with x, y, and value keys
  data/lua/location_set.lua
Labels: Lua API

Lua API: Use a named tuple when converting a location set to triples
  data/lua/location_set.lua
Labels: Lua API

Lua API: Make wesnoth.map.generate_height_map return data compatible with location_set
  src/scripting/mapgen_lua_kernel.cpp
Labels: Lua API

Lua API: wesnoth.map.parse|make_bitmap are now defined in the base kernel
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_kernel_base.cpp
Labels: Lua API

Lua API: Ensure unit test assertions specify a message string
  data/lua/core/unit_test.lua
  data/test/scenarios/as_text.cfg
  data/test/scenarios/test_lua.cfg
  data/test/scenarios/test_lua_version_api.cfg
Labels: Lua API, Unit Tests

Lua API: Use the new location_set complement in the place_shroud deprecation wrapper
  data/lua/core/sides.lua
Labels: Lua API

fix whitespace
  data/lua/core/map.lua
  data/lua/core/unit_test.lua
  src/config.cpp
  src/config.hpp
  src/gui/dialogs/migrate_version_selection.cpp
  src/scripting/mapgen_lua_kernel.cpp
Labels: Lua API, UI

Tutorial S01: Synchronise the choice of character
  data/campaigns/tutorial/lua/character_selection.lua
Labels: Campaign

SotA: Synchronise the zombie recruitment dialog
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
Labels: Campaign

Tutorial S01: Synchronise the choice of character
  data/campaigns/tutorial/lua/character_selection.lua
Labels: Campaign

SotA: Synchronise the zombie recruitment dialog
  data/campaigns/Secrets_of_the_Ancients/utils/zombie_recruit_dialog.lua
Labels: Campaign

Tutorial S01: Synchronise the choice of character
  data/campaigns/tutorial/lua/character_selection.lua
Labels: Campaign
