Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

EI S05-S10: Add more PO hints
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
  data/campaigns/Eastern_Invasion/scenarios/06a_Undead_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/06b_Soradoc.cfg
  data/campaigns/Eastern_Invasion/scenarios/07b_Ogre_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Campaign EI

EI - fix S11 cell-door-open event
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Campaign EI

EI S05-S10: Add more PO hints
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
  data/campaigns/Eastern_Invasion/scenarios/06a_Undead_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/06b_Soradoc.cfg
  data/campaigns/Eastern_Invasion/scenarios/07b_Ogre_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Campaign EI

Fix some spelling errors
  data/campaigns/Winds_of_Fate/story/Past_and_Future_Drake_History_(Spoilers).txt
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
  src/draw_manager.cpp
  src/scripting/game_lua_kernel.cpp
Labels: Campaign WoF, Campaign WC, Lua API

Fix some spelling errors
  data/campaigns/Winds_of_Fate/story/Past_and_Future_Drake_History_(Spoilers).txt
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
  src/draw_manager.cpp
  src/scripting/game_lua_kernel.cpp
Labels: Campaign WoF, Campaign WC, Lua API

Make TeamColorizer and update_pathfinding executable
  data/tools/TeamColorizer
  utils/update_pathfinding
Labels: WML Tools

Replace Bash $UID with portable $(id -u) in Docker scripts
  utils/dockerbuilds/make_mingw_build
  utils/dockerbuilds/make_steam_build
  utils/dockerbuilds/make_steam_image
  utils/itchio_upload
Labels: none

Add Dockerfile update to Lua update documentation
  src/modules/lua_README.md
  src/wesnoth_lua_config.md
Labels: none

EI: fix Terraent standing animation, and update stats to match mainline
  data/campaigns/Eastern_Invasion/units/Human_Terraent_Paladin.cfg
Labels: Campaign EI, Units

Some fixups
  data/multiplayer/eras.lua
Labels: MP

doc update and move set_max_size
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
Labels: UI

Last fixups (probably)
  data/multiplayer/eras.lua
Labels: MP

[LuaDoc] Declare tstring to be concatenatable
  utils/emmylua/wesnoth.lua
Labels: none

Fix a crash that can occur when using Back to Turn.
  src/hotkey/hotkey_command.cpp
Labels: none

add trailing newline to files
  utils/CI/fix_whitespace.sh
Labels: none

Revert from_chars float use
  src/image_modifications.cpp
  src/utils/from_chars.hpp
Labels: none

IPF: convert uses of lexical_cast_default to from_chars (#8407)
  src/image_modifications.cpp
  src/utils/from_chars.hpp
Labels: none

Add the missing trailing newline to a file
  src/gui/dialogs/multiplayer/mp_staging.cpp
Labels: UI

Revert renaming of ai_helper.checked_move_core
  data/ai/lua/ai_helper.lua
Labels: AI

Revert renaming of ai_helper.checked_move_core
  data/ai/lua/ai_helper.lua
Labels: AI

[WoF] Avoid code duplication and fix a non-translatable string (#8384)
  data/campaigns/Winds_of_Fate/lua/lua.lua
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/multiplayer/eras.lua
Labels: Campaign WoF, MP

Redirect using C output instead of C++ output
  src/filesystem.cpp
  src/log.cpp
  src/log.hpp
Labels: none

fix mixed indentation.
  data/schema/schema.cfg
Labels: Schema

EI - dra_nak_dead branch bugfix
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

EI - dra_nak_dead fix whitespace
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

EI S11-S18: Add more PO hints
  data/campaigns/Eastern_Invasion/scenarios/04a_An_Elven_Interlude.cfg
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
  data/campaigns/Eastern_Invasion/scenarios/13_Spoils_of_War.cfg
  data/campaigns/Eastern_Invasion/scenarios/14_The_Drowned_Plains.cfg
  data/campaigns/Eastern_Invasion/scenarios/15_Return_to_Wesnoth.cfg
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
  data/campaigns/Eastern_Invasion/scenarios/17a_The_Duel.cfg
  data/campaigns/Eastern_Invasion/scenarios/17b_All-In.cfg
  data/campaigns/Eastern_Invasion/scenarios/18_Epilogue.cfg
  data/campaigns/Eastern_Invasion/scenarios/99_Empire.cfg
Labels: Campaign EI

Small fixup
  src/image_modifications.cpp
Labels: none

EI - S12 bugfix flying undead being drowned/trapped
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

.
  src/log.hpp
Labels: none

EI S12: bugfixes for dra_nak_dead and flying undead drowning
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

internalize condition and clean typos
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/spinner.cpp
Labels: UI

updated French translation
  po/wesnoth-ei/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-httt/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-low/fr.po
  po/wesnoth-multiplayer/fr.po
  po/wesnoth-sotbe/fr.po
  po/wesnoth-tb/fr.po
  po/wesnoth-trow/fr.po
  po/wesnoth-units/fr.po
  po/wesnoth-utbs/fr.po
  po/wesnoth-wc/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated Arabic translation
  po/wesnoth-dm/ar.po
  po/wesnoth-low/ar.po
Labels: Translations

Stop multiline_text from infinite growing and show scrollbar instead
  data/gui/widget/multiline_text_default.cfg
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/scrollbar_container.hpp
  src/gui/widgets/spinner.cpp
Labels: UI

Fix multiline_text's overriding of set_cursor
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.hpp
Labels: UI

EI S01, S13: Fix Gaennell's gender
  data/campaigns/Eastern_Invasion/scenarios/01_Eastern_Invasion.cfg
  data/campaigns/Eastern_Invasion/scenarios/13_Spoils_of_War.cfg
Labels: Campaign EI

Redirect using C output instead of C++ output (#8391)
  src/filesystem.cpp
  src/log.cpp
  src/log.hpp
Labels: none

HttT S17 map height +5
  data/campaigns/Heir_To_The_Throne/scenarios/17_Scepter_of_Fire.cfg
Labels: Campaign HttT

HttT S17 Ensure map always has 6 castle hexes around Konrad (#8314)
  data/campaigns/Heir_To_The_Throne/scenarios/17_Scepter_of_Fire.cfg
Labels: Campaign HttT

Update copyrights.csv
  copyrights.csv
Labels: none

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
