Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

Refactor certain pref flags out of the display class
  src/display.cpp
  src/display.hpp
  src/editor/controller/editor_controller.cpp
  src/play_controller.cpp
  src/preferences/display.cpp
  src/preferences/display.hpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/units/animation_component.cpp
Labels: Editor, Units

Update attic read-me.
  attic/README.md
Labels: none

Remove unused float variant of code.
  src/display.cpp
  src/display.hpp
  src/editor/action/mouse/mouse_action.cpp
  src/game_display.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
  src/units/drawer.cpp
  src/units/drawer.hpp
  src/utils/math.hpp
Labels: Editor, Units

Replace ftofxp with multiply_by_256.
  src/display.cpp
  src/display.hpp
  src/floating_label.cpp
  src/game_display.cpp
  src/image_modifications.cpp
  src/picture.cpp
  src/sdl/utils.cpp
  src/units/drawer.cpp
  src/units/frame.cpp
  src/utils/math.hpp
  src/widgets/textbox.cpp
Labels: Units

Replace fxpmult with multiply_and_right_shift.
  src/image_modifications.cpp
  src/sdl/utils.cpp
  src/units/drawer.cpp
  src/utils/math.hpp
Labels: Units

Replace fxpdiv with left_shift_and_divide.
  src/game_display.cpp
  src/sdl/utils.cpp
  src/units/drawer.cpp
  src/utils/math.hpp
Labels: Units

Replace fxptoi with right_shift.
  src/sdl/utils.cpp
  src/units/drawer.cpp
  src/utils/math.hpp
Labels: Units

Give better names.
  src/display.cpp
  src/display.hpp
  src/floating_label.cpp
  src/game_display.cpp
  src/image_modifications.cpp
  src/picture.cpp
  src/sdl/utils.cpp
  src/units/drawer.cpp
  src/units/frame.cpp
  src/utils/math.hpp
  src/widgets/textbox.cpp
Labels: Units

Fix whitespace.
  src/utils/math.hpp
Labels: none

Revert this to inline.
  src/utils/math.hpp
Labels: none

Revert "Revert this to inline."
  src/utils/math.hpp
Labels: none

Attempt to fix tests
  src/tests/test_util.cpp
Labels: none

Refactored display-class theme initialization
  src/controller_base.cpp
  src/controller_base.hpp
  src/display.cpp
  src/display.hpp
  src/editor/controller/editor_controller.cpp
  src/editor/editor_display.cpp
  src/editor/editor_display.hpp
  src/game_display.cpp
  src/game_display.hpp
  src/play_controller.cpp
  src/preferences/display.cpp
  src/replay_controller.cpp
  src/scripting/game_lua_kernel.cpp
  src/theme.cpp
  src/theme.hpp
Labels: Editor, Lua API

Does not build: Revert "Refactored display-class theme initialization"
  src/controller_base.cpp
  src/controller_base.hpp
  src/display.cpp
  src/display.hpp
  src/editor/controller/editor_controller.cpp
  src/editor/editor_display.cpp
  src/editor/editor_display.hpp
  src/game_display.cpp
  src/game_display.hpp
  src/play_controller.cpp
  src/preferences/display.cpp
  src/replay_controller.cpp
  src/scripting/game_lua_kernel.cpp
  src/theme.cpp
  src/theme.hpp
Labels: Editor, Lua API

Simplify math.hpp's count_leading_zeros
  src/tests/test_util.cpp
  src/utils/math.hpp
Labels: none

Simplify math.hpp's count_leading_zeros
  src/tests/test_util.cpp
  src/utils/math.hpp
Labels: none

Add a unit test for [move_unit]location_id with an occupied hex
  data/test/scenarios/test_move_unit_to_occupied_hex.cfg
  wml_test_schedule
Labels: Unit Tests

Add a unit test for [move_unit]location_id with an occupied hex
  data/test/scenarios/test_move_unit_to_occupied_hex.cfg
  wml_test_schedule
Labels: Unit Tests

Refactored display-class theme initialization
  src/controller_base.cpp
  src/controller_base.hpp
  src/display.cpp
  src/display.hpp
  src/editor/controller/editor_controller.cpp
  src/editor/editor_display.cpp
  src/editor/editor_display.hpp
  src/game_display.cpp
  src/game_display.hpp
  src/play_controller.cpp
  src/preferences/display.cpp
  src/replay_controller.cpp
  src/scripting/game_lua_kernel.cpp
  src/tests/utils/fake_display.cpp
  src/theme.cpp
  src/theme.hpp
Labels: Editor, Lua API

Address misc recent feedback
  src/display.cpp
  src/enum_base.hpp
  src/font/font_config.cpp
  src/replay.cpp
  src/scripting/game_lua_kernel.cpp
  src/theme.hpp
Labels: Lua API

Bug form: mark steps as placeholder
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Display: formatting, minor code cleanup
  src/display.cpp
Labels: none

Removed invalidate_all call from floating_textbox::close
  src/floating_textbox.cpp
  src/floating_textbox.hpp
  src/menu_events.cpp
  src/play_controller.cpp
Labels: none

GUI2/Dispatcher: refactored [dis]connect_signal to use constexpr-if rather than SFINAE
  src/gui/core/event/dispatcher.hpp
Labels: UI

fix [firststrike] special with apply_to=opponent crashes Wesnoth 1.17.x
  src/units/abilities.cpp
Labels: Units

add unit test
  data/test/scenarios/swarm_disables_upgrades.cfg
  wml_test_schedule
Labels: Unit Tests

move test to proper file
  data/test/scenarios/poison_opponent.cfg
Labels: Unit Tests

fix [firststrike] special with apply_to=opponent crashes Wesnoth 1.16.x
  src/units/abilities.cpp
Labels: Units

limit fix to firststrike in 1.16
  src/units/abilities.cpp
Labels: Units

SEGFAULTS: Add a unit test for firststrike and laststrike
  data/test/maps/4p_single_castle.map
  data/test/scenarios/firststrike_and_laststrike.cfg
  wml_test_schedule
Labels: Unit Tests

change'lambda_' to 'victim_'
  src/units/abilities.cpp
Labels: Units

use 'att_weapon' variable.
  src/units/abilities.cpp
Labels: Units

change 'lambda_' to 'whom_is_' and move 'firststrike'
  src/units/abilities.cpp
Labels: Units

Actually make this a compile-time check
  src/gui/core/event/dispatcher.hpp
  src/utils/general.hpp
Labels: UI

Scale map labels by zoom
  src/map/label.cpp
Labels: none

wmlindent: refactored indentation level handling code
  data/tools/wmlindent
Labels: WML Tools

Get vcpkg caching working again.
  .github/workflows/ci-main.yml
Labels: none

Update vcpkg.
  .github/workflows/ci-main.yml
Labels: none

updated French translation
  changelog.md
  po/wesnoth-wc/fr.po
Labels: Translations

updated French translation
  changelog.md
  po/wesnoth-wc/fr.po
Labels: Translations
