Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**

WoF: add wmllint 'skip-side' magic comments
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign WoF

gui/outro: New clock-based timing logic for the text fading
  changelog_entries/ui-outro-text-fading.md
  data/gui/window/outro.cfg
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
Labels: UI

WoF S11: fix wmllint error by reorganizing side 2
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

WoF S11: fix wmllint error by reorganizing side 2
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

use the currently selected map's path when opening a new file
  src/editor/map/context_manager.cpp
Labels: Editor

use the currently selected map's path when opening a new file
  src/editor/map/context_manager.cpp
Labels: Editor

use the currently selected map's path when opening a new file
  src/editor/map/context_manager.cpp
Labels: Editor

EI: Bind translatable strings to wesnoth-units
  data/campaigns/Eastern_Invasion/units/Undead_Horse_Barrow_Wight.cfg
Labels: Campaign EI, Units

wmllint: drop the rule about [campaign]rank= being a multiple of 5
  data/tools/wmllint
Labels: WML Tools

wmllint: drop the rule about [campaign]rank= being a multiple of 5
  data/tools/wmllint
Labels: WML Tools

improvements to story screen
  data/gui/window/story_viewer.cfg
  images/misc/dots.png
  images/misc/ornate_big_arrow_decor.png
  src/gui/dialogs/story_viewer.cpp
  src/gui/dialogs/story_viewer.hpp
Labels: Graphics, UI

f prev
  src/units/unit.cpp
Labels: Units

Create modification_effect_type_variation.cfg
  data/test/scenarios/wml_tests/UnitsWML/modification_effect_type_variation.cfg
Labels: Unit Tests

Update wml_test_schedule
  wml_test_schedule
Labels: none

Fix #8460 [effect] apply_to=variation (#8475)
  data/test/scenarios/wml_tests/UnitsWML/modification_effect_type_variation.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units

update copyright info
  copyrights.csv
  src/gui/dialogs/story_viewer.cpp
  src/gui/dialogs/story_viewer.hpp
Labels: UI

EI - recolor achievement icon
  data/campaigns/Eastern_Invasion/achievements.cfg
Labels: Achievements, Campaign EI

wesnoth logo localized to bengali
  images/misc/l10n/bn/logo.png
Labels: Graphics

update copyright
  copyrights.csv
Labels: none

Bengali logo for Wesnoth (#8513)
  copyrights.csv
  images/misc/l10n/bn/logo.png
Labels: Graphics

EI: Bind translatable strings to wesnoth-units
  data/campaigns/Eastern_Invasion/units/Undead_Horse_Barrow_Wight.cfg
Labels: Campaign EI, Units

EI: Bind translatable strings to wesnoth-units
  data/campaigns/Eastern_Invasion/units/Undead_Horse_Barrow_Wight.cfg
Labels: Campaign EI, Units

fix text in story to have a maximum width
  data/gui/window/story_viewer.cfg
  src/gui/dialogs/story_viewer.cpp
  src/gui/widgets/scroll_label.hpp
  src/gui/widgets/styled_widget.hpp
Labels: UI

Fix indicies in widget.add_item_of_type()
  src/scripting/lua_widget_methods.cpp
Labels: Lua API

gui: Use menu item coordinates to decide where to spawn submenus
  src/gui/dialogs/drop_down_menu.cpp
  src/gui/dialogs/drop_down_menu.hpp
  src/hotkey/command_executor.cpp
Labels: UI

Make sure animations are skipped when skipping animations in replays
  src/actions/advancement.cpp
  src/scripting/game_lua_kernel.cpp
  src/units/udisplay.cpp
Labels: Lua API, Units

updated German translation
  po/wesnoth-httt/de.po
  po/wesnoth-low/de.po
  po/wesnoth-nr/de.po
Labels: Translations

updated German translation
  po/wesnoth-httt/de.po
  po/wesnoth-low/de.po
  po/wesnoth-nr/de.po
Labels: Translations

f prev
  src/scripting/lua_widget_methods.cpp
Labels: Lua API

Adding myself to credits (#8470)
  data/core/about_i18n.cfg
Labels: none

Make sure animations are skipped when skipping animations in replays
  src/actions/advancement.cpp
  src/scripting/game_lua_kernel.cpp
  src/units/udisplay.cpp
Labels: Lua API, Units

Adding myself to credits (#8470)
  data/core/about_i18n.cfg
Labels: none

Make sure animations are skipped when skipping animations in replays
  src/actions/advancement.cpp
  src/scripting/game_lua_kernel.cpp
  src/units/udisplay.cpp
Labels: Lua API, Units

Fix #8460 [effect] apply_to=variation (#8475)
  data/test/scenarios/wml_tests/UnitsWML/modification_effect_type_variation.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units

updated Polish translation
  changelog.md
  po/wesnoth-sota/pl.po
Labels: Translations

updated Polish translation
  changelog.md
  po/wesnoth-sota/pl.po
Labels: Translations

updated Bengali translation
  po/wesnoth-low/bn.po
  po/wesnoth-tb/bn.po
  po/wesnoth-tsg/bn.po
  po/wesnoth-tutorial/bn.po
  po/wesnoth-units/bn.po
Labels: Translations

updated Bengali translation
  po/wesnoth-help/bn.po
  po/wesnoth-low/bn.po
  po/wesnoth-tb/bn.po
  po/wesnoth-tsg/bn.po
  po/wesnoth-tutorial/bn.po
  po/wesnoth-units/bn.po
Labels: Translations

updated French translation
  po/wesnoth-editor/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-httt/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-low/fr.po
  po/wesnoth-manpages/fr.po
  po/wesnoth-sotbe/fr.po
  po/wesnoth-tb/fr.po
  po/wesnoth-trow/fr.po
  po/wesnoth-tutorial/fr.po
  po/wesnoth-utbs/fr.po
  po/wesnoth-wc/fr.po
Labels: Translations

updated French translation
  po/wesnoth-editor/fr.po
  po/wesnoth-help/fr.po
  po/wesnoth-httt/fr.po
  po/wesnoth-lib/fr.po
  po/wesnoth-low/fr.po
  po/wesnoth-manpages/fr.po
  po/wesnoth-sotbe/fr.po
  po/wesnoth-tb/fr.po
  po/wesnoth-trow/fr.po
  po/wesnoth-tutorial/fr.po
  po/wesnoth-utbs/fr.po
  po/wesnoth-wc/fr.po
Labels: Translations
