Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Update image_modifications.cpp
  src/image_modifications.cpp
Labels: none

Accept percentage arguments in scaling IPFs (#8217)
  src/image_modifications.cpp
  src/image_modifications.hpp
Labels: none

Update German translation
  changelog.md
  po/wesnoth-dw/de.po
  po/wesnoth-help/de.po
  po/wesnoth-lib/de.po
  po/wesnoth-multiplayer/de.po
  po/wesnoth-thot/de.po
  po/wesnoth-tsg/de.po
Labels: Translations

Update German translation
  changelog.md
  po/wesnoth-dw/de.po
  po/wesnoth-help/de.po
  po/wesnoth-lib/de.po
  po/wesnoth-multiplayer/de.po
  po/wesnoth-thot/de.po
  po/wesnoth-tsg/de.po
Labels: Translations

Saurian Prophet/Seer portrait was converted from PNG to WebP.
  data/core/units/saurians/Prophet.cfg
  data/core/units/saurians/Seer.cfg
Labels: Units

Bat images were moved from undead directory to bats in #6655.
  data/campaigns/Secrets_of_the_Ancients/scenarios/02_Dark_Business.cfg
Labels: Campaign SotA

Fix renamed/removed unit images in MP Aethermaw (#8432)
  .github/workflows/ci-main.yml
  changelog_entries/aethermaw_image_errors.md
  copyrights.csv
  data/core/images/units/human-loyalists/general-idle-5.png
  data/core/images/units/human-loyalists/spearman-attack-s-6.png
  data/core/images/units/human-loyalists/spearman-attack-se-10.png
  data/core/images/units/human-loyalists/spearman-attack-se-9.png
  data/multiplayer/scenarios/2p_Aethermaw.cfg
  utils/CI/check_wml_images.sh
Labels: Graphics, MP, Units

Update server config content
  utils/mp-server/new_campaignd
Labels: Services

Update used actions to avoid deprecated Node.js 16
  .github/workflows/ci-main.yml
Labels: none

Update CI branch name configuration value for 1.18
  .github/workflows/ci-main.yml
Labels: none

Bat images were moved from undead directory to bats in #6655.
  data/campaigns/Secrets_of_the_Ancients/scenarios/02_Dark_Business.cfg
Labels: Campaign SotA

Saurian Prophet/Seer portrait was converted from PNG to WebP.
  data/core/units/saurians/Prophet.cfg
  data/core/units/saurians/Seer.cfg
Labels: Units

Saurian Prophet/Seer portrait was converted from PNG to WebP.
  data/core/units/saurians/Prophet.cfg
  data/core/units/saurians/Seer.cfg
Labels: Units

Bat images were moved from undead directory to bats in #6655.
  data/campaigns/Secrets_of_the_Ancients/scenarios/02_Dark_Business.cfg
Labels: Campaign SotA

Defer minimap rendering until invoked
  src/gui/widgets/minimap.cpp
  src/minimap.cpp
  src/minimap.hpp
Labels: UI

Use texture-based minimap rendering in-game
  src/display.cpp
  src/display.hpp
Labels: none

Removed surface-based minimap code
  src/minimap.cpp
  src/minimap.hpp
Labels: none

GUI2/Minimap: don't keep copy of map data
  src/gui/widgets/minimap.cpp
  src/gui/widgets/minimap.hpp
Labels: UI

Minimap: fix village markers drawing over fog/shroud
  src/minimap.cpp
Labels: none

Fix logic mistake from the refactor in f8bd32e
  src/server/campaignd/addon_utils.cpp
Labels: Add-ons

Fix logic mistake from the refactor in f8bd32e
  src/server/campaignd/addon_utils.cpp
Labels: Add-ons

Update used actions to avoid deprecated Node.js 16
  .github/workflows/ci-main.yml
Labels: none

check compiler version
  SConstruct
Labels: Building, SCons

Add wesnoth.current.is_replaying
  data/lua/carryover_gold.lua
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

move the carryover gold handling and dialog to lua
  data/core/_main.cfg
  data/lua/carryover_gold.lua
  src/carryover_show_gold.cpp
  src/carryover_show_gold.hpp
  src/playsingle_controller.cpp
  src/scripting/lua_team.cpp
Labels: Lua API

change default client keepslive timeout to 20 seconds
  src/preferences/general.cpp
Labels: none

change default client keepslive timeout to 20 seconds
  src/preferences/general.cpp
Labels: none

Update used actions to avoid deprecated Node.js 16
  .github/workflows/ci-main.yml
Labels: none

Update used actions to avoid deprecated Node.js 16
  .github/workflows/ci-main.yml
Labels: none

Restore fog and reachmap highlights to minimap
  data/core/images/terrain/minimap-fog.png
  data/core/images/terrain/minimap-highlight.png
  src/minimap.cpp
Labels: Graphics, Terrain

Remove minimap surface caches
  src/picture.cpp
  src/picture.hpp
Labels: none

Add copyright job to notification
  .github/workflows/ci-main.yml
Labels: none

Add copyright job to notification
  .github/workflows/ci-main.yml
Labels: none

Fix logic mistake from the refactor in f8bd32e
  src/server/campaignd/addon_utils.cpp
Labels: Add-ons

Fix logic mistake from the refactor in f8bd32e
  src/server/campaignd/addon_utils.cpp
Labels: Add-ons

Update terrain.cfg All "Sands" to "Sand"
  data/core/terrain.cfg
Labels: Terrain

Refactor WC carryover implementation.
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
  data/campaigns/World_Conquest/lua/map/main.lua
Labels: Campaign WC

split gold_carryover into smaller functions
  data/core/_main.cfg
  data/lua/carryover_gold.lua
  data/lua/scenario_end_events.lua
Labels: Lua API

HttT S5b: Fix duplicate loyal trait for Delurin
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
Labels: Campaign HttT

Keep laurel decorations consistent with difficulty level (resolves #8442).
  src/gui/dialogs/campaign_difficulty.cpp
Labels: UI

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
