Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools

.github/labeler.yml:

AI:
  - data/ai/**/*
  - src/ai/**/*

Audio:
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - docker/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - src/campaign_server/*
  - src/server/*
  - utils/mp-server/*

Terrain:
  - src/terrain/**/*
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain_graphics/*
  - data/images/terrain/**/*

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

DiD: use set key to apply max_experience
  data/campaigns/Descent_Into_Darkness/units/Mal_Keshar.cfg
  data/campaigns/Descent_Into_Darkness/units/Malin_Keshar.cfg
  data/campaigns/Descent_Into_Darkness/units/Spectral_Servant.cfg
Labels: Campaign

Schema: fix some value types
  data/schema/game_config.cfg
  data/schema/units/specials.cfg
Labels: Schema

Schema: attempt to fix specials used as abilities
  data/schema/units/abilities.cfg
Labels: Schema

Schema: allow variables in heal_amount
  data/schema/game_config.cfg
Labels: Schema

Allow config_attribute_value to implicitly convert to bool in conditional statements
  src/config_attribute_value.hpp
Labels: none

fix typo in comment
  src/config_attribute_value.hpp
Labels: none

DiD: use yes instead of 1 in always_display
  data/campaigns/Descent_Into_Darkness/units/Malin_Keshar.cfg
  data/campaigns/Descent_Into_Darkness/units/Spectral_Servant.cfg
Labels: Campaign

DiD: remove dark adept from recruit list
  data/campaigns/Descent_Into_Darkness/scenarios/05_Schism.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07_A_Small_Favor.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/10_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/11_Descent_into_Darkness.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/12_Endless_Night.cfg
  data/campaigns/Descent_Into_Darkness/units/Dark_Adept.cfg
  data/campaigns/Descent_Into_Darkness/units/Dark_Sorcerer.cfg
Labels: Campaign

Add DiD updates to changelog
  changelog.md
Labels: none

DiD S4: update dialogue
  data/campaigns/Descent_Into_Darkness/scenarios/04_Spring_of_Reprisal.cfg
Labels: Campaign

Add DiD update to changelog
  changelog.md
Labels: none

Fix a few bugs
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
Labels: Campaign

Update 04_Unlawful_Orders.cfg
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
Labels: Campaign

Tweak dialogue if adepts in S4 are killed
  data/campaigns/Liberty/scenarios/06_The_Grey_Woods.cfg
Labels: Campaign

Update scenario-test.cfg
  data/scenario-test.cfg
Labels: none

Remove unneeded message
  data/campaigns/Liberty/scenarios/06_The_Grey_Woods.cfg
Labels: Campaign

Xot catacombs wall touchup and Efs flames overlay variation (candle)
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-bl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-br.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-br.xcf
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-l.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-r.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-corner-bl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-corner-r.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-corner-tl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-corner-tr.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone2-concave-tl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone2-concave-tr.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone2-convex-bl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone2-convex-br.png
  data/core/images/terrain/walls/stone/flames/candle/base-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/base-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/base-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/flames.png
  data/core/images/terrain/walls/stone/flames/candle/glow1-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/glow1-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/glow1-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/glow2-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/glow2-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/glow2-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/glow3-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/glow3-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/glow3-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/mask-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/mask-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/mask-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/mask2-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/mask2-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/mask2-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/mask3-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/mask3-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/mask3-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/wall-post-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/wall-post-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/wall-post-convex-bl.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

minor variations of walls can be spaced every other SE/SW facing panel
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

Schema: attempt to fix specials used as abilities
  data/schema/units/abilities.cfg
Labels: Schema

Fix changelog entry for new animations
  changelog.md
Labels: none

Add new animations to changelog
  changelog.md
Labels: none

Woses: add new animations
  data/core/units/wose/Elder.cfg
  data/core/units/wose/Wose.cfg
Labels: Units

Woses: add new animations
  data/core/units/wose/Elder.cfg
  data/core/units/wose/Wose.cfg
Labels: Units

Sapling: add idle anim
  data/core/units/wose/Wose_Sapling.cfg
Labels: Units

Easy wmllint fixes for unrecognised characters (part of #4494)
  data/campaigns/Dead_Water/scenarios/10_The_Flaming_Sword.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/13_The_Return_of_Trouble.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/22_Face_of_the_Enemy.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
  data/campaigns/Heir_To_The_Throne/_main.cfg
  data/campaigns/Two_Brothers/_main.cfg
  data/campaigns/Two_Brothers/scenarios/03_Guarded_Castle.cfg
Labels: Campaign

Update zoomo's credit list entry
  data/core/about.cfg
Labels: none

Update zoomo's credit list entry
  data/core/about.cfg
Labels: none

Add more sprite animators to the credit list
  data/core/about.cfg
Labels: none

Grunt: modify standing animation
  data/core/images/units/orcs/grunt-stand-se-1.png
  data/core/images/units/orcs/grunt-stand-se-10.png
  data/core/images/units/orcs/grunt-stand-se-2.png
  data/core/images/units/orcs/grunt-stand-se-3.png
  data/core/images/units/orcs/grunt-stand-se-4.png
  data/core/images/units/orcs/grunt-stand-se-5.png
  data/core/images/units/orcs/grunt-stand-se-6.png
  data/core/images/units/orcs/grunt-stand-se-7.png
  data/core/images/units/orcs/grunt-stand-se-8.png
  data/core/images/units/orcs/grunt-stand-se-9.png
  data/core/images/units/orcs/grunt.png
  data/core/units/orcs/Grunt.cfg
Labels: Graphics, Units

Grunt: modify standing animation
  data/core/images/units/orcs/grunt-stand-se-1.png
  data/core/images/units/orcs/grunt-stand-se-10.png
  data/core/images/units/orcs/grunt-stand-se-2.png
  data/core/images/units/orcs/grunt-stand-se-3.png
  data/core/images/units/orcs/grunt-stand-se-4.png
  data/core/images/units/orcs/grunt-stand-se-5.png
  data/core/images/units/orcs/grunt-stand-se-6.png
  data/core/images/units/orcs/grunt-stand-se-7.png
  data/core/images/units/orcs/grunt-stand-se-8.png
  data/core/images/units/orcs/grunt-stand-se-9.png
  data/core/images/units/orcs/grunt.png
  data/core/units/orcs/Grunt.cfg
Labels: Graphics, Units

DiD S2: revise dialogue
  data/campaigns/Descent_Into_Darkness/scenarios/02_Peaceful_Valley.cfg
Labels: Campaign

DiD S1: revise dialogue and add country accents to Drogan and Dela
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
Labels: Campaign

DiD S1: touch up dialogue
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
Labels: Campaign

DiD S6: update dialogue
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
Labels: Campaign

DiD: have Malin speak more normally
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
Labels: Campaign

DiD: fix Darken Volk's unit type
  data/campaigns/Descent_Into_Darkness/utils/characters.cfg
Labels: Campaign

DiD: add extra image utils
  data/campaigns/Descent_Into_Darkness/images/misc/fire-icon.png
  data/campaigns/Descent_Into_Darkness/images/misc/potion-icon.png
Labels: Campaign

Fixed crash in gamestate inspector (fixes #4540)
  src/gui/dialogs/gamestate_inspector.cpp
Labels: UI

Disable Font Scaling preference
  data/gui/window/preferences/03_display.cfg
  src/gui/dialogs/preferences_dialog.cpp
Labels: UI

Disable Core access
  src/gui/dialogs/title_screen.cpp
Labels: UI
