Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**

AI: Fix short goal syntax
  src/ai/configuration.cpp
Labels: AI

Lua API: Fix wesnoth.map.find(filter, unit) ignoring the unit
  data/lua/core/map.lua
Labels: Lua API

Lua API: Ensure unit test assertions specify a message string
  data/lua/core/unit_test.lua
  data/test/scenarios/as_text.cfg
  data/test/scenarios/test_lua.cfg
  data/test/scenarios/test_lua_version_api.cfg
Labels: Lua API, Unit Tests

fix whitespace
  data/lua/core/unit_test.lua
  src/config.cpp
  src/config.hpp
  src/gui/dialogs/migrate_version_selection.cpp
Labels: Lua API, UI

MP/Lobby: split handling of user list updating into separate class
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/multiplayer/lobby.hpp
  src/gui/dialogs/multiplayer/lobby_player_list_helper.cpp
  src/gui/dialogs/multiplayer/lobby_player_list_helper.hpp
  src/gui/widgets/tree_view_node.cpp
  src/gui/widgets/tree_view_node.hpp
Labels: UI

MP/Lobby: removed colorize
  src/gui/dialogs/multiplayer/lobby.cpp
Labels: UI

MP: used more config::optional_child
  src/game_initialization/multiplayer.cpp
Labels: none

Lobby Info: consolidated two loops
  src/game_initialization/lobby_info.cpp
Labels: none

MP/Lobby: some more player list-related cleanup
  data/gui/window/lobby_main.cfg
  src/gui/dialogs/multiplayer/lobby_player_list_helper.cpp
  src/gui/dialogs/multiplayer/lobby_player_list_helper.hpp
Labels: UI

Forgot to commit the source_lists change
  source_lists/wesnoth
Labels: Building

Lobby Info: handle keep track of installed addon cache entirely in-class
  src/game_initialization/lobby_info.cpp
  src/game_initialization/lobby_info.hpp
  src/game_initialization/multiplayer.cpp
Labels: none

Update Dirkfang.cfg
  data/core/units/nagas/Dirkfang.cfg
Labels: Units

Differentiate class names
  src/gui/dialogs/multiplayer/lobby.hpp
  src/gui/dialogs/multiplayer/lobby_player_list_helper.cpp
  src/gui/dialogs/multiplayer/lobby_player_list_helper.hpp
Labels: UI

MP/Lobby: more cleanup
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/multiplayer/lobby.hpp
Labels: UI

updated German translation
  po/wesnoth-lib/de.po
Labels: Translations

updated Russian translation
  po/wesnoth-help/ru.po
  po/wesnoth-lib/ru.po
  po/wesnoth-sotbe/ru.po
  po/wesnoth/ru.po
Labels: Translations

updated Russian translation
  po/wesnoth-help/ru.po
  po/wesnoth-lib/ru.po
  po/wesnoth-sotbe/ru.po
  po/wesnoth/ru.po
Labels: Translations

updated Italian translation
  po/wesnoth-did/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-sof/it.po
  po/wesnoth-wc/it.po
  po/wesnoth/it.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-did/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-sof/it.po
  po/wesnoth-wc/it.po
  po/wesnoth/it.po
Labels: Translations

[world conquest] run wmlindent on WC_II_scenario.cfg file
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

[world conquest] run wmlindent on WC_II_scenario.cfg file
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

Updated tests
  src/tests/gui/test_gui2.cpp
Labels: none

Update Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

wmllint: removed check for spaces in e-mail addresses
  data/tools/wmllint
Labels: WML Tools

wmllint: removed check for spaces in e-mail addresses
  data/tools/wmllint
Labels: WML Tools

Lua AI: Fix a typo
  data/ai/lua/ca_move_to_any_enemy.lua
Labels: AI

Fix a misplaced doc comment
  src/config.hpp
Labels: none

New config methods for getting deprecated attributes or children
  src/config.cpp
  src/config.hpp
  src/deprecation.hpp
Labels: none

Lua API: Ensure unit test assertions specify a message string
  data/lua/core/unit_test.lua
  data/test/scenarios/as_text.cfg
  data/test/scenarios/test_lua.cfg
  data/test/scenarios/test_lua_version_api.cfg
Labels: Lua API, Unit Tests

Add deprecation messages for the most FormulaAI WML
  src/ai/configuration.cpp
  src/units/formula_manager.cpp
Labels: AI, Units

fix whitespace
  data/lua/core/unit_test.lua
  src/config.cpp
  src/config.hpp
  src/gui/dialogs/migrate_version_selection.cpp
Labels: Lua API, UI

AI: Fix short goal syntax
  src/ai/configuration.cpp
Labels: AI

Update the shroud unit tests and add a few more for cases new in 1.16
  data/test/scenarios/test_modify_shroud.cfg
  wml_test_schedule
Labels: Unit Tests

Add unit tests for the Lua shroud functions
  data/test/scenarios/test_modify_shroud.cfg
  wml_test_schedule
Labels: Unit Tests

Lua API: Fix wesnoth.map.find(filter, unit) ignoring the unit
  data/lua/core/map.lua
Labels: Lua API

Lua API: Fix the deprecation wrappers for place_shroud and remove_shroud
  data/lua/core/sides.lua
Labels: Lua API

[world conquest] [master/1.17] add credits, campaign icon(s) and image. (#5959)
  data/campaigns/World_Conquest/_main.cfg
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

[world conquest] add campaign icons, campaign image and credits (#5958)
  data/campaigns/World_Conquest/_main.cfg
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

Use enum in copyright update script.
  utils/update_copyright.py
Labels: none

Use enum in copyright update script.
  utils/update_copyright.py
Labels: none
