Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Achievements, Add-ons, AI, Audio, Building, Campaign AToTB, Campaign DW, Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SoF, Campaign SotA, Campaign SotBE, Campaign THoT, Campaign TRoW, Campaign TSG, Campaign Tutorial, Campaign UtBS, Campaign WoF, Campaign WC, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

.
  data/core/about.cfg
Labels: none

WoF S01: Improve po hints
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
Labels: Campaign WoF

WoF S12: Leave the epilogue much more open-ended
  changelog_entries/wof_epilogue.md
  data/campaigns/Winds_of_Fate/scenarios/12_Epilogue.cfg
Labels: Campaign WoF

Set filelist parameter in CrossRefLister constructor call, fixes #7841
  data/tools/wmlscope
Labels: WML Tools

Add missing names to about.cfg (#8260)
  data/core/about.cfg
Labels: none

WoF S02: Rename the orc team to "Trespassers"
  data/campaigns/Winds_of_Fate/scenarios/02_Reclamation.cfg
Labels: Campaign WoF

Remove dead code from GUI1's menu class
  src/help/help_menu.cpp
  src/widgets/menu.cpp
  src/widgets/menu.hpp
Labels: Help

Handling of RTL in the left pane of the help browser
  changelog_entries/rtl_help_menu.md
  src/help/help_menu.cpp
  src/help/help_menu.hpp
  src/widgets/menu.cpp
  src/widgets/menu.hpp
  src/widgets/menu_style.cpp
Labels: Help

Remove code because menu::set_heading and menu::style::scale_images aren't called
  src/widgets/menu.cpp
  src/widgets/menu.hpp
  src/widgets/menu_style.cpp
Labels: none

updated French translation
  po/wesnoth-multiplayer/fr.po
  po/wesnoth/fr.po
Labels: Translations

updated Arabic translation
  po/wesnoth-utbs/ar.po
Labels: Translations

added new Finnish translator
  data/core/about_i18n.cfg
Labels: none

updated Finnish translation
  po/wesnoth-sota/fi.po
  po/wesnoth-thot/fi.po
Labels: Translations

filter youth advancements by level
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

UtBS-Balance
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Fighter.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Mystic.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Scout.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Protector.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Stalwart.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  data/campaigns/Under_the_Burning_Suns/utils/macros.cfg
Labels: Campaign UtBS, Units

Sun Ladies
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Singer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Sylph.cfg
Labels: Campaign UtBS, Units

EI: fix macros in translatable strings, improve po hints
  changelog.md
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
  data/campaigns/Eastern_Invasion/utils/traits.cfg
Labels: Campaign EI

Fix Dust Devil
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
Labels: Campaign UtBS, Units

Update Morogor Dialect notes (#8258)
  data/campaigns/Winds_of_Fate/story/Morogor_Dialect.txt
Labels: Campaign WoF

Xp update
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

Another bug fix
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign UtBS, Units

Add a unit test for the event-handler reordering bug
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_priority_in_same_name.cfg
  wml_test_schedule
Labels: Unit Tests

Make event_test_filter_condition check when the filters run
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filters.cfg
Labels: Unit Tests

Simplify nearest neighbor rescale (#8240)
  boost_test_schedule
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/boost_unit_tests
  src/sdl/utils.cpp
  src/tests/test_sdl.cpp
Labels: Building, macOS

EI: fix macros in translatable strings, improve po hints
  changelog.md
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
  data/campaigns/Eastern_Invasion/utils/traits.cfg
Labels: Campaign EI

EI S11: Correct a couple of [message]message= to [message]female_message=
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Campaign EI

UtBS Balance (#8269)
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Fighter.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Mystic.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Scout.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Singer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Sylph.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Protector.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Stalwart.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  data/campaigns/Under_the_Burning_Suns/utils/macros.cfg
Labels: Campaign UtBS, Units

Revert "systemd: drop _ prefix from username"
  changelog_entries/systemd_nobody.md
  packaging/systemd/wesnothd.service.in
  packaging/systemd/wesnothd.service.scons.in
  packaging/systemd/wesnothd.sysusers.conf.in
  packaging/systemd/wesnothd.tmpfiles.conf.in
Labels: Packaging

Make a copy of the active event handler list before executing them.
  src/game_events/manager.cpp
Labels: none

Add a unit test for the event-handler reordering bug
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_priority_in_same_name.cfg
  wml_test_schedule
Labels: Unit Tests

EI S11: Correct a couple of [message]message= to [message]female_message=
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Campaign EI

Hotkeys (#8249)
  changelog_entries/hotkeys.md
  data/core/hotkeys.cfg
  data/themes/editor.cfg
  src/gui/dialogs/multiplayer/mp_staging.cpp
  src/gui/dialogs/multiplayer/mp_staging.hpp
Labels: Input, UI

changelog_entries
  about.wiki
  changelog.md
  changelog_entries/horizontal_scrolling.md
  changelog_entries/hotkeys.md
  changelog_entries/rtl_help_menu.md
  changelog_entries/systemd_nobody.md
  changelog_entries/wof_epilogue.md
Labels: none

1.17.25
  changelog.md
  data/tools/wesnoth/version.py
  doc/doxygen/Doxyfile
  projectfiles/Xcode/Info.plist
  src/wesconfig.h
Labels: Building, Docs, macOS, WML Tools

1.17.25+dev
  changelog.md
  data/tools/wesnoth/version.py
  doc/doxygen/Doxyfile
  src/wesconfig.h
Labels: Docs, WML Tools

2024 copyright update - misc
  doc/man/wesnoth.6
  doc/man/wesnothd.6
  packaging/windows/campaignd.rc
  packaging/windows/wesnoth.rc
  packaging/windows/wesnothd.rc
  projectfiles/Xcode/Fix_Xcode_Dependencies
  projectfiles/Xcode/Info.plist
Labels: Building, Docs, macOS, Packaging

updated British English translation
  changelog.md
  po/wesnoth-ei/en_GB.po
  po/wesnoth-sof/en_GB.po
  po/wesnoth-units/en_GB.po
  po/wesnoth-wof/en_GB.po
Labels: Translations

Expose weapon data in weapon special formula
  src/units/abilities.cpp
Labels: Units

Add a 'special_id_active' attribute to [overwrite] in case the 'experimental_filter_specials' filter is not accepted(postpone 1.19)
  data/schema/units/specials.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/test_overwrite_specials_filter.cfg
  src/units/abilities.cpp
  wml_test_schedule
Labels: Schema, Unit Tests, Units

Various fixes
  data/gui/widget/spinner_default.cfg
  data/schema/gui/widget_definitions.cfg
  src/font/pango/escape.hpp
  src/font/text.cpp
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/widgets/combobox.cpp
  src/gui/widgets/combobox.hpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/scrollbar_container.hpp
  src/gui/widgets/spinbox.cpp
  src/gui/widgets/spinbox.hpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
  src/gui/widgets/window.cpp
Labels: Schema, UI

.github/labeler.yml:

Achievements:
  - changed-files:
    - any-glob-to-any-file:
      - src/achievements.hpp
      - src/achievements.cpp
      - src/gui/dialogs/achievements_dialog.hpp
      - src/gui/dialogs/achievements_dialog.cpp
      - data/achievements.cfg
      - data/campaigns/*/achievements.cfg

Add-ons:
  - changed-files:
    - any-glob-to-any-file:
      - src/server/campaignd/**
      - src/server/common/**
      - src/addon/**
      - src/gui/dialogs/addon/**

AI:
  - changed-files:
    - any-glob-to-any-file:
      - data/ai/**/*
      - data/campaigns/*/ai/**
      - src/ai/**/*

Audio:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/*/sounds/**
      - data/core/music/*
      - data/core/sounds/**/*
      - sounds/*

Building:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/**/*
      - source_lists/*
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Campaign AToTB:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Two_Brothers/**

Campaign DW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Dead_Water/**

Campaign DM:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Delfadors_Memoirs/**

Campaign DiD:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Descent_Into_Darkness/**

Campaign EI:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Eastern_Invasion/**

Campaign HttT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Heir_To_The_Throne/**

Campaign LoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Legend_of_Wesmere/**

Campaign L:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Liberty/**

Campaign NR:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Northern_Rebirth/**

Campaign SoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Sceptre_of_Fire/**

Campaign SotA:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Secrets_of_the_Ancients/**

Campaign SotBE:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Son_Of_The_Black_Eye/**

Campaign THoT:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Hammer_of_Thursagan/**

Campaign TRoW:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_Rise_Of_Wesnoth/**

Campaign TSG:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/The_South_Guard/**

Campaign Tutorial:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/tutorial/**

Campaign UtBS:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Under_the_Burning_Suns/**

Campaign WoF:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/Winds_of_Fate/**

Campaign WC:
  - changed-files:
    - any-glob-to-any-file:
      - data/campaigns/World_Conquest/**

CMake:
  - changed-files:
    - any-glob-to-any-file:
      - CMakeLists.txt
      - cmake/*
      - src/CMakeLists.txt

Docker:
  - changed-files:
    - any-glob-to-any-file:
      - .dockerignore
      - utils/dockerbuilds/travis/*
      - utils/travis/docker_run.sh

Docs:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*

Editor:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/editor/*
      - src/editor/**/*

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**/*
      - data/campaigns/*/images/**
      - data/core/images/**/*

Help:
  - changed-files:
    - any-glob-to-any-file:
      - data/tips.cfg
      - data/core/help.cfg
      - src/help/*
      - src/gui/dialogs/help_browser.*

Input:
  - changed-files:
    - any-glob-to-any-file:
      - data/core/hotkeys.cfg

Lua API:
  - changed-files:
    - any-glob-to-any-file:
      - src/scripting/**/*
      - data/lua/**/*

macOS:
  - changed-files:
    - any-glob-to-any-file:
      - projectfiles/Xcode/**/*
      - src/macosx/*

MP:
  - changed-files:
    - any-glob-to-any-file:
      - data/multiplayer/**/*
      - src/server/wesnothd/**
      - src/server/common/**

Packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packaging/**/*

Schema:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/schema_validation.sh
      - data/schema/**/*
      - src/serialization/schema/*

SCons:
  - changed-files:
    - any-glob-to-any-file:
      - SConstruct
      - scons/*
      - src/SConscript
      - src/SConstruct

Services:
  - changed-files:
    - any-glob-to-any-file:
      - utils/mp-server/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - src/terrain/**/*
      - data/campaigns/*/images/terrain/**
      - data/campaigns/**/terrain.cfg
      - data/campaigns/**/terrain_graphics.cfg
      - data/core/images/terrain/**
      - data/core/terrain.cfg
      - data/core/terrain-graphics.cfg
      - data/core/terrain-graphics/**

Translations:
  - changed-files:
    - any-glob-to-any-file:
      - po/**/*
      - data/languages/*

Travis:
  - changed-files:
    - any-glob-to-any-file:
      - utils/travis/**/*

UI:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui/**/*
      - data/gui/**/*
      - data/schema/gui.cfg
      - data/themes/*

Unit Tests:
  - changed-files:
    - any-glob-to-any-file:
      - data/test/**/*

Units:
  - changed-files:
    - any-glob-to-any-file:
      - src/units/**/*
      - data/campaigns/*/units/**
      - data/core/units/**/*
      - data/core/images/units/**/*

WML Tools:
  - changed-files:
    - any-glob-to-any-file:
      - data/tools/**/*

WFL:
  - changed-files:
    - any-glob-to-any-file:
      - src/formula/**
      - src/ai/formula/**
