Repository wesnoth/wesnoth, changes with the labels that .github/labeler.yml gives for each.
All labels: Add-ons, AI, Audio, Building, Campaign, CMake, Docker, Docs, Editor, Graphics, Help, Input, Lua API, macOS, MP, Packaging, Schema, SCons, Services, Terrain, Translations, Travis, UI, Unit Tests, Units, WML Tools, WFL

Properly reflect handshake_response in the doc
  src/server/common/server_base.hpp
Labels: Add-ons, MP

Get rid of type punning through unions
  src/network_asio.cpp
  src/network_asio.hpp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/wesnothd_connection.cpp
  src/wesnothd_connection.hpp
Labels: Add-ons, MP

Move password hashing to server_base.
  source_lists/campaignd
  source_lists/wesnothd
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/server/common/user_handler.cpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: Add-ons, Building, MP

Move password hashing to server_base.
  source_lists/campaignd
  source_lists/wesnothd
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/server/common/user_handler.cpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: Add-ons, Building, MP

Hash passwords server-side instead of client-side.
  src/commandline_options.cpp
  src/commandline_options.hpp
  src/game_config.cpp
  src/game_config.hpp
  src/game_initialization/multiplayer.cpp
  src/multiplayer_error_codes.hpp
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
  src/wesnoth.cpp
Labels: MP

Fix login error when user not registered.
  src/server/wesnothd/server.cpp
Labels: MP

Fix login error when user not registered.
  src/server/wesnothd/server.cpp
Labels: MP

Remove nonce and double hashing as it's no longer needed.
  src/game_initialization/multiplayer.cpp
  src/multiplayer_error_codes.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
Labels: Add-ons, MP

DiD: fix bad variable names
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
Labels: Campaign

Use TEXT() macro to handle ANSI vs UNICODE string literal.
  src/tls_root_store.cpp
Labels: none

Remove nonce and double hashing as it's no longer needed.
  src/game_initialization/multiplayer.cpp
  src/multiplayer_error_codes.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
Labels: Add-ons, MP

Attempt to fix xcode.
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Attempt to fix xcode.
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: Building, macOS

Bump cache ID number.
  .github/workflows/ci-main.yml
Labels: none

update codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnothd.cbp
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

update codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnothd.cbp
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

Fix infinite recursion crash.
  src/server/campaignd/server.cpp
Labels: Add-ons

fix codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnothd.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

fix codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnothd.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

updated Spanish translation
  changelog.md
  po/wesnoth-dw/es.po
  po/wesnoth-help/es.po
  po/wesnoth-manpages/es.po
  po/wesnoth-manual/es.po
  po/wesnoth-sotbe/es.po
Labels: Translations

updated Italian translation
  changelog.md
  po/wesnoth-dm/it.po
  po/wesnoth-lib/it.po
  po/wesnoth-manpages/it.po
  po/wesnoth-manual/it.po
  po/wesnoth-utbs/it.po
  po/wesnoth/it.po
Labels: Translations

updated British English translation
  po/wesnoth-help/en_GB.po
  po/wesnoth-manpages/en_GB.po
  po/wesnoth-manual/en_GB.po
  po/wesnoth/en_GB.po
Labels: Translations

updated British English translation
  changelog.md
  po/wesnoth-manpages/en_GB.po
  po/wesnoth-manual/en_GB.po
Labels: Translations

WFL: Fix deprecation messages when using the enemy_of() function
  src/formula/function_gamestate.cpp
Labels: WFL

Schema: Add lua_goal support
  data/schema/ai/goal.cfg
Labels: Schema

Improve warning message
  src/units/unit.cpp
Labels: Units

Simplify WML a little
  data/campaigns/Descent_Into_Darkness/units/Malin_Keshar.cfg
Labels: Campaign, Units

Fix malin_resist AMLA
  data/campaigns/Descent_Into_Darkness/units/Malin_Keshar.cfg
Labels: Campaign, Units

Warn about an unknown variation
  src/units/unit.cpp
Labels: Units

Add a unit-test for the backstab ability
  data/test/scenarios/backstab.cfg
  data/test/scenarios/feeding.cfg
  wml_test_schedule
Labels: Unit Tests

update lua_goal type syntax
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

This should be the correct fix
  data/schema/ai/goal.cfg
Labels: Schema

Add an else to the goal validation cases
  data/schema/ai/goal.cfg
Labels: Schema

Allow empty variation id again
  src/units/unit.cpp
Labels: Units

adding red wyrms, for some variety
  data/campaigns/Sceptre_of_Fire/units/Cave_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrm.cfg
  data/campaigns/Sceptre_of_Fire/units/Red_Wyrmlet.cfg
Labels: Campaign, Units

wire in red wyrms to last two scenarios
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign

Add support for forum_auth when uploading to campaignd.
  src/addon/client.cpp
  src/addon/validation.cpp
  src/addon/validation.hpp
  src/server/campaignd/server.cpp
  src/server/campaignd/server.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
Labels: Add-ons, MP

Schema: Add lua_goal support (#5833)
  data/schema/ai/goal.cfg
Labels: Schema

Add a unit-test for the backstab ability
  data/test/scenarios/backstab.cfg
  data/test/scenarios/feeding.cfg
  wml_test_schedule
Labels: Unit Tests

There were some old functions that are now covered by the wesnoth.scenario module, so deprecate them
  data/lua/core/_initial.lua
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: Lua API

.github/labeler.yml:

Add-ons:
  - src/server/campaignd/**
  - src/server/common/**
  - src/addon/**
  - src/gui/dialogs/addon/**

AI:
  - data/ai/**/*
  - data/campaigns/*/ai/**
  - src/ai/**/*

Audio:
  - data/campaigns/*/sounds/**
  - data/core/music/*
  - data/core/sounds/**/*
  - sounds/*

Building:
  - projectfiles/**/*
  - source_lists/*
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Campaign:
  - data/campaigns/**/*

CMake:
  - CMakeLists.txt
  - cmake/*
  - src/CMakeLists.txt

Docker:
  - .dockerignore
  - utils/dockerbuilds/travis/*
  - utils/travis/docker_run.sh

Docs:
  - doc/**/*

Editor:
  - data/core/editor/*
  - src/editor/**/*

Graphics:
  - images/**/*
  - data/campaigns/*/images/**
  - data/core/images/**/*

Help:
  - data/tips.cfg
  - data/core/help.cfg
  - src/help/*
  - src/gui/dialogs/help_browser.*

Input:
  - data/core/hotkeys.cfg

Lua API:
  - src/scripting/**/*
  - data/lua/**/*

macOS:
  - projectfiles/Xcode/**/*
  - src/macosx/*

MP:
  - data/multiplayer/**/*
  - src/server/wesnothd/**
  - src/server/common/**

Packaging:
  - packaging/**/*

Schema:
  - utils/travis/schema_validation.sh
  - data/schema/**/*
  - src/serialization/schema/*

SCons:
  - SConstruct
  - scons/*
  - src/SConscript
  - src/SConstruct

Services:
  - utils/mp-server/**

Terrain:
  - src/terrain/**/*
  - data/campaigns/*/images/terrain/**
  - data/campaigns/**/terrain.cfg
  - data/campaigns/**/terrain_graphics.cfg
  - data/core/images/terrain/**
  - data/core/terrain.cfg
  - data/core/terrain-graphics.cfg
  - data/core/terrain-graphics/**

Translations:
  - po/**/*
  - data/languages/*

Travis:
  - utils/travis/**/*

UI:
  - src/gui/**/*
  - data/gui/**/*
  - data/schema/gui.cfg
  - data/themes/*

Unit Tests:
  - data/test/**/*

Units:
  - src/units/**/*
  - data/campaigns/*/units/**
  - data/core/units/**/*
  - data/core/images/units/**/*

WML Tools:
  - data/tools/**/*

WFL:
  - src/formula/**
  - src/ai/formula/**
