Repository wesnoth/wesnoth, pull requests merged in 2018-02, with the labels that each got.

#2474 campaignd: Reject empty passphrases
  changelog
  src/campaign_server/campaign_server.cpp
Labels: Addons Server, Enhancement

#2553 defense animations for Quenoth Elves
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/fighter-defend-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/fighter-defend-2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/scout-defend-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/scout-defend-2.png
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Fighter.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Scout.cfg
Labels: Campaign, Graphics

#2566 gui2/lua_interpreter: Maintain a raw console log for copy-to-clipboard
  changelog
  src/gui/dialogs/lua_interpreter.cpp
Labels: UI

#2560 more defense animations for the Quenoth
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-defend-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-defend-2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic-defend-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic-defend-2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-defend-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-defend-2.png
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Mystic.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign, Graphics
