Repository wesnoth/wesnoth, pull requests merged in 2018-11, with the labels that each got.

#3677 HttT S6: Point out exactly where the ford is.
  data/campaigns/Heir_To_The_Throne/scenarios/06_The_Siege_of_Elensefar.cfg
Labels: Campaign, Enhancement

#3674 Tutorial S2: Don't allow the orc to recruit wolves on turn 1
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
Labels: Campaign, Enhancement

#3686 Attack Enemy: Don't show "poison" in the attacks list if the enemy is unpoisonable
  src/units/abilities.cpp
Labels: Enhancement, UI

#3643 Healing: Display healing animation if the healer is visible but the patient is not (due to fog, shroud, nightstalk...)
  src/actions/heal.cpp
  src/units/udisplay.cpp
Labels: Bug, UI
