Repository wesnoth/wesnoth, pull requests merged in 2018-05, with the labels that each got.

#2898 SotA: Restore fixes for issues #2844 and #2846 on 1.14
  data/campaigns/Secrets_of_the_Ancients/scenarios/02_Dark_Business.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/08_Carcyn.cfg
Labels: Backport, Bug, Campaign, Prose, Stable 1.14

#2948 Backport Merfolk race name change and associated prose corrections to 1.14
  changelog.md
  data/core/terrain.cfg
  data/core/units.cfg
  data/core/units/merfolk/Priestess.cfg
Labels: Backport, Enhancement, Prose, Stable 1.14, Units

#2838 gui2/log_settings: Make log options tooltips translatable
  data/gui/window/logging.cfg
Labels: Backport, Postponed, Stable 1.14, Translations

#2929 Falcons & Wolves Race Descriptions
  data/core/units.cfg
Labels: Fwdport, Help, Stable 1.14, UI

#3035 [UtBS]-Graphics Update, mostly sprites
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/archer-defend1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/archer-defend2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/druid-defend1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/druid-defend2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/druid.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/flanker-defend1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/flanker-defend2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-bolas1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-bolas2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-bolas3.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-bolas4.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-lead1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-lead2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-lead1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-lead2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/ranger-defend1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/ranger-defend2.png
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Archer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Druid.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Flanker.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Ranger.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign, Enhancement, Graphics, In-progress, Stable 1.14

#3049 [UtBS] replacing horses with dustboks
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/dustbok.png
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Dustbok.cfg
Labels: Campaign, Stable 1.14

#3112 Wesnothd formatting cleanup
  src/server/server.cpp
Labels: Enhancement, MP

#2982 Change year numbers in SotBE according to timeline tweaks
  data/campaigns/Son_Of_The_Black_Eye/scenarios/01_End_of_Peace.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/17_The_Human_Attack.cfg
Labels: Campaign, Enhancement, Prose

#3127 [UtBS] Nym sword attack animation
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-sword0.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-sword1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-sword2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-sword3.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-sword4.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-sword5.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/nym-sword6.png
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign, Graphics

#3142 [UtBS] Kaleh sword animation
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-sword1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-sword2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-sword3.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-sword4.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-sword5.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-sword6.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/kaleh-sword7.png
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Campaign, Graphics

#3062 fixes Issue #3051 (Recruitable Peasants in TSG)
  data/campaigns/The_South_Guard/scenarios/02_Proven_by_the_Sword.cfg
  data/campaigns/The_South_Guard/scenarios/07a_Into_the_Depths.cfg
Labels: Campaign
