Repository wesnoth/wesnoth, pull requests merged in 2018-03, with the labels that each got.

#2592 campaignd: Add support for free-form tags on add-ons
  changelog
  src/addon/info.cpp
  src/addon/info.hpp
  src/campaign_server/campaign_server.cpp
Labels: Addons Server, Enhancement, UI

#2640 Add a way to launch the map editor with the same desktop file
  packaging/wesnoth.desktop
Labels: Enhancement, Linux, Packaging

#2641 translation hint for planning mode
  data/tips.cfg
Labels: Translations

#2643 Add support for mouse forward/back button in Help
  src/help/help_browser.cpp
Labels: Enhancement, Help, UI

#2579 [UtBS, WIP] Initial pass at Sun Singer animations
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/fire/flame-color.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/fire/flame-mask.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-defend-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-defend-2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-heal-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-heal-2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-heal-3.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-heal-4.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-heal-5.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-heal-6.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-heal-7.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic-heal-8.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/mystic/mystic.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-backglow.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-stand.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-backglow.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-heal-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-heal-2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-heal-3.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-heal-4.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-heal-5.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-heal-6.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-heal-7.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-heal-8.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-stand.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer.png
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Mystic.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Shyde.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Singer.cfg
  data/campaigns/Under_the_Burning_Suns/utils/animation_macros.cfg
Labels: Campaign, Graphics

#2595 defense animation for Quenoth Warrior (will add Champion later)
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/warrior-defend-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/warrior-defend-2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/warrior.png
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Warrior.cfg
Labels: Campaign, Graphics

#2678 Pre-release Xcode version bump
  projectfiles/Xcode/Info.plist
Labels: Blocker

#2620 campaignd: Set port allocation for version 1.14
  data/tools/wesnoth/campaignserver_client.py
  src/addon/validation.cpp
Labels: Addons Server, Blocker, Stable 1.14

#2756 UtBS: Fix Nym's hit sound to be female
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Ready for testing

#2764 cmake, scons: Drop option to enable or disable the removed SDL_SavePNG code
  CMakeLists.txt
  SConstruct
  src/CMakeLists.txt
Labels: Backport, Bug, Building, Cmake, Scons, Stable 1.14

#2679 [UtBS] Quenoth elf animations
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/champion-defend1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/champion-defend2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/scout.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun-shyde.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun-singer.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-backglow.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-def-flare.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-defend1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-defend2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-fly-defend1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-fly-defend2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-fly1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-fly2.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-fly3.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-fly4.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-fly5.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-fly6.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde-stand.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_shyde/sun-shyde.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-defend1.png
  data/campaigns/Under_the_Burning_Suns/images/units/quenoth/sun_singer/sun-singer-defend2.png
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Champion.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Shyde.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Singer.cfg
  data/campaigns/Under_the_Burning_Suns/utils/animation_macros.cfg
Labels: Campaign, Graphics, Ready for testing
