Repository wesnoth/wesnoth, pull requests merged in 2019-08, with the labels that each got.

#4199 WIP: Add a hint about not save-loading, and link to it from the "Back to" menu
  data/core/help.cfg
  data/themes/default.cfg
  src/hotkey/command_executor.cpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
  src/hotkey/hotkey_handler.cpp
Labels: Docs, Enhancement, Help, Prose

#4185 Make mushrooms hide base terrain
  data/core/images/terrain/forest/mushroom-base-n-ne.png
  data/core/images/terrain/forest/mushroom-base-n.png
  data/core/images/terrain/forest/mushroom-base-ne-se.png
  data/core/images/terrain/forest/mushroom-base-ne.png
  data/core/images/terrain/forest/mushroom-base-nw.png
  data/core/images/terrain/forest/mushroom-base-s-sw.png
  data/core/images/terrain/forest/mushroom-base-s.png
  data/core/images/terrain/forest/mushroom-base-se.png
  data/core/images/terrain/forest/mushroom-base-sw-nw.png
  data/core/images/terrain/forest/mushroom-base-sw.png
  data/core/images/terrain/forest/mushroom-base.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Stable 1.14

#4209 theme: Add optional argument to REPLAY_THEME for the benefit of user-defined themes
  data/themes/_initial.cfg
Labels: Enhancement, UI, WML

#4211 Handle unit overlays as modifications, allow [effect] to remove them
  data/lua/wml-tags.lua
  data/schema/units/modifications.cfg
  src/units/unit.cpp
Labels: UI

#4136 Use the MP Moderators forum group to check for mod authority.
  doc/man/wesnothd.6
  src/server/forum_user_handler.cpp
  src/server/forum_user_handler.hpp
  utils/mp-server/table_definitions.sql
Labels: MP

#4217 Draft 'Why did I lose?' help topic
  data/core/help.cfg
Labels: Enhancement, Help, Prose

#4230 fixup! Show the turn dialog before updating the GUI for the incoming player
  src/play_controller.cpp
Labels: Ready for testing, Regression, Replays

#4239 Dunefolk extra define
  data/core/units/dunefolk/Blademaster.cfg
Labels: Enhancement, Units

#4234 DM S22: Apply the weapon-change from S21 to S22 too
  data/campaigns/Delfadors_Memoirs/scenarios/21_Clash_at_the_Manor.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/22_Face_of_the_Enemy.cfg
  data/campaigns/Delfadors_Memoirs/utils/misc.cfg
Labels: Bug, Campaign

#4207 If text is too long to render, fall back to line-by-line (fixes: #3265)
  changelog.md
  src/font/text.cpp
  src/font/text.hpp
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
Labels: Bug, Engine

#4096 resolve color active/inactive colors similars
  src/font/standard_colors.cpp
Labels: UI

#4244 Revert network_transmission.cpp/hpp to its 1.14.7 version
  src/gui/dialogs/network_transmission.cpp
  src/gui/dialogs/network_transmission.hpp
Labels: Add-ons, UI

#4287 [1.14] Use multiple lines for help, and replace "do not translate part" with translation notes
  changelog.md
  src/map_command_handler.hpp
  src/menu_events.cpp
Labels: Help, Translations

#4276 [1.15] Use multiple lines for help, and replace "do not translate part" with translation notes
  changelog.md
  src/map_command_handler.hpp
  src/menu_events.cpp
Labels: Help, Translations
