Repository wesnoth/wesnoth, pull requests merged in 2019-05, with the labels that each got.

#4060 Prose updates for orcs eating other sapient races
  changelog.md
  data/campaigns/Dead_Water/scenarios/03_Wolf_Coast.cfg
  data/campaigns/The_Rise_Of_Wesnoth/_main.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/02_The_Fall.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/03_A_Harrowing_Escape.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/04b_The_Midlands.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/07_Return_to_Oldwood.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/20_Return_of_the_Fleet.cfg
Labels: Campaign, Prose

#4063 tips: Clarify that these are about the editor, fix quotes
  data/tips.cfg
Labels: Prose

#4016 unit-database: issues/3949
  data/tools/unit_tree/helpers.py
  data/tools/unit_tree/html_output.py
Labels: Units Database

#4084 Merfolk: increase HP of initiate advancements
  changelog.md
  data/core/units/merfolk/Diviner.cfg
  data/core/units/merfolk/Enchantress.cfg
  data/core/units/merfolk/Priestess.cfg
  data/core/units/merfolk/Siren.cfg
Labels: Bug, Units
