Repository wesnoth/wesnoth, pull requests merged in 2019-11, with the labels that each got.

#4479 [DiD]: add AMLAs to Mal Keshar and special units
  data/campaigns/Descent_Into_Darkness/_main.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/11_Descent_into_Darkness.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/12_Endless_Night.cfg
  data/campaigns/Descent_Into_Darkness/units/Apprentice_Necromancer.cfg
  data/campaigns/Descent_Into_Darkness/units/Dark_Mage.cfg
  data/campaigns/Descent_Into_Darkness/units/Ghast.cfg
  data/campaigns/Descent_Into_Darkness/units/Ghoul.cfg
  data/campaigns/Descent_Into_Darkness/units/Mal_Keshar.cfg
  data/campaigns/Descent_Into_Darkness/units/Malin_Keshar.cfg
  data/campaigns/Descent_Into_Darkness/units/Necrophage.cfg
  data/campaigns/Descent_Into_Darkness/units/Spectral_Servant.cfg
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
  data/campaigns/Descent_Into_Darkness/utils/amlas.cfg
  data/campaigns/Descent_Into_Darkness/utils/characters.cfg
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign, Units

#4548 Dunefolk - revisions to some base frame images
  data/core/images/units/dunefolk/apothecary.png
  data/core/images/units/dunefolk/burner+female.png
  data/core/images/units/dunefolk/burner.png
  data/core/images/units/dunefolk/harrier.png
  data/core/images/units/dunefolk/luminary.png
  data/core/images/units/dunefolk/skirmisher.png
  data/core/images/units/dunefolk/strider.png
  data/core/images/units/dunefolk/warmaster.png
Labels: Graphics, Units

#4513 Move tool-tips to below-right
  data/gui/window/tooltip_floating.cfg
Labels: UI

#4549 TRoW: Fixed Haldric's defense animations
  data/campaigns/The_Rise_Of_Wesnoth/units/Noble_Commander.cfg
  data/campaigns/The_Rise_Of_Wesnoth/units/Noble_Lord.cfg
Labels: Units

#4551 Campaigns Menu: Make descriptions and abbreviations search terms
  changelog.md
  src/gui/dialogs/campaign_selection.cpp
Labels: UI

#4555 Added tip of the day regarding changing difficulty level in a mid-campaign
  data/tips.cfg
Labels: Help

#4552 Make "Quit" the only mandatory widget on the title screen
  src/gui/dialogs/title_screen.cpp
Labels: UI

#4530 Dunefolk balance update.
  data/core/units.cfg
  data/core/units/dunefolk/Alchemist.cfg
  data/core/units/dunefolk/Apothecary.cfg
  data/core/units/dunefolk/Burner.cfg
  data/core/units/dunefolk/Captain.cfg
  data/core/units/dunefolk/Explorer.cfg
  data/core/units/dunefolk/Herbalist.cfg
  data/core/units/dunefolk/Raider.cfg
  data/core/units/dunefolk/Scorcher.cfg
  data/core/units/dunefolk/Spearguard.cfg
  data/core/units/dunefolk/Strider.cfg
  data/core/units/dunefolk/Sunderer.cfg
  data/core/units/dunefolk/Swiftrider.cfg
  data/core/units/dunefolk/Swordsman.cfg
  data/core/units/nagas/Bladewhirler.cfg
  data/core/units/nagas/Ringcaster.cfg
Labels: Units

#4520 Rename some Dunefolk units
  data/core/images/units/dunefolk/horse-archer.png
  data/core/images/units/dunefolk/wayfarer.png
  data/core/images/units/dunefolk/windbolt.png
  data/core/images/units/nagas/dirkfang.png
  data/core/images/units/nagas/ophidian.png
  data/core/units/dunefolk/Explorer.cfg
  data/core/units/dunefolk/Horse_Archer.cfg
  data/core/units/dunefolk/Rider.cfg
  data/core/units/dunefolk/Wayfarer.cfg
  data/core/units/dunefolk/Windbolt.cfg
  data/core/units/nagas/Dirkfang.cfg
  data/core/units/nagas/Ophidian.cfg
  data/multiplayer/factions/dunefolk-aoh.cfg
  data/multiplayer/factions/dunefolk-default.cfg
  data/test/maps/pathfind_1.cfg
  data/tools/wmllint
Labels: Prose, Units

#4527 new stone wall terrain variation -> catacombs
  data/core/images/terrain/walls/stone/catacombs/wall-bones-concave-tl.png
  data/core/images/terrain/walls/stone/catacombs/wall-bones-concave-tr.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-concave-tl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-concave-tr.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-bl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-br.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-l.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-convex-r.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-corner-bl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-corner-r.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-corner-tl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-corner-tr.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone-tile.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone2-concave-tl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone2-concave-tr.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone2-convex-bl.png
  data/core/images/terrain/walls/stone/catacombs/wall-stone2-convex-br.png
  data/core/images/terrain/walls/stone/flames/candle/base-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/base-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/base-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/flames.png
  data/core/images/terrain/walls/stone/flames/candle/glow1-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/glow1-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/glow1-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/glow2-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/glow2-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/glow2-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/glow3-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/glow3-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/glow3-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/mask-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/mask-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/mask-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/mask2-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/mask2-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/mask2-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/mask3-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/mask3-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/mask3-convex-bl.png
  data/core/images/terrain/walls/stone/flames/candle/wall-post-concave-tl.png
  data/core/images/terrain/walls/stone/flames/candle/wall-post-concave-tr.png
  data/core/images/terrain/walls/stone/flames/candle/wall-post-convex-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
  data/core/terrain-graphics/trash.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

#4525 revisions to mushroom terrain graphics
  data/core/images/terrain/forest/mushroom-base-nw.png
  data/core/images/terrain/forest/mushroom-base-s.png
  data/core/images/terrain/forest/mushroom-base.png
  data/core/images/terrain/forest/mushroom-base2.png
  data/core/images/terrain/forest/mushroom-base3.png
  data/core/images/terrain/forest/mushroom-base4.png
  data/core/images/terrain/forest/mushroom-base5.png
  data/core/images/terrain/forest/mushrooms-water-small.png
  data/core/images/terrain/forest/mushrooms-water-small2.png
  data/core/images/terrain/forest/mushrooms-water-small3.png
  data/core/images/terrain/forest/mushrooms-water.png
  data/core/images/terrain/forest/mushrooms-water2.png
  data/core/images/terrain/forest/mushrooms-water3.png
  data/core/images/terrain/forest/mushrooms-water4.png
  data/core/images/terrain/forest/mushrooms-water5.png
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

#4559 gui2/text_box: Add hover effect
  changelog.md
  data/gui/widget/text_box_default.cfg
  data/schema/gui.cfg
  src/gui/widgets/text_box.cpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
Labels: Enhancement, UI

#4536 Schema: attempt to fix specials used as abilities
  data/schema/units/abilities.cfg
Labels: Schema

#4544 [Dwarves] Buff some level 2 units
  data/core/units/dwarves/Lord.cfg
  data/core/units/dwarves/Pathfinder.cfg
  data/core/units/dwarves/Sentinel.cfg
  data/core/units/dwarves/Stalwart.cfg
  data/core/units/dwarves/Steelclad.cfg
  data/core/units/dwarves/Thunderguard.cfg
Labels: Units

#4464 trackplacer3 a utility to export and import tmx files (#4365)
  changelog.md
  data/tools/tmx_trackplacer
  data/tools/wesnoth/trackplacer3/__init__.py
  data/tools/wesnoth/trackplacer3/cfgfileformat.py
  data/tools/wesnoth/trackplacer3/datatypes.py
  data/tools/wesnoth/trackplacer3/tmxfileformat.py
Labels: WML Tools

#4566 Tutorial: move from title screen to campaign menu
  data/campaigns/tutorial/_main.cfg
  data/gui/window/title_screen.cfg
Labels: UI

#4568 Title screen: move language button to icon
  data/gui/widget/button_25x25.cfg
  data/gui/window/title_screen.cfg
  images/icons/action/language_25-active.png
  images/icons/action/language_25-pressed.png
  images/icons/action/language_25.png
Labels: UI

#4574 Trackplacer as a read-only animation preview application
  data/tools/trackplacer
  data/tools/trackviewer.pyw
Labels: Enhancement, WML Tools

#4581 AI: add [filter_own] to all candidate actions
  data/ai/lua/ca_castle_switch.lua
  data/ai/lua/ca_grab_villages.lua
  data/ai/lua/ca_high_xp_attack.lua
  data/ai/lua/ca_move_to_any_enemy.lua
  data/ai/lua/ca_place_healers.lua
  data/ai/lua/ca_recruit_rushers.lua
  data/ai/lua/ca_retreat_injured.lua
  data/ai/lua/ca_spread_poison.lua
  data/ai/lua/ca_village_hunt.lua
  data/ai/lua/generic_recruit_engine.lua
  src/ai/composite/aspect.hpp
  src/ai/composite/goal.cpp
  src/ai/composite/rca.cpp
  src/ai/composite/rca.hpp
  src/ai/default/aspect_attacks.cpp
  src/ai/default/ca.cpp
  src/ai/default/ca_move_to_targets.cpp
  src/ai/default/recruitment.cpp
  src/ai/lua/core.cpp
  src/ai/lua/core.hpp
  src/ai/lua/engine_lua.cpp
Labels: AI

#4582 Support running multiple expected-to-pass unit tests
  src/commandline_options.cpp
  src/commandline_options.hpp
  src/game_launcher.cpp
  src/game_launcher.hpp
  src/wesnoth.cpp
Labels: Command Line, Engine, Enhancement, Travis

#4597 Convert some fail-on-success unit tests to pass-on-success
  data/test/scenarios/event_handlers_in_events.cfg
  data/test/scenarios/sighted_events.cfg
  data/test/scenarios/test_event_names_and_order.cfg
  wml_test_schedule
Labels: Unit Tests

#4585 Select the correct item in a filtered and sorted generator
  src/gui/widgets/generator.cpp
  src/gui/widgets/generator.hpp
Labels: UI
