Repository wesnoth/wesnoth, pull requests merged in 2019-06, with the labels that each got.

#4089 wmllint: Handle nested events and other filters in the death check (closes #4085)
  data/tools/wesnoth/wmliterator3.py
  data/tools/wmllint
Labels: Enhancement, WML Tools

#4098 Added '/utf-8' character set option to Visual Studio project file
  data/core/about.cfg
  projectfiles/VC14/wesnoth.vcxproj
Labels: Bug, Building, Help, Windows

#4074 Fix crash when adding/removing hotkeys with no matches
  src/gui/dialogs/preferences_dialog.cpp
Labels: Bug, UI

#4095 portrait for mounted version of walking corpse
  changelog.md
  data/core/images/portraits/undead/zombie-rider.png
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, Units

#4138 Also require observers to enter a game's password.
  changelog.md
  src/gui/dialogs/multiplayer/lobby.cpp
  src/server/server.cpp
Labels: Enhancement, MP Lobby

#4139 Enforce game-level bans by username as well.
  src/server/game.cpp
  src/server/game.hpp
  src/server/server.cpp
Labels: MP

#4140 Display when observers share IP addresses as well.
  src/server/game.cpp
  src/server/game.hpp
Labels: MP
