Repository wesnoth/wesnoth, pull requests merged in 2019-10, with the labels that each got.

#4411 Improve the terrain code's encapsulation
  src/gui/widgets/unit_preview_pane.cpp
  src/help/help_impl.cpp
  src/help/help_topic_generators.cpp
  src/map/map.cpp
  src/movetype.cpp
  src/terrain/terrain.cpp
  src/terrain/terrain.hpp
  src/terrain/translation.cpp
  src/terrain/type_data.cpp
  src/terrain/type_data.hpp
Labels: Engine

#4371 NR S06a: Fix the filter for Tallin complaining that they're sitting in the caves
  data/campaigns/Northern_Rebirth/scenarios/06a_Old_Friend.cfg
Labels: Bug, Campaign

#4414 Re-enable the editor help, and use it to document the keyboard modifiers
  changelog.md
  data/core/editor/help.cfg
  data/core/help.cfg
Labels: Docs, Editor, Help, Ready for testing

#4433 Tutorial S02: Show "recruit the right units" when the player has gold
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
Labels: Campaign, Ready for testing

#4410 Status table: In replays with "View: Full Map", show all sides' gold status
  src/gui/dialogs/game_stats.cpp
Labels: Enhancement, Replays

#4432 Preprocessor: Add {LEFT_CURLY} and {RIGHT_CURLY} escape sequences
  src/serialization/preprocessor.cpp
Labels: Enhancement, Ready for testing, WML

#4442 Display: Don't move the center of the viewport when zooming in when the map is narrower/shorter than the viewport
  src/display.cpp
  src/display.hpp
  src/map/map.hpp
Labels: Enhancement, UI

#4457 lua: Add __tostring to units
  src/scripting/lua_unit.cpp
  src/scripting/lua_unit.hpp
Labels: Enhancement, Lua API, Ready for testing

#4468 Make a unit respond to mouse-clicks after end_unit_turn (fixes #4466)
  src/menu_events.cpp
Labels: Bug, Input, UI

#4473 Display translated string for "random" in MP staging
  src/gui/dialogs/multiplayer/mp_staging.cpp
Labels: MP Lobby

#4465 Contributing.md: Mention UTF-8 and remove the Tolken references
  .github/CONTRIBUTING.md
Labels: Docs

#4437 Experimental AI: make AI recruit higher level units
  data/ai/lua/ca_recruit_rushers.lua
  data/ai/lua/generic_recruit_engine.lua
  data/ai/micro_ais/cas/ca_recruit_rushers.lua
  data/ai/micro_ais/mai-defs/recruiting.lua
  data/core/macros/ai.cfg
Labels: AI

#4476 Upgrade special=* uses in master
  data/campaigns/Dead_Water/units/Brawler.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Campaign, Enhancement

#4477 units: Add custom [special_note]s.
  data/core/units/drakes/Arbiter.cfg
  data/core/units/drakes/Warden.cfg
  data/core/units/elves/Avenger.cfg
  data/core/units/elves/Ranger.cfg
  data/core/units/humans/Loyalist_Halberdier.cfg
  data/core/units/humans/Loyalist_Pikeman.cfg
  data/core/units/humans/Loyalist_Royal_Guard.cfg
  data/core/units/humans/Loyalist_Swordsman.cfg
  data/core/units/humans/Mage_Arch.cfg
  data/core/units/humans/Mage_Great.cfg
  data/core/units/humans/Mage_Red.cfg
  data/core/units/humans/Mage_White.cfg
  data/core/units/humans/Mage_of_Light.cfg
Labels: Docs, Enhancement, Help, Units

#4485 wmlxgettext: support double quotes in raw strings (fixes #4484)
  changelog.md
  data/tools/pywmlx/state/machine.py
  data/tools/pywmlx/state/wml_states.py
Labels: Blocker, Translations, WML Tools

#4446 Store the client version in the database.
  data/dist
  src/game_initialization/multiplayer.cpp
  src/server/forum_user_handler.cpp
  src/server/forum_user_handler.hpp
  src/server/player.cpp
  src/server/player.hpp
  src/server/server.cpp
  src/server/server.hpp
  src/server/user_handler.hpp
  utils/mp-server/table_definitions.sql
Labels: Packaging, Services

#4514 Log a console error message when a parse_error closes the help
  src/help/help.cpp
Labels: Help

#4512 Disable game name for local MP
  src/gui/dialogs/multiplayer/mp_create_game.cpp
Labels: MP Lobby

#4521 Changed Draug portrait in The Rise of Wesnoth
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/20_Return_of_the_Fleet.cfg
Labels: Units

#4522 Store additional fields in the database.
  src/server/forum_user_handler.cpp
  src/server/forum_user_handler.hpp
  src/server/game.hpp
  src/server/server.cpp
  src/server/user_handler.hpp
  utils/mp-server/table_definitions.sql
Labels: MP, Services

#4516 Nerf Dwarvish Steelclad and Lord
  data/core/units/dwarves/Lord.cfg
  data/core/units/dwarves/Sentinel.cfg
  data/core/units/dwarves/Steelclad.cfg
Labels: Units
