Repository wesnoth/wesnoth, pull requests merged in 2019-04, with the labels that each got.

#3734 UtBS: code refactor
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/07b_Talking_with_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg
Labels: Campaign, Enhancement

#4012 Visual Studio 2019 Compilation - master
  src/quit_confirmation.hpp
  src/synced_commands.hpp
Labels: Building

#4013 Visual Studio 2019 Compilation - 1.14
  src/quit_confirmation.hpp
  src/synced_commands.hpp
Labels: Building

#4015 Change Giant Scorpion/Scorpling resists
  changelog.md
  data/core/images/units/monsters/scorpion/sand-scuttler-defend1.png
  data/core/images/units/monsters/scorpion/sand-scuttler-defend2.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne-defend1.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne-defend2.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne-pincer1.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne-pincer2.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne-pincer3.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne-pincer4.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne-pincer5.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne-pincer6.png
  data/core/images/units/monsters/scorpion/sand-scuttler-ne.png
  data/core/images/units/monsters/scorpion/sand-scuttler-pincer-1.png
  data/core/images/units/monsters/scorpion/sand-scuttler-pincer-2.png
  data/core/images/units/monsters/scorpion/sand-scuttler-pincer-3.png
  data/core/images/units/monsters/scorpion/sand-scuttler-pincer-4.png
  data/core/images/units/monsters/scorpion/sand-scuttler-pincer-5.png
  data/core/images/units/monsters/scorpion/sand-scuttler-pincer-6.png
  data/core/images/units/monsters/scorpion/sand-scuttler-stinger-1.png
  data/core/images/units/monsters/scorpion/sand-scuttler-stinger-2.png
  data/core/images/units/monsters/scorpion/sand-scuttler-stinger-3.png
  data/core/images/units/monsters/scorpion/sand-scuttler-stinger-4.png
  data/core/images/units/monsters/scorpion/sand-scuttler-stinger-5.png
  data/core/images/units/monsters/scorpion/sand-scuttler-stinger-6.png
  data/core/images/units/monsters/scorpion/sand-scuttler-stinger-7.png
  data/core/images/units/monsters/scorpion/sand-scuttler.png
  data/core/units/monsters/Giant_Scorpion.cfg
  data/core/units/monsters/Giant_Scorpling.cfg
Labels: Units

#4022 UtBS: few more fixes after refactor
  data/campaigns/Under_the_Burning_Suns/maps/08_Out_of_the_Frying_Pan.map
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Darawf.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
  data/campaigns/Under_the_Burning_Suns/utils/deaths.cfg
Labels: Campaign

#4041 adding wolf portraits
  data/core/images/portraits/wolves/wolf-chewing.png
  data/core/images/portraits/wolves/wolf-dark.png
  data/core/images/portraits/wolves/wolf-red.png
  data/core/units/monsters/Wolf.cfg
  data/core/units/monsters/Wolf_Dire.cfg
  data/core/units/monsters/Wolf_Great.cfg
Labels: Graphics, Units

#4042 adding wolf portraits (#4041 to master)
  data/core/images/portraits/wolves/wolf-chewing.png
  data/core/images/portraits/wolves/wolf-dark.png
  data/core/images/portraits/wolves/wolf-red.png
  data/core/units/monsters/Wolf.cfg
  data/core/units/monsters/Wolf_Dire.cfg
  data/core/units/monsters/Wolf_Great.cfg
Labels: Fwdport, Graphics, Units

#4014 [THoT] Remove filler scenarios and add character
  changelog.md
  data/campaigns/The_Hammer_of_Thursagan/_main.cfg
  data/campaigns/The_Hammer_of_Thursagan/maps/04_High_Pass.map
  data/campaigns/The_Hammer_of_Thursagan/maps/04_Troll_Bridge.map
  data/campaigns/The_Hammer_of_Thursagan/maps/05_Fear.map
  data/campaigns/The_Hammer_of_Thursagan/maps/05_Invaders.map
  data/campaigns/The_Hammer_of_Thursagan/maps/06_Forbidden_Forest.map
  data/campaigns/The_Hammer_of_Thursagan/maps/07_Mages_and_Drakes.map
  data/campaigns/The_Hammer_of_Thursagan/maps/07_The_Siege_of_Kal_Kartha.map
  data/campaigns/The_Hammer_of_Thursagan/maps/08_Fear.map
  data/campaigns/The_Hammer_of_Thursagan/maps/08_The_Court_of_Karrag.map
  data/campaigns/The_Hammer_of_Thursagan/maps/09_The_Underlevels.map
  data/campaigns/The_Hammer_of_Thursagan/maps/10_Epilogue.map
  data/campaigns/The_Hammer_of_Thursagan/scenarios/01_At_the_East_Gate.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/02_Reclaiming_the_Past.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/03_Strange_Allies.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/04_High_Pass.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/04_Troll_Bridge.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/05_Fear.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/05_Invaders.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/06_Forbidden_Forest.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/07_Mages_and_Drakes.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/07_The_Siege_of_Kal_Kartha.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/08_Fear.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/08_The_Court_of_Karrag.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/09_The_Underlevels.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/10_Epilogue.cfg
  data/campaigns/The_Hammer_of_Thursagan/utils/bigmap.cfg
  data/campaigns/The_Hammer_of_Thursagan/utils/herodeaths.cfg
  data/campaigns/The_Hammer_of_Thursagan/utils/macros.cfg
Labels: Campaign
