Repository wesnoth/wesnoth, pull requests merged in 2020-06, with the labels that each got.

#4938 Ancient Stone masonry
  data/core/images/terrain/interior/stone-ancient.png
  data/core/images/terrain/interior/stone-ancient2.png
  data/core/images/terrain/interior/stone-ancient3.png
  data/core/images/terrain/interior/stone-ancient4.png
  data/core/images/terrain/interior/stone-ancient5.png
  data/core/images/terrain/interior/stone-ancient6.png
  data/core/images/terrain/walls/stone/ancient/wall-mixed-ccw-bl.png
  data/core/images/terrain/walls/stone/ancient/wall-mixed-ccw-l.png
  data/core/images/terrain/walls/stone/ancient/wall-mixed-corner-ccw-bl.png
  data/core/images/terrain/walls/stone/ancient/wall-mixed-corner-cw-bl.png
  data/core/images/terrain/walls/stone/ancient/wall-mixed-cw-br.png
  data/core/images/terrain/walls/stone/ancient/wall-mixed-cw-r.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-concave-bl.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-concave-br.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-concave-l.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-concave-r.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-concave-tl.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-concave-tr.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-convex-bl.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-convex-br.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-convex-l.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-convex-r.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-convex-tl.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-convex-tr.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-corner-bl.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-corner-r.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-corner-tl.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-corner-tr.png
  data/core/images/terrain/walls/stone/ancient/wall-stone-tile.png
  data/core/images/terrain/walls/stone/ancient/wall-stone2-concave-tl.png
  data/core/images/terrain/walls/stone/ancient/wall-stone2-concave-tr.png
  data/core/images/terrain/walls/stone/ancient/wall-stone2-convex-bl.png
  data/core/images/terrain/walls/stone/ancient/wall-stone2-convex-br.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Graphics, Ready for testing, Terrain

#4937 UtBS - some minor polishing
  data/campaigns/Under_the_Burning_Suns/maps/04_Descending_into_Darkness.map
  data/campaigns/Under_the_Burning_Suns/maps/05_A_Subterranean_Struggle.map
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
Labels: Campaign, Low Priority, Ready for testing

#4955 bi: Add sound configuration to the clipboard report
  src/build_info.cpp
  src/sound.cpp
  src/sound.hpp
Labels: Enhancement

#4952 core - terrain - fix Rb/Ias transition
  data/core/terrain-graphics.cfg
Labels: Graphics, Terrain

#4962 Add missing includes of units/types.hpp to the unit tests
  src/tests/test_recall_list.cpp
  src/tests/test_unit_map.cpp
Labels: Building

#4966 WIP fix crash when reading chinese -po files
  src/gettext_boost.cpp
Labels: Engine, Translations

#4950 Some additions and work on UtBS
  data/campaigns/Under_the_Burning_Suns/images/portraits/commander.png
  data/campaigns/Under_the_Burning_Suns/images/portraits/monsters/flesh_golem.png
  data/campaigns/Under_the_Burning_Suns/maps/04_Descending_into_Darkness.map
  data/campaigns/Under_the_Burning_Suns/maps/06b_In_the_Domain_of_the_Dwarves.map
  data/campaigns/Under_the_Burning_Suns/maps/08_Out_of_the_Frying_Pan.map
  data/campaigns/Under_the_Burning_Suns/maps/09_Blood_is_Thicker_Than_Water.map
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/10_Speaking_with_the_Fishes.cfg
  data/campaigns/Under_the_Burning_Suns/units/humans/Human_Commander.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Flesh_Golem.cfg
Labels: Campaign, Enhancement, Ready for testing
