Repository wesnoth/wesnoth, pull requests merged in 2020-03, with the labels that each got.

#4782 Use new terrains in campaigns (#4121) - WIP
  data/campaigns/Eastern_Invasion/maps/01_The_Outpost.map
  data/campaigns/Eastern_Invasion/maps/02_The_Escape_Tunnel.map
  data/campaigns/Eastern_Invasion/maps/03_An_Unexpected_Appearance.map
  data/campaigns/Eastern_Invasion/maps/04b_The_Undead_Border_Patrol.map
  data/campaigns/Eastern_Invasion/maps/04c_Mal-Ravanals_Capital.map
  data/campaigns/Eastern_Invasion/maps/06_Two_Paths.map
  data/campaigns/Eastern_Invasion/maps/10_Lake_Vrug.map
  data/campaigns/Eastern_Invasion/maps/12_Evacuation.map
  data/campaigns/Eastern_Invasion/maps/14_Approaching_Weldyn.map
  data/campaigns/Eastern_Invasion/maps/16_Weldyn_under_Attack.map
  data/campaigns/Eastern_Invasion/maps/17b_Weldyn_Besieged.map
  data/campaigns/Liberty/masks/04_Unlawful_Orders_1.mask
  data/campaigns/Liberty/masks/04_Unlawful_Orders_2.mask
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
  data/campaigns/Two_Brothers/maps/02_The_Chase.map
Labels: Campaign, Terrain

#4781 New Xcode README.md steps
  packaging/macOS/Wesnoth_dmg_packaging_template.dmg
  projectfiles/Xcode/README.md
Labels: macOS

#4802 gui2/addon_manager: Re-read add-on versions after each update batch
  changelog.md
  src/gui/dialogs/addon/manager.cpp
Labels: Add-ons, Bug, UI

#4809 Fix the MP Create Dialog's handling of unplayable maps
  src/gui/dialogs/multiplayer/mp_create_game.cpp
Labels: Bug, Engine, MP

#4810 Fix the MP Create Dialog's handling of unplayable maps (1.14 branch)
  src/gui/dialogs/multiplayer/mp_create_game.cpp
Labels: Bug, Engine, MP

#4777 SoF - Replace S1 map
  data/campaigns/Sceptre_of_Fire/maps/1_A_Bargain_is_Struck.map
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign, Enhancement, In-progress

#4779 Units - Dunefolk - Falconer branch of Skirmisher line
  data/core/_main.cfg
  data/core/images/units/dunefolk/skirmisher/eagle-e.png
  data/core/images/units/dunefolk/skirmisher/eagle-hover.png
  data/core/images/units/dunefolk/skirmisher/eagle-hover1.png
  data/core/images/units/dunefolk/skirmisher/eagle-hover2.png
  data/core/images/units/dunefolk/skirmisher/eagle-hover3.png
  data/core/images/units/dunefolk/skirmisher/eagle-n.png
  data/core/images/units/dunefolk/skirmisher/eagle-rise.png
  data/core/images/units/dunefolk/skirmisher/falcon-dive.png
  data/core/images/units/dunefolk/skirmisher/falcon-e.png
  data/core/images/units/dunefolk/skirmisher/falcon-hover.png
  data/core/images/units/dunefolk/skirmisher/falcon-hover1.png
  data/core/images/units/dunefolk/skirmisher/falcon-hover2.png
  data/core/images/units/dunefolk/skirmisher/falcon-hover3.png
  data/core/images/units/dunefolk/skirmisher/falcon-n.png
  data/core/images/units/dunefolk/skirmisher/falcon-rise.png
  data/core/images/units/dunefolk/skirmisher/falconer-alone-defend1.png
  data/core/images/units/dunefolk/skirmisher/falconer-alone-defend2.png
  data/core/images/units/dunefolk/skirmisher/falconer-alone.png
  data/core/images/units/dunefolk/skirmisher/falconer-falcon-defend1.png
  data/core/images/units/dunefolk/skirmisher/falconer-falcon-defend2.png
  data/core/images/units/dunefolk/skirmisher/falconer-launch1.png
  data/core/images/units/dunefolk/skirmisher/falconer-launch2.png
  data/core/images/units/dunefolk/skirmisher/falconer-launch3.png
  data/core/images/units/dunefolk/skirmisher/falconer-launch4.png
  data/core/images/units/dunefolk/skirmisher/falconer-launch5.png
  data/core/images/units/dunefolk/skirmisher/falconer-move1.png
  data/core/images/units/dunefolk/skirmisher/falconer.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-alone-defend1.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-alone-defend2.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-alone.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-eagle-defend1.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-eagle-defend2.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-launch1.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-launch2.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-launch3.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-launch4.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-launch5.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter-move1.png
  data/core/images/units/dunefolk/skirmisher/sky_hunter.png
  data/core/macros/abilities.cfg
  data/core/macros/special-notes.cfg
  data/core/units/dunefolk/Falconer.cfg
  data/core/units/dunefolk/Firetrooper.cfg
  data/core/units/dunefolk/Raider.cfg
  data/core/units/dunefolk/Skirmisher.cfg
  data/core/units/dunefolk/Sky_Hunter.cfg
  data/lua/diversion.lua
Labels: Enhancement, Graphics, Ready for testing, Units

#4765 Wyverns and other units
  data/core/units/dunefolk/Wyvern_Rider.cfg
  data/core/units/monsters/Elder_Falcon.cfg
  data/core/units/monsters/Falcon.cfg
  data/core/units/monsters/Roc.cfg
  data/core/units/monsters/Wild_Wyvern.cfg
Labels: Units

#4823 Add scripts to pull various pieces of information from the MP database.
  utils/mp-server/query-scripts/01-count-of-unique-users.sql
  utils/mp-server/query-scripts/02-count-of-games-of-month.sql
  utils/mp-server/query-scripts/03-count-of-games-per-day.sql
  utils/mp-server/query-scripts/04-count-of-download-by-source.sql
  utils/mp-server/query-scripts/05-count-of-versions.sql
  utils/mp-server/query-scripts/06-eras-by-game-count.sql
  utils/mp-server/query-scripts/07-maps-by-game-count.sql
  utils/mp-server/query-scripts/08-modifications-by-game-count.sql
  utils/mp-server/query-scripts/09-oos-vs-game-count.sql
  utils/mp-server/query-scripts/10-oos-count-by-era.sql
  utils/mp-server/query-scripts/11-oos-count-by-map.sql
  utils/mp-server/query-scripts/12-oos-count-by-modification.sql
  utils/mp-server/query-scripts/13-oos-count-by-era-map-modification.sql
  utils/mp-server/query-scripts/14-oos-replays-list.sql
  utils/mp-server/query-scripts/run-queries.sh
Labels: Add-ons, MP
