Repository wesnoth/wesnoth, pull requests merged in 2020-02, with the labels that each got.

#4701 Units - Dunefolk Nagas - first revisions
  data/core/images/attacks/chakri.png
  data/core/images/attacks/tekko.png
  data/core/images/portraits/nagas/dirkfang.png
  data/core/images/units/nagas/dervish.png
  data/core/images/units/nagas/dirkfang-defend1.png
  data/core/images/units/nagas/dirkfang-defend2.png
  data/core/images/units/nagas/dirkfang-melee1.png
  data/core/images/units/nagas/dirkfang-melee2.png
  data/core/images/units/nagas/dirkfang-melee3.png
  data/core/images/units/nagas/dirkfang-melee4.png
  data/core/images/units/nagas/dirkfang-melee5.png
  data/core/images/units/nagas/dirkfang-melee6.png
  data/core/images/units/nagas/dirkfang-range-defend1.png
  data/core/images/units/nagas/dirkfang-range-defend2.png
  data/core/images/units/nagas/dirkfang-throw1.png
  data/core/images/units/nagas/dirkfang-throw10.png
  data/core/images/units/nagas/dirkfang-throw2.png
  data/core/images/units/nagas/dirkfang-throw3.png
  data/core/images/units/nagas/dirkfang-throw4.png
  data/core/images/units/nagas/dirkfang-throw5.png
  data/core/images/units/nagas/dirkfang-throw6.png
  data/core/images/units/nagas/dirkfang-throw7.png
  data/core/images/units/nagas/dirkfang-throw8.png
  data/core/images/units/nagas/dirkfang-throw9.png
  data/core/images/units/nagas/dirkfang.png
  data/core/images/units/nagas/ophidian.png
  data/core/images/units/nagas/ringcaster.png
  data/core/images/units/nagas/sicarius.png
  data/core/images/units/nagas/zephyr.png
  data/core/units/nagas/Dirkfang.cfg
  data/core/units/nagas/Ophidian.cfg
  data/core/units/nagas/Ringcaster.cfg
  data/core/units/nagas/Sicarius.cfg
  data/core/units/nagas/Zephyr.cfg
Labels: Graphics, Ready for testing, Units

#4739 Deprecate using [set_specials] without specifying mode=
  src/units/attack_type.cpp
Labels: Units, WML

#4740 Resolve #4736 (XP always displayed in light blue)
  src/gui/widgets/unit_preview_pane.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Backport, UI

#4577 AoH balance.
  changelog.md
  data/core/units/bats/Bat_Blood.cfg
  data/core/units/drakes/Arbiter.cfg
  data/core/units/drakes/Flare.cfg
  data/core/units/drakes/Sky.cfg
  data/core/units/drakes/Thrasher.cfg
  data/core/units/drakes/Warrior.cfg
  data/core/units/dwarves/Berserker.cfg
  data/core/units/dwarves/Stalwart.cfg
  data/core/units/dwarves/Steelclad.cfg
  data/core/units/dwarves/Thunderguard.cfg
  data/core/units/elves/Captain.cfg
  data/core/units/elves/Druid.cfg
  data/core/units/elves/Hero.cfg
  data/core/units/elves/Marksman.cfg
  data/core/units/elves/Ranger.cfg
  data/core/units/elves/Rider.cfg
  data/core/units/elves/Sorceress.cfg
  data/core/units/goblins/Knight.cfg
  data/core/units/goblins/Pillager.cfg
  data/core/units/gryphons/Gryphon_Master.cfg
  data/core/units/humans/Horse_Knight.cfg
  data/core/units/humans/Horse_Lancer.cfg
  data/core/units/humans/Loyalist_Dragoon.cfg
  data/core/units/humans/Loyalist_Duelist.cfg
  data/core/units/humans/Loyalist_Lieutenant.cfg
  data/core/units/humans/Loyalist_Swordsman.cfg
  data/core/units/humans/Mage_Red.cfg
  data/core/units/humans/Mage_White.cfg
  data/core/units/humans/Outlaw.cfg
  data/core/units/humans/Woodsman_Trapper.cfg
  data/core/units/merfolk/Javelineer.cfg
  data/core/units/merfolk/Spearman.cfg
  data/core/units/merfolk/Warrior.cfg
  data/core/units/nagas/Warrior.cfg
  data/core/units/ogres/Ogre.cfg
  data/core/units/orcs/Crossbowman.cfg
  data/core/units/orcs/Slayer.cfg
  data/core/units/saurians/Ambusher.cfg
  data/core/units/saurians/Oracle.cfg
  data/core/units/saurians/Soothsayer.cfg
  data/core/units/trolls/Rocklobber.cfg
  data/core/units/trolls/Troll.cfg
  data/core/units/undead/Necro_Dark_Sorcerer.cfg
  data/core/units/undead/Skele_Deathblade.cfg
  data/core/units/undead/Skele_Revenant.cfg
  data/core/units/wose/Elder.cfg
Labels: MP, Units

#4764 Use an independent ID for the database's GAME_ID column.
  src/server/game.cpp
  src/server/game.hpp
  src/server/server.cpp
Labels: MP, Network
