Repository wesnoth/wesnoth, pull requests merged in 2020-09, with the labels that each got.

#5042 text.cpp: throw if rendering needs more than 2GB, fix antialiasing with stride > width
  src/font/text.cpp
  src/font/text.hpp
Labels: UI

#5102 Update World Conquest II Strings
  data/campaigns/World_Conquest/era/factions/strings.cfg
  data/campaigns/World_Conquest/lua/campaign/objectives.lua
  data/campaigns/World_Conquest/lua/game_mechanics/bonus_point_definitions.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_show_dialog.lua
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_tellunit.lua
  data/campaigns/World_Conquest/lua/game_mechanics/promote_commander.lua
  data/campaigns/World_Conquest/lua/game_mechanics/unittypedata.lua
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help.lua
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help_dialog.lua
  data/campaigns/World_Conquest/lua/map/scenario_utils/plot.lua
  data/campaigns/World_Conquest/lua/map/settings/settings_dialog.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/pick_advance.lua
  data/campaigns/World_Conquest/resources/strings/artifacts.cfg
  data/campaigns/World_Conquest/resources/strings/effects.cfg
  data/campaigns/World_Conquest/resources/strings/training.cfg
Labels: Campaign, Prose

#5127 Fix inverted logic in working out which resources are active
  src/game_classification.cpp
Labels: Bug, Engine

#5136 make mushrooms-small smaller
  data/core/images/terrain/forest/mushrooms-small.png
Labels: Graphics, In-progress, Terrain

#5116 1.14 add-ons manager translated titles and description also for System default language
  src/addon/info.cpp
  src/gettext.hpp
  src/gettext_boost.cpp
Labels: Add-ons, Backport, Translations

#5109 add-ons manager translated titles and description also for System default language
  src/addon/info.cpp
  src/gettext.cpp
  src/gettext.hpp
Labels: Add-ons, Translations

#5138 WIP, completely untested: Remove the evil path of Northern Rebirth
  changelog.md
  data/campaigns/Northern_Rebirth/images/portraits/Tallin-Evil.png
  data/campaigns/Northern_Rebirth/maps/05b_Compelled.map
  data/campaigns/Northern_Rebirth/maps/06b_Slave_of_the_Undead.map
  data/campaigns/Northern_Rebirth/maps/07b_Protecting_the_Master.map
  data/campaigns/Northern_Rebirth/maps/08b_Ray_of_Hope.map
  data/campaigns/Northern_Rebirth/maps/09b_Judgment.map
  data/campaigns/Northern_Rebirth/scenarios/04_Clearing_the_Mines.cfg
  data/campaigns/Northern_Rebirth/scenarios/05b_Compelled.cfg
  data/campaigns/Northern_Rebirth/scenarios/06b_Slave_of_the_Undead.cfg
  data/campaigns/Northern_Rebirth/scenarios/07b_Protecting_the_Master.cfg
  data/campaigns/Northern_Rebirth/scenarios/08b_Ray_of_Hope.cfg
  data/campaigns/Northern_Rebirth/scenarios/09b_Judgment.cfg
Labels: Campaign

#5094 update DID_SHADOW_VEIL_HANDLER in DID campaign
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
Labels: Campaign, WML

#5123 Show the "loyal" trait in help
  src/help/help_impl.cpp
  src/help/help_impl.hpp
Labels: Help

#5146 Allow the player to recruit, even when some recruitable units aren't known
  src/menu_events.cpp
Labels: Bug, Engine

#5143 Show [race]help_taxonomy= as "This is a group of units, all of whom are $help_taxonomy"
  data/core/units.cfg
  data/schema/units/races.cfg
  src/help/help_impl.cpp
  src/help/help_impl.hpp
  src/units/race.cpp
  src/units/race.hpp
Labels: Enhancement, Help

#5153 UtBS S02: Recognise Beach Sands and embellishments when spawning ghosts
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Campaign

#5172 Update the docs for ":droid full" in the help browser
  data/core/help.cfg
Labels: Help
