Repository wesnoth/wesnoth, pull requests merged in 2020-08, with the labels that each got.

#5027 Final part of the Python 2 removal, including install-pytools
  SConstruct
  changelog.md
  data/tools/README.md
  data/tools/wesnoth/README.md
  data/tools/wesnoth/wmliterator.py
  data/tools/wesnoth/wmlparser.py
  data/tools/wesnoth/wmlparser2.py
  data/tools/wesnoth/wmltools.py
Labels: Building, WML Tools

#5024 Fix SDL2 2.0.12 change in SDL_GetDisplayDPI
  SConstruct
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/desktop/apple_video.hpp
  src/desktop/apple_video.mm
  src/video.cpp
Labels: Works for me, macOS

#5037 Fix the build, separate fixes for VC16 and GCC-10
  projectfiles/VC16/campaignd.vcxproj
  projectfiles/VC16/files_with_deactivated_warnings.txt
  projectfiles/VC16/wesnothd.vcxproj
  src/utils/shared_reference.hpp
Labels: Building

#4722 Drop support for the l10n-track file (#4716 and #4717)
  CMakeLists.txt
  SConstruct
  l10n-spec
  l10n-track
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/filesystem.cpp
Labels: Translations

#5025 Various minor graphics fixes/updates
  data/core/images/portraits/monsters/scorpion-elder.png
  data/core/images/portraits/nagas/dirkfang.png
  data/core/images/terrain/castle/outside-dwarven/dwarven-castle-floor-n.png
  data/core/images/terrain/castle/outside-dwarven/dwarven-castle-floor-ne.png
  data/core/images/terrain/castle/outside-dwarven/dwarven-castle-floor-nw.png
  data/core/images/terrain/castle/outside-dwarven/dwarven-castle-floor-s.png
  data/core/images/terrain/castle/outside-dwarven/dwarven-castle-floor-se.png
  data/core/images/terrain/castle/outside-dwarven/dwarven-castle-floor-sw.png
  data/core/units/monsters/Giant_Scorpion.cfg
Labels: Enhancement, Graphics, In-progress

#5076 Help about losing: remove reference to specific difficulties
  data/core/help.cfg
Labels: Help, Prose

#5077 Help dealing with losses: don't link to the forums
  data/core/help.cfg
Labels: Help, Prose

#5110 Help browser: fix behavior of clicking on icons of terrain sections
  src/help/help_impl.cpp
  src/help/help_impl.hpp
  src/help/help_menu.cpp
  src/help/help_menu.hpp
Labels: Help, UI
