Repository wesnoth/wesnoth, pull requests merged in 2020-04, with the labels that each got.

#4830 Add Calendar to Wesnoth encyclopedia
  data/core/encyclopedia/_main.cfg
  data/core/encyclopedia/calendar.cfg
Labels: Help

#4758 fix leadership animation played when weapon don't matche [filter_weapon]
  src/actions/attack.cpp
  src/units/abilities.cpp
  src/units/udisplay.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Units

#4834 Some balance
  changelog.md
  data/core/macros/abilities.cfg
  data/core/units/dunefolk/Falconer.cfg
  data/core/units/dunefolk/Sky_Hunter.cfg
  data/core/units/dwarves/Dragonguard.cfg
  data/core/units/undead/Skele_Banebow.cfg
  data/core/units/undead/Skele_Bone_Shooter.cfg
  data/multiplayer/factions/dunefolk-aoh.cfg
Labels: Units

#4617 adding resistance_anim to shema validation
  data/schema/units/animations.cfg
Labels: Schema
