Repository wesnoth/wesnoth, pull requests merged in 2020-07, with the labels that each got.

#4970 Add Earthy Rockbound Cave terrain
  changelog.md
  data/core/images/terrain/cave/earthy-hills-n.png
  data/core/images/terrain/cave/earthy-hills-ne.png
  data/core/images/terrain/cave/earthy-hills-nw.png
  data/core/images/terrain/cave/earthy-hills-s.png
  data/core/images/terrain/cave/earthy-hills-se.png
  data/core/images/terrain/cave/earthy-hills-sw.png
  data/core/images/terrain/cave/earthy-hills-variation.png
  data/core/images/terrain/cave/earthy-hills-variation2.png
  data/core/images/terrain/cave/earthy-hills-variation3.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Enhancement, Terrain

#4979 Remove VC14 (VS2015/VS2017 project files).
  .gitignore
  .travis.yml
  INSTALL.md
  projectfiles/VC14/README.md
  projectfiles/VC14/campaignd.vcxproj
  projectfiles/VC14/campaignd.vcxproj.filters
  projectfiles/VC14/files_with_deactivated_warnings.txt
  projectfiles/VC14/liblua.vcxproj
  projectfiles/VC14/liblua.vcxproj.filters
  projectfiles/VC14/wesnoth.sln
  projectfiles/VC14/wesnoth.vcxproj
  projectfiles/VC14/wesnoth.vcxproj.filters
  projectfiles/VC14/wesnothd.vcxproj
  projectfiles/VC14/wesnothd.vcxproj.filters
  projectfiles/VC14/wesnothlib.vcxproj
  projectfiles/VC14/wesnothlib.vcxproj.filters
  utils/travis/steps/install.sh
  utils/travis/steps/script.sh
Labels: Building

#4993 Backport addon titles and descriptions made translatable
  data/core/about.cfg
  src/addon/client.cpp
  src/addon/info.cpp
  src/addon/info.hpp
  src/campaign_server/addon_utils.cpp
  src/campaign_server/addon_utils.hpp
  src/campaign_server/campaign_server.cpp
  src/gui/dialogs/addon/manager.cpp
  src/gui/widgets/addon_list.cpp
  src/gui/widgets/addon_list.hpp
Labels: Add-ons, Backport, Translations

#4974 UtBS and Quenoth rebalance
  changelog.md
  data/campaigns/Under_the_Burning_Suns/maps/04_Descending_into_Darkness.map
  data/campaigns/Under_the_Burning_Suns/maps/05_A_Subterranean_Struggle.map
  data/campaigns/Under_the_Burning_Suns/maps/08_Out_of_the_Frying_Pan.map
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Body.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Minion.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Alien_Spire.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Ixthala_Demon.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Archer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Champion.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Divine_Avatar.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Divine_Incarnation.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Druid.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Fighter.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Flanker.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Marksman.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Mystic.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Outrider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Pathfinder.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Ranger.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Scout.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Shaman.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Shyde.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Singer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Sylph.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Flagbearer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Protector.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Stalwart.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Vanguard.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Warrior.cfg
  data/campaigns/Under_the_Burning_Suns/units/undead/Haunt.cfg
  data/campaigns/Under_the_Burning_Suns/units/undead/Spider_Lich.cfg
  data/campaigns/Under_the_Burning_Suns/units/units.cfg
  data/campaigns/Under_the_Burning_Suns/utils/dehydration-utils.cfg
Labels: Campaign, Ready for testing, Units

#5001 Warn about manually editing files created by the scenario editor
  src/editor/map/map_context.cpp
Labels: Editor

#5013 Disambiguate some python shebang lines to be "python3"
  utils/dockerbuilds/mingw/get_dlls.py
  utils/update_appdata
Labels: Building

#5014 Remove the python2 rmtrans tool
  data/tools/README.md
  data/tools/rmtrans/README.md
  data/tools/rmtrans/rmtrans.py
Labels: Graphics
