Repository wesnoth/wesnoth, pull requests merged in 2020-12, with the labels that each got.

#5329 Converted uses of boost::optional to utils::optional
  src/actions/attack.cpp
  src/commandline_options.hpp
  src/editor/map/map_context.hpp
  src/font/font_description.hpp
  src/game_board.cpp
  src/game_board.hpp
  src/game_config_manager.cpp
  src/game_config_manager.hpp
  src/game_events/action_wml.cpp
  src/game_state.cpp
  src/game_state.hpp
  src/generators/cave_map_generator.cpp
  src/generators/cave_map_generator.hpp
  src/generators/default_map_generator.cpp
  src/generators/default_map_generator.hpp
  src/generators/lua_map_generator.cpp
  src/generators/lua_map_generator.hpp
  src/generators/map_generator.cpp
  src/generators/map_generator.hpp
  src/gui/dialogs/attack_predictions.cpp
  src/gui/dialogs/editor/generate_map.cpp
  src/gui/dialogs/editor/generate_map.hpp
  src/gui/widgets/listbox.cpp
  src/help/help_impl.cpp
  src/help/help_impl.hpp
  src/help/help_topic_generators.cpp
  src/lexical_cast.hpp
  src/map/map.cpp
  src/map/map.hpp
  src/mp_game_settings.cpp
  src/mp_game_settings.hpp
  src/play_controller.hpp
  src/replay_controller.hpp
  src/scripting/lua_audio.cpp
  src/scripting/lua_gui2.cpp
  src/scripting/lua_widget_attributes.cpp
  src/scripting/lua_widget_methods.cpp
  src/scripting/mapgen_lua_kernel.cpp
  src/scripting/mapgen_lua_kernel.hpp
  src/serialization/preprocessor.cpp
  src/serialization/preprocessor.hpp
  src/serialization/schema/type.cpp
  src/server/campaignd/options.hpp
  src/sound.cpp
  src/sound.hpp
  src/units/filter.cpp
  src/units/frame.hpp
  src/wesnoth.cpp
Labels: Add-ons, Editor, Help, Lua API, Schema, UI, Units

#5339 Removed patched boost::bind
  projectfiles/VC16/wesnoth.vcxproj
  projectfiles/VC16/wesnothd.vcxproj
  projectfiles/VC16/wesnothlib.vcxproj
  src/CMakeLists.txt
  src/SConscript
  src/boost-patched/bind/arg.hpp
Labels: Building, CMake, SCons

#5337 wml/preprocessor: Reduce code duplication in preprocessor conditionals
  src/serialization/preprocessor.cpp
Labels: WML

#5343 update test.cpp in codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
Labels: Building

#5348 campaignd: Add strict version check on uploads
  src/addon/validation.cpp
  src/addon/validation.hpp
  src/server/campaignd/server.cpp
  src/server/campaignd/server.hpp
Labels: Add-ons

#5352 update codeblocks projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#5356 fix codeblocks projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#5213 add overwrite_specials attribute to abilities like specials for superced other specials(abilities or traditionnal)
  changelog.md
  data/core/macros/utils.cfg
  data/schema/units/abilities.cfg
  data/test/scenarios/test_force_chance_to_hit_macro.cfg
  src/units/abilities.cpp
  wml_test_schedule
Labels: Schema, Unit Tests, Units

#5268 Tweak Dead Water difficulty
  data/campaigns/Dead_Water/scenarios/04_Slavers.cfg
  data/campaigns/Dead_Water/scenarios/06_Uncharted_Islands.cfg
  data/campaigns/Dead_Water/scenarios/10_The_Flaming_Sword.cfg
Labels: Campaign

#5357 dialogue when turns runs out NR S1 and S2
  data/campaigns/Northern_Rebirth/scenarios/01_Breaking_the_Chains.cfg
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
Labels: Campaign

#5364 Remove the editor option to assign a recruit list to a unit.
  data/themes/editor.cfg
  src/editor/controller/editor_controller.cpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
  src/units/unit.cpp
Labels: Editor, UI, Units

#5360 Unit: removed use of boost::ptr_vector
  src/scripting/game_lua_kernel.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Lua API, Units

#5363 gui2/addon_manager: Replace URL widgets with a single link label
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
Labels: Add-ons, UI

#5372 NEAREST_HEX: variable location_found is no longer used.
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
Labels: Campaign

#5371 SotBE S09: add user_team_name
  data/campaigns/Son_Of_The_Black_Eye/scenarios/09_Shan_Taum_the_Smug.cfg
Labels: Campaign

#5377 SotBE: fix pronoun (Inarix is an Ambusher, thus female)
  data/campaigns/Son_Of_The_Black_Eye/utils/deaths.cfg
Labels: Campaign

#5344 various work on new fauna
  data/core/images/attacks/fangs-bug.png
  data/core/images/halo/monster/stoat-frost-base.png
  data/core/images/halo/monster/stoat-frost-blank.png
  data/core/images/halo/monster/stoat-frost-mask.png
  data/core/images/portraits/monsters/crocodile.png
  data/core/images/portraits/monsters/scarab.png
  data/core/images/portraits/monsters/stoat.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws1.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws2.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws3.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws4.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws5.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws6.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws7.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws8.png
  data/core/images/units/monsters/icemonax/great-icemonax-claws9.png
  data/core/images/units/monsters/icemonax/great-icemonax-water.png
  data/core/images/units/monsters/icemonax/young-icemonax-water.png
  data/core/images/units/monsters/scarab/scarab-defend1.png
  data/core/images/units/monsters/scarab/scarab-defend2.png
  data/core/images/units/monsters/scarab/scarab.png
  data/core/macros/abilities.cfg
  data/core/units/monsters/Frost_Stoat.cfg
  data/core/units/monsters/Giant_Stoat.cfg
  data/core/units/monsters/Icemonax.cfg
  data/core/units/monsters/Icemonax_Greater.cfg
  data/core/units/monsters/Scarab.cfg
Labels: Graphics, Units

#5384 Fauna Project - Wyverns
  data/core/images/units/monsters/wild-wyvern.png
  data/core/images/units/monsters/wyvern/wild-wyvern-defend1.png
  data/core/images/units/monsters/wyvern/wild-wyvern-defend2.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-defend.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-shadow.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-takeoff1.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-takeoff2.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-takeoff3.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-takeoff4.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-takeoff5.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-takeoff6.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-takeoff7.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-takeoff8.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly1.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly2.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly3.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly4.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly5.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly6.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly7.png
  data/core/images/units/monsters/wyvern/wild-wyvern.png
  data/core/units/monsters/Wild_Wyvern.cfg
Labels: Graphics, Units

#5387 ambusher don't workin httt 07_Crosroad.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/07_Crossroads.cfg
Labels: Campaign

#5388 Revisions to bobbing animations
  data/core/images/units/orcs/grunt-ne-defend-1.png
  data/core/images/units/orcs/grunt-ne-defend-2.png
  data/core/images/units/orcs/grunt-ne.png
  data/core/images/units/orcs/grunt-stand-ne-1.png
  data/core/images/units/orcs/grunt-stand-ne-2.png
  data/core/images/units/orcs/grunt-stand-ne-3.png
  data/core/images/units/orcs/grunt-stand-ne-4.png
  data/core/images/units/orcs/grunt-stand-ne-5.png
  data/core/images/units/orcs/grunt-stand-se-1.png
  data/core/images/units/orcs/grunt-stand-se-2.png
  data/core/images/units/orcs/grunt-stand-se-3.png
  data/core/images/units/orcs/grunt-stand-se-4.png
  data/core/images/units/orcs/grunt-stand-se-5.png
  data/core/images/units/orcs/grunt.png
  data/core/macros/animation-utils.cfg
  data/core/macros/animation-utils2.cfg
  data/core/macros/unit-utils.cfg
  data/core/units/dwarves/Berserker.cfg
  data/core/units/dwarves/Dragonguard.cfg
  data/core/units/dwarves/Fighter.cfg
  data/core/units/dwarves/Guardsman.cfg
  data/core/units/dwarves/Lord.cfg
  data/core/units/dwarves/Runesmith.cfg
  data/core/units/dwarves/Sentinel.cfg
  data/core/units/dwarves/Stalwart.cfg
  data/core/units/dwarves/Steelclad.cfg
  data/core/units/dwarves/Thunderer.cfg
  data/core/units/dwarves/Thunderguard.cfg
  data/core/units/dwarves/Ulfserker.cfg
  data/core/units/humans/Horse_Knight.cfg
  data/core/units/humans/Horseman.cfg
  data/core/units/humans/Loyalist_Fencer.cfg
  data/core/units/humans/Loyalist_Spearman.cfg
  data/core/units/humans/Mage_Arch.cfg
  data/core/units/orcs/Archer.cfg
  data/core/units/orcs/Grunt.cfg
Labels: Graphics, Units

#4999 Add help topics for the Editor (as it stands in the 1.14 branch)
  changelog.md
  data/core/editor/help.cfg
Labels: Editor, Help, Prose

#5398 Remove the editor's unused set_starting_position dialog
  data/gui/window/editor_set_starting_position.cfg
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/VC16/wesnoth.vcxproj
  projectfiles/VC16/wesnoth.vcxproj.filters
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/editor/action/mouse/mouse_action.cpp
  src/gui/dialogs/editor/set_starting_position.cpp
  src/gui/dialogs/editor/set_starting_position.hpp
  src/tests/gui/test_gui2.cpp
Labels: Building, Editor, UI, macOS

#5341 Use coroutines via boost::asio::spawn to improve overall code structure in servers
  .github/workflows/ci-main.yml
  CMakeLists.txt
  SConstruct
  packaging/flatpak/org.wesnoth.Wesnoth.json
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  scons/boost.py
  src/CMakeLists.txt
  src/server/campaignd/server.cpp
  src/server/campaignd/server.hpp
  src/server/common/send_receive_wml_helpers.ipp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/server/wesnothd/game.cpp
  src/server/wesnothd/game.hpp
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: Add-ons, Building, CMake, Packaging, SCons, macOS

#5397 SoF - various clean-ups
  data/campaigns/Sceptre_of_Fire/_main.cfg
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/chasm-wall-fire-n.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/chasm-wall-fire-ne.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/chasm-wall-fire-nw.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/edge-n.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/edge-ne.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/edge-nw.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/edge-s.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/edge-se.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/edge-sw.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/rune-1.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/rune-2.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/rune-3.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/rune-4.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/rune-5.png
  data/campaigns/Sceptre_of_Fire/images/terrain/volcano/rune-6.png
  data/campaigns/Sceptre_of_Fire/maps/9_Caverns_of_Flame.map
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/units/Caravan.cfg
  data/campaigns/Sceptre_of_Fire/utils/terrain.cfg
  data/core/terrain-graphics.cfg
Labels: Campaign, Graphics, Terrain, Units
