Repository wesnoth/wesnoth, pull requests merged in 2020-05, with the labels that each got.

#4851 Allow theme resolutions based on an arbitrary base resolution.
  src/theme.cpp
  src/theme.hpp
Labels: UI

#4881 fix inversion of [filter_weapon] and [filter_second_weapon] for anima…
  src/units/udisplay.cpp
Labels: WML

#4882 Sceptre of Fire: bug fixes and small tweaks to dialogue
  data/campaigns/Sceptre_of_Fire/_main.cfg
  data/campaigns/Sceptre_of_Fire/maps/8_The_Dragon.map
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2t_In_the_Dwarven_City.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3_Searching_for_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
  data/campaigns/Sceptre_of_Fire/utils/rune-equip.cfg
  data/schema/core/actionwml.cfg
Labels: Campaign

#4910 Fix issue #4909.
  data/themes/_initial.cfg
  data/themes/default.cfg
  src/theme.cpp
Labels: Graphics

#4878 New Poacher & Trapper (ranged) Sprites/Animations
  data/core/images/units/human-outlaws/poacher-attack1.png
  data/core/images/units/human-outlaws/poacher-attack2.png
  data/core/images/units/human-outlaws/poacher-attack3.png
  data/core/images/units/human-outlaws/poacher-bow-attack1.png
  data/core/images/units/human-outlaws/poacher-bow-attack2.png
  data/core/images/units/human-outlaws/poacher-bow-attack3.png
  data/core/images/units/human-outlaws/poacher-bow-attack4.png
  data/core/images/units/human-outlaws/poacher-bow-attack5.png
  data/core/images/units/human-outlaws/poacher-bow-attack6.png
  data/core/images/units/human-outlaws/poacher-bow-attack7.png
  data/core/images/units/human-outlaws/poacher-bow-defend.png
  data/core/images/units/human-outlaws/poacher-dagger.png
  data/core/images/units/human-outlaws/poacher.png
  data/core/images/units/human-outlaws/trapper-attack1.png
  data/core/images/units/human-outlaws/trapper-attack2.png
  data/core/images/units/human-outlaws/trapper-attack3.png
  data/core/images/units/human-outlaws/trapper-bow-attack1.png
  data/core/images/units/human-outlaws/trapper-bow-attack2.png
  data/core/images/units/human-outlaws/trapper-bow-attack3.png
  data/core/images/units/human-outlaws/trapper-bow-attack4.png
  data/core/images/units/human-outlaws/trapper-bow-attack5.png
  data/core/images/units/human-outlaws/trapper-bow-attack6.png
  data/core/images/units/human-outlaws/trapper-bow-attack7.png
  data/core/images/units/human-outlaws/trapper-bow-defend.png
  data/core/images/units/human-outlaws/trapper-bow.png
  data/core/images/units/human-outlaws/trapper-dagger.png
  data/core/images/units/human-outlaws/trapper.png
  data/core/units/humans/Woodsman_Poacher.cfg
  data/core/units/humans/Woodsman_Trapper.cfg
Labels: Graphics, Units

#4906 UtBS - units - Replacing inconsistent Dark Assassin unit/sprite data
  data/campaigns/Under_the_Burning_Suns/_main.cfg
  data/campaigns/Under_the_Burning_Suns/images/units/other/dark-assassin-attack1.png
  data/campaigns/Under_the_Burning_Suns/images/units/other/dark-assassin-attack2.png
  data/campaigns/Under_the_Burning_Suns/images/units/other/dark-assassin-attack3.png
  data/campaigns/Under_the_Burning_Suns/images/units/other/dark-assassin-defend-1.png
  data/campaigns/Under_the_Burning_Suns/images/units/other/dark-assassin-defend-2-miss.png
  data/campaigns/Under_the_Burning_Suns/images/units/other/dark-assassin-defend-2.png
  data/campaigns/Under_the_Burning_Suns/images/units/other/dark-assassin-uncloaked.png
  data/campaigns/Under_the_Burning_Suns/images/units/other/dark-assassin.png
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin1.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin2.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin3.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Uncloaked.cfg
Labels: Campaign, Graphics

#4929 core - terrain - dwarf castle and tall encampment keep transition fixes
  data/core/terrain-graphics.cfg
Labels: Bug, Graphics, Ready for testing, Terrain
