Repository wesnoth/wesnoth, pull requests merged in 2021-01, with the labels that each got.

#5406 Store content names for game history viewer.
  src/mp_game_settings.cpp
  src/mp_game_settings.hpp
  src/saved_game.cpp
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
  utils/mp-server/table_definitions.sql
Labels: Services

#5408 terrain-graphics - iron fence fix
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

#5399 Correct the editor help about loading editor-generated .cfg files
  data/core/editor/help.cfg
Labels: Docs, Editor

#5409 [1.14] Re-enable the editor help, add docs about keyboard modifiers and the scenario editor
  changelog.md
  data/core/editor/help.cfg
  data/core/help.cfg
Labels: Docs, Editor, Prose

#5327 Fix [resistance_defaults] and [terrain_defaults] (fixes #5308)
  changelog.md
  data/schema/units/movetypes.cfg
  src/movetype.cpp
  src/units/types.cpp
Labels: Bug, Schema, Unit Tests, Units

#5333 MP: unique background graphics for Isar's Cross
  changelog.md
  data/core/about.cfg
  data/core/images/terrain/map-specific/isar-background-dawndusk.png
  data/core/images/terrain/map-specific/isar-background-night.png
  data/core/images/terrain/map-specific/isar-background.png
  data/multiplayer/scenarios/4p_Isars_Cross.cfg
Labels: Graphics, MP, Terrain

#5415 fix WFL variables aren't getting assigned correctly
  src/units/abilities.cpp
Labels: Units

#5418 Remove the unused completely_redrawn event
  src/display.cpp
  src/display.hpp
Labels: Engine

#5422 wmllint: fix typo in a comment
  data/tools/wmllint
Labels: WML Tools

#5424 Add #textdomain wesnoth to data/core/about_i18n.cfg
  data/core/about_i18n.cfg
Labels: WML

#5423 Add a note about wmllint-1.4
  data/tools/README.md
Labels: WML Tools

#5428 Fix several wmllint errors in data/core/units
  data/core/units/monsters/Frost_Stoat.cfg
  data/core/units/monsters/Scarab.cfg
  data/core/units/monsters/Wild_Wyvern.cfg
  data/core/units/nagas/Dirkfang.cfg
  data/core/units/nagas/Ophidian.cfg
  data/core/units/nagas/Ringcaster.cfg
Labels: Units

#5426 Fix wmllint textdomain warnings in data/core/terrain-graphics
  data/core/terrain-graphics/borders.cfg
  data/core/terrain-graphics/bridge.cfg
  data/core/terrain-graphics/editor.cfg
  data/core/terrain-graphics/gates.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

#5427 Add missing NOTE_MARKSMAN to Dune Sky Hunter
  data/core/units/dunefolk/Sky_Hunter.cfg
Labels: Units

#5429 Fix wmllint confusing fake map border for fog
  data/tools/wmllint
Labels: WML Tools

#5433 Fix wrong comment handling in wmllint
  data/tools/wmllint
Labels: WML Tools

#5432 Silence wmllint error about a missing campaign id
  data/campaigns/Dead_Water/_main.cfg
Labels: Campaign

#5431 Fix comment parsing in wmllint
  data/tools/wmllint
Labels: WML Tools

#5430 Replace fog and shroud in map files
  data/multiplayer/maps/6p_Team_Survival.map
  data/multiplayer/maps/Dark_Forecast_drought.map
  data/multiplayer/maps/Dark_Forecast_firstsnow.map
  data/multiplayer/maps/Dark_Forecast_secondsnow.map
Labels: MP

#5438 Silence warnings about a missing translation mark
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
Labels: Campaign

#5436 Fix typo: team_name was used instead of user_team_name
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
Labels: Campaign

#5437 Quote an attribute value
  data/campaigns/Descent_Into_Darkness/scenarios/02_Peaceful_Valley.cfg
Labels: Campaign

#5444 update codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnothd.cbp
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

#5410 Add support for asynchronously querying a player's game history for display on the client.
  source_lists/wesnothd
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/resultsets/game_history.cpp
  src/server/common/resultsets/game_history.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
  utils/mp-server/table_definitions.sql
Labels: Add-ons, Building, MP, Services

#5449 Update to require C++17.
  .github/workflows/ci-main.yml
  CMakeLists.txt
  SConstruct
Labels: Building, CMake, SCons

#5455 Update codeblock for recent changes
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks-SCons/wesnothd.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

#5457 DiD: refactor scripted experience gain
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/04_Spring_of_Reprisal.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/utils/macros.cfg
Labels: Campaign

#5460 Convert relevant cases of lexical_cast to std::to_string().
  src/config_attribute_value.cpp
  src/display.cpp
  src/gui/dialogs/lua_interpreter.cpp
  src/server/common/server_base.cpp
  src/server/wesnothd/player.cpp
  src/server/wesnothd/server.cpp
Labels: Add-ons, MP, UI

#5451 Hide warnings from GCC 10 if compiling with LTO
  CMakeLists.txt
  SConstruct
Labels: Building, CMake, SCons

#5461 Use wmllint: recognize instead of blanket wmllint: ignore in DiD
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
Labels: Campaign

#5462 DiD: add wmllint: recognize Jaime
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
Labels: Campaign

#5465 DiD: suppress: Inky speaks in his/her "die" event rather than "last breath"
  data/campaigns/Descent_Into_Darkness/scenarios/10_Endless_Night.cfg
Labels: Campaign

#5466 Fix wmllint error: no textdomain string
  data/campaigns/Eastern_Invasion/utils/animations.cfg
Labels: Campaign

#5467 HTTT: don't change unit id
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
Labels: Campaign

#5459 Unit: converted upkeep handling to std::variant
  src/actions/advancement.cpp
  src/actions/advancement.hpp
  src/scripting/lua_unit.cpp
  src/units/filter.cpp
  src/units/unit.cpp
  src/units/unit.hpp
  src/utils/variant.hpp
Labels: Lua API, Units

#5468 HTTT: add wmllint: recognize Simyr
  data/campaigns/Heir_To_The_Throne/scenarios/13_The_Dwarven_Doors.cfg
Labels: Campaign

#5473 wmllint: fix textdomain errors
  data/campaigns/Sceptre_of_Fire/utils/bigmap.cfg
  data/campaigns/Secrets_of_the_Ancients/utils/terrain_graphics.cfg
  data/campaigns/The_Rise_Of_Wesnoth/units/Kalian.cfg
  data/campaigns/World_Conquest/_main.cfg
  data/campaigns/World_Conquest/config.cfg
  data/campaigns/World_Conquest/era/campaign/heroes.cfg
  data/campaigns/World_Conquest/era/era.cfg
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
  data/campaigns/World_Conquest/resources/data/training.cfg
  data/campaigns/World_Conquest/resources/resources.cfg
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign, Terrain, Units

#5477 LOW: Don't forget to undefine local macros
  data/campaigns/Legend_of_Wesmere/scenarios/chapter3/09_Bounty_Hunters.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter4/13_News_from_the_Front.cfg
Labels: Campaign

#5478 Fix wmllint error: double space after sentence end
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/10_Speaking_with_the_Fishes.cfg
Labels: Campaign

#5471 Add side=1 in httt_utils.cfg to appease wmllint
  data/campaigns/Heir_To_The_Throne/utils/httt_utils.cfg
Labels: Campaign

#5490 Switch to std::string_view
  projectfiles/VC16/wesnothlib.vcxproj
  projectfiles/VC16/wesnothlib.vcxproj.filters
  src/config.hpp
  src/font/pango/hyperlink.hpp
  src/font/text.cpp
  src/font/text.hpp
  src/picture.cpp
  src/scripting/lua_common.cpp
  src/scripting/lua_common.hpp
  src/scripting/lua_terrainfilter.cpp
  src/scripting/lua_terrainmap.cpp
  src/scripting/lua_terrainmap.hpp
  src/scripting/lua_widget.cpp
  src/scripting/lua_widget.hpp
  src/scripting/lua_widget_attributes.cpp
  src/scripting/push_check.hpp
  src/serialization/base64.cpp
  src/serialization/base64.hpp
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
  src/serialization/string_view.hpp
  src/terrain/filter.cpp
  src/terrain/translation.cpp
  src/terrain/translation.hpp
  src/units/abilities.cpp
Labels: Building, Lua API, Terrain, Units

#5482 TSG: Add missing NOTE_DEFENSE_CAP
  data/campaigns/The_South_Guard/units/Horseman_Commander.cfg
  data/campaigns/The_South_Guard/units/Junior_Commander.cfg
  data/campaigns/The_South_Guard/units/Mounted_General.cfg
Labels: Campaign, Units

#5417 more north-facing sprites
  data/core/images/units/dunefolk/skirmisher/skirmisher-ne-defend1.png
  data/core/images/units/dunefolk/skirmisher/skirmisher-ne-defend2.png
  data/core/images/units/dunefolk/skirmisher/skirmisher-ne.png
  data/core/images/units/human-loyalists/bowman-ne-bow-attack-1.png
  data/core/images/units/human-loyalists/bowman-ne-bow-attack-2.png
  data/core/images/units/human-loyalists/bowman-ne-bow-attack-3.png
  data/core/images/units/human-loyalists/bowman-ne-bow-attack-4.png
  data/core/images/units/human-loyalists/bowman-ne-bow-defend.png
  data/core/images/units/human-loyalists/bowman-ne-bow.png
  data/core/images/units/human-loyalists/bowman-ne-melee-defend-1.png
  data/core/images/units/human-loyalists/bowman-ne-melee-defend-2.png
  data/core/images/units/human-loyalists/bowman-ne.png
  data/core/images/units/human-loyalists/bowman.png
  data/core/images/units/human-outlaws/footpad+female-attack1.png
  data/core/images/units/human-outlaws/footpad+female-attack2.png
  data/core/images/units/human-outlaws/footpad+female-defend.png
  data/core/images/units/human-outlaws/footpad+female-melee-1.png
  data/core/images/units/human-outlaws/footpad+female-melee-2.png
  data/core/images/units/human-outlaws/footpad+female-melee-3.png
  data/core/images/units/human-outlaws/footpad+female-melee-4.png
  data/core/images/units/human-outlaws/footpad+female.png
  data/core/images/units/human-outlaws/footpad-attack1.png
  data/core/images/units/human-outlaws/footpad-attack2.png
  data/core/images/units/human-outlaws/footpad-defend.png
  data/core/images/units/human-outlaws/footpad-melee-1.png
  data/core/images/units/human-outlaws/footpad-melee-2.png
  data/core/images/units/human-outlaws/footpad-melee-3.png
  data/core/images/units/human-outlaws/footpad-melee-4.png
  data/core/images/units/human-outlaws/footpad.png
  data/core/images/units/human-outlaws/poacher-attack.png
  data/core/images/units/human-outlaws/poacher-dagger-defend1.png
  data/core/images/units/human-outlaws/poacher-dagger-defend2.png
  data/core/images/units/trolls/whelp-ne-defend-2.png
  data/core/images/units/trolls/whelp-ne-defend-3.png
  data/core/images/units/trolls/whelp-ne-defend.png
  data/core/images/units/trolls/whelp-ne-idle-1.png
  data/core/images/units/trolls/whelp-ne-idle-2.png
  data/core/images/units/trolls/whelp-ne-idle-3.png
  data/core/images/units/trolls/whelp-ne-idle-4.png
  data/core/images/units/trolls/whelp-ne-idle-5.png
  data/core/images/units/trolls/whelp-ne-idle-6.png
  data/core/images/units/trolls/whelp-ne.png
  data/core/units/dunefolk/Skirmisher.cfg
  data/core/units/humans/Loyalist_Bowman.cfg
  data/core/units/humans/Outlaw_Footpad.cfg
  data/core/units/humans/Woodsman_Poacher.cfg
  data/core/units/trolls/Whelp.cfg
Labels: Graphics, Units

#5495 various small fixes
  data/core/macros/abilities.cfg
  data/core/units/dunefolk/Cataphract.cfg
  data/lua/diversion.lua
Labels: Lua API, Units

#5382 Tweak Delfador's Memoirs difficulty
  data/campaigns/Delfadors_Memoirs/scenarios/02_This_Valley_Belongs_to_Me.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/03_The_Road_to_Weldyn.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/04_Leollyn.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/06_Swamps_of_Illuven.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/13_The_Return_of_Trouble.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/18_The_Portal_of_Doom.cfg
Labels: Campaign

#5496 Tweak Eastern Invasion difficulty
  data/campaigns/Eastern_Invasion/scenarios/01_The_Outpost.cfg
  data/campaigns/Eastern_Invasion/scenarios/02_The_Escape_Tunnel.cfg
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
  data/campaigns/Eastern_Invasion/scenarios/17b_Weldyn_Besieged.cfg
Labels: Campaign

#5499 bi: Use Boost.Predef to detect and expose the build arch
  src/build_info.cpp
  src/build_info.hpp
  src/gui/dialogs/game_version_dialog.cpp
  src/wesnoth.cpp
Labels: Enhancement, UI

#5506 orcish grunt sprite animations
  data/core/images/units/orcs/grunt-defend-1.png
  data/core/images/units/orcs/grunt-defend-2.png
  data/core/images/units/orcs/grunt-die-1.png
  data/core/images/units/orcs/grunt-die-2.png
  data/core/images/units/orcs/grunt-die-3.png
  data/core/images/units/orcs/grunt-die-4.png
  data/core/images/units/orcs/grunt-die-5.png
  data/core/images/units/orcs/grunt-die-6.png
  data/core/images/units/orcs/grunt-die-7.png
  data/core/images/units/orcs/grunt-die-8.png
  data/core/images/units/orcs/grunt-die-sword.png
  data/core/images/units/orcs/grunt-ne-die-1.png
  data/core/images/units/orcs/grunt-ne-die-2.png
  data/core/images/units/orcs/grunt-ne-die-3.png
  data/core/images/units/orcs/grunt-ne-die-4.png
  data/core/images/units/orcs/grunt-ne-die-5.png
  data/core/images/units/orcs/grunt-ne-die-6.png
  data/core/images/units/orcs/grunt-ne-die-7.png
  data/core/images/units/orcs/grunt-ne-die-8.png
  data/core/images/units/orcs/grunt-ne-die-sword.png
  data/core/units/orcs/Grunt.cfg
Labels: Graphics, Units

#5486 wmllint: remove commented out code
  data/tools/wmllint
Labels: WML Tools

#5504 Move [color_range] id=darkblue to core
  data/campaigns/Descent_Into_Darkness/utils/team-colors.cfg
  data/core/team-colors.cfg
Labels: Campaign
