Repository wesnoth/wesnoth, pull requests merged in 2021-04, with the labels that each got.

#5645 [1.14] Make WFL's error-reporting machinery thread_local
  changelog.md
  src/formula/function.cpp
  src/formula/function.hpp
Labels: Bug, WFL

#5646 [1.15] Make WFL's error-reporting machinery thread_local
  changelog.md
  src/formula/function.cpp
  src/formula/function.hpp
Labels: Bug, WFL

#5655 Fix a typo
  data/core/units/dunefolk/Alchemist.cfg
Labels: Units

#5654 Fix a typo in data/core/units/undead/Corpse_Necrophage.cfg
  data/core/units/undead/Corpse_Necrophage.cfg
Labels: Units

#5658 Dark Forecast Lua file comment Typo fix
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

#5656 Fix for weather change cheat in dark forecast
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
Labels: MP

#5613 various small fixes
  data/core/images/portraits/undead/zombie-beastrider.png
  data/core/units/monsters/Scarab.cfg
Labels: Graphics, Units

#5589 scorpion variations
  data/core/images/portraits/monsters/scorpion-rock.png
  data/core/images/portraits/monsters/scuttler.png
  data/core/images/portraits/undead/zombie-scorpion.png
  data/core/images/units/monsters/scorpion/rock-scorpion-defend1.png
  data/core/images/units/monsters/scorpion/rock-scorpion-defend2.png
  data/core/images/units/monsters/scorpion/rock-scorpion.png
  data/core/images/units/undead/soulless-scorpion-attack-n.png
  data/core/images/units/undead/soulless-scorpion-attack-s.png
  data/core/images/units/undead/soulless-scorpion-attack.png
  data/core/images/units/undead/soulless-scorpion-defend.png
  data/core/images/units/undead/soulless-scorpion-die-1.png
  data/core/images/units/undead/soulless-scorpion-die-2.png
  data/core/images/units/undead/soulless-scorpion-die-3.png
  data/core/images/units/undead/soulless-scorpion-die-4.png
  data/core/images/units/undead/soulless-scorpion.png
  data/core/images/units/undead/zombie-scorpion-attack-n.png
  data/core/images/units/undead/zombie-scorpion-attack-s.png
  data/core/images/units/undead/zombie-scorpion-attack.png
  data/core/images/units/undead/zombie-scorpion-defend.png
  data/core/images/units/undead/zombie-scorpion-die-1.png
  data/core/images/units/undead/zombie-scorpion-die-2.png
  data/core/images/units/undead/zombie-scorpion-die-3.png
  data/core/images/units/undead/zombie-scorpion-die-4.png
  data/core/images/units/undead/zombie-scorpion.png
  data/core/units/monsters/Giant_Scorpion.cfg
  data/core/units/monsters/Giant_Scorpling.cfg
  data/core/units/monsters/Rock_Scorpion.cfg
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, Units

#5662 remove reference to tusker, replace with boar or piglet
  data/core/images/portraits/monsters/woodland_boar.png
  data/core/images/portraits/undead/zombie-boar.png
  data/core/images/units/monsters/boar/piglet-attack.png
  data/core/images/units/monsters/boar/piglet-defend.png
  data/core/images/units/monsters/boar/piglet-moving.png
  data/core/images/units/monsters/boar/piglet-water.png
  data/core/images/units/monsters/boar/piglet.png
  data/core/images/units/monsters/boar/woodland-attack.png
  data/core/images/units/monsters/boar/woodland-charge-2.png
  data/core/images/units/monsters/boar/woodland-charge.png
  data/core/images/units/monsters/boar/woodland-defend.png
  data/core/images/units/monsters/boar/woodland-moving.png
  data/core/images/units/monsters/boar/woodland-water.png
  data/core/images/units/monsters/boar/woodland.png
  data/core/images/units/undead/soulless-boar-attack-n.png
  data/core/images/units/undead/soulless-boar-attack-s.png
  data/core/images/units/undead/soulless-boar-attack.png
  data/core/images/units/undead/soulless-boar-defend.png
  data/core/images/units/undead/soulless-boar-die-1.png
  data/core/images/units/undead/soulless-boar-die-2.png
  data/core/images/units/undead/soulless-boar-die-3.png
  data/core/images/units/undead/soulless-boar-die-4.png
  data/core/images/units/undead/soulless-boar.png
  data/core/images/units/undead/zombie-boar-attack-n.png
  data/core/images/units/undead/zombie-boar-attack-s.png
  data/core/images/units/undead/zombie-boar-attack.png
  data/core/images/units/undead/zombie-boar-defend.png
  data/core/images/units/undead/zombie-boar-die-1.png
  data/core/images/units/undead/zombie-boar-die-2.png
  data/core/images/units/undead/zombie-boar-die-3.png
  data/core/images/units/undead/zombie-boar-die-4.png
  data/core/images/units/undead/zombie-boar.png
  data/core/units/monsters/Boar.cfg
  data/core/units/monsters/Boar_Piglet.cfg
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, Units

#5624 Add a prompt to allow entering an add-on's password at upload time.
  data/gui/window/addon_auth.cfg
  projectfiles/VC16/wesnoth.vcxproj
  projectfiles/VC16/wesnoth.vcxproj.filters
  source_lists/wesnoth
  src/addon/client.cpp
  src/gui/dialogs/addon/addon_auth.cpp
  src/gui/dialogs/addon/addon_auth.hpp
  src/gui/dialogs/addon/manager.cpp
  src/tests/gui/test_gui2.cpp
Labels: Add-ons, Building, UI

#5644 pango_text: remove unused force options and single-character insertion
  src/font/text.cpp
  src/font/text.hpp
Labels: UI

#5666 Update the animals Micro-AI demo with boars and piglets
  data/ai/micro_ais/scenarios/animals.cfg
Labels: AI

#5667 remove hard cut on convex walls of human castle ruins
  data/core/images/terrain/castle/ruin-convex-bl.png
  data/core/images/terrain/castle/ruin-convex-br.png
  data/core/images/terrain/castle/ruin-convex-tl.png
  data/core/images/terrain/castle/ruin-convex-tr.png
  data/core/images/terrain/castle/ruin2-convex-bl.png
  data/core/images/terrain/castle/ruin2-convex-br.png
  data/core/images/terrain/castle/ruin2-convex-tl.png
  data/core/images/terrain/castle/ruin2-convex-tr.png
  data/core/images/terrain/castle/ruin3-convex-bl.png
  data/core/images/terrain/castle/ruin3-convex-br.png
  data/core/images/terrain/castle/ruin3-convex-tl.png
  data/core/images/terrain/castle/ruin3-convex-tr.png
  data/core/images/terrain/castle/ruin4-convex-bl.png
  data/core/images/terrain/castle/ruin4-convex-br.png
  data/core/images/terrain/castle/ruin4-convex-tl.png
  data/core/images/terrain/castle/ruin4-convex-tr.png
  data/core/images/terrain/castle/ruin5-convex-bl.png
  data/core/images/terrain/castle/ruin5-convex-br.png
  data/core/images/terrain/castle/ruin5-convex-tl.png
  data/core/images/terrain/castle/ruin5-convex-tr.png
Labels: Graphics, Terrain

#5673 [MP] 2p - Dark Forecast scenario is now winnable in 2-player mode.
  data/multiplayer/scenarios/2p_Dark_Forecast.cfg
Labels: MP

#5672 Make the debug clock look right
  changelog.md
  data/gui/window/debug_clock.cfg
Labels: UI

#5677 Fix for Giant Scorpion having an empty variation name.
  data/core/units/monsters/Giant_Scorpion.cfg
Labels: Units

#5683 update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#5695 Fixup 7cbc6c9d5d and 5bb0576e17
  data/test/scenarios/event_handlers_in_events.cfg
  data/test/scenarios/events-test_autovariables.cfg
  data/test/scenarios/events-test_filters.cfg
Labels: Unit Tests

#5697 Simplify canvas: renderer lifetime and only one list of shapes
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
Labels: UI

#5603 Edit "The Rise of Wesnoth" difficulty
  data/campaigns/The_Rise_Of_Wesnoth/maps/22_The_Rise_of_Wesnoth.map
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/08_Clearwater_Port.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/14_Rough_Landing.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/17a_The_Dragon.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/17b_Lizard_Beach.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/17c_Troll_Hole.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/17d_Cursed_Isle.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/20_Return_of_the_Fleet.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/22_The_Rise_of_Wesnoth.cfg
Labels: Campaign

#5711 Fix the indentation in test_lua_wml
  data/test/scenarios/test_lua_wml.cfg
Labels: Unit Tests

#5690 Use the database to store and retrieve login history for the searchlog command.
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/player.cpp
  src/server/wesnothd/player.hpp
  src/server/wesnothd/server.cpp
  utils/mp-server/table_definitions.sql
Labels: Add-ons, MP, Services

#5714 macOs/cmake build fix proposal.
  src/CMakeLists.txt
  src/desktop/version.cpp
Labels: Building, CMake

#5671 Various fauna-related things
  data/core/images/attacks/scarab-horn.png
  data/core/images/attacks/tusk.png
  data/core/images/portraits/monsters/piglet.png
  data/core/images/units/monsters/boar/piglet-attack1.png
  data/core/images/units/monsters/boar/piglet-attack2.png
  data/core/images/units/monsters/boar/piglet-defend.png
  data/core/images/units/monsters/boar/piglet-defend2.png
  data/core/images/units/monsters/boar/piglet-moving.png
  data/core/images/units/monsters/boar/piglet-moving1.png
  data/core/images/units/monsters/boar/piglet-moving2.png
  data/core/images/units/monsters/boar/piglet-water.png
  data/core/images/units/monsters/boar/piglet.png
  data/core/images/units/monsters/boar/woodland-attack.png
  data/core/images/units/monsters/boar/woodland-bite1.png
  data/core/images/units/monsters/boar/woodland-bite2.png
  data/core/images/units/monsters/boar/woodland-bite3.png
  data/core/images/units/monsters/boar/woodland-bite4.png
  data/core/images/units/monsters/boar/woodland-bite5.png
  data/core/images/units/monsters/boar/woodland-bite6.png
  data/core/images/units/monsters/boar/woodland-bite7.png
  data/core/images/units/monsters/boar/woodland-charge-2.png
  data/core/images/units/monsters/boar/woodland-charge.png
  data/core/images/units/monsters/boar/woodland-charge1.png
  data/core/images/units/monsters/boar/woodland-charge2.png
  data/core/images/units/monsters/boar/woodland-charge3.png
  data/core/images/units/monsters/boar/woodland-charge4.png
  data/core/images/units/monsters/boar/woodland-charge5.png
  data/core/images/units/monsters/boar/woodland-defend.png
  data/core/images/units/monsters/boar/woodland-defend2.png
  data/core/images/units/monsters/boar/woodland-dust1.png
  data/core/images/units/monsters/boar/woodland-dust2.png
  data/core/images/units/monsters/boar/woodland-dust3.png
  data/core/images/units/monsters/boar/woodland-dust4.png
  data/core/images/units/monsters/boar/woodland-dust5.png
  data/core/images/units/monsters/boar/woodland-moving.png
  data/core/images/units/monsters/boar/woodland-water.png
  data/core/images/units/monsters/boar/woodland.png
  data/core/images/units/monsters/scarab/scarab-horn-1.png
  data/core/images/units/monsters/scarab/scarab-horn-2.png
  data/core/images/units/monsters/scorpion/rock-scorpion-pincer-1.png
  data/core/images/units/monsters/scorpion/rock-scorpion-pincer-2.png
  data/core/images/units/monsters/scorpion/rock-scorpion-pincer-3.png
  data/core/images/units/monsters/scorpion/rock-scorpion-pincer-4.png
  data/core/images/units/monsters/scorpion/rock-scorpion-pincer-5.png
  data/core/images/units/monsters/scorpion/rock-scorpion-pincer-6.png
  data/core/images/units/monsters/scorpion/rock-scorpion-pincer-7.png
  data/core/images/units/monsters/scorpion/rock-scorpion-pincer-8.png
  data/core/units/monsters/Boar.cfg
  data/core/units/monsters/Boar_Piglet.cfg
  data/core/units/monsters/Rock_Scorpion.cfg
  data/core/units/monsters/Scarab.cfg
Labels: Graphics, Units

#5715 run_wml_tests: Print the correct test name when a test fails
  run_wml_tests
Labels: Building, Unit Tests

#5725 fix text don't readable because duration not specified
  data/campaigns/Heir_To_The_Throne/scenarios/23_Test_of_the_Clans.cfg
Labels: Campaign

#5717 Fix save_index issues
  src/save_index.cpp
  src/save_index.hpp
  src/savegame.cpp
Labels: Bug, Engine

#5727 [World Conquest] multiple deprecated code fixes
  data/campaigns/World_Conquest/changelog.txt
  data/campaigns/World_Conquest/era/campaign/heroes.cfg
  data/campaigns/World_Conquest/era/era.cfg
  data/campaigns/World_Conquest/era/factions/Random.cfg
  data/campaigns/World_Conquest/era/factions/The_Empire.cfg
  data/campaigns/World_Conquest/lua/campaign/enemy_data.lua
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
  data/campaigns/World_Conquest/lua/game_mechanics/effects.lua
  data/campaigns/World_Conquest/lua/game_mechanics/training.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/1A_Start.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2A_Springs.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2B_Lakes.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2C_Glaciers.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2D_Provinces.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/2E_Paradise.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3C_Delta.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/3F_Wetland.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4B_Volcanic.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4C_Mines.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/4F_Wild.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6A_Rural.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6B_Maritime.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6C_Industrial.lua
  data/campaigns/World_Conquest/lua/map/postgeneration/6D_Feudal.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/engine.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/events.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/noise.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/utilities.lua
  data/campaigns/World_Conquest/lua/map/postgeneration_utils/wild_zones.lua
  data/campaigns/World_Conquest/lua/map/scenario_utils/bonus_points.lua
  data/campaigns/World_Conquest/lua/map/tools/filter_converter.lua
Labels: Campaign

#5728 Add version to connection_history.
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
  utils/mp-server/table_definitions.sql
Labels: Add-ons, MP, Services

#5720 UtBS: Use $amount instead of %d in the teaching ability
  data/campaigns/Under_the_Burning_Suns/utils/garak-abilities.cfg
Labels: Campaign, Translations

#5708 Add a Lua unit_test module only available in [test] scenarios
  data/lua/core/unit_test.lua
  data/test/scenarios/as_text.cfg
  data/test/scenarios/test_assert.cfg
  data/test/scenarios/test_dofile.cfg
  data/test/scenarios/test_lua.cfg
  data/test/scenarios/test_lua_wml_tagnames.cfg
  data/test/scenarios/test_menu_items.cfg
  data/test/scenarios/test_require.cfg
  data/test/scenarios/test_return.cfg
  src/scripting/game_lua_kernel.cpp
  wml_test_schedule
Labels: Lua API, Unit Tests

#5742 Keep the Windows CIs on a version of vcpkg that builds Wesnoth
  .github/workflows/ci-main.yml
Labels: Building

#5745 remove SDL2_ttf.a to codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#5723 Multiplayer turns over dialog: stop using %d and %s in translatable strings
  data/multiplayer/eras.lua
Labels: Low Priority, MP, Translations

#5744 Add wesnoth.colors[name].pango_color and use it in the multiplayer turns-over dialog
  changelog.md
  data/multiplayer/eras.lua
  data/test/scenarios/test_lua_color.cfg
  src/scripting/lua_color.cpp
  wml_test_schedule
Labels: Lua API, MP, Unit Tests

#5681 Only render the visible area in canvas.cpp
  changelog.md
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
  src/gui/core/canvas_private.hpp
Labels: UI
