Repository wesnoth/wesnoth, pull requests merged in 2021-11, with the labels that each got.

#6248 Add translation hints for time format strings
  src/format_time_summary.cpp
  src/gui/dialogs/addon/manager.cpp
  src/save_index.cpp
Labels: Translations, UI, Add-ons

#6208 SoF Add Rune Chest Objective Notes
  data/campaigns/Sceptre_of_Fire/scenarios/1_A_Bargain_is_Struck.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign

#6182 SoF S4 Make mining gold and coal clearer
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
Labels: Campaign, Units, Prose

#6192 TRoW S19 Chest is automatically collected at the end of the scenario
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
Labels: Campaign

#6207 Add Objective Note for Thursagan's Rune Mechanic
  data/campaigns/Sceptre_of_Fire/scenarios/4_Gathering_Materials.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/utils/utils.cfg
Labels: Campaign

#6200 UtBS S06b hermit enhancement and tentacle fix.
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

#6223 Remove the fast path of [modify_unit]
  data/lua/wml/modify_unit.lua
  data/test/scenarios/test_modify_unit.cfg
  wml_test_schedule
Labels: Unit Tests, Lua API

#6260 Re-add html character escaping.
  src/server/common/server_base.cpp
Labels: MP, Add-ons

#6236 Make wmltools Forest avoid version control subdirectories
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

#5987 Resolve title-screen vs main menu inconsistency
  data/gui/window/preferences/02_hotkeys.cfg
  src/gui/dialogs/preferences_dialog.cpp
Labels: UI

#6073 Rename kick attack for horses and wyverns
  data/core/units/monsters/Horse.cfg
  data/core/units/monsters/Horse_Black.cfg
  data/core/units/monsters/Horse_Great.cfg
  data/core/units/monsters/Wild_Wyvern.cfg
Labels: Units

#6189 DM S07 Fix for player having to pass turn in order to meet alternative win condition (#6173)
  data/campaigns/Delfadors_Memoirs/scenarios/07_Night_in_the_Swamp.cfg
  data/campaigns/Delfadors_Memoirs/utils/generators.cfg
Labels: Campaign

#6198 UtBS S06b Fix Dwarf Sergeant confusing a dust devil or human for a troll
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

#6251 Check for potential duplicates before inserting.
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
Labels: MP, Add-ons

#6282 Show the id in the "[race] '' is missing a plural_name" warning
  src/units/race.cpp
Labels: Units

#6290 Fix multi-account password saving
  src/preferences/credentials.cpp
Labels: Backport

#6293 Check whether to display lobby joins in the game creation screen.
  src/gui/widgets/chatbox.cpp
Labels: Backport, MP Lobby

#6279 HttT S05b - Added cracked temples
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
  data/core/images/scenery/temple-cracked1.png
  data/core/images/scenery/temple-cracked2.png
  data/core/images/scenery/temple-cracked3.png
Labels: Backport, Campaign, Graphics

#6300 Refactor the boarding events for TRoW S8 Clearwater Port
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/08_Clearwater_Port.cfg
Labels: Backport, Campaign

#6306 Attempt to trim down the CI after getting caught in github's automate…
  .github/workflows/ci-main.yml
Labels: CI

#6309 UtBS: Use a lower-case letter for "taurochs"
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Protector.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Stalwart.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Vanguard.cfg
Labels: Backport, Campaign, Units, Prose

#6314 UtBS: Use a lower-case letter for "taurochs"
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Protector.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Stalwart.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Vanguard.cfg
Labels: Campaign, Units, Prose

#6316 Replace std::regex by boost to temporary workaround for Mingw-w64's bug
  src/editor/palette/location_palette.cpp
  src/utils/parse_network_address.cpp
Labels: Backport, Network, Editor

#6313 Capitalise references to the Academy of Magic on Isle of Alduin
  data/campaigns/Secrets_of_the_Ancients/scenarios/02_Dark_Business.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/07_Meeting_of_the_Minds.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/11_Battleground.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/13_Together_Again.cfg
Labels: Backport, Campaign, Prose

#6304 ui: Fix 800x600 theme's sidebar tooltips
  data/themes/default.cfg
Labels: Bug, UI, Fwdport

#6331 ui: Fix 800x600 theme's sidebar tooltips
  data/themes/default.cfg
Labels: Bug, UI

#6328 CMake: update the .po files before generating stats about them
  po/CMakeLists.txt
Labels: Backport, Translations, Building, CMake

#6321 CMake: run xgettext on the .cpp file with GETTEXT_DOMAIN "wesnoth"
  cmake/update_pot_source_dependencies.cmake
Labels: Backport, Translations, Building, CMake

#6336 Ardonna should only call her own bats 'my pet'
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
Labels: Backport, Campaign
