Repository wesnoth/wesnoth, pull requests merged in 2021-12, with the labels that each got.

#6343 UtBS S02 Ogre now dissappears before Nym starts moving or talking
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Backport, Campaign

#6322 wmlxgettext: sort-by-filename before processing files
  data/tools/wmlxgettext
Labels: Backport, Translations, WML Tools, Building

#6318 Remove apply_to = opponent from the opponent's attack prediction window(master)
  src/units/abilities.cpp
Labels: Units

#6345 UtBS S4: Restrict who remarks about the dark underground tunnels
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Backport, Campaign

#6347 UtBS Changed and documented the change of XP bar color to blue
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Backport, Campaign, Units

#6326 remove Utbs 'formation' name of attack prediction windows
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Campaign

#6210 UtBS S06b Grog spawn overhaul
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Campaign

#6302 UtBS Hide Dark Assassin's race until uncloacked
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin2.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin3.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin_Cloaked.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Dark_Assassin_Uncloaked.cfg
  data/campaigns/Under_the_Burning_Suns/units/other/Uncloaked.cfg
  data/campaigns/Under_the_Burning_Suns/units/units.cfg
Labels: Backport, Campaign, Units

#6297 Eastern Invasion and Liberty Bone Knight attack image
  data/campaigns/Eastern_Invasion/units/Bone_Knight.cfg
  data/campaigns/Liberty/units/Bone_Knight.cfg
  data/core/images/attacks/hoof-skeletal.png
Labels: Backport, Campaign, Graphics, Units

#6337 Expand the reduce function to both fold and reduce
  .luacheckrc
  data/lua/functional.lua
  data/test/scenarios/lua_functional.cfg
  wml_test_schedule
Labels: Unit Tests, Lua API

#6356 Prompt moderators to observe game with observers disabled.
  src/gui/dialogs/multiplayer/lobby.cpp
Labels: Backport, UI

#6357 TRoW S19 Fix for the flying chocobones issue
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/19_The_Vanguard.cfg
Labels: Backport, Campaign

#6344 UtBS S02 Added a ring icon for the immune unit
  data/campaigns/Under_the_Burning_Suns/images/misc/silver-ring-icon.png
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
Labels: Backport, Campaign, Graphics

#6354 UtBS S8: Ensure humans are removed from display during their 'die' event
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Backport, Campaign

#6360 Add a specific prompt for a moderator joining a password protected game.
  src/gui/dialogs/multiplayer/lobby.cpp
Labels: MP Lobby, UI

#6361 UtBS S8: Avoid counting encounters with the 'Cloaked Figure'
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Backport, Campaign, Prose

#6362 UtBS S9: Avoid 'punishing' the player for saving the rebels
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Backport, Campaign

#6359 fix Did advancement
  data/campaigns/Descent_Into_Darkness/_main.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/utils/characters.cfg
Labels: Campaign, Units

#6358 fix advancement for Darken Volk
  data/campaigns/Descent_Into_Darkness/_main.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/utils/characters.cfg
Labels: Campaign, Units

#6371 UtBS S9: Turn rebels into loyal units
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
Labels: Backport, Campaign

#6363 Remove the nonfunctional "title screen tutorial" hotkey
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
Labels: Backport, UI

#6368 UtBS S06b Fixed weird scout AI behaviour
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Backport, Campaign

#6369 UtBS S06b Look at the blown charges and make sure no units get stuck
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
Labels: Backport, Campaign

#6370 [1.17] [Core] Add Generalized Advancement Enabling and Disabling macros
  data/core/macros/optional_unit_advancements.cfg
Labels: WML

#6374 Remove the nonfunctional "title screen tutorial" hotkey and binding
  data/core/hotkeys.cfg
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
Labels: UI, Input

#6325 fix 'add' and 'sub' not added in leadership shema validation(1.16)
  data/schema/units/abilities.cfg
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
  wml_test_schedule
Labels: Unit Tests, Schema

#6375 Print which campaign is causing the extra_defines warning
  src/game_config_manager.cpp
Labels: WML, Fwdport, Engine

#6339 1.16 - some attack icon work
  data/core/images/attacks/blank-border.png
  data/core/images/attacks/blowgun.png
  data/core/images/attacks/claws-shadow.png
  data/core/images/attacks/fangs-angler.png
  data/core/images/attacks/foot-bare.png
  data/core/images/attacks/foot-boot.png
  data/core/images/attacks/foot-shoe.png
  data/core/images/attacks/mace-spiked.png
  data/core/images/attacks/mace-spiked2.png
  data/core/images/attacks/mud-missile.png
  data/core/images/attacks/spear-simple.png
  data/core/images/attacks/spear-thrown.png
  data/core/images/attacks/tail-monax.png
  data/core/images/attacks/trident2-blade.png
  data/core/images/attacks/trident2-pierce.png
  data/core/images/attacks/tusk.png
  data/core/units/merfolk/Triton.cfg
  data/core/units/monsters/Giant_Mudcrawler.cfg
  data/core/units/monsters/Icemonax_Greater.cfg
  data/core/units/monsters/Mudcrawler.cfg
  data/core/units/saurians/Ambusher.cfg
  data/core/units/saurians/Flanker.cfg
  data/core/units/saurians/Skirmisher.cfg
  data/core/units/undead/Spirit_Nightgaunt.cfg
  data/core/units/undead/Spirit_Shadow.cfg
Labels: Graphics, Units, Fwdport

#6378 Print which campaign is causing the extra_defines warning
  src/game_config_manager.cpp
Labels: WML, Engine

#6382 1.16 - some terrain graphics fixes
  data/core/images/terrain/walls/flames/sconce/base-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/flames.png
  data/core/images/terrain/walls/flames/sconce/glow1-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/glow2-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/glow3-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask2-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/mask3-convex-bl.png
  data/core/images/terrain/walls/flames/sconce/wall-post-convex-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Fwdport, Terrain

#6390 Get the scenario_id from the addon content list sent by the server if it's not otherwise available.
  src/game_config_manager.cpp
  src/game_config_manager.hpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/server/wesnothd/server.cpp
Labels: MP, UI

#6387 editor: Add "Map Screenshot" item to menu
  data/themes/editor.cfg
Labels: UI

#6398 Improve comments for translators around VNGETTEXT
  src/actions/move.cpp
  src/gui/widgets/multimenu_button.cpp
Labels: Backport, Translations, UI

#6402 NR S05a_01 Spelling correction for "our retreat is cut off"
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Backport, Campaign, Prose

#6406 Support macOS 10.8-10.11 SDKs
  src/macosx/SDLMain.mm
Labels: macOS

#6401 fix weapon abilities showed in void attack in attack dialog window
  src/gui/dialogs/unit_attack.cpp
Labels: UI
