Repository wesnoth/wesnoth, pull requests merged in 2021-02, with the labels that each got.

#5481 wmllint: remove check for nonstandard word-wrap style
  data/tools/wmllint
Labels: WML Tools

#5493 wmllint: cleanup two useless lines
  data/tools/wmllint
Labels: WML Tools

#5435 wmllint: Ignore location_id when checking for shroud and fog
  data/tools/wmllint
Labels: WML Tools

#5510 Cleanup wmllint: display on/off
  data/campaigns/Descent_Into_Darkness/scenarios/07b_A_Small_Favor2.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07c_A_Small_Favor3.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/09_Descent_into_Darkness.cfg
  data/campaigns/Eastern_Invasion/scenarios/17a_The_Duel.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/07_Crossroads.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/19c_Cliffs_of_Thoria.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/03_A_Harrowing_Escape.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/04a_The_Swamp_of_Esten.cfg
  data/core/help.cfg
  data/core/macros/ai_controller.cfg
  data/multiplayer/scenarios/2p_Dark_Forecast.cfg
  data/multiplayer/scenarios/ANL_utils/ANL_leader_options.cfg
  data/multiplayer/scenarios/ANL_utils/ANL_research_options.cfg
Labels: Campaign, Help, MP

#5488 wc: markcheck off due to campaign-specific attrs
  data/campaigns/World_Conquest/resources/data/training.cfg
Labels: Campaign

#5512 fix codeblock projectfiles and update instructions
  projectfiles/CodeBlocks/README.md
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/libraries.md
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

#5513 change User to Custom to unify the help with the game
  data/core/editor/help.cfg
Labels: Editor

#5497 Legend of Wesmere: update Cliffs of Thoria difficulty
  data/campaigns/Legend_of_Wesmere/scenarios/chapter3/10_Cliffs_of_Thoria.cfg
Labels: Campaign

#5527 Editor help: make the named areas topic visible, make "to load ..." translatable
  data/core/editor/help.cfg
Labels: Bug, Docs

#5502 NR S13: make all player sides have turns in sequence
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Campaign

#5525 Fix several typos in wml
  data/campaigns/Dead_Water/scenarios/06_Uncharted_Islands.cfg
  data/campaigns/Dead_Water/units/Young_King.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/19_Showdown_in_the_Northern_Swamp.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/10_Endless_Night.cfg
  data/campaigns/Liberty/scenarios/02_Civil_Disobedience.cfg
  data/campaigns/Liberty/scenarios/08_Epilogue.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3_Searching_for_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/7_Outriding_the_Outriders.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/01_Slipping_Away.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/11_Battleground.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/06_Forbidden_Forest.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/07_Return_to_Oldwood.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/20_Return_of_the_Fleet.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/core/encyclopedia/calendar.cfg
  data/core/units.cfg
  data/core/units/humans/Loyalist_Royal_Guard.cfg
  data/core/units/monsters/Cuttle_Fish.cfg
  data/core/units/orcs/Slayer.cfg
  data/core/units/undead/Skele_Bone_Shooter.cfg
Labels: Campaign, Prose, Units

#5470 wmllint: Stop looking for wml tags inside [lua]
  data/tools/wmllint
Labels: WML Tools

#5500 CMake: avoid unnecessarily remaking all .mo files on each build
  po/CMakeLists.txt
Labels: Building, CMake, Translations

#5521 Fixed unstore_unit lua code (issue #5519)
  data/lua/wml-tags.lua
Labels: Lua API

#5523 Show a two-color orb for the "disengaged" state (#5155)
  changelog.md
  data/campaigns/The_South_Guard/scenarios/05_Choice_In_The_Fog.cfg
  data/core/help.cfg
  data/core/images/help/orb-disengaged.png
  data/game_config.cfg
  data/gui/window/select_orb_colors.cfg
  data/schema/core/config.cfg
  doc/manual/images/orb-disengaged.png
  doc/manual/manual.txt
  images/misc/orb-two-color.png
  src/display_context.cpp
  src/display_context.hpp
  src/game_config.cpp
  src/game_config.hpp
  src/gui/dialogs/select_orb_colors.cpp
  src/gui/dialogs/select_orb_colors.hpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/units/drawer.cpp
  src/units/orb_status.cpp
  src/units/orb_status.hpp
Labels: Campaign, Docs, Graphics, Help, Ready for testing, Schema, UI, Units

#5522 various small sprite-related fixes
  data/core/macros/animation-utils.cfg
  data/core/units/dunefolk/Cataphract.cfg
  data/core/units/dunefolk/Horse_Archer.cfg
  data/core/units/dunefolk/Marauder.cfg
  data/core/units/dunefolk/Raider.cfg
  data/core/units/dunefolk/Rider.cfg
  data/core/units/dunefolk/Sunderer.cfg
  data/core/units/dunefolk/Windbolt.cfg
Labels: Units

#5547 UtBS - new terrain-graphics rules for flood water
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/utils/terrain.cfg
  data/campaigns/Under_the_Burning_Suns/utils/terrain_graphics.cfg
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Campaign, Graphics, Terrain

#5548 Take display zoom into account when rendering unit animation frames
  changelog.md
  src/units/frame.cpp
Labels: Graphics, Units

#5549 UtBS Sc8 - replace Iwr terrain with Ior
  data/campaigns/Under_the_Burning_Suns/maps/08_Out_of_the_Frying_Pan.map
  data/campaigns/Under_the_Burning_Suns/utils/terrain_graphics.cfg
Labels: Campaign, Graphics, Stable 1.14

#5536 Use to-be-closed variables to scope WML variables in tag definitions
  data/lua/wml-flow.lua
  data/lua/wml-utils.lua
  data/lua/wml/find_path.lua
  data/lua/wml/harm_unit.lua
  data/lua/wml/modify_unit.lua
  data/lua/wml/random_placement.lua
  data/test/scenarios/test_scoped_vars.cfg
  wml_test_schedule
Labels: Lua API, Unit Tests

#5556 upgrades codeblock to Lua 5.4.2
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/liblua.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

#5550 Campaignd: cleaned up error reporting slightly
  src/server/campaignd/server.cpp
Labels: Add-ons

#5538 Command history for in-game consoles
  src/floating_textbox.cpp
  src/floating_textbox.hpp
  src/play_controller.cpp
  src/play_controller.hpp
Labels: UI

#5557 move_leader_to_keep CA: prevent error message
  src/ai/default/ca.cpp
Labels: AI

#5379 Fix segfaults and a few other issues in wesnoth.find_path
  data/ai/lua/ai_helper.lua
  data/ai/lua/ca_castle_switch.lua
  data/ai/lua/generic_recruit_engine.lua
  data/ai/micro_ais/cas/ca_fast_combat.lua
  data/ai/micro_ais/cas/ca_fast_combat_leader.lua
  data/campaigns/Heir_To_The_Throne/scenarios/17_Scepter_of_Fire.cfg
  data/lua/wml-tags.lua
  data/lua/wml/find_path.lua
  src/scripting/game_lua_kernel.cpp
Labels: AI, Campaign, Lua API

#5531 Make the preferences window big enough for HDPI fonts
  changelog.md
  data/gui/window/preferences.cfg
  data/gui/window/preferences/01_general.cfg
  data/gui/window/preferences/03_display.cfg
  data/gui/window/preferences/05_multiplayer.cfg
Labels: Bug, UI

#5565 hotkey: Streamline some menu action labels
  src/hotkey/hotkey_command.cpp
Labels: UI

#5566 Fixup WC2 validation (combination of 41b2b0b with e47b759)
  data/campaigns/World_Conquest/_main.cfg
  utils/CI/schema_validation.sh
Labels: Building, Campaign, Schema

#5524 Edit Scepter of Fire difficulty
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
Labels: Campaign

#5563 Improve the Load dialog's UX when there are no save files or corrupted files
  changelog.md
  src/gui/dialogs/game_load.cpp
  src/gui/dialogs/game_load.hpp
Labels: UI
