Repository wesnoth/wesnoth, pull requests merged in 2021-10, with the labels that each got.

#6136 Sota proofread
  data/campaigns/Secrets_of_the_Ancients/scenarios/10_Merfolk_Revenge.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/11_Battleground.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/13_Together_Again.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/14_Entering_the_Northlands.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/15_Mountain_Pass.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/18_Abandoned_Outpost.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/19_Lava_and_Stone.cfg
Labels: Campaign, Prose

#6152 Reference SotA in SoF, closes #6151
  data/campaigns/Sceptre_of_Fire/scenarios/2t_In_the_Dwarven_City.cfg
Labels: Campaign, Prose

#6111 extent addition of the names of the abilities used as weapons in the attack dialog window to apply_to=opponent(1.16)
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  src/units/abilities.cpp
Labels: Campaign, UI, Units

#6239 [WC] [1.17] Three New factions to complete WC era.
  data/campaigns/World_Conquest/era/era.cfg
  data/campaigns/World_Conquest/era/factions/The_Artisans.cfg
  data/campaigns/World_Conquest/era/factions/The_Defiance.cfg
  data/campaigns/World_Conquest/era/factions/The_Empire.cfg
  data/campaigns/World_Conquest/era/factions/The_Marauders.cfg
Labels: Enhancement, Campaign, MP
