Repository wesnoth/wesnoth, pull requests merged in 2021-07, with the labels that each got.

#5924 Say what the error is when a broken .po file stops Wesnoth starting
  src/gettext.cpp
Labels: Bug

#5925 [1.16] Say what the error is when a broken .po file stops Wesnoth starting
  src/gettext.cpp
Labels: Bug

#5927 Add a unit test for wesnoth.current.synced_state
  data/test/scenarios/test_synced_state.cfg
  wml_test_schedule
Labels: Lua API, Unit Tests

#5935 Make failure loading textdomains non-fatal
  src/gettext.cpp
Labels: Bug, Translations

#5936 [1.16] Add a unit test for wesnoth.current.synced_state
  data/test/scenarios/test_synced_state.cfg
  wml_test_schedule
Labels: Unit Tests

#5937 [1.16] Make failure loading textdomains non-fatal
  src/gettext.cpp
Labels: Bug, Translations

#5915 Remove the 10ms delay before closing a window
  src/gui/widgets/window.cpp
Labels: UI

#5943 Fix custom synced commands not changing the AI game state
  src/game_events/action_wml.cpp
Labels: AI, Backport

#5916 1.16 animation update
  data/core/images/units/monsters/firewraith/firewraith-defend1.png
  data/core/images/units/monsters/firewraith/firewraith-defend2.png
  data/core/images/units/monsters/firewraith/firewraith-halo.png
  data/core/images/units/monsters/firewraith/firewraith.png
  data/core/images/units/monsters/scarab/scarab-bite-1.png
  data/core/images/units/monsters/scarab/scarab-bite-2.png
  data/core/images/units/monsters/scarab/scarab-bite-3.png
  data/core/images/units/monsters/scarab/scarab-bite-4.png
  data/core/images/units/monsters/scarab/scarab-defend1.png
  data/core/images/units/monsters/scarab/scarab-defend2.png
  data/core/images/units/monsters/scarab/scarab-horn-1.png
  data/core/images/units/monsters/scarab/scarab-horn-2.png
  data/core/images/units/monsters/scarab/scarab-horn-3.png
  data/core/images/units/monsters/scarab/scarab.png
  data/core/units/monsters/Fire_Guardian.cfg
  data/core/units/monsters/Fire_Wraith.cfg
  data/core/units/monsters/Scarab.cfg
Labels: Graphics, Units

#5946 Update dune explorer image path, closes #5945
  data/tools/wmllint
Labels: WML Tools

#5921 Add a prompt to migrate data from previous versions of wesnoth.
  data/gui/window/migrate_version_selection.cfg
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/addon/client.cpp
  src/addon/manager_ui.cpp
  src/filesystem.cpp
  src/filesystem.hpp
  src/game_config.cpp
  src/game_config.hpp
  src/gui/dialogs/migrate_version_selection.cpp
  src/gui/dialogs/migrate_version_selection.hpp
  src/preferences/game.cpp
  src/preferences/game.hpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/wesconfig.h
  src/wesnoth.cpp
Labels: Add-ons, Building, UI, macOS

#5966 update codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#5967 update codeblock for 1.16
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#5964 1.16 - Troll defense animations
  data/core/images/units/trolls/grunt-defend.png
  data/core/images/units/trolls/grunt-defend2.png
  data/core/images/units/trolls/lobber-defend.png
  data/core/images/units/trolls/lobber-defend2.png
  data/core/images/units/trolls/shaman-ranged-2.png
  data/core/images/units/trolls/shaman-ranged-3.png
  data/core/images/units/trolls/shaman.png
  data/core/images/units/trolls/troll-hero-attack-ne-3.png
  data/core/images/units/trolls/troll-hero-attack-ne-4.png
  data/core/images/units/trolls/troll-hero-attack-ne-5.png
  data/core/images/units/trolls/troll-hero-attack-ne-6.png
  data/core/images/units/trolls/troll-hero-attack-s-4.png
  data/core/images/units/trolls/troll-hero-attack-s-5.png
  data/core/images/units/trolls/troll-hero-attack-s-6.png
  data/core/images/units/trolls/troll-hero-attack-se-2.png
  data/core/images/units/trolls/troll-hero-attack-se-4.png
  data/core/images/units/trolls/troll-hero-attack-se-5.png
  data/core/images/units/trolls/troll-hero-attack-se-6.png
  data/core/images/units/trolls/warrior-defend.png
  data/core/images/units/trolls/warrior-defend2.png
  data/core/images/units/trolls/whelp-attack-1.png
  data/core/images/units/trolls/whelp-idle-1.png
  data/core/images/units/trolls/whelp-idle-2.png
  data/core/images/units/trolls/whelp-ne-defend-2.png
  data/core/images/units/trolls/whelp-ne-defend-3.png
  data/core/images/units/trolls/whelp-ne-defend.png
  data/core/images/units/trolls/whelp-ne-idle-1.png
  data/core/images/units/trolls/whelp-ne-idle-2.png
  data/core/images/units/trolls/whelp-ne-idle-3.png
  data/core/images/units/trolls/whelp-ne-idle-4.png
  data/core/images/units/trolls/whelp-ne-idle-5.png
  data/core/images/units/trolls/whelp-ne-idle-6.png
  data/core/images/units/trolls/whelp-ne.png
  data/core/images/units/trolls/whelp.png
  data/core/units/trolls/Rocklobber.cfg
  data/core/units/trolls/Troll.cfg
  data/core/units/trolls/Warrior.cfg
Labels: Graphics, Units

#5968 [1.16] Tutorial S01: Don't let the first Quintain attack on turn 2
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Campaign

#5970 Tutorial S01: Don't let the first Quintain attack on turn 2
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Campaign, Fwdport

#5864 add the names of the abilities used as weapons in the attack prediction window
  changelog.md
  src/units/abilities.cpp
Labels: Units

#5951 add the names of the abilities used as weapons in the attack prediction window(UI) for 1.16
  changelog.md
  src/units/abilities.cpp
Labels: Units

#5965 Prevents logging of duplicate deprecation messages and messages missing timestamps.
  run_wml_tests
  src/ai/configuration.cpp
  src/ai/default/recruitment.cpp
  src/config.cpp
  src/deprecation.cpp
  src/game_events/action_wml.cpp
  src/game_events/conditional_wml.cpp
  src/game_events/manager_impl.cpp
  src/game_events/pump.cpp
  src/game_events/pump.hpp
  src/game_launcher.cpp
  src/game_launcher.hpp
  src/generators/cave_map_generator.cpp
  src/gui/widgets/stacked_widget.cpp
  src/log.cpp
  src/log.hpp
  src/mouse_events.cpp
  src/pathfind/teleport.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
  src/side_filter.cpp
  src/terrain/filter.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/filter.cpp
  src/units/race.cpp
  src/utils/context_free_grammar_generator.cpp
  src/utils/name_generator_factory.cpp
  src/wml_exception.cpp
  wml_test_schedule
Labels: AI, Lua API, Terrain, UI, Units

#5980 1.16 animation update 7/24
  data/core/images/units/nagas/guardian.png
  data/core/images/units/nagas/sentinel-defend-1.png
  data/core/images/units/nagas/sentinel-defend-2.png
  data/core/images/units/nagas/sentinel.png
  data/core/images/units/nagas/warden-attack-1.png
  data/core/images/units/nagas/warden-attack-2.png
  data/core/images/units/nagas/warden-attack-3.png
  data/core/images/units/nagas/warden-attack-4.png
  data/core/images/units/nagas/warden-attack-5.png
  data/core/images/units/nagas/warden-attack-6.png
  data/core/images/units/nagas/warden-defend-1.png
  data/core/images/units/nagas/warden-defend-2.png
  data/core/images/units/nagas/warden-shield-attack-1.png
  data/core/images/units/nagas/warden-shield-attack-2.png
  data/core/images/units/nagas/warden-shield-attack-3.png
  data/core/images/units/nagas/warden-shield-attack-4.png
  data/core/images/units/nagas/warden-shield-defend2.png
  data/core/images/units/nagas/warden-shield-swoosh.png
  data/core/images/units/nagas/warden.png
  data/core/units/nagas/Guard.cfg
  data/core/units/nagas/Guard_High.cfg
  data/core/units/nagas/Guard_Shield.cfg
Labels: Graphics, Units

#5985 TRoW S04a: Typographic style is not to have a hyphen in "un-life"
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/04a_The_Swamp_of_Esten.cfg
Labels: Campaign, Prose

#5959 [world conquest] [master/1.17] add credits, campaign icon(s) and image.
  data/campaigns/World_Conquest/_main.cfg
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

#5958 [world conquest] add campaign icons, campaign image and credits
  data/campaigns/World_Conquest/_main.cfg
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign

#6001 Missed some deprecated fungus on map edges.
  data/multiplayer/maps/2p_Arcanclave_Citadel.map
  data/multiplayer/maps/2p_Ruined_Passage.map
  data/multiplayer/maps/6p_The_Manzivan_Traps.map
  data/multiplayer/maps/Dark_Forecast_drought.map
Labels: MP
