Repository wesnoth/wesnoth, pull requests merged in 2021-03, with the labels that each got.

#5551 units - Walking Corpse beast-rider (taurus) variation
  data/core/images/portraits/undead/zombie-beastrider.png
  data/core/images/units/undead/soulless-beastrider-attack-n.png
  data/core/images/units/undead/soulless-beastrider-attack-s.png
  data/core/images/units/undead/soulless-beastrider-attack.png
  data/core/images/units/undead/soulless-beastrider-defend.png
  data/core/images/units/undead/soulless-beastrider-die-1.png
  data/core/images/units/undead/soulless-beastrider-die-2.png
  data/core/images/units/undead/soulless-beastrider-die-3.png
  data/core/images/units/undead/soulless-beastrider-die-4.png
  data/core/images/units/undead/soulless-beastrider.png
  data/core/images/units/undead/zombie-beastrider-attack-n.png
  data/core/images/units/undead/zombie-beastrider-attack-s.png
  data/core/images/units/undead/zombie-beastrider-attack.png
  data/core/images/units/undead/zombie-beastrider-defend.png
  data/core/images/units/undead/zombie-beastrider-die-1.png
  data/core/images/units/undead/zombie-beastrider-die-2.png
  data/core/images/units/undead/zombie-beastrider-die-3.png
  data/core/images/units/undead/zombie-beastrider-die-4.png
  data/core/images/units/undead/zombie-beastrider.png
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, In-progress, Units

#5579 Support [terrain_defaults]'s original subtag names
  changelog.md
  src/units/types.cpp
Labels: Units

#5584 UtBS - undead variations for the rider/mounted Quenoths
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Archer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Marksman.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Outrider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Pathfinder.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Scout.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Flagbearer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Protector.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Stalwart.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Vanguard.cfg
Labels: Campaign, Units

#5582 Handle empty children in patch_movetype
  src/units/types.cpp
Labels: Bug, Units

#5573 AI: Improve behavior of the retreat_injured CA
  data/ai/lua/ca_retreat_injured.lua
  data/ai/lua/retreat.lua
  data/ai/utils/default_config.cfg
  data/schema/ai/aspect_complex.cfg
  data/schema/ai/aspect_simple.cfg
  data/schema/ai/modify.cfg
  data/tools/emacs_mode/wesnoth-wml-data.el
  src/ai/contexts.cpp
  src/ai/contexts.hpp
  src/ai/formula/ai.cpp
  src/ai/lua/core.cpp
  src/ai/manager.cpp
  src/ai/registry.cpp
Labels: AI, Schema, WML Tools

#5583 [1.14] Fix [resistance_defaults] and [terrain_defaults] (issue #5308)
  changelog.md
  data/test/scenarios/test_resistances.cfg
  src/movetype.cpp
  src/units/types.cpp
  wml_test_schedule
Labels: Bug, Regression, Units, WML

#5591 Fixed single player campaign number of players marker
  src/game_initialization/create_engine.cpp
Labels: Campaign

#5574 Unsubtly warn about subtle problems loading saved games from old versions
  changelog.md
  src/savegame.cpp
Labels: Enhancement, UI

#5207 Messenger Micro AI: add [avoid] tag functionality
  data/ai/lua/ai_helper.lua
  data/ai/micro_ais/cas/ca_messenger_attack.lua
  data/ai/micro_ais/cas/ca_messenger_escort_move.lua
  data/ai/micro_ais/cas/ca_messenger_move.lua
  data/ai/micro_ais/mai-defs/escort.lua
Labels: AI, Enhancement

#5605 Add the server id to wesnothd as well.
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: MP

#5615 Remove checks for stuff that aren't used anymore.
  SConstruct
  cmake/SearchForStuff.cmake
  config.h.cmake
Labels: Building, CMake, SCons

#5562 Replace [leading_anim] callable by abilities used like weapons by add of [teaching_anim]
  changelog.md
  data/campaigns/Heir_To_The_Throne/utils/abilities.cfg
  data/core/macros/animation-utils.cfg
  data/schema/units/animations.cfg
  src/units/animation.cpp
  src/units/animation.hpp
  src/units/udisplay.cpp
Labels: Campaign, Schema, Units

#5621 Update Codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#5618 font: Work around chromatic aberration issue with Windows ClearType
  src/font/text.cpp
Labels: Enhancement, UI, Windows

#5631 Remove obsolete FindSDL2_ttf cmake module
  cmake/FindSDL2_ttf.cmake
Labels: Building, CMake

#5630 Remove Formula AI uses
  data/ai/dev/formula_ai.cfg
  data/ai/dev/formula_ai_poisoning.cfg
  data/ai/micro_ais/cas/ca_patrol.lua
  data/ai/micro_ais/mai-defs/patrol.lua
  data/ai/micro_ais/scenarios/guardians.cfg
  data/ai/micro_ais/scenarios/lurkers.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter4/16_The_Chief_Must_Die.cfg
  data/schema/core/actionwml.cfg
  data/tools/emacs_mode/wesnoth-wml-data.el
Labels: AI, Campaign, Schema, WML Tools

#5634 TSG S05: Fix use of [modify_unit]
  data/campaigns/The_South_Guard/scenarios/05_Choice_In_The_Fog.cfg
Labels: Bug, Campaign

#5637 UtBS S01: Spawn the mystics on the island, not in the lake
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
Labels: Campaign
