Repository wesnoth/wesnoth, pull requests merged in 2021-05, with the labels that each got.

#5753 Run woptipng on images with bad iCCP, and associated files
  data/core/images/portraits/monsters/woodland_boar.png
  data/core/images/portraits/undead/zombie-beastrider.png
  data/core/images/portraits/undead/zombie-boar.png
  data/core/images/portraits/undead/zombie-falcon.png
  data/core/images/portraits/undead/zombie-rat.png
  data/core/images/portraits/undead/zombie-rider.png
  data/core/images/portraits/undead/zombie-scorpion.png
  data/core/images/portraits/undead/zombie-serpent.png
  data/core/images/portraits/undead/zombie-spider.png
  data/core/images/terrain/castle/troll/keep-rim-ne.png
  data/core/images/terrain/castle/troll/keep-rim-nw.png
  data/core/images/terrain/castle/troll/keep-rim-s.png
  data/core/images/terrain/castle/troll/keep-rim-se.png
  data/core/images/terrain/castle/troll/keep-rim-sw.png
  data/core/images/terrain/castle/troll/keep-small-ne.png
  data/core/images/terrain/castle/troll/keep-small-nw.png
  data/core/images/terrain/castle/troll/keep-small-s.png
  data/core/images/terrain/castle/troll/keep-small-se.png
  data/core/images/terrain/castle/troll/keep-small-sw.png
  data/core/images/terrain/castle/troll/regular-concave-l.png
  data/core/images/terrain/castle/troll/regular-convex-l.png
  data/core/images/terrain/castle/troll/stone-post4.png
  data/core/images/terrain/castle/troll/tile.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-1.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-10.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-11.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-12.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-13.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-14.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-15.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-2.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-3.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-4.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-5.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-6.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-7.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-8.png
  data/core/images/units/human-loyalists/heavyinfantry-attack-9.png
  data/core/images/units/human-loyalists/heavyinfantry-defend-1.png
  data/core/images/units/human-loyalists/heavyinfantry-defend-2.png
  data/core/images/units/human-loyalists/heavyinfantry.png
  data/core/images/units/human-outlaws/bandit-idle-1.png
  data/core/images/units/human-outlaws/bandit-idle-2.png
  data/core/images/units/human-outlaws/bandit-idle-3.png
  data/core/images/units/human-outlaws/bandit-idle-4.png
  data/core/images/units/human-outlaws/bandit-idle-5.png
  data/core/images/units/human-outlaws/bandit-idle-6.png
  data/core/images/units/human-outlaws/trapper-bow-attack1.png
  data/core/images/units/human-outlaws/trapper-bow-attack2.png
  data/core/images/units/human-outlaws/trapper-bow-attack3.png
  data/core/images/units/human-outlaws/trapper-bow-attack4.png
  data/core/images/units/human-outlaws/trapper-bow-attack5.png
  data/core/images/units/human-outlaws/trapper-bow-attack6.png
  data/core/images/units/human-outlaws/trapper-bow-attack7.png
  data/core/images/units/human-outlaws/trapper-bow-defend.png
  data/core/images/units/human-outlaws/trapper-bow.png
  data/core/images/units/human-outlaws/trapper.png
Labels: Graphics, Terrain, Units

#5739 add 'ability_id_active' attribute to filter
  changelog.md
  data/schema/filters/unit.cfg
  data/test/scenarios/ability_id_active_test.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_fail.cfg
  src/units/filter.cpp
  wml_test_schedule
Labels: Schema, Unit Tests, Units

#5760 Rewrite the WML unit test for sighted events
  data/test/scenarios/sighted_events.cfg
  wml_test_schedule
Labels: Unit Tests

#5752 Remove the old PNG optimisation script
  changelog.md
  utils/indexed2rgb.sh
  utils/wesnoth-optipng
Labels: Graphics

#5682 Rendering only a viewport area in pango_text
  changelog.md
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
Labels: UI

#5772 Remove remaining uses of wesnoth.special_locations and fix deprecation message
  data/ai/lua/ai_helper.lua
  data/ai/lua/generic_recruit_engine.lua
  data/lua/core/map.lua
  data/lua/wml/move_unit.lua
Labels: AI, Lua API

#5773 Run woptipng on the new horses
  data/core/images/attacks/fangs-horse.png
  data/core/images/attacks/hoof-nightmare.png
  data/core/images/attacks/hoof.png
  data/core/images/portraits/monsters/black-stallion.png
  data/core/images/portraits/monsters/horse.png
  data/core/images/portraits/monsters/nightmare.png
  data/core/images/portraits/undead/zombie-horse.png
  data/core/images/units/dunefolk/rider/cataphract-bow.png
  data/core/images/units/dunefolk/rider/cataphract-defend1.png
  data/core/images/units/dunefolk/rider/cataphract-defend2.png
  data/core/images/units/dunefolk/rider/cataphract-lance-defend1.png
  data/core/images/units/dunefolk/rider/cataphract-lance-defend2.png
  data/core/images/units/dunefolk/rider/cataphract-lance.png
  data/core/images/units/dunefolk/rider/cataphract-mace.png
  data/core/images/units/dunefolk/rider/cataphract.png
  data/core/images/units/monsters/horse/horse-attack1.png
  data/core/images/units/monsters/horse/horse-attack2.png
  data/core/images/units/monsters/horse/horse-attack3.png
  data/core/images/units/monsters/horse/horse-attack4.png
  data/core/images/units/monsters/horse/horse-attack5.png
  data/core/images/units/monsters/horse/horse-attack6.png
  data/core/images/units/monsters/horse/horse-attack7.png
  data/core/images/units/monsters/horse/horse-defend-1.png
  data/core/images/units/monsters/horse/horse-defend-2.png
  data/core/images/units/monsters/horse/horse-larger+female.png
  data/core/images/units/monsters/horse/horse-larger-attack1.png
  data/core/images/units/monsters/horse/horse-larger-attack2.png
  data/core/images/units/monsters/horse/horse-larger-attack3.png
  data/core/images/units/monsters/horse/horse-larger-attack4.png
  data/core/images/units/monsters/horse/horse-larger-attack5.png
  data/core/images/units/monsters/horse/horse-larger-attack6.png
  data/core/images/units/monsters/horse/horse-larger-attack7.png
  data/core/images/units/monsters/horse/horse-larger-defend-1.png
  data/core/images/units/monsters/horse/horse-larger-defend-2.png
  data/core/images/units/monsters/horse/horse-larger.png
  data/core/images/units/monsters/horse/horse.png
  data/core/images/units/monsters/seahorse-mask.png
  data/core/images/units/monsters/seahorse-shadow.png
  data/core/images/units/monsters/seahorse.png
  data/core/images/units/undead/soulless-horse-attack-n.png
  data/core/images/units/undead/soulless-horse-attack-s.png
  data/core/images/units/undead/soulless-horse-attack.png
  data/core/images/units/undead/soulless-horse-defend.png
  data/core/images/units/undead/soulless-horse-die-1.png
  data/core/images/units/undead/soulless-horse-die-2.png
  data/core/images/units/undead/soulless-horse-die-3.png
  data/core/images/units/undead/soulless-horse-die-4.png
  data/core/images/units/undead/soulless-horse.png
  data/core/images/units/undead/zombie-horse-attack-n.png
  data/core/images/units/undead/zombie-horse-attack-s.png
  data/core/images/units/undead/zombie-horse-attack.png
  data/core/images/units/undead/zombie-horse-defend.png
  data/core/images/units/undead/zombie-horse-die-1.png
  data/core/images/units/undead/zombie-horse-die-2.png
  data/core/images/units/undead/zombie-horse-die-3.png
  data/core/images/units/undead/zombie-horse-die-4.png
  data/core/images/units/undead/zombie-horse.png
Labels: Graphics, Units

#5754 Make woptipng's debug output about bigger images clearer
  utils/woptipng.py
Labels: Graphics

#5261 Only show notifications for visible mp games (fixes #4723)
  src/game_initialization/lobby_info.cpp
  src/game_initialization/lobby_info.hpp
  src/gui/dialogs/multiplayer/lobby.cpp
Labels: UI

#5434 Add [effect]apply_to_vision= attribute to [effect]apply_to=movement
  changelog.md
  data/schema/units/modifications.cfg
  data/test/scenarios/test_effect_on_vision.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Schema, Unit Tests, Units, WML

#5775 Make callers of help::show_help not need a help_manager
  src/gui/dialogs/multiplayer/faction_select.cpp
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/title_screen.cpp
  src/help/help.cpp
  src/help/help.hpp
  src/scripting/lua_gui2.cpp
Labels: Help, Lua API, UI

#5774 Add-ons manager: show tags in the details panel
  changelog.md
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
Labels: Add-ons, UI

#5765 Filtering by tags in the add-on manager
  changelog.md
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
Labels: Add-ons, Enhancement, UI

#5791 SotA - update walking corpses to mesh with mainline
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack-n.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack-s.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-attack.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider-defend.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/soulless-spider.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack-n.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack-s.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-attack.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-defend.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-1.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-2.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-3.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider-die-4.png
  data/campaigns/Secrets_of_the_Ancients/images/units/undead/zombie-spider.png
  data/campaigns/Secrets_of_the_Ancients/units/SotA_Corpses.cfg
  data/campaigns/Secrets_of_the_Ancients/units/SotA_Soulless.cfg
Labels: Campaign, Graphics, Units

#5567 Support for TLS-encrypted connections
  CMakeLists.txt
  SConstruct
  src/CMakeLists.txt
  src/network_asio.cpp
  src/network_asio.hpp
  src/server/campaignd/server.cpp
  src/server/campaignd/server.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/game.cpp
  src/server/wesnothd/player_connection.hpp
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
  src/wesnothd_connection.cpp
  src/wesnothd_connection.hpp
Labels: Add-ons, Building, CMake, MP, SCons

#5795 Scenario editor help: remove the warning about 1.14 bugs
  data/core/editor/help.cfg
Labels: Editor

#5794 update codeblock projectfiles andfix lua_mathx not compiled with gcc 8.0 on windows7(in codeblock project)
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
  src/scripting/lua_mathx.cpp
Labels: Building, Lua API

#5803 update codeblock projectfiles
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#5786 adding seahorse graphics
  data/core/images/portraits/monsters/seahorse.png
  data/core/images/units/monsters/seahorse-attack1.png
  data/core/images/units/monsters/seahorse-attack2.png
  data/core/images/units/monsters/seahorse-attack3.png
  data/core/images/units/monsters/seahorse-attack4.png
  data/core/images/units/monsters/seahorse-attack5.png
  data/core/images/units/monsters/seahorse-attack6.png
  data/core/images/units/monsters/seahorse-defend1.png
  data/core/images/units/monsters/seahorse-defend2.png
  data/core/images/units/monsters/seahorse-spit1.png
  data/core/images/units/monsters/seahorse-spit2.png
  data/core/units/monsters/Seahorse.cfg
Labels: Graphics, Units

#5808 Include the new-style special notes in the sidebar's unit description
  changelog.md
  src/reports.cpp
Labels: Engine

#5806 replace deprecated special= by special_id/type in Utbs and scenario-test
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  data/scenario-test.cfg
Labels: Campaign

#5788 add 'unslowable' and 'unpetrifiable' status
  changelog.md
  data/test/scenarios/unslowable_and_unpetrifiable_status_test.cfg
  src/actions/attack.cpp
  src/formula/callable_objects.cpp
  src/units/abilities.cpp
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units, WFL

#5790 Fire Wraith and Jinn
  data/core/images/units/monsters/firewraith/firewraith-defend1.png
  data/core/images/units/monsters/firewraith/firewraith-defend2.png
  data/core/images/units/monsters/firewraith/firewraith-s1.png
  data/core/images/units/monsters/firewraith/firewraith-s2.png
  data/core/images/units/monsters/firewraith/firewraith-s3.png
  data/core/images/units/monsters/firewraith/firewraith-s4.png
  data/core/images/units/monsters/firewraith/firewraith-s5.png
  data/core/images/units/monsters/firewraith/firewraith-s6.png
  data/core/images/units/monsters/firewraith/firewraith-s7.png
  data/core/images/units/monsters/firewraith/firewraith-s8.png
  data/core/images/units/monsters/firewraith/firewraith.png
  data/core/images/units/monsters/jinn.png
  data/core/images/units/monsters/jinn/jinn-bottom1.png
  data/core/images/units/monsters/jinn/jinn-bottom2.png
  data/core/images/units/monsters/jinn/jinn-bottom3.png
  data/core/images/units/monsters/jinn/jinn-bottom4.png
  data/core/images/units/monsters/jinn/jinn-bottom5.png
  data/core/images/units/monsters/jinn/jinn-bottom6.png
  data/core/images/units/monsters/jinn/jinn-defend1.png
  data/core/images/units/monsters/jinn/jinn-defend2.png
  data/core/images/units/monsters/jinn/jinn-top-hi.png
  data/core/images/units/monsters/jinn/jinn-top-lo.png
  data/core/images/units/monsters/jinn/jinn-top.png
  data/core/images/units/monsters/jinn/jinn.png
  data/core/images/units/monsters/jinn/sand-halo-1.png
  data/core/images/units/monsters/jinn/sand-halo-2.png
  data/core/images/units/monsters/jinn/sand-halo-3.png
  data/core/images/units/monsters/jinn/sand-halo-4.png
  data/core/images/units/monsters/jinn/sand-halo-5.png
  data/core/images/units/monsters/jinn/sand-halo-6.png
  data/core/units/monsters/Fire_Wraith.cfg
  data/core/units/monsters/Jinn.cfg
Labels: Graphics, Units

#5789 Last new terrains for 1.16
  data/core/images/terrain/flat/road-icy.png
  data/core/images/terrain/flat/road-icy2.png
  data/core/images/terrain/flat/road-icy3.png
  data/core/images/terrain/forest/great-oak-tree-dead-tile.png
  data/core/images/terrain/forest/great-oak-tree-dead.png
  data/core/images/terrain/forest/great-oak-tree-dead2.png
  data/core/images/terrain/forest/great-tree-dead2.png
  data/core/images/terrain/forest/great-tree-dead3.png
  data/core/images/terrain/forest/great-tree-snowy-tile.png
  data/core/images/terrain/forest/great-tree-snowy.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

#5815 AToTB S02: The necromancer is leaving, not waiting for reinforcements
  data/campaigns/Two_Brothers/scenarios/02_The_Chase.cfg
Labels: Campaign, Prose
