Repository wesnoth/wesnoth, pull requests merged in 2022-03, with the labels that each got.

#6550 update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#6552 Treat all 1.17 builds as dev versions, including non-canonical ones
  src/game_version.cpp
Labels: Engine

#6492 1.17 minor terrain fixes
  data/core/images/terrain/castle/winter-orcish/fort-concave-bl.png
  data/core/images/terrain/castle/winter-orcish/fort-concave-tl.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-bl.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-r.png
  data/core/images/terrain/castle/winter-orcish/fort-convex-tl.png
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-bl.png
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-br.png
  data/core/images/terrain/castle/winter-orcish/keep-fort-convex-r.png
  data/core/images/terrain/flat/crater.png
  data/core/images/terrain/frozen/crater.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

#6553 Piglets: add a po hint that these are wild boars' young
  data/core/units/monsters/Boar_Piglet.cfg
Labels: Units

#6557 Minor req cleanup
  src/CMakeLists.txt
  src/color_range.cpp
  src/display.cpp
  src/terrain/translation.hpp
  src/tests/test_commandline_options.cpp
  src/tests/test_mp_connect.cpp
  vcpkg.json
Labels: Building, SCons, CMake, Terrain

#6554 SoF: explain the Shorbear tools as products of the volcanic forge
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Backport, Campaign, Prose

#6543 Store add-on passwords in the credentials file as well.
  data/gui/window/addon_auth.cfg
  src/addon/client.cpp
  src/gui/dialogs/addon/addon_auth.cpp
  src/gui/dialogs/addon/manager.cpp
Labels: UI, Add-ons

#6556 Put translation contribution info into CONTRIBUTING.md.
  CONTRIBUTING.md
Labels: Docs

#6561 update codeblock projectfiles
  projectfiles/CodeBlocks/liblua.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#6559 Fix #6389.
  src/addon/state.cpp
Labels: Add-ons

#6558 Remove gui/auxiliary/filter.hpp and unused includes of pane.hpp
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  src/gui/auxiliary/filter.hpp
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
  src/gui/widgets/listbox.cpp
Labels: UI, Add-ons, Building

#6565 Used std::any, except on MacOS
  src/formula/variant.cpp
  src/formula/variant.hpp
  src/formula/variant_value.cpp
  src/formula/variant_value.hpp
  src/utils/any.hpp
Labels: WFL

#6555 1.17 new terrain
  data/core/images/terrain/embellishments/fence-iron-ne-nw.png
  data/core/images/terrain/embellishments/fence-iron-ne-se-nw.png
  data/core/images/terrain/embellishments/fence-iron-ne-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-iron-ne-se-sw.png
  data/core/images/terrain/embellishments/fence-iron-ne-se.png
  data/core/images/terrain/embellishments/fence-iron-ne-sw-01.png
  data/core/images/terrain/embellishments/fence-iron-ne-sw-02.png
  data/core/images/terrain/embellishments/fence-iron-ne-sw-nw.png
  data/core/images/terrain/embellishments/fence-iron-ne.png
  data/core/images/terrain/embellishments/fence-iron-nw-se-01.png
  data/core/images/terrain/embellishments/fence-iron-nw-se-02.png
  data/core/images/terrain/embellishments/fence-iron-nw.png
  data/core/images/terrain/embellishments/fence-iron-portal-se.png
  data/core/images/terrain/embellishments/fence-iron-portal-sw.png
  data/core/images/terrain/embellishments/fence-iron-se-nw-01.png
  data/core/images/terrain/embellishments/fence-iron-se-nw-02.png
  data/core/images/terrain/embellishments/fence-iron-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-iron-se-sw.png
  data/core/images/terrain/embellishments/fence-iron-se.png
  data/core/images/terrain/embellishments/fence-iron-sw-ne-01.png
  data/core/images/terrain/embellishments/fence-iron-sw-ne-02.png
  data/core/images/terrain/embellishments/fence-iron-sw-nw.png
  data/core/images/terrain/embellishments/fence-iron-sw.png
  data/core/images/terrain/embellishments/fence-iron-tile.png
  data/core/images/terrain/embellishments/fence-palisade-chasm-ne.png
  data/core/images/terrain/embellishments/fence-palisade-chasm-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se-sw.png
  data/core/images/terrain/embellishments/fence-palisade-ne-se.png
  data/core/images/terrain/embellishments/fence-palisade-ne-sw-01.png
  data/core/images/terrain/embellishments/fence-palisade-ne-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-ne.png
  data/core/images/terrain/embellishments/fence-palisade-nw-se-01.png
  data/core/images/terrain/embellishments/fence-palisade-nw.png
  data/core/images/terrain/embellishments/fence-palisade-portal-se.png
  data/core/images/terrain/embellishments/fence-palisade-portal-sw.png
  data/core/images/terrain/embellishments/fence-palisade-se-nw-01.png
  data/core/images/terrain/embellishments/fence-palisade-se-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-se-sw.png
  data/core/images/terrain/embellishments/fence-palisade-se.png
  data/core/images/terrain/embellishments/fence-palisade-sw-ne-01.png
  data/core/images/terrain/embellishments/fence-palisade-sw-nw.png
  data/core/images/terrain/embellishments/fence-palisade-sw.png
  data/core/images/terrain/embellishments/fence-palisade-tile.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

#6567 Use non-attic jpg file.
  scons/sdl.py
Labels: Building, SCons

#6572 Add unit tests for Lua API wesnoth.simulate_combat
  data/test/scenarios/simulate_combat_clone_adjacent.cfg
  data/test/scenarios/simulate_combat_occupied.cfg
  wml_test_schedule
Labels: Unit Tests, Lua API

#6577 [DID] [Alone at Last] Ensure Spectral Servant unit-line cannot pick up the book
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
Labels: Backport, Campaign

#6254 Convert Isar's Cross map background images to webp format
  data/core/images/terrain/map-specific/isar-background-dawndusk.png
  data/core/images/terrain/map-specific/isar-background-dawndusk.webp
  data/core/images/terrain/map-specific/isar-background-night.png
  data/core/images/terrain/map-specific/isar-background-night.webp
  data/core/images/terrain/map-specific/isar-background.png
  data/core/images/terrain/map-specific/isar-background.webp
  data/multiplayer/scenarios/4p_Isars_Cross.cfg
Labels: Graphics, MP, Terrain

#6593 THoT: Remove unused Ratheln character
  attic/ratheln.png
  data/campaigns/The_Hammer_of_Thursagan/scenarios/09_The_Underlevels.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/10_Epilogue.cfg
  data/campaigns/The_Hammer_of_Thursagan/utils/characters.cfg
Labels: Campaign, Graphics

#6586 [1.16] wmlxgettext: add a --no-sort-by-file option
  data/tools/wmlxgettext
Labels: Translations, WML Tools, Fwdport

#6571 [1.16] Add a unit test for [move_unit]location_id with an occupied hex
  data/test/scenarios/test_move_unit_to_occupied_hex.cfg
  wml_test_schedule
Labels: Unit Tests, Fwdport

#6585 [campaign] [1.17] Update Xol -> Xos^Efs for 4 campaign maps
  data/campaigns/Northern_Rebirth/maps/05a_01_The_Pursuit.map
  data/campaigns/Secrets_of_the_Ancients/maps/20_North_Knalga.map
  data/campaigns/The_Hammer_of_Thursagan/maps/09_The_Underlevels.map
  data/campaigns/Two_Brothers/maps/03_Guarded_Castle.map
Labels: Campaign

#6597 Add a unit test for [move_unit]location_id with an occupied hex
  data/test/scenarios/test_move_unit_to_occupied_hex.cfg
  wml_test_schedule
Labels: Unit Tests
