Repository wesnoth/wesnoth, pull requests merged in 2022-02, with the labels that each got.

#6467 [world conquest] [artifact/abilities] Make banner stack with leadership ability.
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Backport, Campaign, MP

#6425 [1.16.3] Fix deprecation of [advancefrom], mark as already removed
  src/game_config_manager.cpp
Labels: Bug, WML, Units, Fwdport

#6482 Fix deprecation of [advancefrom], mark as already removed
  src/game_config_manager.cpp
Labels: Bug, WML, Units

#6473 Refactor the backstab unit test
  data/test/scenarios/backstab.cfg
  wml_test_schedule
Labels: Docs, Unit Tests

#6464 Make the adhoc add-on download check more detailed.
  src/addon/manager_ui.cpp
Labels: Add-ons

#6487 forwardport #6477
  data/core/images/terrain/embellishments/rocks10.png
  data/core/images/terrain/embellishments/rocks4.png
  data/core/images/terrain/embellishments/rocks5.png
  data/core/images/terrain/embellishments/rocks6.png
  data/core/images/terrain/embellishments/rocks7.png
  data/core/images/terrain/embellishments/rocks8.png
  data/core/images/terrain/embellishments/rocks9.png
  data/core/images/terrain/embellishments/snowbits-small5.png
  data/core/images/terrain/embellishments/snowbits-small6.png
  data/core/images/terrain/embellishments/snowbits-small7.png
  data/core/images/terrain/embellishments/snowbits-small8.png
  data/core/images/terrain/embellishments/snowbits-small9.png
  data/core/images/terrain/embellishments/stones-small10.png
  data/core/images/terrain/embellishments/stones-small6.png
  data/core/images/terrain/embellishments/stones-small9.png
  data/core/images/terrain/misc/rubble.png
  data/core/images/terrain/misc/rubble2.png
  data/core/images/terrain/misc/rubble3.png
  data/core/images/terrain/misc/rubble4.png
  data/core/images/terrain/misc/rubble5.png
  data/core/images/terrain/misc/rubble6.png
  data/core/images/terrain/walls/stone/wall-stone-snow-concave-tl.png
  data/core/images/terrain/walls/stone/wall-stone-snow-concave-tr.png
  data/core/images/terrain/walls/stone/wall-stone-snow-convex-bl.png
  data/core/images/terrain/walls/stone/wall-stone-snow-convex-br.png
  data/core/images/terrain/walls/stone/wall-stone-snow-convex-l.png
  data/core/images/terrain/walls/stone/wall-stone-snow-convex-r.png
  data/core/images/terrain/walls/stone/wall-stone-snow-corner-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

#6490 Add-ons manager: handle the selected add-on changing in small-screen mode
  changelog.md
  src/gui/dialogs/addon/manager.cpp
Labels: Bug, UI, Add-ons, Fwdport

#6499 Add-ons manager: handle the selected add-on changing in small-screen mode
  changelog.md
  src/gui/dialogs/addon/manager.cpp
Labels: Bug, UI, Add-ons

#6501 Change [filter_weapon] to not depend on attack_type::weapon_specials
  src/formula/callable_objects.cpp
Labels: Enhancement, Units, WFL

#6502 [1.16] Change [filter_weapon] to not depend on attack_type::weapon_specials
  src/formula/callable_objects.cpp
Labels: WFL, Units Database

#6500 wmlxgettext and wmlindent change exit code
  data/tools/wmlindent
  data/tools/wmlxgettext
Labels: Backport, WML Tools

#6526 HttT S17: Update to comply with current Wesnoth Lua API specifications
  data/campaigns/Heir_To_The_Throne/scenarios/17_Scepter_of_Fire.cfg
Labels: Backport, Campaign, Lua API

#6532 Replace deprecated placement=map_overwrite
  data/campaigns/Heir_To_The_Throne/scenarios/08_The_Princess_of_Wesnoth.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/17_Mortality.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/07_Return_to_Oldwood.cfg
Labels: Backport, Campaign, WML

#6483 Lua API: Add inline documentation for pretty much everything
  data/lua/core/_initial.lua
  data/lua/core/as_text.lua
  data/lua/core/filesystem.lua
  data/lua/core/gui.lua
  data/lua/core/interface.lua
  data/lua/core/map.lua
  data/lua/core/mathx.lua
  data/lua/core/persistent_tags.lua
  data/lua/core/sides.lua
  data/lua/core/stringx.lua
  data/lua/core/unit_test.lua
  data/lua/core/units.lua
  data/lua/core/wml.lua
  data/lua/functional.lua
  data/lua/location_set.lua
  data/lua/on_event.lua
  data/lua/wml/items.lua
  data/lua/wml/micro_ai.lua
  utils/emmylua/README.md
  utils/emmylua/ai.lua
  utils/emmylua/builtin.lua
  utils/emmylua/config.lua
  utils/emmylua/filesystem.lua
  utils/emmylua/gui.lua
  utils/emmylua/mathx.lua
  utils/emmylua/stringx.lua
  utils/emmylua/wesnoth.lua
  utils/emmylua/wesnoth/audio.lua
  utils/emmylua/wesnoth/game_events.lua
  utils/emmylua/wesnoth/interface.lua
  utils/emmylua/wesnoth/map.lua
  utils/emmylua/wesnoth/paths.lua
  utils/emmylua/wesnoth/schedule.lua
  utils/emmylua/wesnoth/sides.lua
  utils/emmylua/wesnoth/sync.lua
  utils/emmylua/wesnoth/units.lua
  utils/emmylua/wml.lua
Labels: AI, Campaign, Lua API

#6493 WoF and Drake revisions
  data/campaigns/Sceptre_of_Fire/scenarios/8_The_Dragon.cfg
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
  data/campaigns/Winds_of_Fate/story/Past_and_Future_Drake_History_(Spoilers).txt
  data/core/units.cfg
Labels: Campaign

#6536 [world conquest] update deprecated share_view to share_vision
  data/campaigns/World_Conquest/lua/map/scenario_utils/side_definitions.lua
Labels: Campaign

#6537 WoF: update map of S9 To stop a Cave Bear spawning at an unreachable location
  data/campaigns/Winds_of_Fate/maps/09_Ancestor.map
Labels: Campaign
