Repository wesnoth/wesnoth, pull requests merged in 2022-07, with the labels that each got.

#6088 Add the Skeleton Rider line and Death Squire to core
  data/campaigns/Eastern_Invasion/units/Bone_Knight.cfg
  data/campaigns/Liberty/images/units/undead-skeletal/boneknight.png
  data/campaigns/Liberty/images/units/undead-skeletal/rider-attack.png
  data/campaigns/Liberty/images/units/undead-skeletal/rider-defend.png
  data/campaigns/Liberty/images/units/undead-skeletal/rider-moving.png
  data/campaigns/Liberty/images/units/undead-skeletal/rider.png
  data/campaigns/Liberty/units/Skeleton_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/images/units/undead-skeletal/rider-attack.png
  data/campaigns/Under_the_Burning_Suns/images/units/undead-skeletal/rider-defend.png
  data/campaigns/Under_the_Burning_Suns/images/units/undead-skeletal/rider-moving.png
  data/campaigns/Under_the_Burning_Suns/images/units/undead-skeletal/rider.png
  data/campaigns/Under_the_Burning_Suns/units/undead/Undead_Horseman.cfg
  data/core/images/units/undead-skeletal/boneknight.png
  data/core/images/units/undead-skeletal/deathsquire-attack-1.png
  data/core/images/units/undead-skeletal/deathsquire-attack-2.png
  data/core/images/units/undead-skeletal/deathsquire-attack-3.png
  data/core/images/units/undead-skeletal/deathsquire-defend.png
  data/core/images/units/undead-skeletal/deathsquire-leading.png
  data/core/images/units/undead-skeletal/deathsquire.png
  data/core/images/units/undead-skeletal/rider-attack.png
  data/core/images/units/undead-skeletal/rider-defend.png
  data/core/images/units/undead-skeletal/rider-moving.png
  data/core/images/units/undead-skeletal/rider.png
  data/core/units/undead/Bone_Knight.cfg
  data/core/units/undead/Death_Squire.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Campaign, Graphics, Units

#6820 Update Death Squire and Bone Knight units
  data/core/units/undead/Skele_Bone_Knight.cfg
  data/core/units/undead/Skele_Death_Squire.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Enhancement, Units

#6817 Add no-unit error message for unit debug command
  src/menu_events.cpp
Labels: UI

#6816 Fix seg fault when weapon is removed during attack
  src/actions/attack.cpp
Labels: Units, Fwdport

#6818 Sound path
  src/filesystem.cpp
  src/game_launcher.cpp
  src/log.cpp
  src/log.hpp
  src/wesnoth.cpp
Labels: Engine

#6821 Boost unit tests: fix Xcode warnings
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/tests/test_serialization.cpp
Labels: macOS, Building

#6828 Fixed Warden’s and Arbiter’s animations popping on water tiles.
  changelog.md
  data/core/units/drakes/Arbiter.cfg
  data/core/units/drakes/Warden.cfg
Labels: Units

#6831 Fixed Warden’s and Arbiter’s animations popping on water tiles backport
  changelog.md
  data/core/units/drakes/Arbiter.cfg
  data/core/units/drakes/Warden.cfg
Labels: Units

#6676 UtBS S08 Fixed replay OOS by moving victory event to synced event
  changelog.md
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

#6838 update codeblock projectfiles
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

#6839 Revert "update codeblock projectfiles"
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

#6843 add GLIBCXX_USE_DEPRECATED=0 in codeblock projectfiles
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

#6827 Run Boost unit tests on MacOS CI
  .github/workflows/ci-scripts/macos.sh
Labels: macOS, CI

#6848 GUI2/minimap: Mark minimap dirty when updating
  src/gui/widgets/minimap.cpp
Labels: UI

#6849 update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#6853 Re-add an <fstream> include for GCC 11
  src/gui/widgets/debug.cpp
Labels: UI

#6850 MP Create Game dialog: improve error handling
  src/game_initialization/create_engine.cpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/terrain/translation.cpp
Labels: MP, UI, Terrain

#6866 Don't include <iostream> in every single file
  src/log.cpp
  src/log.hpp
  src/log_windows.cpp
  src/server/campaignd/server.cpp
  src/server/common/server_base.cpp
  src/server/common/simple_wml.cpp
  src/server/wesnothd/server.cpp
  src/wesnoth.cpp
  src/widgets/menu.cpp
  src/widgets/widget.cpp
Labels: MP, Add-ons

#6859 TSG S4 Fixed replay OOS on victory event
  changelog.md
  data/campaigns/The_South_Guard/scenarios/04_Vale_of_Tears.cfg
Labels: Campaign

#6881 1.17 Ghost-line animations
  data/core/images/units/undead-spirit/ghost-base.png
  data/core/images/units/undead-spirit/nightgaunt-attack-1.png
  data/core/images/units/undead-spirit/nightgaunt-attack-2.png
  data/core/images/units/undead-spirit/nightgaunt-attack-3a.png
  data/core/images/units/undead-spirit/nightgaunt-attack-3b.png
  data/core/images/units/undead-spirit/nightgaunt-attack-4a.png
  data/core/images/units/undead-spirit/nightgaunt-attack-4b.png
  data/core/images/units/undead-spirit/nightgaunt-defend-1.png
  data/core/images/units/undead-spirit/nightgaunt-defend-2.png
  data/core/images/units/undead-spirit/nightgaunt-shadow.png
  data/core/images/units/undead-spirit/nightgaunt-standing-s-1.png
  data/core/images/units/undead-spirit/nightgaunt-standing-s-2.png
  data/core/images/units/undead-spirit/nightgaunt-standing-s-3.png
  data/core/images/units/undead-spirit/nightgaunt.png
  data/core/units/undead/Spirit_Ghost.cfg
  data/core/units/undead/Spirit_Nightgaunt.cfg
Labels: Graphics, Units

#6885 Schema: the [fire_event][data] tag is optional
  data/schema/core/actionwml.cfg
Labels: Schema

#6421 Remove command prefixes on commandline
  src/chat_command_handler.hpp
  src/map_command_handler.hpp
  src/menu_events.cpp
Labels: Backport, UI

#6889 update codeblock for gcc11
  projectfiles/CodeBlocks/campaignd.cbp
  projectfiles/CodeBlocks/liblua.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
Labels: Building

#6894 Add --log-to-file command line option.
  doc/man/wesnoth.6
  src/commandline_options.cpp
  src/filesystem.cpp
  src/filesystem.hpp
  src/log.cpp
  src/log.hpp
  src/log_windows.cpp
  src/log_windows.hpp
  src/wesnoth.cpp
Labels: Docs, Command Line

#6878 1.17 (test scenario) out-of-hex unit animation tests
  data/scenario-test.cfg
Labels: Graphics

#6914 [UtBS] Add series of bat screeches in the Zochtanol Isle scenario
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
Labels: Campaign

#6915 [UTBS] Remove some fungus from S6
  data/campaigns/Under_the_Burning_Suns/maps/06b_In_the_Domain_of_the_Dwarves.map
Labels: Campaign

#6684 NR: give hamel leadership
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
  data/campaigns/Northern_Rebirth/scenarios/02_02_Meeting_With_Dwarves.cfg
  data/campaigns/Northern_Rebirth/scenarios/03_To_the_Mines.cfg
  data/campaigns/Northern_Rebirth/scenarios/05a_02_Dealings.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
Labels: Enhancement, Campaign

#6921 [SoF] In S7, edit a sentence to not use awkward reuse of the word "doubt"
  data/campaigns/Sceptre_of_Fire/scenarios/7_Outriding_the_Outriders.cfg
Labels: Campaign

#6923 Revert Windows ClearType CA work-around
  src/font/text.cpp
Labels: UI

#6925 Replace deprecated wesnoth.fire_event with wesnoth.game_events.fire
  data/campaigns/Eastern_Invasion/lua/bandits.lua
  data/campaigns/World_Conquest/lua/campaign/enemy.lua
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
  data/campaigns/World_Conquest/lua/game_mechanics/dropping.lua
  data/lua/wml/move_unit.lua
Labels: Campaign, Lua API

#6926 update codeblock projectfile
  projectfiles/CodeBlocks/tests.cbp
Labels: Building
