Repository wesnoth/wesnoth, pull requests merged in 2022-04, with the labels that each got.

#5456 GUI2/Dispatcher: refactored [dis]connect_signal to use constexpr-if
  src/gui/core/event/dispatcher.hpp
Labels: UI

#6605 Attempt to actually make this a compile-time check
  src/gui/core/event/dispatcher.hpp
  src/utils/general.hpp
Labels: UI

#6604 Scale map labels by zoom
  src/map/label.cpp
Labels: UI

#6588 1.17 terrain transitions update
  data/core/images/terrain/desert_mountains/desert-castle-n-ne.png
  data/core/images/terrain/desert_mountains/desert-castle-n.png
  data/core/images/terrain/desert_mountains/desert-castle-ne.png
  data/core/images/terrain/desert_mountains/desert-castle-nw.png
  data/core/images/terrain/desert_mountains/desert-castle2-n.png
  data/core/images/terrain/desert_mountains/desert-castle2-ne.png
  data/core/images/terrain/desert_mountains/desert-castle2-nw.png
  data/core/images/terrain/desert_mountains/desert-n.png
  data/core/images/terrain/misc/rails-end-n.png
  data/core/images/terrain/misc/rubble-n.png
  data/core/images/terrain/misc/rubble-ne.png
  data/core/images/terrain/misc/rubble-nw.png
  data/core/images/terrain/misc/rubble-s.png
  data/core/images/terrain/misc/rubble-se.png
  data/core/images/terrain/misc/rubble-sw.png
  data/core/images/terrain/misc/rubble.png
  data/core/images/terrain/misc/rubble2-n.png
  data/core/images/terrain/misc/rubble2-ne.png
  data/core/images/terrain/misc/rubble2-s.png
  data/core/images/terrain/misc/rubble2-se.png
  data/core/images/terrain/misc/rubble4.png
  data/core/images/terrain/misc/rubble5.png
  data/core/images/terrain/misc/rubble6.png
  data/core/images/terrain/walls/stone/wall-minestone-mixed-corner-ccw-bl.png
  data/core/images/terrain/walls/stone/wall-minestone-mixed-corner-cw-bl.png
  data/core/images/terrain/walls/stone/wall-stone-mine-concave-tr.png
  data/core/images/terrain/walls/stone/wall-stone-mine-convex-l.png
  data/core/images/terrain/walls/stone/wall-stonemine-mixed-corner-ccw-bl.png
  data/core/images/terrain/walls/stone/wall-stonemine-mixed-corner-cw-bl.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Graphics, Terrain

#6594 Add script to mass convert images to webp.
  utils/optiwebp.py
Labels: Graphics

#6609 THoT: Move unused images to attic
  attic/README.md
  attic/perrin.png
  attic/righteous-flame-icon.png
  data/campaigns/The_Hammer_of_Thursagan/_main.cfg
Labels: Campaign

#6573 fix [firststrike] special with apply_to=opponent crashes Wesnoth 1.16.x
  data/test/maps/4p_single_castle.map
  data/test/scenarios/firststrike_and_laststrike.cfg
  src/units/abilities.cpp
  wml_test_schedule
Labels: Unit Tests, WML, Units

#6612 NR S05a_01 Enhance dialogue between Tallin and Abhai
  changelog.md
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Campaign

#6574 fix [firststrike] special with apply_to=opponent crashes Wesnoth 1.17.x
  data/test/maps/4p_single_castle.map
  data/test/scenarios/firststrike_and_laststrike.cfg
  data/test/scenarios/poison_opponent.cfg
  src/units/abilities.cpp
  wml_test_schedule
Labels: Unit Tests, WML, Units

#6617 SoF: Consistently use lower-case after ellipses
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2p5_Reaching_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3_Searching_for_the_Runecrafter.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/Epilogue.cfg
Labels: Campaign, Prose, Fwdport

#5837 Add wesnoth.interface.add_floating_label as a replacement for wesnoth.print
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/tutorial/utils/utils.cfg
  data/lua/core/interface.lua
  data/lua/wml-tags.lua
  data/schema/core/actionwml.cfg
  data/test/scenarios/overlay_text_demo.cfg
  src/floating_label.cpp
  src/floating_label.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
  utils/emmylua/wesnoth/interface.lua
Labels: Campaign, Unit Tests, Lua API, Schema

#6621 GUI2/Dispatcher: encode event categories in their enum values
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/dispatcher_private.hpp
  src/gui/core/event/handler.hpp
Labels: UI

#6622 GUI2/Distributor: further cleanup
  src/gui/core/event/distributor.cpp
  src/gui/core/event/distributor.hpp
Labels: UI

#6616 Avoid using unit IDs that are no longer valid
  changelog.md
  src/recall_list_manager.cpp
Labels: Backport, Lua API, Engine

#6623 Even more dispatcher
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/dispatcher_private.hpp
  src/gui/core/event/distributor.cpp
  src/gui/core/event/message.hpp
  src/gui/dialogs/debug_clock.hpp
  src/gui/widgets/button.hpp
  src/gui/widgets/clickable_item.hpp
  src/gui/widgets/repeating_button.cpp
  src/gui/widgets/repeating_button.hpp
Labels: UI

#5866 Add support for forum_auth when uploading to campaignd.
  src/addon/client.cpp
  src/addon/validation.cpp
  src/addon/validation.hpp
  src/server/campaignd/server.cpp
  src/server/campaignd/server.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
Labels: MP, Add-ons

#6606 1.17 terrain-graphics macros clean-up
  data/campaigns/Sceptre_of_Fire/utils/terrain.cfg
  data/campaigns/Under_the_Burning_Suns/utils/terrain_graphics.cfg
  data/core/images/terrain/desert_mountains/desert-small-n.png
  data/core/images/terrain/desert_mountains/desert-small-ne.png
  data/core/images/terrain/desert_mountains/desert-small-nw.png
  data/core/images/terrain/desert_mountains/desert-small2-n.png
  data/core/images/terrain/desert_mountains/desert-small2-ne.png
  data/core/images/terrain/desert_mountains/desert-small2-nw.png
  data/core/images/terrain/desert_mountains/peak.png
  data/core/images/terrain/desert_mountains/peak2.png
  data/core/images/terrain/embellishments/plants/desert-bones-small.png
  data/core/images/terrain/embellishments/plants/desert-bones-small2.png
  data/core/images/terrain/embellishments/plants/desert-bones-small3.png
  data/core/images/terrain/embellishments/plants/desert-bones.png
  data/core/images/terrain/embellishments/plants/desert-bones2.png
  data/core/images/terrain/embellishments/plants/desert-bones3.png
  data/core/images/terrain/embellishments/plants/desert-plant-small.png
  data/core/images/terrain/embellishments/plants/desert-plant-small2.png
  data/core/images/terrain/embellishments/plants/desert-plant-small3.png
  data/core/images/terrain/embellishments/plants/desert-plant.png
  data/core/images/terrain/embellishments/plants/desert-plant10.png
  data/core/images/terrain/embellishments/plants/desert-plant2.png
  data/core/images/terrain/embellishments/plants/desert-plant3.png
  data/core/images/terrain/embellishments/plants/desert-plant4.png
  data/core/images/terrain/embellishments/plants/desert-plant5.png
  data/core/images/terrain/embellishments/plants/desert-plant6.png
  data/core/images/terrain/embellishments/plants/desert-plant7.png
  data/core/images/terrain/embellishments/plants/desert-plant8.png
  data/core/images/terrain/embellishments/plants/desert-plant9.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/automatic-borders.cfg
  data/core/terrain-graphics/deprecated-base.cfg
  data/core/terrain-graphics/deprecated-builder.cfg
  data/core/terrain-graphics/deprecated-castles.cfg
  data/core/terrain-graphics/deprecated-gates.cfg
  data/core/terrain-graphics/deprecated-internal-border.cfg
  data/core/terrain-graphics/deprecated-internal-complex.cfg
  data/core/terrain-graphics/deprecated-internal-corners.cfg
  data/core/terrain-graphics/deprecated-internal-generic.cfg
  data/core/terrain-graphics/deprecated-internal-tracks.cfg
  data/core/terrain-graphics/deprecated-keep.cfg
  data/core/terrain-graphics/deprecated-misc.cfg
  data/core/terrain-graphics/deprecated-mountains.cfg
  data/core/terrain-graphics/deprecated-overlay.cfg
  data/core/terrain-graphics/deprecated-transitions.cfg
  data/core/terrain-graphics/deprecated-village.cfg
  data/core/terrain-graphics/deprecated-walls.cfg
  data/core/terrain-graphics/enduring-aquatic.cfg
  data/core/terrain-graphics/enduring-bridge.cfg
  data/core/terrain-graphics/enduring-editor.cfg
  data/core/terrain-graphics/enduring-internal-corners.cfg
  data/core/terrain-graphics/enduring-internal-tracks.cfg
  data/core/terrain-graphics/enduring-tracks.cfg
  data/core/terrain-graphics/enduring-trash.cfg
  data/core/terrain-graphics/new-gates.cfg
  data/core/terrain-graphics/new-internal-tracks.cfg
  data/core/terrain-graphics/new-macros.cfg
  data/core/terrain-graphics/new-mountains.cfg
  data/core/terrain-graphics/new-walls.cfg
Labels: Campaign, Graphics, Terrain

#6627 Unit tests: make separate files for each starting position
  data/test/macros/start_position_common_keep_a_b_c_d.cfg
  data/test/macros/start_position_generic.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/firststrike_and_laststrike.cfg
Labels: Unit Tests

#6582 [1.16] Unit tests for [drains], [poison] and [slows], including apply_to=opponent
  data/test/macros/start_position_common_keep_a_b.cfg
  data/test/maps/2p_single_castle.map
  data/test/scenarios/reflexive_drains.cfg
  data/test/scenarios/reflexive_poison.cfg
  data/test/scenarios/reflexive_slow.cfg
  wml_test_schedule
Labels: Bug, Unit Tests, Units, Fwdport

#6619 Add debug for "[event] is missing name or id"
  src/game_events/manager_impl.cpp
Labels: Enhancement, WML Tools, Fwdport

#6633 [1.16] SoF S09: A few extra translation hints
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/5_Hills_of_the_Shorbear_Clan.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Campaign, Translations, Fwdport

#6640 1.17 Palette cleanup of Ogre sprites
  data/core/images/units/ogres/Ogre_ColorMap.png
  data/core/images/units/ogres/ogre-attack1.png
  data/core/images/units/ogres/ogre-attack2.png
  data/core/images/units/ogres/ogre-attack3.png
  data/core/images/units/ogres/ogre-attack4.png
  data/core/images/units/ogres/ogre-attack5.png
  data/core/images/units/ogres/ogre-defend.png
  data/core/images/units/ogres/ogre-idle-1.png
  data/core/images/units/ogres/ogre-idle-2.png
  data/core/images/units/ogres/ogre.png
  data/core/images/units/ogres/young-ogre-attack1.png
  data/core/images/units/ogres/young-ogre-attack2.png
  data/core/images/units/ogres/young-ogre-attack3.png
  data/core/images/units/ogres/young-ogre-attack4.png
  data/core/images/units/ogres/young-ogre-attack5.png
  data/core/images/units/ogres/young-ogre-defend.png
  data/core/images/units/ogres/young-ogre-idle-1.png
  data/core/images/units/ogres/young-ogre-idle-2.png
  data/core/images/units/ogres/young-ogre-idle-3.png
  data/core/images/units/ogres/young-ogre-idle-4.png
  data/core/images/units/ogres/young-ogre.png
Labels: Graphics, Units

#6648 Fix single-frame title-screen flicker when loading a game or starting a campaign.
  src/gui/dialogs/title_screen.cpp
  src/gui/widgets/window.hpp
Labels: UI

#6649 1.17 cleanup of human peasant-type sprites
  data/core/images/units/human-peasants/HumanPeasant_ColorMap.png
  data/core/images/units/human-peasants/peasant-attack.png
  data/core/images/units/human-peasants/peasant-attack1.png
  data/core/images/units/human-peasants/peasant-attack2.png
  data/core/images/units/human-peasants/peasant-attack3.png
  data/core/images/units/human-peasants/peasant-attack4.png
  data/core/images/units/human-peasants/peasant-attack5.png
  data/core/images/units/human-peasants/peasant-defend.png
  data/core/images/units/human-peasants/peasant-idle-1.png
  data/core/images/units/human-peasants/peasant-idle-2.png
  data/core/images/units/human-peasants/peasant-idle-3.png
  data/core/images/units/human-peasants/peasant-idle-4.png
  data/core/images/units/human-peasants/peasant-idle-5.png
  data/core/images/units/human-peasants/peasant-idle-6.png
  data/core/images/units/human-peasants/peasant-idle-7.png
  data/core/images/units/human-peasants/peasant-ranged.png
  data/core/images/units/human-peasants/peasant-ranged1.png
  data/core/images/units/human-peasants/peasant-ranged2.png
  data/core/images/units/human-peasants/peasant.png
  data/core/images/units/human-peasants/ruffian-attack-1.png
  data/core/images/units/human-peasants/ruffian-attack-2.png
  data/core/images/units/human-peasants/ruffian-attack-3.png
  data/core/images/units/human-peasants/ruffian-attack-4.png
  data/core/images/units/human-peasants/ruffian-attack-5.png
  data/core/images/units/human-peasants/ruffian-attack-6.png
  data/core/images/units/human-peasants/ruffian-attack-7.png
  data/core/images/units/human-peasants/ruffian-attack-8.png
  data/core/images/units/human-peasants/ruffian-attack-9.png
  data/core/images/units/human-peasants/ruffian-defend-1.png
  data/core/images/units/human-peasants/ruffian-defend-2.png
  data/core/images/units/human-peasants/ruffian-idle-1.png
  data/core/images/units/human-peasants/ruffian-idle-2.png
  data/core/images/units/human-peasants/ruffian-idle-3.png
  data/core/images/units/human-peasants/ruffian-idle-4.png
  data/core/images/units/human-peasants/ruffian-idle-5.png
  data/core/images/units/human-peasants/ruffian.png
  data/core/images/units/human-peasants/woodsman-bow-attack-1.png
  data/core/images/units/human-peasants/woodsman-bow-attack-2.png
  data/core/images/units/human-peasants/woodsman-bow-attack-3.png
  data/core/images/units/human-peasants/woodsman-bow-attack-4.png
  data/core/images/units/human-peasants/woodsman-bow-defend.png
  data/core/images/units/human-peasants/woodsman-bow.png
  data/core/images/units/human-peasants/woodsman-defend.png
  data/core/images/units/human-peasants/woodsman-idle-1.png
  data/core/images/units/human-peasants/woodsman-idle-10.png
  data/core/images/units/human-peasants/woodsman-idle-11.png
  data/core/images/units/human-peasants/woodsman-idle-12.png
  data/core/images/units/human-peasants/woodsman-idle-13.png
  data/core/images/units/human-peasants/woodsman-idle-14.png
  data/core/images/units/human-peasants/woodsman-idle-2.png
  data/core/images/units/human-peasants/woodsman-idle-3.png
  data/core/images/units/human-peasants/woodsman-idle-4.png
  data/core/images/units/human-peasants/woodsman-idle-5.png
  data/core/images/units/human-peasants/woodsman-idle-6.png
  data/core/images/units/human-peasants/woodsman-idle-7.png
  data/core/images/units/human-peasants/woodsman-idle-8.png
  data/core/images/units/human-peasants/woodsman-idle-9.png
  data/core/images/units/human-peasants/woodsman-melee-1.png
  data/core/images/units/human-peasants/woodsman-melee-2.png
  data/core/images/units/human-peasants/woodsman.png
Labels: Graphics, Units

#6637 Scroll at a consistent speed.
  src/controller_base.cpp
  src/controller_base.hpp
Labels: Bug, Backport, UI

#6654 Refactor FindHistory.cmake
  cmake/FindHistory.cmake
  src/CMakeLists.txt
Labels: Building, CMake

#6656 Add images solely for use in the scons conftests.
  data/core/images/scons_conftest_images/README.md
  data/core/images/scons_conftest_images/end-n.jpg
  data/core/images/scons_conftest_images/end-n.png
  data/core/images/scons_conftest_images/end-n.webp
  scons/sdl.py
Labels: Graphics, Building, SCons

#6629 Add a pixel scale multiplier option, enabling integer scaling of the game to higher resolutions.
  data/gui/window/preferences/03_display.cfg
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/build_info.cpp
  src/controller_base.cpp
  src/display.cpp
  src/display.hpp
  src/editor/controller/editor_controller.cpp
  src/editor/toolkit/editor_toolkit.cpp
  src/events.cpp
  src/floating_label.cpp
  src/font/sdl_ttf_compat.cpp
  src/game_display.cpp
  src/gui/core/canvas.cpp
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/core/event/distributor.cpp
  src/gui/core/event/handler.cpp
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/preferences_dialog.hpp
  src/gui/dialogs/title_screen.cpp
  src/gui/widgets/helper.cpp
  src/gui/widgets/settings.cpp
  src/gui/widgets/window.cpp
  src/help/help.cpp
  src/help/help_browser.cpp
  src/help/help_menu.cpp
  src/help/help_text_area.cpp
  src/hotkey/command_executor.cpp
  src/mouse_events.cpp
  src/mouse_handler_base.cpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/scripting/lua_gui2.cpp
  src/sdl/input.cpp
  src/sdl/input.hpp
  src/sdl/surface.cpp
  src/sdl/window.cpp
  src/sdl/window.hpp
  src/show_dialog.cpp
  src/tooltips.cpp
  src/video.cpp
  src/video.hpp
  src/widgets/button.cpp
  src/widgets/menu.cpp
  src/widgets/scrollarea.cpp
  src/widgets/scrollbar.cpp
  src/widgets/textbox.cpp
  src/widgets/widget.cpp
Labels: macOS, UI, Editor, Lua API, Building, Help

#6658 [wc2p] fix broken icon image path for WC2P campaign
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign
