Repository wesnoth/wesnoth, pull requests merged in 2022-11, with the labels that each got.

#7075 Fix male Dark Horse unit name
  data/core/units/monsters/Horse.cfg
Labels: Translations, Units

#6966 Fix wmllint translation mark errors
  data/campaigns/Descent_Into_Darkness/scenarios/07a_A_Small_Favor.cfg
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
  data/campaigns/Secrets_of_the_Ancients/gui/zombie_recruit_dialog.cfg
  data/campaigns/Under_the_Burning_Suns/units/units.cfg
  data/campaigns/World_Conquest/gui/help_dialog.cfg
  data/campaigns/World_Conquest/gui/invest_dialog.cfg
  data/campaigns/World_Conquest/gui/settings_dialog.cfg
  data/core/terrain.cfg
  data/tools/wmllint
Labels: Campaign, WML Tools, Units, Terrain

#7076 Add documentation to more WML unit tests.
  data/test/scenarios/ability_id_active_test.cfg
  data/test/scenarios/ability_id_not_active_test.cfg
  data/test/scenarios/as_text.cfg
  data/test/scenarios/feeding.cfg
  data/test/scenarios/filter_this_unit.cfg
  data/test/scenarios/filter_vision.cfg
  data/test/scenarios/for-loops.cfg
  data/test/scenarios/has_ally.cfg
  data/test/scenarios/heal.cfg
  data/test/scenarios/interrupts.cfg
  data/test/scenarios/lua_functional.cfg
  data/test/scenarios/lua_map_find.cfg
  data/test/scenarios/mapgen_filter.cfg
  data/test/scenarios/move_skip_sighted.cfg
  data/test/scenarios/order_of_nested_events.cfg
  data/test/scenarios/poison_opponent.cfg
  data/test/scenarios/prestart_settings.cfg
  data/test/scenarios/put_to_recall_and_modify.cfg
  data/test/scenarios/recall_by_unit_tag.cfg
  data/test/scenarios/recruit_facing.cfg
  data/test/scenarios/scatter_units.cfg
  wml_test_schedule
Labels: Unit Tests

#7077 SoF S9: Separate Toomak's last breath message from the events following his death
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
Labels: Backport, Campaign

#7079 wmllint: Ignore labels for translation if a PNG extension is found
  data/tools/wmllint
Labels: Backport, WML Tools

#7083 DM S21: Show Delfador crossing at the Ford of Abez
  data/campaigns/Delfadors_Memoirs/utils/bigmap.cfg
Labels: Backport, Campaign

#7086 Add unit tests for [break] and [return] during [fire_event]
  data/test/scenarios/interrupts.cfg
  wml_test_schedule
Labels: Unit Tests, WML

#7048 Adding language filter option in addon menu
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/addon/manager.hpp
Labels: UI, Add-ons

#7092 add missing terrain type alias to elevation markers
  data/core/terrain.cfg
Labels: Terrain

#7091 Fix "Chance to hit" not translated in tooltip
  src/gui/dialogs/unit_attack.cpp
Labels: Translations, UI

#7114 [1.16] Add unit tests for [break] and [return] during [fire_event]
  data/test/scenarios/interrupts.cfg
  wml_test_schedule
Labels: Unit Tests, WML

#7115 [1.16] run_wml_tests: add an option to filter tests by name
  run_wml_tests
Labels: Unit Tests

#7098 Add screenshots directory to game version dialogue
  data/gui/window/game_version.cfg
  src/gui/dialogs/game_version_dialog.cpp
Labels: UI

#7116 Add some more unit test documentation.
  data/test/scenarios/effect_increase_attacks.cfg
  data/test/scenarios/filter_ability_special_id_active.cfg
  data/test/scenarios/filter_special_id_active.cfg
  data/test/scenarios/filter_special_id_not_exists.cfg
  data/test/scenarios/leadership_when_other_has_no_special.cfg
  data/test/scenarios/leadership_when_other_has_special.cfg
  data/test/scenarios/opponent_weapon_has_no_special.cfg
  data/test/scenarios/opponent_weapon_has_special.cfg
  data/test/scenarios/sighted_events.cfg
  data/test/scenarios/simple_find_path.cfg
  data/test/scenarios/store_locations.cfg
  data/test/scenarios/store_reachable_locations_vision.cfg
  data/test/scenarios/store_unit_defense.cfg
  data/test/scenarios/student_teacher_are_same.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_adjacent_leadership_fail.cfg
  data/test/scenarios/swarm_disables_upgrades_with_abilities_fail.cfg
  data/test/scenarios/swarms_effects_not_checkable.cfg
  data/test/scenarios/swarms_filter_student_by_type_allied.cfg
  wml_test_schedule
Labels: Unit Tests

#7102 1.17 - standing animations for zombies
  data/core/images/units/undead/soulless-mounted-standing-1.png
  data/core/images/units/undead/soulless-mounted-standing-2.png
  data/core/images/units/undead/soulless-mounted-standing-3.png
  data/core/images/units/undead/soulless-mounted-standing-4.png
  data/core/images/units/undead/soulless-mounted-standing-5.png
  data/core/images/units/undead/soulless-mounted-standing-6.png
  data/core/images/units/undead/soulless-mounted-standing-7.png
  data/core/images/units/undead/soulless-standing-1.png
  data/core/images/units/undead/soulless-standing-2.png
  data/core/images/units/undead/soulless-standing-3.png
  data/core/images/units/undead/soulless-standing-4.png
  data/core/images/units/undead/soulless-standing-5.png
  data/core/images/units/undead/soulless-standing-6.png
  data/core/images/units/undead/soulless-standing-7.png
  data/core/images/units/undead/zombie-mounted-standing-1.png
  data/core/images/units/undead/zombie-mounted-standing-2.png
  data/core/images/units/undead/zombie-mounted-standing-3.png
  data/core/images/units/undead/zombie-mounted-standing-4.png
  data/core/images/units/undead/zombie-mounted-standing-5.png
  data/core/images/units/undead/zombie-mounted-standing-6.png
  data/core/images/units/undead/zombie-mounted-standing-7.png
  data/core/images/units/undead/zombie-standing-1.png
  data/core/images/units/undead/zombie-standing-2.png
  data/core/images/units/undead/zombie-standing-3.png
  data/core/images/units/undead/zombie-standing-4.png
  data/core/images/units/undead/zombie-standing-5.png
  data/core/images/units/undead/zombie-standing-6.png
  data/core/images/units/undead/zombie-standing-7.png
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Graphics, Units

#7124 Disable saving of replays for story-only scenarios
  data/campaigns/Dead_Water/scenarios/11_Getting_Help.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/01_Overture.cfg
  data/campaigns/Delfadors_Memoirs/scenarios/05_Council_in_Weldyn.cfg
  data/campaigns/Eastern_Invasion/scenarios/15_The_Council.cfg
  data/campaigns/Heir_To_The_Throne/scenarios/21_Elven_Council.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter4/13_News_from_the_Front.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/2t_In_the_Dwarven_City.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/3t_The_Council_Regathers.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/4t_The_Jeweler.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/07_Meeting_of_the_Minds.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/13_Together_Again.cfg
  data/campaigns/Secrets_of_the_Ancients/scenarios/17_Mortality.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/07_Return_to_Oldwood.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/11_Southbay_in_Winter.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/16_The_Kalian.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/18_A_Spy_in_the_Woods.cfg
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/21_The_Plan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/10_Speaking_with_the_Fishes.cfg
Labels: Backport, Campaign

#7131 LoW S9: Remove standard enemies-defeated as a victory condition
  data/campaigns/Legend_of_Wesmere/scenarios/chapter3/09_Bounty_Hunters.cfg
Labels: Backport, Campaign

#7112 Make Nightblade the default advancement for Slayer
  data/campaigns/Dead_Water/scenarios/05_Tirigaz.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter2/07_Elves_Last_Stand.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/16_The_Coward.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/core/macros/deprecated-utils.cfg
  data/core/macros/optional_unit_advancements.cfg
  data/core/units/orcs/Slayer.cfg
  data/multiplayer/factions/northerners-aoh.cfg
Labels: Campaign, MP, Units

#7119 Slightly reduce merfolk forest and hill move cost
  data/core/units.cfg
Labels: Units

#7134 Simple refactor in read_argv
  src/commandline_argv.cpp
Labels: Command Line

#7136 Make undo work again, undeprecate on_event()
  changelog_entries/fix_undo.md
  data/lua/diversion.lua
  data/lua/on_event.lua
  data/modifications/pick_advance/main.lua
  data/multiplayer/scenarios/2p_Dark_Forecast.lua
  data/multiplayer/scenarios/2p_Isle_of_Mists.lua
Labels: Bug, MP, Lua API, Engine

#7140 HttT S14: give Relgorn his missing traits
  data/campaigns/Heir_To_The_Throne/scenarios/14_Plunging_Into_the_Darkness.cfg
Labels: Enhancement, Campaign

#7061 1.17 dunefolk falconer portrait
  data/core/images/portraits/dunefolk/falconer.webp
  data/core/units/dunefolk/Falconer.cfg
  data/core/units/dunefolk/Sky_Hunter.cfg
Labels: Graphics, Units

#7144 [1.17]further simplification of overwrite_specials attribute code
  src/units/abilities.cpp
  src/units/attack_type.hpp
Labels: Units

#7147 Refactor ability lists using utils::erase_if and std::remove_if
  src/actions/heal.cpp
  src/units/abilities.cpp
  src/units/unit.cpp
  src/units/unit.hpp
  src/utils/general.hpp
Labels: Units

#7150 include Refactor ability lists using utils::erase_if and std::remove_if to overwrite_specials
  src/units/abilities.cpp
Labels: Units

#7142 HttT: give Kalenz his missing 2nd trait
  data/campaigns/Heir_To_The_Throne/utils/httt_utils.cfg
Labels: Enhancement, Campaign

#7135 Remove some un-needed references and optimize some string operations
  src/commandline_options.cpp
Labels: Command Line

#7156 More unit test documentation.
  data/test/scenarios/swarm_disables_upgrades.cfg
  data/test/scenarios/test_add_or_sub_in_leadership.cfg
  data/test/scenarios/test_assert.cfg
  data/test/scenarios/test_berserk_firststrike.cfg
  data/test/scenarios/test_check_victory.cfg
  data/test/scenarios/test_clear.cfg
  data/test/scenarios/test_create_side.cfg
  data/test/scenarios/test_cve_2018_1999023.cfg
  data/test/scenarios/test_dofile.cfg
  data/test/scenarios/test_effect_on_vision.cfg
  data/test/scenarios/test_end_turn.cfg
  data/test/scenarios/test_for_tag.cfg
  data/test/scenarios/test_grunt_tod_damage.cfg
  data/test/scenarios/test_lua_color.cfg
  data/test/scenarios/test_lua_name.cfg
  wml_test_schedule
Labels: Unit Tests

#7162 Don't call back() if open_window_stack is empty since that's UB.
  src/gui/widgets/text_box_base.cpp
Labels: UI

#7160 Add unit tests for interpolated event names and end_turn
  data/test/scenarios/premature_end_turn.cfg
  data/test/scenarios/test_event_names_and_order.cfg
  wml_test_schedule
Labels: Unit Tests, WML

#7158 Add a unit test for the preprocessor's #ifdef handling
  data/test/scenarios/test_preprocessor_ifdef_in_arg.cfg
  wml_test_schedule
Labels: Backport, Unit Tests

#7157 Fix [special_note] duplication when unstoring units
  changelog_entries/special_note_duplication.md
  data/test/scenarios/special_note_from_movetype.cfg
  data/test/scenarios/special_note_individual_unit.cfg
  src/movetype.cpp
  src/movetype.hpp
  src/units/types.cpp
  src/units/unit.cpp
  wml_test_schedule
Labels: Bug, Backport, Unit Tests, Units

#7175 Change Twitter link to Mastodon link in README.md
  README.md
Labels: Docs

#7176 [1.16] Fix [special_note] duplication when unstoring units
  changelog_entries/special_note_duplication.md
  data/test/scenarios/special_note_from_movetype.cfg
  data/test/scenarios/special_note_individual_unit.cfg
  src/movetype.cpp
  src/movetype.hpp
  src/units/types.cpp
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units

#7151 Sync Delurin between HttT and Liberty
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
  data/campaigns/Liberty/scenarios/01_The_Raid.cfg
Labels: Enhancement, Campaign, Units
