Repository wesnoth/wesnoth, pull requests merged in 2022-06, with the labels that each got.

#6734 Sync rendering system changes so far
  data/gui/window/wml_message.cfg
  data/schema/gui.cfg
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/color.hpp
  src/cursor.cpp
  src/display.cpp
  src/display.hpp
  src/draw.cpp
  src/draw.hpp
  src/editor/palette/location_palette.cpp
  src/editor/palette/terrain_palettes.hpp
  src/floating_label.cpp
  src/game_launcher.cpp
  src/gui/auxiliary/typed_formula.hpp
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
  src/gui/core/canvas_private.hpp
  src/gui/dialogs/terrain_layers.cpp
  src/gui/widgets/image.cpp
  src/gui/widgets/settings.cpp
  src/gui/widgets/styled_widget.cpp
  src/gui/widgets/widget.cpp
  src/gui/widgets/window.cpp
  src/halo.cpp
  src/help/help_text_area.cpp
  src/help/help_text_area.hpp
  src/image_modifications.cpp
  src/log.cpp
  src/picture.cpp
  src/picture.hpp
  src/scripting/lua_fileops.cpp
  src/sdl/rect.cpp
  src/sdl/rect.hpp
  src/sdl/render_utils.hpp
  src/sdl/texture.cpp
  src/sdl/texture.hpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
  src/show_dialog.cpp
  src/show_dialog.hpp
  src/tests/test_image_modifications.cpp
  src/video.cpp
  src/video.hpp
  src/widgets/button.cpp
  src/widgets/button.hpp
  src/widgets/menu.cpp
  src/widgets/scrollbar.cpp
  src/widgets/scrollbar.hpp
  src/widgets/textbox.cpp
Labels: macOS, UI, Editor, Lua API, Building, Help, Schema

#6739 update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#6742 Store add-on download count in the database.
  src/server/campaignd/server.cpp
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  utils/mp-server/query-scripts/25-addon-download-counts.sql
  utils/mp-server/table_definitions.sql
Labels: MP, Services, Add-ons

#6747 1.17 some horseman line standing animations
  data/core/images/units/human-loyalists/horseman/horseman-breeze-1.png
  data/core/images/units/human-loyalists/horseman/horseman-breeze-2.png
  data/core/images/units/human-loyalists/horseman/horseman-breeze-3.png
  data/core/images/units/human-loyalists/horseman/horseman-breeze-4.png
  data/core/images/units/human-loyalists/horseman/horseman-breeze-5.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-1.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-2.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-3.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-4.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-5.png
  data/core/images/units/human-loyalists/knight/knight-breeze-1.png
  data/core/images/units/human-loyalists/knight/knight-breeze-2.png
  data/core/images/units/human-loyalists/knight/knight-breeze-3.png
  data/core/images/units/human-loyalists/knight/knight-breeze-4.png
  data/core/images/units/human-loyalists/knight/knight-breeze-5.png
  data/core/images/units/human-loyalists/knight/knight-ne-breeze-1.png
  data/core/images/units/human-loyalists/knight/knight-ne-breeze-2.png
  data/core/images/units/human-loyalists/knight/knight-ne-breeze-3.png
  data/core/images/units/human-loyalists/knight/knight-ne-breeze-4.png
  data/core/images/units/human-loyalists/knight/knight-ne-breeze-5.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-1.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-2.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-3.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-4.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-5.png
  data/core/units/humans/Horse_Knight.cfg
  data/core/units/humans/Horse_Lancer.cfg
  data/core/units/humans/Horseman.cfg
Labels: Graphics, Units

#6751 1.17 small terrain updates
  data/campaigns/Secrets_of_the_Ancients/_main.cfg
  data/campaigns/Secrets_of_the_Ancients/utils/terrain-compat.cfg
  data/core/images/terrain/cave/path-n.png
  data/core/images/terrain/cave/path-ne.png
  data/core/images/terrain/cave/path-nw.png
  data/core/images/terrain/cave/path-s.png
  data/core/images/terrain/cave/path-se.png
  data/core/images/terrain/cave/path-sw.png
  data/core/images/terrain/flat/sandy-path-n.png
  data/core/images/terrain/flat/sandy-path-ne.png
  data/core/images/terrain/flat/sandy-path-nw.png
  data/core/images/terrain/flat/sandy-path-s.png
  data/core/images/terrain/flat/sandy-path-se.png
  data/core/images/terrain/flat/sandy-path-sw.png
  data/core/images/terrain/flat/sandy-path.png
  data/core/images/terrain/flat/sandy-path2.png
  data/core/images/terrain/flat/sandy-path3.png
  data/core/images/terrain/flat/sandy-path4.png
  data/core/images/terrain/flat/sandy-path5.png
  data/core/images/terrain/flat/sandy-path6.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Campaign, Graphics, Terrain

#6744 Fix potential for OOS errors due to wrong viewing side in vision_path
  src/pathfind/pathfind.cpp
Labels: Bug, MP, Replays, Fwdport

#6758 macOS: Link with AppKit and Foundation frameworks
  CMakeLists.txt
  src/CMakeLists.txt
Labels: Building, CMake

#6763 Fix text positioning when clipped to a viewport.
  src/gui/core/canvas.cpp
Labels: UI

#6766 update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#6771 Fix some SoTA zombie recruit dialog errors
  data/campaigns/Secrets_of_the_Ancients/gui/zombie_recruit_dialog.cfg
Labels: Campaign

#6764 Fix wmlindent quote detection
  data/ai/micro_ais/scenarios/animals.cfg
  data/core/terrain-graphics.cfg
  data/core/units/orcs/Assassin.cfg
  data/scenario-test.cfg
  data/tools/wmlindent
Labels: AI, WML Tools, Units, Terrain

#6779 SDL: Increase requirement to 2.0.10
  CMakeLists.txt
  INSTALL.md
  SConstruct
  changelog.md
Labels: Building, Packaging, SCons, CMake

#6789 Enable LTO for flatpak.
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

#6785 Add event unit tests for dynamic filters and names
  data/test/scenarios/event_handlers_in_events.cfg
  wml_test_schedule
Labels: Unit Tests

#6794 Fix load_string() ignoring the passed chunk name
  data/test/scenarios/test_lua_name.cfg
  src/scripting/lua_kernel_base.cpp
  wml_test_schedule
Labels: Unit Tests, Lua API

#6792 Fix retreat injured CA taking allied villages
  data/ai/lua/retreat.lua
  data/ai/utils/default_config.cfg
  data/schema/ai/aspect_complex.cfg
  data/schema/ai/aspect_simple.cfg
  data/schema/ai/modify.cfg
  data/tools/emacs_mode/wesnoth-wml-data.el
  src/ai/contexts.cpp
  src/ai/contexts.hpp
  src/ai/formula/ai.cpp
  src/ai/manager.cpp
  src/ai/registry.cpp
Labels: AI, WML Tools, WFL, Schema

#6783 Some fixes to the Experimental AI
  data/ai/lua/ca_castle_switch.lua
  data/ai/lua/ca_recruit_rushers.lua
  data/ai/lua/generic_recruit_engine.lua
  data/ai/micro_ais/cas/ca_recruit_rushers.lua
  data/ai/micro_ais/mai-defs/recruiting.lua
Labels: AI

#6801 Draw rectangles as lines for some SDL versions.
  src/draw.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
  src/sdl/window.cpp
  src/video.cpp
Labels: Graphics

#5163 Fix #4961 (halo animations sometimes freeze)
  src/display.cpp
  src/game_display.cpp
Labels: Graphics

#5369 [harm_unit] fix secondary_attack animation
  data/lua/wml/harm_unit.lua
Labels: Lua API

#6515 world conquest: fix bezoar artifact being bugged
  changelog.md
  data/campaigns/World_Conquest/lua/game_mechanics/artifacts.lua
Labels: Ready for testing, Campaign, MP

#6808 [Units] [Loyalists] Add missing resistance special notes to Javelineer
  data/core/units/humans/Loyalist_Javelineer.cfg
Labels: Enhancement, Units, Prose

#6802 Mai parms tests
  data/ai/lua/ai_helper.lua
  data/ai/micro_ais/mai-defs/animals.lua
  data/ai/micro_ais/mai-defs/bottleneck.lua
  data/ai/micro_ais/mai-defs/escort.lua
  data/ai/micro_ais/mai-defs/fast.lua
  data/ai/micro_ais/mai-defs/guardian.lua
  data/ai/micro_ais/mai-defs/healers.lua
  data/ai/micro_ais/mai-defs/misc.lua
  data/ai/micro_ais/mai-defs/patrol.lua
  data/ai/micro_ais/mai-defs/protect.lua
  data/ai/micro_ais/mai-defs/recruiting.lua
  data/ai/micro_ais/micro_ai_helper.lua
  data/ai/micro_ais/scenarios/guardians.cfg
  data/ai/micro_ais/scenarios/lurkers.cfg
  data/ai/micro_ais/scenarios/swarm.cfg
  src/teambuilder.cpp
Labels: AI

#6810 update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#6807 Remove WC's custom Pick Your Advancements mod
  data/campaigns/World_Conquest/gui/help_dialog.cfg
  data/campaigns/World_Conquest/lua/game_mechanics/wocopedia/help.lua
  data/campaigns/World_Conquest/lua/map/main.lua
  data/campaigns/World_Conquest/lua/optional_mechanics/pick_advance.lua
  data/campaigns/World_Conquest/resources/resources.cfg
Labels: Campaign

#6811 Manual forward-port of #4244.
  src/gui/dialogs/network_transmission.cpp
  src/gui/dialogs/network_transmission.hpp
Labels: UI
