Repository wesnoth/wesnoth, pull requests merged in 2023-04, with the labels that each got.

#7505 updated Kalenz's dialogue #7110
  data/campaigns/Legend_of_Wesmere/scenarios/chapter2/06_Acquaintance_in_Need.cfg
Labels: Campaign

#7506 Set uploader attribute when forum_auth=true and passphrase exists in the pbl.
  src/gui/dialogs/addon/manager.cpp
Labels: UI, Add-ons

#7513 Units: Add `submerge` ability to Bone Knight and solve RIPLIB
  data/core/units/undead/Skele_Bone_Knight.cfg
Labels: Enhancement, Units

#7512 Add support for [effect] apply_to=level
  src/units/unit.cpp
Labels: Units

#7496 Editor palettes: fix -Wshorten-64-to-32 and improve docs
  src/editor/palette/editor_palettes.cpp
  src/editor/palette/editor_palettes.hpp
  src/editor/palette/location_palette.cpp
  src/editor/palette/location_palette.hpp
  src/editor/palette/palette_manager.cpp
  src/editor/palette/palette_manager.hpp
Labels: Editor

#7473 Crop dragon unit images to fit the side-bar window
  data/core/units/monsters/Fire_Dragon.cfg
  data/core/units/monsters/Skeletal_Dragon.cfg
Labels: Graphics, Units

#7517 Units/Nibbler: set resistances to be same as level ups
  data/core/units/monsters/Caribe_Nibbler.cfg
Labels: Enhancement, Units

#7510 Correctly handle no game history data existing.
  src/gui/dialogs/multiplayer/match_history.cpp
  src/server/common/resultsets/game_history.cpp
Labels: MP, UI, Add-ons

#7538 Stop removing manually-added labels on Github PRs
  .github/workflows/labeler.yml
Labels: CI

#7515 Add achievements to DiD
  data/campaigns/Descent_Into_Darkness/achievements.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/06_Return_to_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/09_Descent_into_Darkness.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/10_Endless_Night.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/11_Squidville.cfg
Labels: Campaign, Achievements

#7518 Add achievements to Liberty
  data/campaigns/Liberty/achievements.cfg
  data/campaigns/Liberty/scenarios/02_Civil_Disobedience.cfg
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
  data/campaigns/Liberty/scenarios/05_Hide_and_Seek.cfg
  data/campaigns/Liberty/scenarios/06_The_Hunters.cfg
  data/campaigns/Liberty/scenarios/07_Glory.cfg
Labels: Campaign, Achievements

#7541 Adjust how no game history results are handled
  src/gui/dialogs/multiplayer/match_history.cpp
  src/server/common/resultsets/game_history.cpp
Labels: MP, UI, Add-ons

#7539 fix ability used like weapon affect placeholder weapon used in defense when not attack of same range what attacker
  src/units/abilities.cpp
Labels: Units

#7537 Test attack_filter with melee-only vs ranged-only units
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filter_attack_no_defense.cfg
  wml_test_schedule
Labels: Unit Tests, Units

#7545 HttT: Restore context information for Haralandum's name
  data/campaigns/Heir_To_The_Throne/scenarios/20b_Underground_Channels.cfg
Labels: Campaign

#7549 Fix modify_unit recall_cost indexing issue
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/modify_unit_recall_cost.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units

#7530 Store side leader information in the database.
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
  utils/mp-server/query-scripts/13-leaders-by-side-count.sql
  utils/mp-server/query-scripts/14-maps-by-game-count.sql
  utils/mp-server/query-scripts/15-maps-by-game-count-and-version.sql
  utils/mp-server/query-scripts/16-modifications-by-game-count.sql
  utils/mp-server/query-scripts/17-modifications-by-game-count-and-version.sql
  utils/mp-server/query-scripts/18-oos-vs-game-count.sql
  utils/mp-server/query-scripts/19-oos-count-by-era.sql
  utils/mp-server/query-scripts/20-oos-count-by-era-and-version.sql
  utils/mp-server/query-scripts/21-oos-count-by-map.sql
  utils/mp-server/query-scripts/22-oos-count-by-map-and-version.sql
  utils/mp-server/query-scripts/23-oos-count-by-modification.sql
  utils/mp-server/query-scripts/24-oos-count-by-modification-and-version.sql
  utils/mp-server/query-scripts/25-oos-count-by-era-map-modification-and-version.sql
  utils/mp-server/query-scripts/26-oos-replays-list.sql
  utils/mp-server/query-scripts/27-oos-replays-list-and-version.sql
  utils/mp-server/query-scripts/28-addon-download-counts.sql
  utils/mp-server/table_definitions.sql
Labels: MP, Services, Add-ons

#7562 [1.17] - make engine-bobbing sprites use the correct primary frame
  data/core/units/monsters/Caribe.cfg
  data/core/units/monsters/Caribe_Hunter.cfg
  data/core/units/monsters/Caribe_Nibbler.cfg
  data/core/units/monsters/Dragonfly.cfg
  data/core/units/monsters/Dragonfly_Grand.cfg
  data/core/units/monsters/Elder_Falcon.cfg
  data/core/units/monsters/Falcon.cfg
  data/core/units/monsters/Seahorse.cfg
Labels: Units

#7542 Achievements - use lua_error instead of returning -2
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

#7572 Test the correct unit in swarms_effects_not_checkable
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/ConditionalActionsWML/swarms_effects_not_checkable.cfg
Labels: Unit Tests

#7576 1.17 - various terrain graphics fixes
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/enduring-bridge.cfg
  data/core/terrain-graphics/new-internal-tracks.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain
