Repository wesnoth/wesnoth, pull requests merged in 2023-08, with the labels that each got.

#7808 Move {join,host}.lua
  data/test/plugin/host.lua
  data/test/plugin/join.lua
  mp_tests
  utils/CI/mp_test_executor.sh
Labels: Unit Tests

#7583 Implement event priority
  data/schema/core/addons.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_priority_lua1.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_priority_lua2.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_priority_wml1.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_priority_wml2.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_priority_wml3.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_priority_wml4.cfg
  src/game_events/handlers.cpp
  src/game_events/handlers.hpp
  src/game_events/manager.cpp
  src/game_events/manager.hpp
  src/game_events/manager_impl.cpp
  src/game_events/manager_impl.hpp
  src/game_events/menu_item.cpp
  src/scripting/game_lua_kernel.cpp
  utils/emmylua/wesnoth/game_events.lua
  wml_test_schedule
Labels: Unit Tests, Lua API, Schema

#7840 fix self-detecting unit issue in abilities [affect_adjacent] and [fiter_adjacent]
  src/units/abilities.cpp
Labels: Units

#7819 AToTB: Remove the instant-communication amulets
  changelog_entries/atotb_amulets.md
  data/campaigns/Two_Brothers/scenarios/01_Rooting_Out_a_Mage.cfg
  data/campaigns/Two_Brothers/scenarios/04_Return_to_the_Village.cfg
  data/campaigns/Two_Brothers/utils/bigmap.cfg
Labels: Campaign, Prose

#7845 1.17 - make soldier ant sprite a little more distinct from giant ant
  data/core/images/units/monsters/ant/soldier-attack.png
  data/core/images/units/monsters/ant/soldier-defend.png
  data/core/images/units/monsters/ant/soldier.png
Labels: Graphics, Units

#7799 Fix song verse ability for UtBS
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Singer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Sylph.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Campaign, Units

#7801 Arcane Resistances Rework
  changelog_entries/ArcaneResistancesRework.md
  data/core/macros/movetypes.cfg
  data/core/units.cfg
  data/core/units/humans/Horse_Paladin.cfg
  data/core/units/humans/Mage_White.cfg
  data/core/units/humans/Mage_of_Light.cfg
  data/core/units/undead/Necro_Lich.cfg
Labels: Units

#7858 fix indent in schema
  data/schema/filters/unit.cfg
Labels: Schema

#7835 Cut arbitrary hardcoded restrictions of scenario settings
  data/gui/window/mp_create_game.cfg
  src/map_settings.cpp
  src/map_settings.hpp
Labels: UI

#7853 Add range support for [micro_ai]side=
  data/lua/wml/micro_ai.lua
  data/schema/core/actionwml.cfg
Labels: Lua API, Schema

#7792 Add game logic to King of the Hill scenario
  data/multiplayer/maps/4p_King_of_the_Hill.map
  data/multiplayer/scenarios/4p_King_of_the_Hill.cfg
Labels: MP

#7852 [1.16] Fix a crash in :inspect when switching from page 2 to a different item
  changelog_entries/crash_inspect_page.md
  src/gui/dialogs/gamestate_inspector.cpp
Labels: UI, Fwdport

#7861 Fix a crash in :inspect when switching from page 2 to a different item
  changelog_entries/crash_inspect_page.md
  src/gui/dialogs/gamestate_inspector.cpp
Labels: UI

#7832 address codeql issue
  .github/workflows/ci-main.yml
  CMakeLists.txt
  SConstruct
  packaging/flatpak/org.wesnoth.Wesnoth.json
  src/game_launcher.cpp
  vcpkg.json
Labels: Building, Packaging, SCons, CMake

#7863 update libraires.md list of file boost needed
  projectfiles/CodeBlocks/libraries.md
Labels: Building

#7854 Liberty: text editing and work on Harper's character
  changelog.md
  data/campaigns/Liberty/_main.cfg
  data/campaigns/Liberty/images/portraits/harper-male.webp
  data/campaigns/Liberty/images/portraits/harper.webp
  data/campaigns/Liberty/scenarios/01_The_Raid.cfg
  data/campaigns/Liberty/scenarios/02_Civil_Disobedience.cfg
  data/campaigns/Liberty/scenarios/03_A_Strategy_Of_Hope.cfg
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
  data/campaigns/Liberty/scenarios/05_Hide_and_Seek.cfg
  data/campaigns/Liberty/scenarios/06_The_Hunters.cfg
  data/campaigns/Liberty/scenarios/07_Glory.cfg
  data/campaigns/Liberty/scenarios/08_Epilogue.cfg
Labels: Campaign, Graphics

#7867 LoW: Replace lingering instances of ‘old’ style gold carry over
  changelog_entries/low_gold_carry_over.md
  data/campaigns/Legend_of_Wesmere/scenarios/chapter3/09_Bounty_Hunters.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter3/11_Battle_of_the_Book.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter4/14_Human_Alliance.cfg
Labels: Campaign
