Repository wesnoth/wesnoth, pull requests merged in 2023-09, with the labels that each got.

#7844 1.17 various troll sprite things
  data/core/images/units/trolls/Troll_ColorMap.png
  data/core/images/units/trolls/great-troll-attack-1.png
  data/core/images/units/trolls/great-troll-attack-2.png
  data/core/images/units/trolls/great-troll-attack-3.png
  data/core/images/units/trolls/great-troll-attack-4.png
  data/core/images/units/trolls/great-troll-attack-5.png
  data/core/images/units/trolls/great-troll-defend1.png
  data/core/images/units/trolls/great-troll-defend2.png
  data/core/images/units/trolls/great-troll.png
  data/core/images/units/trolls/troll-hero.png
  data/core/images/units/trolls/warrior-bob-s-1.png
  data/core/images/units/trolls/warrior-bob-s-2.png
  data/core/images/units/trolls/warrior-bob-s-3.png
  data/core/images/units/trolls/warrior-bob-s-4.png
  data/core/images/units/trolls/warrior-breeze-s-1.png
  data/core/images/units/trolls/warrior-breeze-s-2.png
  data/core/images/units/trolls/warrior-breeze-s-3.png
  data/core/images/units/trolls/warrior.png
  data/core/images/units/trolls/whelp-bob-ne-1.png
  data/core/images/units/trolls/whelp-bob-ne-2.png
  data/core/images/units/trolls/whelp-bob-se-1.png
  data/core/images/units/trolls/whelp-bob-se-2.png
  data/core/images/units/trolls/whelp-die-1.png
  data/core/images/units/trolls/whelp-die-2.png
  data/core/images/units/trolls/whelp-die-3.png
  data/core/images/units/trolls/whelp-die-4.png
  data/core/images/units/trolls/whelp-die-5.png
  data/core/images/units/trolls/whelp-die-6.png
  data/core/images/units/trolls/whelp-die-7.png
  data/core/images/units/trolls/whelp-die-8.png
  data/core/images/units/undead/soulless-troll-attack-n.png
  data/core/images/units/undead/soulless-troll-attack-s.png
  data/core/images/units/undead/soulless-troll-attack.png
  data/core/images/units/undead/soulless-troll-defend.png
  data/core/images/units/undead/soulless-troll.png
  data/core/images/units/undead/zombie-troll-attack-n.png
  data/core/images/units/undead/zombie-troll-attack-s.png
  data/core/images/units/undead/zombie-troll-attack.png
  data/core/images/units/undead/zombie-troll-defend.png
  data/core/images/units/undead/zombie-troll.png
  data/core/units/trolls/Great.cfg
  data/core/units/trolls/Warrior.cfg
  data/core/units/trolls/Whelp.cfg
Labels: Graphics, Units

#7901 1.17 - fix some dragonfly images
  data/core/images/attacks/stinger-dragonfly.png
  data/core/images/portraits/monsters/dragonfly.webp
Labels: Graphics

#7870 wesnoth-lib review
  data/core/help.cfg
  data/gui/window/addon_manager.cfg
  data/gui/window/editor_edit_pbl.cfg
  data/gui/window/editor_edit_pbl_translation.cfg
Labels: UI, Prose, Help

#7905 fix #7821: all cases of the calculation should be cached
  src/ai/default/recruitment.cpp
Labels: AI

#7892 Miscellaneous units changes (mostly)
  changelog_entries/Miscellaneous_units_changes.md
  data/core/units/dwarves/Arcanister.cfg
  data/core/units/dwarves/Explorer.cfg
  data/core/units/dwarves/Miner.cfg
  data/core/units/dwarves/Pathfinder.cfg
  data/core/units/dwarves/Runemaster.cfg
  data/core/units/dwarves/Runesmith.cfg
  data/core/units/dwarves/Scout.cfg
  data/core/units/elves/Enchantress.cfg
  data/core/units/elves/High_Lord.cfg
  data/core/units/elves/Lord.cfg
  data/core/units/elves/Sylph.cfg
  data/core/units/humans/Mage_Elder.cfg
  data/core/units/humans/Outlaw_Bandit.cfg
  data/core/units/humans/Outlaw_Ruffian.cfg
  data/core/units/humans/Outlaw_Thug.cfg
  data/core/units/humans/Peasant.cfg
  data/core/units/humans/Royal_Warrior.cfg
  data/core/units/humans/Woodsman.cfg
  data/core/units/merfolk/Brawler.cfg
  data/core/units/merfolk/Diviner.cfg
  data/core/units/merfolk/Enchantress.cfg
  data/core/units/merfolk/Initiate.cfg
  data/core/units/merfolk/Priestess.cfg
  data/core/units/merfolk/Siren.cfg
  data/core/units/monsters/Ant.cfg
  data/core/units/monsters/Ant_Fire.cfg
  data/core/units/monsters/Ant_Firebomb.cfg
  data/core/units/monsters/Ant_Soldier.cfg
  data/core/units/monsters/Boar.cfg
  data/core/units/monsters/Boar_Piglet.cfg
  data/core/units/monsters/Caribe.cfg
  data/core/units/monsters/Caribe_Hunter.cfg
  data/core/units/monsters/Caribe_Nibbler.cfg
  data/core/units/monsters/Dragonfly.cfg
  data/core/units/monsters/Dragonfly_Grand.cfg
  data/core/units/monsters/Dragonfly_Naiad.cfg
  data/core/units/monsters/Elder_Falcon.cfg
  data/core/units/monsters/Fire_Guardian.cfg
  data/core/units/monsters/Fire_Wraith.cfg
  data/core/units/monsters/Giant_Scorpion.cfg
  data/core/units/monsters/Horse.cfg
  data/core/units/monsters/Horse_Dark.cfg
  data/core/units/monsters/Yeti.cfg
  data/core/units/nagas/Guard.cfg
  data/core/units/nagas/Guard_Shield.cfg
  data/core/units/ogres/Ogre.cfg
  data/core/units/ogres/Young_Ogre.cfg
  data/core/units/orcs/Leader.cfg
  data/core/units/orcs/Ruler.cfg
  data/core/units/orcs/Sovereign.cfg
  data/core/units/trolls/Great.cfg
  data/core/units/trolls/Hero.cfg
  data/core/units/trolls/Troll_Shaman.cfg
  data/core/units/undead/Skele_Death_Knight.cfg
  data/core/units/undead/Skele_Death_Squire.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Units

#7914 EI: "survivor" trait no longer grants "terror" immunity
  data/campaigns/Eastern_Invasion/utils/abilities.cfg
Labels: Campaign

#7908 Update WoF
  data/campaigns/Winds_of_Fate/_main.cfg
  data/campaigns/Winds_of_Fate/about.cfg
  data/campaigns/Winds_of_Fate/maps/01_The_Hunt.map
  data/campaigns/Winds_of_Fate/maps/07_Harvest.map
  data/campaigns/Winds_of_Fate/maps/09_Ancestor.map
  data/campaigns/Winds_of_Fate/maps/10_Fire_Meets_Steel.map
  data/campaigns/Winds_of_Fate/maps/11_Crosswind.map
  data/campaigns/Winds_of_Fate/maps/HM_Master.map
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/02_Reclamation.cfg
  data/campaigns/Winds_of_Fate/scenarios/02x_Victory_Feast.cfg
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/campaigns/Winds_of_Fate/scenarios/03x_Final_Departure.cfg
  data/campaigns/Winds_of_Fate/scenarios/04_Journey.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/05x_Early_Arrival.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
  data/campaigns/Winds_of_Fate/scenarios/06x_Winds_of_Fate.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
  data/campaigns/Winds_of_Fate/scenarios/10_Fire_Meets_Steel.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
  data/campaigns/Winds_of_Fate/scenarios/12_Epilogue.cfg
  data/campaigns/Winds_of_Fate/units/Caravel.cfg
  data/campaigns/Winds_of_Fate/units/Gate.cfg
  data/campaigns/Winds_of_Fate/units/Outrigger.cfg
  data/campaigns/Winds_of_Fate/units/Storm_Wisp.cfg
  data/campaigns/Winds_of_Fate/units/Stymphalian.cfg
  data/campaigns/Winds_of_Fate/utils/characters.cfg
  data/campaigns/Winds_of_Fate/utils/deaths.cfg
  data/campaigns/Winds_of_Fate/utils/macros.cfg
  data/campaigns/Winds_of_Fate/utils/schedules.cfg
Labels: Campaign, Units

#7856 give to abilitie support of halo or overlay
  changelog_entries/add_halo_overlay_abilities.md
  data/campaigns/Heir_To_The_Throne/images/misc/firststrike-1.png
  data/campaigns/Heir_To_The_Throne/images/misc/firststrike-2.png
  data/campaigns/Heir_To_The_Throne/images/misc/firststrike-3.png
  data/campaigns/Heir_To_The_Throne/utils/abilities.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Sylph.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  data/core/macros/abilities.cfg
  data/core/units/humans/Mage_of_Light.cfg
  data/core/units/merfolk/Diviner.cfg
  data/schema/units/abilities.cfg
  data/test/scenarios/manual_tests/scenario-test.cfg
  src/actions/undo_move_action.cpp
  src/units/abilities.cpp
  src/units/animation_component.cpp
  src/units/animation_component.hpp
  src/units/drawer.cpp
  src/units/unit.hpp
Labels: Campaign, Graphics, Unit Tests, Units, Schema

#7903 add image copyright tracking
  .github/workflows/ci-main.yml
  copyrights.csv
  data/core/images/portraits/ARTISTS
  update_copyrights
Labels: Graphics
