Repository wesnoth/wesnoth, pull requests merged in 2023-06, with the labels that each got.

#7686 Remove an explicit GETTEXT_DOMAIN "wesnoth"
  src/gui/dialogs/addon/install_dependencies.cpp
Labels: UI, Add-ons

#7675 [1.16] UtBS: Make the name of the dark assassin translatable again
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign, Prose

#7680 Nr: Rewrite/Edit/Touchup 05_02, 06_a, 07_a
  data/campaigns/Northern_Rebirth/scenarios/05a_02_Dealings.cfg
  data/campaigns/Northern_Rebirth/scenarios/06a_Old_Friend.cfg
  data/campaigns/Northern_Rebirth/scenarios/07a_Settling_Disputes.cfg
Labels: Campaign

#7682 NR: Rewrite/Edit/Touchup: 08a, 09a, 10a
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg
  data/campaigns/Northern_Rebirth/scenarios/09a_Introductions.cfg
  data/campaigns/Northern_Rebirth/scenarios/10a_Stolen_Gold.cfg
Labels: Campaign

#7683 NR: FINAL Edit/Rewrite/Touchup 11, 12, 13 and epilogue.
  data/campaigns/Northern_Rebirth/scenarios/11a_The_Eastern_Flank.cfg
  data/campaigns/Northern_Rebirth/scenarios/12a_Get_the_Gold.cfg
  data/campaigns/Northern_Rebirth/scenarios/13a_Showdown.cfg
  data/campaigns/Northern_Rebirth/scenarios/14a_Epilogue.cfg
Labels: Campaign

#7715 UtBS: improve po hints
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign, Translations, Prose

#7711 Contributing: the Typography and Gettext docs are separate Wiki pages
  CONTRIBUTING.md
Labels: Docs

#7725 1.17 - add primary key to some unit animations that need it
  data/core/units/monsters/Jinn.cfg
  data/core/units/monsters/Wild_Wyvern.cfg
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Units

#7651 1.17 Updated Elf Fighter sprite
  data/core/images/units/elves-wood/fighter-bow-attack1.png
  data/core/images/units/elves-wood/fighter-bow-attack2.png
  data/core/images/units/elves-wood/fighter-bow-attack3.png
  data/core/images/units/elves-wood/fighter-bow-attack4.png
  data/core/images/units/elves-wood/fighter-bow-defend.png
  data/core/images/units/elves-wood/fighter-bow.png
  data/core/images/units/elves-wood/fighter-defend.png
  data/core/images/units/elves-wood/fighter-melee-1.png
  data/core/images/units/elves-wood/fighter-melee-2.png
  data/core/images/units/elves-wood/fighter.png
  data/core/images/units/elves-wood/fighter/fighter-bow-attack1.png
  data/core/images/units/elves-wood/fighter/fighter-bow-attack2.png
  data/core/images/units/elves-wood/fighter/fighter-bow-attack3.png
  data/core/images/units/elves-wood/fighter/fighter-bow-attack4.png
  data/core/images/units/elves-wood/fighter/fighter-bow-defend.png
  data/core/images/units/elves-wood/fighter/fighter-bow.png
  data/core/images/units/elves-wood/fighter/fighter-defend.png
  data/core/images/units/elves-wood/fighter/fighter-melee-1.png
  data/core/images/units/elves-wood/fighter/fighter-melee-2.png
  data/core/images/units/elves-wood/fighter/fighter-se-run1.png
  data/core/images/units/elves-wood/fighter/fighter-se-run10.png
  data/core/images/units/elves-wood/fighter/fighter-se-run2.png
  data/core/images/units/elves-wood/fighter/fighter-se-run3.png
  data/core/images/units/elves-wood/fighter/fighter-se-run4.png
  data/core/images/units/elves-wood/fighter/fighter-se-run5.png
  data/core/images/units/elves-wood/fighter/fighter-se-run6.png
  data/core/images/units/elves-wood/fighter/fighter-se-run7.png
  data/core/images/units/elves-wood/fighter/fighter-se-run8.png
  data/core/images/units/elves-wood/fighter/fighter-se-run9.png
  data/core/images/units/elves-wood/fighter/fighter.png
  data/core/units/elves/Fighter.cfg
Labels: Graphics, Units

#7731 LoW/ANL/WC update instances of `units/elves-wood/fighter` to account extra introduced DIR
  data/campaigns/Legend_of_Wesmere/_main.cfg
  data/campaigns/World_Conquest/lua/game_mechanics/unittypedata.lua
  data/multiplayer/scenarios/ANL_utils/ANL_leader_options.cfg
Labels: Campaign, MP

#7736 Fix a writing in matches_ability_filter function
  src/units/unit.cpp
Labels: Units

#7742 Fix bug in overwrite_specials
  src/units/abilities.cpp
Labels: Units
