Repository wesnoth/wesnoth, pull requests merged in 2023-03, with the labels that each got.

#7422 Help: don't display trait availability, and refactor code
  src/help/help_impl.cpp
Labels: Help

#7424 Fix mixed indents in the schema, and verify new additions
  data/schema/core/actionwml.cfg
  data/schema/core/addons.cfg
  data/schema/units/types.cfg
  data/tools/Makefile
Labels: WML Tools, Schema

#7419 Add a CMake and SCons flag for GLIBCXX_ASSERTIONS without GLIBCXX_DEBUG
  CMakeLists.txt
  SConstruct
  changelog_entries/glibcxx_assertions.md
Labels: Building, SCons, CMake

#7439 GUI: fix indentation that uses both tabs and spaces on the same line
  data/gui/window/core_dialog.cfg
  data/gui/window/debug_clock.cfg
  data/gui/window/drop_down_list.cfg
  data/gui/window/editor_edit_scenario.cfg
  data/gui/window/editor_edit_side.cfg
  data/gui/window/editor_resize_map.cfg
  data/gui/window/language_selection.cfg
  data/gui/window/mp_create_game.cfg
  data/gui/window/unit_recall.cfg
  data/gui/window/wml_message.cfg
Labels: UI

#7442 Display ID of addon in addon manager
  data/gui/window/addon_manager.cfg
  src/gui/dialogs/addon/manager.cpp
Labels: UI, Add-ons

#7444 Improve docs about pango_text's high-dpi encapsulation
  src/font/text.cpp
  src/font/text.hpp
Labels: Docs, Graphics

#7416 Fixup, complete, and enable the lobby's game history viewer.
  boost_test_schedule
  data/gui/window/mp_match_history.cfg
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/multiplayer/lobby.hpp
  src/gui/dialogs/multiplayer/match_history.cpp
  src/gui/dialogs/multiplayer/match_history.hpp
  src/server/common/dbconn.cpp
  src/server/common/resultsets/game_history.cpp
  src/server/common/resultsets/game_history.hpp
  src/server/wesnothd/server.cpp
  src/tests/gui/test_gui2.cpp
Labels: macOS, MP, UI, Add-ons, Building

#7449 NR: Give Eryssa hero trait since her death is a loss condition
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg
  data/campaigns/Northern_Rebirth/scenarios/09a_Introductions.cfg
Labels: Backport, Campaign, Units

#7443 Add curl-based functionality to download files from a URL.
  CMakeLists.txt
  INSTALL.md
  SConstruct
  changelog_entries/#7443
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/CMakeLists.txt
  src/gui/dialogs/multiplayer/match_history.cpp
  src/network_download_file.cpp
  src/network_download_file.hpp
  utils/dockerbuilds/CI/Dockerfile-base-2204-master
  utils/dockerbuilds/CI/Dockerfile-base-mingw
  utils/dockerbuilds/msys2/Dockerfile
  vcpkg.json
Labels: macOS, UI, Building, SCons, CMake

#7450 UtBS - Update and Fixes
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/02_Across_the_Harsh_Sands.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06b_In_the_Domain_of_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/07a_Dealing_with_Dwarves.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/07b_Talking_with_Trolls.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/10_Speaking_with_the_Fishes.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/12_The_Final_Confrontation.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/13_Epilogue.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Champion.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Druid.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Fighter.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Flanker.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Outrider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Ranger.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Shaman.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Singer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Sylph.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Flagbearer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Protector.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Stalwart.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Vanguard.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Warrior.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  data/campaigns/Under_the_Burning_Suns/utils/macros.cfg
  data/campaigns/Under_the_Burning_Suns/utils/storytxt.cfg
Labels: Campaign, Units

#7454 NR: Dialog/ Story Rewrite: Scenario One.
  data/campaigns/Northern_Rebirth/scenarios/01_Breaking_the_Chains.cfg
Labels: Campaign, Prose

#7461 SotBE: Replace unfortunate wording
  data/campaigns/Son_Of_The_Black_Eye/scenarios/03_Toward_Mountains_of_Haag.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/05_To_the_Harbor_of_Tirigaz.cfg
Labels: Campaign, Prose

#7463 Revert WML workarounds on mainline replay OOS issues
  data/campaigns/Northern_Rebirth/scenarios/01_Breaking_the_Chains.cfg
  data/campaigns/The_South_Guard/scenarios/04_Vale_of_Tears.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/08_Out_of_the_Frying_Pan.cfg
Labels: Campaign

#7393 [Achievements] add achievement frames for Icons
  data/core/images/misc/achievement-frames/frame-1-blue.png
  data/core/images/misc/achievement-frames/frame-2-orange.png
  data/core/images/misc/achievement-frames/frame-3-jade.png
  data/core/images/misc/achievement-frames/frame-3-red.png
  data/core/images/misc/achievement-frames/frame-4-grey.png
  data/core/images/misc/achievement-frames/frame-4-royal.png
  data/core/images/misc/achievement-frames/frame-4-sky.png
  data/core/images/misc/achievement-frames/frame-5-magenta.png
  data/core/images/misc/achievement-frames/frame-5-orange.png
  data/core/images/misc/achievement-frames/frame-6-grey.png
  data/core/images/misc/achievement-frames/frame-6-royal.png
  data/core/images/misc/achievement-frames/frame-6-sky.png
  data/core/images/misc/achievement-frames/frame-7-blue.png
  data/core/images/misc/achievement-frames/frame-7-eerie.png
  data/core/images/misc/achievement-frames/frame-8-acid.png
  data/core/images/misc/achievement-frames/frame-8-grey.png
  data/core/images/misc/achievement-frames/frame-9-jade.png
  data/core/images/misc/achievement-frames/frame-9-red.png
Labels: Enhancement, Graphics, Achievements

#7464 Typo hander > handler
  data/lua/core/interface.lua
Labels: Lua API

#7466 Update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#7490 DiD S8: Disallow undead bat from retrieving the Book
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
Labels: Backport, Campaign

#7480 Update WoF
  data/campaigns/Winds_of_Fate/images/icons/advantage.png
  data/campaigns/Winds_of_Fate/lua/lua.lua
  data/campaigns/Winds_of_Fate/scenarios/02x_Victory_Feast.cfg
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/campaigns/Winds_of_Fate/scenarios/04_Journey.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
Labels: Campaign
