Repository wesnoth/wesnoth, pull requests merged in 2023-05, with the labels that each got.

#7561 Improvements to wmltools3
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

#7585 Refactor Statistics
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/actions/advancement.cpp
  src/actions/attack.cpp
  src/actions/create.cpp
  src/actions/undo_recall_action.cpp
  src/actions/undo_recruit_action.cpp
  src/game_initialization/multiplayer.cpp
  src/game_launcher.cpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/gui/dialogs/statistics_dialog.cpp
  src/gui/dialogs/statistics_dialog.hpp
  src/menu_events.cpp
  src/menu_events.hpp
  src/play_controller.cpp
  src/play_controller.hpp
  src/playsingle_controller.cpp
  src/replay.cpp
  src/saved_game.cpp
  src/saved_game.hpp
  src/savegame.cpp
  src/statistics.cpp
  src/statistics.hpp
  src/statistics_record.cpp
  src/statistics_record.hpp
  src/tests/gui/test_gui2.cpp
  src/wesnoth.cpp
  src/whiteboard/recall.cpp
Labels: macOS, UI, Building

#7580 wmlunits: Handle code paths for missing attributes
  data/tools/unit_tree/helpers.py
  data/tools/unit_tree/html_output.py
  data/tools/unit_tree/wiki_output.py
  data/tools/wmlunits
Labels: WML Tools

#7594 update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
Labels: Building

#7581 wmlunits: Specify error as class in html reports
  data/tools/unit_tree/overview.py
Labels: WML Tools

#7595 wmlunits: Fixup for fa76e77
  data/tools/wmlunits
Labels: WML Tools

#7591 Fix insecure SSL/TLS connexion used in campaignserver_client.py
  data/tools/wesnoth/campaignserver_client.py
Labels: WML Tools

#7596 Don't allow markup in achievement titles.
  data/gui/macros/_initial.cfg
  data/gui/widget/label_achievement_title.cfg
  data/gui/window/achievements_dialog.cfg
  src/gui/dialogs/achievements_dialog.cpp
Labels: UI, Achievements

#7600 Don't use optional_child for widget state definitions when it's mandatory
  src/gui/core/widget_definition.cpp
  src/gui/core/widget_definition.hpp
  src/gui/widgets/button.cpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/horizontal_scrollbar.cpp
  src/gui/widgets/image.cpp
  src/gui/widgets/label.cpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/menu_button.cpp
  src/gui/widgets/minimap.cpp
  src/gui/widgets/multimenu_button.cpp
  src/gui/widgets/panel.cpp
  src/gui/widgets/progress_bar.cpp
  src/gui/widgets/repeating_button.cpp
  src/gui/widgets/scroll_label.cpp
  src/gui/widgets/scrollbar_panel.cpp
  src/gui/widgets/slider.cpp
  src/gui/widgets/text_box.cpp
  src/gui/widgets/toggle_button.cpp
  src/gui/widgets/toggle_panel.cpp
  src/gui/widgets/tree_view.cpp
  src/gui/widgets/unit_preview_pane.cpp
  src/gui/widgets/vertical_scrollbar.cpp
Labels: UI

#7604 Refactor TeamColorizer into a Python library
  data/tools/TeamColorizer
  data/tools/addon_manager/html.py
  data/tools/unit_tree/helpers.py
  data/tools/unit_tree/team_colorizer.py
  data/tools/wmlunits
Labels: WML Tools

#7603 wmlunits: Include nested dependencies in -L for -B to process
  data/tools/wmlunits
Labels: WML Tools

#7573 wmlxgettext: Error out on unused #po, #po-override directives
  data/campaigns/Descent_Into_Darkness/scenarios/01_Saving_Parthyn.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07b_A_Small_Favor2.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07c_A_Small_Favor3.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/10_Endless_Night.cfg
  data/campaigns/Sceptre_of_Fire/scenarios/9_Caverns_of_Flame.cfg
  data/campaigns/The_South_Guard/scenarios/06a_Into_the_Depths.cfg
  data/campaigns/The_South_Guard/scenarios/08b_The_Tides_of_War.cfg
  data/core/editor/help.cfg
  data/tools/pywmlx/state/lua_states.py
  data/tools/pywmlx/state/machine.py
  data/tools/pywmlx/state/wml_states.py
Labels: Campaign, WML Tools, Editor

#7602 1.17 - more overgrown walls
  data/core/images/terrain/walls/hedge/wall-hedge-chasm-convex-bl.png
  data/core/images/terrain/walls/hedge/wall-hedge-chasm-convex-br.png
  data/core/images/terrain/walls/hedge/wall-hedge-chasm-convex-l.png
  data/core/images/terrain/walls/hedge/wall-hedge-chasm-convex-r.png
  data/core/images/terrain/walls/hedge/wall-hedge-concave-bl.png
  data/core/images/terrain/walls/hedge/wall-hedge-concave-br.png
  data/core/images/terrain/walls/hedge/wall-hedge-concave-l.png
  data/core/images/terrain/walls/hedge/wall-hedge-concave-r.png
  data/core/images/terrain/walls/hedge/wall-hedge-concave-tl.png
  data/core/images/terrain/walls/hedge/wall-hedge-concave-tr.png
  data/core/images/terrain/walls/hedge/wall-hedge-convex-bl.png
  data/core/images/terrain/walls/hedge/wall-hedge-convex-br.png
  data/core/images/terrain/walls/hedge/wall-hedge-convex-l.png
  data/core/images/terrain/walls/hedge/wall-hedge-convex-r.png
  data/core/images/terrain/walls/hedge/wall-hedge-convex-tl.png
  data/core/images/terrain/walls/hedge/wall-hedge-convex-tr.png
  data/core/images/terrain/walls/hedge/wall-hedge-edge-ccw-bl.png
  data/core/images/terrain/walls/hedge/wall-hedge-edge-ccw-br.png
  data/core/images/terrain/walls/hedge/wall-hedge-edge-ccw-l.png
  data/core/images/terrain/walls/hedge/wall-hedge-edge-ccw-tl.png
  data/core/images/terrain/walls/hedge/wall-hedge-edge-cw-bl.png
  data/core/images/terrain/walls/hedge/wall-hedge-edge-cw-br.png
  data/core/images/terrain/walls/hedge/wall-hedge-edge-cw-r.png
  data/core/images/terrain/walls/hedge/wall-hedge-edge-cw-tr.png
  data/core/images/terrain/walls/hedge/wall-hedge-mixed-ccw-bl.png
  data/core/images/terrain/walls/hedge/wall-hedge-mixed-ccw-l.png
  data/core/images/terrain/walls/hedge/wall-hedge-mixed-ccw-r.png
  data/core/images/terrain/walls/hedge/wall-hedge-mixed-ccw-tr.png
  data/core/images/terrain/walls/hedge/wall-hedge-mixed-cw-br.png
  data/core/images/terrain/walls/hedge/wall-hedge-mixed-cw-l.png
  data/core/images/terrain/walls/hedge/wall-hedge-mixed-cw-r.png
  data/core/images/terrain/walls/hedge/wall-hedge-mixed-cw-tl.png
  data/core/images/terrain/walls/hedge/wall-hedge-tile.png
  data/core/terrain-graphics.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

#7588 Reorder WML includes so manual tests can use the unit-test macros
  data/_main.cfg
  data/test/_main.cfg
Labels: Docs, Unit Tests

#7616 CI run for first commit of 7168 (filter_ability)
  changelog_entries/extent_remove_ability_efect_to_attribute_changelog.md
  data/schema/filters/abilities.cfg
  data/schema/filters/unit.cfg
  data/schema/game_config.cfg
  data/schema/units/modifications.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EffectWML/test_remove_ability_by_filter.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filter_ability.cfg
  src/units/filter.cpp
  src/units/unit.cpp
  src/units/unit.hpp
  wml_test_schedule
Labels: Unit Tests, Units, Schema

#7621 Let wesnothd and campaignd build without SDL.
  .github/workflows/ci-main.yml
  source_lists/libwesnoth
  source_lists/libwesnoth_core
  src/config_cache.cpp
  src/filesystem.cpp
  src/filesystem.hpp
  src/filesystem_common.cpp
  src/game_config.cpp
  src/game_config.hpp
  src/server/campaignd/addon_utils.cpp
  src/server/campaignd/server.cpp
  src/server/wesnothd/game.cpp
  src/server/wesnothd/server.cpp
  src/tests/test_config_cache.cpp
Labels: MP, Add-ons, Building

#7609 wmlunits: Refactor HTML postprocess step
  data/tools/unit_tree/html_output.py
  data/tools/wmlunits
Labels: WML Tools

#7607 Add support for distinct sub-achievements.
  data/gui/window/achievements_dialog.cfg
  data/lua/wml-conditionals.lua
  data/lua/wml-tags.lua
  data/schema/achievements.cfg
  src/achievements.cpp
  src/achievements.hpp
  src/gui/dialogs/achievements_dialog.cpp
  src/gui/dialogs/achievements_dialog.hpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
Labels: MP, UI, Lua API, Schema, Achievements

#7637 gui/title_screen: Refresh Language button after changing languages
  changelog.md
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
Labels: Bug, UI

#7377 Add script for starting wesnoth on macos+steam with the right arch.
  projectfiles/Xcode/Resources/start.sh
Labels: macOS, Building

#7639 gui: Handle SDL_WINDOWEVENT_SIZE_CHANGED instead of SDL_WINDOWEVENT_RESIZED
  changelog.md
  src/gui/core/event/handler.cpp
Labels: Bug, UI

#7640 gui2/title_screen: Fix Version label translation not updating
  changelog.md
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
Labels: Bug, Translations, UI

#7641 Add libcurl to library version reports in Game Version dialog
  src/build_info.cpp
  src/build_info.hpp
Labels: Enhancement, UI

#7628 Nr: Dialog/ Story Rewrite : Scenario One (Fix) and herodeaths
  data/campaigns/Northern_Rebirth/scenarios/01_Breaking_the_Chains.cfg
  data/campaigns/Northern_Rebirth/utils/herodeaths.cfg
Labels: Campaign

#7642 chage source code in unit_attack.cppand abilities.cpp for pot update
  src/gui/dialogs/unit_attack.cpp
  src/units/abilities.cpp
Labels: Translations, UI, Units

#7648 Refresh po4a workflow
  po/SConscript
  scons/gettext_tool.py
Labels: Translations, Building, SCons

#7647 move multiplayer macros to proper folder
  data/core/macros/multiplayer.cfg
  data/multiplayer/eras.cfg
Labels: MP

#7587 fix: crash in edit_distance_approx
  src/formula/string_utils.cpp
  src/formula/string_utils.hpp
Labels: WFL

#7650 gui: Use true labelless checkboxes in the dropdown menu implementation
  data/gui/widget/toggle_button_no_label.cfg
  src/gui/dialogs/drop_down_menu.cpp
Labels: Enhancement, UI

#7643 Nr: Dialog/Story Edit/Rewrite 3 (Scenario 2)
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
Labels: Campaign

#7571 Add some search terms to the match history dialog.
  data/gui/window/mp_match_history.cfg
  src/gui/dialogs/multiplayer/match_history.cpp
  src/gui/dialogs/multiplayer/match_history.hpp
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
Labels: MP, UI, Add-ons

#7665 Cleaned up implementation of image::locator
  src/addon/info.cpp
  src/display.cpp
  src/editor/action/mouse/mouse_action_select.cpp
  src/editor/editor_display.cpp
  src/game_display.cpp
  src/game_launcher.cpp
  src/picture.cpp
  src/picture.hpp
  src/units/frame.cpp
  src/whiteboard/suppose_dead.cpp
  src/widgets/menu.cpp
Labels: Editor, Units, Add-ons

#7649 Support po4a version 0.68-1 (cmake part)
  cmake/FindTranslationTools.cmake
  doc/manual/CMakeLists.txt
Labels: Docs, Building, SCons, CMake

#7666 Add --no-con to disable writing to CONOUT.
  doc/man/wesnoth.6
  src/commandline_options.cpp
  src/log_windows.cpp
  src/log_windows.hpp
  src/wesnoth.cpp
Labels: Docs

#7662 Update wmllint calls to parse_macroref
  data/tools/wmllint
Labels: WML Tools

#7678 Separate out wesnoth independent checks into their own job
  .github/workflows/ci-main.yml
  Doxyfile
  utils/CI/doxygen-check.sh
Labels: CI
