Repository wesnoth/wesnoth, pull requests merged in 2023-01, with the labels that each got.

#7256 SotA: change textdomain of zombie-utils.cfg
  data/campaigns/Secrets_of_the_Ancients/utils/zombie-utils.cfg
Labels: Campaign

#7214 HttT S03: Rewrite intro text, hint about training troops for S06
  changelog_entries/httt_s03_intro.md
  data/campaigns/Heir_To_The_Throne/scenarios/03_The_Isle_of_Alduin.cfg
Labels: Campaign, Prose

#7200 Checksums: accept 1.16's checksums during replays
  src/actions/create.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Replays, Units, Engine

#7226 Ignore duplicate primary key errors for game_content_info table.
  src/server/wesnothd/server.cpp
  utils/mp-server/table_definitions.sql
Labels: MP, Services, Add-ons

#7265 Rename database column SOURCE to ADDON_ID.
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  utils/mp-server/query-scripts/11-eras-by-game-count-and-version.sql
  utils/mp-server/query-scripts/14-maps-by-game-count-and-version.sql
  utils/mp-server/query-scripts/16-modifications-by-game-count-and-version.sql
  utils/mp-server/query-scripts/19-oos-count-by-era-and-version.sql
  utils/mp-server/query-scripts/21-oos-count-by-map-and-version.sql
  utils/mp-server/query-scripts/23-oos-count-by-modification-and-version.sql
  utils/mp-server/query-scripts/24-oos-count-by-era-map-modification-and-version.sql
  utils/mp-server/query-scripts/26-oos-replays-list-and-version.sql
  utils/mp-server/table_definitions.sql
Labels: MP, Services, Add-ons

#7269 Fix the indentation in the "special_calculations" test
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_calculations.cfg
Labels: Unit Tests

#7268 Add ability to allow secondary authors to upload an add-on.
  data/gui/window/addon_auth.cfg
  src/addon/client.cpp
  src/gui/dialogs/addon/addon_auth.cpp
  src/server/campaignd/server.cpp
  src/server/campaignd/server.hpp
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  utils/mp-server/table_definitions.sql
Labels: MP, UI, Services, Add-ons

#7276 [Units] add correct textdomain to Grand Dragonfly
  data/core/units/monsters/Dragonfly_Grand.cfg
Labels: Units

#7279 Enable logging to file by default.
  doc/man/wesnoth.6
  src/commandline_options.cpp
  src/wesnoth.cpp
  utils/dockerbuilds/steamrt/start.sh
Labels: Docs, Command Line, Engine

#7266 Orb color preferences dialog layout and tooltip
  changelog_entries/orb_prefs_layout.md
  data/gui/window/select_orb_colors.cfg
  src/gui/dialogs/select_orb_colors.cpp
  src/gui/dialogs/select_orb_colors.hpp
Labels: Backport, UI

#7283 Test fire_event of kill unit on recall list
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/kill_fires_events.cfg
  wml_test_schedule
Labels: Unit Tests

#7277 [1.16] Show id in "skipping duplicate variation" warning
  changelog_entries/logs_duplicate_variants.md
  src/units/types.cpp
Labels: Units

#7228 Show races as nestable subfolders in help
  src/help/help_impl.cpp
Labels: UI, Units, Help

#7109 Unit traits exclusive
  data/schema/units/modifications.cfg
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/traits_exclude_include.cfg
  data/test/units.cfg
  data/test/units/test_unit_exclude.cfg
  data/test/units/test_unit_require.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units, Schema

#7291 [1.16] HttT S03: Rewrite intro, hint about training troops for S06
  changelog_entries/httt_s03_intro.md
  data/campaigns/Heir_To_The_Throne/scenarios/03_The_Isle_of_Alduin.cfg
Labels: Campaign, Prose

#7285 [LoW] fix scenario count inconsistency
  data/campaigns/Legend_of_Wesmere/_main.cfg
Labels: Campaign

#7221 [LoW] S3: fix mismatched coords of Urudin retreat
  data/campaigns/Legend_of_Wesmere/scenarios/chapter1/03_Kalian_under_Attack.cfg
Labels: Enhancement, Backport, Ready for testing, Campaign

#7293 units: Limit energy bar sizes to the game tile size
  changelog_entries/overlarge_unit_bars.md
  src/units/drawer.cpp
Labels: UI, Units

#7237 Add basic achievements functionality.
  boost_test_schedule
  data/achievements.cfg
  data/campaigns/Dead_Water/achievements.cfg
  data/campaigns/Delfadors_Memoirs/achievements.cfg
  data/campaigns/Descent_Into_Darkness/achievements.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Eastern_Invasion/achievements.cfg
  data/campaigns/Heir_To_The_Throne/achievements.cfg
  data/campaigns/Legend_of_Wesmere/achievements.cfg
  data/campaigns/Liberty/achievements.cfg
  data/campaigns/Northern_Rebirth/achievements.cfg
  data/campaigns/Sceptre_of_Fire/achievements.cfg
  data/campaigns/Secrets_of_the_Ancients/achievements.cfg
  data/campaigns/Son_Of_The_Black_Eye/achievements.cfg
  data/campaigns/The_Hammer_of_Thursagan/achievements.cfg
  data/campaigns/The_Rise_Of_Wesnoth/achievements.cfg
  data/campaigns/The_South_Guard/achievements.cfg
  data/campaigns/Two_Brothers/achievements.cfg
  data/campaigns/Under_the_Burning_Suns/achievements.cfg
  data/campaigns/Winds_of_Fate/achievements.cfg
  data/campaigns/World_Conquest/achievements.cfg
  data/campaigns/tutorial/achievements.cfg
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
  data/core/hotkeys.cfg
  data/gui/window/achievements_dialog.cfg
  data/lua/wml-conditionals.lua
  data/lua/wml-tags.lua
  data/schema/achievements.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/ConditionalActionsWML/has_achievement.cfg
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/achievements.cpp
  src/achievements.hpp
  src/game_config_manager.cpp
  src/game_config_manager.hpp
  src/game_events/action_wml.cpp
  src/game_events/conditional_wml.cpp
  src/gui/dialogs/achievements_dialog.cpp
  src/gui/dialogs/achievements_dialog.hpp
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
  src/hotkey/command_executor.cpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
  src/hotkey/hotkey_handler.cpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/game_lua_kernel.hpp
  src/tests/gui/test_gui2.cpp
  utils/CI/schema_validation.sh
  wml_test_schedule
Labels: macOS, Campaign, MP, Unit Tests, UI, Lua API, Building, Input, Schema

#7306 [Achievements] add correct tag
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
Labels: Campaign, Achievements

#7297 [1.16] Fix crash in scenario editor when placing units
  changelog_entries/editor_ability_assert.md
  src/units/abilities.cpp
Labels: Units

#7309 Fix crash in scenario editor when placing units
  changelog_entries/editor_ability_assert.md
  src/units/abilities.cpp
Labels: Bug, Units

#7308 Fix game data dir search for Visual Studio builds on Windows
  src/wesnoth.cpp
Labels: Windows

#7298 bi: Fix --report SIGSEGV caused by uninitialised video
  src/build_info.cpp
  src/video.cpp
  src/video.hpp
Labels: Bug, Engine

#7299 bi: Re-add screen dpi report line, add information on the renderer setup
  src/build_info.cpp
  src/video.cpp
  src/video.hpp
Labels: Engine

#7278 [1.16] Reduce log spam about the postponed removal of the SPECIAL_NOTES macro
  changelog_entries/special_note_macro_postponed_removal.md
  data/core/macros/special-notes.cfg
Labels: Help

#7312 [HttT] [Units] make injured sergeant lie flat on ground
  data/campaigns/Heir_To_The_Throne/units/Injured_Sergeant.cfg
Labels: Campaign, Units

#7321 Add a unit test for scoped arrays
  data/test/scenarios/lua_tests/wml-utils/test_scoped_array.cfg
  data/test/scenarios/lua_tests/wml-utils/test_scoped_scalar.cfg
  wml_test_schedule
Labels: Unit Tests

#7322 [1.16] Add a unit test for scoped arrays
  data/test/scenarios/test_scoped_array.cfg
  data/test/scenarios/test_scoped_scalar.cfg
  data/test/scenarios/test_scoped_vars.cfg
  wml_test_schedule
Labels: Unit Tests

#7307 Fix HP lost with dehydrated on tooltip
  data/campaigns/Under_the_Burning_Suns/lua/theme.lua
Labels: Campaign, Translations

#7282 SotBE S14 Grüü apparition fixed
  data/campaigns/Son_Of_The_Black_Eye/scenarios/14_Back_Home.cfg
Labels: Campaign

#7328 CI: Make the Windows CI builds use separate caches
  .github/workflows/ci-main.yml
Labels: Building, CI

#7323 Move the Merman Citizen and Brawler units to core
  data/campaigns/Dead_Water/_main.cfg
  data/campaigns/Dead_Water/units/Brawler.cfg
  data/campaigns/Dead_Water/utils/specials.cfg
  data/core/_main.cfg
  data/core/images/attacks/fist-merman.png
  data/core/images/attacks/tail-merman.png
  data/core/images/misc/stunned-status-icon.png
  data/core/images/portraits/merfolk/brawler.webp
  data/core/images/units/merfolk/brawler-defend.png
  data/core/images/units/merfolk/brawler-fist-1.png
  data/core/images/units/merfolk/brawler-fist-2.png
  data/core/images/units/merfolk/brawler-fist-3.png
  data/core/images/units/merfolk/brawler-tail-land-1.png
  data/core/images/units/merfolk/brawler-tail-land-2.png
  data/core/images/units/merfolk/brawler-tail-land-3.png
  data/core/images/units/merfolk/brawler-tail-land-4.png
  data/core/images/units/merfolk/brawler-tail-land-5.png
  data/core/images/units/merfolk/brawler.png
  data/core/images/units/merfolk/citizen-defend.png
  data/core/images/units/merfolk/citizen-fist-1.png
  data/core/images/units/merfolk/citizen-fist-2.png
  data/core/images/units/merfolk/citizen-fist-3.png
  data/core/images/units/merfolk/citizen.png
  data/core/macros/weapon_specials.cfg
  data/core/units/merfolk/Brawler.cfg
  data/core/units/merfolk/Citizen.cfg
  data/lua/stun.lua
Labels: Campaign, Graphics, Units, Lua API

#7332 Add Sand Scamperer
  data/core/units/monsters/Sand_Scamperer.cfg
Labels: Enhancement, Units

#7338 Fix Issue 7337: Byte Compiler Warnings for wesnoth-mode
  data/tools/emacs_mode/wesnoth-mode.el
Labels: WML Tools
