Repository wesnoth/wesnoth, pull requests merged in 2023-07, with the labels that each got.

#7749 Liberty S4: Resolve nameless enemies gaining names
  changelog.md
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
Labels: Campaign

#7759 1.17 elf scout animations
  data/core/images/units/elves-wood/scout/scout-bow-attack1.png
  data/core/images/units/elves-wood/scout/scout-bow-attack2.png
  data/core/images/units/elves-wood/scout/scout-bow-attack3.png
  data/core/images/units/elves-wood/scout/scout-bow-attack4.png
  data/core/images/units/elves-wood/scout/scout-bow-defend1.png
  data/core/images/units/elves-wood/scout/scout-bow-defend2.png
  data/core/images/units/elves-wood/scout/scout-bow.png
  data/core/images/units/elves-wood/scout/scout-melee-1.png
  data/core/images/units/elves-wood/scout/scout-melee-2.png
  data/core/images/units/elves-wood/scout/scout-melee-3.png
  data/core/images/units/elves-wood/scout/scout-melee-4.png
  data/core/images/units/elves-wood/scout/scout-melee-5.png
  data/core/units/elves/Scout.cfg
Labels: Graphics, Units

#7730 1.17 Elf fighter sprite updates
  data/core/images/units/elves-wood/fighter/Fighter_ColorMap.png
  data/core/images/units/elves-wood/fighter/fighter-bow-attack1.png
  data/core/images/units/elves-wood/fighter/fighter-bow-attack2.png
  data/core/images/units/elves-wood/fighter/fighter-bow-attack3.png
  data/core/images/units/elves-wood/fighter/fighter-bow-attack4.png
  data/core/images/units/elves-wood/fighter/fighter-bow-defend.png
  data/core/images/units/elves-wood/fighter/fighter-bow-defend1.png
  data/core/images/units/elves-wood/fighter/fighter-bow-defend2.png
  data/core/images/units/elves-wood/fighter/fighter-bow.png
  data/core/images/units/elves-wood/fighter/fighter-defend.png
  data/core/images/units/elves-wood/fighter/fighter-defend2.png
  data/core/images/units/elves-wood/fighter/fighter-melee-1.png
  data/core/images/units/elves-wood/fighter/fighter-melee-1b.png
  data/core/images/units/elves-wood/fighter/fighter-melee-2.png
  data/core/images/units/elves-wood/fighter/fighter-melee-2b.png
  data/core/images/units/elves-wood/fighter/fighter-melee-3.png
  data/core/images/units/elves-wood/fighter/fighter-melee-3b.png
  data/core/images/units/elves-wood/fighter/fighter-melee-4.png
  data/core/images/units/elves-wood/fighter/fighter-melee-4b.png
  data/core/images/units/elves-wood/fighter/fighter-melee-5b.png
  data/core/images/units/elves-wood/fighter/fighter-se-run1.png
  data/core/images/units/elves-wood/fighter/fighter-se-run10.png
  data/core/images/units/elves-wood/fighter/fighter-se-run2.png
  data/core/images/units/elves-wood/fighter/fighter-se-run3.png
  data/core/images/units/elves-wood/fighter/fighter-se-run4.png
  data/core/images/units/elves-wood/fighter/fighter-se-run5.png
  data/core/images/units/elves-wood/fighter/fighter-se-run6.png
  data/core/images/units/elves-wood/fighter/fighter-se-run7.png
  data/core/images/units/elves-wood/fighter/fighter-se-run8.png
  data/core/images/units/elves-wood/fighter/fighter-se-run9.png
  data/core/images/units/elves-wood/fighter/fighter.png
  data/core/units/elves/Fighter.cfg
Labels: Graphics, Units

#7757 Liberty S6: Correct target hex for Shadow Mage
  data/campaigns/Liberty/scenarios/06_The_Hunters.cfg
Labels: Backport, Campaign

#7756 Liberty S5: Make the loss of Hans a lose-condition
  changelog_entries/liberty_s5.md
  data/campaigns/Liberty/scenarios/05_Hide_and_Seek.cfg
Labels: Campaign

#7763 DiD S3: Resolved Darken Volk speaking from the darkness
  changelog_entries/did_s3.md
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
Labels: Campaign

#7713 Create test for special_id_active in the style of eoma_beam
  data/test/scenarios/wml_tests/FilterWML/special_id_active_lua_function.cfg
  data/test/scenarios/wml_tests/FilterWML/temp.txt
  wml_test_schedule
Labels: Unit Tests

#7770 DiD: Correct inconsistency between AMLA description and its actual effect
  data/campaigns/Descent_Into_Darkness/utils/amlas.cfg
Labels: Campaign

#7772 Add a test for formulas in taught abilities
  data/test/macros/start_position_common_keep_a_b.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teacher_damage_formula.cfg
  wml_test_schedule
Labels: Unit Tests

#7745 simplify checking for overwrite_specials when 'one_side' used
  src/units/abilities.cpp
  src/units/attack_type.hpp
Labels: Units

#7743 Prevent duplicate advancements from being added to unit type
  changelog_entries/duplicate_advancements.md
  data/core/about.cfg
  data/test/scenarios/wml_tests/ScenarioWML/add_advancements.cfg
  src/units/types.cpp
  wml_test_schedule
Labels: Unit Tests, Units

#7574 Refactor collection of #po, #po-override comments
  data/tools/pywmlx/state/lua_states.py
  data/tools/pywmlx/state/machine.py
  data/tools/pywmlx/state/wml_states.py
Labels: WML Tools

#7765 [Wmllint] add two missing corrections for Naga Warrior and Myrmidon
  data/tools/wmllint
Labels: WML Tools

#7790 1.16 wmlunits fix syntax error
  data/tools/wmlunits
Labels: WML Tools

#7793 1.16: Use same vcpkg base-line as current master
  vcpkg.json
Labels: Windows, Building, Stable 1.16

#7789 Balance for Undead 1.18
  data/core/units/bats/Bat_Blood.cfg
  data/core/units/bats/Bat_Dread.cfg
  data/core/units/undead/Corpse_Ghast.cfg
  data/core/units/undead/Corpse_Ghoul.cfg
  data/core/units/undead/Corpse_Necrophage.cfg
  data/core/units/undead/Necro_Ancient_Lich.cfg
  data/core/units/undead/Necro_Dark_Sorcerer.cfg
  data/core/units/undead/Necro_Lich.cfg
  data/core/units/undead/Necromancer.cfg
  data/core/units/undead/Skele_Banebow.cfg
  data/core/units/undead/Skele_Bone_Shooter.cfg
  data/core/units/undead/Skele_Draug.cfg
  data/core/units/undead/Skele_Revenant.cfg
  data/core/units/undead/Skeleton.cfg
  data/core/units/undead/Spirit_Nightgaunt.cfg
  data/core/units/undead/Spirit_Shadow.cfg
  data/core/units/undead/Spirit_Spectre.cfg
  data/core/units/undead/Spirit_Wraith.cfg
Labels: Units

#7788 Balance for Loyalists 1.18
  data/core/units/humans/Horse_Grand_Knight.cfg
  data/core/units/humans/Horse_Knight.cfg
  data/core/units/humans/Horse_Lancer.cfg
  data/core/units/humans/Horse_Paladin.cfg
  data/core/units/humans/Horseman.cfg
  data/core/units/humans/Loyalist_Bowman.cfg
  data/core/units/humans/Loyalist_Cavalier.cfg
  data/core/units/humans/Loyalist_Cavalryman.cfg
  data/core/units/humans/Loyalist_Dragoon.cfg
  data/core/units/humans/Loyalist_Duelist.cfg
  data/core/units/humans/Loyalist_General.cfg
  data/core/units/humans/Loyalist_Grand_Marshal.cfg
  data/core/units/humans/Loyalist_Halberdier.cfg
  data/core/units/humans/Loyalist_Iron_Mauler.cfg
  data/core/units/humans/Loyalist_Javelineer.cfg
  data/core/units/humans/Loyalist_Lieutenant.cfg
  data/core/units/humans/Loyalist_Longbowman.cfg
  data/core/units/humans/Loyalist_Master_Bowman.cfg
  data/core/units/humans/Loyalist_Pikeman.cfg
  data/core/units/humans/Loyalist_Royal_Guard.cfg
  data/core/units/humans/Loyalist_Shock_Trooper.cfg
  data/core/units/humans/Loyalist_Swordsman.cfg
  data/core/units/humans/Mage.cfg
  data/core/units/humans/Mage_Arch.cfg
  data/core/units/humans/Mage_Great.cfg
  data/core/units/humans/Mage_Red.cfg
  data/core/units/humans/Mage_White.cfg
  data/core/units/humans/Mage_of_Light.cfg
  data/core/units/merfolk/Fighter.cfg
  data/core/units/merfolk/Hoplite.cfg
  data/core/units/merfolk/Triton.cfg
  data/core/units/merfolk/Warrior.cfg
Labels: Units

#7786 Balance for Northerners 1.18
  data/core/units/goblins/Direwolf_Rider.cfg
  data/core/units/goblins/Pillager.cfg
  data/core/units/goblins/Wolf_Rider.cfg
  data/core/units/nagas/Fighter.cfg
  data/core/units/nagas/Myrmidon.cfg
  data/core/units/nagas/Warrior.cfg
  data/core/units/orcs/Archer.cfg
  data/core/units/orcs/Crossbowman.cfg
  data/core/units/orcs/Nightblade.cfg
  data/core/units/orcs/Slayer.cfg
  data/core/units/orcs/Slurbow.cfg
  data/core/units/orcs/Warlord.cfg
  data/core/units/orcs/Warrior.cfg
  data/core/units/trolls/Rocklobber.cfg
  data/core/units/trolls/Troll.cfg
  data/core/units/trolls/Warrior.cfg
Labels: Units

#7785 Balance for Knalgan Alliance 1.18
  data/core/units/dwarves/Dragonguard.cfg
  data/core/units/dwarves/Fighter.cfg
  data/core/units/dwarves/Guardsman.cfg
  data/core/units/dwarves/Lord.cfg
  data/core/units/dwarves/Sentinel.cfg
  data/core/units/dwarves/Stalwart.cfg
  data/core/units/dwarves/Steelclad.cfg
  data/core/units/dwarves/Thunderer.cfg
  data/core/units/dwarves/Thunderguard.cfg
  data/core/units/gryphons/Gryphon_Master.cfg
  data/core/units/gryphons/Gryphon_Rider.cfg
  data/core/units/humans/Outlaw.cfg
  data/core/units/humans/Outlaw_Assassin.cfg
  data/core/units/humans/Outlaw_Footpad.cfg
  data/core/units/humans/Outlaw_Fugitive.cfg
  data/core/units/humans/Outlaw_Rogue.cfg
  data/core/units/humans/Outlaw_Thief.cfg
  data/core/units/humans/Woodsman_Huntsman.cfg
  data/core/units/humans/Woodsman_Poacher.cfg
  data/core/units/humans/Woodsman_Ranger.cfg
  data/core/units/humans/Woodsman_Trapper.cfg
Labels: Units

#7784 Balance for Dunefolk 1.18
  data/core/units/dunefolk/Apothecary.cfg
  data/core/units/dunefolk/Blademaster.cfg
  data/core/units/dunefolk/Burner.cfg
  data/core/units/dunefolk/Captain.cfg
  data/core/units/dunefolk/Cataphract.cfg
  data/core/units/dunefolk/Explorer.cfg
  data/core/units/dunefolk/Falconer.cfg
  data/core/units/dunefolk/Harrier.cfg
  data/core/units/dunefolk/Herbalist.cfg
  data/core/units/dunefolk/Horse_Archer.cfg
  data/core/units/dunefolk/Raider.cfg
  data/core/units/dunefolk/Rider.cfg
  data/core/units/dunefolk/Rover.cfg
  data/core/units/dunefolk/Scorcher.cfg
  data/core/units/dunefolk/Skirmisher.cfg
  data/core/units/dunefolk/Sky_Hunter.cfg
  data/core/units/dunefolk/Soldier.cfg
  data/core/units/dunefolk/Spearguard.cfg
  data/core/units/dunefolk/Spearmaster.cfg
  data/core/units/dunefolk/Strider.cfg
  data/core/units/dunefolk/Sunderer.cfg
  data/core/units/dunefolk/Swordsman.cfg
  data/core/units/nagas/Ophidian.cfg
  data/core/units/nagas/Ringcaster.cfg
Labels: Units

#7783 Balance for Drakes 1.18
  data/core/units/drakes/Arbiter.cfg
  data/core/units/drakes/Armageddon.cfg
  data/core/units/drakes/Blademaster.cfg
  data/core/units/drakes/Clasher.cfg
  data/core/units/drakes/Enforcer.cfg
  data/core/units/drakes/Fighter.cfg
  data/core/units/drakes/Fire.cfg
  data/core/units/drakes/Flameheart.cfg
  data/core/units/drakes/Flare.cfg
  data/core/units/drakes/Glider.cfg
  data/core/units/drakes/Hurricane.cfg
  data/core/units/drakes/Inferno.cfg
  data/core/units/drakes/Sky.cfg
  data/core/units/drakes/Thrasher.cfg
  data/core/units/drakes/Warden.cfg
  data/core/units/drakes/Warrior.cfg
  data/core/units/saurians/Ambusher.cfg
  data/core/units/saurians/Flanker.cfg
  data/core/units/saurians/Javelineer.cfg
  data/core/units/saurians/Soothsayer.cfg
  data/core/units/saurians/Spearthrower.cfg
Labels: Units

#7766 Balance for Rebels 1.18
  data/core/units/elves/Avenger.cfg
  data/core/units/elves/Captain.cfg
  data/core/units/elves/Champion.cfg
  data/core/units/elves/Druid.cfg
  data/core/units/elves/Enchantress.cfg
  data/core/units/elves/Fighter.cfg
  data/core/units/elves/Hero.cfg
  data/core/units/elves/Marksman.cfg
  data/core/units/elves/Marshal.cfg
  data/core/units/elves/Outrider.cfg
  data/core/units/elves/Ranger.cfg
  data/core/units/elves/Rider.cfg
  data/core/units/elves/Scout.cfg
  data/core/units/elves/Sharpshooter.cfg
  data/core/units/elves/Shyde.cfg
  data/core/units/elves/Sorceress.cfg
  data/core/units/elves/Sylph.cfg
  data/core/units/merfolk/Entangler.cfg
  data/core/units/merfolk/Hunter.cfg
  data/core/units/merfolk/Javelineer.cfg
  data/core/units/merfolk/Netcaster.cfg
  data/core/units/merfolk/Spearman.cfg
  data/core/units/wose/Ancient.cfg
  data/core/units/wose/Elder.cfg
Labels: Units

#7716 [1.16] WC: add po hints to the messages when units join
  data/campaigns/World_Conquest/lua/game_mechanics/unittypedata.lua
Labels: Campaign

#7722 WC: change some messages when units join, and add po hints
  data/campaigns/World_Conquest/lua/game_mechanics/unittypedata.lua
Labels: Campaign

#7797 update missing entries for 1.17.19 changelog
  changelog.md
Labels: Docs

#7717 fail if [kill] contains [filter], re #4316
  data/lua/wml/kill.lua
Labels: WML, Lua API

#7775 UtBS S3: Resolve Garak's attacks only partially being converted to fire damage
  changelog_entries/utbs_s3.md
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
Labels: Backport, Campaign

#7795 WC II - Typo and translatability of Difficulty and Version
  data/campaigns/World_Conquest/lua/campaign/objectives.lua
Labels: Backport, Campaign

#7719 Start giving the editor add-on level functionality.
  boost_test_schedule
  data/core/editor/help.cfg
  data/gui/window/editor_choose_addon.cfg
  data/gui/window/editor_edit_pbl.cfg
  data/gui/window/editor_edit_pbl_translation.cfg
  data/gui/window/editor_edit_side.cfg
  data/gui/window/prompt.cfg
  data/themes/editor.cfg
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/desktop/paths.cpp
  src/desktop/paths.hpp
  src/editor/controller/editor_controller.cpp
  src/editor/controller/editor_controller.hpp
  src/editor/editor_main.cpp
  src/editor/editor_main.hpp
  src/editor/map/context_manager.cpp
  src/editor/map/context_manager.hpp
  src/editor/map/map_context.cpp
  src/editor/map/map_context.hpp
  src/editor/palette/editor_palettes.hpp
  src/editor/toolkit/editor_toolkit.hpp
  src/filesystem.cpp
  src/filesystem.hpp
  src/filesystem_common.cpp
  src/gui/dialogs/editor/choose_addon.cpp
  src/gui/dialogs/editor/choose_addon.hpp
  src/gui/dialogs/editor/edit_pbl.cpp
  src/gui/dialogs/editor/edit_pbl.hpp
  src/gui/dialogs/editor/edit_pbl_translation.cpp
  src/gui/dialogs/editor/edit_pbl_translation.hpp
  src/gui/dialogs/editor/edit_side.cpp
  src/gui/dialogs/file_dialog.cpp
  src/gui/dialogs/file_dialog.hpp
  src/gui/dialogs/prompt.cpp
  src/gui/dialogs/prompt.hpp
  src/gui/widgets/multimenu_button.cpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
  src/reports.cpp
  src/saved_game.cpp
  src/serialization/base64.cpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
  src/team.cpp
  src/tests/gui/test_gui2.cpp
Labels: macOS, UI, Editor, Building

#7811 Fix parts of #7810
  src/editor/map/context_manager.cpp
  src/editor/map/map_context.cpp
  src/gui/dialogs/editor/choose_addon.cpp
Labels: UI, Editor
