Repository wesnoth/wesnoth, pull requests merged in 2024-07, with the labels that each got.

#9006 Ignore GCC-14 and Clang false positives about dangling pointers
  src/filesystem.hpp
  src/global.hpp
  src/gui/auxiliary/find_widget.hpp
  src/hotkey/hotkey_command.hpp
  src/theme.hpp
  src/units/race.hpp
Labels: UI, Units, Building, Fwdport

#9045 [1.18] HttT S17 Don't create lava near the Sceptre
  data/campaigns/Heir_To_The_Throne/scenarios/17_Scepter_of_Fire.cfg
  data/campaigns/Heir_To_The_Throne/utils/httt_utils.cfg
Labels: Bug, Fwdport, Campaign HttT

#8955 GUI2/Game Load: Apply filter when changing directory
  changelog_entries/game_load_filter.md
  src/gui/dialogs/game_load.cpp
  src/gui/dialogs/game_load.hpp
Labels: Backport, UI

#9053 [1.18] GUI2/Game Load: Apply filter when changing directory
  changelog_entries/game_load_filter.md
  src/gui/dialogs/game_load.cpp
  src/gui/dialogs/game_load.hpp
Labels: UI

#9044 wmltools3: fix regexp compatibility with Python 3.12
  data/tools/wesnoth/wmliterator3.py
  data/tools/wesnoth/wmltools3.py
Labels: Backport, WML Tools

#9025 show a message when nothing exists to migrate
  src/gui/dialogs/migrate_version_selection.cpp
Labels: UI

#9054 [1.18] wmltools3 and Python 3.12
  data/tools/wesnoth/wmliterator3.py
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

#9056 use correct font for checkmark character
  data/gui/widget/button_success.cfg
Labels: UI

#9029 Remove unused dawn.png image, update copyrights.csv
  copyrights.csv
  data/core/images/terrain/dawn.png
Labels: Graphics, Terrain

#9064 Delete the wmltools3.Translation class
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

#9060 Optimize color_range reference palette generation
  src/color_range.cpp
Labels: Engine

#9048 SoF: Align masked dwarf portrait to the right
  data/campaigns/The_Hammer_of_Thursagan/scenarios/01_At_the_East_Gate.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/05_Fear.cfg
Labels: Backport, Graphics, Campaign THoT

#9047 merge moveto event into turn_refresh, closes #8954
  data/modifications/pick_advance/main.lua
Labels: Lua API

#9072 Updated link to android version in README
  README.md
Labels: Docs

#9077 WFL: Use correct argument for the second location in rotate_loc_around
  src/formula/function.cpp
Labels: WFL

#9082 EI S10: Clarify Dacyn's wording
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Prose, Campaign EI

#9081 Minor changes to Eastern Invasion item wording
  data/campaigns/Eastern_Invasion/utils/items.cfg
Labels: Campaign EI

#9020 Proposed New Wyvern Rider Description
  data/core/units/dunefolk/Wyvern_Rider.cfg
Labels: Units

#9075 Perform multiplication in result type for types larger than int
  src/ai/default/recruitment.cpp
  src/ai/formula/function_table.cpp
  src/generators/default_map_generator_job.cpp
  src/gui/widgets/grid.cpp
  src/minimap.cpp
  src/pathfind/pathfind.cpp
  src/terrain/builder.cpp
  src/terrain/translation.hpp
Labels: AI, UI, WFL, Terrain

#9088 CI run for an updated German translation
  changelog.md
  po/wesnoth-dm/de.po
  po/wesnoth-dw/de.po
  po/wesnoth-editor/de.po
  po/wesnoth-ei/de.po
  po/wesnoth-help/de.po
  po/wesnoth-l/de.po
  po/wesnoth-lib/de.po
  po/wesnoth-multiplayer/de.po
  po/wesnoth-sof/de.po
  po/wesnoth-thot/de.po
  po/wesnoth-tools/de.po
  po/wesnoth-units/de.po
  po/wesnoth-utbs/de.po
  po/wesnoth-wc/de.po
  po/wesnoth-wof/de.po
  po/wesnoth/de.po
Labels: Translations

#9089 [1.18] CI run for an updated German translation
  changelog.md
  po/wesnoth-dm/de.po
  po/wesnoth-dw/de.po
  po/wesnoth-editor/de.po
  po/wesnoth-ei/de.po
  po/wesnoth-help/de.po
  po/wesnoth-lib/de.po
  po/wesnoth-multiplayer/de.po
  po/wesnoth-sof/de.po
  po/wesnoth-thot/de.po
  po/wesnoth-tools/de.po
  po/wesnoth-units/de.po
  po/wesnoth-utbs/de.po
  po/wesnoth-wc/de.po
  po/wesnoth-wof/de.po
  po/wesnoth/de.po
Labels: Translations

#9091 Use std::numeric_limits instead of C macros
  src/actions/create.cpp
  src/actions/heal.cpp
  src/actions/vision.cpp
  src/config_attribute_value.cpp
  src/formula/function.cpp
  src/gui/widgets/debug.cpp
  src/saved_game.cpp
  src/serialization/schema/tag.cpp
  src/serialization/schema/tag.hpp
  src/serialization/schema/type.cpp
  src/terrain/builder.cpp
  src/units/abilities.cpp
  src/units/animation.cpp
  src/units/animation.hpp
  src/units/animation_component.cpp
  src/units/udisplay.cpp
Labels: UI, Units, WFL, Schema, Terrain

#9076 EI - urbanjungle clean-ups
  data/campaigns/Eastern_Invasion/terrain.cfg
  data/core/team-colors.cfg
Labels: Terrain, Campaign EI

#9090 Update copyrights: Always use slashes for the file path
  update_copyrights
Labels: Docs

#9058 Simplify user data dir determination
  src/filesystem.cpp
Labels: Engine

#9098 Update copyrights: Write CSV as UTF-8
  update_copyrights
Labels: Docs

#9100 update bengali locale info
  data/languages/bn_BD.cfg
Labels: Translations

#9094 wc: fix #9012 errro when deserter list is empty
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest_show_dialog.lua
Labels: Campaign WC

#9099 WC: update todo.txt file
  data/campaigns/World_Conquest/TODO.txt
Labels: Campaign WC

#9101 LoW bigmap localization fix and folder regroup
  copyrights.csv
  data/campaigns/Legend_of_Wesmere/images/low-map.png
  data/campaigns/Legend_of_Wesmere/images/maps/l10n/de/low--overlay.webp
  data/campaigns/Legend_of_Wesmere/images/maps/l10n/it/low--overlay.webp
  data/campaigns/Legend_of_Wesmere/images/maps/l10n/pt/low--overlay.webp
  data/campaigns/Legend_of_Wesmere/images/maps/l10n/ru/low--overlay.webp
  data/campaigns/Legend_of_Wesmere/images/maps/l10n/uk/low--overlay.webp
  data/campaigns/Legend_of_Wesmere/images/maps/l10n/zh_CN/low--overlay.webp
  data/campaigns/Legend_of_Wesmere/images/maps/low.webp
  data/campaigns/Legend_of_Wesmere/utils/bigmap.cfg
Labels: Graphics, Translations, Campaign LoW

#9106 Move assert into filesystem::get_user_data_path()
  src/filesystem.cpp
  src/preferences/preferences.hpp
  src/server/wesnothd/server.cpp
  src/tests/main.cpp
Labels: MP

#9107 FS: use optional<string> to represent non-existent paths
  src/addon/manager.cpp
  src/ai/configuration.cpp
  src/ai/formula/function_table.cpp
  src/editor/map/context_manager.cpp
  src/editor/map/map_context.cpp
  src/editor/palette/editor_palettes.cpp
  src/filesystem.cpp
  src/filesystem.hpp
  src/filesystem_common.cpp
  src/font/font_config.cpp
  src/game_config_manager.cpp
  src/game_launcher.cpp
  src/gui/dialogs/editor/edit_pbl.cpp
  src/gui/dialogs/game_load.cpp
  src/gui/gui.cpp
  src/language.cpp
  src/picture.cpp
  src/save_index.cpp
  src/scripting/lua_fileops.cpp
  src/scripting/lua_wml.cpp
  src/serialization/preprocessor.cpp
  src/serialization/schema_validator.cpp
  src/sound.cpp
  src/sound_music_track.cpp
  src/tests/test_filesystem.cpp
  src/units/race.cpp
  src/wesnoth.cpp
Labels: AI, UI, Editor, Units, Lua API, Add-ons, WFL

#9110 MP/Faction Select: fix help page handling (backport)
  changelog.md
  src/gui/dialogs/multiplayer/faction_select.cpp
Labels: UI

#9114 EI S11, S99: prevent backdoor entrance into prison cells
  data/campaigns/Eastern_Invasion/maps/11_Captured.map
  data/campaigns/Eastern_Invasion/maps/99_Empire.map
Labels: Backport, Campaign EI

#9112 EI S99: prevent prisoner income if prisons are captured
  data/campaigns/Eastern_Invasion/scenarios/99_Empire.cfg
Labels: Backport, Campaign EI

#9108 EI S04c: only award achievement if all prisoners escape
  data/campaigns/Eastern_Invasion/scenarios/04c_Mal-Ravanals_Capital.cfg
Labels: Campaign EI

#9105 EI S17b: fix buggy dynamic recruit list macro
  data/campaigns/Eastern_Invasion/scenarios/17b_All-In.cfg
Labels: Campaign EI

#9113 EI S12: fix Dra-Nak having inconsistent traits and portrait
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Backport, Campaign EI

#9103 EI: minor assorted unit stat and item tweaks
  changelog_entries/ei_assorted_changes.md
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
  data/campaigns/Eastern_Invasion/units/Human_Gweddry_Veteran_Commander.cfg
  data/campaigns/Eastern_Invasion/units/Human_Gweddry_Veteran_Lieutenant.cfg
  data/campaigns/Eastern_Invasion/units/Human_Konrad_King_of_Wesnoth.cfg
  data/campaigns/Eastern_Invasion/units/Undead_Ravanal_Dark_Shape.cfg
  data/campaigns/Eastern_Invasion/utils/character-definitions.cfg
  data/campaigns/Eastern_Invasion/utils/items.cfg
Labels: Units, Campaign EI

#8466 Lua feeding cleanup
  data/lua/feeding.lua
Labels: AI, Lua API

#9078 Reserve the name "_bug" for tests of behavior that should change
  data/test/scenarios/README.md
Labels: Unit Tests

#9116 Move command line processing before logger initialization
  src/commandline_options.cpp
  src/commandline_options.hpp
  src/filesystem.hpp
  src/filesystem_common.cpp
  src/wesnoth.cpp
Labels: Engine

#9093 chance_to_hit tests
  data/test/_main.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_add.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_add_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_add_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_multiply_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_negative_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_no_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_sub_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_sub_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_wfl_other.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_wfl_self.cfg
  wml_test_schedule
Labels: Unit Tests

#9086 validate [screen_fade] required parameters
  data/lua/wml-tags.lua
Labels: Lua API

#8983 Fix common OOS error #8960
  src/synced_context.cpp
Labels: Engine

#9096 Implement nonzero attack_weight, closes #3923
  src/actions/attack.cpp
  src/attack_prediction.hpp
Labels: Enhancement, AI, Engine

#9118 DM: S18 recall fix
  data/campaigns/Delfadors_Memoirs/scenarios/18_The_Portal_of_Doom.cfg
  data/campaigns/Delfadors_Memoirs/utils/sides.cfg
Labels: Backport, Campaign DM

#9122 titlescreen: make drop cap algorithm utf8 aware
  src/gui/dialogs/title_screen.cpp
Labels: UI

#9129 [Fwdport] Opens load map/save map as dialogs in correct folders
  src/editor/map/context_manager.cpp
Labels: Editor, Fwdport

#9140 fix WRN_NG level
  src/actions/advancement.cpp
Labels: Backport, Engine

#9117 allow quick reload of gui2 themes, no restart of wesnoth needed
  data/gui/themes/default/window/preferences.cfg
  data/gui/themes/default/window/preferences/03_display.cfg
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/preferences_dialog.hpp
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
  src/gui/gui.cpp
  src/gui/gui.hpp
  src/tests/main.cpp
  src/tests/utils/game_config_manager_tests.cpp
  src/wesnoth.cpp
Labels: UI

#8908 improve tooltip placement on sidebar
  src/floating_label.cpp
  src/floating_label.hpp
  src/tooltips.cpp
Labels: Enhancement, UI

#9137 damage ability tests
  data/test/_main.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_add.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_add_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_add_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_low_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_multiply_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_negative_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_no_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_sub_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_sub_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_wfl_other.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_wfl_self.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_zero.cfg
  wml_test_schedule
Labels: Unit Tests
