Repository wesnoth/wesnoth, pull requests merged in 2024-12, with the labels that each got.

#9621 Elvish Champion: revert hp to 1.16, explain accuracy bonus via a weapon special
  changelog_entries/elvish-champion-honed.md
  data/core/macros/weapon_specials.cfg
  data/core/units/elves/Champion.cfg
Labels: Units

#9551 Add a red line to the bottom of chat window when entering lobby
  src/gui/widgets/chatbox.cpp
Labels: MP Lobby, Translations, UI

#9626 GUI2/Listbox: unify registration of sorting options
  src/gui/dialogs/game_stats.cpp
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/unit_create.cpp
  src/gui/dialogs/unit_list.cpp
  src/gui/dialogs/unit_recall.cpp
  src/gui/widgets/addon_list.cpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/listbox.hpp
Labels: UI

#9629 GUI2/Listbox: allow setting all sorters at once
  src/gui/dialogs/game_load.cpp
  src/gui/dialogs/game_stats.cpp
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/unit_create.cpp
  src/gui/dialogs/unit_list.cpp
  src/gui/dialogs/unit_recall.cpp
  src/gui/widgets/addon_list.cpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/listbox.hpp
Labels: UI

#9630 listbox: simplify builder
  src/gui/widgets/listbox.cpp
  src/gui/widgets/listbox.hpp
Labels: UI

#9564 Map editor segmentation fault fix
  src/ai/manager.cpp
  src/ai/manager.hpp
Labels: AI, Editor

#9622 Fix exception when opening MP a second time at low resolution
  data/gui/themes/default/widget/chatbox.cfg
Labels: UI

#8790 use to/from_chars in attribute_value and lexical_cast
  SConstruct
  boost_test_schedule
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  scons/boost.py
  source_lists/wesnoth
  src/config_attribute_value.cpp
  src/lexical_cast.hpp
  src/serialization/parser.cpp
  src/tests/test_config.cpp
  src/tests/test_lexical_cast.cpp
  src/utils/charconv.cpp
  src/utils/charconv.hpp
Labels: macOS, Building, SCons

#9638 GUI2: take find_widget and find ID args as string_view
  src/gui/widgets/container_base.cpp
  src/gui/widgets/container_base.hpp
  src/gui/widgets/generator.cpp
  src/gui/widgets/generator_private.hpp
  src/gui/widgets/grid.cpp
  src/gui/widgets/grid.hpp
  src/gui/widgets/grid_private.hpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/matrix.hpp
  src/gui/widgets/scrollbar_container.cpp
  src/gui/widgets/scrollbar_container.hpp
  src/gui/widgets/scrollbar_container_private.hpp
  src/gui/widgets/stacked_widget.cpp
  src/gui/widgets/stacked_widget.hpp
  src/gui/widgets/styled_widget.cpp
  src/gui/widgets/styled_widget.hpp
  src/gui/widgets/tree_view_node.cpp
  src/gui/widgets/tree_view_node.hpp
  src/gui/widgets/viewport.cpp
  src/gui/widgets/viewport.hpp
  src/gui/widgets/widget.cpp
  src/gui/widgets/widget.hpp
  src/gui/widgets/window.cpp
  src/gui/widgets/window.hpp
Labels: UI

#9637 EI S04c: fix gold management for Ravanal
  data/campaigns/Eastern_Invasion/scenarios/04c_Mal-Ravanals_Capital.cfg
Labels: Campaign EI

#9640 attempt to fix wesnothd crash when player disconnecting before game history response
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: MP, Add-ons

#9645 unit preview pane: use overloaded functions to set data
  src/gui/dialogs/unit_advance.cpp
  src/gui/dialogs/unit_attack.cpp
  src/gui/dialogs/unit_create.cpp
  src/gui/dialogs/unit_list.cpp
  src/gui/dialogs/unit_recall.cpp
  src/gui/dialogs/unit_recruit.cpp
  src/gui/widgets/unit_preview_pane.cpp
  src/gui/widgets/unit_preview_pane.hpp
  src/scripting/lua_widget_attributes.cpp
Labels: UI, Lua API

#9033 Add -r option to add_source_file fix #8733
  add_source_file
Labels: Building

#9648 return pbl author attribute to its original usage
  changelog_entries/primary_authors.md
  data/gui/themes/default/window/editor_edit_pbl.cfg
  data/schema/pbl.cfg
  src/gui/dialogs/addon/addon_auth.cpp
  src/gui/dialogs/editor/edit_pbl.cpp
  src/server/campaignd/server.cpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/user_handler.hpp
Labels: MP, UI, Add-ons, Schema

#9652 Fix build with boost >= 1.87.0
  src/server/campaignd/server.cpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/game.cpp
  src/server/wesnothd/server.cpp
Labels: Building

#9653 Fix build with boost >= 1.87.0
  src/server/campaignd/server.cpp
  src/server/common/forum_user_handler.cpp
  src/server/common/forum_user_handler.hpp
  src/server/common/server_base.cpp
  src/server/common/server_base.hpp
  src/server/common/user_handler.hpp
  src/server/wesnothd/game.cpp
  src/server/wesnothd/server.cpp
Labels: Building, Stable 1.18

#9656 Fix #9651 Error in u:extract()
  src/scripting/lua_unit.cpp
Labels: Lua API

#9650 GUI2: simplify various dialog's filter handling
  src/gui/dialogs/game_load.cpp
  src/gui/dialogs/game_load.hpp
  src/gui/dialogs/log_settings.cpp
  src/gui/dialogs/log_settings.hpp
  src/gui/dialogs/unit_create.cpp
  src/gui/dialogs/unit_create.hpp
  src/gui/dialogs/unit_recall.cpp
  src/gui/dialogs/unit_recruit.cpp
  src/gui/dialogs/unit_recruit.hpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/listbox.hpp
  src/utils/ci_searcher.hpp
Labels: UI

#9438 Increase Fire Resistances of Fire Guardian Line
  changelog_entries/fire_guardian_resistances.md
  data/core/units.cfg
  data/core/units/monsters/Fire_Guardian.cfg
  data/core/units/monsters/Fire_Wisp.cfg
  data/core/units/monsters/Fire_Wraith.cfg
Labels: Units

#9657 add preference to not get addon icons
  data/advanced_preferences.cfg
  src/addon/client.cpp
  src/addon/client.hpp
  src/addon/info.cpp
  src/addon/manager_ui.cpp
  src/gui/dialogs/addon/manager.cpp
  src/preferences/preferences.hpp
  src/preferences/preferences_list.hpp
  src/server/campaignd/server.cpp
Labels: UI, Add-ons

#9664 View Manual: Avoid crash from indexing an empty vector
  src/gui/dialogs/game_version_dialog.cpp
Labels: UI

#9654 EI: forbid dunefolk from taking the Plague Staff and add custom rejection messages
  changelog_entries/ei-dialogue-fixes.md
  data/campaigns/Eastern_Invasion/scenarios/18_Epilogue.cfg
  data/campaigns/Eastern_Invasion/utils/items.cfg
Labels: Campaign EI

#9636 Message voice fix
  data/lua/wml/message.lua
Labels: Lua API

#9534 Buff Dune Warmaster
  changelog_entries/dune_warmaster.md
  data/core/units/dunefolk/Warmaster.cfg
Labels: Units

#9509 Nerf of Orcish Crossbowman
  changelog_entries/orcish_xbowman_nerf.md
  data/core/units/orcs/Crossbowman.cfg
Labels: Units

#9667 add validation for icons that are too large
  src/addon/client.cpp
  src/addon/info.cpp
  src/addon/validation.cpp
  src/addon/validation.hpp
  src/gui/dialogs/editor/edit_pbl.cpp
  src/server/campaignd/server.cpp
Labels: UI, Add-ons

#9666 Dwarvish Explorer: reduce resistances from 20% to 10%
  changelog_entries/explorer_resistance_nerf.md
  data/core/units/dwarves/Explorer.cfg
  data/core/units/dwarves/Pathfinder.cfg
Labels: Units

#9677 EI S04c: avoid contradictory dialogue if Ravanal is triggered early
  data/campaigns/Eastern_Invasion/scenarios/04c_Mal-Ravanals_Capital.cfg
Labels: Campaign EI

#9678 EI S5: reduce code duplication
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
Labels: Campaign EI

#9660 Use [leader] in the c++ code
  src/game_initialization/connect_engine.cpp
  src/game_initialization/flg_manager.cpp
  src/game_initialization/flg_manager.hpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/saved_game.cpp
  src/team.cpp
  src/team.hpp
  src/teambuilder.cpp
  src/tests/test_mp_connect.cpp
  src/units/types.cpp
Labels: UI, Units

#9681 Clean up and expand ranges compat layer
  src/actions/undo_action.cpp
  src/ai/composite/aspect.hpp
  src/config.hpp
  src/events.cpp
  src/game_data.cpp
  src/gui/core/event/dispatcher_private.hpp
  src/gui/core/event/handler.cpp
  src/quit_confirmation.cpp
  src/scripting/application_lua_kernel.cpp
  src/utils/ranges.hpp
  src/whiteboard/highlighter.cpp
  src/whiteboard/mapbuilder.cpp
Labels: AI, UI, Lua API

#9635 Move custom AMLAs from EI to core
  data/campaigns/Eastern_Invasion/_main.cfg
  data/campaigns/Eastern_Invasion/utils/amlas.cfg
  data/core/macros/amla.cfg
Labels: Campaign EI
