Repository wesnoth/wesnoth, pull requests merged in 2024-08, with the labels that each got.

#9156 Fix unit tostring conversion causing a crash if the unit is invalid
  src/scripting/lua_unit.cpp
Labels: Lua API

#9144 Update copyrights: use consistent output format
  update_copyrights
Labels: Docs

#8966 move filter_abilitie/specials code in abilities.cpp
  src/units/abilities.cpp
  src/units/attack_type.hpp
  src/units/unit.cpp
Labels: Units

#9130 THoT: Create heroes if they don't exist
  data/campaigns/The_Hammer_of_Thursagan/scenarios/01_At_the_East_Gate.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/02_Reclaiming_the_Past.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/03_Strange_Allies.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/04_High_Pass.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/05_Fear.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/06_Forbidden_Forest.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/07_The_Siege_of_Kal_Kartha.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/08_The_Court_of_Karrag.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/09_The_Underlevels.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/10_Epilogue.cfg
  data/campaigns/The_Hammer_of_Thursagan/utils/characters.cfg
  data/campaigns/The_Hammer_of_Thursagan/utils/macros.cfg
Labels: Campaign THoT

#8899 Schema: add other mp_ keys too
  data/schema/core/addons.cfg
Labels: Schema

#8541 [Units][Skeletal Dragon] Update Stats
  data/core/units/monsters/Skeletal_Dragon.cfg
Labels: Units

#8780 [objectives.lua] improve clarity of error message
  data/lua/wml/objectives.lua
Labels: Lua API

#9160 Call Export appropriately instead of using locals()
  src/SConscript
Labels: Building, SCons

#9135 THoT S6 Music Tweak
  data/campaigns/The_Hammer_of_Thursagan/scenarios/06_Forbidden_Forest.cfg
Labels: Campaign THoT

#9023 Moving image data to the image
  utils/csv2img-exif
  utils/img-exif2csv
Labels: Graphics

#9136 Simplify pot generation
  po/CMakeLists.txt
  po/SConscript
Labels: Translations

#9170 Disable WML tests for debug builds
  .github/workflows/ci-main.yml
Labels: Unit Tests, CI

#9154 SotA S2: Avoid destroying unit potentially already occupying target hex
  data/campaigns/Secrets_of_the_Ancients/scenarios/02_Dark_Business.cfg
Labels: Backport, Campaign SotA

#8861 editor: Implement a Show Tool Information toggle option
  changelog_entries/editor-tool-help-toggle.md
  copyrights.csv
  data/themes/editor.cfg
  images/icons/action/editor-help-text-shown_25-active.png
  images/icons/action/editor-help-text-shown_25-pressed.png
  images/icons/action/editor-help-text-shown_25.png
  images/icons/action/editor-help-text-shown_30-active.png
  images/icons/action/editor-help-text-shown_30-pressed.png
  images/icons/action/editor-help-text-shown_30.png
  src/editor/controller/editor_controller.cpp
  src/editor/editor_display.cpp
  src/editor/editor_display.hpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
  src/preferences/preferences.cpp
  src/preferences/preferences.hpp
  src/preferences/preferences_list.hpp
Labels: Enhancement, Graphics, UI, Editor

#9165 Handling empty team in :droid
  src/menu_events.cpp
Labels: Engine

#9151 macroify some preferences code
  src/actions/move.cpp
  src/config_attribute_value.hpp
  src/controller_base.cpp
  src/countdown_clock.cpp
  src/game_classification.cpp
  src/game_config_manager.cpp
  src/game_display.cpp
  src/game_initialization/configure_engine.cpp
  src/game_launcher.cpp
  src/gui/dialogs/game_delete.cpp
  src/gui/dialogs/game_load.cpp
  src/gui/dialogs/language_selection.cpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/title_screen.cpp
  src/gui/widgets/chatbox.cpp
  src/hotkey/command_executor.cpp
  src/language.cpp
  src/menu_events.cpp
  src/play_controller.cpp
  src/playsingle_controller.cpp
  src/preferences/preferences.cpp
  src/preferences/preferences.hpp
  src/preferences/preferences_list.hpp
  src/sound.cpp
  src/wesnoth.cpp
  src/whiteboard/manager.cpp
Labels: UI

#9166 damage_type tests
  data/test/_main.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_alternative_arcane.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_alternative_blade.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_alternative_cold.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_alternative_fire.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_alternative_impact.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_alternative_pierce.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_alternative_three.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_alternative_two.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_both_same_alternative_best.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_both_same_replacement_best.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_both_separate_alternative_best.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_both_separate_replacement_best.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_many.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_replacement_arcane.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_replacement_blade.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_replacement_cold.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_replacement_fire.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_replacement_impact.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_replacement_pierce.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_replacement_three.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_replacement_two.cfg
  wml_test_schedule
Labels: Unit Tests

#9184 Split drawing_layer into its own file, make scoped enum
  src/arrow.cpp
  src/arrow.hpp
  src/display.cpp
  src/display.hpp
  src/drawing_layer.hpp
  src/editor/editor_display.cpp
  src/game_display.cpp
  src/units/animation.cpp
  src/units/drawer.cpp
  src/units/frame.cpp
  src/units/frame.hpp
  src/whiteboard/attack.cpp
  src/whiteboard/manager.cpp
  src/whiteboard/move.cpp
  src/whiteboard/recall.cpp
  src/whiteboard/recruit.cpp
  src/whiteboard/suppose_dead.cpp
Labels: Editor, Units

#6665 Added spritsheet generator
  source_lists/wesnoth
  src/commandline_options.cpp
  src/commandline_options.hpp
  src/utils/spritesheet_generator.cpp
  src/utils/spritesheet_generator.hpp
  src/wesnoth.cpp
Labels: Building

#9182 New Titlescreen Images
  copyrights.csv
  data/core/images/story/wesmere.webp
  data/game_config.cfg
Labels: Graphics

#9181 MP: correctly register Start Game button's shortcut with hotkey system
  data/core/hotkeys.cfg
  src/gui/dialogs/multiplayer/mp_staging.cpp
  src/gui/dialogs/multiplayer/mp_staging.hpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
Labels: MP Lobby, UI, Input

#9183 wesnothd: avoid a race condition when logging on
  src/server/wesnothd/server.cpp
  src/server/wesnothd/server.hpp
Labels: MP

#9159 Properly implement DO_NOT_MODIFY_CACHE
  src/server/common/simple_wml.cpp
Labels: MP, Add-ons

#9164 Set unit hitpoints to 0 during [kill]
  data/lua/wml/kill.lua
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/kill_fires_events.cfg
Labels: Unit Tests, Lua API

#9197 Add disable ability
  data/schema/units/abilities.cfg
  data/schema/units/specials.cfg
  src/units/unit.hpp
Labels: Unit Tests, Units, Schema

#9189 Add sprite for the Cold Dagger item to UtBS
  copyrights.csv
  data/campaigns/Under_the_Burning_Suns/images/items/cold-sword.png
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
Labels: Graphics, Campaign UtBS

#9210 Remove UNUSED
  src/ai/formula/function_table.cpp
  src/formula/function.cpp
  src/formula/function.hpp
  src/global.hpp
  src/scripting/lua_terrainfilter.cpp
  src/scripting/push_check.hpp
  src/units/abilities.cpp
  src/utils/optional_fwd.hpp
  src/utils/ranges.hpp
Labels: AI, Units, Lua API, WFL

#9209 handle preferences case change
  src/preferences/preferences.cpp
Labels: Engine

#9212 fix incomplete add [disable] abilityto abilities used like weapon special
  data/schema/units/abilities.cfg
  data/schema/units/specials.cfg
  src/actions/attack.cpp
Labels: Schema

#9180 editor: Backport Show Tool Information toggle option to 1.18
  changelog_entries/editor-tool-help-toggle.md
  copyrights.csv
  data/themes/editor.cfg
  images/icons/action/editor-help-text-shown_25-active.png
  images/icons/action/editor-help-text-shown_25-pressed.png
  images/icons/action/editor-help-text-shown_25.png
  images/icons/action/editor-help-text-shown_30-active.png
  images/icons/action/editor-help-text-shown_30-pressed.png
  images/icons/action/editor-help-text-shown_30.png
  src/editor/controller/editor_controller.cpp
  src/editor/editor_display.cpp
  src/editor/editor_display.hpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
  src/preferences/editor.cpp
  src/preferences/editor.hpp
Labels: Enhancement, Graphics, UI, Editor

#9218 Conduct surface manipulation in-place when possible
  src/gui/core/canvas.cpp
  src/image_modifications.cpp
  src/image_modifications.hpp
  src/picture.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
Labels: UI

#9217 add disable ability tests
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/disable/disable_ability.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/disable/disable_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/disable/disable_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/disable/disable_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/disable/disable_affect_self_no.cfg
  wml_test_schedule
Labels: Unit Tests

#9219 wmlscope: fix format of magic comment in documentation
  data/tools/wmlscope
Labels: WML Tools

#9221 HttT S20b: Remove reference to Asperger Syndrome in po comment
  data/campaigns/Heir_To_The_Throne/scenarios/20b_Underground_Channels.cfg
Labels: Campaign HttT

#9191 add tooltip to [unit_vision]
  data/themes/default.cfg
Labels: UI

#9216 Add test store_locations_with_unit_filter
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/InternalActionsWML/store_locations_and_or_not_unit_filter.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/InternalActionsWML/store_locations_with_unit_filter.cfg
  wml_test_schedule
Labels: Unit Tests

#9194 Update and correct game config schema
  data/schema/core/actionwml.cfg
  data/schema/core/addons.cfg
  data/schema/core/conditionalwml.cfg
Labels: Schema

#9195 Make sure stdout encoding is UTF-8
  data/tools/wmlxgettext
Labels: WML Tools

#9153 Avoid rewriting the same file multiple times
  utils/CI/fix_whitespace.sh
Labels: CI

#9198 Simplify game_config::path determination
  src/game_launcher.cpp
  src/wesnoth.cpp
Labels: Engine

#9223 add tooltip to [unit_vision]
  data/themes/default.cfg
Labels: UI

#9229 Encyclopedia clean up following #9188
  data/core/encyclopedia/geography.cfg
Labels: Docs, Prose, Help

#9231 fix #9225 events with negative priority getting erroneously deleted
  src/game_events/manager_impl.cpp
Labels: WML

#9228 Make command line option errors consistently return 2 as documented
  src/wesnoth.cpp
Labels: Command Line

#9173 hotkey: Identify Alt as "opt" on macOS
  changelog_entries/macos-option-key-label.md
  src/hotkey/hotkey_item.cpp
Labels: macOS, UI

#9133 Correct confusing handling of ./ paths
  src/filesystem.cpp
  src/filesystem.hpp
  src/tests/test_filesystem.cpp
Labels: Engine

#9242 Fix #9241, Liberty S1 dialogue item tweak
  data/campaigns/Liberty/scenarios/01_The_Raid.cfg
Labels: Campaign L

#9222 Image metadata CI check
  .github/workflows/image_metadata.yml
Labels: Graphics, CI

#9207 Death Squire optional advancement macro and damage nerf
  data/core/macros/optional_unit_advancements.cfg
  data/core/units/undead/Skele_Death_Squire.cfg
Labels: Units

#9205 fix map_locker in lua kernel
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

#9246 remove CI check of copyrights.csv for images
  .github/workflows/ci-main.yml
  copyrights.csv
  update_copyrights
Labels: Graphics, CI

#9256 Corrections to image metadata check CI
  .github/workflows/image_metadata.yml
Labels: CI

#9244 drains tests
  data/test/_main.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_add.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_add_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_add_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_default_cumulative_both.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_default_cumulative_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_default_cumulative_yes.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_low_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_multiply_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_negative_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_no_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_sub_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_sub_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_wfl_other.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_wfl_self.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_zero.cfg
  wml_test_schedule
Labels: Unit Tests

#9251 add test for apply_to=both and apply_to=attacker/defender when both type of self and opponent weapon are filtered.
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_apply_to_attacker_filter_attacker_defender.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_apply_to_both_filter_self_opponent.cfg
  wml_test_schedule
Labels: Unit Tests

#9158 Turn Dwarvish Miners into a Level 0 unit
  data/core/units/dwarves/Miner.cfg
Labels: Units

#9263 add optional data type support
  src/scripting/push_check.hpp
Labels: Lua API

#9267 Back-port #9004 to resolve #9259 (wmlscope)
  data/tools/wmlscope
Labels: WML Tools, Stable 1.18

#9239 [SOTBE] S3: make allied AI smarter
  data/campaigns/Son_Of_The_Black_Eye/scenarios/03_Toward_Mountains_of_Haag.cfg
Labels: Enhancement, AI, Campaign SotBE

#9269 SotBE S6: replace bad advice at turn 2
  data/campaigns/Son_Of_The_Black_Eye/scenarios/06_Black_Flag.cfg
Labels: Enhancement, Prose, Campaign SotBE

#9270 SOTBE S5: some UX improvements
  data/campaigns/Son_Of_The_Black_Eye/scenarios/05_To_the_Harbor_of_Tirigaz.cfg
Labels: Enhancement, Campaign SotBE

#9279 SotBE S7: UX improvements
  data/campaigns/Son_Of_The_Black_Eye/maps/07_The_Desert_of_Death.map
  data/campaigns/Son_Of_The_Black_Eye/scenarios/07_The_Desert_of_Death.cfg
Labels: Enhancement, Campaign SotBE

#9272 firststrike tests
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/firststrike/firststrike_ability.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/firststrike/firststrike_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/firststrike/firststrike_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/firststrike/firststrike_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/firststrike/firststrike_affect_self_no.cfg
  wml_test_schedule
Labels: Unit Tests

#9274 Enable a C++20 CI build
  .github/workflows/ci-main.yml
Labels: CI
