Repository wesnoth/wesnoth, pull requests merged in 2024-03, with the labels that each got.

#8484 The method is static, but these variables can't be.
  src/units/types.cpp
Labels: Units

#8473 [1.18] DM S18: Add a po hint about grammatical tense of some text
  data/campaigns/Delfadors_Memoirs/scenarios/18_The_Portal_of_Doom.cfg
Labels: Campaign DM

#8474 [1.18] Multiplayer: Add a po hint about "Matchmaking"
  data/gui/window/lobby_main.cfg
Labels: UI

#8480 [1.18] Use missing_mandatory_wml_tag instead of extra translatable strings
  src/gui/widgets/button.cpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/drawing.cpp
  src/gui/widgets/horizontal_scrollbar.cpp
  src/gui/widgets/image.cpp
  src/gui/widgets/label.cpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/menu_button.cpp
  src/gui/widgets/minimap.cpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multimenu_button.cpp
  src/gui/widgets/pane.cpp
  src/gui/widgets/panel.cpp
  src/gui/widgets/progress_bar.cpp
  src/gui/widgets/repeating_button.cpp
  src/gui/widgets/scroll_label.cpp
  src/gui/widgets/scrollbar_panel.cpp
  src/gui/widgets/slider.cpp
  src/gui/widgets/text_box.cpp
  src/gui/widgets/toggle_button.cpp
  src/gui/widgets/toggle_panel.cpp
  src/gui/widgets/tree_view.cpp
  src/gui/widgets/unit_preview_pane.cpp
  src/gui/widgets/vertical_scrollbar.cpp
  src/gui/widgets/viewport.cpp
Labels: UI

#8454 gui/outro: New clock-based timing logic for the text fading
  changelog_entries/ui-outro-text-fading.md
  data/gui/window/outro.cfg
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
Labels: Bug, UI

#8498 gui/outro: New clock-based timing logic for the text fading
  changelog_entries/ui-outro-text-fading.md
  data/gui/window/outro.cfg
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
Labels: Bug, UI

#8500 [1.18] WoF: another fix for stable
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

#8506 use the currently selected map's path when opening a new file
  src/editor/map/context_manager.cpp
Labels: Editor

#8455 wmllint: drop the rule about [campaign]rank= being a multiple of 5
  data/tools/wmllint
Labels: Enhancement, WML Tools

#8475 Fix #8460 [effect] apply_to=variation
  data/test/scenarios/wml_tests/UnitsWML/modification_effect_type_variation.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units

#8509 EI: Bind stock translatable strings in Barrow Wight's definition to the wesnoth-units textdomain
  data/campaigns/Eastern_Invasion/units/Undead_Horse_Barrow_Wight.cfg
Labels: Translations, Units, Fwdport, Campaign EI

#8470 Adding myself to credits
  data/core/about_i18n.cfg
Labels: Backport, Docs

#8515 Make sure animations are skipped when skipping animations in replays
  src/actions/advancement.cpp
  src/scripting/game_lua_kernel.cpp
  src/units/udisplay.cpp
Labels: Graphics, Units, Lua API

#8523 Bengali logo for Wesnoth and enable bn image assets
  copyrights.csv
  images/misc/l10n/bn/logo.png
  po/wesnoth-lib/bn.po
Labels: Graphics, Translations

#8519 [1.18]Fix Ambush Ability Does not Work in Bluff/Glutch Forest Terrain
  data/core/macros/abilities.cfg
Labels: Terrain

#8518 Fix Ambush Ability Does not Work in Bluff/Glutch Forest Terrain
  data/core/macros/abilities.cfg
Labels: Terrain

#8526 minor cleanup of theme font macro
  data/themes/default.cfg
Labels: UI

#8530 minor cleanup of theme font macro (backport)
  data/themes/default.cfg
Labels: Backport, UI

#8521 SotA S16: Keep Crelanu within his ring of protective holy waters
  data/campaigns/Secrets_of_the_Ancients/scenarios/16_The_Mage.cfg
Labels: Backport, Campaign SotA

#8544 Add -Wno-shorten-64-to-32 to compiler flags in Xcode
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: macOS, Building, Fwdport

#8540 SotA S16: Keep Crelanu within his ring of protective holy waters
  changelog_entries/sota_crelanu.md
  data/campaigns/Secrets_of_the_Ancients/scenarios/16_The_Mage.cfg
Labels: Campaign SotA

#8545 Changelog for SotA S16: Keep Crelanu within his ring
  changelog_entries/sota_crelanu.md
Labels: Docs

#8548 Add -Wno-shorten-64-to-32 to compiler flags in Xcode
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: macOS, Building

#8495 WoF S9: fix crannog village on map edge
  data/campaigns/Winds_of_Fate/maps/09_Ancestor.map
  data/campaigns/Winds_of_Fate/maps/11_Crosswind.map
  data/campaigns/Winds_of_Fate/maps/HM_Master.map
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Backport, Campaign WoF

#8514 WoF: adjust music
  data/campaigns/Winds_of_Fate/scenarios/01_The_Hunt.cfg
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/campaigns/Winds_of_Fate/scenarios/04_Journey.cfg
  data/campaigns/Winds_of_Fate/scenarios/05_Threshold.cfg
  data/campaigns/Winds_of_Fate/scenarios/06_Landfall.cfg
  data/campaigns/Winds_of_Fate/scenarios/07_Harvest.cfg
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
  data/campaigns/Winds_of_Fate/scenarios/12_Epilogue.cfg
Labels: Backport, Audio, Campaign WoF

#8560 add secondary_authors to pbl schema
  data/schema/pbl.cfg
Labels: Schema

#8563 [1.18] MP: Aethermaw: Update images with their 1.18 variants
  changelog_entries/aethermaw_images.md
  data/multiplayer/scenarios/2p_Aethermaw.cfg
Labels: MP

#8566 CI run for a po update
  po/wesnoth-sof/de.po
Labels: Translations

#8570 Fix "implicit conversion turns floating-point number into integer" warnings
  src/game_config.cpp
Labels: macOS, Building

#8571 Fix "implicit conversion turns floating-point number into integer" warnings (development branch forward-port version)
  src/game_config.cpp
Labels: macOS, Building

#8573 CI run for po update
  po/wesnoth-sof/de.po
Labels: Translations

#8574 [1.18] WoF S11: tweak enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

#8575 WoF S11: tweak enemy gold
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

#8556 Use --jobs instead of adjusting the manifest
  .github/workflows/ci-main.yml
Labels: CI

#8579 Use unique flatpak branch to allow parallel installation
  .github/workflows/ci-main.yml
Labels: CI

#8594 fix double scrollbar bug in WC Help dialog
  changelog_entries/wc-double-scrollbar-bugfix.md
  data/campaigns/World_Conquest/gui/help_dialog.cfg
Labels: UI, Campaign WC

#8595 Streamline bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Services

#8599 fix help portraits scaling too large
  src/help/help_topic_generators.cpp
Labels: Help

#8600 Attempt to fix data migration for steam
  src/filesystem.cpp
Labels: Engine

#8577 fix invalid escape sequence
  data/tools/pywmlx/state/machine.py
Labels: WML Tools

#8618 [1.18] Automatically replace missing .jpg images with .webp if found
  changelog_entries/jpg_to_webp.md
  src/picture.cpp
Labels: Enhancement, Graphics, Fwdport

#8621 fix invalid escape sequence
  data/tools/pywmlx/state/machine.py
Labels: WML Tools

#8554 Add yellow and pink color_range
  data/core/team-colors.cfg
Labels: Graphics

#8623 MP: Aethermaw: Update images with their 1.18 variants
  changelog_entries/aethermaw_images.md
  data/multiplayer/scenarios/2p_Aethermaw.cfg
Labels: MP

#8539 Aethermaw Cosmetic Updates
  data/multiplayer/scenarios/2p_Aethermaw.cfg
Labels: MP, Units, Prose

#8629 [1.18] CI run for a German translation update
  changelog.md
  po/wesnoth-help/de.po
  po/wesnoth-manpages/de.po
  po/wesnoth-trow/de.po
Labels: Translations

#8630 CI run for an updated German translation
  po/wesnoth-help/de.po
  po/wesnoth-manpages/de.po
  po/wesnoth-trow/de.po
Labels: Translations

#8435 Re-add the renamed/removed unit images in MP Aethermaw (#8432)
  .github/workflows/ci-main.yml
  utils/CI/check_wml_images.sh
Labels: Graphics, MP, Units

#8451 basic support for filtering campaigns based on completion status
  data/core/about.cfg
  data/gui/window/campaign_dialog.cfg
  src/gui/dialogs/campaign_selection.cpp
Labels: Enhancement, UI

#8636 [1.18] CI run for updated German translation
  data/core/about_i18n.cfg
  po/wesnoth-wof/de.po
Labels: Translations

#8637 CI run for updated German translation
  data/core/about_i18n.cfg
  po/wesnoth-wof/de.po
Labels: Translations

#8654 Keep python 2 compatibility
  scons/lua.py
Labels: Building, SCons

#8647 Tutorial S01: Better timing for the hints
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Enhancement, Campaign Tutorial

#8660 Tutorial S01: Better timing for the hints
  data/campaigns/tutorial/scenarios/01_Tutorial_part_1.cfg
Labels: Enhancement, Campaign Tutorial

#8653 UtBS luck smoothing: scenario 1
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
Labels: Campaign UtBS

#8657 Fix description of World Conquest 4p
  data/campaigns/World_Conquest/scenarios/WC_II_scenario.cfg
Labels: Campaign WC

#8649 alternative fix build with musl libc
  src/utils/config_filters.hpp
Labels: Linux, Building

#8650 [1.18] alternative fix build with musl libc
  src/utils/config_filters.hpp
Labels: Linux, Building, Stable 1.18

#8652 EI - show custom traits in help menu
  data/campaigns/Eastern_Invasion/units/dummy_unit.cfg
  data/campaigns/Eastern_Invasion/utils/traits.cfg
Labels: Units, Help, Campaign EI

#8645 EI S10: change "ghasts in cages" to "ghouls in cages"
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Campaign EI

#8666 [1.18] Boost tests: run test_without_attribute_filter
  boost_test_schedule
Labels: Unit Tests

#8568 Fix macOS-specific deprecation warning from Boost.Filesystem API call
  src/filesystem.cpp
Labels: macOS, Building

#8569 Fix macOS-specific deprecation warning from Boost.Filesystem API call (development branch forward-port version)
  src/filesystem.cpp
Labels: macOS, Building

#8669 Boost tests: run test_without_attribute_filter
  boost_test_schedule
Labels: Unit Tests

#8547 EI S05: fade to silence when recounting the priestess's death (v2)
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
Labels: Campaign EI
