Repository wesnoth/wesnoth, pull requests merged in 2024-09, with the labels that each got.

#9282 Reduce Corpse/Soulless arcane vulnerablility from -40% to -20%
  data/core/units/undead/Corpse_Soulless.cfg
  data/core/units/undead/Corpse_Walking.cfg
Labels: Units

#9287 heal_on_hit tests - results identical aside from default value
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_add.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_add_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_add_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_low_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_multiply_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_negative_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_no_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_sub_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_sub_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_wfl_other.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_wfl_self.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_zero.cfg
  wml_test_schedule
Labels: Unit Tests

#9245 remove inproper and inconsistent names
  data/core/macros/names.cfg
Labels: Backport, Prose

#9291 Unit Names: remove inappropriate saurian name
  data/core/macros/names.cfg
Labels: Prose

#9280 AToTB: Use month names instead of Roman Numerals
  data/campaigns/Two_Brothers/scenarios/01_Rooting_Out_a_Mage.cfg
  data/campaigns/Two_Brothers/scenarios/02_The_Chase.cfg
  data/campaigns/Two_Brothers/scenarios/03_Guarded_Castle.cfg
  data/campaigns/Two_Brothers/scenarios/04_Return_to_the_Village.cfg
  data/campaigns/Two_Brothers/scenarios/05_Epilogue.cfg
Labels: Campaign AToTB

#8874 Added an explanation of vision to the in-game help
  data/core/help.cfg
Labels: Help

#8516 Fix indices in widget.add_item_of_type()
  src/scripting/lua_widget_methods.cpp
  utils/emmylua/gui.lua
Labels: Lua API

#9293 [1.18] Backport of PRs 9245 and 9291
  data/core/macros/names.cfg
Labels: Backport, Prose

#9294 Fix typos in test of recursion
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filters.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/four_cycle_recursion_branching.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/four_cycle_recursion_by_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/four_cycle_recursion_by_tagname.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_damage_type.cfg
  src/units/attack_type.hpp
Labels: Unit Tests, Units

#9262 Fix weapon special filters can lead to infinite recursion(1.18 backport)
  changelog_entries/fix_infinite_recursion.md
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filters.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/four_cycle_recursion_branching.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/four_cycle_recursion_by_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/four_cycle_recursion_by_tagname.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_damage_type.cfg
  src/units/attack_type.cpp
  src/units/attack_type.hpp
  wml_test_schedule
Labels: Unit Tests, Units

#8830 NR05a: Vary dialogue to better suit the speaker
  data/campaigns/Northern_Rebirth/scenarios/05a_01_The_Pursuit.cfg
Labels: Prose, Campaign NR

#8731 reduce the number of translatable strings in the unit type editor
  src/gui/dialogs/editor/edit_unit.cpp
Labels: Translations, UI, Editor

#9119 Fix filter check errors for special weapons
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_apply_to_attacker_filter_attacker_defender.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_apply_to_both_filter_self_opponent.cfg
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
  wml_test_schedule
Labels: Unit Tests, Units

#9303 [1.18] item tool: add right-click to remove functionality
  src/editor/action/mouse/mouse_action_item.cpp
  src/editor/action/mouse/mouse_action_item.hpp
  src/editor/palette/editor_palettes.cpp
  src/editor/palette/item_palette.cpp
  src/hotkey/hotkey_command.cpp
Labels: Backport, UI, Editor

#9304 fix tag_name check deficiencies(1.18 backport)
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_apply_to_attacker_filter_attacker_defender.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_type/damage_type_apply_to_both_filter_self_opponent.cfg
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
  wml_test_schedule
Labels: Unit Tests, Units

#9296 Fix recursion ability count version
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/ability_cycle_filter_self_recursion_by_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/ability_cycle_recursion_by_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/adjacent_abilities_recursion_by_id.cfg
  src/units/abilities.cpp
  src/units/unit.hpp
  wml_test_schedule
Labels: Unit Tests, Units

#9313 Test calculations of abilities with add and sub
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_calculations.cfg
  wml_test_schedule
Labels: Unit Tests

#9307 petrifies tests
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/petrifies/petrifies_ability.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/petrifies/petrifies_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/petrifies/petrifies_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/petrifies/petrifies_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/petrifies/petrifies_affect_self_no.cfg
  wml_test_schedule
Labels: Unit Tests

#9317 [For CI] Bump min Boost to 1.82
  .github/workflows/codeql.yml
  CMakeLists.txt
  INSTALL.md
  SConstruct
  changelog_entries/boost-to-82.md
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Building, Packaging, SCons, CMake

#9321 Fix recursion abilitie count version1.18
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/ability_cycle_filter_self_recursion_by_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/ability_cycle_recursion_by_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/adjacent_abilities_recursion_by_id.cfg
  src/units/abilities.cpp
  src/units/unit.hpp
  wml_test_schedule
Labels: Unit Tests, Units

#7271 change calculation rules so that add and sub are always used independently
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/chance_to_hit/chance_to_hit_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heals/heal_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/leadership/leadership_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/resistance/resistance_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_calculations.cfg
  src/units/abilities.cpp
Labels: Unit Tests, Units

#9322 [1.18] Test calculations of abilities with add and sub
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_calculations.cfg
  wml_test_schedule
Labels: Unit Tests

#9196 WC: Explain that you can also add data via resources
  data/campaigns/World_Conquest/Modding.md
Labels: Campaign WC

#9311 Update the help page entry for the Item tool
  data/core/editor/help.cfg
Labels: Backport, Editor, Prose, Help

#9333 add 'core' folder in folder list of boost folder used in include
  projectfiles/CodeBlocks/libraries.md
Labels: Building

#9326 Remove unit recursion of special_unit_matches()
  src/units/abilities.cpp
Labels: Units

#9331 plague tests
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/plague/plague_ability.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/plague/plague_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/plague/plague_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/plague/plague_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/plague/plague_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/plague/plague_no_type.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/plague/plague_without_priority.cfg
  wml_test_schedule
Labels: Unit Tests

#9335 GUI2/LuaAPI: add len operator to container widgets
  src/scripting/lua_widget.cpp
Labels: Lua API

#9332 Extend case-insensitive filtering beyond ASCII characters
  changelog_entries/non-ascii-case-insensitve-filtering.md
  src/game_initialization/lobby_data.cpp
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/game_load.cpp
  src/menu_events.cpp
Labels: Backport, Translations, UI, Add-ons

#9329 Preferences: move the Apply button and disable it unless needed
  data/gui/themes/default/window/preferences.cfg
  data/gui/themes/default/window/preferences/03_display.cfg
  src/gui/dialogs/preferences_dialog.cpp
Labels: UI

#9330 [1.18] Update the help page entry for the Item tool
  data/core/editor/help.cfg
Labels: Backport, Editor, Prose, Help

#9343 Add a second unit test for TEST_FORCE_CHANCE_TO_HIT
  data/test/scenarios/macro_tests/test_force_chance_to_hit_macro_nested.cfg
  data/test/scenarios/macro_tests/test_force_chance_to_hit_macro_toplevel.cfg
  wml_test_schedule
Labels: Unit Tests

#9277 Include the unknown condition in the error message
  data/lua/wml/objectives.lua
Labels: Lua API

#9255 Make status orb work with custom max/min_range
  src/display_context.cpp
Labels: UI

#9128 LoW: some fixes for S10, S22
  data/campaigns/Legend_of_Wesmere/maps/10_Cliffs_of_Thoria.map
  data/campaigns/Legend_of_Wesmere/masks/22_Northern_Battle.mask
  data/campaigns/Legend_of_Wesmere/scenarios/chapter5/22_Northern_Battle.cfg
Labels: Campaign LoW

#9349 Use proper apostrophe to spell Shek’kahan
  data/campaigns/The_Rise_Of_Wesnoth/_main.cfg
  data/campaigns/Winds_of_Fate/scenarios/09_Ancestor.cfg
Labels: Campaign TRoW, Campaign WoF

#9357 [1.18] fix #9225 events with negative priority getting erroneously deleted
  src/game_events/manager_impl.cpp
Labels: WML

#9365 UtBS: cut duplicate stun weapon special remnants
  data/campaigns/Under_the_Burning_Suns/images/misc/stunned-status-icon.png
  data/campaigns/Under_the_Burning_Suns/lua/theme.lua
Labels: Graphics, Campaign UtBS

#8887 [Campaign][Dead Water] S9: improve event handling of bat units in player side (fixes #8766)
  data/campaigns/Dead_Water/scenarios/09_The_Mage.cfg
Labels: Campaign DW

#9371 Display: simplify add_overlay interface
  src/display.cpp
  src/display.hpp
  src/editor/action/mouse/mouse_action_item.cpp
  src/overlay.hpp
  src/scripting/game_lua_kernel.cpp
Labels: Editor, Lua API

#8851 add a attack 'alignment' attribute for have specific attack alignment different of unit alignment
  changelog_entries/[unit_alignment]_[attack_alignment]_changelog.md
  data/schema/filters/weapon.cfg
  data/schema/units/modifications.cfg
  data/schema/units/types.cfg
  data/test/scenarios/wml_tests/UnitsWML/Attacks/attack_alignment.cfg
  src/actions/attack.cpp
  src/formula/callable_objects.cpp
  src/gui/dialogs/attack_predictions.cpp
  src/reports.cpp
  src/scripting/lua_unit_attacks.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
  utils/emmylua/wesnoth/units.lua
  wml_test_schedule
Labels: Unit Tests, UI, Units, Lua API, WFL, Schema

#9354 add code documentation for the tokenizer
  src/serialization/parser.cpp
  src/serialization/parser.hpp
  src/serialization/preprocessor.cpp
  src/serialization/tokenizer.cpp
  src/serialization/tokenizer.hpp
Labels: Engine

#9375 Removed a ton of unused GUI1 stuff
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/libwesnoth
  src/controller_base.cpp
  src/display.cpp
  src/help/help.cpp
  src/show_dialog.cpp
  src/show_dialog.hpp
  src/video.cpp
  src/widgets/menu.cpp
  src/widgets/menu.hpp
  src/widgets/menu_style.cpp
Labels: macOS, Building, Help

#9374 fixup #8766
  data/campaigns/Dead_Water/scenarios/09_The_Mage.cfg
Labels: Campaign DW

#9348 Remove any_tag for a more useful schema validation
  utils/CI/schema_validation.patch
  utils/CI/schema_validation.sh
Labels: CI, Schema

#9377 update codeblock projectfiles
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
Labels: Building

#9387 Config: use structured bindings with all_children_range
  src/actions/undo_move_action.cpp
  src/addon/client.cpp
  src/ai/configuration.cpp
  src/config.cpp
  src/config_cache.cpp
  src/editor/map/map_context.cpp
  src/formula/callable_objects.cpp
  src/game_config_manager.cpp
  src/game_events/handlers.cpp
  src/game_events/manager.cpp
  src/generators/cave_map_generator.cpp
  src/gui/core/canvas.cpp
  src/gui/dialogs/gamestate_inspector.cpp
  src/gui/dialogs/multiplayer/mp_options_helper.cpp
  src/play_controller.cpp
  src/preferences/preferences.cpp
  src/replay.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
  src/scripting/lua_wml.cpp
  src/serialization/parser.cpp
  src/serialization/schema_validator.cpp
  src/theme.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/filter.cpp
  src/units/types.cpp
  src/units/unit.cpp
  src/variable.cpp
  src/wesnoth.cpp
Labels: AI, UI, Editor, Units, Lua API, Add-ons, WFL

#9386 use the correct editor dir location
  src/filesystem_common.cpp
  src/game_initialization/create_engine.cpp
  src/menu_events.cpp
Labels: Engine

#9390 The NOT_DANGLING specifier should be before the const attribute
  src/gui/widgets/widget.hpp
Labels: UI

#9393 fix problematic find_widget usage and slightly rewrite the logic (#9388)
  src/gui/dialogs/addon/manager.cpp
Labels: UI, Add-ons

#9395 poison ability tests
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/poison/poison_ability.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/poison/poison_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/poison/poison_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/poison/poison_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/poison/poison_affect_self_no.cfg
  wml_test_schedule
Labels: Unit Tests

#9405 Fix a comment typo in THoT S6
  data/campaigns/The_Hammer_of_Thursagan/scenarios/06_Forbidden_Forest.cfg
Labels: Campaign THoT
