Repository wesnoth/wesnoth, pull requests merged in 2024-05, with the labels that each got.

#8798 Show the oasis in help without needing a hacky aliasof
  data/core/terrain.cfg
  src/editor/palette/terrain_palettes.cpp
  src/help/help_impl.cpp
  src/help/help_topic_generators.cpp
  src/terrain/terrain.cpp
  src/terrain/terrain.hpp
  src/terrain/type_data.cpp
Labels: Enhancement, Editor, Help, Terrain

#8832 allow loading .mask files
  src/editor/map/map_context.cpp
Labels: Backport, Editor

#8826 Add-ons UI: Add date/time reference to translation hint
  src/gui/dialogs/addon/manager.cpp
Labels: Backport, Translations, UI, Add-ons

#8834 Add date/time reference to translation hint
  src/gui/dialogs/addon/manager.cpp
Labels: Translations, UI, Add-ons

#8840 Editor Help: grammar correction
  data/core/editor/help.cfg
Labels: Editor, Help

#8836 bi: Fix for "unknown" arch issue and enforce the fix
  src/build_info.cpp
Labels: Building

#8842 EI: Add po hints about the plague staff
  data/campaigns/Eastern_Invasion/scenarios/07b_Ogre_Crossing.cfg
  data/campaigns/Eastern_Invasion/utils/items.cfg
Labels: Campaign EI

#8827 Remove version-specific info from xcode projectfile
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/filesystem.cpp
Labels: macOS, Building

#8833 Make userdata path setting code easier to read
  src/filesystem.cpp
Labels: Engine

#8849 EI - change undead variants from 'spider' to 'ant'
  data/campaigns/Eastern_Invasion/units/Ant_Queen.cfg
  data/campaigns/Eastern_Invasion/units/Egg_Sac.cfg
Labels: Units, Campaign EI

#8850 EI: S10 fix owaec being able to enter the sanctuary
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Campaign EI

#8848 Remove special handling of config directory on linux
  src/filesystem.cpp
  src/gui/dialogs/migrate_version_selection.cpp
  src/gui/dialogs/migrate_version_selection.hpp
Labels: UI

#8804 Update wesnothd man page
  doc/man/wesnoth.6
  doc/man/wesnothd.6
Labels: Docs

#8859 Prevent aswaldan herbs from stacking
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Campaign EI

#8860 Don't trigger achievement completion during replays.
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

#8854 Wyvern portrait and animations
  data/core/images/portraits/monsters/wyvern.webp
  data/core/images/units/monsters/wyvern/wild-wyvern-bite1.png
  data/core/images/units/monsters/wyvern/wild-wyvern-bite2.png
  data/core/images/units/monsters/wyvern/wild-wyvern-bite3.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-defend.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly-defend2.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly1.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly2.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly3.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly4.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly5.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly6.png
  data/core/images/units/monsters/wyvern/wild-wyvern-fly7.png
  data/core/images/units/monsters/wyvern/wild-wyvern-slam1.png
  data/core/images/units/monsters/wyvern/wild-wyvern-slam2.png
  data/core/images/units/monsters/wyvern/wild-wyvern-slam3.png
  data/core/images/units/monsters/wyvern/wild-wyvern-slam4.png
  data/core/images/units/monsters/wyvern/wild-wyvern-slam5.png
  data/core/units/monsters/Wild_Wyvern.cfg
Labels: Graphics, Units

#8846 bugfixes for unit type editor
  data/gui/window/editor_edit_unit.cfg
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/dialogs/editor/edit_unit.hpp
Labels: UI, Editor, Units

#8864 Fix compiler warnings due to missing function prototypes
  src/filesystem.cpp
Labels: Building

#8872 CI run for updating the German translation on 1.18
  po/wesnoth-ei/de.po
Labels: Translations

#8873 CI run for updating the German translation on master
  po/wesnoth-ei/de.po
Labels: Translations

#8814 Units: fix White Horse HP and XP stats
  data/core/units/monsters/Horse_White.cfg
Labels: Units

#8828 Tutorial S2: Only trigger comment about the orc if it is still alive
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
Labels: Backport, Campaign Tutorial

#8803 UI : About dialog
  boost_test_schedule
  copyrights.csv
  data/gui/widget/button_25x25.cfg
  data/gui/widget/button_success.cfg
  data/gui/widget/button_title_screen_small.cfg
  data/gui/widget/label_default.cfg
  data/gui/widget/listbox_default.cfg
  data/gui/widget/tab_container_bordered.cfg
  data/gui/window/community_dialog.cfg
  data/gui/window/game_version.cfg
  data/gui/window/title_screen.cfg
  data/schema/gui/widget_definitions.cfg
  images/icons/action/copy_25-success.png
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/gui/dialogs/community_dialog.cpp
  src/gui/dialogs/community_dialog.hpp
  src/gui/dialogs/game_version_dialog.cpp
  src/gui/dialogs/game_version_dialog.hpp
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
  src/gui/widgets/button.cpp
  src/gui/widgets/button.hpp
  src/gui/widgets/tab_container.cpp
  src/gui/widgets/tab_container.hpp
  src/tests/gui/test_gui2.cpp
  src/wesnoth.cpp
Labels: Enhancement, macOS, Graphics, UI, Building, Schema

#8889 about dialog : correctly open the initial tab
  src/gui/dialogs/game_version_dialog.cpp
Labels: UI

#8787 Reject [terrain] with unknown terrain type
  data/lua/wml-tags.lua
Labels: Lua API

#8880 add [filter_wml] to filter_abilities code
  changelog_entries/add_filter_wml_in_filter_ability.md
  data/schema/filters/abilities.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filter_ability.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units, Schema

#8884 Remove WmlDefineState class disabled-as-comment/string
  data/tools/pywmlx/state/wml_states.py
Labels: WML Tools

#8900 Liberty - get The Nameless General achievement to work on dawn
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
Labels: Campaign L

#8897 EI: simplify S16 achievement
  data/campaigns/Eastern_Invasion/achievements.cfg
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
Labels: Backport, Achievements, Campaign EI

#8882 preferences accessor cleanup
  src/controller_base.cpp
  src/cursor.cpp
  src/deprecation.cpp
  src/desktop/paths.cpp
  src/game_config_manager.cpp
  src/game_launcher.cpp
  src/gui/dialogs/multiplayer/mp_alerts_options.cpp
  src/mp_ui_alerts.cpp
  src/preferences/display.cpp
  src/preferences/display.hpp
  src/preferences/editor.hpp
  src/preferences/game.hpp
  src/preferences/general.cpp
  src/preferences/general.hpp
  src/preferences/lobby.hpp
  src/video.cpp
Labels: UI

#8896 EI: remove random traits from S16 townsfolk
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
  data/campaigns/Eastern_Invasion/units/Human_Townsfolk.cfg
Labels: Backport, Units, Campaign EI

#8510 Story screen update
  changelog_entries/8510_story_screen_improvements.md
  copyrights.csv
  data/gui/widget/button_25x25.cfg
  data/gui/widget/button_story_screen.cfg
  data/gui/widget/label_default.cfg
  data/gui/window/story_viewer.cfg
  data/schema/gui/generic.cfg
  images/misc/dots.png
  images/misc/ornate_big_arrow_decor_left.png
  images/misc/ornate_big_arrow_decor_right.png
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
  src/gui/dialogs/story_viewer.cpp
  src/gui/dialogs/story_viewer.hpp
  src/gui/widgets/scroll_label.cpp
  src/gui/widgets/scroll_label.hpp
  src/gui/widgets/styled_widget.hpp
Labels: Enhancement, Graphics, UI, Schema

#8913 [backport] WoF: fix Lua type error with cast to number
  data/campaigns/Winds_of_Fate/utils/macros.cfg
Labels: Campaign WoF

#8912 [backport] WoF S11: fix easy win AI exploit
  data/campaigns/Winds_of_Fate/scenarios/11_Crosswind.cfg
Labels: Campaign WoF

#8907 Fix #7478 game crash after reloading a mp game in debug mode
  src/game_initialization/playcampaign.cpp
Labels: Engine

#8919 [1.18] Put the community dialog's strings in the wesnoth-lib domain
  data/gui/window/community_dialog.cfg
Labels: UI

#8916 [1.18] gui/language_selection: Rephrase text about becoming a translator
  data/gui/window/language_selection.cfg
Labels: Enhancement, Translations, UI

#8905 gui/language_selection: Rephrase text about becoming a translator
  data/gui/window/language_selection.cfg
Labels: Enhancement, Backport, Translations, UI

#8921 make sure bullets in about dialog use a font that has those characters
  data/gui/window/game_version.cfg
Labels: UI

#8920 set buttons inactive when irrelevant
  src/gui/dialogs/gamestate_inspector.cpp
Labels: UI

#8893 'value' attribute in [experimental_filter_ability(_active)] can have 'default' value
  changelog_entries/filter_value_check_default.md
  data/schema/filters/abilities.cfg
  data/schema/game_config.cfg
  src/utils/config_filters.cpp
Labels: Units, Schema

#8906 WoF S8: clarify objective notes
  data/campaigns/Winds_of_Fate/scenarios/08_Overlook.cfg
Labels: Campaign WoF

#8837 Mudcrawlers better in swamp, worse in buildings
  changelog_entries/8837_mudcrawler_swamp.md
  data/core/units/monsters/Giant_Mudcrawler.cfg
  data/core/units/monsters/Mudcrawler.cfg
Labels: Units

#8928 Don't translate links in About dialogue
  data/gui/window/game_version.cfg
Labels: Translations, UI

#8918 remove deprecated controller=<number>
  src/game_initialization/connect_engine.cpp
Labels: Engine

#8839 Change Delfador's quote date to the start of HttT
  data/tips.cfg
Labels: Prose, Help

#8838 SoF S6: Remove reference to finding Alanin
  data/campaigns/Sceptre_of_Fire/scenarios/6_Towards_the_Caves.cfg
Labels: Prose, Campaign SoF

#8937 Back-port vcpkg base-line
  vcpkg.json
Labels: Windows, Building, Stable 1.18

#8938 Add [part]text_alignment= to schema
  data/schema/core/addons.cfg
Labels: Schema
