Repository wesnoth/wesnoth, pull requests merged in 2024-04, with the labels that each got.

#8674 remove leftover print statement
  src/gui/dialogs/campaign_selection.cpp
Labels: UI

#8610 campaign_dialog.cfg - Explain the RNG options better
  data/gui/window/campaign_dialog.cfg
Labels: UI

#8676 EI 12_Evacuation.cfg: fix Dacyn's halo not flickering
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

#8672 [1.18] wmlxgettext: Fix "fix invalid escape sequence"
  data/tools/pywmlx/state/lua_states.py
  data/tools/pywmlx/state/machine.py
Labels: Translations, WML Tools, Stable 1.18

#8678 wmlxgettext: Fix "fix invalid escape sequence"
  data/tools/pywmlx/state/lua_states.py
  data/tools/pywmlx/state/machine.py
Labels: Translations, WML Tools

#8682 Back-port of #8594
  changelog_entries/wc-double-scrollbar-bugfix.md
  data/campaigns/World_Conquest/gui/help_dialog.cfg
Labels: UI, Campaign WC, Stable 1.18

#8443 All "Sands" to "Sand"
  data/core/terrain.cfg
Labels: Terrain

#8640 [1.18]EI: Barrow Wight Resistance to Arcane On Defence Ability Doesn't Work Against Mixed Damage Type Weapons
  data/campaigns/Eastern_Invasion/utils/abilities.cfg
  data/campaigns/Eastern_Invasion/utils/items.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/resistance/resistance_to_damage_type_special.cfg
  wml_test_schedule
Labels: Unit Tests, Units, Campaign EI, Stable 1.18

#8639 fix attack::damage_type bug for abilitie resistance
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/resistance/resistance_to_damage_type_special.cfg
  src/units/unit.cpp
  src/units/unit.hpp
  wml_test_schedule
Labels: Unit Tests, Units

#8694 CI run for a German translation update
  data/core/about_i18n.cfg
  po/wesnoth-tools/de.po
  po/wesnoth-units/de.po
  po/wesnoth-wof/de.po
Labels: Translations

#8684 Fix clicking on the sidebar going to the wrong trait
  src/reports.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: UI, Units, Help, Fwdport

#8695 CI run for German translation update
  data/core/about_i18n.cfg
  po/wesnoth-tools/de.po
  po/wesnoth-units/de.po
  po/wesnoth-wof/de.po
Labels: Translations

#8712 [1.18] CI run for an updated German translation
  po/wesnoth-multiplayer/de.po
Labels: Translations

#8683 Document why the Fog Clearer's traits show in help
  data/core/units/fake/Fog_Clearer.cfg
Labels: Docs, Units

#8713 CI run for a German translation update
  po/wesnoth-multiplayer/de.po
Labels: Translations

#8714 Fix clicking on the sidebar going to the wrong trait
  src/reports.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Units

#8679 Clearer documentation for the ATTACK_AND_VALIDATE macro
  data/test/macros/wml_unit_test_macros.cfg
Labels: Docs, Unit Tests

#8717 [1.18] Fix race condition causing moveto messages to immediately close
  changelog_entries/moveto_message.md
  src/gui/widgets/window.cpp
Labels: UI, Fwdport

#8721 Fix race condition causing moveto messages to immediately close
  changelog_entries/moveto_message.md
  src/gui/widgets/window.cpp
Labels: UI

#8700 Fix mismatch between what gettext.w.o and wesnoth consider core textdomains
  po/CMakeLists.txt
  po/SConscript
Labels: Translations

#8716 EI: preserve XP when Dacyn receives scripted advancements
  data/campaigns/Eastern_Invasion/scenarios/14_The_Drowned_Plains.cfg
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
Labels: Backport, Campaign EI

#8715 EI: reduce Barrow/Pyre Wight vulnerability to arcane
  data/campaigns/Eastern_Invasion/units/Undead_Horse_Barrow_Wight.cfg
  data/campaigns/Eastern_Invasion/units/Undead_Horse_Pyre_Wight.cfg
Labels: Backport, Units, Campaign EI

#8723 EI: remove duplicate AMLAs
  data/campaigns/Eastern_Invasion/utils/amlas.cfg
Labels: Backport, Campaign EI

#8718 Remove gzip/bzip2 (de)compression commandline options
  doc/man/wesnoth.6
  src/commandline_options.cpp
  src/commandline_options.hpp
  src/tests/test_commandline_options.cpp
  src/wesnoth.cpp
Labels: Docs

#8725 Move knowledge of attack_type out of movetype
  src/ai/formula/function_table.cpp
  src/movetype.cpp
  src/movetype.hpp
Labels: AI, WFL

#8729 Remove translation mark from image paths
  data/gui/window/editor_edit_unit.cfg
Labels: Translations, UI

#8722 add min_value to [resistance]
  data/schema/units/abilities.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/resistance/resistance_min_value.cfg
  src/actions/attack.cpp
  src/units/abilities.cpp
  src/units/abilities.hpp
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units, Schema

#8688 Move Dunefolk to the Default era.
  changelog_entries/default-dunefolk.md
  data/core/macros/multiplayer.cfg
  data/multiplayer/eras.cfg
Labels: MP

#8687 Hardware unit submerge effect using SDL_RenderGeometry.
  CMakeLists.txt
  INSTALL.md
  SConstruct
  changelog_entries/SDL.md
  src/display.cpp
  src/display.hpp
  src/draw.cpp
  src/draw.hpp
  src/units/frame.cpp
Labels: Units, Building, SCons, CMake

#8465 [Lua] Make wesnoth.read_location return its result in standard named tuple format
  data/lua/core/map.lua
Labels: Lua API

#8464 [Lua] Accept {r=..., g=..., b=...} format for colours in add_overlay_text
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

#8463 [Lua] Officially expose the Gamestate Inspector's title paramater in the Lua API
  data/lua/wml-tags.lua
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_gui2.cpp
  src/scripting/lua_gui2.hpp
  utils/emmylua/gui.lua
Labels: Lua API

#8732 Make log_file_suffix dependency explicit
  src/log.hpp
Labels: Engine

#8737 sylph and enchantress attack description changes (cosmetic)
  data/core/units/elves/Enchantress.cfg
  data/core/units/elves/Sylph.cfg
Labels: Units

#8738 return optional<std::string> instead of vector<std::string> for static damage_type_list
  src/units/abilities.cpp
Labels: Units

#8551 Liberty: Custom Unit for Lord Maddock
  copyrights.csv
  data/campaigns/Liberty/images/units/maddock/maddock-armed.png
  data/campaigns/Liberty/images/units/maddock/maddock-defend1.png
  data/campaigns/Liberty/images/units/maddock/maddock-defend2.png
  data/campaigns/Liberty/images/units/maddock/maddock-sword1.png
  data/campaigns/Liberty/images/units/maddock/maddock-sword2.png
  data/campaigns/Liberty/images/units/maddock/maddock-sword3.png
  data/campaigns/Liberty/images/units/maddock/maddock-sword4.png
  data/campaigns/Liberty/images/units/maddock/maddock.png
  data/campaigns/Liberty/scenarios/04_Unlawful_Orders.cfg
  data/campaigns/Liberty/units/Maddock.cfg
Labels: Graphics, Units, Campaign L

#8752 EI: fix "mak-dak'an" typo
  data/campaigns/Eastern_Invasion/utils/final_battle/final_battle.cfg
Labels: Bug, Campaign EI

#8727 Check log file actually exists before enabling Log File button
  src/gui/dialogs/game_version_dialog.cpp
  src/log.cpp
Labels: Backport, UI

#8760 NR: remove unused unit: Cave Serpent
  data/campaigns/Northern_Rebirth/_main.cfg
  data/campaigns/Northern_Rebirth/units/Cave_Serpent.cfg
Labels: Units, Campaign NR

#8761 EI S12: prevent ogres from saying the final goodbye
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

#8743 Add a Community button to the title screen.
  boost_test_schedule
  changelog_entries/community.md
  data/gui/window/community_dialog.cfg
  data/gui/window/title_screen.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/gui/dialogs/achievements_dialog.cpp
  src/gui/dialogs/achievements_dialog.hpp
  src/gui/dialogs/community_dialog.cpp
  src/gui/dialogs/community_dialog.hpp
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
  src/tests/gui/test_gui2.cpp
Labels: macOS, UI, Services, Building, Achievements

#8742 Actually run the SDL2 test to check the version
  scons/sdl.py
  src/conftests/sdl2.cpp
Labels: Building, SCons

#8776 Restore Windows CI
  .github/workflows/ci-main.yml
Labels: Backport, Windows, CI

#8765 Change the list check from [damage_type] to a system that takes into account the opponent's sensitivity(2nd try)
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/resistance/resistance_to_damage_type_special.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_damage_type.cfg
  src/reports.cpp
  src/units/abilities.cpp
  src/units/attack_type.hpp
  src/units/unit.cpp
  src/units/unit.hpp
  wml_test_schedule
Labels: Graphics, Unit Tests, Units

#8788 Avoid invalid pointer access on recall
  src/gui/widgets/listbox.cpp
Labels: Backport, UI

#8795 [1.18] Avoid invalid pointer access on recall
  src/gui/widgets/listbox.cpp
Labels: UI

#8801 Only return info of known terrain
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

#8800 Remove history expansion
  src/gui/dialogs/lua_interpreter.cpp
Labels: UI

#8783 Add shallow water to oasis like ford terrain
  data/core/terrain.cfg
Labels: Terrain

#8680 SoF S7: fewer and slower enemy outriders
  data/campaigns/Sceptre_of_Fire/scenarios/7_Outriding_the_Outriders.cfg
Labels: Backport, Campaign SoF

#8808 SoF S7: fewer and slower enemy outriders
  data/campaigns/Sceptre_of_Fire/scenarios/7_Outriding_the_Outriders.cfg
Labels: Campaign SoF

#8791 Add a button to the build info dialog to rerun the migrator.
  boost_test_schedule
  data/gui/window/game_version.cfg
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  src/gui/dialogs/game_version_dialog.cpp
  src/gui/dialogs/game_version_dialog.hpp
  src/gui/dialogs/migrate_version_selection.cpp
  src/tests/gui/test_gui2.cpp
Labels: macOS, UI, Building

#8782 S16: fix li'sar missing her unrenamable=yes
  data/campaigns/Heir_To_The_Throne/scenarios/16_Hasty_Alliance.cfg
Labels: Backport, Campaign HttT

#8749 Nerf Elvish Shyde/Enchantress/Sylph/Sharpshooter/Avenger in 1.19
  data/core/units/elves/Avenger.cfg
  data/core/units/elves/Enchantress.cfg
  data/core/units/elves/Sharpshooter.cfg
  data/core/units/elves/Shyde.cfg
  data/core/units/elves/Sylph.cfg
Labels: Units

#8812 Add submerge to oasis terrain
  data/core/terrain.cfg
Labels: Terrain

#8817 add icon to windows installer and uninstaller
  packaging/windows/Wesnoth.nsi.in
  packaging/windows/icon-installer.ico
  packaging/windows/icon-uninstaller.ico
Labels: Packaging

#8764 1.19 - Brush up minor characters
  data/campaigns/Heir_To_The_Throne/images/portraits/sea-orc.webp
  data/campaigns/Heir_To_The_Throne/images/units/sea-orc-attack.png
  data/campaigns/Heir_To_The_Throne/images/units/sea-orc-attack1.png
  data/campaigns/Heir_To_The_Throne/images/units/sea-orc-attack2.png
  data/campaigns/Heir_To_The_Throne/images/units/sea-orc-defend1.png
  data/campaigns/Heir_To_The_Throne/images/units/sea-orc-defend2.png
  data/campaigns/Heir_To_The_Throne/images/units/sea-orc-swoosh.png
  data/campaigns/Heir_To_The_Throne/images/units/sea-orc.png
  data/campaigns/Heir_To_The_Throne/units/Sea_Orc.cfg
  data/campaigns/The_Rise_Of_Wesnoth/images/portraits/vampire_lady.webp
  data/campaigns/The_Rise_Of_Wesnoth/units/Vampire_Lady.cfg
  data/campaigns/The_South_Guard/images/portraits/eyestalk.webp
  data/campaigns/The_South_Guard/units/Eyestalk.cfg
Labels: Graphics, Units, Campaign HttT, Campaign TRoW, Campaign TSG
