Repository wesnoth/wesnoth, pull requests merged in 2024-06, with the labels that each got.

#8947 EI: use "bonus objective" instead of "optional objective"
  data/campaigns/Eastern_Invasion/scenarios/04a_An_Elven_Interlude.cfg
  data/campaigns/Eastern_Invasion/scenarios/04c_Mal-Ravanals_Capital.cfg
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/14_The_Drowned_Plains.cfg
Labels: Campaign EI

#8948 Fix the whitespace error on master
  data/campaigns/Eastern_Invasion/scenarios/06b_Soradoc.cfg
Labels: Campaign EI

#8949 Fix the whitespace error on 1.18
  data/campaigns/Eastern_Invasion/scenarios/06b_Soradoc.cfg
Labels: Campaign EI

#8934 Implement table sorting without tablesorter.js
  data/tools/addon_manager/COPYING.txt
  data/tools/addon_manager/html.py
  data/tools/addon_manager/jquery.js
  data/tools/addon_manager/tablesorter.js
Labels: WML Tools

#8944 fix show error in report
  src/units/abilities.cpp
Labels: Units

#8950 EI S10: specify that Owaec can recruit
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Backport, Campaign EI

#8941 EI: use fancy script for "Part II" "Part III" storytext
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/13_Spoils_of_War.cfg
Labels: Campaign EI

#8895 Use type_adv_tree in some filters to support addons adding advancements to existing unit types
  data/campaigns/Descent_Into_Darkness/scenarios/03_A_Haunting_in_Winter.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/07a_A_Small_Favor.cfg
  data/campaigns/Descent_Into_Darkness/scenarios/08_Alone_at_Last.cfg
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
  data/campaigns/Eastern_Invasion/utils/items.cfg
  data/campaigns/Heir_To_The_Throne/utils/httt_utils.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter3/09_Bounty_Hunters.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter4/13_News_from_the_Front.cfg
  data/campaigns/Legend_of_Wesmere/scenarios/chapter5/22_Northern_Battle.cfg
  data/campaigns/Legend_of_Wesmere/utils/characters.cfg
  data/campaigns/Legend_of_Wesmere/utils/low-macros.cfg
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
Labels: Campaign DM, Campaign DiD, Campaign EI, Campaign HttT, Campaign LoW, Campaign L, Campaign NR, Campaign SotA, Campaign SotBE, Campaign UtBS

#8655 Rich Text Label widget for Help Browser GUI2 port
  boost_test_schedule
  data/gui/widget/rich_label_default.cfg
  data/gui/window/gui_test_dialog.cfg
  data/gui/window/title_screen.cfg
  data/schema/gui/generic.cfg
  data/schema/gui/widget_definitions.cfg
  data/schema/gui/widget_instances.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/libwesnoth_widgets
  source_lists/wesnoth
  src/config.hpp
  src/font/standard_colors.cpp
  src/font/standard_colors.hpp
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
  src/gui/core/canvas.hpp
  src/gui/core/canvas_private.hpp
  src/gui/dialogs/gui_test_dialog.cpp
  src/gui/dialogs/gui_test_dialog.hpp
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
  src/gui/widgets/helper.cpp
  src/gui/widgets/helper.hpp
  src/gui/widgets/rich_label.cpp
  src/gui/widgets/rich_label.hpp
  src/help/help_impl.cpp
  src/help/help_impl.hpp
  src/help/help_text_area.cpp
  src/tests/gui/test_gui2.cpp
Labels: Enhancement, macOS, UI, Building, Help, Schema

#8926 Allow [experimental_ability(_active)]apply_to= to check damage types in abilities [resistance]
  changelog_entries/modify_apply_to_in_filter_ability.md
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filter_ability.cfg
  src/units/unit.cpp
  src/utils/config_filters.cpp
  src/utils/config_filters.hpp
  wml_test_schedule
Labels: Unit Tests, WML, Units

#8958 replace deprecated CURLOPT_PROTOCOLS with CURLOPT_PROTOCOLS_STR
  src/network_download_file.cpp
Labels: Postponed

#8961 Add a unit test for a weapon-special activating mid-attack
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_recalculation_mid_attack.cfg
  wml_test_schedule
Labels: Unit Tests, Units, Fwdport

#8967 Add a unit test for a weapon-special activating mid-attack
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage_recalculation_mid_attack.cfg
  wml_test_schedule
Labels: Unit Tests

#8956 EI S10: reduce difficulty on Easy/Normal
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Backport, Campaign EI

#8981 EI S09: fix Grug telling Gweddry he can recruit the wild ogres after having already done so
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
Labels: Campaign EI

#8976 EI S10, S11, S12: Dacyn difficulty tweaks
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

#8982 EI S11: drop equippable items when imprisoned
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Campaign EI

#8980 EI S13: fix gaoler rebuild breaking "free prisoner" events
  data/campaigns/Eastern_Invasion/scenarios/13_Spoils_of_War.cfg
Labels: Campaign EI

#8984 EI items: add [filter_second] to Sentinel Shield and set delay=0
  data/campaigns/Eastern_Invasion/utils/items.cfg
Labels: Campaign EI

#8987 EI S10: add message about Owaec being able to recruit
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Campaign EI

#8988 Change id tag in appstream manifest to what is expected
  packaging/org.wesnoth.Wesnoth.appdata.xml
Labels: Packaging

#8952 Fix "span" regex
  data/tools/wesnoth/wmltools3.py
Labels: WML Tools

#8935 Use same default id in [remove_unit_overlay] as [unit_overlay]
  data/lua/wml-tags.lua
Labels: Lua API

#9000 [1.18]Backport replacing deprecated CURLOPT_PROTOCOLS with CURLOPT_PROTOCOLS_STR
  src/network_download_file.cpp
Labels: Building

#8971 1.19 Sprite animations June 2024
  copyrights.csv
  data/core/images/units/human-loyalists/cavalier/cavalier-melee1.png
  data/core/images/units/human-loyalists/cavalier/cavalier-melee2.png
  data/core/images/units/human-loyalists/cavalier/cavalier-melee3.png
  data/core/images/units/human-loyalists/cavalier/cavalier-melee4.png
  data/core/images/units/human-loyalists/cavalier/cavalier-melee5.png
  data/core/images/units/human-loyalists/cavalier/cavalier-melee6.png
  data/core/images/units/human-loyalists/cavalier/cavalier-melee7.png
  data/core/images/units/human-loyalists/dragoon/dragoon-bob1.png
  data/core/images/units/human-loyalists/dragoon/dragoon-bob2.png
  data/core/images/units/human-loyalists/dragoon/dragoon-bob3.png
  data/core/images/units/human-loyalists/dragoon/dragoon-melee1.png
  data/core/images/units/human-loyalists/dragoon/dragoon-melee2.png
  data/core/images/units/human-loyalists/dragoon/dragoon-melee3.png
  data/core/images/units/human-loyalists/dragoon/dragoon-melee4.png
  data/core/images/units/human-loyalists/dragoon/dragoon-melee5.png
  data/core/images/units/human-loyalists/dragoon/dragoon-melee6.png
  data/core/images/units/human-loyalists/dragoon/dragoon-melee7.png
  data/core/images/units/human-loyalists/dragoon/dragoon-melee8.png
  data/core/units/humans/Loyalist_Cavalier.cfg
  data/core/units/humans/Loyalist_Dragoon.cfg
Labels: Graphics, Units

#9002 Remove extra parens to avoid compiler warning
  src/gui/widgets/rich_label.cpp
Labels: UI

#9003 Update added/removed header files in Xcode project
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
Labels: macOS, Building

#9004 Update generator calls since the method was removed in 2413e2f
  data/tools/wmlscope
Labels: WML Tools

#9005 lua: use correct method to attach on_left_click signal
  src/scripting/lua_widget_attributes.cpp
Labels: Lua API

#9011 Fix damage_type types show in unit attack window[1.18]
  src/units/abilities.cpp
  src/units/attack_type.hpp
Labels: Units

#9010 Fix damage_type types show in unit attack window
  src/units/abilities.cpp
  src/units/attack_type.hpp
Labels: Units

#8133 Generalize the use of max_value and add the min_value attribute
  data/schema/units/abilities.cfg
  data/schema/units/specials.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heals/heals_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/leadership/leadership_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_max_value.cfg
  src/tod_manager.cpp
  src/units/abilities.cpp
  src/units/abilities.hpp
  src/units/unit.cpp
Labels: Unit Tests, UI, Units, Schema

#9015 AToTB: Warn in the description how hard the challenging difficulty is
  data/campaigns/Two_Brothers/_main.cfg
Labels: Enhancement, Campaign AToTB

#9017 Modify a line in tutorial on reccommended next campaign
  data/campaigns/tutorial/scenarios/02_Tutorial_part_2.cfg
Labels: Enhancement, Campaign Tutorial

#9026 Fix #8805 Add-on version check prevents joining game
  changelog_entries/add_on_version_check.md
  src/server/wesnothd/server.cpp
Labels: Bug, Backport, MP

#8903 Editor enhancements
  copyrights.csv
  data/gui/widget/button_25x25.cfg
  data/gui/window/custom_tod.cfg
  data/gui/window/editor_edit_unit.cfg
  data/gui/window/file_dialog.cfg
  data/themes/editor.cfg
  images/icons/action/preferences_25.png
  images/icons/action/preview_25-active.png
  images/icons/action/preview_25-pressed.png
  images/icons/action/preview_25.png
  images/icons/action/preview_30-active.png
  images/icons/action/preview_30-pressed.png
  images/icons/action/preview_30.png
  images/misc/file.png
  images/misc/folder-bookmark-icon.png
  src/editor/controller/editor_controller.cpp
  src/editor/controller/editor_controller.hpp
  src/editor/editor_main.cpp
  src/editor/map/context_manager.cpp
  src/editor/map/context_manager.hpp
  src/editor/map/map_context.cpp
  src/editor/map/map_context.hpp
  src/filesystem.cpp
  src/filesystem.hpp
  src/gui/dialogs/editor/custom_tod.cpp
  src/gui/dialogs/editor/custom_tod.hpp
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/dialogs/editor/edit_unit.hpp
  src/gui/dialogs/editor/tod_new_schedule.cpp
  src/gui/dialogs/editor/tod_new_schedule.hpp
  src/gui/dialogs/file_dialog.cpp
  src/gui/dialogs/file_dialog.hpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/tab_container.cpp
  src/gui/widgets/tab_container.hpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
  src/tests/gui/test_gui2.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Enhancement, Graphics, UI, Editor, Units

#8994 Trigger unit_hits, unit_misses events, re #7782
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filterable1.cfg
  src/actions/attack.cpp
Labels: Unit Tests
