Repository wesnoth/wesnoth, pull requests merged in 2024-02, with the labels that each got.

#8135 require_modification/campaign now defaults to yes
  src/game_initialization/lobby_data.cpp
  src/saved_game.cpp
Labels: MP, WML

#8329 changelog: add missing unit type ID prefix to clarify ambiguity
  changelog.md
Labels: Docs

#8162 Add optional tag name overrides to conditional tags in schema.cfg
  data/schema/schema.cfg
Labels: Schema

#8277 Fix deprecation warning when setting [endlevel]end_credits=
  data/lua/wml/endlevel.lua
  data/test/scenarios/manual_tests/scenario-test.cfg
  src/scripting/game_lua_kernel.hpp
Labels: Unit Tests, Lua API

#8147 make sure transform_unit doesn't heal the unit
  src/units/unit.cpp
Labels: Units

#8332 Remove unused header files
  src/config.cpp
  src/config.hpp
  src/config_attribute_value.hpp
Labels: Building

#8345 1.18 - remove LAYER argument from main Cud wall rule
  data/core/terrain-graphics.cfg
Labels: Terrain

#8341 Force the UI to update fully when changing addon filters
  src/gui/widgets/listbox.cpp
Labels: UI

#8348 Avoid linebreak in title text of help pages
  src/help/help_impl.cpp
Labels: Help

#8346 SoF S02: Don't [allow_undo] when activating the runes
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign SoF

#8349 Use -Wno-dangling-reference when building with GCC-13
  CMakeLists.txt
  SConstruct
Labels: Building, SCons, CMake

#8367 SoF S02: Alanin has planned (unshrouded) his escape route
  data/campaigns/Sceptre_of_Fire/scenarios/2_Closing_the_Gates.cfg
Labels: Campaign SoF

#8347 Remove unnecessary includes
  src/config_attribute_value.cpp
  src/config_cache.hpp
  src/filesystem.cpp
  src/game_config_view.cpp
  src/gettext.cpp
  src/log.hpp
  src/random.cpp
  src/random.hpp
  src/serialization/binary_or_text.cpp
  src/serialization/binary_or_text.hpp
  src/serialization/schema/tag.hpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
Labels: Schema

#8369 Update COPYING.txt for jQuery and tablesorter
  data/tools/addon_manager/COPYING.txt
Labels: WML Tools

#8323 Log instead of assert for incorrect [teleport] tags in ActionWML
  data/schema/core/actionwml.cfg
  src/game_events/action_wml.cpp
Labels: Schema

#8375 Add a composite hero/leader ellipse, closes #8011 closes #6258
  copyrights.csv
  images/misc/ellipse-hero-leader-bottom.png
  images/misc/ellipse-hero-leader-nozoc-bottom.png
  images/misc/ellipse-hero-leader-nozoc-selected-bottom.png
  images/misc/ellipse-hero-leader-nozoc-selected-top.png
  images/misc/ellipse-hero-leader-nozoc-top.png
  images/misc/ellipse-hero-leader-selected-bottom.png
  images/misc/ellipse-hero-leader-selected-top.png
  images/misc/ellipse-hero-leader-top.png
Labels: Graphics

#8377 EI S04b: Fix Hahid's name having a trailing comma
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Bug, Campaign EI

#8383 Fix duplicate mod ids breaking mod selection
  src/game_initialization/create_engine.cpp
  src/game_initialization/create_engine.hpp
  src/game_initialization/depcheck.cpp
  src/game_initialization/depcheck.hpp
  src/gui/dialogs/campaign_selection.cpp
  src/gui/dialogs/campaign_selection.hpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/multiplayer/mp_create_game.hpp
Labels: UI

#8326 HttT S11 Make the objective clearer
  data/campaigns/Heir_To_The_Throne/maps/11_The_Ford_of_Abez.map
  data/campaigns/Heir_To_The_Throne/scenarios/11_The_Ford_of_Abez.cfg
Labels: Enhancement, Campaign HttT

#8379 EI S06: fix enemy spawning event not triggering when turns end (#8376)
  data/campaigns/Eastern_Invasion/scenarios/06a_Undead_Crossing.cfg
Labels: Bug, Campaign EI

#8388 wmlxgettext: treat gender as a po hint
  changelog_entries/gettext_gender.md
  data/tools/pywmlx/state/machine.py
  data/tools/pywmlx/state/wml_states.py
Labels: Enhancement, Translations, WML Tools

#8378 EI S01-S04x: Add more po hints
  data/campaigns/Eastern_Invasion/scenarios/01_Eastern_Invasion.cfg
  data/campaigns/Eastern_Invasion/scenarios/02_The_Escape_Tunnel.cfg
  data/campaigns/Eastern_Invasion/scenarios/03_An_Unexpected_Appearance.cfg
  data/campaigns/Eastern_Invasion/scenarios/04a_An_Elven_Interlude.cfg
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
  data/campaigns/Eastern_Invasion/scenarios/04c_Mal-Ravanals_Capital.cfg
Labels: Enhancement, Translations, Campaign EI

#8370 Avoid extra square brackets in "missing key" error dialogs
  src/gui/core/gui_definition.cpp
  src/wml_exception.cpp
  src/wml_exception.hpp
Labels: UI

#8199 Widgets
  data/gui/widget/multiline_text_default.cfg
  data/gui/widget/scroll_text_default.cfg
  data/gui/widget/scroll_text_verbatim.cfg
  data/gui/widget/spinner_default.cfg
  data/schema/gui/generic.cfg
  data/schema/gui/widget_definitions.cfg
  data/schema/gui/widget_instances.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/libwesnoth_widgets
  source_lists/wesnoth
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/scroll_text.hpp
  src/gui/widgets/scrollbar.hpp
  src/gui/widgets/scrollbar_container.cpp
  src/gui/widgets/scrollbar_container.hpp
  src/gui/widgets/spinner.cpp
  src/gui/widgets/spinner.hpp
  src/gui/widgets/styled_widget.hpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
  src/gui/widgets/window.cpp
Labels: macOS, UI, Editor, Building, Input, Schema

#8373 [dev] Remove unnecessary includes
  src/achievements.cpp
  src/achievements.hpp
  src/actions/advancement.cpp
  src/actions/advancement.hpp
  src/actions/attack.cpp
  src/actions/attack.hpp
  src/actions/create.cpp
  src/actions/move.cpp
  src/actions/move.hpp
  src/actions/shroud_clearing_action.cpp
  src/actions/undo.cpp
  src/actions/undo_action.hpp
  src/config_attribute_value.hpp
  src/filesystem_common.cpp
  src/gui/widgets/addon_list.cpp
  src/gui/widgets/addon_list.hpp
  src/gui/widgets/button.cpp
  src/gui/widgets/button.hpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
  src/gui/widgets/drawing.cpp
  src/gui/widgets/drawing.hpp
  src/gui/widgets/horizontal_scrollbar.cpp
  src/gui/widgets/horizontal_scrollbar.hpp
  src/gui/widgets/image.cpp
  src/gui/widgets/label.cpp
  src/gui/widgets/label.hpp
  src/gui/widgets/listbox.cpp
  src/gui/widgets/listbox.hpp
  src/gui/widgets/matrix.cpp
  src/gui/widgets/menu_button.hpp
  src/log.cpp
  src/sdl/utils.cpp
  src/sdl/utils.hpp
  src/sdl/window.cpp
  src/wesnoth.cpp
Labels: UI, Achievements

#8403 use scroll_text for pbl editor description
  data/gui/window/editor_edit_pbl.cfg
  src/gui/dialogs/editor/edit_pbl.cpp
  src/gui/dialogs/editor/edit_pbl.hpp
Labels: UI

#8223 Use VALIDATE macro to validate WML in teleport.cpp (#8175)
  src/pathfind/teleport.cpp
Labels: WML

#8405 Tutorial: Specify the side of Li'sar in the char select
  data/campaigns/tutorial/lua/character_selection.lua
Labels: Campaign Tutorial

#8402 EI S05-S10: Add more PO hints
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
  data/campaigns/Eastern_Invasion/scenarios/06a_Undead_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/06b_Soradoc.cfg
  data/campaigns/Eastern_Invasion/scenarios/07b_Ogre_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
Labels: Enhancement, Translations, Campaign EI

#8381 EI: fix Terraent standing animation, and update stats to match mainline
  data/campaigns/Eastern_Invasion/units/Human_Terraent_Paladin.cfg
Labels: Units, Campaign EI

#8407 IPF: convert uses of lexical_cast_default to from_chars
  src/image_modifications.cpp
  src/utils/from_chars.hpp
Labels: Graphics

#8413 Revert renaming of ai_helper.checked_move_core
  data/ai/lua/ai_helper.lua
Labels: AI

#8384 [WoF] Avoid code duplication and fix a non-translatable string
  data/campaigns/Winds_of_Fate/lua/lua.lua
  data/campaigns/Winds_of_Fate/scenarios/03_The_Contention.cfg
  data/multiplayer/eras.lua
Labels: MP, Campaign WoF

#8416 EI - dra_nak_dead branch bugfix
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

#8314 HttT S17 Map always has 6 castle hexes around Konrad
  data/campaigns/Heir_To_The_Throne/scenarios/17_Scepter_of_Fire.cfg
Labels: Campaign HttT

#8419 EI S01, S13: Fix Gaennell's gender
  data/campaigns/Eastern_Invasion/scenarios/01_Eastern_Invasion.cfg
  data/campaigns/Eastern_Invasion/scenarios/13_Spoils_of_War.cfg
Labels: Bug, Campaign EI

#8340 wc: fix #6513 Bezoar artifact
  data/campaigns/World_Conquest/resources/data/artifacts.cfg
Labels: Campaign WC

#8417 EI S11-S18: Add more PO hints
  data/campaigns/Eastern_Invasion/scenarios/04a_An_Elven_Interlude.cfg
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
  data/campaigns/Eastern_Invasion/scenarios/13_Spoils_of_War.cfg
  data/campaigns/Eastern_Invasion/scenarios/14_The_Drowned_Plains.cfg
  data/campaigns/Eastern_Invasion/scenarios/15_Return_to_Wesnoth.cfg
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
  data/campaigns/Eastern_Invasion/scenarios/17a_The_Duel.cfg
  data/campaigns/Eastern_Invasion/scenarios/17b_All-In.cfg
  data/campaigns/Eastern_Invasion/scenarios/18_Epilogue.cfg
  data/campaigns/Eastern_Invasion/scenarios/99_Empire.cfg
Labels: Enhancement, Translations, Campaign EI

#8422 DiD S10: Fix missing line in human heroes' book endings
  data/campaigns/Descent_Into_Darkness/scenarios/10_Endless_Night.cfg
Labels: Bug, Campaign DiD

#8429 Revert IPF string handling optimisations
  src/about.cpp
  src/image_modifications.cpp
  src/scripting/lua_kernel_base.cpp
  src/serialization/string_utils.cpp
  src/serialization/string_utils.hpp
  src/utils/from_chars.hpp
Labels: Lua API, Building, Engine

#8425 Fix increase by percentage returns 1 if experience or max_experience are equal to zero
  data/test/scenarios/wml_tests/UnitsWML/increase_experience_by_percentage.cfg
  src/units/unit.cpp
  wml_test_schedule
Labels: Unit Tests, Units

#8418 Fix multiline_text's overriding of set_cursor
  src/gui/widgets/multiline_text.cpp
  src/gui/widgets/multiline_text.hpp
  src/gui/widgets/scroll_text.hpp
Labels: UI

#8433 Remove new strings that were used for VALIDATE_WML_CHILD
  src/gui/widgets/scroll_text.cpp
  src/gui/widgets/spinner.cpp
  src/wml_exception.cpp
  src/wml_exception.hpp
Labels: Bug, UI, Engine

#8217 Accept percentage arguments in scaling IPFs
  src/image_modifications.cpp
  src/image_modifications.hpp
Labels: Graphics

#8448 HttT S5b: Fix duplicate loyal trait for Delurin
  data/campaigns/Heir_To_The_Throne/scenarios/05b_Isle_of_the_Damned.cfg
Labels: Campaign HttT

#8457 Lua: Make sure unit type is built before returning it from iteration
  src/scripting/lua_unit_type.cpp
Labels: Lua API

#8458 skeletal rider and alternative bear portraits (backport #8453)
  copyrights.csv
  data/core/images/portraits/monsters/bear-alt.webp
  data/core/images/portraits/undead/skeletal_rider.webp
  data/core/units/undead/Skele_Bone_Knight.cfg
  data/core/units/undead/Skeleton_Rider.cfg
Labels: Backport, Graphics, Units

#8452 Multiply help portait scaling by the pixel multiplier.
  src/help/help_topic_generators.cpp
Labels: Help

#8424 HttT S06: Make Elensefar's defenses look damaged by the Orcish siege
  data/campaigns/Heir_To_The_Throne/maps/06_The_Siege_of_Elensefar.map
Labels: Enhancement, Campaign HttT

#8468 [1.18] HttT S06: Make Elensefar's defenses look damaged by the Orcish siege
  data/campaigns/Heir_To_The_Throne/maps/06_The_Siege_of_Elensefar.map
Labels: Enhancement, Campaign HttT

#8327 updated copyright in WML tool GUI app
  data/tools/GUI.pyw
Labels: WML Tools

#8471 update list of boost headers used in compilation
  projectfiles/CodeBlocks/libraries.md
Labels: Building

#8472 backport it to 1.18
  projectfiles/CodeBlocks/libraries.md
Labels: Building

#8449 Keep laurel decorations consistent with difficulty level
  src/gui/dialogs/campaign_difficulty.cpp
Labels: Backport, UI

#8450 Bump vcpkg baseline
  vcpkg.json
Labels: Windows, Building
