Repository wesnoth/wesnoth, pull requests merged in 2024-01, with the labels that each got.

#8154 add some more abilities tests
  data/schema/units/abilities.cfg
  data/test/_main.cfg
  data/test/macros/start_position_common_keep_a_b.cfg
  data/test/macros/unit_setup.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/hides/hides_nobody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/hides/hides_self.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/skirmisher/no_skirmisher.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/skirmisher/skirmisher.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/skirmisher/skirmisher_adjacent.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/skirmisher/skirmisher_adjacent_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/no_teleport.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport_adjacent_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport_no_tunnel.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/teleport_simple.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_filter_teleport_unit.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_source_target_teleport_unit.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_source_teleport_unit_fail.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_source_teleport_unit_succeed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_target_teleport_unit_fail.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/teleport/tunnel_target_teleport_unit_succeed.cfg
  wml_test_schedule
Labels: Unit Tests, Schema

#8196 Add tests for [harm_unit]
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_no.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_no_experience_yes.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_no.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_split_experience_yes.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_yes_experience_no.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_kill_yes_experience_yes.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_survivable_experience_no.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/ActionWML/DirectActionsWML/harm_unit_survivable_experience_yes.cfg
  wml_test_schedule
Labels: Unit Tests, WML

#8204 Fix some multiline po: comments
  data/campaigns/Under_the_Burning_Suns/scenarios/03_Stirring_in_the_Night.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/09_Blood_is_Thicker_Than_Water.cfg
  data/core/macros/special-notes.cfg
Labels: Translations, Units, Campaign UtBS

#8007 UtBS: Units with tailwind have green orbs and rest-heal
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Bug, Campaign UtBS

#8212 Add po hints for "taught" in the attack dialog
  src/units/abilities.cpp
Labels: Units

#8202 Check that every file in copyrights.csv has a license and author
  update_copyrights
Labels: Enhancement, Building, CI

#8194 1.18 Peasant animations
  copyrights.csv
  data/core/images/units/human-peasants/peasant-attack2-n.png
  data/core/images/units/human-peasants/peasant-attack2-s.png
  data/core/images/units/human-peasants/peasant-attack3-n.png
  data/core/images/units/human-peasants/peasant-attack3-s.png
  data/core/images/units/human-peasants/peasant-die1.png
  data/core/images/units/human-peasants/peasant-die10.png
  data/core/images/units/human-peasants/peasant-die2.png
  data/core/images/units/human-peasants/peasant-die3.png
  data/core/images/units/human-peasants/peasant-die4.png
  data/core/images/units/human-peasants/peasant-die5.png
  data/core/images/units/human-peasants/peasant-die6.png
  data/core/images/units/human-peasants/peasant-die7.png
  data/core/images/units/human-peasants/peasant-die8.png
  data/core/images/units/human-peasants/peasant-die9.png
  data/core/units/humans/Peasant.cfg
Labels: Graphics, Units

#8114 [WFL] deal with formula_callable inputs that currently don't do anything
  src/formula/callable_objects.cpp
Labels: WFL

#8213 add a bunch of attacks tests
  data/test/_main.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_low_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_negative_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_no_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_sub_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_wfl_other.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_wfl_self.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_zero.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_affect_allies.cfg
  wml_test_schedule
Labels: Unit Tests

#8224 08_Clearwater_Port.map
  data/campaigns/The_Rise_Of_Wesnoth/maps/08_Clearwater_Port.map
Labels: Campaign TRoW

#8237 UtBS S6a: Avoid Dust Devil speaking
  data/campaigns/Under_the_Burning_Suns/scenarios/06a_In_the_Tunnels_of_Trolls.cfg
Labels: Campaign UtBS

#8236 EI S4: Safyam is supposed to be female
  data/campaigns/Eastern_Invasion/scenarios/04b_Ill_Humors.cfg
Labels: Campaign EI

#8235 Prevent wesnoth from crashing after campaign credits
  src/gui/dialogs/outro.cpp
  src/gui/dialogs/outro.hpp
  src/gui/widgets/window.hpp
Labels: UI

#8216 Update all units of type and side after selection with is_game_override
  data/modifications/pick_advance/main.lua
Labels: Units

#8244 EI S12: Ran-Lar appears to be renamed Rakkha
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

#8168 systemd: Run as _wesnoth:_wesnoth using sysusers.d
  SConstruct
  changelog_entries/systemd_nobody.md
  packaging/systemd/SConscript
  packaging/systemd/wesnothd.service.in
  packaging/systemd/wesnothd.service.scons.in
  packaging/systemd/wesnothd.sysusers.conf.in
  packaging/systemd/wesnothd.tmpfiles.conf.in
Labels: Building, Packaging, SCons

#8169 [1.16] systemd: Run as _wesnoth:_wesnoth using sysusers.d
  SConstruct
  changelog_entries/systemd_nobody.md
  packaging/systemd/SConscript
  packaging/systemd/wesnothd.service.in
  packaging/systemd/wesnothd.service.scons.in
  packaging/systemd/wesnothd.sysusers.conf.in
  packaging/systemd/wesnothd.tmpfiles.conf.in
Labels: Packaging, Security

#8239 fix unit:to_map(loc) #8229
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

#8257 Add warning when [modification]type is not set, re #3415
  data/schema/core/addons.cfg
Labels: Schema

#8256 Double check executables were produced
  .github/workflows/ci-main.yml
Labels: CI

#8259 Show accuracy/parry as weapon specials in html, fixes #7895
  data/tools/unit_tree/html_output.py
Labels: WML Tools

#8260 Add missing names to about.cfg
  data/core/about.cfg
Labels: Docs, Help

#8228 Handling RTL in the left pane of the help browser
  changelog_entries/rtl_help_menu.md
  src/help/help_menu.cpp
  src/help/help_menu.hpp
  src/widgets/menu.cpp
  src/widgets/menu.hpp
  src/widgets/menu_style.cpp
Labels: Translations, UI, Help

#8258 Update Morogor Dialect notes
  data/campaigns/Winds_of_Fate/story/Morogor_Dialect.txt
Labels: Campaign WoF

#8247 Make event_test_filter_condition check when the filters run
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filters.cfg
Labels: Unit Tests

#8240 Simplify nearest neighbor rescale
  boost_test_schedule
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/boost_unit_tests
  src/sdl/utils.cpp
  src/tests/test_sdl.cpp
Labels: macOS, Graphics, Building

#8268 EI: fix macros in translatable strings, improve po hints
  changelog.md
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
  data/campaigns/Eastern_Invasion/utils/traits.cfg
Labels: Prose, Campaign EI

#8269 UtBS Balance
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/04_Descending_into_Darkness.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/05_A_Subterranean_Struggle.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/11_Battle_for_Zocthanol_Isle.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Dust_Devil.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Fighter.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Mystic.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Scout.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Singer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Sun_Sylph.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Protector.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Rider.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Tauroch_Stalwart.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  data/campaigns/Under_the_Burning_Suns/utils/macros.cfg
Labels: Enhancement, Units, Campaign UtBS

#8270 EI S11: Correct a couple of [message]message= to [message]female_message=
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Campaign EI

#8249 Hotkeys
  changelog_entries/hotkeys.md
  data/core/hotkeys.cfg
  data/themes/editor.cfg
  src/gui/dialogs/multiplayer/mp_staging.cpp
  src/gui/dialogs/multiplayer/mp_staging.hpp
Labels: UI, Lua API, Building, Packaging, SCons, Input, Schema

#8251 Add 'k' hotkey to core management window from main screen
  data/core/hotkeys.cfg
Labels: Input

#8252 Store core ID into save
  src/game_classification.cpp
Labels: Engine

#8280 Fix tmpfiles.conf and sysusers.conf paths in SConstruct.
  SConstruct
Labels: Building, SCons

#7938 EI Shadow Mage, Shadow Lord Balance
  data/campaigns/Eastern_Invasion/units/Human_Shadow_Lord.cfg
  data/campaigns/Eastern_Invasion/units/Human_Shadow_Mage.cfg
Labels: Units, Campaign EI

#8287 [1.16] Revert "systemd: drop _ prefix from username"
  changelog_entries/systemd_nobody.md
  packaging/systemd/wesnothd.service.in
  packaging/systemd/wesnothd.service.scons.in
  packaging/systemd/wesnothd.sysusers.conf.in
  packaging/systemd/wesnothd.tmpfiles.conf.in
Labels: Packaging

#8294 Fix Kaleh sword parry
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Youth.cfg
Labels: Units, Campaign UtBS

#8292 Use argparse for add_source_file
  add_source_file
Labels: Enhancement, Building

#8286 Backstab unit tests: check that backstab works in a free-for-all
  data/test/macros/generic_backstab_test.cfg
  data/test/macros/start_position_common_keep_a_b_c_d.cfg
  data/test/maps/4p_separate_castles.map
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/backstab.cfg
  wml_test_schedule
Labels: Unit Tests

#8299 Remove warning 'Weapon special x has no name for', fixes #8298
  data/tools/unit_tree/html_output.py
Labels: WML Tools

#8293 Re-sets the standing animation before and after the temporary_unit_mover moves the unit
  src/game_board.cpp
  src/game_board.hpp
  src/mouse_events.cpp
  src/units/map.cpp
  src/whiteboard/move.cpp
Labels: Unit Tests, Units

#8308 Revert "Check for correct openssl version."
  CMakeLists.txt
  INSTALL.md
Labels: Building, CMake

#8290 HttT S12 Snow falls at a constant pace
  data/campaigns/Heir_To_The_Throne/scenarios/12_Northern_Winter.cfg
Labels: Campaign HttT

#8309 1.18 - fix terrain graphics rule for elevation/ice/water transition
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-macros.cfg
Labels: Terrain

#8306 add an optional delay argument to scroll.
  src/scripting/game_lua_kernel.cpp
Labels: Lua API, Schema

#8302 Clarify whether add_source_file should add .hpp files
  add_source_file
Labels: Building

#8317 HttT S14 Use "id=" to remove Gryphon units
  data/campaigns/Heir_To_The_Throne/scenarios/14_Plunging_Into_the_Darkness.cfg
Labels: Campaign HttT

#8315 fix (most parts of) 7780 make unit_placed events nonundoable by default
  src/actions/create.cpp
Labels: Engine

#8254 copyrights.csv: Fix and check "License" and "Needs Updated" fields
  copyrights.csv
  update_copyrights
Labels: Docs

#8214 [Units] Raven unit tree Stats patch
  changelog_entries/8214.md
  data/core/units/monsters/Raven.cfg
  data/core/units/monsters/Raven_Harbinger.cfg
  data/core/units/monsters/Raven_Omen.cfg
Labels: Enhancement, Units
