Repository wesnoth/wesnoth, pull requests merged in 2024-10, with the labels that each got.

#9401 slows tests
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/slow/slow_ability.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/slow/slow_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/slow/slow_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/slow/slow_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/slow/slow_affect_self_no.cfg
  wml_test_schedule
Labels: Unit Tests

#9404 Change UtBS date from 300 to 1000 AF
  data/campaigns/Under_the_Burning_Suns/_main.cfg
Labels: Campaign UtBS

#9412 EI: update Dacyn arcane resistance to be consistent with the arcane rework
  data/campaigns/Eastern_Invasion/units/Human_Dacyn_Fallen_Mage.cfg
  data/campaigns/Eastern_Invasion/units/Human_Dacyn_Twilight_Mage.cfg
Labels: Units, Campaign EI

#9402 Action wml unit better error
  src/game_events/action_wml.cpp
Labels: WML

#9411 EI S14 "Drowned Plains" - rework scenario objective
  changelog_entries/ei-drowned-plains-redesign.md
  data/campaigns/Eastern_Invasion/scenarios/14_The_Drowned_Plains.cfg
  data/campaigns/Eastern_Invasion/scenarios/16_Eleventh_Hour.cfg
Labels: Campaign EI

#9422 Remove unused lua in THoT
  data/campaigns/The_Hammer_of_Thursagan/_main.cfg
  data/campaigns/The_Hammer_of_Thursagan/lua/spawns.lua
Labels: Campaign THoT

#9413 Define core units without [base_unit] tag (Horse, Scorpion, Ant Egg)
  data/core/units/monsters/Horse_Dark.cfg
  data/core/units/monsters/Horse_White.cfg
  data/core/units/monsters/Sand_Scamperer.cfg
  data/core/units/monsters/Sand_Scuttler.cfg
Labels: Units

#9426 GUI2/Rich Label: minor cleanup
  src/gui/widgets/rich_label.cpp
  src/gui/widgets/rich_label.hpp
Labels: UI

#9289 various animations
  data/core/images/units/goblins/Goblin_ColorMap.png
  data/core/images/units/goblins/direwolver-defend-1.png
  data/core/images/units/goblins/direwolver-defend-2.png
  data/core/images/units/goblins/pillager-attack.png
  data/core/images/units/goblins/pillager-attack2.png
  data/core/images/units/goblins/pillager-base1.png
  data/core/images/units/goblins/pillager-base2.png
  data/core/images/units/goblins/pillager-base3.png
  data/core/images/units/goblins/pillager-base4.png
  data/core/images/units/goblins/pillager-defend-1.png
  data/core/images/units/goblins/pillager-defend-2.png
  data/core/images/units/goblins/pillager-flame/a1.png
  data/core/images/units/goblins/pillager-flame/a10.png
  data/core/images/units/goblins/pillager-flame/a11.png
  data/core/images/units/goblins/pillager-flame/a12.png
  data/core/images/units/goblins/pillager-flame/a13.png
  data/core/images/units/goblins/pillager-flame/a14.png
  data/core/images/units/goblins/pillager-flame/a2.png
  data/core/images/units/goblins/pillager-flame/a3.png
  data/core/images/units/goblins/pillager-flame/a4.png
  data/core/images/units/goblins/pillager-flame/a5.png
  data/core/images/units/goblins/pillager-flame/a6.png
  data/core/images/units/goblins/pillager-flame/a7.png
  data/core/images/units/goblins/pillager-flame/a8.png
  data/core/images/units/goblins/pillager-flame/a9.png
  data/core/images/units/goblins/pillager-flame/glow.png
  data/core/images/units/goblins/pillager-moving.png
  data/core/images/units/goblins/pillager-net1.png
  data/core/images/units/goblins/pillager-net2.png
  data/core/images/units/goblins/pillager-net3.png
  data/core/images/units/orcs/warlord-attack-sword-1b.png
  data/core/images/units/orcs/warlord-attack-sword-2b.png
  data/core/images/units/orcs/warlord-attack-sword-3b.png
  data/core/images/units/orcs/warlord-attack-sword-4b.png
  data/core/images/units/orcs/warlord-attack-sword-5b.png
  data/core/images/units/orcs/warlord-attack-sword-6b.png
  data/core/images/units/orcs/warlord-victory1.png
  data/core/images/units/orcs/warlord-victory2.png
  data/core/images/units/orcs/warlord-victory3.png
  data/core/images/units/orcs/warlord-victory4.png
  data/core/images/units/orcs/warlord-victory5.png
  data/core/images/units/orcs/warrior-attack-1.png
  data/core/images/units/orcs/warrior-attack-2.png
  data/core/images/units/orcs/warrior-attack-3.png
  data/core/images/units/orcs/warrior-attack-4.png
  data/core/images/units/orcs/warrior-attack-4b.png
  data/core/images/units/orcs/warrior-attack-5.png
  data/core/images/units/orcs/warrior-attack-5b.png
  data/core/images/units/orcs/warrior-attack-6.png
  data/core/images/units/orcs/warrior-attack-6b.png
  data/core/images/units/orcs/warrior-attack-7.png
  data/core/images/units/orcs/warrior-defend-1.png
  data/core/images/units/orcs/warrior-defend-2.png
  data/core/units/goblins/Pillager.cfg
  data/core/units/orcs/Warlord.cfg
  data/core/units/orcs/Warrior.cfg
Labels: Graphics, Units

#9409 Fix weapon special unexpected behaviour
  src/units/abilities.cpp
Labels: Units

#9419 Status table team name fix
  src/game_initialization/connect_engine.cpp
Labels: MP

#9400 1.19 Better mountains/elevation interactions
  data/core/images/terrain/mountains/basic-castle-n2.png
  data/core/images/terrain/mountains/basic-castle-n3.png
  data/core/images/terrain/mountains/dry-castle-n2.png
  data/core/images/terrain/mountains/dry-castle-n3.png
  data/core/images/terrain/mountains/dry-castle-n4.png
  data/core/images/terrain/mountains/snow-castle-n.png
  data/core/images/terrain/mountains/snow-castle-n2.png
  data/core/images/terrain/mountains/snow-castle-n3.png
  data/core/terrain-graphics.cfg
  data/core/terrain-graphics/new-internal-floodfill.cfg
  data/core/terrain.cfg
Labels: Graphics, Terrain

#9432 [Units][Jumpcat] Rebalance Stats
  data/core/units/monsters/Cat_Jump.cfg
Labels: Units

#9439 Properly capitalize Young Ogre description
  data/core/units/ogres/Young_Ogre.cfg
Labels: Units

#9434 Teleport path finding improvement
  data/core/macros/abilities.cfg
  src/pathfind/astarsearch.cpp
  src/pathfind/teleport.cpp
  src/pathfind/teleport.hpp
Labels: UI

#9418 GUI2 LuaAPI: add clear_items()
  src/scripting/lua_widget_methods.cpp
  utils/emmylua/gui.lua
Labels: Lua API

#9447 Add support for UI Theme addon type
  data/schema/pbl.cfg
  src/addon/validation.cpp
  src/addon/validation.hpp
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/editor/edit_pbl.cpp
Labels: UI, Add-ons, Schema

#9451 GUI2: Fix broken tab order
  src/gui/widgets/window.cpp
Labels: UI

#9416 Better action wml allow_recruit error
  data/lua/wml-utils.lua
Labels: Lua API

#9442 Create in [filter_ability] an attribute 'active' to replace _active suffix in [filter_ability_active]
  data/schema/filters/unit.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filter_ability.cfg
  src/units/filter.cpp
Labels: Unit Tests, Units, Schema

#8546 remove 'experimental_' of filter_ability/specials tags
  changelog_entries/remove_experiemental.md
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
  data/schema/filters/unit.cfg
  data/schema/units/modifications.cfg
  data/schema/units/specials.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EffectWML/test_remove_ability_by_filter.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filter_ability.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/test_overwrite_specials_filter.cfg
  src/units/abilities.cpp
  src/units/filter.cpp
  src/units/unit.cpp
Labels: Unit Tests, Units, Schema, Campaign EI

#9339 Replace the recursion decoptge method with the less CPU-intensive config comparison method
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
  src/units/unit.hpp
Labels: Unit Tests, Units

#9454 swarm tests
  data/test/_main.cfg
  data/test/macros/wml_unit_test_macros.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_max.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_max_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_max_negative.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_max_wfl.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_min.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_min_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_min_higher.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_min_lower.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_min_negative.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_min_wfl.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_disables_upgrades.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_min_max_zero.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_no_min_no_max.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarms_filter_student_by_type_allied.cfg
  wml_test_schedule
Labels: Unit Tests

#9465 Rect: add grow_by, point_at, and subrect
  src/display.cpp
  src/floating_label.cpp
  src/gui/core/canvas.cpp
  src/sdl/rect.cpp
  src/sdl/rect.hpp
Labels: UI

#9471 Config: deploy all_children_view en-mass
  src/actions/undo.cpp
  src/actions/undo_move_action.cpp
  src/addon/client.cpp
  src/ai/configuration.cpp
  src/config.cpp
  src/config_cache.cpp
  src/editor/map/map_context.cpp
  src/formula/callable_objects.cpp
  src/game_config_manager.cpp
  src/game_events/handlers.cpp
  src/game_events/manager.cpp
  src/generators/cave_map_generator.cpp
  src/gui/core/canvas.cpp
  src/gui/dialogs/gamestate_inspector.cpp
  src/gui/dialogs/multiplayer/mp_options_helper.cpp
  src/gui/widgets/rich_label.cpp
  src/help/help_impl.cpp
  src/play_controller.cpp
  src/preferences/preferences.cpp
  src/replay.cpp
  src/scripting/game_lua_kernel.cpp
  src/scripting/lua_common.cpp
  src/scripting/lua_unit.cpp
  src/scripting/lua_wml.cpp
  src/serialization/parser.cpp
  src/serialization/schema_validator.cpp
  src/theme.cpp
  src/units/abilities.cpp
  src/units/animation.cpp
  src/units/attack_type.cpp
  src/units/filter.cpp
  src/units/types.cpp
  src/units/unit.cpp
  src/variable.cpp
  src/wesnoth.cpp
Labels: AI, UI, Editor, Units, Lua API, Add-ons, WFL, Help

#9292 Highlight reachable hexes instead of darkening unreachable hexes
  changelog_entries/highlight-reachable-hexes.md
  data/core/images/terrain/darken.png
  data/core/images/terrain/reachmap/reach-all.png
  data/core/images/terrain/reachmap/reach-n.png
  data/core/images/terrain/reachmap/reach-ne.png
  data/core/images/terrain/reachmap/reach-nw.png
  data/core/images/terrain/reachmap/reach-s.png
  data/core/images/terrain/reachmap/reach-se.png
  data/core/images/terrain/reachmap/reach-sw.png
  data/core/images/terrain/reachmap/reach.png
  data/game_config.cfg
  data/schema/core/config.cfg
  data/tools/emacs_mode/wesnoth-wml-data.el
  src/display.cpp
  src/display.hpp
  src/game_config.cpp
  src/game_config.hpp
  src/game_display.cpp
  src/game_display.hpp
Labels: Graphics, WML Tools, Schema, Terrain

#9480 campaignd: Use completion token overload
  src/server/campaignd/server.cpp
Labels: Add-ons

#9481 Display: remove display_context wrapper functions
  src/display.cpp
  src/display.hpp
  src/display_chat_manager.cpp
  src/editor/action/mouse/mouse_action.cpp
  src/editor/action/mouse/mouse_action_map_label.cpp
  src/editor/action/mouse/mouse_action_select.cpp
  src/editor/action/mouse/mouse_action_unit.cpp
  src/editor/editor_display.cpp
  src/editor/editor_display.hpp
  src/editor/map/context_manager.cpp
  src/editor/palette/terrain_palettes.cpp
  src/editor/palette/terrain_palettes.hpp
  src/game_display.cpp
  src/gui/dialogs/unit_list.cpp
  src/map/label.cpp
  src/menu_events.cpp
  src/minimap.cpp
  src/mouse_events.cpp
  src/units/abilities.cpp
  src/units/animation.cpp
  src/units/animation_component.cpp
  src/units/drawer.cpp
  src/units/filter.cpp
  src/units/udisplay.cpp
  src/units/unit.cpp
Labels: UI, Editor, Units

#9483 update codeblock librarie
  projectfiles/CodeBlocks/libraries.md
Labels: Building

#9429 Scenario editor, unit facing, game crash fix
  src/editor/controller/editor_controller.cpp
Labels: Editor

#9488 multi_page::remove_page - consider index when limiting pages
  src/gui/widgets/multi_page.cpp
Labels: UI

#9489 campaign selection: opening add-ons manager entry
  data/gui/themes/default/window/campaign_dialog.cfg
  src/game_initialization/singleplayer.cpp
  src/game_launcher.cpp
  src/gui/dialogs/campaign_selection.cpp
  src/gui/dialogs/campaign_selection.hpp
Labels: UI, Add-ons

#9493 Save game: text correction
  src/savegame.cpp
Labels: Prose

#9502 Deploy utils::erase_if
  src/addon/manager.cpp
  src/ai/default/ca_move_to_targets.cpp
  src/config.cpp
  src/display.cpp
  src/filesystem_common.cpp
  src/game_events/manager_impl.cpp
  src/game_initialization/flg_manager.cpp
  src/gui/auxiliary/tips.cpp
  src/gui/core/canvas.cpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/multiplayer/mp_options_helper.cpp
  src/log.cpp
  src/recall_list_manager.cpp
  src/save_index.cpp
  src/saved_game.cpp
  src/serialization/schema_validator.cpp
  src/serialization/schema_validator.hpp
  src/server/wesnothd/game.cpp
  src/tod_manager.cpp
  src/units/unit.cpp
Labels: AI, MP, UI, Units, Add-ons

#9505 Make sure Elvish Race Description doesn't contradict WoF
  data/core/units.cfg
Labels: Prose

#9435 Use XMP metadata for PNG files
  .github/workflows/image_metadata.yml
Labels: CI

#9466 More New Titlescreen Images
  data/game_config.cfg
Labels: UI

#9530 Fix the attack_end event in Liberty S5
  data/campaigns/Liberty/scenarios/05_Hide_and_Seek.cfg
Labels: Backport, Campaign L

#9496 Re-use translation strings from wesnoth-lib instead of duplicating them in wesnoth-editor
  src/gui/dialogs/editor/custom_tod.cpp
Labels: Translations, UI, Editor

#9406 Add achievements to THoT
  changelog_entries/thot_achievements.md
  data/campaigns/The_Hammer_of_Thursagan/achievements.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/04_High_Pass.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/06_Forbidden_Forest.cfg
  data/campaigns/The_Hammer_of_Thursagan/scenarios/09_The_Underlevels.cfg
Labels: Achievements, Campaign THoT
