Repository wesnoth/wesnoth, pull requests merged in 2025-06, with the labels that each got.

#10247 Fix Sidebar tooltip no longer shows effect of unit damage resistances(always 0%)
  src/reports.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Units, Engine

#10246 Unit Type: delete copy, default ctors
  src/units/types.cpp
  src/units/types.hpp
Labels: Units

#10251 add id to event_abilities in Utbs
  data/campaigns/Under_the_Burning_Suns/_main.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
Labels: Campaign UtBS

#10250 1.19 attack animations for Dunefolk Rover
  data/core/images/units/dunefolk/rover/rover-attack1.png
  data/core/images/units/dunefolk/rover/rover-attack2.png
  data/core/images/units/dunefolk/rover/rover-attack3.png
  data/core/images/units/dunefolk/rover/rover-attack4.png
  data/core/images/units/dunefolk/rover/rover-attack5.png
  data/core/images/units/dunefolk/rover/rover-attack6.png
  data/core/images/units/dunefolk/rover/rover-attack7.png
  data/core/images/units/dunefolk/rover/rover-bob1.png
  data/core/images/units/dunefolk/rover/rover-bob2.png
  data/core/images/units/dunefolk/rover/rover-bob3.png
  data/core/images/units/dunefolk/rover/rover-bob4.png
  data/core/images/units/dunefolk/rover/rover-bow-attack1.png
  data/core/images/units/dunefolk/rover/rover-bow-attack2.png
  data/core/images/units/dunefolk/rover/rover-bow-attack3.png
  data/core/images/units/dunefolk/rover/rover-bow-attack4.png
  data/core/images/units/dunefolk/rover/rover-bow-hit.png
  data/core/images/units/dunefolk/rover/rover-bow-miss1.png
  data/core/images/units/dunefolk/rover/rover-bow-miss2.png
  data/core/images/units/dunefolk/rover/rover-bow.png
  data/core/images/units/dunefolk/rover/rover-breeze1.png
  data/core/images/units/dunefolk/rover/rover-breeze2.png
  data/core/images/units/dunefolk/rover/rover-breeze3.png
  data/core/units/dunefolk/Rover.cfg
Labels: Graphics, Units

#10263 [1.18] Floating label replace fix backport
  src/scripting/game_lua_kernel.cpp
Labels: Lua API

#10266 MP/Connect Engine: add ability to disable faction sorting
  changelog.md
  data/schema/core/addons.cfg
  src/game_initialization/connect_engine.cpp
Labels: Schema

#10268 fix 'cumulative' attribute not added in abilities filter shema validation
  data/schema/filters/abilities.cfg
Labels: Schema

#10265 [Units] Wyvern Rider: update ranged attack anim
  data/core/units/dunefolk/Wyvern_Rider.cfg
Labels: Enhancement, Units

#10222 add a 'radius' to abilities [filter_adjacent] and [filter][filter_adjacent].
  changelog_entries/add_radius_to_filter_adjacent.md
  data/schema/filters/unit.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_distant_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_distant_direction_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_distant_direction_inactive.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_distant_inactive.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_filter_distant_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_filter_distant_direction_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_filter_distant_direction_inactive.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_filter_distant_inactive.cfg
  src/units/abilities.cpp
  src/units/filter.cpp
  wml_test_schedule
Labels: Unit Tests, Units, Schema

#10272 1.19 - add primary key to boat frames
  data/core/units/boats/Canoe.cfg
  data/core/units/boats/Derelict_Ship.cfg
  data/core/units/boats/Elf_Cutter.cfg
  data/core/units/boats/Elf_Sloop.cfg
  data/core/units/boats/Fireship.cfg
  data/core/units/boats/Ghost_Ship.cfg
  data/core/units/boats/Orc_Barge.cfg
  data/core/units/boats/Orc_Battle-Barge.cfg
  data/core/units/boats/Orc_Rigship.cfg
  data/core/units/boats/Orc_Warship.cfg
  data/core/units/boats/Pirate_Ship.cfg
  data/core/units/boats/Raft.cfg
  data/core/units/boats/Raider_Coastal.cfg
  data/core/units/boats/Raider_Iron.cfg
  data/core/units/boats/Skiff.cfg
  data/core/units/boats/Transport_Ship.cfg
Labels: Units

#10274 HttT: remove "sparkles" from Li'sar's Initiative ability
  data/campaigns/Heir_To_The_Throne/images/misc/firststrike-1.png
  data/campaigns/Heir_To_The_Throne/images/misc/firststrike-2.png
  data/campaigns/Heir_To_The_Throne/images/misc/firststrike-3.png
  data/campaigns/Heir_To_The_Throne/utils/abilities.cfg
Labels: Graphics, Campaign HttT

#10248 Fix weapon tooltip to display modifications by [damage_type]
  src/reports.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Units

#10285 Hotkey action state cleanup
  src/editor/controller/editor_controller.cpp
  src/editor/controller/editor_controller.hpp
  src/hotkey/command_executor.cpp
  src/hotkey/command_executor.hpp
  src/hotkey/hotkey_handler.cpp
  src/hotkey/hotkey_handler.hpp
  src/hotkey/hotkey_handler_sp.cpp
  src/hotkey/hotkey_handler_sp.hpp
Labels: Editor

#10305 SotA: Update terrain
  data/campaigns/Secrets_of_the_Ancients/utils/sota-utils.cfg
Labels: Backport, Campaign SotA

#10306 Fix [filter_adjacent] which checks the central unit
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_adjacent_self_inactive.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_filter_adjacent_self_inactive.cfg
  src/units/abilities.cpp
  src/units/filter.cpp
  wml_test_schedule
Labels: Unit Tests, Units

#10307 Editor/Controller: convert menu_type to a scoped enum
  src/editor/controller/editor_controller.cpp
  src/editor/controller/editor_controller.hpp
Labels: Editor

#10283 Editor/Edit Side: don't add/write game default base_income
  data/gui/themes/default/dialogs/editor_edit_side.cfg
  src/ai/default/ca.cpp
  src/ai/lua/engine_lua.cpp
  src/editor/map/map_context.cpp
  src/gui/dialogs/gamestate_inspector.cpp
  src/team.cpp
  src/team.hpp
  src/terrain/filter.cpp
Labels: AI, UI, Editor, Terrain

#10292 Fix assertion after event cleanup failue
  src/game_events/manager.cpp
Labels: Engine

#10287 Add a prefix " MP" for saves of hybrid campaigns run in MP
  src/game_initialization/create_engine.cpp
Labels: MP

#10309 Use native widgets for theme dropdown menu toggles
  src/editor/controller/editor_controller.cpp
  src/game_config.cpp
  src/game_config.hpp
  src/gui/dialogs/drop_down_menu.cpp
  src/gui/dialogs/drop_down_menu.hpp
  src/hotkey/command_executor.cpp
  src/hotkey/command_executor.hpp
  src/hotkey/hotkey_handler.cpp
  src/hotkey/hotkey_handler.hpp
Labels: UI, Editor

#10072 Great Mage: use Asmodeus's fireball animation
  data/core/macros/animation-utils.cfg
  data/core/units/humans/Mage_Great.cfg
Labels: Units

#10313 NR S04: check if hex is passable before spawn
  data/campaigns/Northern_Rebirth/scenarios/04_Clearing_the_Mines.cfg
Labels: Enhancement, Campaign NR
