Repository wesnoth/wesnoth, pull requests merged in 2025-04, with the labels that each got.

#10097 Move the toplevel read/write functions into their own namespace
  src/achievements.cpp
  src/addon/manager.cpp
  src/ai/configuration.cpp
  src/config_cache.cpp
  src/editor/map/map_context.cpp
  src/font/font_config.cpp
  src/game_initialization/create_engine.cpp
  src/gui/dialogs/editor/edit_pbl.cpp
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/dialogs/gamestate_inspector.cpp
  src/gui/gui.cpp
  src/language.cpp
  src/map/map.cpp
  src/network_asio.cpp
  src/persist_context.cpp
  src/preferences/preferences.cpp
  src/save_index.cpp
  src/saved_game.cpp
  src/scripting/lua_wml.cpp
  src/serialization/binary_or_text.cpp
  src/serialization/binary_or_text.hpp
  src/serialization/parser.cpp
  src/serialization/parser.hpp
  src/serialization/preprocessor.cpp
  src/serialization/schema_validator.cpp
  src/server/campaignd/server.cpp
  src/server/wesnothd/ban.cpp
  src/server/wesnothd/server.cpp
  src/tests/utils/wml_equivalence.cpp
  src/tests/wml/schema/test_schema_validator.cpp
  src/wesnoth.cpp
  src/wesnothd_connection.cpp
Labels: AI, MP, UI, Editor, Lua API, Add-ons, Achievements

#10103 floor [gold]amount=, closes #9518
  data/lua/wml-tags.lua
Labels: Lua API

#10104 remove stuff specifically for 800xN resolutions
  data/gui/themes/default/dialogs/lobby_main.cfg
  data/gui/themes/default/dialogs/mp_staging.cfg
  data/gui/themes/default/widgets/addon_list.cfg
  src/tests/gui/test_gui2.cpp
Labels: UI

#10109 WFL: add byte_index function
  changelog.md
  src/formula/function.cpp
  src/tests/test_formula_function.cpp
Labels: WFL

#10071 Remove "among" parameter remains after fbe2166
  data/campaigns/World_Conquest/lua/campaign/enemy.lua
  data/campaigns/World_Conquest/lua/campaign/scenario.lua
  data/campaigns/World_Conquest/lua/game_mechanics/training.lua
Labels: Campaign WC

#10077 Always default to NO_LAYER for the overlay
  src/terrain/builder.cpp
  src/terrain/translation.cpp
  src/terrain/translation.hpp
Labels: Terrain

#10110 Remove old gamemap header parsing
  src/map/map.cpp
  src/map/map.hpp
Labels: Engine

#10119 Add pango 1.50 to Steam package
  utils/dockerbuilds/CI/Dockerfile-base-steamrt
  utils/dockerbuilds/steamrt/Dockerfile
  utils/dockerbuilds/steamrt/start.sh
Labels: Packaging

#10120 EI: some assorted fixes and tweaks
  changelog_entries/ei-fixes-and-tweaks.md
  data/campaigns/Eastern_Invasion/achievements.cfg
  data/campaigns/Eastern_Invasion/scenarios/01_Eastern_Invasion.cfg
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/scenarios/10_Dark_Sanctuary.cfg
  data/campaigns/Eastern_Invasion/scenarios/15_Return_to_Wesnoth.cfg
Labels: Achievements, Campaign EI

#10088 rich label: Use Pango Shape attributes to handle inline images
  CMakeLists.txt
  INSTALL.md
  SConstruct
  data/core/editor/help.cfg
  data/core/help.cfg
  data/gui/themes/default/dialogs/fps_report.cfg
  data/gui/themes/default/widgets/label_advanced_preferences.cfg
  data/gui/themes/default/widgets/label_help_topic.cfg
  data/multiplayer/factions/drakes-aoh.cfg
  data/multiplayer/factions/drakes-default.cfg
  data/multiplayer/factions/dunefolk-aoh.cfg
  data/multiplayer/factions/dunefolk-default.cfg
  data/multiplayer/factions/knalgans-aoh.cfg
  data/multiplayer/factions/knalgans-default.cfg
  data/multiplayer/factions/loyalists-aoh.cfg
  data/multiplayer/factions/loyalists-default.cfg
  data/multiplayer/factions/northerners-aoh.cfg
  data/multiplayer/factions/northerners-default.cfg
  data/multiplayer/factions/rebels-aoh.cfg
  data/multiplayer/factions/rebels-default.cfg
  data/multiplayer/factions/undead-aoh.cfg
  data/multiplayer/factions/undead-default.cfg
  data/schema/gui/generic.cfg
  src/draw.cpp
  src/font/attributes.cpp
  src/font/attributes.hpp
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
  src/gui/dialogs/units_dialog.cpp
  src/gui/widgets/rich_label.cpp
  src/gui/widgets/rich_label.hpp
  src/help/help_topic_generators.cpp
  src/serialization/markup.hpp
  src/units/helper.cpp
Labels: MP, UI, Editor, Units, Building, Help, SCons, CMake, Schema

#10125 Editor: Remove old ToD schedule before saving new one
  src/editor/map/map_context.cpp
Labels: Backport, Editor

#10129 show max_attacks/attack usage in Help and Units dialog
  src/gui/widgets/unit_preview_pane.cpp
  src/gui/widgets/unit_preview_pane.hpp
  src/help/help_topic_generators.cpp
  src/reports.cpp
Labels: UI, Help

#10126 Color Refactor
  src/color.hpp
  src/font/attributes.cpp
  src/font/standard_colors.cpp
  src/font/standard_colors.hpp
  src/gui/core/canvas.cpp
  src/gui/core/window_builder.cpp
  src/gui/widgets/helper.cpp
  src/gui/widgets/helper.hpp
  src/gui/widgets/label.cpp
  src/gui/widgets/rich_label.cpp
  src/gui/widgets/styled_widget.cpp
  src/reports.cpp
  src/scripting/game_lua_kernel.cpp
  src/units/abilities.cpp
  src/units/helper.cpp
  src/widgets/button.cpp
Labels: UI, Units, Lua API

#10116 Remove bogus layer attribute in [variant]
  data/core/terrain-graphics/new-macros.cfg
  data/schema/terrain/graphics.cfg
Labels: Schema, Terrain

#10112 Allow the tournament DB query to define the complete text
  src/server/common/dbconn.cpp
Labels: MP, Add-ons

#10131 Help: convert to new markup
  data/core/editor/help.cfg
  data/core/encyclopedia/geography.cfg
  data/core/help.cfg
Labels: Editor, Help

#10096 Necromancer: emphasize plague, reduce durability
  changelog_entries/necromancer-more-plague.md
  data/core/units/undead/Necromancer.cfg
Labels: Units

#10134 TDG: a few tweaks
  changelog_entries/tdg-tweaks.md
  data/campaigns/The_Deceivers_Gambit/lua/skill_set.lua
  data/campaigns/The_Deceivers_Gambit/scenarios/05_The_Deceiver.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/08_Ruins_of_Saurgrath.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/14_Long_Live_the_Queen.cfg
Labels: Campaign TDG

#10140 Network: Correct curl protocol configuration (resolves #10139)
  src/network_download_file.cpp
Labels: Backport, Network

#10138 label inline link mechanism code simplification
  src/font/text.cpp
  src/font/text.hpp
  src/gui/widgets/label.cpp
  src/gui/widgets/rich_label.hpp
  src/gui/widgets/styled_widget.cpp
  src/gui/widgets/styled_widget.hpp
Labels: UI

#10073 Consistently update display when a unit changes (move, die, recruit) that affects the appearance of adjacent units through an ability
  src/actions/undo_move_action.cpp
  src/scripting/game_lua_kernel.cpp
  src/units/animation_component.cpp
  src/units/animation_component.hpp
  src/units/udisplay.cpp
Labels: Units, Lua API

#10130 Improve Stymphalian Unit Description
  data/campaigns/Winds_of_Fate/units/Stymphalian.cfg
Labels: Units, Campaign WoF

#10156 help: correct inline image size for scaling > 1
  src/font/attributes.cpp
  src/font/text.cpp
Labels: UI, Help

#10149 Consolidate WML value escape functionality
  src/serialization/parser.cpp
  src/serialization/string_utils.hpp
  src/server/campaignd/server.cpp
  src/server/common/simple_wml.cpp
  src/server/common/simple_wml.hpp
  src/server/wesnothd/server.cpp
  src/tstring.hpp
Labels: MP, Add-ons

#10163 help: separate unit help page id generation logic
  src/editor/controller/editor_controller.cpp
  src/help/help.cpp
  src/help/help.hpp
  src/reports.cpp
Labels: Editor, Units, Help
