Repository wesnoth/wesnoth, pull requests merged in 2025-08, with the labels that each got.

#10401 Revise 1.19's new ships' stats alternative
  copyrights.csv
  data/core/images/attacks/grapple.png
  data/core/macros/animation-utils2.cfg
  data/core/macros/movetypes.cfg
  data/core/macros/weapon_specials.cfg
  data/core/sounds/ship-ram-windup.ogg
  data/core/units.cfg
  data/core/units/boats/Canoe.cfg
  data/core/units/boats/Carrack_Merchant.cfg
  data/core/units/boats/Carrack_Pirate.cfg
  data/core/units/boats/Derelict_Ship.cfg
  data/core/units/boats/Elf_Cutter.cfg
  data/core/units/boats/Elf_Sloop.cfg
  data/core/units/boats/Fireship.cfg
  data/core/units/boats/Ghost_Ship.cfg
  data/core/units/boats/Orc_Barge.cfg
  data/core/units/boats/Orc_Battle-Barge.cfg
  data/core/units/boats/Orc_Rigship.cfg
  data/core/units/boats/Orc_Warship.cfg
  data/core/units/boats/Raft.cfg
  data/core/units/boats/Raider_Coastal.cfg
  data/core/units/boats/Raider_Iron.cfg
  data/core/units/boats/Skiff.cfg
  data/test/macros/pathfind_answers.cfg
Labels: Graphics, Audio, Unit Tests, Units

#10389 Android/InitActivity: add userdata import/export functionality (#10326)
  packaging/android/app/build.gradle
  packaging/android/app/src/main/java/org/wesnoth/Wesnoth/IOUtils.java
  packaging/android/app/src/main/java/org/wesnoth/Wesnoth/InitActivity.java
  packaging/android/app/src/main/res/menu/main_menu.xml
Labels: UI, Packaging, Android

#10394 Use resting for burrow instead of moves, closes #8693
  data/core/macros/abilities.cfg
Labels: Units

#9942 lua api: add double click event handler
  changelog.md
  src/scripting/lua_widget_attributes.cpp
  utils/emmylua/gui.lua
Labels: UI, Lua API

#10440 Reduce copying of preproc_define and tidy up config cache
  boost_test_schedule
  src/addon/manager_ui.cpp
  src/config_cache.cpp
  src/config_cache.hpp
  src/editor/map/map_context.cpp
  src/game_config_manager.cpp
  src/gui/gui.cpp
  src/scripting/lua_wml.cpp
  src/serialization/preprocessor.cpp
  src/serialization/preprocessor.hpp
  src/serialization/tokenizer.hpp
  src/tests/gui/test_gui2.cpp
  src/tests/test_config_cache.cpp
  src/tests/test_filesystem.cpp
  src/tests/utils/game_config_manager_tests.cpp
  src/tests/wml/schema/test_schema_validator.cpp
  src/wesnoth.cpp
Labels: UI, Editor, Lua API, Add-ons

#10443 TSG: make Afalas nicer
  data/campaigns/The_South_Guard/scenarios/02x_Westin.cfg
  data/campaigns/The_South_Guard/scenarios/03_Vale_of_Tears.cfg
  data/campaigns/The_South_Guard/scenarios/04_Choice_in_the_Fog.cfg
  data/campaigns/The_South_Guard/scenarios/05a_The_Long_March.cfg
  data/campaigns/The_South_Guard/scenarios/06a_Vengeance.cfg
Labels: Campaign TSG

#10445 Regroup the checks for abilities used as weapons into two separate functions.
  src/units/abilities.cpp
  src/units/attack_type.hpp
Labels: Units

#10428 Fix move behavior of enable_lua_ptr<T>
  boost_test_schedule
  src/scripting/lua_ptr.hpp
  src/tests/test_lua_ptr.cpp
Labels: Lua API

#10442 Preprocessor: clean up preproc_map input handling
  src/config_cache.cpp
  src/editor/map/map_context.cpp
  src/gui/dialogs/editor/edit_unit.cpp
  src/gui/gui.cpp
  src/scripting/lua_wml.cpp
  src/serialization/preprocessor.cpp
  src/serialization/preprocessor.hpp
  src/serialization/schema_validator.cpp
  src/tests/utils/wml_equivalence.cpp
  src/tests/utils/wml_equivalence.hpp
  src/tests/wml/schema/test_schema_validator.cpp
  src/wesnoth.cpp
Labels: UI, Editor, Lua API

#10330 Fonts: Replace Oldania with customized version
  data/hardwired/fonts.cfg
  fonts/COPYING
  fonts/WesScript-Regular.ttf
Labels: UI

#10450 Log at most one "image won't be drawn" error per canvas
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
Labels: UI

#10456 Update comments about image loading for canvases
  src/gui/core/canvas.cpp
  src/gui/core/canvas_private.hpp
Labels: UI

#10433 1.19 Basic fire-dragon animations
  data/core/images/units/monsters/FireDragon_ColorMap.png
  data/core/images/units/monsters/fire-dragon-defend1.png
  data/core/images/units/monsters/fire-dragon-defend2.png
  data/core/images/units/monsters/fire-dragon-resting1.png
  data/core/images/units/monsters/fire-dragon-resting2.png
  data/core/images/units/monsters/fire-dragon-resting3.png
  data/core/images/units/monsters/fire-dragon-resting4.png
  data/core/images/units/monsters/fire-dragon-resting5.png
  data/core/images/units/monsters/fire-dragon-resting6.png
  data/core/images/units/monsters/fire-dragon.png
  data/core/units/monsters/Fire_Dragon.cfg
Labels: Graphics, Units

#10463 Tips: add hotkey customization tip and fix spacing
  data/tips.cfg
Labels: Help

#10453 Simplify and consolidate save loading paths
  src/game_launcher.cpp
  src/game_launcher.hpp
  src/gui/dialogs/game_load.cpp
  src/gui/dialogs/game_load.hpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
  src/hotkey/hotkey_handler.cpp
  src/hotkey/hotkey_handler_sp.cpp
  src/play_controller.cpp
  src/saved_game.cpp
  src/saved_game.hpp
  src/savegame.cpp
  src/savegame.hpp
  src/tests/gui/test_gui2.cpp
  src/wesnoth.cpp
Labels: UI

#10474 [1.18] Make the Load Game dialog see other-version save files from 1.19
  changelog_entries/other_version_savefiles.md
  src/filesystem.cpp
Labels: UI, Stable 1.18

#10493 Units Dialog (Recall): sort by experience to next level
  src/gui/dialogs/units_dialog.cpp
Labels: UI

#10495 AToTB S4 Map: Aesthetic Revision
  data/campaigns/Two_Brothers/maps/04_Return_to_the_Village.map
Labels: Campaign AToTB

#10490 Fix some issues with 'Enthrall' in TDG
  data/campaigns/The_Deceivers_Gambit/utils/spellcasting.cfg
Labels: Campaign TDG

#10501 Help hidden topic improvement
  src/gui/dialogs/help_browser.cpp
Labels: UI, Help

#10432 Revert behavior change from 3cc3c75
  src/floating_label.cpp
Labels: UI
