Repository wesnoth/wesnoth, pull requests merged in 2025-03, with the labels that each got.

#9974 GUI2: harden theme definition parsing
  data/gui/_main.cfg
  data/gui/themes/celes/_main.cfg.cfg
  data/gui/themes/default/_main.cfg.cfg
  src/gui/gui.cpp
  src/gui/gui.hpp
  src/serialization/parser.cpp
  src/serialization/parser.hpp
Labels: UI

#9957 Editor Adjustments
  data/core/editor/help.cfg
  data/themes/editor.cfg
  src/editor/controller/editor_controller.cpp
  src/editor/map/context_manager.cpp
  src/editor/map/context_manager.hpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_command.hpp
Labels: UI, Editor, Input

#9992 THoT-S3: make AI sides smarter
  data/campaigns/The_Hammer_of_Thursagan/scenarios/03_Strange_Allies.cfg
Labels: Enhancement, Campaign THoT

#9970 Add `[unit]dismissable` and `[unit]block_dismiss_message`
  changelog.md
  data/schema/units/single.cfg
  data/test/scenarios/manual_tests/scenario-test.cfg
  src/gui/dialogs/units_dialog.cpp
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Unit Tests, UI, WML, Units, Schema

#10004 TSG: sg_help.cfg: use correct variable call
  data/campaigns/The_South_Guard/utils/sg_help.cfg
Labels: Campaign TSG

#9984 help browser: add search functionality
  changelog.md
  data/gui/themes/default/dialogs/help_browser.cfg
  src/gui/dialogs/help_browser.cpp
  src/gui/dialogs/help_browser.hpp
Labels: UI, Help

#9994 Fix some indentation and make CI abort if wmlindent errors
  .github/workflows/ci-main.yml
  data/campaigns/The_South_Guard/scenarios/03_Vale_of_Tears.cfg
  data/campaigns/The_South_Guard/scenarios/04_Choice_in_the_Fog.cfg
  data/campaigns/The_South_Guard/scenarios/06a_Vengeance.cfg
  data/campaigns/The_South_Guard/scenarios/06b_The_Tides_of_War.cfg
  utils/CI/fix_whitespace.sh
Labels: CI, Campaign TSG

#9947 AToTB S3 Map: Aesthetic Revision
  data/campaigns/Two_Brothers/maps/03_Guarded_Castle.map
Labels: Campaign AToTB

#10017 TDG S06: clarify scenario objectives
  data/campaigns/The_Deceivers_Gambit/scenarios/06_Ring_of_Swords.cfg
Labels: Campaign TDG

#10007 canvas: draw circle using cairo
  data/gui/themes/celes/widgets/toggle_button_radio.cfg
  images/buttons/modern/dot.png
  images/buttons/modern/radiobox-pressed.png
  images/buttons/modern/radiobox.png
  src/draw.cpp
  src/draw.hpp
  src/font/cairo.hpp
  src/gui/core/canvas.cpp
Labels: Graphics, UI

#9990 Adding the [have_side] tag
  changelog.md
  data/lua/wml-conditionals.lua
  data/schema/core/conditionalwml.cfg
Labels: Unit Tests, UI, Units, Lua API, Schema, Campaign THoT

#10018 [1.18] Fix failure to build on current versions of MSVC
  changelog.md
  src/log.cpp
Labels: Windows, Building

#10008 #9540 simple sprite shadow fix
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-1.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-2.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-3.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-4.png
  data/core/images/units/human-loyalists/horseman/horseman-ne-breeze-5.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-1.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-2.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-3.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-4.png
  data/core/images/units/human-loyalists/lancer/lancer-breeze-5.png
  data/core/images/units/human-peasants/peasant-attack2-s.png
  data/core/images/units/human-peasants/peasant-attack3-s.png
Labels: Graphics, Units

#10014 HttT S19c: Fix and improve drake spawn algorithm
  data/campaigns/Heir_To_The_Throne/maps/19c_Cliffs_of_Thoria.map
  data/campaigns/Heir_To_The_Throne/scenarios/19c_Cliffs_of_Thoria.cfg
Labels: Campaign HttT

#10028 Revert "Use the alternative Troll Hero profile as a profile for the Great Troll"
  data/core/units/trolls/Great.cfg
Labels: Units

#9985 Android: hardcode landscape (right) orientation
  packaging/android/app/src/main/AndroidManifest.xml
Labels: Packaging, Android

#10011 Styling changes for readability
  add_source_file
Labels: Building

#10035 Delete spacer in TDG's spellcasting dialog
  data/campaigns/The_Deceivers_Gambit/lua/spellcasting.lua
Labels: Campaign TDG

#9819 Add queue-like functionality to the multiplayer lobby
  data/_main.cfg
  data/game_presets.cfg
  data/schema/game_config.cfg
  src/game_initialization/connect_engine.cpp
  src/game_initialization/create_engine.cpp
  src/game_initialization/create_engine.hpp
  src/game_initialization/depcheck.cpp
  src/game_initialization/depcheck.hpp
  src/game_initialization/lobby_data.cpp
  src/game_initialization/lobby_data.hpp
  src/game_initialization/lobby_info.cpp
  src/game_initialization/multiplayer.cpp
  src/game_initialization/playcampaign.hpp
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/multiplayer/lobby.hpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/multiplayer/mp_create_game.hpp
  src/server/wesnothd/game.cpp
  src/server/wesnothd/game.hpp
  src/server/wesnothd/server.cpp
Labels: MP, UI, Schema

#10038 Make sure formula symbol tables get deleted properly
  src/formula/formula.cpp
  src/formula/formula.hpp
  src/scripting/lua_formula_bridge.cpp
  src/scripting/lua_formula_bridge.hpp
  src/side_filter.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/filter.cpp
Labels: Units, Lua API, WFL

#10015 Improve scons/ python files code style standards
  scons/install.py
Labels: Building, SCons

#10036 Move TDG's spells to a separate file + bug fix
  data/campaigns/The_Deceivers_Gambit/_main.cfg
  data/campaigns/The_Deceivers_Gambit/lua/skill_set.lua
  data/campaigns/The_Deceivers_Gambit/lua/spellcasting.lua
Labels: Campaign TDG

#10041 rich label: support setting table bgcolors from definition
  data/gui/themes/default/widgets/rich_label_default.cfg
  data/schema/gui/widget_definitions.cfg
  src/gui/widgets/rich_label.cpp
  src/gui/widgets/rich_label.hpp
  src/help/help_topic_generators.cpp
Labels: UI, Help, Schema

#10043 TSG help.cfg: improve translatability of "ranged attack" help message
  data/campaigns/The_South_Guard/utils/sg_help.cfg
Labels: Campaign TSG

#10054 Generalise log domain matching rules
  doc/man/wesnoth.6
  src/log.cpp
Labels: Docs, Command Line

#10033 PUA: Access only the right unit type ID attribute
  data/modifications/pick_advance/main.lua
Labels: Lua API

#10040 TDG: Correct Orcish Sorceress description
  data/campaigns/The_Deceivers_Gambit/units/Orcish_Sorceress.cfg
Labels: Units, Prose, Campaign TDG

#10046 NR S2, 3, 6, 8: fix carryover gold %
  data/campaigns/Northern_Rebirth/scenarios/02_01_Infested_Caves.cfg
  data/campaigns/Northern_Rebirth/scenarios/03_To_the_Mines.cfg
  data/campaigns/Northern_Rebirth/scenarios/06a_Old_Friend.cfg
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg
Labels: Campaign NR

#10045 Port FPS viewer to GUI2
  data/gui/themes/default/dialogs/fps_report.cfg
  data/gui/themes/default/widgets/window_debug_overlay.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/display.cpp
  src/display.hpp
  src/gui/core/tracked_drawable.cpp
  src/gui/core/tracked_drawable.hpp
  src/gui/dialogs/fps_report.cpp
  src/gui/dialogs/fps_report.hpp
  src/tests/gui/test_gui2.cpp
Labels: macOS, UI, Building

#10059 Restore Windows CI job
  .github/workflows/ci-main.yml
Labels: CI

#10050 HttT S5a: clearer objective
  data/campaigns/Heir_To_The_Throne/maps/05a_Muff_Malal_Peninsula.map
  data/campaigns/Heir_To_The_Throne/scenarios/05a_Muff_Malal_Peninsula.cfg
Labels: Campaign HttT

#10055 Make the --data-dir explanation clearer
  doc/man/wesnoth.6
  src/commandline_options.cpp
Labels: Docs

#10058 Add gold_cost for TDG's Magic System
  data/campaigns/The_Deceivers_Gambit/lua/spellcasting.lua
Labels: Campaign TDG

#10078 SotBE-S17: add message to event
  data/campaigns/Son_Of_The_Black_Eye/scenarios/17_The_Human_Attack.cfg
Labels: Enhancement, Prose, Campaign SotBE

#9286 UI support for real-ranged attacks
  src/map/location.hpp
  src/mouse_events.cpp
Labels: UI, Engine

#10066 Continue work on chrono cleanup
  src/config_attribute_value.cpp
  src/config_attribute_value.hpp
  src/filesystem.cpp
  src/filesystem.hpp
  src/filesystem_common.cpp
  src/format_time_summary.cpp
  src/format_time_summary.hpp
  src/formula/string_utils.hpp
  src/game_initialization/lobby_data.hpp
  src/gettext.cpp
  src/gettext.hpp
  src/gui/dialogs/addon/manager.cpp
  src/gui/widgets/debug.cpp
  src/log.cpp
  src/log.hpp
  src/log_windows.cpp
  src/reports.cpp
  src/save_index.cpp
  src/save_index.hpp
  src/savegame.cpp
  src/server/campaignd/server.cpp
  src/server/wesnothd/ban.cpp
  src/tests/test_formula_core.cpp
  src/units/id.hpp
  src/wesnoth.cpp
Labels: MP, UI, Units, Add-ons, WFL

#10091 GUI2: hotkey registration and related callback cleanup
  src/gui/core/event/dispatcher.cpp
  src/gui/core/event/dispatcher.hpp
  src/gui/dialogs/achievements_dialog.hpp
  src/gui/dialogs/gui_test_dialog.hpp
  src/gui/dialogs/multiplayer/lobby.cpp
  src/gui/dialogs/multiplayer/lobby.hpp
  src/gui/dialogs/multiplayer/mp_staging.cpp
  src/gui/dialogs/title_screen.cpp
  src/gui/dialogs/title_screen.hpp
  src/gui/widgets/window.cpp
Labels: UI, Achievements
