Repository wesnoth/wesnoth, pull requests merged in 2025-02, with the labels that each got.

#9824 SotBE: refine map for S16
  data/campaigns/Son_Of_The_Black_Eye/maps/16_The_Coward.map
Labels: Enhancement, Campaign SotBE

#9817 [SotBE] S10: refine objectives flow
  data/campaigns/Son_Of_The_Black_Eye/scenarios/10_Saving_Inarix.cfg
Labels: Enhancement, Campaign SotBE

#8936 Doing [filter_attack/weapon]type= pick type who doing more damage only
  data/schema/filters/weapon.cfg
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/events-test_filter_attack_type.cfg
  src/ai/formula/function_table.cpp
  src/formula/callable_objects.cpp
  src/gui/dialogs/attack_predictions.cpp
  src/gui/dialogs/unit_attack.cpp
  src/reports.cpp
  src/units/abilities.cpp
  src/units/attack_type.cpp
  src/units/attack_type.hpp
  src/units/unit.cpp
  wml_test_schedule
Labels: AI, Unit Tests, UI, Units, Lua API, WFL, Schema

#9833 flatpak boost upgrade
  packaging/flatpak/org.wesnoth.Wesnoth.json
  utils/dockerbuilds/CI/Dockerfile-base-flatpak
Labels: Packaging

#9542 Polishing the visual highlighting of reachable hexes
  data/core/images/terrain/reachmap/reach-all.png
  data/core/images/terrain/reachmap/reach-n.png
  data/core/images/terrain/reachmap/reach-ne.png
  data/core/images/terrain/reachmap/reach-nw.png
  data/core/images/terrain/reachmap/reach-s.png
  data/core/images/terrain/reachmap/reach-se.png
  data/core/images/terrain/reachmap/reach-sw.png
  src/display.cpp
  src/display.hpp
  src/drawing_layer.hpp
  src/game_display.cpp
  src/mouse_events.cpp
  src/mouse_events.hpp
Labels: Graphics, Terrain

#9826 canvas: add a `parse_text_as_formula` key to `[text]`
  data/schema/gui/generic.cfg
  src/gui/core/canvas.cpp
  src/gui/widgets/rich_label.cpp
Labels: UI, Help, Schema

#9838 Update android dockerfile
  utils/dockerbuilds/CI/Dockerfile-base-android
Labels: Android

#9820 EI: add macro for multiracial messages
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/utils/macros.cfg
Labels: Campaign EI

#9842 Fix #9834 error after reloading after taking village
  src/actions/move.cpp
  src/actions/undo_action.cpp
Labels: Engine

#9829 THoT S3 Map: Aesthetic Revision
  data/campaigns/The_Hammer_of_Thursagan/maps/03_Strange_Allies.map
Labels: Campaign THoT

#9848 Only load the specified image type and add webp support
  src/picture.cpp
Labels: Graphics

#9858 Change zookeeper to former maintainer of SotBE
  data/campaigns/Son_Of_The_Black_Eye/_main.cfg
Labels: Campaign SotBE

#9860 Capitalize Elvish Captain in unit description
  data/core/units/elves/Captain.cfg
Labels: Units

#9861 Uncapitalize goblin in pillager unit description
  data/core/units/goblins/Pillager.cfg
Labels: Units

#9792 Add Wose Sapling Description
  data/core/units/wose/Wose_Sapling.cfg
Labels: Units

#9846 THoT S4 Map: Aesthetic Revision
  data/campaigns/The_Hammer_of_Thursagan/maps/04_High_Pass.map
Labels: Campaign THoT

#9865 Consistently capitalize Lord in THoT S2 Text
  data/campaigns/The_Hammer_of_Thursagan/scenarios/02_Reclaiming_the_Past.cfg
Labels: Prose, Campaign THoT

#9867 SotBE: update credits
  data/campaigns/Son_Of_The_Black_Eye/_main.cfg
Labels: Campaign SotBE

#9779 DM -> TDG translations cleanup
  data/achievements.cfg
  data/campaigns/The_Deceivers_Gambit/_main.cfg
  data/campaigns/The_Deceivers_Gambit/achievements.cfg
  data/tools/wmllint
  utils/optiwebp.py
Labels: WML Tools, Achievements, Campaign TDG

#9804 TDG: Improve Translatability
  data/campaigns/The_Deceivers_Gambit/scenarios/01_Stirrings_of_War.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/04_The_Sylvan_Seer.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/07_The_Great_River.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/08_Ruins_of_Saurgrath.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/09_Omaranth.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/11_Clan_Blackcrest.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/12_The_Traitor.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/13_Revelry_Revisited.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/13x_The_King_is_Dead.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/14_Long_Live_the_Queen.cfg
Labels: Campaign TSG, Campaign TDG

#9832 SotBE: add snow weather sfx to selected scenarios
  data/campaigns/Son_Of_The_Black_Eye/_main.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/13_The_Dwarvish_Stand.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/14_Back_Home.cfg
  data/campaigns/Son_Of_The_Black_Eye/scenarios/15_Civil_War.cfg
Labels: Enhancement, Campaign SotBE

#9862 TRoW S13: Fix Drake Dialogue Inconsistency
  data/campaigns/The_Rise_Of_Wesnoth/scenarios/13_Peoples_in_Decline.cfg
Labels: Campaign TRoW

#9859 Change zookeeper to former maintainer of TRoW
  data/campaigns/The_Rise_Of_Wesnoth/_main.cfg
Labels: Campaign TRoW

#9857 Change Fabi/Fendrin to former maintainer of LoW
  data/campaigns/Legend_of_Wesmere/_main.cfg
Labels: Campaign LoW

#9856 Change zookeeper to former maintainer of HttT
  data/campaigns/Heir_To_The_Throne/_main.cfg
Labels: Campaign HttT

#9863 Add Thewodoros to credits
  data/campaigns/Eastern_Invasion/_main.cfg
  data/core/about.cfg
Labels: Units, Campaign EI

#9866 Green Isle Encyclopedia Tweaks
  data/core/encyclopedia/geography.cfg
Labels: Prose, Help

#9884 Fix achievement and scenario name inconsistency in TSG
  data/campaigns/The_South_Guard/achievements.cfg
Labels: Campaign TSG

#9849 SotBE: S12: make loyalists AI smarter
  data/campaigns/Son_Of_The_Black_Eye/scenarios/12_Giving_Some_Back.cfg
  data/campaigns/Son_Of_The_Black_Eye/utils/utils.cfg
Labels: Enhancement, AI, Campaign SotBE

#9844 THoT: Update Masked Dwarf Stats
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Berserker.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Dragonguard.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Fighter.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Guardsman.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Lord.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Sentinel.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Stalwart.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Steelclad.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Thunderer.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Masked_Thunderguard.cfg
Labels: Units, Campaign THoT

#9854 EI S09: fix minor bugs, code improvements
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
  data/campaigns/Eastern_Invasion/utils/items.cfg
Labels: Campaign EI

#9889 Capitalize both parts of Pirate Galleon in Unit Description
  data/core/units/boats/Pirate_Galleon.cfg
Labels: Units

#9896 TDG: use improved saurian sprites by Refumee
  data/campaigns/The_Deceivers_Gambit/images/units/civilian/saurian1.png
  data/campaigns/The_Deceivers_Gambit/images/units/civilian/saurian2.png
  data/campaigns/The_Deceivers_Gambit/images/units/civilian/saurian3.png
Labels: Graphics, Campaign TDG

#9899 EI S12: Use Eyrie instead of Aerie
  data/campaigns/Eastern_Invasion/scenarios/12_Evacuation.cfg
Labels: Campaign EI

#9900 SotBE: S15: update map
  data/campaigns/Son_Of_The_Black_Eye/maps/15_Civil_War.map
Labels: Campaign SotBE

#9909 TDG: allow the levitate spell to improve cave movement
  data/campaigns/The_Deceivers_Gambit/utils/spellcasting.cfg
Labels: Campaign TDG

#9877 Implement Reachmap Color and Opacity Options
  boost_test_schedule
  data/advanced_preferences.cfg
  data/core/images/terrain/reachmap/reach.png
  data/game_config.cfg
  data/gui/themes/default/dialogs/reachmap_options.cfg
  data/gui/themes/default/widgets/toggle_button_reachmap.cfg
  data/schema/core/config.cfg
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/game_config.cpp
  src/game_config.hpp
  src/game_display.cpp
  src/gui/dialogs/preferences_dialog.cpp
  src/gui/dialogs/reachmap_options.cpp
  src/gui/dialogs/reachmap_options.hpp
  src/preferences/preferences.cpp
  src/preferences/preferences.hpp
  src/preferences/preferences_list.hpp
  src/tests/gui/test_gui2.cpp
Labels: macOS, Graphics, UI, Building, Schema, Terrain

#9890 Split text attribute handling into its own API
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/libwesnoth
  src/font/attributes.cpp
  src/font/attributes.hpp
  src/font/text.cpp
  src/font/text.hpp
  src/gui/core/canvas.cpp
  src/gui/widgets/text_box_base.cpp
  src/gui/widgets/text_box_base.hpp
Labels: macOS, UI, Building

#9870 EI: display the note for Owaec's weapon special in unit description
  data/campaigns/Eastern_Invasion/units/Human_Owaec_Clan_Captain.cfg
  data/campaigns/Eastern_Invasion/units/Human_Owaec_Horse_Lord.cfg
  data/campaigns/Eastern_Invasion/units/Human_Owaec_Princeling.cfg
  data/campaigns/Eastern_Invasion/utils/abilities.cfg
Labels: Units, Campaign EI

#9864 EI: Rename weapon special shock to stagger
  data/campaigns/Eastern_Invasion/units/Human_Owaec_Clan_Captain.cfg
  data/campaigns/Eastern_Invasion/units/Human_Owaec_Horse_Lord.cfg
  data/campaigns/Eastern_Invasion/units/Human_Owaec_Princeling.cfg
  data/campaigns/Eastern_Invasion/utils/abilities.cfg
Labels: Units, Campaign EI

#9888 Remove configure_engine
  projectfiles/CodeBlocks-SCons/wesnoth.cbp
  projectfiles/CodeBlocks/tests.cbp
  projectfiles/CodeBlocks/wesnoth.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/wesnoth
  src/game_initialization/configure_engine.cpp
  src/game_initialization/configure_engine.hpp
  src/game_initialization/singleplayer.cpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/multiplayer/mp_create_game.hpp
  src/gui/dialogs/sp_options_configure.cpp
  src/gui/dialogs/sp_options_configure.hpp
  src/map_settings.cpp
  src/map_settings.hpp
  src/tests/gui/test_gui2.cpp
Labels: macOS, UI, Building

#9881 THoT S5 Map: Aesthetic Revision
  data/campaigns/The_Hammer_of_Thursagan/maps/05_Fear.map
Labels: Campaign THoT

#9912 TSG: Correctly show which arm Mari is missing in po note
  data/campaigns/The_South_Guard/scenarios/01_Born_to_the_Banner.cfg
Labels: Campaign TSG

#9927 TSG: remove duplicated sound files
  copyrights.csv
  data/campaigns/The_South_Guard/sounds/weather-rain.ogg
  data/campaigns/The_South_Guard/sounds/weather-snow.ogg
Labels: Audio, Campaign TSG

#9929 TDG: Fix typo in Saurian Juvenile Unit Description
  data/campaigns/The_Deceivers_Gambit/units/Saurian_Juvenile.cfg
Labels: Units, Campaign TDG

#9926 Use Far North instead of Northern Lands in DW Campaign Description
  data/campaigns/Dead_Water/_main.cfg
Labels: Campaign DW

#9921 TSG S3: Correct ending scene
  data/campaigns/The_South_Guard/scenarios/03_Vale_of_Tears.cfg
Labels: Campaign TSG

#9924 Use Northlands instead of Northern Lands in THoT Campaign Description
  data/campaigns/The_Hammer_of_Thursagan/_main.cfg
Labels: Campaign THoT

#9919 AToTB S2 Map: Aesthetic Revision
  data/campaigns/Two_Brothers/maps/02_The_Chase.map
  data/campaigns/Two_Brothers/scenarios/02_The_Chase.cfg
Labels: Campaign AToTB

#9923 Update Unit Description Capitalization
  data/campaigns/Eastern_Invasion/units/Human_Terraent_Paladin.cfg
  data/campaigns/Eastern_Invasion/units/Naga_Centurion.cfg
  data/campaigns/The_Deceivers_Gambit/units/Orcish_Adept.cfg
  data/campaigns/The_Deceivers_Gambit/units/Orcish_Shaman.cfg
  data/campaigns/The_Deceivers_Gambit/units/Orcish_Sorceress.cfg
  data/campaigns/The_Hammer_of_Thursagan/units/Dwarvish_Loremaster.cfg
  data/campaigns/Under_the_Burning_Suns/units/humans/Human_Commander.cfg
  data/campaigns/Under_the_Burning_Suns/units/monsters/Flesh_Golem.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Archer.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Corrupted_Elf.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Dustbok.cfg
  data/campaigns/Under_the_Burning_Suns/units/quenoth/Flanker.cfg
  data/campaigns/Under_the_Burning_Suns/units/undead/Spider_Lich.cfg
  data/campaigns/Winds_of_Fate/units/Caravel.cfg
  data/campaigns/Winds_of_Fate/units/Dolphin.cfg
  data/core/units/dunefolk/Harrier.cfg
  data/core/units/dunefolk/Herbalist.cfg
  data/core/units/dunefolk/Rover.cfg
  data/core/units/dunefolk/Scorcher.cfg
  data/core/units/dunefolk/Strider.cfg
  data/core/units/dunefolk/Windbolt.cfg
  data/core/units/dunefolk/Wyvern_Rider.cfg
  data/core/units/elves/Druid.cfg
  data/core/units/elves/Lady.cfg
  data/core/units/elves/Marshal.cfg
  data/core/units/elves/Rider.cfg
  data/core/units/elves/Sorceress.cfg
  data/core/units/humans/Horse_Paladin.cfg
  data/core/units/humans/Loyalist_Cavalryman.cfg
  data/core/units/humans/Loyalist_Halberdier.cfg
  data/core/units/humans/Loyalist_Heavy_Infantryman.cfg
  data/core/units/humans/Loyalist_Pikeman.cfg
  data/core/units/monsters/Bear.cfg
  data/core/units/monsters/Boar.cfg
  data/core/units/monsters/Caribe.cfg
  data/core/units/monsters/Caribe_Hunter.cfg
  data/core/units/undead/Corpse_Ghast.cfg
  data/core/units/undead/Necro_Lich.cfg
Labels: Units, Campaign EI, Campaign THoT, Campaign UtBS, Campaign WoF, Campaign TDG

#9931 SotBE-S16: tweak start event
  data/campaigns/Son_Of_The_Black_Eye/scenarios/16_The_Coward.cfg
Labels: Enhancement, Campaign SotBE

#9913 Cmake: use BoostConfig explicitly to silence CMP0167 warning
  CMakeLists.txt
Labels: Building, CMake

#9933 Capitalize Kingdom in TRoW Campaign Description
  data/campaigns/The_Rise_Of_Wesnoth/_main.cfg
Labels: Campaign TRoW

#9943 drop preferences.cpp from source lists (no longer needed)
  source_lists/wesnoth
Labels: Building

#9079 Fix “filter_adjacent_location” not working in ability
  data/schema/units/abilities.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_adjacent_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_adjacent_direction_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_adjacent_direction_inactive.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_adjacent_inactive.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_adjacent_location_count_three_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_adjacent_location_count_zero_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_adjacent_location_count_zero_inactive.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_student_adjacent_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_student_adjacent_inactive.cfg
  src/units/abilities.cpp
  src/units/attack_type.hpp
  wml_test_schedule
Labels: Unit Tests, Units, Schema

#9910 Integrate special ability events into these abilities.
  data/campaigns/Descent_Into_Darkness/units/Mal_Keshar.cfg
  data/campaigns/Descent_Into_Darkness/utils/abilities.cfg
  data/campaigns/Under_the_Burning_Suns/_main.cfg
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  data/campaigns/Winds_of_Fate/utils/abilities.cfg
Labels: Units, Campaign DiD, Campaign UtBS, Campaign WoF

#9935 TDG: Improve Custom Saurian Unit Descriptions
  data/campaigns/The_Deceivers_Gambit/units/Saurian_Devotee.cfg
  data/campaigns/The_Deceivers_Gambit/units/Saurian_Juvenile.cfg
  data/campaigns/The_Deceivers_Gambit/units/Saurian_Young.cfg
Labels: Units, Campaign TDG

#9934 Use orcs instead of goblins in Sea Orc unit description
  data/campaigns/Heir_To_The_Throne/units/Sea_Orc.cfg
Labels: Units, Campaign HttT

#9939 Improve Galleon Unit Description
  data/core/units/boats/Galleon.cfg
Labels: Units

#9941 TDG: some S00 onboarding improvements
  data/campaigns/The_Deceivers_Gambit/scenarios/00_Graduation.cfg
  data/campaigns/The_Deceivers_Gambit/utils/spellcasting.cfg
Labels: Campaign TDG

#9408 World Conquest: Remove hard coded trainer indices
  data/campaigns/World_Conquest/Modding.md
  data/campaigns/World_Conquest/lua/game_mechanics/invest/invest.lua
  data/campaigns/World_Conquest/lua/game_mechanics/training.lua
  data/campaigns/World_Conquest/resources/data/training.cfg
Labels: Campaign WC

#9949 Bump min Boost version to 1.70
  CMakeLists.txt
  INSTALL.md
  SConstruct
  changelog.md
Labels: Building, SCons, CMake

#9950 add 'invulnerable' status for prevent unit die during tests
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_student_adjacent_active.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/filter_student_adjacent_inactive.cfg
Labels: Unit Tests

#9953 TDG: remove silent raven speed reduction, and use TRAIT_SLOW instead
  data/campaigns/The_Deceivers_Gambit/utils/spellcasting.cfg
Labels: Campaign TDG

#9955 lua api: expose male/female names for races
  src/scripting/lua_race.cpp
Labels: Lua API

#9944 help: link base and overlay terrains in terrain help pages (#9456)
  src/gui/dialogs/help_browser.cpp
  src/help/help_topic_generators.cpp
  src/terrain/terrain.hpp
Labels: UI, Help, Terrain

#9945 Saurian Juvenile
  data/campaigns/The_Deceivers_Gambit/images/units/civilian/saurian1.png
  data/campaigns/The_Deceivers_Gambit/images/units/civilian/saurian2.png
  data/campaigns/The_Deceivers_Gambit/images/units/civilian/saurian3.png
  data/campaigns/The_Deceivers_Gambit/images/units/civilian/saurian4.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile-bob1.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile-bob2.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile-bob3.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile-bob4.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile-bob5.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile-bob6.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_backpack-bob1.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_backpack-bob2.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_backpack-bob3.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_backpack-bob4.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_backpack-bob5.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_backpack-bob6.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_backpack.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_cloaked-bob1.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_cloaked-bob2.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_cloaked-bob3.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_cloaked-bob4.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_cloaked-bob5.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_cloaked-bob6.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_cloaked.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_devotee-bob1.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_devotee-bob2.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_devotee-bob3.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_devotee-bob4.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_devotee-bob5.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_devotee-bob6.png
  data/campaigns/The_Deceivers_Gambit/images/units/saurian-juvenile/juvenile_devotee.png
  data/campaigns/The_Deceivers_Gambit/scenarios/08_Ruins_of_Saurgrath.cfg
  data/campaigns/The_Deceivers_Gambit/units/Saurian_Juvenile.cfg
Labels: Graphics, Units, Campaign TDG

#9951 Add map dimension info
  .github/workflows/map-diff.yml
Labels: CI

#9301 Fixes unit moving during attack selection screen
  src/gui/dialogs/attack_predictions.cpp
  src/gui/dialogs/attack_predictions.hpp
  src/gui/dialogs/unit_attack.cpp
  src/gui/dialogs/unit_attack.hpp
  src/mouse_events.cpp
  src/mouse_events.hpp
Labels: macOS, Graphics, MP, Unit Tests, UI, Editor, Units, Lua API, Building, WFL, Help, Schema, Campaign DW

#9963 Update Firebomb Ant and Grand Dragonfly XP
  data/core/units/monsters/Ant_Firebomb.cfg
  data/core/units/monsters/Dragonfly_Grand.cfg
Labels: Units

#9961 Note that iOS/Android versions are currently unmaintained in readme
  README.md
Labels: Docs

#9966 Eastern Invasion S11
  data/campaigns/Eastern_Invasion/scenarios/11_Captured.cfg
Labels: Prose, Campaign EI
