Repository wesnoth/wesnoth, pull requests merged in 2025-07, with the labels that each got.

#10331 CI: Update Windows image
  .github/workflows/ci-main.yml
Labels: Windows, CI, Stable 1.18

#10333 1.19 Dune firetrooper sprites
  data/core/images/units/dunefolk/burner/firetrooper+female.png
  data/core/images/units/dunefolk/burner/firetrooper-defend1.png
  data/core/images/units/dunefolk/burner/firetrooper-defend2.png
  data/core/images/units/dunefolk/burner/firetrooper.png
  data/core/images/units/dunefolk/burner/scorcher+female-defend1.png
  data/core/images/units/dunefolk/burner/scorcher+female-defend2.png
  data/core/images/units/dunefolk/burner/scorcher+female.png
  data/core/images/units/dunefolk/burner/scorcher-defend1.png
  data/core/images/units/dunefolk/burner/scorcher-defend2.png
  data/core/images/units/dunefolk/burner/scorcher.png
  data/core/units/dunefolk/Firetrooper.cfg
  data/core/units/dunefolk/Scorcher.cfg
Labels: Graphics, Units

#10056 HttT S19c: clearer objective
  data/campaigns/Heir_To_The_Throne/scenarios/19c_Cliffs_of_Thoria.cfg
Labels: Campaign HttT

#10336 TSG: remove more fourth wall breaking dialogue
  data/campaigns/The_South_Guard/scenarios/01_Born_to_the_Banner.cfg
  data/campaigns/The_South_Guard/scenarios/02_Proven_by_the_Sword.cfg
  data/campaigns/The_South_Guard/scenarios/02x_Westin.cfg
  data/campaigns/The_South_Guard/scenarios/03_Vale_of_Tears.cfg
  data/campaigns/The_South_Guard/scenarios/04_Choice_in_the_Fog.cfg
Labels: Campaign TSG

#10341 MP/Faction Select: add listbox sorter for faction names
  data/gui/themes/default/dialogs/mp_faction_select.cfg
  data/schema/core/addons.cfg
  data/schema/game_config.cfg
  src/game_initialization/connect_engine.cpp
  src/game_initialization/connect_engine.hpp
  src/game_initialization/flg_manager.cpp
  src/game_initialization/flg_manager.hpp
  src/gui/dialogs/multiplayer/faction_select.cpp
  src/gui/dialogs/multiplayer/mp_join_game.cpp
  src/tests/gui/test_gui2.cpp
Labels: UI, Schema

#10344 GUI/Events: Touch: double tap movement/single tap select
  changelog.md
  data/core/hotkeys.cfg
  data/schema/core/config.cfg
  src/controller_base.cpp
  src/hotkey/hotkey_command.cpp
  src/hotkey/hotkey_item.cpp
  src/hotkey/hotkey_item.hpp
  src/mouse_events.cpp
Labels: UI, iOS, Input, Schema, Android

#10324 Additional Fire Wisp sprites and animations
  data/core/images/units/monsters/firewisp-2.png
  data/core/images/units/monsters/firewisp-3.png
  data/core/images/units/monsters/firewisp-recruit.png
  data/core/units/monsters/Fire_Wisp.cfg
Labels: Graphics, Units

#10332 Fix non-permanent bans not actually working
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/wesnothd/server.cpp
Labels: MP, Add-ons

#10354 WFL: add new core functions to supplement FAI functionality
  changelog_entries/new-wfl-functions.md
  src/formula/function.cpp
  src/formula/function_gamestate.cpp
Labels: WFL

#10362 Fix command line and some keyboard shortcuts no longer work
  src/gui/widgets/text_box_base.cpp
Labels: UI, iOS, Input, Android

#10363 Fix halo and hides display bug in abilities
  src/units/abilities.cpp
  src/units/filter.cpp
Labels: Units

#10371 Ghoul-line: Resistance changes
  changelog_entries/ghoul_line.md
  data/core/units/undead/Corpse_Ghast.cfg
  data/core/units/undead/Corpse_Ghoul.cfg
  data/core/units/undead/Corpse_Necrophage.cfg
Labels: Units

#10090 Add New 6p Map - Double Siege
  data/multiplayer/maps/6p_Double_Siege.map
  data/multiplayer/scenarios/6p_Double_Siege.cfg
Labels: MP

#10374 Add util for container lookup with projections
  src/about.cpp
  src/carryover.cpp
  src/config.cpp
  src/formula/function_gamestate.cpp
  src/game_initialization/flg_manager.cpp
  src/game_initialization/singleplayer.cpp
  src/gui/dialogs/addon/manager.cpp
  src/gui/dialogs/multiplayer/mp_create_game.cpp
  src/gui/dialogs/title_screen.cpp
  src/gui/gui.cpp
  src/gui/widgets/addon_list.cpp
  src/gui/widgets/chatbox.cpp
  src/gui/widgets/chatbox.hpp
  src/gui/widgets/tree_view.cpp
  src/gui/widgets/tree_view.hpp
  src/menu_events.cpp
  src/recall_list_manager.cpp
  src/scripting/game_lua_kernel.cpp
  src/serialization/schema_validator.cpp
  src/sound.cpp
  src/tests/utils/game_config_manager_tests.cpp
  src/utils/general.hpp
  src/variable.cpp
Labels: UI, Lua API, Add-ons, WFL

#10380 Merfolk Diviner: slightly adjust description.
  data/core/units/merfolk/Diviner.cfg
Labels: Units, Help

#10378 Improve play_music_config implementation
  src/sound.cpp
Labels: Audio

#10279 Add [defense] ability to be able to modify base cth while be overwritable by [chance_to_hit]
  changelog_entries/add_real_defense_abilitie.md
  data/campaigns/The_Deceivers_Gambit/utils/spellcasting.cfg
  data/campaigns/Under_the_Burning_Suns/utils/abilities.cfg
  data/schema/units/abilities.cfg
  data/schema/units/specials.cfg
  data/test/_main.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_add.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_add_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_add_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_add_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_affect_allies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_affect_allies_distant.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_affect_enemies.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_affect_everybody.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_affect_self_no.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_max_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_multiply_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_negative_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_no_value.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_overwrite_specials_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_overwrite_specials_mixed.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_overwrite_specials_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_overwrite_specials_two_both_sides.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_overwrite_specials_two_one_side.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_overwrited_by_chance_to_hit.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_sub.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_sub_divide.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_sub_multiply.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_two_cumulative_mixed_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_two_cumulative_mixed_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_two_cumulative_no_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_two_cumulative_no_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_two_cumulative_yes_same_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_two_cumulative_yes_unique_id.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_wfl_other.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/defense/defense_wfl_self.cfg
  src/actions/attack.cpp
  src/mouse_events.cpp
  src/units/abilities.cpp
  src/units/ability_tags.hpp
  src/units/attack_type.hpp
  src/units/unit.hpp
  wml_test_schedule
Labels: Unit Tests, UI, Units, Schema, Campaign DiD, Campaign HttT, Campaign UtBS, Campaign TDG

#10397 Skeletal Dragon image_icon
  data/core/units/monsters/Skeletal_Dragon.cfg
Labels: Units

#10399 Move checking_tags()set to ability_tags.hpp file
  projectfiles/CodeBlocks/wesnoth.cbp
  src/units/abilities.cpp
  src/units/ability_tags.hpp
  src/units/udisplay.cpp
  src/units/unit.hpp
Labels: Units, Building

#10339 Fix #10029 leader for disabled side
  src/game_initialization/connect_engine.cpp
Labels: MP Lobby

#10356 give 'radius' to 'illuminates' abilities
  changelog_entries/add-radius-to_illuminates-abilities.md
  data/schema/units/abilities.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_value_chaotic_distant.cfg
  src/tod_manager.cpp
  wml_test_schedule
Labels: Unit Tests, Units, Schema
