Repository wesnoth/wesnoth, pull requests merged in 2025-01, with the labels that each got.

#9688 EI S04c: clear dangling variables
  data/campaigns/Eastern_Invasion/scenarios/04c_Mal-Ravanals_Capital.cfg
Labels: Campaign EI

#9689 EI S05 prose: Galdren and the sylph
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
  data/campaigns/Eastern_Invasion/utils/final_battle/final_battle.cfg
Labels: Campaign EI

#9691 Change boost download link in flatpak to archive.boost.io
  packaging/flatpak/org.wesnoth.Wesnoth.json
Labels: Packaging

#9685 cleanup team::gold
  src/editor/map/map_context.cpp
  src/game_state.cpp
  src/team.cpp
  src/team.hpp
  src/teambuilder.cpp
  src/teambuilder.hpp
Labels: Editor, Campaign WC

#9698 fix bug in compilation for gcc
  src/gui/dialogs/outro.cpp
Labels: UI

#9702 units dialog (recruit): use image_icon instead of image
  src/gui/dialogs/units_dialog.cpp
Labels: Enhancement, UI

#9686 Improve keyboard navigation in MP Method Selection dialog
  data/gui/themes/default/window/mp_method_selection.cfg
  src/gui/dialogs/multiplayer/mp_method_selection.cpp
  src/gui/dialogs/multiplayer/mp_method_selection.hpp
  src/preferences/preferences.hpp
  src/preferences/preferences_list.hpp
Labels: MP Lobby, UI

#9704 EI S07a: init counter variables in prestart
  data/campaigns/Eastern_Invasion/scenarios/07a_Capturing_the_Ogres.cfg
Labels: Campaign EI

#9707 EI S06b: fix a couple of small bugs, code improvements
  data/campaigns/Eastern_Invasion/scenarios/06b_Soradoc.cfg
  data/campaigns/Eastern_Invasion/utils/deaths.cfg
Labels: Campaign EI

#9714 GUI2/Units Dialog: simplify the column generator code
  src/gui/dialogs/units_dialog.cpp
  src/gui/dialogs/units_dialog.hpp
Labels: UI

#9716 EI: remove death events for heroes before they join
  data/campaigns/Eastern_Invasion/scenarios/04c_Mal-Ravanals_Capital.cfg
  data/campaigns/Eastern_Invasion/scenarios/05_Northern_Outpost.cfg
  data/campaigns/Eastern_Invasion/scenarios/06a_Undead_Crossing.cfg
  data/campaigns/Eastern_Invasion/scenarios/06b_Soradoc.cfg
  data/campaigns/Eastern_Invasion/scenarios/07a_Capturing_the_Ogres.cfg
  data/campaigns/Eastern_Invasion/scenarios/07b_Ogre_Crossing.cfg
Labels: Campaign EI

#9715 EI S07b: fix bugs, code improvements
  data/campaigns/Eastern_Invasion/scenarios/07b_Ogre_Crossing.cfg
Labels: Campaign EI

#9722 Move Weather effects into a separate resource
  copyrights.csv
  data/resources/Weather/_main.cfg
  data/resources/Weather/images/terrain/noweather.png
  data/resources/Weather/images/terrain/rain/rain-1.png
  data/resources/Weather/images/terrain/rain/rain-2.png
  data/resources/Weather/images/terrain/rain/rain-3.png
  data/resources/Weather/images/terrain/rain/rain-4.png
  data/resources/Weather/images/terrain/rain/rain-5.png
  data/resources/Weather/images/terrain/snow/0001.png
  data/resources/Weather/images/terrain/snow/0002.png
  data/resources/Weather/images/terrain/snow/0003.png
  data/resources/Weather/images/terrain/snow/0004.png
  data/resources/Weather/images/terrain/snow/0005.png
  data/resources/Weather/images/terrain/snow/0006.png
  data/resources/Weather/images/terrain/snow/0007.png
  data/resources/Weather/images/terrain/snow/0008.png
  data/resources/Weather/images/terrain/snow/0009.png
  data/resources/Weather/images/terrain/snow/0010.png
  data/resources/Weather/images/terrain/snow/0011.png
  data/resources/Weather/images/terrain/snow/0012.png
  data/resources/Weather/images/terrain/snow/0013.png
  data/resources/Weather/images/terrain/snow/0014.png
  data/resources/Weather/images/terrain/snow/0015.png
  data/resources/Weather/images/terrain/snow/0016.png
  data/resources/Weather/images/terrain/snow/0017.png
  data/resources/Weather/images/terrain/snow/0018.png
  data/resources/Weather/images/terrain/snow/0019.png
  data/resources/Weather/images/terrain/snow/0020.png
  data/resources/Weather/images/terrain/snow/0021.png
  data/resources/Weather/images/terrain/snow/0022.png
  data/resources/Weather/images/terrain/snow/0023.png
  data/resources/Weather/images/terrain/snow/0024.png
  data/resources/Weather/images/terrain/snow/0025.png
  data/resources/Weather/images/terrain/snow/0026.png
  data/resources/Weather/images/terrain/snow/0027.png
  data/resources/Weather/images/terrain/snow/0028.png
  data/resources/Weather/images/terrain/snow/0029.png
  data/resources/Weather/images/terrain/snow/0030.png
  data/resources/Weather/images/terrain/snow/0031.png
  data/resources/Weather/images/terrain/snow/0032.png
  data/resources/Weather/images/terrain/snow/0033.png
  data/resources/Weather/images/terrain/snow/whiteout.png
  data/resources/Weather/sounds/weather-rain.ogg
  data/resources/Weather/sounds/weather-snow.ogg
Labels: Graphics, Audio

#9729 celes theme: listbox header definition
  data/gui/themes/celes/widgets/toggle_button_listbox_header.cfg
  images/buttons/modern/triangle.png
Labels: Graphics, UI

#9734 UtBS S01: make Kaleh's dialog a bit more emotional
  data/campaigns/Under_the_Burning_Suns/scenarios/01_The_Morning_After.cfg
Labels: Prose, Campaign UtBS

#9733 EI S08: fix bug, code improvements
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Eastern_Invasion/utils/deaths.cfg
Labels: Campaign EI

#9737 EI S08: mention invasion force instead of just undead
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
Labels: Campaign EI

#9736 EI S08: replace mention of Ulrek with Relgorn
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
Labels: Campaign EI

#9738 DiD, EI, NR: replace "ken" with "can" in dwarf speech
  data/campaigns/Descent_Into_Darkness/scenarios/10_Endless_Night.cfg
  data/campaigns/Eastern_Invasion/scenarios/08_Xenophobia.cfg
  data/campaigns/Northern_Rebirth/scenarios/05a_02_Dealings.cfg
  data/campaigns/Northern_Rebirth/scenarios/08a_Elvish_Princess.cfg
Labels: Campaign DiD, Campaign EI, Campaign NR

#9739 THoT: remove duplicate macro
  data/campaigns/The_Hammer_of_Thursagan/utils/characters.cfg
Labels: Campaign THoT

#8517 gui: Better positioning of submenus in the main UI
  changelog_entries/submenu-positioning.md
  src/gui/dialogs/drop_down_menu.cpp
  src/gui/dialogs/drop_down_menu.hpp
  src/hotkey/command_executor.cpp
Labels: Enhancement, UI

#9749 (1.18 backport) Switch default Pango/Cairo render backend to Fontconfig on macOS
  changelog_entries/macos-font-render-backend.md
  src/wesnoth.cpp
Labels: Backport, macOS, UI

#9747 use lambdas instead of rs_base
  projectfiles/CodeBlocks-SCons/wesnothd.cbp
  projectfiles/CodeBlocks/wesnothd.cbp
  projectfiles/Xcode/The Battle for Wesnoth.xcodeproj/project.pbxproj
  source_lists/campaignd
  source_lists/wesnothd
  src/server/common/dbconn.cpp
  src/server/common/dbconn.hpp
  src/server/common/forum_user_handler.cpp
  src/server/common/resultsets/ban_check.cpp
  src/server/common/resultsets/ban_check.hpp
  src/server/common/resultsets/game_history.cpp
  src/server/common/resultsets/game_history.hpp
  src/server/common/resultsets/rs_base.hpp
  src/server/common/resultsets/tournaments.cpp
  src/server/common/resultsets/tournaments.hpp
Labels: macOS, MP, Add-ons, Building

#9565 Add missing keys to the schema
  data/schema/core/actionwml.cfg
  data/schema/units/types.cfg
Labels: Schema

#9750 EI: remove the rest of unused schedules
  data/campaigns/Eastern_Invasion/utils/schedule.cfg
Labels: Campaign EI

#9752 Bump vcpkg baseline
  vcpkg.json
Labels: Backport, Windows, Building

#9253 Encyclopedia Revision for TSG: Re-Revised
  data/core/encyclopedia/calendar.cfg
  data/core/encyclopedia/geography.cfg
Labels: Prose, Help

#9758 EI: allow undo if we choose to not pick the item (or elixir)
  data/campaigns/Eastern_Invasion/utils/items.cfg
Labels: Campaign EI

#9756 Fix typo in TSG Comment
  data/campaigns/The_South_Guard/_main.cfg
Labels: Campaign TSG

#9754 texture: use size instead of w/h pair and reduce direct SDL calls
  src/sdl/texture.cpp
  src/sdl/texture.hpp
Labels: Graphics

#9759 Warn against old tutorial in description
  data/campaigns/tutorial/_main.cfg
Labels: Campaign Tutorial

#9760 EI prose, encyclopedia: fix Soradoc and outposts locations
  data/campaigns/Eastern_Invasion/scenarios/01_Eastern_Invasion.cfg
  data/core/encyclopedia/geography.cfg
Labels: Campaign EI

#9762 EI S06a: improve Hahid's eleixir-related messages
  data/campaigns/Eastern_Invasion/scenarios/06a_Undead_Crossing.cfg
Labels: Campaign EI

#9764 Change display name of Old Tutorial Achievement Group
  data/campaigns/tutorial/achievements.cfg
Labels: Achievements, Campaign Tutorial

#9765 EI S09: improve frostbite event
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
Labels: Campaign EI

#9767 Keep gameplay help page up to date with new tutorial
  data/core/help.cfg
Labels: Help

#9763 Refactor unit bar drawing
  src/draw.cpp
  src/draw.hpp
  src/units/drawer.cpp
Labels: Graphics, Units

#9769 Encyclopedia: Corrections following #9253
  data/core/encyclopedia/geography.cfg
Labels: Prose, Help

#9783 THoT S1 Map: Aesthetic Revision
  data/campaigns/The_Hammer_of_Thursagan/maps/01_At_the_East_Gate.map
  data/campaigns/The_Hammer_of_Thursagan/scenarios/01_At_the_East_Gate.cfg
Labels: Campaign THoT

#9771 TSG: Various small corrections and revisions
  data/campaigns/The_South_Guard/scenarios/01_Born_to_the_Banner.cfg
  data/campaigns/The_South_Guard/scenarios/02_Proven_by_the_Sword.cfg
  data/campaigns/The_South_Guard/scenarios/02x_Westin.cfg
  data/campaigns/The_South_Guard/scenarios/03_Vale_of_Tears.cfg
  data/campaigns/The_South_Guard/scenarios/04_Choice_in_the_Fog.cfg
  data/campaigns/The_South_Guard/scenarios/05b_Pebbles_in_the_Flood.cfg
  data/campaigns/The_South_Guard/scenarios/05c_Into_the_Depths.cfg
  data/campaigns/The_South_Guard/scenarios/06a_Vengeance.cfg
  data/campaigns/The_South_Guard/scenarios/06b_The_Tides_of_War.cfg
  data/campaigns/The_South_Guard/scenarios/06x_Epilogue.cfg
  data/campaigns/The_South_Guard/utils/savescumming.cfg
  data/campaigns/The_South_Guard/utils/sg_help.cfg
Labels: Prose, Campaign TSG

#9786 TDG: add to schema, and fix schema issues
  data/campaigns/The_Deceivers_Gambit/scenarios/00_Graduation.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/01_Stirrings_of_War.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/02_Fort_Garard.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/03_The_Ambassador.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/04_The_Sylvan_Seer.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/06_Ring_of_Swords.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/07x_Weldyn_Court.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/08_Ruins_of_Saurgrath.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/09_Omaranth.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/10_Houses_of_the_Dead.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/11_Clan_Blackcrest.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/11x_Revelry.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/12_The_Traitor.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/13x_The_King_is_Dead.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/14_Long_Live_the_Queen.cfg
  data/campaigns/The_Deceivers_Gambit/utils/macros.cfg
  data/campaigns/The_Deceivers_Gambit/utils/side_ai.cfg
  data/campaigns/The_Deceivers_Gambit/utils/spellcasting.cfg
  data/campaigns/The_Deceivers_Gambit/utils/unified_characters.cfg
  data/schema/core/actionwml.cfg
  data/schema/core/addons.cfg
  utils/CI/schema_validation.patch
  utils/CI/schema_validation.sh
Labels: Schema, Campaign TDG

#9777 help: readd HttT
  data/core/help.cfg
Labels: Help

#9788 TDG: Minor corrections/revisions
  data/campaigns/The_Deceivers_Gambit/achievements.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/00_Graduation.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/01_Stirrings_of_War.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/02_Fort_Garard.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/03_The_Ambassador.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/04_The_Sylvan_Seer.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/05_The_Deceiver.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/06_Ring_of_Swords.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/07_The_Great_River.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/07x_Weldyn_Court.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/09_Omaranth.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/10_Houses_of_the_Dead.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/10x_Elensefar_Outskirts.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/11_Clan_Blackcrest.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/11x_Revelry.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/12_The_Traitor.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/13_Revelry_Revisited.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/13x_The_King_is_Dead.cfg
  data/campaigns/The_Deceivers_Gambit/scenarios/14_Long_Live_the_Queen.cfg
  data/campaigns/The_Deceivers_Gambit/units/Bandit_Rogue_Mage.cfg
  data/campaigns/The_Deceivers_Gambit/units/Human_Arand.cfg
  data/campaigns/The_Deceivers_Gambit/units/Human_Deoran_Commander.cfg
  data/campaigns/The_Deceivers_Gambit/units/Orcish_Shaman.cfg
  data/campaigns/The_Deceivers_Gambit/utils/spellcasting.cfg
  data/campaigns/The_Deceivers_Gambit/utils/unified_characters.cfg
Labels: Units, Prose, Achievements, Campaign TDG

#9789 Update coordinates for Movrur in THoT S1
  data/campaigns/The_Hammer_of_Thursagan/scenarios/01_At_the_East_Gate.cfg
Labels: Campaign THoT

#9773 lua: expose rich_label link handling mechanism
  src/scripting/lua_widget_attributes.cpp
  utils/emmylua/gui.lua
Labels: UI, Lua API

#9791 TDG: Capitalize Silverback in Unit Description
  data/campaigns/The_Deceivers_Gambit/units/Monster_Silverback.cfg
Labels: Units, Campaign TDG

#9790 EI S09: make frostbite affect wild ogres after they are sighted
  data/campaigns/Eastern_Invasion/scenarios/09_Castle_in_the_Ice.cfg
Labels: Campaign EI

#9774 For translation stats, TSG is now the tutorial
  changelog.md
  changelog_entries/south_guard_is_tutorial.md
  po/CMakeLists.txt
  po/SConscript
  utils/po_stat.py
Labels: Translations, Campaign TSG, Campaign Tutorial

#9782 Expose [fire_event][data] values to WML variable $data, close #8439
  changelog_entries/fire_event.md
  data/lua/wml-tags.lua
  data/test/scenarios/wml_tests/ScenarioWML/EventWML/event_handlers_in_events.cfg
  wml_test_schedule
Labels: Unit Tests, Lua API

#9797 TSG: Improve Translatability
  data/campaigns/The_South_Guard/scenarios/02_Proven_by_the_Sword.cfg
  data/campaigns/The_South_Guard/scenarios/05b_Pebbles_in_the_Flood.cfg
  data/campaigns/The_South_Guard/scenarios/06a_Vengeance.cfg
  data/campaigns/The_South_Guard/utils/sg_help.cfg
Labels: Campaign TSG

#9800 Fix parameter name re #9799
  data/ai/micro_ais/cas/ca_messenger_move.lua
Labels: AI

#9805 Fix [message] with two images.
  src/gui/dialogs/wml_message.cpp
  src/gui/dialogs/wml_message.hpp
Labels: UI

#9806 Unit: remove bar scaling overrides
  changelog.md
  src/units/unit.cpp
  src/units/unit.hpp
Labels: Units

#9808 SotBE: S13: refine map
  data/campaigns/Son_Of_The_Black_Eye/maps/13_The_Dwarvish_Stand.map
Labels: Enhancement, Campaign SotBE

#9476 Fix weapon special int value ever truncated instead to be round to nearest integer.
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/attacks/attacks_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/berserk/berserk_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/damage/damage_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/drains/drains_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heal_on_hit/heal_on_hit_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heals/heal_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/heals/heal_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/illuminates/illuminates_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/leadership/leadership_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/leadership/leadership_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/regenerate/regenerate_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/resistance/resistance_high_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/resistance/resistance_multiply_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/special_calculations.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_max_fraction.cfg
  data/test/scenarios/wml_tests/UnitsWML/AbilitiesWML/swarm/swarm_attacks_min_fraction.cfg
  src/actions/attack.cpp
  src/reports.cpp
  src/units/abilities.cpp
  src/units/abilities.hpp
  src/units/attack_type.hpp
  src/utils/math.hpp
  wml_test_schedule
Labels: Unit Tests, Units

#9437 Fix invalid WFL crashes Wesnoth
  src/formula/formula.cpp
  src/units/filter.cpp
Labels: Units, WFL

#9801 Convert hex to new format, closes #9799
  data/ai/lua/ai_helper.lua
Labels: AI

#9814 advanced prefs: clear list everytime advanced prefs are reloaded.
  src/preferences/preferences.cpp
Labels: UI

#9812 SotBE S7: update map
  data/campaigns/Son_Of_The_Black_Eye/maps/07_The_Desert_of_Death.map
Labels: Enhancement, Campaign SotBE

#9821 tests: call set_main_thread
  src/tests/main.cpp
Labels: Unit Tests
